body
{
	margin:0px;
	font-family:宋体;
	font-size:10pt;
}

/* MenuBar的样式 */
#bdMenu
{
	width:100%;
	height:30px;
	background: url( '../../images/DesinerImg/menuBg.gif');
	background-repeat:repeat;
}
#tbToolBar
{
	height:24px;
}
.menuItem_Over
{
	vertical-align:middle;
	text-align:center;
	border: 1px solid #99BBE8;
	background-color: #F1F4F7;
}
.menuItem_Normal
{
	vertical-align:middle;
	text-align:center;
    border: 1px solid #99BBE8;
    background-color  :Transparent;
}
.menuItem_Down
{
	vertical-align:middle;
	text-align:center;
	border: 1px solid #99BBE8;
	background-color: #BAD0EE;
}

/* 控件栏的样式 */
#tbBoxTitle
{
    background-image:url('../../images/DesinerImg/menuBg.gif'); 
    width:100%;
    height:20px; 
    line-height:25px;
    font-weight:500;
    font-family:宋体;
    padding-left:5px;
    font-size:10pt;
}
.Toolheader
{
	background-color:#DFE8F6;
	height:23px;
	cursor:pointer;
}
.ToolIcon_Exp
{
	width:11px;
	height:12px;
	background: url( '../../images/DesinerImg/collapse.gif');
	background-repeat:no-repeat;
}
.ToolIcon_Col
{
	width:11px;
	height:12px;
	background: url( '../../images/DesinerImg/expand.gif');
	background-repeat:no-repeat;
}
.CtrlImg
{
	 margin-left:20px;
	 width:16px;
     height:16px;
     padding-right:5px;
}
.CtrlItem
{
    padding-top:5px;
    padding-bottom:5px;
    height:22px;
    line-height:22px;
    vertical-align:middle;
    cursor:pointer;
}
.CtrlItem_Over
{
	background-color:#E3EFFF;
}
.CtrlItem_Down
{
	background-color:#BAD0EE;
}

/* 布局栏的样式 */
#dbLayout
{
	font-family:宋体;
	font-size:12pt;
	background-image:url('../../images/DesinerImg/grid.gif');
	border:1px #99BBE8 dotted;
}

/* 属性栏的样式 */
#tbCtrlAttr
{
  width:190px;
  font-family:宋体;
  padding-left:5px;
  font-size:10pt;
  text-align:left;
}
.tdCtrlAttrLeft
{
	padding-left:5px;
	border-top:1px #99BBE8 solid;
	border-left:1px #99BBE8 solid;
	border-right:1px #99BBE8 solid;
	border-bottom:1px #99BBE8 solid;
	height:25px;
}
.tdCtrlAttrRight
{
	padding-left:5px;
	border-top:1px #99BBE8 solid;
	border-bottom:1px #99BBE8 solid;
	border-right:1px #99BBE8 solid;
	height:25px;
}
.numberStyle
{
	width:100px;
}
.selStyle
{
	width:108px;
}
.txtStyle
{
	width:100px;
}
.trCtrlAttr
{
	display:none;
}
.buttonStyle
{
	width:35px;
	height:25px;
	background-color:#99BBE8;
}

