.hideRisBook
{      display:none    }
.view-am
{
	background:#00F5FF
}
.view-pm
{
	background:#9A32CD
}

.test {
	color:green;
  font-weight: bold;
  background-color: LightGreen;
  background-image: none;
}

.btn-turn-on {
  background-color: LightGreen;
  background-image: none;
}