.enterStyle{
 white-space:normal;	
}
.nocheck{
	background:#E3E1E1 ;
	text-align:center;
}

.norate{/*Î´ÆÀ¼Û*/
	color:blue;
	text-align:center;
}
.hdcenter{
	text-align:center;
}
.x-grid-with-col-lines .x-grid3-row td.x-grid3-cell {
 
    vertical-align: middle;
}
.addWidth{
	width:200px;	
}
.x-grid3-cell-inner, .x-grid3-hd-inner {
    line-height: normal;
}