/* 炫彩UI */

.icon:before {
    display: inline-block;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-cancel:before {
    content: "    ";
    white-space:pre;
}

.pha-a-split{
    color: #666;
}
/*炫彩 默认日期宽度*/
.pha-date-def{
    width: 158px;
}