
.grid
{
	padding:0 2px 0 0;
	margin:3px 0 2px 5px;
}

.lbl
{
	width:60px;
	padding:5px;
	text-align:right;
	/*padding-top:auto;*/
	/*vertical-align: middle;*/
	/*margin-top:auto;*/
}

.lblWide
{
	width:120px;
	padding:5px;
	text-align:right;
	
}
.val
{
	width:150px;
}

.valNarrow
{
	width:40px
}

.interval
{
	width:20px;
}

.btn
{
	width:100px;
	/*text-align:center;*/
}

.btnWide
{
	width:160px;
	/*text-align:center;*/
}
.box
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

.bookWin
{
	width:1000px;
	height:600px;
}

.booklist
{
	width:480px;
	/*height:300px;*/
	margin:5px;
}

.autoHeight
{
	height:100%;
}

#examItemTextarea
{
	width:800px;
}

.multitext
{
	height:60px;
	width:380px;
	word-wrap: break-word; 
	word-break: break-all;
}

.week
{
	color:red;
}

.disable
{
	disabled:disabled;
}