body {
  margin:0;
  padding:0;
  font:small "Trebuchet MS",Verdana,Arial,sans-serif;
}
#propertyPiecez1{
	width:100px;
}
#propertyColumnz1{
	width:100px;
}
table { 
	border-collapse: collapse; 	
	font: 12px/150% Verdana, Arial, Helvetica, sans-serif; 
} 
table th { 
	padding: 4px 0px; 
	border: 1px solid #f60; 
	border-width: 2px 1px 1px; 
	background: wheat;
	font-size: 14px; 
}
.bgcolorgreen {
	background-color:lightsalmon;
}
/*tip tool div*/
.tipDiv{
	background-color:darkgray;
}
 /*selected row color*/
tr.RowSelColor{
	BACKGROUND-COLOR: #ffff99;
}

#indexStructTable tr{
	cursor:hand
}
#indexInfoTable tr{
	cursor:hand
}
.greentitle{
	color:green;
}
.MenuSelected{
	background-color:#ffff99;
}