@media screen {
html{
    margin: 0;
    padding: 0;
  }
body {
  overflow: hidden;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}
ol, ul {
    list-style: none;
  }
.main-content, body, html {
    height: 100%;
}
/*去掉整体界面左右上下padding*/
.no-skin {
	padding:0px;
}
#menuPanel .x-btn button ,#menuPanel .easyui-linkbutton,#menuPanel .easyui-menubutton {
	font-size: 14px;
}

#menuPanel .z-menubar {
	color: #ffffff;
	padding: 5px;
	background-color: #2979FF;
}
#menuPanel .m-btn-downarrow {
	background: url('../images/menu_arrows.png') no-repeat 2px center;
}
#menuPanel a.l-btn {
	color: #ffffff;
}
/*mouseover--bg*/
#menuPanel a.m-btn-plain-active,#menuPanel a:hover.l-btn-plain {
	background: #03378F;
	color: #ffffff;
	border: 0px solid #2979FF;
	padding:1px 6px 1px 1px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
#menuPanel .breadcrumb {
	padding: 5px 15px;
	margin-bottom: 0px;
	list-style: none;
	overflow: hidden;
	height: 28px;
	background-color: #e7e7e7;
	border-radius: 4px;
	font-size: 11pt;
}
#menuPanel .breadcrumb .active {
	color: #3c3c3c;
	/*#999999;*/
}
#menuPanel .breadcrumb .unactive {
	color: #3c3c3c;
}
#menuPanel .navbarclass {
color: #3c3c3c;
}
#menuPanel .z-nav-logonuser {
	background: url('../images/logonuser.png') no-repeat;
}
#menuPanel .z-nav-logonuserinfo {
	color: #565656;
	font-weight: bold;
}
  z-submenu.menu-active {
    border-color: #b7d2ff;
    color: #ffffff;
    background: #03378F;
    /*#eaf2ff->#33b5d6; wanghc */
  }
.z-submenu .menu-text {
	font-size: 13px;
}
.navbarhead a {
  color: #ffffff;
}
.centerPanel {
  overflow: hidden;
  background-color: #ffffff;
  position: absolute;
  width:100%;
  margin-top:50px;
}
.navbar-fixed-top {
  border-width: 0px;
}

.navbarhead .navbar {
  min-height: 35px;
  margin-bottom: 0px;
}
.navbarhead .navbar-default {
  color: #333;
  background-color: #017BCE;
}
.navbarhead .navbar-default a.navbar-brand {
  color: #ffffff;
}
.navbarhead .navbar-default a:hover.navbar-brand {
  color: #ffffff;
}
.navbarhead .navbar-default .navbar-brand {
  height: 35px;
  padding-top: 5px;
}
.navbarhead .navbar-default .navbar-nav {

}

.navbarhead .navbar-default .navbar-nav > .active > a {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}
/*登陆科室鼠标颜色*/
.navbarhead .navbar-default .navbar-nav > li > a:hover{
  background-color: #017BCE;
}

.navbarhead .navbar-default .navbar-nav > .clickactive > a {
  color: #000000;
  background-color: #ffffff;
}
.navbarhead .navbar-default .navbar-container .navbar-buttons .navbar-nav {
  margin-right: 5px;
}
.navbarhead .navbar-default .navbar-container .navbar-buttons .navbar-nav li:first > a {
  padding-left: 15px;
  padding-right: 15px;
}
.navbarhead .navbar-default .navbar-container .navbar-buttons .nullMessage {
  padding-bottom: 15px;
}
.navbarhead .navbar-default .navbar-container .navbar-buttons .nullMessage .badge {
  display: none;
  position: relative;
  top: -6px;
  left: -10px;
  line-height: 0.9;
  padding: 3px;
  color: #ffffff;
  background-color: red;
}
.navbarhead .navbar-default .navbar-container .navbar-buttons .hasMessage .badge {
  display: inline-block;
  line-height: 0.9;
  padding: 3px;
  color: #ffffff;
  background-color: red;
}
.navbarhead .navbar-default .navbar-container .navbar-buttons .fontsettings {
  margin-left: 20px;
}
.navbarhead .navbar-default .navbar-container .navbar-buttons .fontsettings span {
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}
.navbarhead .navbar-default .navbar-container .navbar-buttons .userlocinfo {
  display: inline-block;
  zoom: 1;
  font-size: 13px;
  line-height: 15px;
  max-width: 200px;
  margin-top: -6px;
  overflow: hidden;
  vertical-align: top;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbarhead .navbar-default .navbar-container .navbar-buttons .a:hover {
	background-color: #21BA45;
}
.navbarhead .navbar-default .navbar-container .navbar-buttons .userinfo {
  display: block;
}
.navbarhead .navbar-default .navbar-container .navbar-buttons .locinfo {
  float:right;
}
.navbarhead .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    padding: 10px;
    line-height: 30px;
    font-size: 16px;
}

.navbarhead .navbar-default .navbar-nav > .active > a:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
}

.navbarhead .navbar-default .navbar-inner> .navbar-nav > li > a:hover {
  background-color: #0062A7;
  border-color: #ffffff;
  color: #ffffff;
}
/*选中一级菜单样式*/
.navbarhead .navbar-default .navbar-inner> .navbar-nav > li > a:focus {
 	color:#ffffff;
  	background-color: #0062A7;
}


.navbarhead .navbar-default .navbar-nav > .open > a,
.navbarhead .navbar-default .navbar-nav > .open > a:hover {
  color: #ffffff;
  background-color: #0062A7;
}
.navbarhead .navbar-default .navbar-nav > li > a.dhc-icon-th{
    padding: 6px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px #7BC2F2 solid;
    margin-top: 10px;
    background: #3FA2DF;
}
.navbarhead .navbar-default .navbar-nav > li > a.dhc-icon-user{
    border-radius: 15px;
}
.navbarhead .navbar-default .navbar-nav > .open > a.dhc-icon-th,
.navbarhead .navbar-default .navbar-nav > .open > a.dhc-icon-th:hover {
  border: 1px #40a2de solid;
  color:#ffffff;
  background-color: #0063a7;
}

.navbar-toggle {
  margin-top: 4px;
  margin-bottom: 4px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: 0px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    color: #333;
    background-color: #fff
}
/*
*下拉菜单样式
*/
.navbar-nav >li >.dropdown-menu, li.dropdown-submenu> ul.dropdown-menu {
	background-color:#FEFEFE;
}
.dropdown-menu > li >a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    color: #333;
    white-space: nowrap;
}

.navbarhead .dropdown-menu > li > a:hover {
    font-size: 14px; /*解决鼠标放上之后菜单字体变小问题*/
    color: #ffffff;
    background-color: #20BB44;
}

.dropdown-menu >li >a:hover, .dropdown-menu > li >a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #FEFEFE;
}

.aboutbody ul>li{
	margin-top:3px;
}
.aboutfooter{
	background-color:#F7F7F7;
	width:458px;
	height:35px;
	position:absolute;
	left: 0px;
	font-size:12px;
	color:#8a8aea; /*#B5B5B5;*/
	padding-left:100px;
	padding-top:5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.panel-body{
	padding:0px;
}
.modal-header{
	padding:8px;
	background-color:#556983;
	color:#ffffff;
}
.close,.close:hover{
	color:#ffffff;
	opacity:0.8;
}
.rightMainMenu{
	height:50px;
}
.navbar-container a:focus{
	outline:none;
}
.no-border {
    border-width: 0;
}
.nav nav-tabs {
	margin:0px !important;
}
.nav-tabs {
    background-color: #F2F2F2;
    margin-bottom: 0!important;
	padding: 0;
    border-bottom: 1px solid #CDCDCD;
}
.nav-tabs > li >a {
	font-size: 14px; /*解决鼠标放上之后菜单字体变小问题*/
	height: 30px;
    padding: 2px 12px 5px;
	background-color: #F2F2F2;
	border-right :1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	border-radius: 0px;
	margin-right:0;
	outline: none;  /*选择页签没有边框*/
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-bottom: 3px solid #40a2de;
    background-color: #f2f2f2;
}


/********列表样式*******/
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
  margin-right: 1px;
}
.sidebar-menu > li .badge {
  margin-top: 3px;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left,
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
}
.sidebar-menu li.active > a > .fa-angle-left,
.sidebar-menu li.active > a > .pull-right-container > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar-menu li.active > .treeview-menu {
  display: block;
}
.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}
.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 20px;
}
.sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-down,
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
  width: auto;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:hover{
    color: #fff;
    background-color: #20BB44;
}


}


























