.hideRisBook{
	display:none
}
.view-am
{
	background:#00F5FF
}
.view-pm
{
	background:#9A32CD
}

.risBtn{
	height:30;
	width:100;
}

.btnBook button
{
	color:red;
	font-size:12pt;  
    font-weight:bold;
}

.btn-turn-on {
  /*background-color: LightGreen;*/
  background-image:none;

}

.btn-ris-find{
	background-image: url(../../../images/uiimages/search.png);
}

.btn-ris-clearscreen{
	background-image : url(../../../images/uiimages/clearscreen.png);
}

.btn-ris-readcard{
	background-image : url(../../../images/uiimages/readcard.png);
}

.btn-ris-register{
	background-image : url(../../../images/uiimages/register.png);
}

.btn-ris-book{
	background-image : url(../../../images/uiimages/booking.png);
}

.btn-ris-unregister{
	background-image : url(../../../images/uiimages/cancelreg.png);
}

.btn-ris-cancelbook{
	background-image : url(../../../images/uiimages/cancelpencil.png);
}

.btn-ris-list{
	background-image : url(../../../images/uiimages/list.png);
}

.btn-ris-export{
	background-image : url(../../../images/uiimages/moveup.png);
}

.btn-ris-print{
	background-image : url(../../../images/uiimages/print.png);
}

.btn-ris-prview{
	background-image : url(../../../images/uiimages/app.png);
}

.btn-ris-paid{
	background-image : url(../../../images/uiimages/paid.png);
}
/*movedown.png  
	moveup.png
	reload.png
*/

.btn-ris-up{
	background-image : url(../../../images/uiimages/moveup.png);
}

.btn-ris-down{
	background-image : url(../../../images/uiimages/movedown.png);
}

.btn-ris-reload{
	background-image : url(../../../images/uiimages/reload.png);
}
.x-grid-record-red{
   background: #E6D1E3;
}

.x-grid-record-checked{
	background:#99BBE8;
}

