/*
临床路径-路径执行页面样式
*/
#div-north,#StepShow div{
	overflow:hidden;
}
.CPWInfo{
	background-color:#EEEEEE;
	padding:5px;
}
.Icon{
	color:#FFFFFF;
	border-radius:5px;
	padding:0px 5px;
	margin-left:10px;
	cursor:pointer;
}
.Icon-D{
	background-color:#F16E57;
}
.Icon-B{
	background-color:#FD994A;
}
.Icon-T{
	background-color:#619ED1;
	padding: 0 8px;
}
.Icon-Y{
	background-color:#7DB561;
	padding: 0 8px;
}
.Infocontent{
	color:#509DE1;
	margin-right:5px;
}
.Separate{
	margin:0 2px;
	color:#CBCBCB;
}
.CPWStep{
	height:40px;
}
#StepShow{
	width:94%;
	float:left;
	height:100%;
}
#StepMore{
	line-height:40px;
	color:#509DE1;
	cursor:pointer;
	float:right;
	font-size:16px;
}
#StepMoreList{
	width:150px;
	height:400px;
	position:fixed;
	right:5px;
	top:70px;
	display:none;
	background-color:white;
	border:1px solid #509DE1;
	/* padding:10px; */
	z-index:9999;
	overflow: auto;
}
.selectStepMore{
	text-align:center;
	/*margin-top:10px;*/
	padding:5px;
	/* border-radius:5px; */
	cursor:pointer;
	background-color:#EFEFEF;
}
.selectStepMore:hover{
	background-color:#40A2DE;
	color:#FFFFFF;
}
.step{
	font-size:16px;
	width:12%;
	height:100%;
	display: inline-block;
	text-align:center;
	cursor:pointer;
	margin:0 5px;
}
.stepshort{
	line-height:40px;
}
.steppre{
	color:#1FAE40;
}
.steppre+.stepline{
	border-top:4px solid #1FAE40;
}
.stepaft{
	color:#B4B4B4;
}
.stepaft+.stepline{
	border-top:4px solid #B4B4B4;
}
.stepcurr{
	color:#40A2DE;
}
#StepMoreList .stepcurr{
	/* border:1px solid #40A2DE; */
}
#StepMoreList .steppre{
	/* border:1px solid #1FAE40; */
}
.stepline{
	width:8%;
	height:50%;
	border-top:4px solid #B4B4B4;
	display: inline-block;
}
.CPWStepTime{
	/* margin-left:5px; */
}
.selected{
	background-color:#d8efff;
	/* border-radius: 20px; */
}
#footer a{
	margin:0 5px;
}
.CgstepActive{
	background-color:#40A2DE;
	color:#FFFFFF;
}
#CgStepDetail .ItemCatDesc{
	font-weight:bold;
	font-size:16px;
}
ul.timeline{
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}
ul.timeline li{
    float: left;
    width: 180px;
    text-align: center;
    cursor: pointer;
}
ul.timeline li span{
    font-size: 1em;
}
ul.timeline li a{
    text-decoration: none;
}
ul.timeline li.steppre a{
	color:#1FAE40;
}
ul.timeline li.stepaft a{
	color:#B4B4B4;
}

ul.timeline li.stepcurr a{
	color:#40A2DE;
}
ul.timeline li .circle{
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #a2a2a2;
    border-radius: 13px;
    padding: 2.5px;
    box-sizing: border-box;
    margin-top: 5px;
    position: relative;
    z-index: 999;
}
ul.timeline li.on .circle{
    border: 1px solid #F16E57;
}
ul.timeline li .dot{
    display: block;
    width: 10px;
    height: 10px;
    background-color: #a2a2a2;
    border-radius: 5px;
}
ul.timeline li.on .dot{
    background-color: #F16E57;
}
#line{
    width: 720px;
    height: 1px;
    background-color: #999;
    display: block;
    position: relative;
    top: 32px;
    margin-left: 90px;
}
