
/*
门诊临床路径-添加医嘱页面样式
*/
#divO-north,#OStepShow div{
	overflow:hidden;
}
.OCPWInfo{
	background-color:#EEEEEE;
	padding:5px;
}
.OIcon{
	color:#FFFFFF;
	border-radius:5px;
	padding:0px 5px;
	margin-left:10px;
	cursor:pointer;
}
.OIcon-D{
	background-color:#F16E57;
}
.OIcon-B{
	background-color:#FD994A;
}
.OIcon-T{
	background-color:#619ED1;
	padding: 0 8px;
}
.OIcon-Y{
	background-color:#7DB561;
	padding: 0 8px;
}
.OInfocontent{
	color:#509DE1;
	margin-right:5px;
}
.OSeparate{
	margin:0 2px;
	color:#CBCBCB;
}
.OCPWStep{
	height:60px;
	margin:25px 0 15px 0;
}
#OStepShow{
	width:90%;
	float:left;
	height:100%;
}
#OStepMore{
	line-height:60px;
	color:#509DE1;
	cursor:pointer;
	float:right;
	font-size:18px;
}
#OStepMoreList{
	z-index: 1;
	width:150px;
	position:absolute;
	right:10px;
	top:110px;
	display:none;
	background-color:white;
	border:1px solid #509DE1;
	padding:5px;
}
.OselectStepMore{
	text-align:center;
	margin-top:10px;
	padding:5px;
	border-radius:5px;
	cursor:pointer;
	background-color:#EFEFEF;
}
.OselectStepMore:hover{
	background-color:#40A2DE;
	color:#FFFFFF;
}
.Ostep{
	font-size:18px;
	width:10%;
	height:100%;
	display: inline-block;
	text-align:center;
	cursor:pointer;
}
.Ostepshort{
	line-height:60px;
}
.Osteppre{
	color:#1FAE40;
}
.Osteppre+.Ostepline{
	border-top:2px solid #1FAE40;
}
.Ostepaft{
	color:#B4B4B4;
}
.Ostepaft+.Ostepline{
	border-top:2px solid #B4B4B4;
}
.Ostepcurr{
	color:#40A2DE;
}
.Ostepline{
	width:8%;
	height:50%;
	border-top:2px solid #B4B4B4;
	display: inline-block;
}
.OCPWStepTime{
	margin-left:5px;
	margin-bottom:10px;
}
.selected{
	background-color:#d8efff;
	/* border-radius: 60px; */
}
#OStepMoreList .Ostepcurr{
	border:1px solid #40A2DE;
}
#OStepMoreList .Osteppre{
	border:1px solid #1FAE40;
}
