*{
	padding:0px;
	margin:0px;
}
html,body{
	height:100%;
	overflow: hidden;
	background-color:#ffffff;
	padding:0px;
}
.header{
	background-color:#EEEEEE;
	width:100%;
	padding:5px;
}
.Icon{
	color:#FFFFFF;
	border-radius:5px;
	padding:0px 5px;
	margin-left:10px;
	cursor:pointer;
}
.Icon-D{
	background-color:#F16E57;
}
.Icon-B{
	background-color:#FD994A;
}
.Icon-T{
	background-color:#619ED1;
	padding: 0 8px;
}
.Icon-Y{
	background-color:#7DB561;
	padding: 0 8px;
}
.Infocontent{
	color:#509DE1;
	margin-right:5px;
}
.Separate{
	margin:0 2px;
	color:#CBCBCB;
}
.container{
	height:85%;
	padding:10px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}
.footer{
	height:40px;
	padding-top:5px;
	text-align:center;
}
.epis{
	border:1px solid #CCCCCC;
	border-right:none;
	height:95%;
	width:300px;
	display:inline-block;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
	overflow: auto;
}
.lastepis{
	border-right:1px solid #CCCCCC;
}
.episDesc{
	text-align:center;
	padding:5px;
	border-bottom:1px solid #CCCCCC;
}
.episDate{
	padding:5px;
	border-bottom:1px solid #CCCCCC;
}
.episSign{
	padding:5px;
	border-bottom:1px solid #CCCCCC;
}
.itmtype{
	font-weight: bold;
}
.itmlist{
	padding-left:1em;
}
.optional{
	font-style:italic;
}
.done{
	color:#509DE1;
}
.variat{
	color:#A8A8A8;
}
#btnsign{
	background: #40a2de;
    color: #feffff;
    padding: 2px 5px;
    margin-left: 10px;
    margin-right: 5px;
}
#btncancel{
	background: #ffe9db;
    color: #ff4401;
    padding: 2px 5px;
}