/*
临床路径-添加变异页面样式
*/
#divO-north,#OStepShow div{
	overflow:hidden;
}
.VCPWInfo{
	background-color:#EEEEEE;
	padding:5px;
}
.VInfocontent{
	color:#509DE1;
	margin-right:5px;
}
.VSeparate{
	margin:0 2px;
	color:#CBCBCB;
}