/*wathet 浅蓝色*/
.x-grid-record-font-wathet table{
	color:#8968CD;
}
/*橘红色*/
.x-grid-record-font-hyacinth table{
	color:#EE9A00;
}

/*深红色*/
.x-grid-record-font-peony table{
	color:#A52A2A;
}

/*紫色*/
.x-grid-record-font-purple table{
	color:#9400D3;
}

/*lanse*/
.x-grid-record-font-blue table{
	color:#3A5FCD;
}

.x-grid-recordBak table{
		background:#02F78E;
}

.x-grid-record-redBak table{
	background:#FF0000;
}

.x-grid-record-greenBak table{
	background:#00FF00;
}

.x-grid-record-font-red table{
	color:#FF0000;
}

.x-grid-record-font-green table{
	color:#008B45;
}

/*---------自定义icon end ------*/

.bodyCk{  
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin:0;
  color: #CCCCCC; 
  background-color: #CCCCCC
  bgcolor:#DEDFFF
  overflow:hidden;
  }
.labStyle{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.checked{background-image:url(../img/checked.gif)}   
.unchecked{background-image:url(../img/unchecked.gif)}  




