body,
.mui-content {
	font-family: "microsoft yahei";
	background: white;
}

/* 今天昨天 */
.daySeg {
	/* width: 160px;
	margin: 5px 10px; */
	width: 10rem;
	margin: 0.3125rem 0.625rem;
}

.mui-segmented-control .mui-control-item {
	color: gray;
/* 	line-height: 26px;
	font-size: 14.5px; */
	line-height: 1.625rem;
	font-size: 0.90625rem;
}

.mui-segmented-control .mui-control-item.mui-active {
	background: #358FD6;
}

/* 顶部表头 */
.cate-area {
	display: flex;
/* 	width: calc(100% - 20px);
	margin: 0px 10px; */
	width: calc(100% - 1.25rem);
	margin: 0px 0.625rem;
}

#upperTable {
	border-color: #F0F0F0;
}

#upHead {
	background: #EBF9FF;
	color: #323232;
}

#upHead td {
	color: chocolate;
	height: 30px;
	text-align: center;
	/* font-size: 14.5px; */
	font-size: 0.90625rem;
}

.rf {
	font-weight: 600;
}

.category td {
	text-align: center;
	color: grey;
	/* height: 34px;
	line-height: 15px; */
	height: 2.125rem;
	line-height: 0.9375rem;
}

.cateDesc {
	/* font-size: 14px; */
	font-size: 0.875rem;
}

#upBody {
	text-align: center;
	/* font-size: 15px; */
	font-size: 0.9375rem;
}

.cateName {
	font-weight: 700;
	color: #323232;
	/* font-size: 15px; */
	font-size: 0.9375rem;
}

.timeRange {
	color: gray;
	/* font-size: 12px; */
	font-size: 0.75rem;
}

.category.dhc-active {
	background: #eff4f4;
}

.category.dhc-active td {
	color: #358FD6;
}

/* 交班排序 */
.orderArea {
	float: right;
	/* height: 31px;
	margin-top: 5px; */
	height: 1.9375rem;
	margin-top: 0.3125rem;
}

.zezu {
	display: inline;
}

.label {
	color: #323232;
	float: left;
	/* font-size: 15px;
	line-height: 30px; */
	font-size: 0.9375rem;
	line-height: 1.875rem;
}

.zezuSelect {
	display: inline;
	border: solid 1px lightgray;
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
	float: left;
	color: #017BCE;
	/* width: 120px;
	height: 30px;
	line-height: 30px;
	padding-left: 12px;
	font-size: 15px;
	margin: 0px 0px 0px 10px; */
	width: 7.5rem;
	height: 1.875rem;
	line-height: 1.875rem;
	padding-left: 0.75rem;
	font-size: 0.9375rem;
	margin: 0 0 0 0.625rem;
}

.zezuSelect.iconselect-down:before {
	float: right;
	/* margin-right: 10px; */
	margin-right: 0.625rem;
}
/* 筛选列 */
.itemWrapper {
	position: absolute;
	z-index: 3;
	/* width: 80px;
	top: 206px;
	left: 10px; */
	width: 5rem;
	top: 12.875rem;
	left: 0.625rem;
}
.nightMode .itemWrapper{
	border-color: dimgray;
}

.itemWrapper .shiftItem{
	width: 100%;
	color: #515151;
	height: 2.5rem;
	overflow: hidden;
	word-break: keep-all;
	text-align: center;
	/* height: 40px;
	font-size: 14.5px;
	padding: 10px 0px; */
	height: 2.75rem;
	font-size: 0.90625rem;
	padding: 0.625rem 0;
	border-bottom: 1px dashed #fff;
}
.itemWrapper .shiftItem.dhc-active{
	background-color: #358FD6;
	color: #fff;
	/* font-size: 14.5px; */
	font-size: 0.90625rem;
	border: none;
}
.nightMode .itemWrapper .shiftItem{
	background-color: #404848;
	border: none;
}

.orderSeg {
	float: right;
	display: inline;
	border: 1px lightgrey solid;
	border-bottom: gainsboro 1px solid;
	border-radius: 0px;
	/* width: 280px;
	margin: 0px 10px; */
	width: 17.5rem;
	margin: 0 0.625rem;
}

.orderSeg.mui-segmented-control .mui-control-item {
	color: gray;
	border-color: #F0F0F0;
	/* line-height: 30px;
	font-size: 14px; */
	line-height: 1.875rem;
	font-size: 0.875rem;
}

.orderSeg.mui-segmented-control .mui-control-item.mui-active {
	color: #017BCE;
	background: none;
	border-bottom: #0062CC 1px solid;
	/* font-size: 15px;
	line-height: 28px; */
	font-size: 0.9375rem;
	line-height: 1.75rem;
}

/* 责组任务弹出 */
.mui-scroll.mui-scroll-iPhone {
	padding-bottom: 0px;
	background-color: #EBF9FF;
}

.zezuPopover {
	position: absolute;
	border-radius: 0px;
	/* right: 300px;
	width: 120px;
	height: 200px; */
	right: 18.75rem;
	width: 7.5rem;
	height: 12.5rem;
}

.mui-popover .mui-scroll-wrapper{
	border-radius: 0px;
	margin: 0px;
}

.zezuPopover .mui-table-view {
	background: white;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
}
.zezuPopover .mui-table-view-cell{
	padding: 0px 10px;
}
.zezuPopover .mui-table-view-cell.dhc-active {
	color: white;
	background-color: #017BCE;
}
.zezuPopover .mui-table-view li {
	border-bottom: 1px lightgray solid;
	/* font-size: 15px;
	height: 40px; */
	font-size: 0.9375rem;
	height: 2.5rem;
	line-height: 2.5rem;
}

.zezuPopover .mui-table-view li::after {
	height: 0;
}

.mui-popover .mui-table-view .mui-table-view-cell:first-child,
.mui-popover .mui-table-view .mui-table-view-cell:first-child>a:not(.mui-btn), 
.mui-popover .mui-table-view .mui-table-view-cell:last-child,
.mui-popover .mui-table-view .mui-table-view-cell:last-child>a:not(.mui-btn) {
	border-radius: 0px;
}

.mui-backdrop {
	background-color: rgba(0, 0, 0, 0);
}
/* end */

#fixedTable {
	position: relative;
	color: #FF5053;
	font-weight: bold;
	color: #313838;
	z-index: 2;
	/* width: calc(100% - 20px - 88px);
	height: 40px;
	left: 99px;
	font-size: 14.5px; */
	width: calc(100% - 6.75rem);
	height: 2.5rem;
	left: 6.1875rem;
	font-size: 0.90625rem;
	border: none;
}

#workTable {
	width: 100%;
	background: #eff4f4;
	color: #FF5053;
	font-weight: bold;
	color: #313838;
	border-left: none;
	/* font-size: 14.5px; */
	font-size: 0.90625rem;
}

#workNull {
	/* top: calc(30% - 70px); */
	top: calc(30% - 4.375rem);
}

.wrapper {
	border-top: none;
	/* left: 99px;
	top: 274px;
	width: calc(100% - 20px - 88px); */
	left: 6.1875rem;
	top: 17.125rem;
	width: calc(100% - 6.75rem);
}

.red {
	color: red;
}
#workHead{
	border-color: lightgray;
}

thead th {
	font-weight: 400;
	color: chocolate;
	background: #EBF9FF;
	/* line-height: 20px;
	padding: 1px 5px;
	font-size: 14.5px; */
	line-height: 1.25rem;
	padding: 0.0625rem 0.3125rem;
	font-size: 0.90625rem;
	border: none;
}

th:last-child {
	border-right: none;
}
#workBody tr {
	border-bottom: dashed 1px #DDDDDD;
	/* height: 40px; */
	height: 2.5rem;
}
#workBody tr:nth-child(2n) td {
    background: #FAFAFA;
}
.nightMode #workBody tr:nth-child(2n) td {
    background: #404848;
}
.nightMode #workBody tr {
	border-color: gray;
}
#workBody td {
	font-weight: 400;
	word-break: break-all;
	color: dimgray;
	/* line-height: 20px;
	font-size: 14.5px;
	padding: 5px; */
	line-height: 1.25rem;
	font-size: 0.90625rem;
	padding: 0.3125rem;
}
.nightMode #workBody td {
	border-color: darkgray;
}

#workBody td:first-child {
	border-left: none;
}

#workBody {
	color: #323232;
	width: 100%;
	background: white;
}

th.content {
	text-align: center;
}

/**********夜间模式**********/
body.nightMode,
.nightMode .mui-content {
	background: #313838;
}

.nightMode .category,
.nightMode #workBody {
	background: #404848;
	border-color: darkgray;
}

.nightMode .category{
	border-color: gray;
	background: #404848;
}

.nightMode .category.dhc-active{
	background-color: #404848;
	color: whitesmoke;
}

.nightMode #headT {
	background: #313838;
}

.nightMode #upHead {
	background: #313838;
}

.nightMode #upHead td {
	color: chocolate;
}

.nightMode td,
.nightMode th,
.nightMode #workBody td {
	color: lightgray;
	border-color: gray;
}

/* .nightMode .wrapper tr:nth-child(2n) {
	background: #313838;
} */

.nightMode .category.dhc-active td {
	color: cornflowerblue;
}

.nightMode .category.timeRange {
	color: cornflowerblue;
}

.nightMode .category.dhc-active .timeRange {
	color: #DCDCDC;
}

.nightMode .content.red {
	color: red;
}

.nightMode #upBody td {
	color: grey;
}

.nightMode #upBody .dhc-active td {
	color: #DCDCDC;
}
.nightMode #workHead tr{
	background: #313838;
}
.nightMode #workHead tr th{
	color: chocolate;
	background: #313838;
}
.nightMode .mui-segmented-control .mui-control-item{
	color: #DCDCDC;
	background: #404848;
	border-left-color: #4682B4;
}
.nightMode .itemWrapper{
	background: #404848;
}
.nightMode .itemWrapper .shiftItem{
	color: #4682B4;
	border-color: lightgray;
}
.nightMode .mui-segmented-control .mui-control-item.mui-active{
	color: whitesmoke;
	background: #4682B4;
}
.nightMode .orderSeg{
	border-color: darkgray;
}
.nightMode .orderSeg.mui-segmented-control .mui-control-item{
	border-left-color: darkgray;
}
.nightMode .orderSeg.mui-segmented-control .mui-control-item.mui-active{
	border-color: #4682B4;
}

.nightMode .daySeg{
	border-color: lightgray;
}

.nightMode .label, .nightMode .zezuSelect{
	color: #DCDCDC;
	border-color: darkgray;
}
.nightMode .itemWrapper .shiftItem.dhc-active{
	background: #358FD6;
	color: #fff;
}

.nightMode .zezuPopover .mui-table-view-cell.dhc-active{
	background: #4682B4;
}
.nightMode .zezuPopover .mui-table-view-cell{
	background: #313838;
	color: lightgray;
}
.nightMode .zezuPopover .mui-scroll-wrapper{
	background: #313838;
	border: solid gray 1px;
}

/**旧版交班表头**/
.category.horizonClass{
	border:solid 1px lightgray;
	margin-right:10px;
}
.category.horizonClass:last-child{
	margin-right:0px;
}
.cate-title{
	padding: 0 0.5rem;
	border-bottom: lightgray dashed 1px;
	color: #323232;
	height: 1.875rem;
	line-height: 1.875rem;
}
.cate-title.nightSch{
	color: red;
}
.cate-content {
	width: 100%;
	/* height: calc(100% - 30px); */
	height: calc(100% - 1.875rem);
}
.itemArea{
	display: inline-block;
	min-height: 1.25rem;
}
.itemFlex{
	display: flex;
	padding: 5px;
}
.itemName{
	flex: 1;
	font-size: 0.9375rem;
	line-height: 1.25rem;
	color: gray;
	text-align: right;
	padding-right: 0.1875rem;
	overflow: hidden;
	white-space:nowrap;
	word-break:keep-all;
}
.count{
	font-size: 0.9375rem;
	line-height: 1.25rem;
	color: gray;
	font-weight: 600;
	min-width: 1.875rem;
}
.dhc-active .itemName,.dhc-active .count{
	color: #323232;
}
.nightMode .category.horizonClass{
	background: #313838;
	border-color: gray;
}
.nightMode .category.horizonClass.dhc-active{
	/* background: #4682B4; */
	background: #404848;
	border-color: gray;
}
.nightMode .category .cate-title,.nightMode .category .itemName,.nightMode .category .count {
	color: darkgray;
}
.nightMode .cate-title.nightSch{
	color: #CD5B45;
}
.nightMode .category.dhc-active .cate-title,.nightMode .category.dhc-active .itemName,.nightMode .category.dhc-active .count {
	color: lightgray;
}
.nightMode .category.dhc-active .cate-title.nightSch{
	color: #CD5B45;
}

td.center{
	text-align: center;
}
td.left{
	text-align: left;
}
td.right{
	text-align: right;
}