 <div class="container-fluid">
		<div class="report-header" style="margin-top:10px">
		<a class="Info"><img src="../scripts/dhchai/img/baseInfo.png"><span>就诊详细信息</span></a>
	</div>
	<div class="report-content">
		<div class="form-horizontal">
			<div class="form-group form-group-sm">
				<div class="form-group-sm col-sm-12 col-xs-12">
					<div class="form-group-sm col-sm-3 col-xs-3">
			            <label class="col-sm-5 col-xs-5 control-label" for="txtMrNo">病案号：</label>
			            <div class="col-sm-7 col-xs-7">
			                <input id="txtMrNo" type="text" value="" name="txtMrNo" class="form-control" readonly />
			            </div>
		            </div>
		            <div class="form-group-sm col-sm-3 col-xs-3">
			            <label class="col-sm-5 col-xs-5 control-label" for="txtAdmDays">住院天数：</label>
			            <div class="col-sm-7 col-xs-7">
			                <input id="txtAdmDays" type="text" value="" name="txtAdmDays" class="form-control" readonly />
			            </div>
		            </div>
					<div class="form-group-sm col-sm-3 col-xs-3">
						<label class="col-sm-5 col-xs-5 control-label" for="txtAdmTimes">住院次数：</label>
			            <div class="col-sm-7 col-xs-7">
			                <input id="txtAdmTimes" type="text" value="" name="txtAdmTimes" class="form-control" readonly/>
			            </div>
			        </div>
					<div class="form-group-sm col-sm-3 col-xs-3">
						<label class="col-sm-5 col-xs-5 control-label" for="txtAdmitDiag">入院诊断：</label>
			            <div class="col-sm-7 col-xs-7">
			                <input id="txtAdmitDiag" type="text" value="" name="txtAdmitDiag" class="form-control txt-overflow" readonly/>
			            </div>
			        </div>
			        
				</div>
			</div>
			<div class="form-group form-group-sm last">
				<div class="form-group-sm col-sm-12 col-xs-12">
					<div class="form-group-sm col-sm-3 col-xs-3">
						<label class="col-sm-5 col-xs-5 control-label" for="txtMainDiag">主要诊断：</label>
			            <div class="col-sm-7 col-xs-7">
			                <input id="txtMainDiag" type="text" value = "" name="txtMainDiag" class="form-control txt-overflow" readonly />
			            </div>
			        </div>
			        <div class="form-group-sm col-sm-3 col-xs-3">
						<label class="col-sm-5 col-xs-5 control-label" for="txtOtherDiag">其他诊断：</label>
			            <div class="col-sm-7 col-xs-7">
			                <input id="txtOtherDiag" type="text" value = "" name="txtOtherDiag" class="form-control txt-overflow" readonly />
			            </div>
			        </div>
			        <div class="form-group-sm col-sm-3 col-xs-3">
						<label class="col-sm-5 col-xs-5 control-label" for="txtDeathDate">死亡日期：</label>
			            <div class="col-sm-7 col-xs-7">
			                <input id="txtDeathDate" type="text" value = "" name="txtDeathDate" class="form-control" readonly />
			            </div>
			        </div>
			        <div class="form-group-sm col-sm-3 col-xs-3">
						<label class="col-sm-5 col-xs-5 control-label" for="txtDeathTime">死亡时间：</label>
			            <div class="col-sm-7 col-xs-7">
			                <input id="txtDeathTime" type="text" value = "" name="txtDeathTime" class="form-control" readonly />
			            </div>
			        </div>
				</div>
			</div>
		</div>
	</div>
		<div class="col-sm-12 col-xs-12" id="divCenter" style="padding:0px">
		<div class="page-header">
			<h1>就诊记录</h1>
		</div>
		<div class="tab-content">
			<table id="gridAdmHistory" class="table table-striped table-bordered" cellspacing="0" style="white-space: nowrap;" width="100%">
				<thead>
					<tr>
						<th>登记号</th>
						<!-- <th>病案号</th> -->
						<th>姓名</th>
						<th>性别</th>
						<th>年龄</th>
						<th>身份证号码</th>
						<!-- <th>就诊类型</th> -->
						<th>入院日期</th>
						<th>入院时间</th>
						<th>科室</th>
						<th>病区</th>
						<th>出院诊断</th>
						<th>出院日期</th>
						<th>出院时间</th>
						<th>出院科室</th>
						<th>出院病区</th>
<!-- 						<th>死亡标志</th>
						<th>死亡日期</th>
						<th>死亡时间</th>
						<th>现住址</th>
						<th>工作单位</th>
						<th>联系人</th>
						<th>联系人电话</th> -->
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>