.el-form-item {
    margin-bottom: 6px;
    text-align: left !important;
}
.el-form-item__error {
    /* color: #ff4949; */
    top: 80%;
}
.el-form-item.is-required .el-form-item__label::before{
    content: '*';
    color: #ff4949;
    margin: 0px;
}
.el-form-item__label{
    font-size: 14px;
    padding-right: 10px;
    color: #000;
}
.el-form--inline .el-form-item {
    display: inline-block;
    margin-right: 10px;
}
.el-form-item__content{
    font-size:0;
}
.el-input__inner {
    padding: 0px 4px;
    border:1px solid #9ED2F2 !important;
    height:30px;
    line-height: 30px;
    border-radius: 2px;
    color:#000;
    font-size: 14px;
}

.el-input input::-webkit-input-placeholder { 
    color: #999999; 
    font-size:14px;
} 
.el-input input::-moz-input-placeholder { 
    color: #999999;
    font-size:14px; 
} 
.el-input input::-ms-input-placeholder { 
    color:#999999;
    font-size:14px;
}
.el-textarea__inner::-webkit-input-placeholder{
    color: #999;
    font-size: 14px;
}
.el-textarea__inner::-moz-input-placeholder { 
    color: #999999;
    font-size:14px; 
} 
.el-textarea__inner::-ms-input-placeholder { 
    color:#999999;
    font-size:14px; 
}
/* 输入框、选择框默认mini宽度150px */
.el-input--mini .el-input__icon{
    line-height: 30px ;
    height:30px;
}
.el-input--mini .el-input__inner{
    height:30px;
    line-height: 30px;
}
.el-range-editor--mini.el-input__inner{
    height:30px;
    line-height: 30px;
    vertical-align: middle;
}
.el-range-editor--mini .el-range-input{
    font-size: 14px;
    color: #000;
    flex:1;
}
/* .el-range-editor .el-input__icon.el-range__close-icon.el-icon-circle-close::before{
    content: '\E78D';
} */
.el-range-editor .el-range-separator{
    font-size: 14px;
}
.el-input-number--mini{
    line-height: 30px;
    margin-top: 5px;
}
.el-input--mini,.el-date-editor.el-input, .el-date-editor.el-input__inner,.el-input-number--mini,.el-color-picker  {
    width: auto;
}
.el-input.is-disabled .el-input__inner{
    /* border-color: #E4E7ED !important; */
    border-color: #bbb !important;
    background-color: #F7F7F7;
    color: #000;
}
.el-textarea.is-disabled .el-textarea__inner{
    border-color: #bbb !important;
    background-color: #F7F7F7;
    color: #000;
    font-size: 14px;
}
.el-input.is-disabled .el-input__suffix .el-input__suffix-inner .el-input__icon.nm-icon-w-find:before{
    /* color: #919191; */
    -webkit-filter:grayscale(100%);
}
.el-input.is-disabled.el-input--suffix .el-input__suffix-inner .el-select__caret.el-input__icon.el-icon-arrow-up::before{
    -webkit-filter:grayscale(100%);
}
.el-cascader{
    height: 30px;
}
.el-cascader .el-input__icon.el-icon-arrow-down::before{
    content: "\e790";
    transform: rotate(180reg);
    font-size: 16px;
    color: #40A2DE;
}
.el-table__header{
    background-color: #F4F6F5;
}
.el-table thead.is-group th{
    background-color: #F4F6F5;
}
.el-table thead{
    color: #101010;
}
.el-table th{
    background-color: #f4f6f5;
    font-size: 0;
}
.el-table td{
    height: 33px;
    line-height: 2;
    padding:0px;
    border-color: #ddd;
    color:#000;
}
.el-table__expanded-cell[class*=cell]{
    padding:10px 20px;
}
.el-table th,.el-table th.is-leaf{
    height: 32px;
    padding:0px;
    border-color: #ddd;
}
.el-table--border::after, .el-table--group::after, .el-table::before{
    width: 0px;
}
.el-table .cell{
    line-height: 30px;
}
.el-table th>div, .el-table td>div, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
    padding-left: 10px;
    padding-right: 10px;
}
.el-table .cell, .el-table th>.cell {
    padding-left: 10px;
    padding-right: 10px;
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,.el-table__body tr.current-row>td {
    background-color: #ffe48d; /*#ecf5ff,#DDFFDA,#42B983;选中背景色加深点，更容易区分*/
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: #DCF0FF;
}
.el-table__footer-wrapper tbody td{
    color: #000;
}
.el-table .el-table__empty-text{
    display: none;
}
.el-table__fixed-footer-wrapper tbody td,.el-table__footer-wrapper tbody td{
    background-color: #f4f6f5;
}

.el-transfer-panel__empty{
    display: none;
}
.el-collapse-item__header{
    background-color:#F4F6F5;
}
.el-dialog__wrapper{
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}
.el-dialog__wrapper:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.el-dialog{
    border-radius: 4px;
    margin: 0 auto !important;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: normal;
}
/*弹出框*/
.el-dialog__header{
    padding: 0 0 0 20px;
    height:36px;
    line-height: 36px;
    background-color: #556983;
    color:#fff;
    text-align:left;
    border-radius: 3px 3px 0 0;
}
/*关闭按钮居上位置*/
.el-dialog__headerbtn {
    top: 10px !important;
    right:12px;
    height:14px;
    line-height: 14px;
}
.el-dialog__title{
    color:#fff;
    font-size:14px;
}
.dialog-header-title i{
    margin-right: 5px !important;
}
.el-dialog__headerbtn .el-dialog__close{
    color:#fff;
}
.el-dialog__headerbtn .el-dialog__close:hover{
    color:#fff;
    background-color: red;
}
.el-dialog__header button:hover .el-dialog__close{
    color: white;
    /* background-color: red; */
}
.el-dialog__body{
    padding: 10px;
    color: #48576a;
    font-size: 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.el-dialog__footer{
    padding: 6px 20px 10px;
}
/* 弹出框大小 */
.el-dialog_small{
    width: 600px;
}
.el-dialog_list{
    width: 800px;
}
.el-dialog_tiny{
    width: 340px;
}
.el-dialog_tinySmall{
    width: 470px;
}
.el-dialog_fullScreen{
    height: 100%;
    width:100%;
    top:0px;
    margin-bottom: 0;
    z-index: 99999;
}
.el-dialog_fullScreen .el-dialog__body{
    padding: 0px 0px 6px 10px;
}
/*------弹出框--------*/

/*--------日期选择器-----开始*/
.el-date-picker {
    width:auto;
}
.el-date-picker__header {
    margin:0px;
}
.el-date-picker__header .el-date-picker__prev-btn{
    margin-left: 8px;
}
.el-date-picker__header .el-date-picker__next-btn{
    margin-right: 8px;
}
.el-picker-panel__content{
    margin:0px;
}
.el-date-picker .el-picker-panel__content {
    width: 260px;
}
.el-date-table td{
    padding: 0px;
}
.el-date-table th{
    padding: 0px;
}
/*--------日期选择器-----结束*/
/*--------日期-----结束*/
[class^="nm-icon-"],[class*="nm-icon-"]{
    font-family:"nm_iconFont" !important;
    font-size:14px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.el-input-number__increase{
    background-color: unset;
    border: unset !important;
    overflow: hidden;
}
.el-input-number__increase:hover{
    background-color: #EAEAEA;
    /* border-color: #fff; */
}
.el-input-number__decrease{
    background-color: unset;
    border: unset !important;
    overflow: hidden;
}
.el-input-number__decrease:hover{
    background-color: #EAEAEA;
}
.el-input .el-input__inner:hover{
    background-color: #FFE48D;
}
.el-input-number.el-input-number--mini.is-controls-right .el-input-number__increase .el-icon-arrow-up::before{
    font-size:16px;
    content: "\e78f";
    color: #40A2DE;
}
.el-input-number.el-input-number--mini.is-controls-right .el-input-number__decrease .el-icon-arrow-down::before{
    content:"\e790";
    font-size:16px;
    color: #40A2DE;
}
/*提示框*/
.el-message{
    top:50% !important;
    min-width: 150px;
    height: 37px;
    border-radius: 5px;
}
.el-message--warning{
    background-color: #FFF3DD;
    border-color: #F7D199;
}
.el-message--success{
    /* color:#3c763d; */
    background-color:#e2ffde;
    border-color: #aae3a2;
    /* font-size: 14px; */
}
.el-message--info{
    background-color:#E3F7FF;
    border-color: #C0E2F7;
}
.el-message--error{
    background-color:#FFE3E3;
    border-color: #FEC0C0;
}
.el-message--success .el-message__content{
    color:#3C763D;
    font-size: 14px;
    font-weight:700;
    margin-right:10px;
}
.el-message--success .el-message__closeBtn.el-icon-close::before{
    color:#3c763d;
}
.el-message__icon.el-icon-success::before{
    color: #3C763D;
    font-weight:700;
    font-size: 16px;
    content: '\e6cc';
    font-family: 'nm_iconfont' !important;
}
.el-message--warning .el-message__content{
    color:#FF7E00;
    font-size: 14px;
    font-weight:700;
    margin-right:10px;
    /* font-family: 'MicrosoftYaHei-Bold'; */
}
.el-message--warning .el-message__closeBtn.el-icon-close::before{
    color:#ff9900;
}
.el-message__icon.el-icon-warning::before{
    color: #FF7E00;
    font-weight:700;
    font-size: 16px;
    content: '\e6cf';
    font-family: 'nm_iconfont' !important;
}
.el-message--error .el-message__content{
    color:#FF3D2C;
    font-size: 14px;
    font-weight:700;
    margin-right:10px;
}
.el-message--error .el-message__closeBtn.el-icon-close::before{
    color:#ff3d2c;
}
.el-message__icon.el-icon-error::before{
    color: #FF3D2C;
    font-weight:700;
    font-size: 16px;
    content: '\e6ce';
    font-family: 'nm_iconfont' !important;
}
.el-message--info .el-message__content{
    color:#1278B8;
    font-size: 14px;
    font-weight:700;
    margin-right:10px;
}
.el-message--info .el-message__closeBtn.el-icon-close::before{
    color:#1278B8;
}
.el-message__icon.el-icon-info::before{
    color: #1278B8;
    font-weight:700;
    font-size: 16px;
    content: '\e6d1';
    font-family: 'nm_iconfont' !important;
}
.warning_class{
    background-color: #FFF3DD;
    border-color: #F7D199;
}
.success_class{
    /* color:#3c763d; */
    background-color:#e2ffde;
    border-color: #aae3a2;
    /* font-size: 14px; */
}
.info_class{
    background-color:#E3F7FF;
    border-color: #C0E2F7;
}
.error_class{
    background-color:#FFE3E3;
    border-color: #FEC0C0;
}
.el-message-box{
    border: 0px;
    width: 300px;
}
.el-message-box__header {
    position: relative;
    padding: 10px 10px;
    /* height: 37px; */
    background-color: #556983;
    
}
.el-message-box__headerbtn {
    position: absolute;
    top: 6px;
    right: 10px;
}
.el-message-box__title {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}
.el-message-box__headerbtn .el-message-box__close {
    color: #fff;
}
.el-message-box__message{
    margin:10px 0;
    padding-left:0;
    color:#000;
}
.el-message-box__content {
    padding: 10px 10px;
}
.el-message-box__btns {
    padding: 0 0;
    text-align: center;
}
.el-message-box__btns .el-button.el-button--primary{
    height: 30px;
    background-color: #40A2DE;
}
.el-message-box__btns .el-button.el-button--primary:hover{
    background-color: #0063A7;
    border-color: #0063A7;
}
.el-message-box__btns .el-button{
    line-height: 0;
    color: #fff;
    border-radius: 0;
}
.el-message-box__btns .el-button.el-button--default{
    height: 30px;
    background-color: #40A2DE;
    border-color: #40A2DE;
}
.el-message-box__btns .el-button.el-button--default:hover{
    background-color: #0063A7;
    border-color: #0063A7;
}
.el-tabs--border-card>.el-tabs__content {
    padding: 4px;
}
.el-tabs__item{
    height: 30px;
    line-height: 30px;
}
.per_form {
    padding-left: 10px;
    height: 36px;
}
.sys_set_btn{
    height:30px;
    padding-top:7px;
    margin:3px 0 3px 0;
}
.tool-btn{
    margin-left: 4px;
    border: none;
    background-color: #fff;
}
.conditions{
    height: 36px;
    line-height: 36px;
}
.tool-item{
    margin-bottom: 2px;
    font-size: 12px;
}
.hg-item-bottom{
    margin-bottom: 12px;
}

.el-tooltip__popper{max-width:80%}
/* 页签 */
.el-pagination .el-pagination__total {
    margin-right: 0px;
}

.el-pagination .el-select .el-input{
    width: 90px;
}
.el-pagination .el-pagination__jump {
    margin-left: 0px
}
.el-pagination .el-pagination__editor.el-input .el-input__inner {
    height: 24px;
}
.el-pagination .el-pagination__editor.el-input {
    width: 40px;
}
.el-pagination .el-input--mini .el-input__icon,.el-pagination .el-input--mini .el-input__inner {
    line-height: 24px;
    height: 24px;
}
.el-pagination .el-pagination__editor.el-input .el-input__inner {
    height: 22px;
    line-height: 22px;
}
.el-tree{
    color: #000;
}
.el-tree .el-tree-node{
    white-space: normal;
}
.el-tree .el-tree-node .el-tree-node__content{
    min-height: 26px;
    height: auto;
}
.el-slider__marks-text{
    white-space: nowrap;
}
.el-textarea__inner {
    padding: 5px 5px;
    color: #000;
    border-color: #9ED2F2 !important;
    border-radius: 2px;
    font-size: 14px;
}
.el-textarea .el-input__count{
    right: 15px;
}
.el-textarea.el-input--mini{
    margin-top: 3px !important;
}
.el-select__input.is-mini {
    height: 15px;
    line-height: 15px;
}
.el-date-editor .el-input__prefix {
    display: none;
}

.el-date-editor.el-input--prefix .el-input__inner {
    padding-left: 4px;
}

.el-date-editor .el-input__suffix .el-input__suffix-inner .el-input__icon{
    font-family: 'element-icons'!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #40A2DE;
}

.el-date-editor .el-input__suffix .el-input__suffix-inner .el-input__icon::before,.el-icon-date::before{
    font-family: 'nm_iconfont';
    content: "\e65f";
}

.el-date-editor .el-input__suffix .el-input__suffix-inner .el-input__icon.el-icon-circle-close::before{
    font-family: 'element-icons';
    content: "\E78D";
}
.el-date-editor.el-date-editor--time-select .el-input__suffix-inner .el-input__icon::before{
    /* font-family: 'element-icons';
    content: "\E71F"; */
    font-family: 'nm_iconFont' !important;
    content: '\e6c9';
}
.el-date-editor.el-date-editor--time-select .el-input__suffix-inner .el-input__icon.el-icon-circle-close::before{
    font-family: 'element-icons' !important;
    content: '\E78D';
}
.el-date-editor.is-disabled .el-input__suffix .el-input__suffix-inner .el-input__icon::before{
    color: #bbb;
}
.el-tag{
    font-size: 0;
    height: 20px;
    line-height: 20px;
}
.el-tag .el-select__tags-text{
    line-height: 18px;
    height: 18px;
}
.el-tag.el-tag--info.el-tag--mini.el-tag--light .el-tag__close.el-icon-close{
    background-color: unset;
    color: #999;
    right: -5px;
    /* top:-1px; */
    font-size: 14px;
    vertical-align: baseline;
}
.el-tag.el-tag--info.el-tag--mini.el-tag--light .el-tag__close.el-icon-close:hover{
    color: #FF0000;
}
.el-tag.el-tag--info.el-tag--mini.el-tag--light .el-tag__close.el-icon-close::before{
    font-family: 'nm_iconFont' !important;
    content: '\e674';
}
.el-tag.el-tag--info{
    color:#000;
    background-color: #DCEBF9;
}
.el-range__icon{
    display: none;
}
.el-range-editor.el-input__inner{
    padding-left:2px;
}
/* .el-range-editor::after{
    font-family: 'nm_iconfont';
    content: "\e65f";
    color: #40A2DE;
} */
.el-date-editor.el-range-editor .el-input__icon::after{
	font-family: 'nm_iconfont'!important;
    content: "\e65f";
    color: #40A2DE;
    display: initial !important;
}
.el-range-editor.el-input__inner{
    padding:4px 3px;
}
.el-date-editor.el-range-editor .el-input__icon.el-range__close-icon.el-icon-circle-close::after{
	font-family: 'nm_iconfont';
    content: "";
}
.el-date-editor.el-range-editor .el-input__icon{
	font-style: inherit;
    height: 30px;
    line-height: 30px;
}
.el-icon-arrow-right:before{
    font-family: 'nm_iconfont' !important;
    content: '\ec21';
}
.el-icon-arrow-left:before{
    font-family: 'nm_iconfont' !important;
    content: '\ec22';
}
.el-table__expand-icon--expanded{
    transform: rotate(45deg);
}
.el-submenu__icon-arrow.el-icon-arrow-down::before{
    font-family: 'nm_iconfont' !important;
    content: '\e6ae';
    font-size: 14px;
}
/* .el-submenu.is-opened>.el-submenu__title .el-submenu__icon-arrow {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(-45deg);
} */
.el-tabs__nav-prev.is-disabled .el-icon-arrow-left::before,.el-tabs__nav-prev .el-icon-arrow-left::before{
    font-family: 'nm_iconfont' !important;
    content: '\e6b3';
}
.el-tabs--left .el-tabs__nav-wrap.is-left>.el-tabs__nav-prev i{
    transform: rotateZ(0deg);
}
.el-tooltip__popper{
    font-size: 14px;
}
.el-tree-node__expand-icon.expanded{
    transform: rotate(45deg);
}
.el-tree-node__expand-icon.el-icon-caret-right::before{
    color: #56B5F5;
    font-size: 14px!important;
}
.is-leaf.el-tree-node__expand-icon.el-icon-caret-right::before{
    display: none;
    font-size: 14px!important;
}
.el-tree-node__content .expanded.el-tree-node__expand-icon.el-icon-caret-right::before{
    color: #017BCE;
    font-size: 14px!important;
}
.el-tree-node__content:hover {
    background-color: #EAF2FF;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color:#FFE48D; 
}
.el-table .hg-button--text{
    background-color:unset;
    padding:0;
}
.el-table .hg-button--text.hg-button_init:hover{
    background-color: unset;
}
.el-table .hg-button--text .hg-button-icon{
    margin-top: 0;
}
/* .el-table .hg-button--text .hg-button-icon:has(.hg-button-content){
    margin-top: 3px;
} */
.el-transfer__buttons .el-button.el-button--primary.is-disabled.el-transfer__button{
    height: 30px;
    background-color: #bbb;
    border-color: #bbb;
    border-radius: 0;
    padding-top: 7px;
}
.el-transfer__buttons .el-button.el-button--primary.is-disabled.el-transfer__button:hover{
    background-color: #bbb;
    border-color: #bbb;
}
.el-transfer__buttons .el-button.el-button--primary.el-transfer__button{
    height: 30px;
    border-radius: 0;
    padding-top: 7px;
    background-color: #40A2DE;
}
.el-transfer__buttons .el-button.el-button--primary.el-transfer__button:hover{
    background-color: #0063A7;
    border-color: #0063A7;
}
.el-table__expand-icon.el-table__expand-icon--expanded .el-icon-arrow-right::before{
    font-family: 'nm_iconfont' !important;
    font-size: 12px !important;
    content: '\e6c5';
    color: #017BCE;
}
.el-table__expand-icon .el-icon-arrow-right::before{
    font-family: 'nm_iconfont' !important;
    font-size: 12px !important;
    content: '\e6c5';
    color: #56B5F5;
}
.el-transfer-panel{
    border-color: #ccc;
}
.el-transfer-panel .el-transfer-panel__header{
    background-color: #F7F7F7;
    border-color: #ccc;
    height: 36px;
    line-height: 36px;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox{
    line-height: 36px;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label{
    font-size:14px;
    font-weight: bold;
}
.el-checkbox__inner{
    border-radius:0 !important;
    border-color: #9ed2f2;
}
.el-checkbox .el-checkbox__label{
    color: #000 !important;
}
.el-transfer-panel__filter {
    margin: 10px;
}
.el-transfer-panel__filter .el-input__inner{
    border-radius: 2px;
}
.el-transfer-panel__filter.el-input.el-input--small.el-input--prefix .el-input__prefix{
    left:unset;
    right: 1px;
    top:1px
}
.el-transfer-panel__filter.el-input.el-input--small.el-input--prefix .el-input__inner{
    padding-left:10px !important;
    padding-right:30px !important;
}
.el-transfer-panel__filter.el-input.el-input--small.el-input--prefix .el-input__prefix .el-input__icon.el-icon-search::before{
    font-family: 'nm_iconfont' !important;
    color: #40A2DE;
    content:'\e66e'
}
/* .el-transfer-panel__filter.el-input .el-input__suffix .el-input__icon.el-icon-search::after{
    font-family: 'nm_iconfont' !important;
    content: '\e66e';
} */
.el-checkbox-group.el-transfer-panel__list.is-filterable{
    border-top:1px solid #ccc;
}
.el-checkbox__input.is-disabled+span.el-checkbox__label{
    color: #999;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: #fff;
    border-color:#9ED2F2;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color:#40A2DE;
    border-color: #40A2DE;
}
.el-checkbox__input.is-checked .el-checkbox__inner::after{
    border-color: #40A2DE;
}
.el-radio{
    color: #000;
}
.el-radio__input .el-radio__inner{
    border-color: #9ed2f2;
}
.el-radio__input.is-checked .el-radio__inner{
    border-color: #9ed2f2;
    background-color:#ffffff
}
.el-radio__input.is-checked .el-radio__inner::after{
    background-color: #40a2de;
    width:8px;
    height: 8px;
}
.el-radio__label{
    color:#000 !important;
}
/*表格中插入select input 等组件时保留四周为1px  低版本浏览器不支持*/
.el-table td>.cell:has(.el-date-editor,.el-select,.el-input-number){
    padding: 1px 1px !important;
}
.el-select .el-input .el-input__suffix .el-input__suffix-inner .el-select__caret.el-input__icon.el-icon-arrow-up::before{
    content: "\e6d4" !important;
    font-family: 'nm_iconfont' !important;
    color: #40A2DE;
}

/* 解决低版本浏览器不支持has选择器*/
.column-padding td >.cell{
    padding-top:1px;
    padding-bottom:1px;
    padding-right: 1px !important;
    padding-left: 1px !important;
}
.el-input__suffix{
    right: 1px;
    top:1px;
}

.el-input__suffix-inner{
    height: 28px;
    display: inline-block;
    width: 30px !important;
    line-height: 30px !important;
    color: #40A2DE;
}
.el-input__suffix-inner:hover{
    background-color: #EAEAEA;
}
.el-input__prefix{
    height: 30px;
    display: inline-block;
    width: 30px !important;
    line-height: 30px !important;
    color: #40A2DE;
}
.el-input__prefix:hover{
    background-color: #EAEAEA;
}
.el-input__prefix .el-input__icon.el-icon-search{
    line-height: 30px !important;
    height: 30px;
    width: 30px;
}
.el-transfer-panel__filter .el-input__icon{
    margin-left: 2px;
}
.el-progress-bar__inner{
    background-color:#40A2DE;
}
/*覆盖表单设计器的表单组件宽度*/
.form-design-modal .el-input--mini {
    width: 100%;
}
.form-design-model .el-button {
    width: 100%;
}

.form-design-modal .el-form-item__error {
    padding-top: 8px !important;
}
.form-design-modal .el-collapse-item__header{
    background-color: #FFF;
}

.small-padding-dialog .el-dialog__header{
    background: #556983!important;
}
.container-wrapper .el-input--mini{
    width: 100%;
}
.el-menu--vertical{
    left:43px !important;
    background:#fff;
    border:1px solid #509DE1;
    margin-top: -1px;
}
.el-menu--vertical .el-menu--popup {
    padding:0 0;
    box-shadow:none !important;
}
.el-menu--vertical .el-menu--popup-right-start{
    margin: 0 0;
}
.el-menu--vertical .el-menu .el-menu-item.menu-deep-0{
    padding-left: 10px !important;
    height: 35px;
    line-height: 36px;
}
.el-menu--vertical .el-menu .el-menu-item.menu-deep-0:first-child{
    font-weight: normal !important;
    background-color: #e3e3e3 !important;
}
.el-menu--vertical .el-menu .el-menu-item.menu-deep-0:first-child span{
    font-weight: normal;
    background-color: #e3e3e3 !important;
}
.el-menu--vertical .el-menu .el-menu-item.menu-deep-0:not(:first-child){
    padding-left:20px !important;
}
.el-menu--vertical .el-menu .el-menu-item.menu-deep-0:not(:first-child):hover{
    color: #017bce;
    background-color: #d8efff;
}