//west的title字的颜色
.x-panel-header {
    color:#565f6d;
	border:1px solid #abc;    
}

//上tab表头颜色
.x-tab-strip span.x-tab-strip-text {
	color:#565f6d;
}

//tree背景色
.x-panel-noborder .x-panel-body-noborder {
    border-width:0;
    background-color: #efefef;
}

.x-panel-noborder .x-panel-header-noborder {
    border-width:0;
    border-bottom:1px solid #abc;
}


//选中树接点的背景色
.x-tree-node .x-tree-selected{background-color:#B6C4CF;}

//south
.x-layout-collapsed-south{
    height:21px !important;
    left:0px !important;    
    url(../images/slate/southtitle.PNG) no-repeat left 2px;
}


