.x-panel {
    border-style: solid;
    border-color: #abc;
}
.x-panel-header {
    color:#fafafa;
	border:1px solid #abc;
    background-image:url(../images/slate/panel/white-top-bottom.gif);
}

.x-panel-mc .x-panel-body {
    background:transparent;
    border: 0 none;
}

.x-panel-dd-spacer{
	border:2px dashed #89a;
}

/* Tools */

.x-grid-panel .x-panel-mc .x-panel-body {
    border:1px solid #abc;
}

.x-btn-text-icon .x-btn-with-menu .x-btn-center em {
	background:transparent url(../images/slate/toolbar/btn-arrow.gif) no-repeat scroll right 3px;
}
.x-btn-with-menu .x-btn-center em {
	background:transparent url(../images/slate/toolbar/btn-arrow.gif) no-repeat scroll right 0pt;
}
.x-btn-menu-arrow-wrap .x-btn-center button{
	background:transparent url(../images/slate/button/btn-arrow.gif) no-repeat left 3px;
}

.x-layout-collapsed-south{
    background-color:#567;
    border-color:#e0e0e0;
    height:21px !important;
    left:0px !important;
    background:#567 url(../images/slate/southtitle.PNG) no-repeat left 2px;
}