.x-layout-collapsed-south{
    height:21px !important;
    left:0px !important;
    background:url(../images/slate/southtitle.PNG) no-repeat left 2px;
}
//tab页下的间隔细条
.x-tab-panel-header, .x-tab-panel-footer {
	
	background: #6b869f; 
	border-color:#4f657b;
}


.x-tab-panel-header {
	border-color:#abc;
}

.x-tab-panel-footer {
	border-color:#abc;
}

ul.x-tab-strip-top{
	background:#dbdbdb url(../images/slate/tabs/tab-strip-bg.gif) repeat-x left top;
	border-color:#4c647e;
    padding-top: 2px;
}

ul.x-tab-strip-bottom{
	background-image:url(../images/slate/tabs/tab-strip-btm-bg.gif);
	border-color:#566c82;
}

.x-tab-strip span.x-tab-strip-text {
	color:#333;
}
.x-tab-strip-over span.x-tab-strip-text {
	color:#111;
}

.x-tab-strip-active span.x-tab-strip-text {
	color:#fff;
}

.x-tab-strip-disabled .x-tabs-text {
	color:#aaaaaa;
}

.x-tab-strip-top .x-tab-right {
	background-image:url(../images/slate/tabs/tabs-sprite.gif);
}

.x-tab-strip-top .x-tab-left {
	background-image:url(../images/slate/tabs/tabs-sprite.gif);
}
.x-tab-strip-top .x-tab-strip-inner {
	background-image:url(../images/slate/tabs/tabs-sprite.gif);
}

.x-tab-strip-bottom .x-tab-right {
	background-image:url(../images/slate/tabs/tab-btm-inactive-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-left {
	background-image:url(../images/slate/tabs/tab-btm-inactive-left-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
	background-image:url(../images/slate/tabs/tab-btm-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
	background-image:url(../images/slate/tabs/tab-btm-left-bg.gif);
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
	background-image:url(../images/slate/tabs/tab-close.gif);
}
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover{
	background-image:url(../images/slate/tabs/tab-close.gif);
}

.x-tab-panel-body {
    border-color:#abc;
    background:#fff;
}
.x-tab-panel-bbar .x-toolbar {
    border-color: #abc;
}

.x-tab-panel-tbar .x-toolbar {
    border-color: #abc;
}

.x-tab-panel-header-plain .x-tab-strip-spacer {
    border-color:#abc;
	background: #6b869f;
}

.x-tab-scroller-left {
    background-image: url(../images/slate/tabs/scroll-left.gif);
    border-color:#aeaeae;
}
.x-tab-scroller-right {
    background-image: url(../images/slate/tabs/scroll-right.gif);
    border-color:#aeaeae;
}




