
/* 布局的背景色 */
.x-layout-collapsed{
    background-color:#eee;
    border-color:#ccd5ed;
    
}
.x-layout-collapsed-over{
	 background-color:#fbfbfb;
}


.x-layout-collapsed-south{    
    height:21px !important;
    left:0px !important;
    
}

.x-layout-collapsed-north{    
    height:21px !important;
    left:0px !important;
    
}


/* 整体背景色 */
.x-border-layout-ct{background:#f3f3f3;}

/* west的title的字体颜色 */
.x-panel-header {
    color:#565f6d;
	border:1px solid #abc;    
}

.x-panel-body {
    border-color:#d0d0d0;
}

/* tab的title字体颜色 */
.x-tab-strip span.x-tab-strip-text {
	color:#565f6d;
}

/* panel的背景颜色，主要只树的背景颜色 */
.x-panel-noborder .x-panel-body-noborder {
    border-width:0;
    background-color: #efefef;
}
/* panel的边框颜色 */
.x-panel-noborder .x-panel-header-noborder {
    border-width:0;
    border-bottom:1px solid #abc;
}

/* 选择treenode的颜色 */
.x-tree-node .x-tree-selected{background-color:#B6C4CF;}



/* Tabs的相关颜色 */
.x-tab-panel-header, .x-tab-panel-footer {
	background: #EAEAEA;
	border-color:#d0d0d0;
}


.x-tab-panel-header {
	border-color:#d0d0d0;
}

.x-tab-panel-footer {
	border-color:#d0d0d0;
}

.x-tab-panel-body {
    border-color:#d0d0d0;
    background:#fff;
}
.x-tab-panel-bbar .x-toolbar {
    border-color: #d0d0d0;
}

.x-tab-panel-tbar .x-toolbar {
    border-color: #d0d0d0;
}

.x-tab-panel-header-plain .x-tab-strip-spacer {
    border-color:#d0d0d0;
    background: #eaeaea;
}

/* Tabs顶部标签边框颜色 */
ul.x-tab-strip-top{padding-top:0px;background:url(../images/default/tabs/tab-strip-bg.gif) #666 repeat-x bottom;border-bottom:1px solid #666;}
/* Tabs顶部标签和下面部分的间距 */
.x-tab-panel-header{border:0px;padding-bottom:0px;}

/* southTab上面按钮图片*/
.x-tool-maximize {background:url(../../../Pics/customerMax.gif);top:0;width:18px;height:18px;}
.x-tool-gear {background:url(../../../Pics/customerNormal.gif);top:0;width:18px;height:18px;}
.x-tool-collapse-south {background:url(../../../Pics/customerMin.gif);top:0;width:18px;height:18px;}
.x-tool-collapse-north {background:url(../../../Pics/customerMin.gif);top:0;width:18px;height:18px;}

/* border布局中,两个区域的中间条的颜色 */
.x-layout-split{background-color:cedfeb}

/* tree的图标和字体 */
.tree-save
{
	font-weight: normal;
}
.tree-unsave
{
	font-weight: normal;
}
.tree-commit
{
	font-weight: normal;
}
.tree-uncommit
{
	font-weight: normal;
}

.x-tree-node-collapsed .x-tree-node-icon,.x-tree-node-expanded .x-tree-node-icon,.x-tree-node-leaf .x-tree-node-icon{border:0 none;height:16px;margin:0;padding:0;vertical-align:top;width:16px;background-position:center;background-repeat:no-repeat;}


