body {
    background-color: #E4E6E9;
    padding-bottom: 0;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #393939;
    line-height: 1.5;
}
.main-content {
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}
.sidebar-toggle {
	height:34px !important;
}
.nav-tabs {
    top: 0px;
    height:34px !important;
}

.nav-tabs li{
    height:34px;
}

.nav-tabs>li>a {
	font-size: 14px;
    padding: 7px 10px 8px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    height:34px;
}

.nav-tabs>li>a>i{
	margin-left: 10px;
}

.nav-tabs>li>a>i{
	margin-left: 10px;
}

#li_home>a{
	padding: 7px 20px 8px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-left: 20px;
}

#li_home>a>i{
	margin-left: 0px!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #576373;
    border-color: #C5D0DC #C5D0DC transparent;
    border-top: 0px !important;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(76, 143, 189);
    background-color: #FFF;
    z-index: 1;
    line-height: 18px;
    margin-top: 0px;
    box-shadow: 0 -2px 3px 0 rgba(0,0,0,.15);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-bottom-width: 3px;
    border-bottom-color: #509de1;
}