/*!
按钮图标样式
 */
   
.add {
    background-image:url(icons/add.png) !important;
}
.edit {
    background-image:url(icons/edit.png) !important;
}
.remove {
    background-image:url(icons/remove.png) !important;
}
.stop {
    background-image:url(icons/stop.png) !important;
}
.audit {
    background-image:url(icons/audit.png) !important;
}
.cancel_audit {
    background-image:url(icons/cancel_audit.png) !important;
}
.search {
    background-image:url(icons/search.png) !important;
}
.pass_audit {
    background-image:url(icons/pass_audit.png) !important;
}
.no_audit {
    background-image:url(icons/no_audit.png) !important;
}
.submit {
    background-image:url(icons/submit.png) !important;
}
.definite {
    background-image:url(icons/definite.png) !important;
}
.cancel {
    background-image:url(icons/cancel.png) !important;
}
.save {
    background-image:url(icons/save.png) !important;
}
.calculate {
    background-image:url(icons/calculate.png) !important;
}
.issue {
    background-image:url(icons/issue.png) !important;
}

 .cancel_issue {
    background-image:url(icons/cancel_issue.png) !important;
}
.up {
    background-image:url(icons/up.png) !important;
}
.down {
    background-image:url(icons/down.png) !important;
}
.in {
    background-image:url(icons/in.png) !important;
}