BODY INPUT {
    FONT-SIZE: 12px;
    FONT-FAMILY: "Microsoft Yahei", "Tahoma", "Helvetica", "Arial", sans-serif;
    border: 0px solid #b5b8c8;
    height: 14px;
    background-image:none;
    background-repeat: no-repeat;
    background-position: top;
 }