/**
* Ext 提示框样式
* 2016-7-22 cyl
*/
div[class^="x-tip-"]{
	background:none !important;
	padding:0px !important;

}
div[class^="xs"]{
	background:none !important;
}
.x-tip .x-tip-bc {
     height: 0px;
}
.x-tip .x-tip-body {
    font: normal 11px tahoma,arial,helvetica,sans-serif;
    line-height: 16px;
    color: #686565;
    background-color: #F1F1F5 !important;
    border: 1px solid #C0C0C2;

    border-radius: 10px;
    padding: 2px !important;
}
.x-tip .x-tip-tc, .x-tip .x-tip-tl, .x-tip .x-tip-tr, .x-tip .x-tip-bc, .x-tip .x-tip-bl, .x-tip .x-tip-br, .x-tip .x-tip-ml, .x-tip .x-tip-mr {
	background-image: none;
	
}

.x-tip .x-tip-ml{
	background-color: transparent;
}
.x-ie-shadow{
	background-color: transparent;
	}