body{
	background:#F4F4F4;
}
.top{
	width:100%;
	float:left;
	}

.right{
	float:left;
	width:570px;
	}
.right table{
	background:#E0ECFF;
	width:100%;
	}
.right td{
	background:#fafafa;
	color:#444;
	text-align:left;
	padding:2px;
	}
.right td{
	background:#E0ECFF;
	}
.right td.drop{
	background:#fafafa;
	width:100px;
	height:50px;
	}
.right td.over{
	background:#FBEC88;
	}
.item{
	text-align:center;
	border:1px solid #499B33;
	background:#fafafa;
	color:#444;
	width:100px;
	}
.assigned{
	border:1px solid #BC2A4D;
	}
.trash{
	background-color:red;
	}
		