#dgtoolbar a{margin-left:30px;}
.panel-header, .panel-body{border-color:#E3E3E3}
.item-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.item-table td{
	margin:0;padding:0;
	border:1px dotted #ccc;
	padding:5px 3px;
	font-size: 14px;
}
.datagrid-toolbar, .datagrid-pager{background:#fff;}
.tb_td_bk{
	width:100px;
	background:rgb(238, 247, 254);
}
.tb_td_required{
	font-weight:bold;
	/* color: #ffa8a8; */
	color: red;
}
.report_table{
	border-collapse:collapse;
	border:1px solid #95B8E7;
}
.report_table tr.tr td{
	border:1px solid #95B8E7;
	padding:10px 5px;
}
.report_table tr.tr1 td{
	border:1px solid #95B8E7;
	padding:2px 5px;
}
.report_table tr.tr2 td{
	border:1px solid #95B8E7;
	padding:0px;
}
/* ¼æÈÝWebKitºËÐÄºÍIEºËÐÄµÄä¯ÀÀÆ÷ */
.ui-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 25px;
    width:160px;
    padding:2px;
    border:1px solid #95B8E7;
}
.icon-search-white {
  background: url('../../images/adv_search.png');
}
.icon-read-white {
  background: url('../../images/read-white.png');
}
.panel-header, .panel-body {
    border-color: #E3E3E3;
}
label{margin:0px 3px 0px 3px;}
/*.l-btn{margin-left:10px;}*/
.datagrid-cell a{
	margin-left:20px;
}
.div-content{
	border:1px solid #ccc;
	padding:8px 5px;
	min-height:80px;
	max-height:400px;
	overflow-x:hidden;
	text-indent:25px;
	word-break:break-all;/*hxy 2021-07-02*/
	word-wrap:break-word;/*hxy 2021-07-02*/
}
/*
.panel-header {
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
.panel-body.panel-body-noheader {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.layout > .panel > .panel-header {
    border-radius: 4px 4px 0 0;
}
.layout > .panel > .panel-body{
    border-radius: 0 0 4px 4px;
}
.panel-body.panel-body-noheader {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
*/

.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.panel-north{
	position:relative;
	height:114px;/*hxy 2023-02-03 117->*/
	border:1px solid #ccc;
	border-radius: 4px 4px 0px 0px;
}
.panel-center{
	position:absolute;
	top:115px;/*hxy 2023-02-03 118->->*/
	left:0px;
	right:0px;
	bottom:280px;
	border:1px solid #ccc;
	border-radius: 0px 0px 4px 4px;
}
.panel-south{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px; /*10*/
	height:270px; /*260*/
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
/**
 * Ãæ°åÑùÊ½
 */
.list-title{
	position:relative;
	background:#f9f9fa;
	height:35px;
	border-bottom:1px solid #ccc;
	padding-left:30px;
	border-radius: 4px 4px 0px 0px;
}
.list-title label{
	position:absolute;
	/*top:10px;*//*hxy 2023-02-03 ×¢ÊÍ*/
	left:33px;/*hxy 2023-02-03 30->33*/
	/*font-weight:bold;*//*hxy 2023-02-03 ×¢ÊÍ*/
	line-height:35px;/*hxy 2023-02-03*/
}
.list-tools{
	position:absolute;
	top:0px;
	right:30px;
}
.list-icon{
	position:absolute;
	top:9px;
	left:10px;/*hxy 2023-02-03 8px->10px*/
	height:16px;
}
.icon-right {
	margin-top:3px;
	padding-right:32px;
	padding-left:18px;
    background-position: right 12px center !important;
    display: inline-block;
    font-size: 12px;
}
.list-order-item{
	position:absolute;
	top:36px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
}
.dashline-div {
    height: 1px;
    border-top: 1px dashed #ccc;
    clear:both;
	overflow: hidden;
}
.datagrid-row-selected{
	background:#ffe48d !important;
}
#tool .l-btn-text{padding-right:8px}