#dgtoolbar a{margin-left:30px;}
/*.panel-header, .panel-body{border-color:#E3E3E3}hxy 2020-04-30 注释*/
.item-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.item-table td{
	margin:0;padding:0;
	border:1px dotted #ccc;
	padding:5px 3px;
	font-size: 14px;
}
.datagrid-toolbar, .datagrid-pager{background:#fff;}
.tb_td_bk{
	width:100px;
	background:rgb(238, 247, 254);
}
.tb_td_required{
	font-weight:bold;
	/* color: #ffa8a8; */
	color: red;
}
.report_table{
	border-collapse:collapse;
	border:1px solid #95B8E7;
}
.report_table tr.tr td{
	border:1px solid #95B8E7;
	padding:10px 5px;
}
.report_table tr.tr1 td{
	border:1px solid #95B8E7;
	padding:2px 5px;
}
.report_table tr.tr2 td{
	border:1px solid #95B8E7;
	padding:0px;
}
/* 兼容WebKit核心和IE核心的浏览器 */
.ui-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 25px;
    width:160px;
    padding:2px;
    border:1px solid #95B8E7;
}
.icon-search-white {
  background: url('../../images/adv_search.png');
}
.icon-read-white {
  background: url('../../images/read-white.png');
}
/*.panel-header, .panel-body {
    border-color: #E3E3E3;
}hxy 2020-04-30 注释*/
label{margin:0px 3px 0px 3px;}
/*.l-btn{margin-left:15px;}hxy 2020-04-29 */
.datagrid-cell a{
	margin-left:20px;
}
.div-content{
	border:1px solid #ccc;
	padding:8px 5px;
	min-height:80px;
	max-height:400px;
	overflow-x:hidden;
	text-indent:25px;
}
.datagrid-row-selected {
    background: #ffe48d!important;
}