ul li{
	list-style: none;
}
#status-detail li{
	padding: 0 0 0 25px;
	line-height: 80px;
	height: 80px;
	border-left: 1px solid #DCDCDC;
	font-size:13px;
}
#status-detail li:first-child{
	padding-top: 0px;
}
#status-detail li:last-child{
	border-left: 0px !important;
}
#status-detail li .txt{
	position: relative;
	top: -35px;
	height:20px;
	white-space: nowrap;
}
#status-detail li .time{
	position: relative; 
	top: -31px;
	height:20px;
	color: #C0C0C0!important;
}
/*圆形*/
.circle{
	width: 10px;
    height: 10px;
    background:#DCDCDC;
    border-radius: 50px;
    float:left;
    margin-left:-30px;
    margin-top:0px;
}

.playcircle{
	background:	url(../../images/playcircle.gif);
	width:23px;
	height:23px;
	float:left;
	margin-left:-37px;
}

#status-detail li.li_active,#status-detail li.li_comp{
	border-left: 1px solid #48C086;
}

.li_active .txt,.li_comp .txt{
	color:#48C086;
}
.li_active .circle{
	background:#48C086;
	box-shadow: 0px 0px 15px 1px #48C086;
}
.li_comp .circle{
	background:#48C086;
}
.celllabel{ font-family: "微软雅黑";height:25px; padding: 0; margin: 0; line-height: 25px; position:relative;} 
.celllabel h3{font-size: 14px; font-weight: bold;  padding: 0; margin: 0; color:#000}
.celllabel h3 span{font-size:14px;}
.celllabel h4{font-size:14px;color:#000}
/*.datagrid-row-selected{background:#00CCFF;}*//*hxy 2023-02-08 注释*/
.datagrid-toolbar, .datagrid-pager{background:#fff;}
.pf-patimg{float:left;padding:0px 15px 0px 15px;width:30px;line-height:35px}
.pf-patimg img{vertical-align:middle;margin-left:3px}
.pf-patbase {position: relative;float: left;}
.pf-patname {font-size:16px;font-weight:bold;}
.pf-nav {float: left;}
.pf-nav .pf-nav-item{float:left;height:35px;padding:0 5px;}
.pf-nav-title{display:block;margin-top:13px;font-size:14px;text-align:center} /*hxy 2023-01-04 原：margin-top:10px;*/
.i-sep {
    height: 15px;
    width: 0px;
    /*border-right: 1px solid #c3c3c3; hxy 2023-01-04*/ 
    color: #bbb; /*hxy 2023-01-04*/
    transform: rotate(30deg);
    margin-top:0px;
    padding: 0;
}
.btn-toolbar {
    float: left;
    width:100%;
    padding:0;
    margin-bottom: 2px;
}
.btn-group{
    position: relative;
    left:-3px;
    top:-1px;
    display: inline-block;
    vertical-align: middle;
    width:100%;
    /*margin:1px 0px;*/
}

.btn-group>.button:first-child {
    margin-left: 0;
}

.btn-group>.button {
    position: relative;
    float: left;
    border-right:0px solid #fff;
    border-top:0px solid #ccc;
}
.button {
    display: inline-block;
    margin-bottom: 0;
    padding: .3em .3em;
    vertical-align: middle;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
	width:50%;
	color: #444;
    background-color: #E3FFDF;
    border-color: #ABE3A3;
    color:#3C763C;
}
.btn-blue:hover,.btn-blue-select{
    background-color: #FFF3DD;
    border-color: #F8D199;
    color:#FF7E00;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.more-panel{
	display:none;
}

/*修改页面Panel图标*/
/*
.panel-icon, .panel-tool {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    height: 26px;
}

.panel-tool a {
    width: 26px;
    height: 26px;
    margin: 0 0 0 2px;
    vertical-align: top;
}
*/
/*修改页面Panel图标*/
.messager-popover {
    position: absolute;
    border-radius: 5px;
    display: block;
    padding: 6px 15px;
    font-weight: 700;
}
#PatListArea .datagrid-body{
	overflow-x: hidden;
}/*hxy 2023-02-09*/
::-webkit-scrollbar {/*hxy 2023-02-09 st*/
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #D4D4D4;
    border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
    background-color: #F1F1F1;
    border-radius: 4px;
}/*hxy 2023-02-08 ed*/

