.icon-search-white {
  background: url('../../images/adv_search.png');
}
.icon-read-white {
  background: url('../../images/read-white.png');
}
.panel-header, .panel-body {
    border-color: #E3E3E3;
}
label{margin:0px 3px 0px 3px;}