.pf-patimg{float:left;padding:0px 15px 0px 15px;width:30px;line-height:35px}
.pf-patimg img{vertical-align:middle;margin-left:3px}
.pf-patbase {position: relative;float: left;}
.pf-patname {font-size:16px;font-weight:bold;}
.pf-nav {float: left;}
.pf-nav .pf-nav-item{float:left;height:35px;padding:0 5px;}
.pf-nav-title{display:block;margin-top:10px;font-size:14px;text-align:center}
.i-sep {
    height: 15px;
    width: 0px;
    border-right: 1px solid #c3c3c3;
    transform: rotate(30deg);
    margin-top:0px;
    padding: 0;
}
.container{
	margin:0px 10px 5px 10px;
}
.p-toolbar{
	margin-top:5px;
	padding-left:20px;
	height:25px;
}
.ph-title{
	font-size:30px;
	font-weight:900;
	text-align:center;
	margin-bottom:15px;
	font-family:"ו";
}
.p-content1{
	height:auto;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	padding:10px;
}
.p-content{
	height:auto;
	/*
	width:64%;
	*/
	border:1px solid #95B8E7;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding:10px;
}
.m-l-40{
	margin-left:20px;
}
.datagrid-cell a{
	margin-left:20px;
}