body{
	font-family:Arial,"Microsoft Yahei";
	font-size:14px;
	color:#000;
}
/*select 字体居中 hxy 2017-03-23*/
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:27px;
}
/*table字体14px hxy 2017-03-10*/
td{
	font-size:14px!important;
}
/*table的title不再加粗 2017-02-27*/
.th-inner {font-weight:normal}
/*输入框START*/
.input-mini{  
	width:100px;
	height:30px;
	line-height: normal;
	font-size:14px;
	color:#555555;
	border-radius:2px;
	backgroud-color:#FFFFFF;
	border:1px solid #40a2de;
}
/*输入框获得焦点边框样式*/
.input-mini:focus{
	border:1px solid #40A2DE;
}

.inputtip{
	font-size:14px;
	background-color:#999;
}/*输入框END*/

/*本次医嘱的样式--hxy*/
.ordertitle{
	font-size:14px;
}
/*--护士执行页面tab下的横线去掉处理*/
.panel{
	border:none;
}
/*药品状态 hxy 2016-11-30 护士执行页面*/
/*需处理医嘱*/
.td-needdo-order{
	color:#fff;
	background-color:#FFC24B;
}
/*已处理医嘱*/
.td-did-order{
	color:#fff;
	background-color:#16BBA2;
}
/*未收费医嘱*/
.td-nopay-order{
	color:#fff;
	background-color:#0C8EB9;
}
/*皮试医嘱*/
.td-skintest-order{
	color:#fff;
	background-color:#FF6356;
}
/*float-left 左侧浮动*/
.float-left{
	float:left;
}
/*收缩箭头*/
.left-right{
	font-size:18px;
	text-align:center;
	min-height:34px;
	min-width:10px;
	background-color:#eeeeee;
	border-top:1px solid #D3D3D3;
	border-right:1px solid #D3D3D3;
	border-bottom:1px solid #D3D3D3;
	border-radius:0 5px 5px 0;
}
/*浅灰背景色*/
.single-gray{
	background-color:#eee!important;
}
/*日期高度*/
.date-height:{
	height:30px;
}
/*confirm的样式--hxy--start*/
.dhccdialog{
	border-radius:4px;
	min-height:216px;
	min-width:470px;
	max-width:570px;/*2017-02-15*/
	}
.dhccdialog	.bootbox-body{
	font-size:15px;
	min-height:77px;
	}/*2017-02-15*/
.dhccdialogheader{
	color:#fff;
	height:36px;
	padding:8px 0 0 20px;
	border-radius:4px 4px 0px 0px;
	background-color:#556983;
}
.dhccdialogtitle{
	color:#fff;
}
.dhccdialogclose{
	margin:12px 12px 0 0;
	color:#fff;
	width:10px;
	height:10px;
}
.btn-primary{
	min-width:70px!important;
}/*hxy 2017-09-06 alert的按钮宽不够*/
.dhccdialogfooterbutton{/*2017-02-15*/
	margin-right:230px;
	}
.dhccdialogfooterbuttonone{
	margin-left:160px;
}
.dhccdialogfooterbuttontwo{
	margin-right:160px;
}
.dhccdialogclose:hover{
	/*color:#46576d;*/
	color:#fff;
}/*confirm的样式--hxy--end*/

/*input输入框样式,select需要根据实际情况添加样式  demo:
   .select2-container .select2-selection--single .select2-selection__rendered{
	       border:0.12em solid #ABD5EF;
	       height:32px;
	   }                                              */
.inputBorder
{
	width:70%;
	display:inline;
	border:1px solid #40a2de;/*#ABD5EF*/
	font-size:14px;
}
/*搜索按钮样式*/
.searchButton
{
	background-color:#40A2DE;
	color:#FFFFFF;
	border:none;
	width:23px;
	height:24px;
	margin-left:-3px;
	text-align:center;
}
/*新增CSS样式 2016-11-29*/
/*敏字  敏字外层*/
.sensBar{
	background-color:#FF7469;
	border-radius:4px;
	margin-left:-5px;
	width:16px;
	height:16px;
	text-align:center;
}
/*敏字文本*/
.sensText{
	margin-left:-5px;
	margin-top:-3px;
	font-size:14px;
}
/*病人信息间隔符 | */
.patother{
	padding-right:5px;
	padding-left:5px;
}
/*下拉菜单样式设计 nsj 2016-12-2*/
/*下拉菜单边框颜色*/
.select2-container--default .select2-selection--single {
	border: 1px solid #40a2de;
}
/*下拉菜单边框的高度*/
.select2-container .select2-selection--single {
	height: 30px;
}
/*下拉菜单右边背景*/
.select2-container--default .select2-selection--single .select2-selection__arrow {
	width: 30px;
	height: 28px;
    background-color: #40a2de;
}
/*下拉框的图标*/
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	    border-color: #ffffff transparent transparent transparent;	
}
/*时间框 nsj 2016-12-2*/
.input-group .form-control{
	border: 1px solid #40a2de;
 	border-right: 0;
 	width: 90px;
 	height:30px;	
}

.input-group-addon:last-child {
	border: 1px solid #40a2de;
	border-left: 0;
	color: #40a2de;
	height:30px;		
}

table{
	border-bottom: 1px solid #dddddd
}
/*首页按钮区域 首页按钮 hxy 2017-01-12*/
.index-function-button-area{
	height:70px;padding:4px 10px;font-size:14px
}
.index-function-button:hover{
	background:#dcebf9;
}
.index-function-button:active{
	background:#c7ddf2;
}
.index-function-button{
	height:62px;min-width:58px;width:58px;padding:4px;text-align:center;cursor:pointer;float:left
}
.index-function-button-text:hover,.index-function-button-text:active{  /*2017-02-20 add start*/
	color:#40a3de;
}
.index-function-button-text{
	color:#000;
	margin-top:6px;
}
.index-function-button-4{
	height:62px;min-width:58px;width:auto;text-align:center;cursor:pointer;float:left;
	padding:4px 8px;
}
.index-function-button-4 > i,.index-function-button > i{width:28px}
.index-function-button-4:hover{background:#dcebf9;}	
.index-function-button-4:active{background:#c7ddf2;}	               /*2017-02-20 add end*/																/*2017-02-20 add*/
/*3)患者信息区功能按钮 例:转诊 hxy 2017-02-20*/
.pat-info-button{
	width:auto;
	min-width:80px;
	height:30px;
	padding:0 8px;
	background-color:#40a2de;
	font-size:16px;
	text-align:center;	
	/*box-shadow:1px 1px #032c47;	
	opacity:0.27;	*/
}
.pat-info-button:hover,.pat-info-button:active{
	background-color:#0063a7;
}
