*{
	font-size:14px	
}

.opbtn{
	float:left;
	padding-left:10px;/*hxy*/
	padding-right:10px;
	cursor:pointer;
	background-color:transparent;
}

.opbtn-hover {
    padding-left: 10px;
    padding-right: 10px;
}

/*hxy st 2017-11-13 */
.opbtn-hover:hover{/*.opbtn:hover,*/
	background-color:#DCEBF9!important;
}


.top-seatNum{
	width:45%;
}

.floatLeft{
	float:left;	
}

.floatRight{
	float:right;	
}
#lef{
	margin-left:10px;
	margin-right:10px;	
}


#right{
    float: left;
    background-color:#77AAFF;
    border-left: 2px solid #454545;
    width:200px;
    height:640px;
    padding-left: 5px;
}

.alignRight{
	text-align:right	
}

#formTable tr{
	height:45px;	
}
#formTable td{
	padding-left:7px /*hxy 2018-09-17 间距10px*/
}