
body{
-moz-user-select:none;/*火狐*/
-webkit-user-select:none;/*webkit浏览器*/
-ms-user-select:none;/*IE10*/
-khtml-user-select:none;/*早期浏览器*/
user-select:none;
font-family: Arial, "微软雅黑";
	}
table{
  margin-top:-6; 	
}

h4{background-color:transparent}
h3{background-color:transparent}
.top-opbtn{
	width:15%;
}

.opbtn{
	float:left;
	padding-left:10px;/*hxy*/
	padding-right:10px;
	cursor:pointer;
	background-color:transparent;
}

.opbtn-hover {
    padding-left: 10px;
    padding-right: 10px;
}

/*hxy st 2017-11-13 */
.opbtn-hover:hover{/*.opbtn:hover,*/
	background-color:#DCEBF9!important;
}


.top-seatNum{
	width:45%;
}

.floatLeft{
	float:left;	
}

.floatRight{
	float:right;	
}

/*=============================上面=================================*/
#top{
	height: 60px;
	border-bottom: 1px solid #ccc;
}
.panel-body{
		
}
[class=col-xs-1]{
		
}

.itemPerNum{
    border:1px solid #499B33;
    background:#fafafa;
    color:#444;
    width:200px;
}
#useNum,#useall{
    color: #f1524c;
    font-size: 18px;
}

#AllNum{
    color: #333333;
    font-size: 18px;
    
}
/*病床的CSS设置*/
.sickbed{
    overflow:hidden;
    margin:3px;
    padding:1px;
    white-space:nowrap;
    float:left;
    display:inline;  
}

.sickbedBorder{
	border:1px solid #ccc;	
	box-sizing: border-box;
	width: 100%;
    height: 100%;
}

/*病床的CSS设置*/
/*.sickbed:hover {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin: 3px;
    float:left;  
    display:inline;  

   	box-shadow: 2px 2px 5px #226;
   	border-radius:5px;
   	position:relative;
   	
}*/

.sickbed-selected .sickbedBorder{
	background:#87CEEB !important;
    box-sizing: border-box;
}

.sickClick{
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin: 3px;
    float:left;  
    display:inline;  

    border:2  px solid #77AAFF;
   	box-shadow: 2px 2px 5px #226;
   	border-radius:5px;
   	position:relative;
	top:2px;
	left:2px;
	}

/*=============================上面=================================*/
.sickbed .patientSex{
	display:none;
	float:left;
	width:30%;
    height: 25px;
    line-height:25px;
    font-size: 16px;
    color:yellow;
}
.sickbed .patientSex i{
	margin-left:15px;/*hxy 2017-03-23 原30*/
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 5px;
    line-height: 23px;
    color: #3aa2c6;
    border-radius: 20px;
    font-size: 16px;
    background-color: #c4e3ee;	
}

.sickbed .patientNum {
    float: left;
    width: 100%;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    background: #77AAFF;
    text-indent:6px;
}

.sickbed .patientBody span{
	font-size:14px;
	color:#000;
}	
.sickbed .patientBottom{
    background-color:#FFF;
}

/*模态框*/
#wind .modal-dialog{
	width: 450px;
    border-radius: 6px;	
}
#wind .modal-content{
	border-radius: 6px;
}
#wind .modal-content .modal-header{
	background-color:#556983;
	height:40px;
	border-radius: 4px 4px 0px 0px;
}
#wind .modal-content .modal-header h4{
	color:#ffffff;
	line-height:10px;
	font-weight:normal;
}
#wind .modal-content .modal-footer{
	text-align:center;
	border:0;
	margin-top: -22px;	
}	
#wind .modal-content .modal-footer button{
	background-color:#40a2de;
	width: 80px;
    border: 0px;
    height: 30px;
    color: #fff;
    margin-left: 30px;
}	
#seat-tabe span{
	font-weight:normal;
	font-size: 14px;
    color: #999;		
}
#seat-tabe input{
    width: 280px;
    height: 30px;
    border: 1px solid #40a2de;
    font-size: 14px;
    color: #999;
    font-weight: normal;
    padding-left: 5px;
}
#seat-tabe select{
    width: 280px;
    height: 30px;
}
#seat-tabe div{
	margin-bottom: 10px;	
}
/*下拉菜单边框颜色*/
/*.select2-container{
	border: 1px solid #40a2de;
}
/*下拉菜单右边背景*/
/*.select2-container--default .select2-selection--single .select2-selection__arrow {
	width: 30px;
    background-color: #40a2de;
}
/*下拉框的图标*/
/*.select2-container--default .select2-selection--single .select2-selection__arrow b{
	    border-color: #ffffff transparent transparent transparent;	
}*/

/*等待区的CSS设置*/
#right .waitPatient{
    overflow:hidden;
    text-overflow:ellipsis;
    margin-top: 8px;
    padding-left: 2px;
    width:190px;
    height:38px;
    border-radius: 8px;
    border: 1px solid #000000;
}


#seat-tabe{
	font-family: Arial, "微软雅黑";
	font-weight:bold; 
	font-size:14px;
	}
#seat-tabe tr{
	height:20px;
}
/*-----------------时钟-------------------*/
#showNowYear{
	font-size:16px;
	color:#ffffff;
	font-family:Times New Roman;	
}

/*悬浮框*/

/*
.popover.bottom > .arrow{
    position: absolute;
    width: 0px;
    height: 0px;
    line-height: 0px;
    border-bottom: 10px solid rgba(0,0,0,0.8);
    border-left: 10px solid rgba(255, 255, 255, 0.01);
    border-right: 10px solid rgba(255, 255, 255, 0.04);
    top: -10px;
    margin-left: -70px;
    border-top-width: 0;
        }
 */       
.popover.bottom > .arrow{
    border-bottom: 10px solid rgba(0,0,0,0.8);
    border-left: 10px solid rgba(255, 255, 255, 0.01);
    border-right: 10px solid rgba(255, 255, 255, 0.04);
    border-top-width: 0;
}

.popover > .arrow, .popover > .arrow:after{
            border-style: hidden;
        }

.popover{
            background:#000;
            opacity: 0.7;
            border-radius: 10px;

        }
                /*
.popover.bottom {
    position: fixed;
	margin-top: -3px;
}

 */

/*有人，无人*/
#top_btn_no,#top_btn_man,#top_btn_woman,#top_btn_unman{
	margin-top:10px;   
    line-height: 30px;
	text-align:center;
	width:80px;
	height:30px;
	background-color:#BEBEBE;
	margin-left:20px;
	color:#000;
}

#top_btn_no span,#top_btn_man span,#top_btn_woman span,#top_btn_unman span{
    padding-top: 4px;
    padding-left: -30px;
    margin-left: 9px;
}

.tooltip{
	margin-top:-10px;	
}

.pat_man{
	background:url(../../images/obs-man.png) no-repeat;
	background-position:center;
	background-origin: content-box;
}
.pat_woman{
	background:url(../../images/obs-woman.png) no-repeat;
	background-position:center;
	background-origin: content-box;
}
.pat_noman{
	background:url(../../images/obs-noman.png) no-repeat;
	background-position:center;
	background-origin: content-box;
}

.input-label{
    width: 100px;
    font-size:14px;
    text-align: center;	
}

/* 新加布局样式，界面新加等候区 */

.seat-container{
	position:absolute;
	z-index:1;
	left:10px;
	right:10px;
	bottom:0px;
	top:78px;
	border:1px solid #ccc;
}
.left-side{
	position:absolute;
	z-index:1;
	left:0px;
	bottom:0px;
	top:0px;
	width:200px;
	border:1px solid #ccc;
	border-top:0px;
}
.center{
	position:absolute;
	z-index:1;
	left:205px;
	bottom:0px;
	top:0px;
	right:0px;
	border:1px solid #ccc;
	border-top:0px;
	overflow-y:scroll;
}
.dg-waitarea{
	position:absolute;
	z-index:1;
	left:0px;
	bottom:0px;
	top:32px;
	right:0px;
	border-top:0px;
}
.datagrid-row-selected {
    background: #AFEEEE !important;
}
.datagrid-view{
	background:#f9f9f9;
}
.datagrid-cell, .datagrid-cell-group {
    padding: 0 1px;
}
.datagrid-header td, .datagrid-body td,.datagrid-footer td{
	border-style:none;
}
.planPat-Btn{
	margin-left:15px;
}
.proxy{
	z-index:99;
	width:200px;
	display:none;
}
.proxy .patientBody{
	background:#fff;
}
.proxy .celllabel{
	border:1px solid #ccc;
	background:#fff;
}
.pat-text{
	height:20px;
	margin-left:10px;
	display:none
}


.icon-big-plan {
    background: url(../../images/arrangement-small.png) no-repeat center center;
}


.icon-big-infusion {
    background: url(../../images/infusion-small.png) no-repeat center center;
}