         .emerPatient{
            width: 100%;
            height: auto;
        }
        .emerPatient .title .row{
            margin: 0 auto;
            border-bottom: 1px solid #CCCCCC;
            text-align: center;
            height: 88px;
        }
        [class=col-xs-1]{
	        font-size: 14px;
            margin: 4px -42px 0px 0px;
        }
        .emerPatient .left{
            width: 12%;
            height: auto;
            border-right: 1px solid #ccc;
        }
        .emerPatient .left .nav>li{
            text-align: center;
            height: 40px;
        }
        .fl{
            float: left;
        }
        .emerPatient .right{
            width: 82%;
            margin-top: 10px;
            height: 20px;
        }
        .emerPatient .right .right_top{
            border-bottom: 1px solid #CCCCCC;
            padding-bottom: 10px;
            margin-left: 17px;
            height: 73px;
            width: 104%;
        }
        .btn{
            width: 80px;
            font-size: 12px;
            margin-top: -3px;
        }
        .input-group{
            width: 213px;
        }
        .input-group input{
            height: 30px;
        }
        .input-group-addon:first-child{
            border-right: 0;
            border: 0;
            font-size: 12px;
        }
        .left_top .nav{
            background: #f9f9f9;
    		border-radius: 10px;
            margin: 5px;
        }
	
		.fixed-table-container{
			width: 128%;
			margin-left: 10px;	
		}
		#patientListLi{
			display:none;
			list-style:none;
		}	
		#btnpatient{
			margin: 5px 0px 0px -18px;
			color:#ffffff;	
		}
		.color-red{
			background-color:red;
			color:#ffffff;
			}
/*btn所有的*/
#readCardNo i{
    background-color: #378ec4;
    line-height: 32px;
    width: 30px;
    height: 30px;
    margin-top: -23px;
    margin-left: -10px;
}
#readCardNo span,#Find span{
	padding:15px;
}
#myLoc > div > button > span.bs-caret{
	 padding-top: 8px;
	 margin-left: -9px;
}/*号别偏移样式调整 hxy 2017-02-20*/
.btn-primary:hover{
	background-color: #378ec4;	
}
/*时间段*/
/*.input-group .form-control{
	border: 1px solid #40a2de;
 	border-right: 0;
 	width: 90px;;	
}
.input-group-addon:last-child {
	border: 1px solid #40a2de;
	border-left: 0;
	color: #40a2de;		
}*/


/*多选框边框*/
.btn-group>.btn:first-child{
	border: 1px solid #40a2de;	
}
.bs-caret{
	background-color: #40a2de;
	
    padding: 7px;
    padding-left: 24px;
    margin-left: -10px;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
	color:#fff;	
}
.select2-container{
	margin-top: -2px;	
}
/*多选的长度*/
.form-inline .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-group .bootstrap-select.btn-group{
	width:140px;
}
.dropdown-menu:not(.head-list)>li>a:hover{
			border-radius: 5px;
		}
		