
		.btn-danger {background-color: #F16E57 !important;}
		.btn-warning {background-color: #FFB746 !important;}
		.btn-olive {background-color: #2AB66A !important;}
		.btn-success {background-color: #21BA45!important;}
		.l-btn{border:0}
		.pf-sider-search{
			height:30px;
			margin-bottom:5px;
			border:1px solid #40a2de;
			width:191px;
			padding:0;
		}
		
		.input-mini-search {
			position: relative;float: left;
    height: 28px !important;
    min-height: 28px;
	margin-top:0px;
	border:0;
	padding-left:5px;
}
#btn:hover {
	border:0;
}
.pf-sider-menu{
	position:absolute;top:37px;bottom:0px;margin-right:5px;
}
#btn{
	position: relative;float:right;margin-right:0px;height: 30px;width:30px;
    line-height: 30px;
}
.icon-search {
  background: url('../../images/patnosearch.png') no-repeat center center;
}
.badge-orange{background-color: #FD994A;}
.badge-whgreen{background-color: #7DB561;}
.badge-deepred{background-color: #F16E57;}
.badge-liblue{background-color: #6FA4DF;}
.badge-tan{background-color: #CDA427;}
.badge-olive{background-color: #a7bd0d;}
.badge-garnet{background-color: #BA50A2;}
.badge-darkgreen{background-color: #66AF8F;}
.badge-darkred{background-color: #D35454;}
.pf-sider-menu .panel .panel-header .panel-title{
	padding-left:10px;
}