.datagrid {
    border-radius: 4px 4px 4px 4px;
    border-bottom: 1px solid #ccc;
}

.listLiItm{
	background: #EFEFEF;
    width: 120px;
    margin-left: 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    list-style-type: none;
    margin-top:10px;
    cursor: pointer;
}
.listLiItmTwo{
    height: 25px;
    line-height: 25px;
    margin-left: 10px;
    list-style-type: none;
    cursor: pointer;
}

.check{
	background:#40A2DE;
}

.checkTwo{
	color:rgb(55, 142, 196);
}
.epDiv{
	margin-left:5px;	
}

.ppDiv{
	float:left;	
}

.hasBtnDiv{
	text-align:center;	
}

#_HospList+span{max-width:257px}
#_HospList+span >input{max-width:223px}
	