.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.page-east{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:730px;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.page-center{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}