/**
**creator:qqa
**creatDate:2017-10-24
**/
.top{
	width:100%;
	height:11%;
	border-bottom:1px solid #ccc;
	box-sizing:border-box;
	padding-top:0px;/*padding-top:3px;	hxy 2018-07-02*/
	margin-top:-5px;/*hxy 2018-07-02*/
}

.opbtn{
	float:left;
	padding-left:10px;/*hxy*/
	padding-right:10px;
	cursor:pointer;
	background-color:#fff;
	height:55px;
}


.center{
	width:100%;
	height:100%;	
}

.obspanel{
	width:13%;
	float:left;	
}
.obsseat{
	
}
.obsRoom{
	position:absolute;
	z-index:1
}

.seat{
	/*position:relative;
	margin:6px;*/
    overflow:hidden;
    
    white-space:nowrap;
    float:left;
    display:inline;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
	
	
    /*overflow: hidden;
    box-shadow: 0px 0px 6px 1px #ddd;*/
}
.seat:hover{
	transform: scale(1.1);
    z-index:9999;	
}

.seatSexImg{
	position: absolute;
    margin-left: 10px;
    margin-top:5px;
	
}
.seatbodyname table{
	margin-left:55px;	
}

/*床内容部分*/
.seatcontent{
	width:100%;
	height:100%;
}

.seattitle{
	width:100%;
	box-sizing:border-box;
}
.seatbody{
	width:100%;
}
.seatbodyname{
	width:100%;	
	padding-left:2px;/*hxy 2018-09-13 左间距*/
}
.seatbodyicon{
	padding-left: 4px;
    padding-bottom: 4px;
	position: absolute;
    bottom: 0px;
}
.seatbodyicon img{
	width:16px;
	height:16px;
	margin-right:5px;
}
.input-label{
	width:75px;
	text-align:right;
	font-size:14px;	
}

.data-input{
	width:134px;	
}

.accordion .accordion-body{
	overflow: hidden !important;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #A9CBE1; 
    -webkit-box-shadow: inset 0 0 6px #ddd; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}


/*修改easyui的样式*/
/*datagrid 面板颜色*/
.datagrid-view{
	background:#F1F1F1/*#EDEBE9 hxy 2018-06-29*/;
}

.datagrid-header td, .datagrid-body td, .datagrid-footer td{
	border-style:none;
}

/*dhccTabs css*/
a[class="remove"]{
	display:none;	
}
.dhcc-tabs{
	width:100%;
}

.dhcc-tabs-tab {
	display:block;
	list-style-type:none;
	overflow:hidden;
	height:32px;
	background-color:#F8F8F8;
}
.dhcc-tabs-tab li {
	color:#C5C5C5;
	background-color:#F0F0F0;
	float:left;
	display:block;
	padding-left:15px;
	padding-right:15px;
}
.dhcc-tabs-tab li a {
	color:#000;/*#117CCF*/
	text-decoration:none;
}

.dhcc-tabs-tab li.activity-tab a {
	color:#117CCF;
	text-decoration:none;
	font-weight:bold;
}
.dhcc-tabs-tab li a.remove {
	color:#f00;
	margin-left:10px;
}
.dhcc-tabs-content {
	background-color:#FFFFFF;
	margin-left:5px;
	border-left:1px solid #C5C5C5;
	border-right:1px solid #C5C5C5;
	border-bottom:1px solid #C5C5C5;
}

.dhcc-tabs-content iframe{
	display:none;
}

.dhcc-tabs-content .activity-iframe{
	display:block	
}

.dhcc-tabs-tab{
	padding-left:4px;
	background-color:#F0F0F0;
}
.dhcc-tabs-tab li.activity-tab {
	background-color:#FFFFFF !important;
	background:url(../../images/line2.png) repeat-x;
}

#dhcc-tabs-tab li a{
	border-left:1px solid #C5C5C5;
	border-right:1px solid #C5C5C5;
	background-color:#F0F0F0;
	height: 30px; 
	line-height: 30px;
	min-width:75px;
	display:inline-block;
	text-align:center;
	padding:0 5px 0px 5px;
	border-radius:5px 5px 0 0;
	white-space:nowrap;
	}
#dhcc-tabs-tab .activity-tab a{
	background-color:#FFFFFF;
	border-bottom:3px solid red;
}



/*折叠面板样式*/
.dhccAccordion{
	
}
.dhccAccordion-title{
	width: 100%;
	margin-top:5px;
	background-color: #00BD4C;
	line-height: 35px;
	color: #fff;
	text-align: left;
	text-indent: 4px;
}

.dhccAccordion-content{
	display: none;
}

/*hxy st 2017-11-13 */
.opbtn-hover:hover{/*.opbtn:hover,*/
	background-color:#DCEBF9!important;
}
.opbtn-hover{
	padding-left:10px;
	padding-right:10px;
}
.opline{
	float:left;
    width:1px;
    height:55px;
    border-right:1px solid #ccc;
}
#waitArea:before{
    content:url(../../images/obs_time.png);
    position:relative;
	top:2px;
	left:5px;
}
#outHosArea:before{
    content:url(../../images/obs_hospital.png);
    position:relative;
	top:3px;
	left:5px;
}
.pat_man{
	background:url(../../images/obs-man.png) no-repeat;
	background-position:center;
	background-origin: content-box;
}
.pat_woman{
	background:url(../../images/obs-woman.png) no-repeat;
	background-position:center;
	background-origin: content-box;
}
.pat_noman{
	background:url(../../images/obs-noman.png) no-repeat;
	background-position:center;
	background-origin: content-box;
}

.window .window-header .panel-with-icon{
	padding-left:45px;	
}

.datagrid-row-selected {
    background: #509de1 !important;
}

.datagrid-btable{
	width: 100% !important;	
	
}
.datagrid-cell-c1-PatLabel{
	width: 100% !important;	
}

#obsKeptArea .datagrid-body{
	overflow-x:hidden;
}

#disHospTable .datagrid-body{
	overflow-x:hidden;
}

.disBlock{
	display:inline-block;	
}

.saatName{
	display: inline-block;
    width: 56px;
    height:28px;
    text-align: center;
  	overflow:hidden;
  	border-radius:3px 0px 3px 0px;
  	background:#F8F8F8;
  	margin-left:5px;
  	line-height:28px;
}

.patName{
	display: inline-block;
    width: 75px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    overflow:hidden;
    text-overflow: ellipsis;
    margin-left:10px;
}

.obsDate{
	display: inline-block;
	font-size: 14px;
	overflow:hidden;
	float:right;
	margin-right:5px;
}

.panTitleNum{
	margin-left:10px;
    display: inline-block;
    width: 25px;
    height: 16px;
    text-align: center;
    background: #CCF2DB;
    line-height: 16px;
    border-radius: 5px;
    color: black;
    margin-top: 6px;	
}


.showNumberSpan{
	display: inline-block;
    width: 15px;
    line-height: 15px;
    text-align: center;
    background: #fb8484;
    border-radius: 2px;
    color: white;
    font-size: 13px;
    margin-left:5px;
}

.seatcontent.active .seatSelectBorder{
	background:#6b6fc7;
	position:relative;
	top:-50px;
	left:-50px;
	border-top: 100px solid #ccc;
	border-right: 100px solid blueviolet;
	border-bottom: 100px solid #ccc;
	border-left: 100px solid blueviolet;
	box-sizing: border-box;
	animation: rotate 5s linear infinite;
}



.qBar{
	width:150px;
	height:25px;
	float: left;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
	line-height: 22px;
	-moz-user-select:none;
    	-webkit-user-select:none;
   	 user-select:none;
}

.qBarLim{
	font-size: 20px;
	font-weight: 100;
	margin: 0px 10px;
	color:#CCCCCC;
}
.qBarAdd,.qBarSub,.qBarReset{
	cursor: pointer;	
}
.qBarAdd:hover,.qBarSub:hover,.qBarReset:hover{
	color:blue;
	display:inline-block;
	transform: scale(1.2);	
}

.sickbedOpPanel{
	position: absolute;
	top: 80;
	left:20px;
	z-index:2;	
	display:none;
}

.sickbedOpPanel img{
	width:15px;
	height:15px;
	cursor: pointer;
}
.sickbedOpPanel img:hover{
	transform: scale(1.5);
}

.pat_man,.pat_woman,.pat_noman{
	width: 20px;
    display: inline-block;
    margin-right:10px;
}

.obsPatTableTag{
	background: #FFE3E3;
    border-radius: 5px;
    padding: 0px 4px;
    margin:0px 5px;
    color:#FF3D2C;
}

.disPanelItmDiv{
	text-align: center;
    margin-bottom: 10px;	
}

.queryItm{
	cursor:pointer;
	-moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;	
}

.queryItmActive{
	background:#ddd;	
}

/*hxy 2018-06-29 st*/
.panel-body-noheader{border:none!important}
.tabs-panels{border:none}
/*hxy 2018-07-02 st*/
.opbtn-upObsBtn{
	background:url(../../images/arrangement-small.png) no-repeat center center;
}
.opbtn-makeSeatBtn{
	background:url(../../images/obs_mybed.png) no-repeat center center;
}
.icon-big-disHosp{
	background:url(../../images/obs_outhospital.png) no-repeat center center;
}/*ed*/

.icon-big-straps{
	background:url(../../images/wristbandbig.png) no-repeat center center;
}
.bedtdtext{
	white-space:nowrap;
	width:40px;
	text-align: right;
	color:#666666;
}
.bedtable tr td{
	font-size:12px;
}
.bedBody{
	background:#fff;
}
