body{
	font-family:Arial,"Microsoft Yahei";
}
/*页面表格样式*/
.form-table{
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.form-table td{margin:0;padding:0;}
.form-table td{
	border:0px solid #95B8E7;
	padding:5px 3px;
	font-size: 14px;/*13*/
}
/*页面input样式*/
input{
	border:1px solid #95B8E7;
	/* padding:4px 0; */
}
input:focus{background-color:#c1e7ff;}
/*标签样式*/
.input-label{
	width:75px;/*width:90px;hxy 17-02-21*/
	font-size:20px;
	padding-top:9px!important;
	/*background:rgb(238, 247, 254);*/
}
#patpanel .input-pat{
	width:130px;
}
#patpanel .combo{
	width:129px!important;
}
#patpanel .combo-text{
	width:111px!important;
}
/*按钮样式*/
.btn{
	float:right;
	margin-top:5px;
	margin-right:15px;
}
.btn-bottom{
	float:right;
	margin-top:20px;
	margin-right:5px;
}
/*radio样式*/
input[type="radio"]{
	border:none;
}
/* 18号字体*/
.font-18{
	font-size:18px;
}
/*内边距*/
.padding-l25{
	padding-left:25px;
}
.fontsize-14{ font-size:14px!important ;}
/*标题行*/
.item-label{
	padding-top:3px;
	padding-left:5px;
	/*font-family: "宋体";*/
    font-size: 14px;
    /* font-weight: bold; */	
}
/*卡片样式*/
.dis-play{display:inline-block;}
.float-l{ float:left;}
.float-r{ float:right;}
.datagrid-row-selected {background: #d2eafe;}/*hxy2016-12-5*/
/*.datagrid-row-selected {background: #ADFAFC;}*/
/*datagrid内边距*/
.datagrid-cell{
	padding:4px;
}
.pagination-btn-separator {
    float: left;
    border-left: 0px solid #ccc;
    border-right: 0px solid #fff;
    margin: 3px 1px;
}
/*疼痛平分样式表*/
.panel-style{
	padding:10px;
}
.face-regin{
	width:100%;
	/* border:1px solid #13ACF7; */
}
ul,li,i{margin:0px;padding:0px;}
.face-regin ul{list-style:none;}
.face-regin ul li{
	display:inline-block;
	float:left;
	/*  border:1px solid #13ACF7;  */
	width:15.7%;
}
.face-regin ul li div{
	width:100%;
}
.face-regin-one{
	padding-left:22px;
}
.face-regin-title{
	text-align:center;
	margin-top:5px;
}
.face-regin-title span{
	font-size:12px;
	/*font-family:'宋体';*/
}
.face-regin ul li:hover{
	color:#ff7a00;
	cursor:pointer;
}
/* 图标 */
.icon-set{
	background:url('../../images/cog.png') no-repeat center center;
}
.icon-accept{
	background:url('../../images/accept.png') no-repeat center center;
}
.icon-warn{
	background:url('../../images/warning.gif') no-repeat center center;
}
/* 症状字典样式 */
ul,li{margin:0px;padding:0px;}
.item—list ul{list-style:none;overflow:hidden;}
.item—list li{float:left;width:80px;margin-left:3px; color:#000;margin:5px 0 5px 5px; display:inline-block; text-align:left;}
.item—list span{padding:2px 0;display:block;text-align:left;cursor: pointer;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.item—list span:hover{color:#FFFFFF; font-weight:bold;text-decoration:none;background:#5bc7ff;}
/* 确认分诊按钮 */
.but-pad{ background:#39F; border:1px solid #007DFB;}
.pad-twenty{ padding:10px;}
.font-color{ color:#fff;}
.fontsize-18{ font-size:18px;}

.btn-toolbar {
    float: left;
    width:100%;
    padding:0;
    margin-bottom: 2px;
}
.btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width:100%;
}

.btn-group>.button:first-child {
    margin-left: 0;
}

.btn-group>.button {
    position: relative;
    float: left;
    border-right:1px solid #fff;
    border-top:1px solid #fff;
}
/*hxy start*/
.buttonsymptoms {
    display: inline-block;
    margin-bottom: 0;
    padding: .3em .3em;
    vertical-align: middle;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
	color: #444;
    background-color: #fff;
}
.btn-successsymptoms {
	color: #017BCE/*#18bc9c*/;
}
.btn-successsymptoms:hover {
	color: #017BCE/*#13987e*/;  
}
/*hxy end*/
.button {
    display: inline-block;
    margin-bottom: 0;
    padding: .3em .3em;
    vertical-align: middle;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
	width:33.33%;
	color: #444;
    background-color: #e6e6e6;
    border-color: #d9d9d9;
}
.btn-success {
	color: #fff;
    background-color: #18bc9c;
    border-color: #18bc9c;
}
.btn-success:hover {
    background-color: #13987e;
}
.btn-info {
	color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
.btn-info:hover {
    background-color: #2383c4;
}
.btn-warning {
	color: #fff;
    background-color: #f9bf3b;
    border-color: #f9bf3b;
}
.btn-warning:hover {
    background-color: #f39c12;
}
.btn-danger {
	color: #fff;
    background-color: #f22613;
    border-color: #f22613;
}
.btn-danger:hover {
    background-color: #d91e18;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

/* 病人卡片#036bc2 */
.celllabel{ font-family: "微软雅黑";height:50px; color:#666; padding: 0; margin: 0; line-height: 25px;} 
.celllabel h3{color:#000; font-size: 14px; font-weight: normal;  padding: 0; margin: 0;}
.celllabel h3 span{font-size:14px; padding-right:5px;color:#666}
.celllabel h4{font-size:14px;color:#999;padding: 0,margin: 0.3em;-webkit-margin-before: 0.3em;-webkit-margin-after: 0.3em;margin-bottom: 2px;margin-top: 2px;}
.celllabel h4 span{font-size:14px;padding-right:5px;margin: 0;margin-bottom: 2px;margin-top: 2px;}

.panel-11{
	font-family: "微软雅黑";font-size: 1.2em; font-weight: bold;  padding: 0; margin: 0;
}
.word-green-deep{ color:#060!important ;}
.word-deep-gray{ color:#666;}
button{cursor:pointer;}

.side-table{
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.side-table td{margin:0;padding:0;}
.side-table td{
	border:0px solid #95B8E7;
	padding:1px 3px;
	font-size: 14px;/*13*/
}
/*标签样式*/
.input-label-t3{
	width:75px;/*width:90px;hxy 17-02-21*/
	font-size:20px;
	padding-top:3px!important;
	/*background:rgb(238, 247, 254);*/
}
/*--------hxy st-------*/
fieldset{
	border:1px solid #40A2DE;
	/*padding-top:10px;要竖线的话去掉*/
	padding-bottom:10px;/*要竖线的话去掉*/
}
legend {
    padding: 0.5em 0.5em 0.1em 0.7em;
    margin-bottom: 0px;
    border: 0;
    width: auto;
    border-bottom: 1px solid #40A2DE;
    border-radius: 7px;
    font-weight: bold;
}
/*蓝按钮--sm--70*25 hxy 09-21*/
.dhcc-btn-blue-sm{
	height:25px;
	width:70px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#40A2DE;
	border: solid 1px #40A2DE;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-blue-sm:hover{
	background-color:#378EC4;
}
/*绿按钮--sm--70*25*/
.dhcc-btn-green-sm{
	height:25px;
	width:70px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#40C27B;
	border: solid 1px #40C27B;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-green-sm:hover{
	background-color:#1DA362;
}
/*红按钮--sm--70*25 hxy 08-30*/
.dhcc-btn-red-sm{
	height:25px;
	width:70px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#DE5246;
	border: solid 1px #DE5246;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-red-sm:hover{
	background-color:#FB5151;
}

/*蓝按钮--80*30 hxy 09-21*/
.dhcc-btn-blue{
	height:30px;
	width:80px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#40A2DE;
	border: solid 1px #40A2DE;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-blue:hover{
	background-color:#378EC4;
}
/*绿按钮--80*30*/
.dhcc-btn-green{
	height:30px;
	width:80px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#40C27B;
	border: solid 1px #40C27B;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-green:hover{
	background-color:#1DA362;
}
/*黄按钮--80*30 */
.dhcc-btn-yellow{
	font-family:Arial,"Microsoft Yahei";
	cursor:pointer;
	height:30px;
	width:80px;
	background-color:#F4A521;
	color:#FFFFFF;
	border: solid 1px #F4A521;
	border-radius:0px;
}
.dhcc-btn-yellow:hover{
	background-color:#FF9900;
}
/*红按钮--80*30 hxy 08-30*/
.dhcc-btn-red{
	height:30px;
	width:80px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#DE5246;
	border: solid 1px #DE5246;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-red:hover{
	background-color:#FB5151;
}
/*hxy 2018-02-01 改接近hisui蓝色面板 st*/
.layout-panel-west .panel-header{background: linear-gradient(to bottom,#008FF0 0,#008FF0 100%);}
/*.layout-panel-west*/ .panel-header .panel-title{color:#fff;}
.panel-header{background: linear-gradient(to bottom,#40A3DF 0,#40A3DF 100%);}
.panel-header, .panel-body{border-color:#509DE1}
/*.panel-header{background: linear-gradient(to bottom,#F9F9FA 0,#F9F9FA 100%);}
.panel-header, .panel-body{border-color:#CCCCCC} hisui灰色面板*/