/* 极简风格 样式*/

/* REMS 评级 图标隐藏*/
.icon-title-tip{
	display:none;
}
/* RTS评分、ISS评分 模板 panel 标题样式*/
.list-title{
	background:#ffffff !important;
}
.grp-title{
	font-weight:700 !important;
	color:#000000 !important;
}
.list-ul-item:hover{
	background:#E5E5E5;
}
.list-panel{
	border-color:#E2E2E2;
}
.list-title{
	border-bottom:1px solid #E2E2E2;
}
