.sickbed.mancontent,.sickbedContent.mancontent{
	background-image:linear-gradient(180deg,#cfe2f3 0%,#ffffff 29.3%,#ffffff 100%);
	
}
.sickbed.womancontent,.sickbedContent.womancontent{
	background-image:linear-gradient(180deg,#f4cccc 0%,#ffffff 29.3%,#ffffff 100%);
}
.bedName{
	background:0;
}