body{
	background:#fff; /*hxy 2018-10-18 background:#F4F4F4;*/
}
.datagrid-btn-separator{
	margin:0 -1px;
}
.ArrangeBtn,.Transfuse{
	max-width:44px;
}
.top{
	width:100%;
	float:left;
	}
.right{
	float:left;
	width:98%;
	overflow:auto;
	/*width:800px;*/
	}
.right table{
	background:#E0ECFF;
	/*width:100%;*/
	}
.right td{
	min-width:100px;
	width:120px;
	/*max-width:170px;*/
	min-height:44px;/*2016-10-25*/
	max-height:10%;/*2016-10-19 */
	background:#fafafa;
	color:#444;
	text-align:left;
	padding:2px;
	}
.right td{
	background:#E0ECFF;
	}
.right td.drop{
	background:#fafafa;
	width:100px;
	height:40px;
	}
.right td.over{
	background:#FBEC88;
	}
.item{
	text-align:center;
	border:1px solid #ADE3A8;/*hxy 2018-10-22 #499B33*/
	background:#E0FDDD;/*hxy 2018-10-22 #fafafa*/
	color:#39743D;/*hxy 2018-10-22 #444*/
	width:126px;/*hxy 2018-10-22 100px*/
	height:28px;/*hxy 2018-10-22 40px*/
	line-height:26px;/*hxy 2018-10-22 35px*/ 
	font-size:14px!important;/*2017-03-08*/
	}
.assigned{
	border:1px solid #BC2A4D;
	}
.trash{
	background-color:red;
	}
	
	
/*add*/	
.dragitem{
	/*background-color:#77AAFF; hxy 2018-10-18*/
}
.dragitem .person{
	min-height:25px;/*hxy 20px 2018-10-18*/
	margin-top:0px;
	padding:1px 2px 0 3px;
    height: 25px;/*hxy 20px 2018-10-18*/
    float: left;
    font-size: 13px;
    line-height:22px;
    /*border-bottom: 1px solid #C1DA82;* hxy 2018-10-18*/
    border-right: 1px solid #C1DA82;
    color:#fff;/*hxy 2018-10-18*/
}
.dragitem .bednum{
	min-height:25px;/*hxy 20px 2018-10-18*/
	margin-top:0px;
	padding:1px 0 0 0;
    height: 25px;/*hxy 20px 2018-10-18*/
    font-size: 14px;
    color:#fff;/*#0C1E40; hxy 2018-10-18*/
    line-height:22px;
    /*border-bottom: 1px solid #C1DA82;hxy 2018-10-18*/
    background: #3C9DD3;/*hxy 2018-10-18*/
    padding-left:4px;/*hxy 2018-10-18*/
}

.dragitem .patBody{
    height: 33px;
    /*border-bottom: 1px solid #C1DA82;hxy 2018-10-18*/
    border:1px solid #CBCBCB;/*hxy 2018-10-18*/
    border-top:0px;/*hxy 2018-10-18*/
    background:#fff;/*hxy 2018-10-18*/
}
.l-btn-text,td{
	/*font-size:12px!important;*/
}/*hxy 2017-03-08 */

#hiddenBtn span.l-btn-text{padding-right:5px}/*hxy 2018-10-29 UI组让间距20px*/	