.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.timeaxis-center{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	border-radius: 4px 4px 4px 4px;
}
/**
 * 面板样式
 */
.list-title{
	position:relative;
	background:#f9f9fa;
	height:35px;
	border-bottom:1px solid #ccc;
	padding-left:30px;
	border-radius: 4px 4px 0px 0px;
}
.list-title label{
	position:absolute;
	top:10px;
	left:30px;
}
.list-tools{
	position:absolute;
	top:0px;
	right:30px;
}
.list-icon{
	position:absolute;
	top:9px;
	left:8px;
	height:16px;
}
.icon-right {
	margin-top:3px;
	padding-right:32px;
	padding-left:18px;
    background-position: right 12px center !important;
    display: inline-block;
    font-size: 12px;
}
.list-order-item{
	position:absolute;
	top:36px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
}
.timeaxis-area{
	position:absolute;
	top:0px;
	left:0px;
	bottom:10px;
	width:150px;
	overflow:auto;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}

ul li{
	list-style: none;
}
.timeaxis li{
	position: relative;
	padding: 0 0 0 15px;
	height: 80px;
	border-left: 1px solid #DCDCDC;
	font-size:14px;
}
.timeaxis li:first-child{
	padding-top: 0px;
}
.timeaxis li:last-child{
	border-left: 0px;
}
.timeaxis li .txt{
	position: absolute;
	top: -6px;
	height:20px;
	line-height:20px;
}
.timeaxis li .time{
	position: absolute; 
	top: 20px;
	height:20px;
	line-height:20px;
	color: #C0C0C0!important;
}
/*圆形*/
.circle{
	width: 10px;
    height: 10px;
    background:#DCDCDC;
    border-radius: 50px;
    float:left;
    margin-left:-20px;
    margin-top:0px;
}

.timeaxis li.li_active,timeaxis li.li_comp{
	/* border-left: 1px solid #48C086; */
}

.li_active .txt,.li_comp .txt{
	color:#48C086;
}
.li_active .circle{
	background:#48C086;
	box-shadow: 0px 0px 15px 1px #48C086;
}
.li_comp .circle{
	background:#48C086;
}
.timeaxis li:hover .txt{
	color:#48C086;
	cursor:pointer;
}
.timeaxis li:hover .circle{
	background:#48C086;
	box-shadow: 0px 0px 15px 1px #48C086;
}
.shif-header{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:120px;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.shif-body{
	position:absolute;
	top:130px;
	left:0px;
	right:0px;
	bottom:0px;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.shifdetail-area label{
	color:#999;
	font-size:14px;
}
body input:focus{
	box-shadow:0;
	background-color:#fff;	
}
.font-icon{
	font-size: 12px;
	padding:1px 3px;
	color:#fff;
	border-radius: 4px 4px 4px 4px;
}
.icon-blue{
	background:#449be2;
}
.icon-green{
	background:#7dba56;
}
.icon-yellow{
	background:#f4d44f;
}
.icon-red{
	background:#f3723b;
}
