.tb_td_bk{
	/*width:100px;
	background:rgb(238, 247, 254);*/ /*hxy 2022-11-21*/
}
.tb_td_required{
	/*font-weight:bold; /*hxy 2022-11-21*/
	/* color: #ffa8a8; */
	color: red;
}
.report_table{
	border-collapse:collapse;
	/*border:1px solid #95B8E7;*/ /*hxy 2022-11-21*/
	margin:auto;
	margin-top:5px; /*35px*/ /*hxy 2022-11-21*/
}
.report_table tr.tr td{
	/*border:1px solid #95B8E7;*/
	padding:5px 5px; /*10px 5px;*/ /*hxy 2022-11-21*/
}
.report_table tr.tr1 td{
	border:1px solid #95B8E7;
	padding:2px 5px;
}
.report_table tr.tr2 td{
	border:1px solid #95B8E7;
	padding:0px;
}

