/* qqa
 * 2017-11-28
 * 新检验查看CSS
 */
 *{
	font-size:14px;	 
}

body{
	padding:0px;	
}

.top-sel{
	width:100%;
	height:9%;	
}

.sel-table td{
	line-height:40px;	
}
.center{
	width:100%;
	height:91%;	
}


.top-sel {
	/*border-left: 1px solid #509de1;*/
}


#center-rigth-layout .panel-body{
	border-color: #FFF !important;
	border-top:1px solid #E7E7E7 !important;
}

#center-layout .datagrid-body{
	/*overflow-x:hidden;*/
}

#lisOrdInfo{
	color:#919191;
}

#right-north .pagination-page-list,#right-north .pagination-info,#right-north .pagination-btn-separator{
	display:none;	
}
/****************************/
 .flo-left{
	float:left;	 
}

.td-lable{
	float:right;	
}

.datagrid-row{
	height:25px !important;	
}

.icon-undo {
    background: url('icons/undo.png') no-repeat center center;
}


.pb-linkbutton {
    text-decoration: none;
    color: #000000;
    margin: 10px;
    padding: 5px 8px;
}

.pb-linkbutton img{
	top: 3px;
    position: relative;	
}
.l-btn .l-btn-icon{
	background-color:rgb(55, 142, 196);
}
