.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	overflow:hidden;
	margin-bottom:45px;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.content{
	position:absolute;
	top:40px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.bs-situation{
	position:relative;
	height:145px;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.bs-background{
	position:relative;
	height:185px;
	margin-top:10px;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.bs-assessment{
	position:relative;
	height:185px;
	margin-top:10px;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.bs-recommend{
	position:relative;
	height:230px;
	margin-top:10px;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
/*
.bs-tools{
	position:relative;
	height:45px;
	margin-top:2px;
	border-radius: 4px 4px 4px 4px;
}
*/
.bs-tools{
	position:fixed;
	left:20px;
	right:38px;
	bottom:3px;
	height:45px;
	margin-top:2px;
	background:#fff;
	border-radius: 4px 4px 4px 4px;
}
.bs-tools-left{
	position:absolute;
	top:7px;
	left:0px;
	right:100px;
	bottom:5px;
	border-radius: 4px 4px 4px 4px;
}
.bs-tools-right{
	position:absolute;
	top:7px;
	right:10px;
	bottom:5px;
	width:90px;
	border-radius: 4px 4px 4px 4px;
}
.bs-tools-quote{
	position:absolute;
	top:2px;
	right:10px;
	width:200px;
	height:30px;
}
/**
 * Ãæ°åÑùÊ½
 */
.list-title{
	position:relative;
	background:#f9f9fa;
	height:35px;
	border-bottom:1px solid #ccc;
	padding-left:30px;
	border-radius: 4px 4px 0px 0px;
}
.list-title label{
	position:absolute;
	top:10px;
	left:30px;
}
.list-tools{
	position:absolute;
	top:0px;
	right:30px;
}
.list-icon{
	position:absolute;
	top:9px;
	left:8px;
	height:16px;
}
.icon-right {
	margin-top:3px;
	padding-right:32px;
	padding-left:18px;
    background-position: right 12px center !important;
    display: inline-block;
    font-size: 12px;
}
.list-order-item{
	position:absolute;
	top:36px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
}

.ph-title{
	text-align:center;
	margin-bottom:10px;
}
.ph-title span {
    font-size: 28px;
    letter-spacing: 5px;
}
.font-icon{
	font-size: 12px;
	padding:1px 3px;
	color:#fff;
	border-radius: 4px 4px 4px 4px;
}
.icon-blue{
	background:#449be2;
}
.icon-green{
	background:#7dba56;
}
.icon-yellow{
	background:#f4d44f;
}
.icon-red{
	background:#f3723b;
}
.bs-situation input{
	color:#999;
	font-size:14px;
}
body input:focus{
	box-shadow:0;
	background-color:#fff;	
}