@charset "utf-8";
/* CSS Document */
body{ font-size:12px; font-family:"Î¢ÈíÑÅºÚ"; margin:0; padding:0;background:#F6F6F6;}
a{ text-decoration:none;}
ul{ padding:0; margin:0;}
h1,h2,h3,h4,h5,h6{ padding:0; margin:0;}
ul li{ list-style:none;}
hr{ margin:0; color:#fff;}
img{ border:0;}
.float-l{ float:left;}
.float-r{ float:right;}
.border-gray{ border:1px solid #ccc;}
.cen-page{ margin:0 auto;}
.marg-top{ margin-top:10px;}
.marg-top-two{ margin-top:20px;}
.marg-top-five{ margin-top:5px;}
.margin-left-fu{ margin-left:-20px;}
.margin-left{ margin-left:10px;}
.marg-bottom{ margin-bottom:10px;}
.bfb{ width:100%;}
.all-width{ width:99%;  }
.width-left{ width:11%;}
.width-five{ width:4%;}
.width-three{ width:35%;}
.width-eight{ width:80%;}
.width-six{ width:60%;}
.width-right{ width:88%;height:600px}
.width-two{ width:20%;}
.half-width{ width:49%}
.font-color{ color:#fff;}
.icon-gray{ color:#ccc;}
.icon-red{ color:#ffbebc;}
.word-red{ color:#f00;}
.word-bule{ color:#036bc2}
.word-gray{ color:#959595;}
.word-deep-gray{ color:#666;}
.icon-yellow{ color:#fff7da;  }
.icon-yellow-deep{ color:#ffba00;  }
.icon-green{ color:#acf461 ;}
.word-green-deep{ color:#060!important ;}

.icon-purple{ color:#e0c9ff ;}
.word-purple{ color:#609 ;}
.fontsize-12{ font-size:12px;}
.fontsize-14{ font-size:14px!important ;}
.fontsize-16{ font-size:16px;}
.fontsize-18{ font-size:18px;}
.fontsize-28{ font-size:28px!important;}
.bg-deep-bule{ background:#4a8bc2;}
.bg-gray{ background:#F3F3F3}
.bg-yellow{ background:#FCF5E0 }
.bg-bule{ background:#e2edfa;} 
.title-bg{ height:35px;}
.dis-play{ display:inline-block;}
.pad-ten{ padding:0 10px;}
.pad-five{ padding:5px;}
.word-letter{ letter-spacing:14px;}
.word-letter-4{ letter-spacing:4px;}
.line-min{ line-height:35px;}
.pad-twenty{ padding:20px;}
.absolutly{ position:absolute;}
.relatively{ position:relative;}
.boxshow{ box-shadow: 0 0 8px #666;}
.main{  height:50px; margin:0 auto;  }
.main ul li{ width:15%; display: inline-block; margin:5px 0 ; }
.main ul li:nth-of-type(1){ background:#e55956;}
.main ul li:nth-of-type(2){ background:#5bc7ff; margin-left:5px;}
.main ul li:nth-of-type(3){ background:#74ae37; margin-left:5px;}
.main ul li:nth-of-type(4){ background:#B086EA; margin-left:5px;}
.main ul li div{ display:inline-block;  color:#fff;}
.main ul li div:nth-of-type(1){ color:#fff; font-size:24px; padding:5px 20px; border-right:1px solid #EEE;  }
.main ul li div:nth-of-type(2){ padding:0 15px ;}
.main ul li div:nth-of-type(2) span:nth-of-type(1){ font-size:24px;}
.main ul li div:nth-of-type(2) span:nth-of-type(2){ font-size:20px; padding:0 6px;}
.main ul li div:nth-of-type(2) span:nth-of-type(3){ font-size:18px; color:#E8E8E8;}
.bq-left{ background:#ffebb6;  box-shadow:0 0 4px #666;}
.bq-left input{ width:90%; border-radius:4px; margin:0 5px 3px 5px; border:1px solid #ccc;}
.bq-left li{ height:50px; background:#fff; border-left:3px solid #ffba00; box-shadow:0 0 3px #666;  line-height:25px; width:86%; padding:0 0 0 5px; margin:8px auto;  }
.bq-left li a{ height:50px; color:#666; width:90%; }
.bq-left li a h3:nth-of-type(1){ color:#036bc2}
.bq-left li a h3 span{ padding-right:5px;  color:#666;font-size:12px!important;}
.right-main{ box-shadow:0 0 5px #666; background:#c1e7ff ; }
.right-main span{ padding:10px; font-size:16px; font-weight:bold; }
.right-main span:nth-of-type(1){ color:#036bc2;}

.right-main span select{ border:1px solid #ccc;  border-radius:4px;}
.second-w{ background:#fff; overflow:hidden;}
.second-w div{ padding:5px;}
.loadbar{ background:#ffebb6; height:20px;}
.loadbar-con tr td span{ line-height:37px;}
.loadbar-con tr td span label{ color:#666;}
.loadbar-con tr td span input{border:1px solid #ccc;  border-radius:4px;}
.loadbar-con tr td span select{border:1px solid #ccc;  border-radius:4px;}
.loadbar-con tr td span strong{ color:#A8A8A8 ;}
.but-pad{ background:#39F; border:1px solid #007DFB;}
.but-pad1{ background: #F3F3F3; }


.alert-k div{  list-style:none; display:inline-block;  margin-left:5px; padding:5px 15px 3px 15px; line-height:25px; color:#fff; border-radius:2px; font-size:16px; overflow:hidden;}
.alert-k div i{ margin-left:5px;}
.alert-k div i:nth-of-type(1){ color:#f00;}
.alert-k div span:nth-of-type(2){ color:#6F6; font-weight:bold;}
.ct-one{ border:1px solid #ccc; background:#060; color:#fff; width:2%; height:33px; }
.list-div{ border:1px solid #ccc; height:30px; text-align:center;}
.btn-list li{  width:8%; margin:5px 0 5px 10px; background:#FFE6E6; }
.big-btn li{  width:8%; margin:5px 0 5px 10px; background:#337ab7 ; border:1px solid #2e6da4; border-radius:5px;   }
.big-btn li div{ color:#fff; text-align: center; }
.btn-mo{ background:#d9534f; color:#fff; border-radius:5px; border:1px solid #d43f3a; }
.part-body li{ width:6%; height:30px; font-size:14px; background:#51C2F9; border:1px solid #E7E7E7; border-radius:5px; line-height:30px; color:#fff;  margin:5px 0 5px 5px; display:inline-block; text-align:center;}
.part-body a:link li { background:#ccc; }