.labelDiv {
	position:relative;
	user-select:none; 	
}

.labelItm {
	background: #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 2px;
}

.labelItm:hover {
	transform: scale(1.2);	
}

.addLabel {
	position: absolute;
    right: 0px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: #317382;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;	
}

.sysLabel {
	background: #ccc;
	border-radius: 5px;
	cursor: pointer;
	font-size: 10px;
	margin-right: 5px;
	padding: 2px 5px;
	user-select:none;	
}

.checkLabel {
	background: rgb(0, 99, 167) !important;
    color: #fff;	
}