.line-itm1{
	width: 100px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

.line-itm2{
	width: 120px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;	
}

.line{
	margin-top:10px;	
}