/* ¼«¼ò°æÆ¤·ô */
.dhcpha-hisui-container {
    background: #f5f5f5;
}
.pha-body {
    background: #f5f5f5;
}
.layout {
    background-color: #f5f5f5;
}

.pha-pivas-no-data {
    height: 100%;
    width: 100%;
    background: url(../../../../../scripts/pharmacy/common/image/nodata-small.png) no-repeat center;
}


