BODY INPUT {
    FONT-SIZE: 2px;
    FONT-FAMILY: "Microsoft Yahei", "Tahoma", "Helvetica", "Arial", sans-serif;
    border: 0px solid #b5b8c8;
    height: 2px;
    background-image:"";
    background-repeat: no-repeat;
    background-position: top;
 }