.x-window-footer { 

    position: relative; 

    top: 0; 

    right: 0; 

} 
.x-tab-strip SPAN.x-tab-strip-text { 

    font-size: 14px; 

} 

 .x-panel-header { 

     font-size: 13px; 

 } 

 .x-tree-node { 

     font-size: 11px; 

     font: 11px arial, tahoma, helvetica, sans-serif;

     color: #000;

 }

 .x-tree-node-over{

	  font-size: 11px;

 } 

 .x-grid3-hd-row TD { 

     font-size: 13px; 

 } 

 .x-grid3-row TD { 

     font-size: 15px; 

     LINE-HEIGHT: 20px; 

 } 

 .x-tip .x-tip-bd { 

     font-size: 14px; 

 } 

 .x-tip h3{ 

     font-size: 14px; 

 } 

 .x-tip .x-tip-bd-inner{ 

     font-size:14px; 

 } 

 .x-panel-tl .x-panel-header { 

     FONT: normal 14px tahoma,arial,verdana,sans-serif; 

 } 

 .x-form-field { 

     FONT: 18px tahoma,arial,helvetica,sans-serif      

 } 

 .x-small-editor .x-form-field { 

     FONT: 14px tahoma,arial,helvetica,sans-serif      

 } 

 .x-combo-list-item { 

     FONT: 14px tahoma,arial,helvetica,sans-serif;     

 }     

 .x-menu-list-item { 

     FONT: 14px tahoma,arial,sans-serif; 

 } 

 .x-window-tl .x-window-header { 

     FONT: bold 14px tahoma,arial,verdana,sans-serif;      

 } 

 .x-layout-split-west .x-layout-mini {     

     BACKGROUND-IMAGE: url(../images/mini-left.jpg);   

 } 

 /*.ext-ie .x-form-text { */
.x-form-text { 
     margin-top:0px; 

 } /* the textField missing bottom line */ 

 .x-form-item {    

     FONT: 14px tahoma,arial,helvetica,sans-serif 

 } 

 .x-grid-group-hd DIV {    

     FONT: bold 14px tahoma,arial,helvetica,sans-serif; 

 } 

 .x-btn button{

	font: 14px arial,tahoma,verdana,helvetica;

	color: #333;	

 }

 .x-btn-text{ 

     font: 14px tahoma,arial,sans-serif; 

 }

  /*wanghc add 2012 01 10*/

a{

	FONT-SIZE: 10pt; 

	color:#0081db/*#0000CC*/;

	text-decoration: none;

}

a:hover {

	FONT-SIZE: 10.5pt;

	color: /*#0066ff8*/#fd7201;

	/*text-decoration: underline;*/

}

.iconM {

	background-image:url(../image/man.gif) !important;

}

.iconF {

	background-image:url(../image/woman.gif) !important;

}

.iconStop{

	background-image:url(../image/stop.gif) !important;

}

td.ux-grid-hd-group-cell {

	background: url(/dthealth/web/scripts_lib/ext3.2.1/resources/images/default/grid/grid3-hrow.gif) repeat-x bottom ;

}
x.toolbar .xtb-sep {
	backgroud-image:url(/dthealth/web/scripts_lib/ext3.2.1/resources/images/default/grid/grid-blue-split.gif)	
}
.x-tbar-page-first{
	backgroud-image:url(/dthealth/web/scripts_lib/ext3.2.1/resources/images/default/grid/page-first.gif)
}
td.ux-grid-hd-nogroup-cell .x-grid3-hd-inner {

	background: none;

}
.diytable {
	background-color: #899bb3;
}
.diytd1th{
	font-size: 12px;
	color: #000000;
	text-align: center;
	padding: 3px;
	background-image: url(../img/diythbg.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.diytd1{
	background-color: #f7fbff;
	font-size: 12px;
	color: #000000;
	text-align: left;
	padding: 4px;
	vertical-align: top;
}

.diytd2th{
	font-size: 12px;
	color: #000000;
	text-align: center;
	padding: 3px;
	background-image: url(../img/diythbg2.gif);
	background-repeat: repeat-x;
	background-position: top;
}
.diytd2{
	background-color: #fffccc;
	font-size: 12px;
	color: #000000;
	text-align: left;
	padding: 4px;
	vertical-align: top;
}
.diytd3{
	background-color: #e6f2ff;
	font-size: 15px;
	color: #2d4a72;
	padding: 3px;
	vertical-align:middle;
}

.diytit{
	color:/*#006b9d*/#000;
	height: 40px;
	padding-left: 18px;
	background-image: url(../img/diytitico.gif);
	background-repeat: no-repeat;
	background-position: 4px center;
	font-weight: bold;
	}
.diytext2{
	color:#008c03;}
table.x-date-inner {
    width: 100%;
    table-layout:fixed;
	width:300px;
}
.x-date-inner th span {
    display:block;
    padding:2px;
    padding-right:7px;
	font-size:20px;
}
.x-date-inner .x-date-selected a{
	background: repeat-x left top;
	border:1px solid;
    padding:1px 4px;
	font-size:20px;
}
.x-date-inner a {
    font:normal 11px arial, helvetica,tahoma,sans-serif;
    color:#000;
	font-size:20px;
}
.ext-ie7 .x-date-menu{
	 height:200px;
}

.ext-ie .x-date-menu{
	 height:265px;
}
.ext-strict .ext-ie8 .x-date-menu{
    height: 265px;
}
.ext-strict .ext-ie .x-date-menu, .ext-border-box .ext-ie8 .x-date-menu{
    height: 265px;
}
.x-date-inner a:hover, .x-date-inner .x-date-disabled a:hover{
    color:#000;
    background-color:green;
}
.x-date-inner .x-date-selected a{
	background: repeat-x left top;
	border:1px solid;
    padding:1px 4px;
	font-size:23px;
}
.x-date-inner a:hover, .x-date-inner .x-date-disabled a:hover{
    text-decoration:none !important;
	font-size:19px;
}



