.EQINPUT
{
    FONT-SIZE: 10pt;
    HEIGHT: 23px;
    BORDER:1px solid #007091
}
.EQTEXTAREA
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Tahoma;
    BORDER: 1px solid  #007091;
}
.EQEnabledINPUT
{
    BACKGROUND-COLOR: white;
}
.EQDisabledINPUT
{
    /*BACKGROUND-COLOR: RGB(235,235,235);*/
}

.EQDisabledBUTTON
{
	color: #aaaaaa;  
	/*下列代码为按钮加边框效果显示样式,若不需要此样式屏蔽下列代码即可*/
	/*v8.0.2之后的版本有边框效果,之前的部分版本有边框效果,*/
	width:110px;
	text-align: center;
    display:block;
    border-radius:5px;  
    text-decoration:none;
    padding: 4px 0 4px;
    background: #FAFAFA;
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
}
.EQDisabledBUTTON:hover
{
	color: #aaaaaa;
	/*下列代码为按钮加边框效果显示样式,若不需要此样式屏蔽下列代码即可*/
	/*v8.0.2之后的版本有边框效果,之前的部分版本有边框效果,*/
	width:110px;
	text-align: center;
    display:block;
    border-radius:5px;  
    text-decoration:none;
    padding: 4px 0 4px;
    background: #FAFAFA;
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
}
.EQBIGFONT
{
    FONT-SIZE: 25pt;
}
.EQReadOnlyINPUT
{
    /*BORDER-RIGHT: #aaffff 1px outset;
    BORDER-TOP: #aaffff 1px outset;
    BORDER-LEFT: #aaffff 1px outset;
    BORDER-BOTTOM: #aaffff 1px outset;
    BACKGROUND-COLOR: #eaeaea
    */
}
#fDHCEQBanner
{
}
#fDHCEQBanner TABLE{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    /*TEXT-TRANSFORM: capitalize;*/
    COLOR: black;
    HEIGHT: 16pt;
    /*BACKGROUND-COLOR: #f5deb3;*/ /*original pale orange colour*/
    BACKGROUND-COLOR: whitesmoke;
    BORDER-LEFT: #000099 3px solid;
    BORDER-RIGHT: #000099 3px solid;
    BORDER-TOP: #000099 3px solid;
    BORDER-BOTTOM: #000099 3px solid;
    TEXT-ALIGN: center;
    WIDTH: 100%;
}
#cEQTitle
{
FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: blue;
}
#EQTitle
{
FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: blue;
}
/* 下列代码为按钮加边框效果配套的组件显示样式,若不需要此样式屏蔽下列代码即可【maintitle,formtitle,listtitle】
** v8.0.2之后的版本有此效果,之前的部分版本有此效果
** add by zx 2017-04-28  BUG ZX0037
** 修改老版本系统界面样式显示
*/
/*表单标题*/
.headtitle{
	color:#222222;
	font-size:16px;
	text-align:center;
}
.maintitle,.formtitle,.listtitle,.savetitle,.edittitle,.defaulttitle,.collapsetitle{
	font-size: 14px;
	color: #15428b ;
	padding-left: 28px;
	padding-bottom:4px;
	height: 23px;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
	border:1px #95B8E7 solid;
	background:url("") #E4F0FF no-repeat center left 10px;
}
.maintitle {
	background-image:url("../images/websys/searchbox_button.png");
}
.formtitle{
	background:url("") #E4F0FF  no-repeat center left 10px; 
}
.formtitle>img{
 	position: absolute;
 	margin-top:2px;
 	margin-left:-18px;
 	margin-right:4px;
}
.listtitle{
	background-image:url("../images/websys/tblist.png");
}
.savetitle{
	background-image:url("../images/websys/filesave.png");
}
.edittitle{
	background-image:url("../images/websys/editstatu.png");
}
.defaulttitle{
	background-image:url("../images/websys/yellow_paper.png");
}
/*table边框*/
.i-tableborder{
	border:1px #95B8E7 solid;
	background-color:#F9FBFF;
	top:-3px;
	position:relative; 
	padding:0px;
}
/*低版本button样式及按钮清除灰化后增加样式*/
.btn{
	width:110px;
	text-align: center;
	display:block;
	border-radius:5px;  
	text-decoration:none;
	padding: 3px 0 4px; /*3px 5px 3px 5px;*/
	color: #444;
	background: #FAFAFA;
	background-repeat: repeat-x;
	border: 1px solid #bbb;
	background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
}
a.btn:hover {
	background: #ECECEC;
	background: -webkit-linear-gradient(top,#CDCDCD 0,#ECECEC 100%);
	background: -moz-linear-gradient(top,#CDCDCD 0,#ECECEC 100%);
	background: -o-linear-gradient(top,#CDCDCD 0,#ECECEC 100%);
	background: linear-gradient(to bottom,#CDCDCD 0,#ECECEC 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CDCDCD,endColorstr=#ECECEC,GradientType=0);
	color: #000000;
}
a.btn.i-disabled:hover{
	color: #c8c8c8;
	background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
}
.i-btn{
	width:110px;
	text-align: center;
	display:block;
	border-radius:5px;  
	text-decoration:none;
	padding: 3px 0 4px; /*3px 5px 3px 5px;*/
	color: #444;
	background: #FAFAFA;
	background-repeat: repeat-x;
	border: 1px solid #bbb;
	background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
}
a.i-btn:hover {
	background: #ECECEC;
	background: -webkit-linear-gradient(top,#CDCDCD 0,#ECECEC 100%);
	background: -moz-linear-gradient(top,#CDCDCD 0,#ECECEC 100%);
	background: -o-linear-gradient(top,#CDCDCD 0,#ECECEC 100%);
	background: linear-gradient(to bottom,#CDCDCD 0,#ECECEC 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CDCDCD,endColorstr=#ECECEC,GradientType=0);
	color: #000000;
}
a.i-btn.i-disabled:hover{
	color: #c8c8c8;
	background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
	background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
}