/*background-color: #73a3cf;*/
.curOrder{
	POSITION: absolute;
	FONT-SIZE: 8pt;
	FONT-FAMILY: "Microsoft Yahei";
	BORDER: #000000 1pt solid;
	OVERFLOW: hidden;
	background-color: #ffffff;
}
.order{
	POSITION: absolute;
	FONT-SIZE: 8pt;
	FONT-FAMILY: "Microsoft Yahei";
	BORDER: #000000 1pt solid;
	OVERFLOW: hidden;
	background-color: #73a3cf;
}

.orderUnPaid{
	POSITION: absolute;
	FONT-SIZE: 8pt;
	FONT-FAMILY: "Microsoft Yahei";
	BORDER: #82c2bb 1pt solid;
	OVERFLOW: hidden;
	background-color: #fff;
}

.orderprt{
	POSITION: absolute;
	FONT-SIZE: 8pt;
	FONT-FAMILY: "Microsoft Yahei";
	BORDER: #000000 1pt solid;
	OVERFLOW: hidden;
	background-color: rgb(255,255,192);
}

.orderBXN{
	POSITION: absolute;
	FONT-SIZE: 8pt;
	FONT-FAMILY: "Microsoft Yahei";
	BORDER: #000000 1pt solid;
	OVERFLOW: hidden;
	background-color: Yellow;
}

.orderBXP{
	POSITION: absolute;
	FONT-SIZE: 8pt;
	FONT-FAMILY: "Microsoft Yahei";
	BORDER: #000000 1pt solid;
	OVERFLOW: hidden;
	background-color: #66FF66;
}

.orderBXE{
	POSITION: absolute;
	FONT-SIZE: 8pt;
	FONT-FAMILY: "Microsoft Yahei";
	BORDER: #000000 1pt solid;
	OVERFLOW: hidden;
	background-color: #CCCCCC;
}

.desc
{
	FONT-WEIGHT: bold;
	BORDER-BOTTOM: black 2px solid;
	HEIGHT: 1.5em;
	OVERFLOW: hidden;
	WIDTH: 100%;
}
.bedNormSel
{
	POSITION: absolute;
	FONT-SIZE: 8pt;
	FONT-FAMILY: "Microsoft Yahei";
	BORDER: #000000 1pt solid;
	OVERFLOW: hidden;
	background-color: #eeea88;
	
}
.bedNorm
{
	POSITION: absolute;
	FONT-SIZE: 8pt;
	FONT-FAMILY: "Microsoft Yahei";
	BORDER: #000000 1pt solid;
	OVERFLOW: hidden;
	background-color: #73a3cf;
}

.nextOrderText{
	position:relative;
	FONT-SIZE: 14pt;
	width:120px;
	text-align: center;
	color: blue;
	BORDER: #000000 1pt solid;
	border-radius: 10px;
	background-color: #ffffff;
}