/* dhcpeireport.yy.noraml.result.lis.css */
/* 通用体检报告格式(适用检查,免疫类等定性结果) */
@media screen {
	.LISReport{
		border:3 solid black; /* 测试 */
		border-top:1 solid black;
		border-right:3 solid #666666;
		border-bottom:5 solid #333333;
		border-left:1 solid black;
		
		margin:0.5cm 1px 1px 1px;
		padding:0.1cm 1.5cm 0.3cm 2.0cm;
	}
}


@media print {
	.LISReport{
		display:block;
		margin:0.00cm 0.00cm 1.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 

	}	
}

/* 报告页头 */
.LISHead{
	display:block;
	padding:3px 3px 3px 15px;
	border-bottom:1 solid black; 
}

/* 报告页头 体检项目*/
.LISHeadARCIMDesc{
	font-weight:bold;
	background-color:#72ab8d;
	/* background-image:url(../images/dhcpe/logo.gif) */
}

/* 结果标题栏 */
.LISResultTtile{
	display:block;
	padding:3px 3px 3px 3px;
	border-top:1 solid black;
	border-bottom:1 solid black;
}

/* 结果标题栏 项目名称*/
.LISResultTtileTestName{

}

/* 结果标题栏 检查结果*/
.LISResultTtileTestValue{

}

/* 结果行 结果状态 */
.LISResultNormal{

}

/* 结果行 单位 */
.LISResultTestUnit{

}

/* 结果行 参考范围 */
.LISResultStandard{

}

/* 结果行 */
.LISResult{
	
}

/* 结果行 项目名称 */
.LISResultName{
	display:block;
	padding:3px 3px 3px 11px;
}

/* 结果行 结果 */
.LISResultValue{
	display:block;
	padding:3px 3px 3px 11px;
}

/* 结果行 结果状态 */
.LISResultNormal{
	display:block;
	padding:3px 3px 3px 11px;
}

/* 结果行 单位 */
.LISResultTestUnit{
	display:block;
	padding:3px 3px 3px 11px;
}

/* 结果行 参考范围 */
.LISResultStandard{
	display:block;
	padding:3px 3px 3px 11px;
}

/* 报告页角 */
.LISFooter{
	display:block;
	padding:3px 3px 3px 3px;
	border-top:1 solid black;
}

.LISFooterChecker{
	TEXT-ALIGN:right;
}

.LISFooterCheckDate{
	TEXT-ALIGN:right;
}