/* dhcpeireport.yy.noraml.stationresult.css */
@media screen {
	.LISReport{
		display:inline;
		border:0 solid black; /* ≤‚ ‘ */
		margin:0.5cm 1px 1px 1px;
		padding:0.1cm 1.5cm 0.3cm 2.0cm;
	}
}


@media print {
	.LISReport{
		display:block;
		margin:0.00cm 0.00cm 1.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 

	}	
}

@media screen {
	.NORReport{
		display:inline;
		border:0 solid black; /* ≤‚ ‘ */
		margin:0.5cm 1px 1px 1px;
		padding:0.1cm 1.5cm 0.3cm 2.0cm;
		
	}
}


@media print {
	.NORReport{
		display:block;
		margin:0.00cm 0.00cm 1.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 

	}	
}

@media screen {
	.Summarize{
		display:inline;
		border:0 solid black; /* ≤‚ ‘ */
		margin:0.0cm 1px 1px 1px;
		padding:0.1cm 1.5cm 0.3cm 2.0cm;
	}
}

@media print {
	.Summarize{
		display:block;
		margin:0.00cm 0.00cm 0.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 
	}	
}

@media screen {
	.StationResult{
		display:inline;
		border:3 solid black; /* ≤‚ ‘ */
		border-top:1 solid black;
		border-right:3 solid #666666;
		border-bottom:5 solid #333333;
		border-left:1 solid black;
		
		margin:0.5cm 1px 1px 1px;
		padding:0.1cm 1.5cm 0.3cm 2.0cm;
	}
}


@media print {
	.StationResult{
		display:block;
		margin:0.00cm 0.00cm 1.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 

	}	
}