/* 
	页面属性 
	background-color	页面背景颜色
	background-image	页面不背景
*/
body{
	/*background-color:#0099CC; #dfb5d8; */
	/*background-image:url(../images/websys/DHCPENet.gif); PEDHCNet.gif */

	text-align:center;
	margin:0.1cm 0.1cm 0.1cm 0.1cm;
	padding:0.1cm 0.1cm 0.1cm 0.1cm;
}

/*
	通用文字块
*/
DIV.Panel{
	display:block;
	width:21.00cm; 	/* A4纸的宽度 不要动(除非设置新的纸张) */	
	background-color:#FFFFFF;  /*	必须 负责将使用页面背景 */	
}

TABLE{
	border:1 solid black;
}

/* 分割线 打印时时使用 页面显示时隐藏	*/
hr{
	display:none; 
	height:1px;
}

/* 分割线 页面显示时使用 */
.line{
	background-color:#000000;  /* 必须 */
	height:1px;
}