/* 格式化患者信息 */
#PatInfor{
	margin:0.5cm 0.1cm 0.1cm 0.1cm; 
	
	padding:0.1cm 0.1cm 0.1cm 0.1cm; 
	border:1 solid black;
	border-bottom:5 solid #330099;
	display:block;
	width:21.00cm; 	/* A4纸的宽度 不要动(除非设置新的纸张) */	
	background-color:#FFFFFF;  /*	必须 负责将使用页面背景 */		
}	

#PatInfor table{
	display:block;
	width:18.00cm; /* 必须 */
	border:2 solid #FFFFFF; /* 测试 */
}

/* 客户单位 */
#lPatCompany{
	width:1.4cm;
}

#PatCompany{
	 width:10cm;
}

/* 编号 */
#lPatRegNo{
	width:1.5cm;
	text-align:right;
}

#PatRegNo{
	width:2cm;
}

/* 姓名 */
#lPatName{
	width:1.4cm;
}
#PatName{
	font-weight:bold;
	lPatPosition:2cm;
	font-family: "宋体";
	font-style: normal;
}

/* 性别 */
#lPatSex{
	width:1.5cm;
}
#PatSex{
	width:1cm;
}

/* 出生日期 */
#lPatBirthday{
	width:1.5cm;
}
#ParBirthday{
	width:3cm;
}

/* 出生日期 */
#lPatPosition{
	width:1.5cm;
}
#PatPosition{
	width:3cm;
}