/* DHCPEReportSummarize.css */
/* 科室结论 */

#Summarize{
	background-color:#FFFFFF; /* 必须 */
	display:block;
	width:21.00cm; 	/* A4纸的宽度 */
	margin:0.5cm 1px 1px 1px;
	padding:3px 3px 3px 3px;
	border:3 solid black; /* 测试 */
	border-top:1 solid black;
	border-right:3 solid #666666;
	border-bottom:5 solid #333333;
	border-left:1 solid black;

}	
#Summarize table{
	display:block;
	margin-top:0.2cm;
	width:18.00cm; /* 必须 */
	border:2 solid #FFFFFF; /* 测试 */
	
}

#Summarize table tbody tr td{
	padding-left:0.8cm; /*  前空白 */
	
}

#Summarize table thead tr td{
	padding-left:0.4cm; /*  前空白 */
 	font-weight: bold; /* 加粗显示 */
	
}

pre{
	text-align:left;

}