 /* 
 	dhcpegreport.normal.css
 	团体页面样式
 */
 @media screen {
	.Page{
		display:block;
		margin:0.5cm 0.1cm 0.1cm 0.1cm;
		padding:0.1cm 0.1cm 0.1cm 0.1cm;
		border:1 solid black;
		width:21cm;
		background-color:#FFFFFF;

	}

}
@media print {
	.Page{
		DISPLAY: none;
		margin:0.5cm 0.1cm 0.1cm 0.1cm;
		padding:0.00cm 0.00cm 0cm 0.00cm; 
		border-bottom:0 solid black;
	}

	.Noprint{
		display:none;
	}

	.PageNext{
		page-break-after: always;
	}
	
}