
.NodeDIV {
	PADDING-LEFT: 20px;
	CURSOR: hand;
}

.NodeTD11 {
	PADDING-LEFT: 7px;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana;
	font-color: black;
}

.TreeHead{
	border-style: outset;
	background:#C5C6C0;
}

.bOver {
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  color: white;

  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-right: 5px;

  background-color: #99ccff;

  cursor: hand;
}

.bOut {
  font-family: Verdana;
  font-size: 10px;
  font-weight: bold;
  color: white;
  
  padding-top: 3px;
  padding-left: 5px;
  padding-bottom: 3px;
  padding-right: 5px;
  
  background-color: #5389bc;
  
  cursor: hand;
}
