.footer{
	
	background-color:#FFFFFF; /* ±ØÐë */
	display:block;
	width:21.00cm; 	/* A4Ö½µÄ¿í¶È */
	margin:0.0cm 1px 1px 1px;
	padding:3px 3px 3px 3px;
	border:3 solid black; /* ²âÊÔ */
	border-top:1 solid black;
	border-right:3 solid #666666;
	border-bottom:5 solid #333333;
	border-left:1 solid black;
}

.footer TABLE{
	border:0 solid black;
}
.footer TABLE tr th{
	border:0 solid black;
	text-align:left;
}

.footer table tr td{
	padding-left:0.8cm; /*  Ç°¿Õ°× */
	
}