 /* dhcpeireport.normal.cover.css */
 
@media screen {
	.normalcover{
		/* DISPLAY: none; */
		border:3 solid black; /* 测试 */
		border-top:1 solid black;
		border-right:3 solid #666666;
		border-bottom:5 solid #333333;
		border-left:1 solid black;
	
	}
}
@media print {
	.normalcover{
		display:block;
		margin:0.00cm 0.00cm 0.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 
		PAGE-BREAK-AFTER: always ;
	}	
}

.ReportPageHeadHostptionTitle{
  font:"黑体";
  font-size:60px;
  font-weight: bold;
  font-family:"楷体_GB2312";
 
}
.ReportPageHeadTitle{
  font:"黑体";
  font-size:36px;
  font-weight: bold;
  font-family:"楷体_GB2312";
}
.ReportPageHeadOutputValue{
  border-bottom:1 solid black;
  font-size:20px;
  font-family:"楷体_GB2312";
}
.ReportPageHeadOutputLabel{
font-weight: bold;
font-size:20px;
font-family:"楷体_GB2312";

}
.nextPage{
PAGE-BREAK-BEFORE: always ;

}