/* 报告单 

*/
.report{
	background-color:#FFFFFF; /* 必须 */
	display:block;
	width:21.00cm; 	/* A4纸的宽度 */
	margin:0.0cm 1px 1px 1px;
	padding:3px 3px 3px 3px;
	border:3 solid black; /* 测试 */
	border-top:1 solid black;
	border-right:3 solid #666666;
	border-bottom:5 solid #333333;
	border-left:1 solid black;

}	

/* 报告体 
	
*/
.report table{
	display:block;
	margin-top:0.2cm;
	width:18.00cm; /* 必须 */
	border:2 solid #FFFFFF; /* 测试 */
	
}

/* 检验项目 

	background-color:#CCCCCC; 

*/
.report thead{

}

/* 检验数据列表 
	background-color:#33CCFF;	 
*/
.report table tbody{
	margin:px 0px 0px 0px;
	padding:2px 2px 2px 2px;
	border:0px;

}

/* 检验数据行 */
.report table tbody tr{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

/*  检验项目名称 

*/
.report table tbody .ResultName{
	padding-left:0.8cm; /*  前空白 */
}

/* 检验数据行 
	background-color:#663399;
*/
.report table tfoot tr td{
	padding-left:0.4cm; /*  前空白 */
}

.report table thead tr td{
	padding-left:0.4cm; /*  前空白 */
}
/* 检验人 */
.Checker{
 	font-weight: bold; /* 加粗显示 */
}
/* 检验日期 */
.CheckDate{
 	font-weight: bold; /* 加粗显示 */
}

/* 项目名称 */
.TestName{
	padding-left:0.4cm; /*  前空白 */
 	font-weight: bold; /* 加粗显示 */
}

/* 分割线 */
.line{
	background-color:#000000;  /* 必须 */
	height:1px;
}
hr{
	display:none; /* 页面显示时隐藏 */
	height:1px;
}
pre{
	text-align:left;

}