/* dhcpeireport.noraml.generaladvice.css */
@media screen {
	.GeneralAdvice{
		border:3 solid black; /* ≤‚ ‘ */
		border-top:1 solid black;
		border-right:3 solid #666666;
		border-bottom:5 solid #333333;
		border-left:1 solid black;
		margin:0.0cm 1px 1px 1px;
		padding:0.1cm 1.5cm 0.3cm 2.0cm;
	}

}

@media print {
	.GeneralAdvice{
		display:block;
		margin:0.00cm 0.00cm 0.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 
		PAGE-BREAK-AFTER: always ;
	}	
}

.GeneralAdviceTitle {
	display:block;
	padding:3px 3px 3px 3px;
	border-bottom:1 solid black;
	font-weight:bold;
	font-size:14px;
}
.GeneralTitle{
	display:block;
	padding:3px 3px 3px 3px;
	font-size:14px;
	white-space:normal;
	width:633px;
}
.GeneralFooter{
	display:block;
	padding:3px 3px 3px 3px;
	font-size:37px;
	width:633px;
}
.GeneralAdviceData{
	display:block;
	padding:5px 3px 10px 20px;
	font-size:14px;
	white-space:normal;
	width:633px;
}

.GeneralAdviceTable{
	display:block;
	margin:3px 3px 30px 3px;
}
.GeneralDoctor{
	display:block;
	padding:5px 3px 10px 20px;
	font-size:16px;
	font-weight:bold;
	width:560px;
	TEXT-ALIGN:right;
}
.GeneralDate{
	display:block;
	padding:5px 3px 10px 20px;
	font-size:16px;
	width:560px;
	TEXT-ALIGN:right;
}
.GeneralLocName{
	display:block;
	padding:5px 3px 10px 20px;
	font-size:14px;
	width:550px;
	TEXT-ALIGN:right;
	
}