 /* dhcpeireport.yy.normal.cover.css */
 
@media screen {
	.normalcover{
		/* DISPLAY: none; */
		border:3 solid black; /* ²âÊÔ */
		border-top:1 solid black;
		border-right:3 solid #666666;
		border-bottom:5 solid #333333;
		border-left:1 solid black;
	
	}
}
@media print {
	.normalcover{
		display:block;
		margin:0.00cm 0.00cm 0.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 
		PAGE-BREAK-AFTER: always ;
	}	
}

.ReportPageHeadHostptionTitle{
  font:"ºÚÌå";
  font-size:24px;
  font-weight: bold;
 
}
.ReportPageHeadTitle{
  font:"ºÚÌå";
  font-size:36px;
  font-weight: bold;
}
.ReportPageHeadOutputValue{
  border-bottom:1 solid black;
  
}
.ReportPageHeadOutputLabel{
font-weight: bold;

}

.Test{
  font-size:36px;
  font-weight: bold;
}