/* dhcpeireport.yy.normal.head.title.css */

@media screen {
	.HeadTitle{
		display:none;
		border:1 solid black;
		border-bottom:5 solid #330099;
	}
}
@media print {
	.HeadTitle{
		display:block;
		margin:0.00cm 0.00cm 0.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 
		/* border-bottom:2 solid black; */
	}
}

.HTReportName{
  font:"ºÚÌå";
  font-size:24px;
  font-weight: bold;
}
