 /* dhcpeireport.normal.cover.css */
 
@media screen {
	.normalcover{
		/* DISPLAY: none; */
		border:3 solid black; /* 测试 */
		border-top:1 solid black;
		border-right:3 solid #666666;
		border-bottom:5 solid #333333;
		border-left:1 solid black;
	
	}
}
@media print {
	.normalcover{
		display:block;
		margin:0.00cm 0.00cm 0.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 
		PAGE-BREAK-AFTER: always ;
	}	
}

.ReportPageHeadHostptionTitle{
  font:"隶书";
  font-size:50px;
  font-weight: bold;
 
}
.ReportPageHeadTitle{
  font:"隶书";
  font-size:60px;
  font-weight: bold;
}
.ReportPageHeadOutputValue{
  font:"隶书";
  border-bottom:1 solid black;
  font-size:24px;
}
.ReportPageHeadOutputLabel{
font:"隶书";
font-weight: bold;
font-size:24px;

}

.ReportPageHeadOutputValueH{
  font:"隶书";
  border-bottom:0 solid black;
  font-size:12px;
}
.ReportPageHeadOutputLabelH{
font:"隶书";
font-weight: bold;
font-size:12px;

}
.ReportPageHeadHos{
	font:"隶书";
  font-size:50px;
  font-weight: bold;}