 /* dhcpeireport.normal.cover.css */
 
@media screen {
	.normalcover{
		/* DISPLAY: none; */
		border:3 solid black; /* ²âÊÔ */
		border-top:1 solid black;
		border-right:3 solid #666666;
		border-bottom:5 solid #333333;
		border-left:1 solid black;
		*font-family: "·ÂËÎ_GB2312";*/
	}
}
@media print {
	.normalcover{
		display:block;
		margin:0.00cm 0.00cm 0.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 
		PAGE-BREAK-AFTER: always ;
		*font-family: "·ÂËÎ_GB2312";*/
	}	
}

.ReportPageHeadHostptionTitle{
  font:"ºÚÌå";
  font-size:22px;
  font-weight: bold;
 *font-family: "·ÂËÎ_GB2312";*/
}
.ReportPageHeadTitle{
  font:"ºÚÌå";
  font-size:36px;
  font-weight: bold;
  *font-family: "·ÂËÎ_GB2312";*/
}
.ReportPageHeadOutputValue{
  border-bottom:0 solid black;
  *font-family: "·ÂËÎ_GB2312";*/
}
.ReportPageHeadOutputValue2{
  border-bottom:0 solid black;
  *font-family: "·ÂËÎ_GB2312";*/
   font-size:6px;
}
.ReportPageHeadOutputLabel{
font-weight: bold;
*font-family: "·ÂËÎ_GB2312";*/
}
.V{
filter:FlipV;
}
.H{
filter:FlipH;
}
.nextpage{
 page-break-before: always;
}
.afterpage{
 PAGE-BREAK-AFTER: always ;
 page-break-before: always;
  /*page-break-before: always;ÔÚ±êÇ©Ç°»»Ò³*/
}