/* 描述块数据 总检建议 结论 */
.Block{
	background-color:#FFFFFF; /* 必须 */
	display:block;
	width:21.00cm; 	/* A4纸的宽度 */
	/* margin:0.5cm 0.1cm 0.1cm 0.1cm; */
	padding:0.1cm 0.1cm 0.1cm 0.1cm;
	border:3 solid black; /* 测试 */
	border-top:1 solid black;
	border-right:3 solid #666666;
	border-bottom:5 solid #333333;
	border-left:1 solid black;

}	

.Block table{
	display:block;
	margin-top:0.2cm;
	width:18.00cm; /* 必须 */
	border:2 solid #FFFFFF; /* 测试 */
	
}

.Block table tbody tr td{
	padding-left:0.8cm; /*  前空白 */
	
}

.Block table thead tr td{
	padding-left:0.4cm; /*  前空白 */
 	font-weight: bold; /* 加粗显示 */
	
}

pre{
	text-align:left;

}