/* dhcpeireport.noraml.summarize.css */

@media screen {
	.SummarizeList{
		display:block;
		border:0 solid black; /* ≤‚ ‘ */
	}
	
	.Summarize{
		margin:0.0cm 1px 1px 1px;
		padding:0.1cm 1.5cm 0.3cm 2.0cm;
		border:3 solid black; /* ≤‚ ‘ */
		border-top:1 solid black;
		border-right:3 solid #666666;
		border-bottom:5 solid #333333;
		border-left:1 solid black;

	}
}

@media print {
	.SummarizeList{
		display:block;
		border-bottom:0 solid black; /* ≤‚ ‘ */
	}
	.Summarize{
		display:block;
		margin:0.00cm 0.00cm 0.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 
	}	
}

.SummarizeTitle {
	display:block;
	padding:3px 3px 3px 3px;
	border-bottom:0 solid black;
	font-weight:bold;
	font-size:14px;
	background-color:#999999;
}
.StationSummarizeTitle{
	display:block;
	padding:0px 3px 0px 3px;
	border-bottom:0 solid black;
	font-weight:bold;
	font-size:13px;
}
.StationSummarizeData{
	display:block;
	font-size:12px;
	white-space:normal;
	padding:0px 3px 0px 20px;
	font-family:"Courier New" ;
}
.SummarizeData{
	display:block;
	font-size:14px;
	padding:1px 3px 10px 20px;
	line-height: 25px;
}
.SummarizeTable{
	display:block;
	font-size:14px;
	margin:0px 0px 1px 0px;
}
