
/* dhcpeireport.noraml.result.lis.css */
/* 检验报告格式(适用检查,免疫类等定性结果) */
@media screen {
	.NORReport{
		border:3 solid black; /* 测试 */
		border-top:1 solid black;
		border-right:3 solid #666666;
		border-bottom:5 solid #333333;
		border-left:1 solid black;
		
		margin:0.5cm 1px 1px 1px;
		padding:0.1cm 1.5cm 0.3cm 2.0cm;
		
	}
}


@media print {
	.NORReport{
		display:block;
		margin:0.00cm 0.00cm 1.00cm 0.00cm; 
		padding:0.00cm 0.00cm 0cm 0.00cm; 

	}	
}
.ResultNorTable{
	display:block;
	margin:3px 3px 3px 3px;
}
/* 报告页头 */
.NORHead{
	display:block;
	padding:0px 0px 0px 0px;
	border-bottom:1 solid black;
	font-size:14px;
}

/* 报告页头 体检项目*/
.NORHeadARCIMDesc{
	font-weight:bold;
	background-color:#ECECEC;
	font-size:15px;
	border-top:2 solid black;
	/*background-image:url(../images/dhcpe/logo.gif) */
}

/* 结果标题栏 */
.NORResultTtile{
	display:block;
	padding:0px 0px 0px 0px;
	border-top:0 solid black;
	border-bottom:1 solid black;
	font-size:14px;
	font-weight:bold;
}
/* 结果标题栏 项目名称*/
.NORResultTtileTestName{

}

/* 结果标题栏 检查结果*/
.NORResultTtileTestValue{

}

/* 结果行 */
.NORResult{
	
}

/* 结果行 项目名称 */
.NORResultTestName{
	display:block;
	white-space:normal;
	padding:1px 3px 2px 10px;
	font-size:13px;
}

/* 结果行 结果 */
.NORResultTestValue{
	display:block;
	white-space:normal;
	font-size:13px;
	padding:1px 3px 2px 10px;
	
}

/* 报告页角 */
.ReportReultFooter{
	font-size:14px;
	display:block;
	padding:3px 3px 3px 3px;
	border-top:1 solid black;
}

.NORFooter{
	display:block;
	padding:3px 3px 3px 3px;
	border-top:0 solid black;
	font-size:13px;
}
.NORFooterCheckDate{
	TEXT-ALIGN:right;
	font-size:13px;
	font-weight:bold;
}
.NORFooterChecker{
	font-size:13px;
	TEXT-ALIGN:right;
	font-weight:bold;
}