/* DHCST CSS*/
	TR.Green
	{
    	PADDING-LEFT: 3px;
    	BACKGROUND-COLOR: #a0e0a0;
	}
	TR.Red
	{
    	PADDING-LEFT: 3px;
    	BACKGROUND-COLOR: #e00000;
	}
	TR.Blue
	{
    	PADDING-LEFT: 3px;
    	BACKGROUND-COLOR: deepskyblue;
	}
	TR.White
	{
	    PADDING-LEFT: 3px;
		BACKGROUND-COLOR: white;
	}
	TR.Black
	{
	    PADDING-LEFT: 3px;
		BACKGROUND-COLOR: black;
		color: white 
	}
	TR.Fuchsia
	{
	    PADDING-LEFT: 3px;
		BACKGROUND-COLOR: #e000e0;
	}
	TR.Yellow
	{
	    PADDING-LEFT: 5px;
	    background-image: url(../images/bg_line.jpg);
 	    background-repeat: repeat-x;
		background-position: bottom;
		BACKGROUND-COLOR: #ffffc0;
	}
	TR.Gray
	{
	    PADDING-LEFT: 5px;
	    background-image: url(../images/bg_line.jpg);
	    background-repeat: repeat-x;
	    background-position: bottom;
		BACKGROUND-COLOR: gray;
	}
	TR.Maroon
	{
	    PADDING-LEFT: 3px;
		BACKGROUND-COLOR: maroon;
		color: white;
	}
	TR.Purple
	{
	    PADDING-LEFT: 3px;
		BACKGROUND-COLOR: purple;
		color: yellow;
	}
	TR.RowWhite
	{
	PADDING-LEFT: 5px;
	background-image: url(../images/bg_line.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #FFFFFF;
	}
	TR.RowBlueGreen
	{
	PADDING-LEFT: 5px;
	background-image: url(../images/bg_line.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color:  #C4FEFF;
	}
	TR.RowPink
	{
	PADDING-LEFT: 5px;
	background-image: url(../images/bg_line.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color:  #FFB5C5;
	}