/* 
 *date:  			2014-02-20
 *Description:  	抗菌提示功能
 *Ceator:			qp
 *
*/
#Cai1 {
	BACKGROUND-COLOR: #dae7f6;
	BORDER-BOTTOM: white 2px outset; 
	BORDER-LEFT: white 2px outset; 
	BORDER-RIGHT: white 2px outset;
	BORDER-TOP: white 2px outset; left: 0px;
	POSITION: absolute; top: 0px; VISIBILITY: true;
	WIDTH: 130px; 

}
#Cai1 a:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none; 
 }
#Cai1 a:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none
 }
#Cai1 a:hover {
 	FONT-SIZE: 12px; TEXT-DECORATION: underline;
 }
#Cai1 a:active {
	FONT-SIZE: 12px; TEXT-DECORATION: none
 }