@media screen {
	/*BODY
	{
	    SCROLLBAR-FACE-COLOR: #336699;
	    FONT-SIZE: 14px;
	    MARGIN: 0px;
	    SCROLLBAR-HIGHLIGHT-COLOR: #73a3cf;
	    SCROLLBAR-SHADOW-COLOR: #335997;
	    COLOR: black;
	    SCROLLBAR-3DLIGHT-COLOR: black;
	    SCROLLBAR-ARROW-COLOR: #ffffce;
	    SCROLLBAR-TRACK-COLOR: #ccc;
	    FONT-FAMILY: Tahoma, "宋体";
	    SCROLLBAR-DARKSHADOW-COLOR: black;
	    BACKGROUND-COLOR:#f4f4f4;

	}*/
		BODY
	{
	    SCROLLBAR-FACE-COLOR: #f5f5f5;
	    FONT-SIZE: 9pt;
	    MARGIN: 0px;
	    SCROLLBAR-HIGHLIGHT-COLOR: #fff;
	    SCROLLBAR-SHADOW-COLOR: #aaa;
	    COLOR: black;
	    SCROLLBAR-3DLIGHT-COLOR: #aaa;
	    SCROLLBAR-ARROW-COLOR: #007cff;
	    SCROLLBAR-TRACK-COLOR: #e5e5e5;
	    FONT-FAMILY: Tahoma, "宋体";
	    SCROLLBAR-DARKSHADOW-COLOR: #e5e5e5;
	    BACKGROUND-COLOR:#fafcff/*#f6f9fe/*;#f4f4f4*/;
		overflow-y:scroll;
		overflow-x:auto;

	}
	
	.tbToolbar
	{
	font-size:14px;
	/*BORDER-RIGHT: 1px ridge;
	    BORDER-TOP: 1px ridge;
	    BORDER-LEFT: 1px ridge;
	    BORDER-BOTTOM: 1px ridge;*/
		
		WIDTH: 100%;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma, "宋体";
	HEIGHT: 27px;
	/*background-image: url(../images/bg_tbToolbar.jpg);*/	
	BACKGROUND-COLOR: #669bd3;/*#336799;/*99336B*/
			
		
		
	}
	.tbMenu
	{
	CURSOR: default;
	font-size:14px;
	FONT-FAMILY: Tahoma, "宋体";
	COLOR: #ffffff;
    BACKGROUND-COLOR:#669bd3;/*#336799/*99336B*/;
	/*background-image: url(../images/bg_menu.jpg);*/
	padding: 1px;
	}
	.tbMenuHighlight
	{
	    font-size:14px;
		/*BORDER-RIGHT: #336799/*99336B*/ /*1px solid;
	    PADDING-RIGHT: 1px;
	    BORDER-TOP: white 1px solid;
	    PADDING-LEFT: 1px;
	    
	    PADDING-BOTTOM: 1px;
	    BORDER-LEFT: white 1px solid;*/
	    CURSOR: default;
	    /*PADDING-TOP: 1px;
	    BORDER-BOTTOM: #336799/*99336B*/ /*1px solid;*/
	    FONT-FAMILY: Tahoma, "宋体";
	    COLOR: #336799/*99336B*/;
	}
	.tbMenu A
	{
	    FONT-SIZE: 14px;
	    COLOR: #336799/*99336B*/;
	    FONT-FAMILY: Tahoma, "宋体";
	    TEXT-DECORATION: none;
	}
	.tbMenu A:hover
	{
	    FONT-SIZE: 14px;
	    COLOR: yellow;
	    FONT-FAMILY: Tahoma, "宋体";
	    TEXT-DECORATION: none;
	}
	.tbMenuItemHide
	{
	    DISPLAY: none;
	    FONT-SIZE: 14px;
	    FONT-FAMILY: Tahoma, "宋体";;
	    POSITION: absolute;
	}
	.tbMenuItem
	{
	   /*BORDER-RIGHT: #336799/*99336B*/ /*1px solid;
	   BORDER-TOP: white 1px solid;
	   BORDER-LEFT: white 1px solid;
	   BORDER-BOTTOM: #336799/*99336B*/ /*1px solid;
	   PADDING-RIGHT: 2px;	   
	   PADDING-LEFT: 2px;	   
	   PADDING-BOTTOM: 2px;
	   PADDING-TOP: 2px;*/
	   
	   FONT-SIZE: 14px;
	   CURSOR: default;
	   COLOR: #336799/*99336B*/;
	   FONT-FAMILY: Tahoma, "宋体";;
	   POSITION: absolute;
	   BACKGROUND-COLOR:#4f93d5/*#547fa9/* #336799/*99336B*/;
	   TEXT-DECORATION: none;
	}
	.tbMenuItem A
	{
	    FONT-SIZE: 14px;
	    COLOR: #336799/*99336B*/;
	    FONT-FAMILY: Tahoma, "宋体";;
	    TEXT-DECORATION: none;
	}
	.tbMenuItem A:hover
	{
	FONT-SIZE: 14px;
	COLOR: #0065c8;
	FONT-FAMILY: Tahoma, "宋体";
	BACKGROUND-COLOR: #ebf6ff/*#4085c9/*#5581aa*/;
	TEXT-DECORATION: none;
	/*background-image: url(../images/bg_menu_a.jpg);
	background-repeat: repeat-x;*/
	}
	.tbToolbar TD
	{
	COLOR: white;

	}
	.tbToolbar TD A
	{
	    COLOR: white;
  	}
	.clsLookUp
 	{
	/*BACKGROUND-COLOR: #ffffff/*#efefef/**ffff99**/;
	background-image:url(../images/bg_lookup.jpg);
	background-position: right bottom;
	background-repeat: repeat-y;*/


	font-size:9pt;
	FONT-WEIGHT: lighter;
	COLOR: #000000;
	background-image:url(../images/th_bg.gif);
	TEXT-ALIGN:center;
	height:22;
	}




	#tblLookup TD
	{
	    PADDING-LEFT:2pt;
	    PADDING-RIGHT:2pt;
	    FONT-SIZE: 14px;
	    COLOR: black;
	    FONT-FAMILY: Tahoma, "宋体";;
	    CURSOR: hand;
	}
	.clsLookup TH
	{
	    COLOR: white;
	    FONT-WEIGHT: bold;
    	    TEXT-ALIGN: left;
	}
	.clsLookUpSelected TD
	{ 
	    BACKGROUND-COLOR:#b6d8fb/*#8cecf5/*ffd05e; /*#ffcc33;/*#0a246a;*/;
		font-weight:bold;
	}
	.clsLookUpDate
	{
	    BACKGROUND-COLOR: #a6b9ec;
	    COLOR: white;
	    FONT-SIZE: 14px;
	    FONT-WEIGHT: bold;
	    TEXT-ALIGN: center;
	    CURSOR: hand;
	}
	.clsLookUpDateDayTitle
	{
	    BACKGROUND-COLOR: #a6b9ec;
	    TEXT-ALIGN: center;
	    FONT-SIZE: 14px;
	    BORDER: 1px solid white;
	}
	.clsLookUpDateWeekday
	{
	    BACKGROUND-COLOR: white;
	    FONT-SIZE: 14px;
	    PADDING-TOP: 4px;
	    PADDING-RIGHT: 2px;
	}
	.clsLookUpDateWeekend
	{
	    BACKGROUND-COLOR: #dfdfff;
	    FONT-SIZE: 14px;
	    PADDING-TOP: 4px;
	    PADDING-RIGHT: 2px;
	}
	.clsLookUpDateSelected
	{
	    BACKGROUND-COLOR: #ffcc33; /*date to select*/
	    FONT-SIZE: 14px;
	    PADDING-TOP: 4px;
	    PADDING-RIGHT: 2px;
		color:#FFFFFF;
	}
	.clsLookUpDateToday
	{
	    BACKGROUND-COLOR: #FFDDCC; /*today*/
	    FONT-SIZE: 14px;
	    PADDING-TOP: 4px;
	    PADDING-RIGHT: 2px;
	}
	.clsRowSelected
	{
	    BACKGROUND-COLOR: #3885d4/*005dc5/*0a246a/*eeea88*/; 
		color:#FFFFFF;
	}
	.clsRowDisabled {
	    BACKGROUND-COLOR: Silver;
	}
	
	.clsRowPre {
	    BACKGROUND-COLOR: BlanchedAlmond;
	}
	.clsRowTempLoc {
	    BACKGROUND-COLOR: LightSeaGreen;
	}
	.clsRowAlert {
	    BACKGROUND-COLOR: fuchsia;
	}
	.clsBoarderOut {
	    BACKGROUND-COLOR: DarkSalmon;
	}
	.clsOutlier {
	    BACKGROUND-COLOR: LightSkyBlue;
	}
	
	.tbTitle
	{
	    FONT-SIZE: 14px;
	    CURSOR: default;
	    COLOR: black;
	    FONT-FAMILY: Tahoma, "宋体";;
	}
	TH
	{
	font-size:9pt;
	FONT-WEIGHT: lighter;
	COLOR:#ffffff;
	/*BACKGROUND-COLOR: #336699;/*#d9e7f5;*/
	TEXT-ALIGN:center;
	height:22;
	/*background-image: url(../images/bg_th_lookup.jpg);*/
	background-image:url(../images/tb_menu_bg.jpg);

	background-repeat: repeat-x;
	background-position: top;
	padding: 3px;
	}
	.RowSeparator
	{
	    BORDER-TOP: 1px ridge;
	    BACKGROUND-COLOR: #999999;
	}
	LABEL.clsRequired
	{
	    FONT-WEIGHT: bold;
	    COLOR: #330099;
		font-size:14px;
	}
	BODY TABLE
	{
	    FONT-SIZE: 14px;
	    COLOR: #ffffff;
	}
	TEXTAREA
	{
	    FONT-SIZE: 14px;
	    FONT-FAMILY: Tahoma, "宋体";;
	}
	SELECT
	{
	    FONT-SIZE: 14px;
	    FONT-FAMILY: Tahoma, "宋体";;
	}
	/*BODY A
	{
	    COLOR: #990033;
	    TEXT-DECORATION: underline;
	}
	BODY A:active
	{
	    COLOR: white;
	    BACKGROUND-COLOR: #990033;
	}1
	BODY A:hover
	{
	    COLOR: #3300ff;
	}*/
a{
	FONT-SIZE: 14px;	
	color:#0000CC;
	text-decoration: none;
}
a:hover {
	FONT-SIZE: 14px;
	color: #0066ff;
	text-decoration: underline;
}
A:active
	{FONT-SIZE: 14px;
	color:#0000CC;	
	text-decoration: none;}


	.disabledField
	{
	    BACKGROUND-COLOR: #dddddd;
	}
	.disabledInvisibleField
	{
	    BACKGROUND-COLOR: #dddddd;
	    COLOR: #dddddd;
	}
	BODY INPUT
	{
	    FONT-SIZE: 14px;
	}
	BODY FORM
	{
	    MARGIN: 0px;
	}
	TD.CellCaption
	{
	COLOR: black;
	BACKGROUND-COLOR:#ffffff/* #d8e3f4*/;
	border: 1px solid #3785d2;
	padding: 0px;
	}
	TD.CellData
	{
	    COLOR: black;
	   /*BACKGROUND-COLOR: #cfcfff;*/
	}
		TR.YColor
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: palegreen;
	}
	TR.PSColor
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: red;
	}
	TR.LColor
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: fuchsia;
	}
	TR.XColor
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: deepskyblue;
	}
	TR.BColor
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #80C0FF;
	}
	TR.CColor
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #8080C0;
	}
	TR.SColor
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #FFFFC0;
	}
	TR.MColor
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #FFC0C0;
	}
	TR.AColor
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #DFDFFF;
	}
/**
	.RowOdd
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR:#FFFFFF;
	}
	.RowEven
	{
	    PADDING-LEFT: 3px;
	    BACKGROUND-COLOR: #f7f7f7;
	}
	*
灰底:
.RowOdd
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR:#f0f0f0;
	}
	.RowEven
	{
	    PADDING-LEFT: 3px;
	    BACKGROUND-COLOR:#e7e7e7;
	}*/
	.RowOdd
	{
	PADDING-LEFT: 5px;
	background-image: url(../images/bg_line.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #FFFFFF;
	}
	.RowEven
	{
	PADDING-LEFT: 5px;
	background-image: url(../images/bg_line.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	background-color: #F7FBFF;
	}
	
	.EMRResultCommentRowOdd
	{
	    PADDING-LEFT: 3px;
	    BACKGROUND-COLOR: #cfcfff;
	/*    FONT-FAMILY: courier; */
	    FONT-WEIGHT: normal;
            FONT-STYLE: normal;
	    FONT-SIZE: 14px;
	    COLOR: black;
	}
	.EMRResultCommentRowEven
	{
	    PADDING-LEFT: 3px;
	    BACKGROUND-COLOR: #dfdfff;
	/*    FONT-FAMILY: courier; */
 	    FONT-WEIGHT: normal;
            FONT-STYLE: normal;
	    FONT-SIZE: 14px;
	    COLOR: black;
	}
	.RowSeparator
	{
	    BORDER-RIGHT: 0px solid;
	    BORDER-TOP: 0px solid;
	    BORDER-LEFT: 0px solid;
	    BORDER-BOTTOM: 0px solid;
	    BACKGROUND-COLOR: #336699;
	}
input {
	border: 1px solid #9D9D9D;
}
/*	.tblList
	{
	background-color:#FFFFFF;
	border: 1px solid #3785D2;
}*/
	.tblListSelect
	{
	    CURSOR: hand;
	}
	.tblListSelect A
	{
	    COLOR:#0033CC/*#990033*/;
	}
	.tblListSelect A:hover
	{
	    COLOR:#0066FF;
	}

	.tblList A
	{
	    COLOR: #0033CC/*#990033*/;
	}
	.tblList A:hover
	{
	    COLOR: #0066FF/*black;*/
	}

	.clsInvalid
	{
	    COLOR: red;
	}
	
	INPUT.clsInvalid
	{
	    ZOOM: 1.2;
	    BORDER-RIGHT: red 1px solid;
	    BORDER-TOP: red 1px solid;
	    BORDER-LEFT: red 1px solid;
	    BORDER-BOTTOM: red 1px solid;
	    BACKGROUND-POSITION: right top;
	    BACKGROUND-IMAGE: url(../images/websys/error.gif);
	    BACKGROUND-REPEAT: no-repeat;
	}
	INPUT.clsWarning
	{
	    ZOOM: 1.2;
	    BORDER-RIGHT: blue 1px solid;
	    BORDER-TOP: blue 1px solid;
	    BORDER-LEFT: blue 1px solid;
	    BORDER-BOTTOM: blue 1px solid;
	    BACKGROUND-POSITION: right top;
	    BACKGROUND-IMAGE: url(../images/websys/exclamation.gif);
	    BACKGROUND-REPEAT: no-repeat;
	}
	INPUT.clsInfo
	{
	    ZOOM: 1.2;
	    BORDER-RIGHT: yellow 1px solid;
	    BORDER-TOP: yellow 1px solid;
	    BORDER-LEFT: yellow 1px solid;
	    BORDER-BOTTOM: yellow 1px solid;
	    BACKGROUND-POSITION: right top;
	    BACKGROUND-IMAGE: url(../images/websys/information.gif);
	    BACKGROUND-REPEAT: no-repeat;
	}
	TR.RowEven1
	{
	    BACKGROUND-COLOR: #ffffcc;
	}
	TR.RowOdd1
	{
	    BACKGROUND-COLOR: #ffff99;
	}
/*TD
	{
	    PADDING-RIGHT: 0px;
	    PADDING-LEFT: 0px;
	    PADDING-BOTTOM: 0px;
	    MARGIN: 0px;
	    PADDING-TOP: 0px;
	}*/
	
	TD
	{
	MARGIN: 0px;
	padding: 2px;
	vertical-align: middle;
	}
	TD.DentalSel {
	    BACKGROUND-COLOR: Yellow;
	}
	TD.Insurance {
	    BACKGROUND-COLOR: Blue;
	}
	TD.Govement {
	    BACKGROUND-COLOR: Orange;
	}
	TD.Private {
	    BACKGROUND-COLOR: Yellow;
	}
	#fPAPerson_Banner
	{
	}
	#fPAPerson_Banner TABLE	{
	    FONT-WEIGHT: bold;
	    FONT-SIZE: 14px;
	    /*TEXT-TRANSFORM: capitalize;*/
	    COLOR: #ffffff;
	    HEIGHT: 16pt;
	    /*BACKGROUND-COLOR: #f5deb3;*/ /*original pale orange colour*/
	   BACKGROUND-COLOR: whitesmoke;
	    BORDER-LEFT: #000099 3px solid;
	    BORDER-RIGHT: #000099 3px solid;
	    BORDER-TOP: #000099 3px solid;
	    BORDER-BOTTOM: #000099 3px solid;
	    TEXT-ALIGN: center;
	}
}
	TR.SlotOverride
	{
	    BACKGROUND-COLOR: #8080ff;
	}
	TR.SqueezedIn
	{
	    BACKGROUND-COLOR: Thistle;
	}
	TR.PatientNotAttending
	{
	    BACKGROUND-COLOR: #dcdcd6;
	}
	TR.NotAvailableEvent
	{
	    BACKGROUND-COLOR: #99ff00;
	}
	TR.PublicHol
	{
	    BACKGROUND-COLOR: blue;
	}
	.NotAvailable
	{
	    BACKGROUND-COLOR: #dc8cd6;
	}
	.TransactionBooking
	{
	    BACKGROUND-COLOR: Thistle;
	}
	.EstDOB
	{
		COLOR:fuchsia;
	}
	.EstInjury
	{
		COLOR:fuchsia;
	}
	.EMROtherEpsOdd
	{
	  BACKGROUND-COLOR: #cfcfff;
	  FONT-STYLE: italic;
	}
	.EMROtherEpsEven
	{
	  BACKGROUND-COLOR: #dfdfff;
	  FONT-STYLE: italic;
	}
	.AbnrmlResOdd
	{
	  BACKGROUND-COLOR: #cfcfff;
		COLOR: #FF0000;
	}
	.AbnrmlResEven
	{
	  BACKGROUND-COLOR: #dfdfff;
		COLOR: #FF0000;
	}
	.AbnrmlEMROtherEpsOdd
	{
	  BACKGROUND-COLOR: #cfcfff;
	  FONT-STYLE: italic;
		COLOR: #FF0000;
	}
	.AbnrmlEMROtherEpsEven
	{
	  BACKGROUND-COLOR: #dfdfff;
	  FONT-STYLE: italic;
	  COLOR: #FF0000;
	}

	.NormalResult
	{
	    COLOR: BLACK;
	}
	.HighResult
	{
	    COLOR: #FF0000;
	}
	.LowResult
	{
	    COLOR: #FF0000;
	}
	.HighHighResult
	{
		COLOR: PURPLE;
	}
	.LowLowResult
	{
		COLOR: GREEN;
 	}
	.AbnormalResult
	{
	 	COLOR: #FF0000;
	}
	.NormalResultOtherEps
	{
 		COLOR: BLACK;
		FONT-STYLE: italic;
	}
	.HighResultOtherEps
	{
	 	COLOR: #FF0000;
		FONT-STYLE: italic;
	}
	.LowResultOtherEps
	{
		COLOR: #FF0000;
		FONT-STYLE: italic;
	}
	.HighHighResultOtherEps
	{
		COLOR: PURPLE;
		FONT-STYLE: italic;
	}
	.LowLowResultOtherEps
	{
		COLOR: GREEN;
		FONT-STYLE: italic;
	}

	.EMRAllergyInactive
	{
	  BACKGROUND-COLOR: Gray;
	}
	.EMRAlertClosed
	{
	  BACKGROUND-COLOR: Gray;
	}
	.ORANAOperCancelled
	{
	  BACKGROUND-COLOR: Gray;
	}
	.tblBoarder
	{
	  BACKGROUND-COLOR:DodgerBlue;
	}
	.HeaderHyperlink_OT
	{
	    COLOR: #ffffff;
	    BACKGROUND-COLOR: #cfcfff;
	    TEXT-ALIGN: left;
	}
	.HeaderHyperlink_R
	{
	    COLOR: white;
	    BACKGROUND-COLOR: #336699;
	    TEXT-ALIGN: left;
	}
	H1
	{
	    TEXT-ALIGN: center;
            TEXT-TRANSFORM: uppercase;
	    DISPLAY: inline;
            FONT-FAMILY: Tahoma, "宋体";;
	    FONT-WEIGHT: bold;
            FONT-STYLE: bold;
	    FONT-SIZE: 14px;
           /* LETTER-SPACING: 2pt;*/
	    COLOR: #000/*darkblue*/;
	    /*BACKGROUND-COLOR: #dfdfff;*/
	}
	H2
	{
	    TEXT-ALIGN: center;
            TEXT-TRANSFORM: uppercase;
	    DISPLAY: normal;
            FONT-FAMILY: Tahoma, "宋体";;
	    FONT-WEIGHT: bold;
            FONT-STYLE: bold;
	    FONT-SIZE: 14px;
            /*LETTER-SPACING: 2pt;*/
 		COLOR: darkblue;
	    /*BACKGROUND-COLOR: #dfdfff;*/
	}
	H3
	{
	    TEXT-ALIGN: left;
	    DISPLAY: inline;
            FONT-FAMILY: Tahoma, "宋体";;
	    FONT-WEIGHT: bold;
            FONT-STYLE: bold;
	    FONT-SIZE: 7pt;
 		COLOR: darkblue;
	    BACKGROUND-COLOR: #dfdfff;
	}
	H4
	{
	    TEXT-ALIGN: left;
	    DISPLAY: inline;
            FONT-FAMILY: Tahoma, "宋体";;
	    FONT-WEIGHT: normal;
            FONT-STYLE: normal;
	    FONT-SIZE: 7pt;
 		COLOR: darkblue;
	    BACKGROUND-COLOR: #dfdfff;
	}
	H5
	{
	    DISPLAY: inline;
 		COLOR: darkblue;
	    BACKGROUND-COLOR: #dfdfff;
	}

	H6
	{
	    DISPLAY: inline;
          FONT-FAMILY: Tahoma, "宋体";;
	    FONT-WEIGHT: normal;
          FONT-STYLE: normal;
	    FONT-SIZE: 14px;
	    COLOR: black;
	    
	}
	.maintitle{
	font-family: "黑体";
	font-size:16px;
	color:#003399;
	line-height: 30px;
	padding-right: 5px;
	padding-left: 5px;
	width: 500px;
	height:15pt;
	background-image: url(../images/bgtitle.jpg);
	background-repeat: no-repeat;	
}}

@media print {
	BODY
	{
	    MARGIN: 0px;
	    COLOR: black;
	    FONT-FAMILY: Tahoma, "宋体";;
	    FONT-SIZE: 14px;
	}
	.tblList TD
	{
	    BORDER-RIGHT: medium none;
	    BORDER-TOP: medium none;
	    BORDER-LEFT: #5c5c5c 1px solid;
	    BORDER-BOTTOM: #5c5c5c 1px solid;
	    BACKGROUND-COLOR: #e1e1e1;
	    FONT-FAMILY: Tahoma, "宋体";;
	    FONT-SIZE: 14px;
		margin: 0px;
	}
	.tblListSelect TD
	{
	    BORDER-RIGHT: medium none;
	    BORDER-TOP: medium none;
	    BORDER-LEFT: #5c5c5c 1px solid;
	    BORDER-BOTTOM: #5c5c5c 1px solid;
	    BACKGROUND-COLOR: #e1e1e1;
	    FONT-FAMILY: Tahoma, "宋体";
	    FONT-SIZE: 14px;
	}
	TH
	{
	    BORDER-RIGHT: 1px ridge;
	    BORDER-TOP: 1px ridge;
	    BORDER-LEFT: 1px ridge;
	    COLOR: black;
	    BORDER-BOTTOM: 1px ridge;
	    FONT-WEIGHT: lighter;
    	    TEXT-ALIGN: left;
	    FONT-FAMILY: Tahoma, "宋体";;
	    FONT-SIZE: 14px;
	}

}
