.tb
{
    BORDER-RIGHT: 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1px;
    CURSOR: hand;
    COLOR: #dfdfff;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #336699;
    TEXT-ALIGN: left
}
.tb A
{
    COLOR: #dfdfff;
    TEXT-DECORATION: none
}
.tb A:hover
{
    COLOR: white
}
.tbishow
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1px;
    CURSOR: hand;
    COLOR: #dfdfff;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #6699cc;
    TEXT-ALIGN: left
}
.tbishow A
{
    COLOR: #dfdfff;
    TEXT-DECORATION: none
}
.tbishow A:hover
{
    COLOR: white
}
.tbihide
{
    DISPLAY: none;
    VISIBILITY: hidden
}
BODY
{
    BACKGROUND-COLOR: #336699
}
BODY A:active
{
    BACKGROUND-COLOR: #336699
}
