
/* This file is for the toolbar menu on the left hand side */


/* following section defines the colors for the top level menu items
it is the way they look before you press any of them to get to the
next level down in the menu */
.tb
{
    BORDER-RIGHT: 1px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1px;
    CURSOR: hand;
    COLOR: white;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: #0ab6b1; /* background colour of top menu item */
    TEXT-ALIGN: left
}

/* following section defines the color of the caption of the top level
menu options. this is the color they appear when you first get the page,
before the user puts the mouse over them or clicks on them */
.tb A
{
    COLOR: white; 
    TEXT-DECORATION: none
}

/* following section is the color of the menu option when the cursor
hovers over the top level menu item */
.tb A:hover
{
    COLOR: black
}

/* following section is the colors of sub menu options
after you have clicked on the first level menu */
.tbishow
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1px;
    CURSOR: hand;
    COLOR: white;
    BORDER-BOTTOM: 1px;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: teal;
    TEXT-ALIGN: left
}

/* following section is color of text in sub menu option */
.tbishow A
{
    COLOR: white;
    TEXT-DECORATION: none
}

/* following section is color of text in sub menu when user
has the mouse over it */
.tbishow A:hover
{
    COLOR: black
}
.tbihide

{
    DISPLAY: none;
    VISIBILITY: hidden
}

/* overall stuff */
BODY
{
    BACKGROUND-COLOR: 0AB6B1; /* colour for overall background */
    COLOR: White /* color of any text not in a menu option */
}

/* the background color of the menu option that you have clicked
to select.. so you can easily see which option you have picked */
BODY A:active
{
    BACKGROUND-COLOR: #990033
}
