@charset "utf-8";

/*
	Description:dhcst druginfo style;
	CreateDate:2017-07-30;
*/

.dhcst-win-content {
    padding-left: 10px;
    padding-top: 10px;
}

.dhcst-win-row-split {
    padding-top: 10px;
}

.dhcst-easyui-box-mid {
    width: 200px;
    height: 20px;
}

.dhcst-easyui-box-lg {
    width: 250px;
    height: 20px;
}

.dhcst-easyui-box-sm {
    width: 150px;
}

.dhcst-easyui-box-xs {
    width: 100px;
}

.dhcst-win-toolbar {
    height: 35px;
}

.dhcst-win-toolbar div {
    padding-top: 5px;
}

.dhcst-td-align {
    text-align: right;
}

.dhcst-td-offset {
    padding-left: 10px;
}

.dhcst-td-offset-2 {
    padding-left: 20px;
}

.dhcst-tr-split {
    height: 5px;
}

.dhcst-td-checkbox {
    vertical-align: bottom;
    padding-left: 50px;
}

.dhcst-win-content-row-1 {
    height: 50px;
}

.dhcst-win-content-row-2 {
    height: 80px;
}

.dhcst-condition-toolbar {
    padding-top: 2px;
}

.dhcst-btn-spit {
    margin-left: 3px;
}