

.icon:before {
    display: inline-block;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ring-blue:before, .icon-skip-no:before {
    content: "    ";
    white-space:pre;
}
