TH{
  font-size: 14px !important;
}
/*
jqGrid 样式复写 
*/
/*输入框的焦点边框样式*/
/*.ui-jqgrid input:focus {
 border: 2px solid #509DE1;
 box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6)
}*/
/*表格边框样式*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  color: black;
  background: #ededed;
  border: 1px solid #ddd;
}
.ui-jqgrid{
 border-right: 0;
 border-bottom: 0;
 border-left: 0;
}
.ui-jqgrid tr.ui-row-ltr td{
 border-right: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
}
.ui-widget-content{
   border-top: 1px solid #ddd;
}
.ui-jqgrid tr{
   height: 40px;
}
.ui-jqgrid tr.jqgrow td {
  white-space: normal !important;
}
.ui-jqgrid .tabs-wrap{
   margin-left: 0px;
}
.ui-jqgrid tr.jqgrow td{
 height: 40px;
}
.ui-jqgrid select[multiple], select[size],.ui-jqgrid INPUT{
 height: 28px;
}
/*悬浮*/
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
 background: none;
 border: 1px solid #ddd;
 background-color: #d2eafe;
 color: #000;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
 background: none;
 border: 1px solid #d2eafe;
 background-color: #ffe48d;
 /*color: #fff;*/
}
.ui-jqgrid .ui-jqgrid-htable th{
  padding: 5px 2px;
  color: black;
  background: #f4f6f5;
  border: 1px solid #ddd;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button,.ui-widget{
 font-family: "微软雅黑";
}
.ui-corner-all{
 border-radius: 0;
}
/*jqgrid自适应布局,固定表头*/
.ui-jqgrid{
 height:100%!important;
 width:100%!important;
}
.ui-jqgrid-view{
 height:100%;
 width:100%!important;
}
.ui-jqgrid-hdiv{
 width:100%!important;
}
.ui-jqgrid-bdiv{
 height:calc(100% - 40px)!important;
 width:100%!important;
}
/* 控制拖拽输入框时编辑框宽度自适应 */
#Order_DataGrid td input.lookup,#Order_DataGrid td select {
 width:100% !important;
}
.ui-jqgrid tr.ui-row-ltr td input{
  box-sizing:border-box;
}