/*患者信息总览css*/
body{
	 font-family: "Microsoft Yahei";
	 font-size: 14px !important;
	 margin: 0px !important;
	 background-color:#FFFFFF;
}
 .icon-envelope{
	 background: url(../../../images/uiimages/call.png) left center no-repeat !important
}
#emr-tabs > .tabs-header,#OrdReSubCatList > .tabs-header{
	width: 100%;
	border-left:0px;
	border-right:0px;
	border-top-color: #ccc;
}
/*div 下面加虚线*/
.underline-div{
	border-bottom: 1px dashed #D4D4D4;
}
.overline-div {
	border-top: 1px dashed #D4D4D4;
}
.dashline-div{
	height:0px;
	border-top:1px dashed #ccc;
}
a,span[id^='Lab'],span[id^='Exam']{
	text-decoration: underline; 
	color: #40A2DE;
}
.editcls-TOrderDesc{
	text-decoration: none;
	color:black; 
}
span[id^='Lab'],span[id^='Exam']{
	margin-left: 5px;
	margin-right: 10px;
}
.leftfloat-div{
	float: left;
	
}
.fixedh-div,.fixedh1-div{
	height: 30px;
	line-height: 30px;
}
.fixedh-div > div:not(last-child){
	margin-right:5px;
}
.fixedh-div > div > span{
	padding:0px 5px;
}
.linkbtn-a{
	display: block;
	float: left;
	text-decoration: none;
	margin-right: 10px;
	margin-top: 3px;
	padding: 0px 10px;
	border: none;
	background: transparent;
	color: blue;
}
.linkbtn-a:hover{
	background-color: #DBEDF9;
	cursor: pointer;
}
a:hover{
	cursor: pointer;
}
.fixedh2-div,.fixedh3-div{
	height: 30px;
	padding:5px 10px;
	border-bottom:1px dashed #ccc;
	white-space:nowrap;
}
.floatleft-li{
	float: left;
}
.panel-header-li li a{
	display: block;
	padding: 10px 10px 9px 10px;
	text-decoration: none;
	border-right: 1px solid #DDDDDD;
	color: white;
	font-weight: 700;
	border-bottom: 1px solid #008FF0 ;
}
.lihover-cls a:hover,.sellihover-cls{
	background-color: white;
	border-top: 2px solid #037CCF;
	color: blue;
	border-bottom: 0px;
}
.sellihover-cls a{
	color: blue !important;
	border-bottom: 0px !important;
	border-top: 0px !important;;
}
.fixed-a a:hover{
	cursor: default;
}
.panel-header-li li{
	float: left;
}
.panel-header-li{
	padding: 0px;
	height: 40px;
}
.fixedmargin-span{
	margin-left: 10px;
	margin-right: 5px;
	vertical-align: middle;
}
.hisui-tabs > .tabs-panels{
	border-bottom-color: white !important;
}
/***************end******/
#DiagWin table tr{
	height: 35px;
}
.webui-popover-title{
	display: block;
	background-color: #f9f9fa;
	text-align: left;
	border-bottom: 1px solid #cccccc;
	color: black;
}
.l-btn-plain .l-btn-icon-left .l-btn-text{
	margin:0px 0px 0px 20px
}
.tree-icon , .tree-file{
	display:none;
}
.toggle-btn{
	color:#40a2de;
	text-decoration:underline;	
	padding-right:13px;
	background:url(../../../../images/fa-angle-double-down_40a2de_12.png) no-repeat center right;
    line-height: 13px;
    display: inline-block;
    border-bottom:1px solid #40a2de;
    cursor:pointer;
}
.toggle-btn.expanded{
	background-image:url(../../../../images/fa-angle-double-up_40a2de_12.png);
}
.search-table{
	border-collapse:separate;
	border-spacing:0 3px;
}
.r-label{
	padding-left: 10px;
}
#ShowDocToDoInfoDIV{
	position: absolute;
	background-color: #FFF;
	width: 100%;
	top: 0px;
	opacity: 1;
	padding: 5px 0 5px 10px;	
	/*height: calc(100% - 13px);*/
	height: 29px;
    z-index: 3;
}
#ShowDocToDoInfoInfo{
	line-height: 28px;
	color:#139E00;
	background-color:#E2FFDE;
	border:1px solid #A6E99C;
	margin-bottom: 3px;
    display: inline-block;
    width: 200px;
    height: auto;
    border-radius: 4px;
    text-align: left;
}
.hisui-radio+.radio{
	margin-right: 5px;
}
.layout>.panel>.panel-body{
	border-radius: 4px;
}