/*begin div实现table布局样式*/
.eq-table
{
	padding:auto;
	display:table;
	/*padding:auto;
	height:100%;
	width:100%;
	/*min-width:0;  //可实现自适应
	max-width:0;*/
	border-collapse:collapse;
}
.eq-table-tr
{
	display:table-row;
}
.eq-table-td
{
	padding-top:5px;
	display:table-cell;
	white-space:nowrap;
	/*white-space:normal;*/
	vertical-align: middle;
}
.eq-table-td>textarea
{
	white-space:normal;
}
.eq-table-label
{
	width:15%;
	text-align:right;
	padding-right:10px;
}
.eq-table-td>a
{
	margin:0 10px;
}
.eq-table-item
{
	font-weight:900;
}
/*end div实现table布局样式*/

/*begin 生命周期时间轴*/
/*首先,我们要创建一个容器class*/
.eq-times
{
	display:block;
	margin-bottom:15px;
}
/*利用ul标签的特性,设置外边框左移25px,左边边框是2px粗的实心线,颜色一般要浅一点*/
.eq-times ul
{
	margin-left:20px;
}
.eq-times-section
{
	background:no-repeat 0 0;
	line-height:30px;
	margin-left:-16px;
}
.eq-times-section a
{
	margin-left:35px;color:#2ab66a;
}
/*一般情况,通过li标签控制圆点回到时间线上,然后控制要出现的文字大小和是否粗体*/
/*add by zx 2020-02-12 下面样式不再使用 ZX0073*/
/*.eq-times-ul-li1
{
	width:100%;
	line-height:20px;
	font-weight:narmal;
	border-left:1px solid #2ab66a;
}*/
.eq-times-ul-li
{
	width:100%;
	line-height:20px;
	font-weight:narmal;
	padding:10px 0px;
	border-left:1px solid #2ab66a;
}
/*add by zx 2020-02-12 下面样式不再使用 ZX0073*/
/*
.eq-times-ul-li-noneborder1
{
	width:100%;
	line-height:20px;
	font-weight:narmal;
	padding:0px 0px 10px 0px;
	position:absolute;
}
.eq-times-ul-li-noneborder2
{
	width:100%;
	line-height:20px;
	font-weight:narmal;
	padding:0px 0px 10px 0px;
	margin-top:-8px;
	position:absolute;
}*/
/*利用处理加粗以外没有其它特别属性b标签做时间轴的圆点*/
.eq-times-firstpoint
{
	width:8px;
	height:8px;
	background:#2ab66a;
	margin:5px 5px 5px -7px;
	border-radius:8px;
	-webkit-border-radius:8px;
	border:3px solid #B9E7D1;
	-moz-border-radius:8px;
	overflow:hidden;
	display:inline-block;
	float:left;
}
/*利用处理加粗以外没有其它特别属性b标签做时间轴的圆点*/
.eq-times-point
{
	width:8px;
	height:8px;
	background:#2ab66a;
	margin:8px 8px 8px -4px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	overflow:hidden;
	display:inline-block;
	float:left;
}
/*设置span标签的属性,让它来做时间显示,加一点边距,使时间显示离时间线远一点*/
.eq-times ul li div
{
	padding-left:20px;
	line-height:25px;
	color:#666;
}
/*这里利用段落标签p做文字介绍*/
.eq-times ul li p
{
	padding-left:20px;
	line-height:25px;
}
.eq-times ul li p a
{
	text-decoration:underline;
}
.eq-times-icon
{
	margin-left:10px;
	background-repeat:no-repeat;
	background-position:6px 5px;
}
/*end 生命周期时间轴*/

/*按钮置底*/
.footer
{
	height:60px;
} 
/*add by zx 2019-05-13 底部按钮阴影效果调整 BUG:ZX0064*/
.footer-box
{
	width:100%;
	height:50px;
	text-align:center;
	box-shadow:0px 0px 15px rgba(0,0,0,0.2);
	margin-top:10px;
}
.footer-box div
{
	margin-top:10px;
}

/*table合计数据的样式 add by zy ZY0177*/
.eq-total-sum{
	font-size:120%;
	color:#F00;
	float:right;
}

.eq-h-btn{
	box-shadow:10px 10px 50px rgba(0,0,0,0.4);
}
/*add by zx 2019-05-05 增加页面加载效果 ZX0063*/
.eq-loading{
	position:absolute;
	z-index:1000;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#DDDDDB;
	text-align:center;
	padding-top: 20%;
}
.eq-loading font{
	color:#15428B;
}

/*add by zx 2019-09-16 数字圈*/
.eq-radius{
	padding:3px 8px;
	text-align:center;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	color:#ffffff;
}
/*start csj 20191202 设备属性样式*/
.eq-attribute-label{
	vertical-align:middle;
	height:28px;
	font-size: 14px;
    color: #017bce;
    margin: 10px 0;
    vertical-align:middle;
	border-left: 4px #017bce solid;
    padding-left: 3px;

}
.eq-attribute{
	position:absolute;
}
/*end csj 20191202 设备属性样式*/
/*add by csj 20191202 审批意见样式*/
.eq-auditopinion li{
	padding-bottom:5px;
}
/*add by csj 20191202 a标签鼠标手样式*/
.eq-cursor-pointer{
	cursor:pointer;
}
/*czf 增加未审核状态时间轴样式 CZF0050*/
.eq-times-ul-li1-off
{
	width:100%;
	line-height:20px;
	font-weight:narmal;
	border-left:1px solid #C0C0C0;
}
.eq-times-ul-li-off
{
	width:100%;
	line-height:20px;
	font-weight:narmal;
	padding:10px 0px;
	border-left:1px solid #C0C0C0;
}

/*利用处理加粗以外没有其它特别属性b标签做时间轴的圆点*/
.eq-times-point-off
{
	width:8px;
	height:8px;
	background:#C0C0C0;
	margin:8px 8px 8px -4px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	overflow:hidden;
	display:inline-block;
	float:left;
}

/*add by zx 2020-02-12 最后一个节点边框遮盖处理 ZX0073*/
.eq-times-ul-li-last
{
	width:100%;
	font-weight:narmal;
	border-left:1px solid #fff;
}

/*add by csj 2020-04-08 清除浮动*/
.eq-clearfix::after {
	content: "";
	clear: both;
	display: block;
	overflow: hidden;
	font-size: 0;
	height: 0;
}