/* 去除浏览器默认样式 */
* {
	padding:0;
 	margin:0;
 }
/*datagrid表格单元格内容超出显示省略号*/
.datagrid-btable .datagrid-cell
 {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
 } 

/*解决IE下树形表格内容超长全部显示为省略号问题*/
.datagrid-btable .tree-title {
	display: inline;
}

/*没有表头的表格边框 灰色*/
.panel-body.panel-body-noheader{ 
	border-color: #ccc;
}

/*查询界面*/
.search-table {
    border-collapse: separate;
    border-spacing:0 10px;
}
.r-label {
    padding-left: 10px;
}
.panel-table {
	border: none;
	padding: 10px;
}
.search-item {
	margin:5px 10px;
}
.search-btnlist {
	margin:10px 10px 5px 10px;
	text-align:center;
}
.search-btnlist .l-btn {
	margin-left: 10px;
}
.form-btnlist {
	text-align:center;
}
.form-btnlist .l-btn {
	margin-left: 10px;
}
.dialog-button .l-btn {  /*按UI要求调整dialog弹出框自带按钮的间距*/
    margin-left: 10px;
}

/*按钮*/
.toolbtn-div {
	margin-top: 2px;
}
.toolbtn-div .l-btn {
	color: #717171;
	background-color:#F1F1F1;
	margin: 3px 0px 3px 5px;
	outline:none;  /*没有边框*/
	border-radius: 4px;
}

.toolbtn-div .l-btn:hover {
	color: #0386D4;
	background-color:#DDF1FF;
	outline:none;  /*没有边框*/
}

.toolbtn-div .m-btn .l-btn-left .l-btn-text {
    color: #717171;
    margin-left: 0px;
}

.toolbtn-div .hisui-menubutton.l-btn-plain :hover {
	border-radius: 4px;
	background-color:#48ABE3;
}
.toolbtn-div .hisui-menubutton.l-btn-plain:hover .l-btn-left .l-btn-text {
	color: #fff;
}
.btnlist-div {
	float: right;
	margin: 2px 10px;
}
.btnlist-div .l-btn {
	color: #fff;
	background-color:#3AA1E0;
	margin: 3px 0px 3px 5px;
	outline:none;  /*没有边框*/
}

.btnlist-div .l-btn-text {
    line-height: 25px;
}


/*报告内容样式*/
.page-body {
    margin: 10px;
}
.report-header {
   	text-align: center; 
}
.report-header span {
    font-size: 24px;
    letter-spacing:30px;
}
.report-title {
	margin-left:15px;
	margin-right:15px;
}
.report-content .panel {
	margin: 10px 0px;
}
.report-col {
	position: relative;
	float: left;
}
.report-col label{
	vertical-align: middle;
	text-align: right;
	margin-left: 10px;
    margin-right: 3px;
}
.report-tab {
	width: 100%;
}
.report-tr {
	height: 38px;
}
.report-td {
	min-width: 80px;
	text-align: right;
	padding-right: 6px;
}
.report-td.fbdsign,
.report-td.top-bold {
	padding-top: 2px;
	font-weight: bold;
    vertical-align: top;
}
.report-line {
	padding-bottom: 5px;
	border-bottom: 1px dashed #CCC;
}
.td-label {
	margin-left: 5px;
    margin-right: 5px;
}
.PatInfo  {
	margin-top: 7px;
	line-height: 35px;
	display: block;
    overflow: hidden;
    white-space: nowrap;
}
.PatInfo span {
    padding-left: 5px;
}
.sline, .infoLabel {
    color: #787878;
}
.patName {
	font-size: 16px;
	margin-right: 10px;
}
/*只读文本框处理*/
input.textbox.readonly-noborder {
    padding-right: 5px;
    border: none;
    background-color: #fff;
    verflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.man {
	float: left;
    margin-top: 10px;
    margin-left: 35px;
    width: 30px;
	height: 30px;
 	background: url(../img/man.png) center center no-repeat;
 	background-size: contain;
 	display: inline-block;
    overflow: hidden;
}

.woman {
	float: left;
    margin-top: 10px;
    margin-left: 35px;
    width: 30px;
	height: 30px;
 	background: url(../img/woman.png) center center no-repeat;
 	background-size: contain;
	display: inline-block;
    overflow: hidden;
}

/*平分*/
.td-half{   
    float: left;   
    width: 50%;   	
} 
/*四等分*/
.td-quarter{   
    float: left;   
    width: 25%;   	
}   
.textbox.text-resume {
    height: 25px !important;
    margin: 2px 5px;
}
.hisui-numberbox.text-resume {
	width: 30px;
    height: 25px !important;
    margin: 2px 5px;
}
.hisui-numberbox.text-titer {
	width: 60px;
    height: 25px !important;
    margin: 2px 5px;
}

.page-footer {
	text-align: center;
	margin-bottom: 10px;
}
.page-footer .hisui-linkbutton {   /*按钮过多，折行显示，外边距减小，折行增加上间距*/
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 10px;
}

/*卡片*/
.center-div {
	padding: 10px 0px 10px 10px;
	border: none;
} 
.cardlist-div {
	position: relative;
	float:left;
}
.card-div {
	position: relative;
	float:left;
	width: 277px;
	height: 225px;
	margin-right: 10px;
	margin-bottom: 10px;	
	border:1px solid #40a2de;
	border-radius: 4px;  
    overflow: hidden; /*超长省略显示*/
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-table {
	margin:5px;	
}
.card-table .card-td {
	color: #717171;
	text-align: right;
}
.card-title {
	height:25px;
	color: #fff;
	text-align: center;
	background-color:#3AA1E0;
}
.card-title span a{
	color: #fff;
}

/*无权限或无报告图片*/
.noresult {
	position: relative;
    height: 100%;
    width: 100%;
    background: url(../img/noresult.png) center center no-repeat;
}
.nodata {
	position: relative;
	height: 100%;
    width: 100%;
	text-align: center;
}
.nodata p {	    
    position: absolute;
    margin-top: 180px;
    margin-left: 400px;
	font-size: 16px;
	font-weight: bold;    
    color: #2EB6A1;
}

.no-result {
    width: 100%;
    height: 100%;
    background: url(../img/no_result.png) center center no-repeat;
}

/********列表样式*******/
.sidebar ul {
	padding-left: 1px;
}
.sidebar-menu > li {
	display: inline;
    line-height: 35px;
}
.sidebar-menu > li .pull-right-container {
	position: relative;
    float: right;
    line-height: 30px;
}
.sidebar-menu > li > a {
	display: block;
	text-decoration: none;	
    border-bottom: 1px solid #E4E4E4;
    color: #000;
}
.sidebar-menu .treeview-menu >li a {
	color: #686868;
	text-decoration: none;  /*没有下划线*/
 }
 .sidebar-menu .treeview-menu >li.active a {
	color: #FBFDFE;
	text-decoration: none;  /*没有下划线*/
 }
.sidebar-menu .treeview-menu >li.active{
	 background-color: #40A2DE;	  
 }
 .sidebar-menu .treeview-menu >li:hover{
	background-color: #E5F2FA;
 }
 .sidebar-menu .treeview-menu >li:hover a{
	color: #52AAE1;
	text-decoration: none;  /*没有下划线*/
	cursor:pointer
 }
.sidebar-menu .treeview-menu li {
	list-style: none;
	padding:0 2px;
	margin-bottom:10px;
	background-color:#EFEFEF;
	/*border-bottom: 1px solid #E4E4E4;	*/
	/* Gecko browsers */
	-moz-border-radius: 4px; 
	/* Webkit browsers */
	-webkit-border-radius: 4px; 
	/* W3C syntax - likely to be standard so use for future proofing */
	border-radius:8px;
	cursor:pointer;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
    width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    background-color: transparent;
}
.sidebar-menu > li .bg-red{
	line-height: 30px;
	width: 24px;
	padding: 2px;
	margin-right: 2px;
    text-align: center;
    color: rgb(221, 75, 57);
}
.sidebar-menu > li .bg-green{
	line-height: 30px;
	width: 24px;
	padding: 2px;
	margin-right: 2px;
    text-align: center;
    color: rgb(0, 166, 90);
}
.sidebar-menu > li .bg-yellow{
	line-height: 30px;
	width: 24px;
	padding: 2px;
	margin-right: 2px;
    text-align: center;
    color: rgb(243, 156, 18);
}

/*list-inline*/
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
}


