/*
* dataTables dom样式修改 zhufei
* ------------------------
*/
.dataTables_wrapper .dataTables_length {
  float: left;
  width: auto !important;
  padding-top: 0.35em;
}
.dataTables_wrapper .dataTables_filter {
  text-align: right;
  width: auto !important;
  padding-top: 0.35em;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  width: auto !important;
  padding-top: 0.755em;
}

/*
* 根据分辨率设置页面最大宽度 zhufei
* ------------------------
*/
@media screen and (min-width: 768px) {
  .page-width-768 {
	width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .page-width-992 {
	width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .page-width-1200 {
	width: 1170px;
  }
}