
.adm-item ul li h3{
	float:left;
	width:65px;
	text-align:right;
	padding-right:8px;
	margin-top:8px;
	color:#365BBD;
	font:bold 12px Times;
}
.adm-item ul li h3 span{
	display:block;
	color:#999999;
	margin-top:5px;
	font:normal 12px Times;
}
.adm-item ul li{
	border-bottom:#EEE 1px solid;
	height:45px;
	list-style-type:none;
}
.adm-item ul li.admDetail div{
	border-left:#EEE 1px solid;
	padding:1px 0px 1px 1px;
	margin:0px;
	width:300px;
	height:30px;
	display:block;
	float:left;
}

.adm-item ul li.admDetail div h3{
	width:40%;
	display:block;
	padding:0 0 0 0;
	height:15px;
	line-height:18px;
	font: bold 18px/40px '微软雅黑', '黑体';
	color:#000000;
	text-align:left;
}

.adm-item ul li.admDetail div p.con{
	line-height:15px;
	font:'微软雅黑', '黑体';
	font-size:13px;
	width:100%;
	display:block;
	color:#000000;
	font-weight:normal; 
	text-align:right;
	vertical-align:text-bottom;
}

.adm-item ul li:hover {
	background:#EFF8FE;
	text-decoration:none;
	cursor:hand;
}



