#dtRequestDateStart,#dtRequestDateEnd,#dtAppointDateStart,#dtAppointDateEnd{
	width:155px;
}
#tmRequestTimeStart,#tmRequestTimeEnd,#tmAppointTimeStart,#tmAppointTimeEnd{
	width:128px;
}
.row-item {
	width: 235px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom:10px;
}
.row-item-long {
	width: 430px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}
.row-item-label {
	padding: 4px 10px 0px 0px;
	width: 66px;
	float: left;
	text-align: right;
}

.row-item-label-short {
	padding: 4px 10px 0px 0px;
	width: 40px;
	float: left;
	text-align: right;
}

.row-item-input {
	width: 143px;
	float: left;
}
.div-table {
	display: table;
	width: 100%;
	margin-top: 10px;
}
.div-row{
	display:inline-block;
}
.toolinput div{
	margin:0px 10px 10px 10px;
}
.toolinput{
	padding-top:10px;
}
.divreason{
	padding:10px 0px 0px 10px;
}
.spinner{
	width:auto !important;	
}
.spanreason{
	color:#A9A9A9;
}
.left{
	float:left;
}
.right{
	float:right;
}
.toolbt{
	clear:both;
	border-top:2px dashed #EFEFEF;
}
.panel-body .panel-body-noheader 
{ 
	border-color: #ddd;
}
#taRequestReason,#taBeforeRequestContent,#taAfterRequestContent,#taRequestNumber
{
	padding-left:10px;
}
.row-item-short {
	width: 100px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}
.row-item-href {
	float: left;
}

