.item{
	margin-right:50px;
}
.item label{
	margin-right:10px;
}
.row{
	margin:5px;
}
#dtRequestDateStart,#dtRequestDateEnd,#dtAppointDateStart,#dtAppointDateEnd{
	width:110px;
}
#tmRequestTimeStart,#tmRequestTimeEnd,#tmAppointTimeStart,#tmAppointTimeEnd{
	width:60px;
}
.spinner{
	width:auto !important;	
}
.spanreason{
	color:#A9A9A9;
}
.divreason{
	padding:10px 5px 5px 5px;
}
.toolinput{
	padding:4px 0 5px 0;
}
.toolinput div{
	margin:0 5px 5px 5px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.toolbt{
	clear:both;
	border-top:2px dashed #EFEFEF;
}
.panel-body .panel-body-noheader 
{ 
	border-color: #ddd;
}
.datebox{
	width:auto !important;	
}

