*{
	margin:0;
	padding:0;
}
.selectcondition{
	width:100%;
	height:100%;
}
.selectcondition td{
	height:30px;
}
.inputbox{
	width:160px;
}
.panel-body .panel-body-noheader 
{ 
	border-color: #ddd;
}


.datebox{
	width:auto !important;	
}

