.AA_1_B {
    width: 40px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -627px -198px;
}

.AA_1_D {
    width: 20px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -220px -663px;
}

.AA_1_M {
    width: 20px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -260px -663px;
}

.AA_1_P {
    width: 40px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -627px -228px;
}

.AA_1_R {
    width: 37px; height: 57px;
    background: url('../image/tooth/permanent_sprites.png') -275px -156px;
}

.AA_2_B {
    width: 40px; height: 11px;
    background: url('../image/tooth/permanent_sprites.png') -627px -74px;
}

.AA_1_T {
    width: 37px; height: 40px;
    background: url('../image/tooth/permanent_sprites.png') -102px -322px;
}

.AA_2_D {
    width: 20px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -300px -663px;
}

.AA_2_M {
    width: 20px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -340px -663px;
}

.AA_2_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -10px -564px;
}

.AA_2_R {
    width: 30px; height: 57px;
    background: url('../image/tooth/permanent_sprites.png') -336px -182px;
}

.AA_2_T {
    width: 30px; height: 34px;
    background: url('../image/tooth/permanent_sprites.png') -336px -259px;
}

.AA_3_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -70px -564px;
}

.AA_3_D {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -10px -626px;
}

.AA_3_M {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -50px -626px;
}

.AA_3_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -130px -564px;
}

.AA_3_R {
    width: 34px; height: 68px;
    background: url('../image/tooth/permanent_sprites.png') -10px -86px;
}

.AA_3_T {
    width: 34px; height: 39px;
    background: url('../image/tooth/permanent_sprites.png') -437px -310px;
}

.AA_4_D {
    width: 10px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -70px -702px;
}

.AA_4_R {
    width: 31px; height: 53px;
    background: url('../image/tooth/permanent_sprites.png') -386px -10px;
}

.AA_4_B {
    width: 31px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -627px -384px;
}

.AA_5_O {
    width: 10px; height: 16px;
    background: url('../image/tooth/permanent_sprites.png') -10px -702px;
}

.AA_4_P {
    width: 31px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -627px -318px;
}

.AA_4_M {
    width: 10px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -100px -702px;
}

.AA_5_M {
    width: 9px; height: 16px;
    background: url('../image/tooth/permanent_sprites.png') -758px -10px;
}

.AA_4_T {
    width: 31px; height: 35px;
    background: url('../image/tooth/permanent_sprites.png') -503px -320px;
}

.AA_5_D {
    width: 9px; height: 16px;
    background: url('../image/tooth/permanent_sprites.png') -758px -46px;
}

.AA_5_P {
    width: 28px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -627px -448px;
}

.AA_6_T {
    width: 44px; height: 30px;
    background: url('../image/tooth/permanent_sprites.png') -437px -210px;
}

.AA_7_M {
    width: 13px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -250px;
}

.AA_5_B {
    width: 28px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -627px -480px;
}

.AA_4_O {
    width: 11px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -724px -640px;
}

.AA_5_R {
    width: 29px; height: 55px;
    background: url('../image/tooth/permanent_sprites.png') -386px -156px;
}

.AA_6_B {
    width: 43px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -10px;
}

.AA_5_T {
    width: 29px; height: 32px;
    background: url('../image/tooth/permanent_sprites.png') -10px -512px;
}

.AA_6_P {
    width: 43px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -44px;
}

.AA_6_R {
    width: 44px; height: 54px;
    background: url('../image/tooth/permanent_sprites.png') -144px -10px;
}

.AA_6_O {
    width: 15px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -687px -328px;
}

.AA_6_D {
    width: 14px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -10px;
}

.AB_1_B {
    width: 40px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -627px -258px;
}

.AA_7_D {
    width: 13px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -290px;
}

.AA_8_T {
    width: 39px; height: 28px;
    background: url('../image/tooth/permanent_sprites.png') -503px -224px;
}

.AA_7_P {
    width: 41px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -146px;
}

.AA_7_T {
    width: 41px; height: 29px;
    background: url('../image/tooth/permanent_sprites.png') -503px -10px;
}

.AA_6_M {
    width: 14px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -50px;
}

.AB_1_R {
    width: 37px; height: 57px;
    background: url('../image/tooth/permanent_sprites.png') -10px -245px;
}

.AA_8_B {
    width: 39px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -282px;
}

.AB_2_M {
    width: 20px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -380px -663px;
}

.AA_8_M {
    width: 12px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -490px;
}

.AA_8_D {
    width: 13px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -330px;
}

.AA_8_O {
    width: 14px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -90px;
}

.AA_8_R {
    width: 39px; height: 48px;
    background: url('../image/tooth/permanent_sprites.png') -142px -174px;
}

.AA_7_B {
    width: 41px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -180px;
}

.AA_7_O {
    width: 15px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -687px -368px;
}

.AB_1_D {
    width: 20px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -420px -663px;
}

.AB_1_M {
    width: 20px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -460px -663px;
}

.AA_7_R {
    width: 41px; height: 53px;
    background: url('../image/tooth/permanent_sprites.png') -275px -10px;
}

.AB_2_B {
    width: 40px; height: 11px;
    background: url('../image/tooth/permanent_sprites.png') -627px -105px;
}

.AB_2_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -190px -564px;
}

.AB_2_R {
    width: 30px; height: 57px;
    background: url('../image/tooth/permanent_sprites.png') -67px -245px;
}

.AB_1_P {
    width: 40px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -627px -288px;
}

.AB_1_T {
    width: 37px; height: 40px;
    background: url('../image/tooth/permanent_sprites.png') -159px -322px;
}

.AA_8_P {
    width: 39px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -316px;
}

.AB_2_T {
    width: 30px; height: 34px;
    background: url('../image/tooth/permanent_sprites.png') -10px -458px;
}

.AB_2_D {
    width: 20px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -500px -663px;
}

.AB_3_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -250px -564px;
}

.AB_3_M {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -90px -626px;
}

.AB_3_R {
    width: 34px; height: 68px;
    background: url('../image/tooth/permanent_sprites.png') -64px -86px;
}

.AB_3_T {
    width: 34px; height: 39px;
    background: url('../image/tooth/permanent_sprites.png') -10px -399px;
}

.AB_3_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -310px -564px;
}

.AB_3_D {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -130px -626px;
}

.AB_4_O {
    width: 11px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -650px -626px;
}

.AB_4_M {
    width: 10px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -130px -702px;
}

.AB_4_B {
    width: 31px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -627px -416px;
}

.AB_4_R {
    width: 31px; height: 53px;
    background: url('../image/tooth/permanent_sprites.png') -386px -83px;
}

.AB_4_P {
    width: 31px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -627px -351px;
}

.AB_4_T {
    width: 31px; height: 35px;
    background: url('../image/tooth/permanent_sprites.png') -503px -375px;
}

.AB_5_B {
    width: 28px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -627px -512px;
}

.AB_5_D {
    width: 9px; height: 16px;
    background: url('../image/tooth/permanent_sprites.png') -758px -82px;
}

.AB_5_P {
    width: 28px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -627px -544px;
}

.AB_5_O {
    width: 10px; height: 16px;
    background: url('../image/tooth/permanent_sprites.png') -40px -702px;
}

.AB_5_R {
    width: 29px; height: 55px;
    background: url('../image/tooth/permanent_sprites.png') -386px -231px;
}

.AB_4_D {
    width: 10px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -160px -702px;
}

.AB_5_T {
    width: 29px; height: 32px;
    background: url('../image/tooth/permanent_sprites.png') -59px -512px;
}

.AB_6_B {
    width: 43px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -78px;
}

.AB_6_D {
    width: 14px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -130px;
}

.AB_6_M {
    width: 14px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -170px;
}

.AB_6_O {
    width: 15px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -687px -408px;
}

.AB_6_P {
    width: 43px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -112px;
}

.AB_6_R {
    width: 44px; height: 54px;
    background: url('../image/tooth/permanent_sprites.png') -144px -84px;
}

.AB_6_T {
    width: 44px; height: 30px;
    background: url('../image/tooth/permanent_sprites.png') -437px -260px;
}

.AB_7_B {
    width: 41px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -214px;
}

.AB_7_D {
    width: 13px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -370px;
}

.AB_7_O {
    width: 15px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -687px -448px;
}

.AB_7_M {
    width: 13px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -410px;
}

.AB_7_P {
    width: 41px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -248px;
}

.AB_7_R {
    width: 41px; height: 53px;
    background: url('../image/tooth/permanent_sprites.png') -275px -83px;
}

.AB_7_T {
    width: 41px; height: 29px;
    background: url('../image/tooth/permanent_sprites.png') -503px -59px;
}

.AB_8_B {
    width: 39px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -350px;
}

.AB_5_M {
    width: 9px; height: 16px;
    background: url('../image/tooth/permanent_sprites.png') -758px -118px;
}

.AB_8_D {
    width: 13px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -450px;
}

.AB_8_M {
    width: 12px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -530px;
}

.AB_8_O {
    width: 14px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -724px -210px;
}

.AB_8_P {
    width: 39px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -564px -384px;
}

.AB_8_R {
    width: 39px; height: 48px;
    background: url('../image/tooth/permanent_sprites.png') -201px -174px;
}

.AB_8_T {
    width: 39px; height: 28px;
    background: url('../image/tooth/permanent_sprites.png') -503px -272px;
}

.AC_1_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -370px -564px;
}

.AC_1_D {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -170px -626px;
}

.AC_1_L {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -430px -564px;
}

.AC_1_M {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -210px -626px;
}

.AC_1_R {
    width: 23px; height: 55px;
    background: url('../image/tooth/permanent_sprites.png') -437px -60px;
}

.AC_1_T {
    width: 23px; height: 30px;
    background: url('../image/tooth/permanent_sprites.png') -200px -512px;
}

.AC_2_B {
    width: 40px; height: 11px;
    background: url('../image/tooth/permanent_sprites.png') -627px -136px;
}

.AC_2_D {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -250px -626px;
}

.AC_2_L {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -490px -564px;
}

.AC_2_M {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -290px -626px;
}

.AC_2_R {
    width: 26px; height: 57px;
    background: url('../image/tooth/permanent_sprites.png') -10px -322px;
}

.AC_2_T {
    width: 26px; height: 32px;
    background: url('../image/tooth/permanent_sprites.png') -108px -512px;
}

.AC_3_B {
    width: 40px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -564px -418px;
}

.AC_3_D {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -330px -626px;
}

.AC_3_L {
    width: 40px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -564px -451px;
}

.AC_3_M {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -370px -626px;
}

.AC_3_R {
    width: 30px; height: 66px;
    background: url('../image/tooth/permanent_sprites.png') -336px -10px;
}

.AC_3_T {
    width: 30px; height: 38px;
    background: url('../image/tooth/permanent_sprites.png') -503px -108px;
}

.AC_4_B {
    width: 30px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -437px -369px;
}

.AC_4_D {
    width: 10px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -190px -702px;
}

.AC_4_L {
    width: 30px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -10px -596px;
}

.AC_4_M {
    width: 10px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -220px -702px;
}

.AC_4_O {
    width: 10px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -250px -702px;
}

.AC_4_R {
    width: 30px; height: 56px;
    background: url('../image/tooth/permanent_sprites.png') -117px -245px;
}

.AC_4_T {
    width: 30px; height: 32px;
    background: url('../image/tooth/permanent_sprites.png') -60px -458px;
}

.AC_5_B {
    width: 30px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -60px -596px;
}

.AC_5_D {
    width: 9px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -758px -154px;
}

.AC_5_L {
    width: 30px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -110px -596px;
}

.AC_5_M {
    width: 9px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -758px -189px;
}

.AC_5_O {
    width: 12px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -724px -570px;
}

.AC_5_R {
    width: 30px; height: 55px;
    background: url('../image/tooth/permanent_sprites.png') -217px -245px;
}

.AC_5_T {
    width: 30px; height: 31px;
    background: url('../image/tooth/permanent_sprites.png') -160px -458px;
}

.AC_6_B {
    width: 48px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -260px -458px;
}

.AC_6_D {
    width: 16px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -687px -88px;
}

.AC_6_L {
    width: 48px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -198px -399px;
}

.AC_6_M {
    width: 16px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -687px -128px;
}

.AC_6_O {
    width: 16px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -687px -168px;
}

.AC_6_R {
    width: 47px; height: 56px;
    background: url('../image/tooth/permanent_sprites.png') -10px -10px;
}

.AC_6_T {
    width: 47px; height: 31px;
    background: url('../image/tooth/permanent_sprites.png') -216px -322px;
}

.AC_7_B {
    width: 45px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -416px -512px;
}

.AC_7_D {
    width: 15px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -687px -488px;
}

.AC_7_L {
    width: 45px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -286px -512px;
}

.AC_7_M {
    width: 15px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -687px -527px;
}

.AC_7_O {
    width: 15px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -687px -566px;
}

.AC_7_R {
    width: 46px; height: 51px;
    background: url('../image/tooth/permanent_sprites.png') -10px -174px;
}

.AC_7_T {
    width: 46px; height: 30px;
    background: url('../image/tooth/permanent_sprites.png') -350px -322px;
}

.AC_8_B {
    width: 47px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -396px -458px;
}

.AC_8_D {
    width: 15px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -687px -605px;
}

.AC_8_L {
    width: 47px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -334px -399px;
}

.AC_8_M {
    width: 15px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -10px -663px;
}

.AC_8_O {
    width: 17px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -687px -10px;
}

.AC_8_R {
    width: 47px; height: 50px;
    background: url('../image/tooth/permanent_sprites.png') -208px -10px;
}

.AC_8_T {
    width: 47px; height: 27px;
    background: url('../image/tooth/permanent_sprites.png') -64px -399px;
}

.AD_1_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -550px -564px;
}

.AD_1_D {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -410px -626px;
}

.AD_1_L {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -627px -10px;
}

.AD_1_M {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -450px -626px;
}

.AD_1_R {
    width: 23px; height: 55px;
    background: url('../image/tooth/permanent_sprites.png') -437px -135px;
}

.AD_1_T {
    width: 23px; height: 30px;
    background: url('../image/tooth/permanent_sprites.png') -243px -512px;
}

.AD_2_B {
    width: 40px; height: 11px;
    background: url('../image/tooth/permanent_sprites.png') -627px -167px;
}

.AD_2_D {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -490px -626px;
}

.AD_2_L {
    width: 40px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -627px -42px;
}

.AD_2_M {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -530px -626px;
}

.AD_2_R {
    width: 26px; height: 57px;
    background: url('../image/tooth/permanent_sprites.png') -56px -322px;
}

.AD_2_T {
    width: 26px; height: 32px;
    background: url('../image/tooth/permanent_sprites.png') -154px -512px;
}

.AD_3_B {
    width: 40px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -564px -484px;
}

.AD_3_D {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -570px -626px;
}

.AD_3_L {
    width: 40px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -564px -517px;
}

.AD_3_M {
    width: 20px; height: 17px;
    background: url('../image/tooth/permanent_sprites.png') -610px -626px;
}

.AD_3_R {
    width: 30px; height: 66px;
    background: url('../image/tooth/permanent_sprites.png') -336px -96px;
}

.AD_3_T {
    width: 30px; height: 38px;
    background: url('../image/tooth/permanent_sprites.png') -503px -166px;
}

.AD_4_B {
    width: 30px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -160px -596px;
}

.AD_4_D {
    width: 10px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -280px -702px;
}

.AD_4_L {
    width: 30px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -210px -596px;
}

.AD_4_M {
    width: 10px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -310px -702px;
}

.AD_4_O {
    width: 10px; height: 14px;
    background: url('../image/tooth/permanent_sprites.png') -340px -702px;
}

.AD_4_R {
    width: 30px; height: 56px;
    background: url('../image/tooth/permanent_sprites.png') -167px -245px;
}

.AD_4_T {
    width: 30px; height: 32px;
    background: url('../image/tooth/permanent_sprites.png') -110px -458px;
}

.AD_5_B {
    width: 30px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -260px -596px;
}

.AD_5_D {
    width: 9px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -758px -224px;
}

.AD_5_L {
    width: 30px; height: 10px;
    background: url('../image/tooth/permanent_sprites.png') -310px -596px;
}

.AD_5_M {
    width: 9px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -758px -259px;
}

.AD_5_O {
    width: 12px; height: 15px;
    background: url('../image/tooth/permanent_sprites.png') -724px -605px;
}

.AD_5_R {
    width: 30px; height: 55px;
    background: url('../image/tooth/permanent_sprites.png') -267px -245px;
}

.AD_5_T {
    width: 30px; height: 31px;
    background: url('../image/tooth/permanent_sprites.png') -210px -458px;
}

.AD_6_B {
    width: 48px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -328px -458px;
}

.AD_6_D {
    width: 16px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -687px -208px;
}

.AD_6_L {
    width: 48px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -266px -399px;
}

.AD_6_M {
    width: 16px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -687px -248px;
}

.AD_6_O {
    width: 16px; height: 20px;
    background: url('../image/tooth/permanent_sprites.png') -687px -288px;
}

.AD_6_R {
    width: 47px; height: 56px;
    background: url('../image/tooth/permanent_sprites.png') -77px -10px;
}

.AD_6_T {
    width: 47px; height: 31px;
    background: url('../image/tooth/permanent_sprites.png') -283px -322px;
}

.AD_7_B {
    width: 45px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -481px -512px;
}

.AD_7_D {
    width: 15px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -45px -663px;
}

.AD_7_L {
    width: 45px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -351px -512px;
}

.AD_7_M {
    width: 15px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -80px -663px;
}

.AD_7_O {
    width: 15px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -115px -663px;
}

.AD_7_R {
    width: 46px; height: 51px;
    background: url('../image/tooth/permanent_sprites.png') -76px -174px;
}

.AD_7_T {
    width: 46px; height: 30px;
    background: url('../image/tooth/permanent_sprites.png') -437px -10px;
}

.AD_8_B {
    width: 47px; height: 12px;
    background: url('../image/tooth/permanent_sprites.png') -463px -458px;
}

.AD_8_D {
    width: 15px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -150px -663px;
}

.AD_8_L {
    width: 47px; height: 13px;
    background: url('../image/tooth/permanent_sprites.png') -401px -399px;
}

.AD_8_M {
    width: 15px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -185px -663px;
}

.AD_8_O {
    width: 17px; height: 19px;
    background: url('../image/tooth/permanent_sprites.png') -687px -49px;
}

.AD_8_R {
    width: 47px; height: 50px;
    background: url('../image/tooth/permanent_sprites.png') -208px -80px;
}

.AD_8_T {
    width: 47px; height: 27px;
    background: url('../image/tooth/permanent_sprites.png') -131px -399px;
}