a.selectFlag{
    background-color:#f00 !important;
}

.tooth-main {
  display: flex;
  width: fit-content;
  margin: 0px auto;
}

img {
  border: none;
}

.flag-rl {
  position: relative;
  width: 72px;
  text-align: center;
}
/**
.flag-rl-middle {
  margin: 212px auto;
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}*/

.tooth-layout {
  position: relative;
  min-width: 980px;
}

.tooth-layout:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  border-left: 1px solid #999;
}


.cross-line {
  border: 0px;
  border-top: 2px double #999;
  margin: 8px 0;
}


.cross-line-deciduous {
  border: 0px;
  border-top: 2px double #999;
  margin: 8px auto;
  width: 620px;
}

.deciduous {
  box-sizing: border-box;
  width: 100%;
  overflow:hidden;

}
.permanent {
  box-sizing: border-box;
  width: 100%;
  overflow:hidden;
}

.divLeft-tr,
.divRight-tl {
  float: left;
  width: 50%;
}

.divLeft-tr .box {
  float: right;
}

.divLeft-tr .box:first-child {
  margin-right: 10px;
}

.divRight-tl .box {
  float: left;
}

.divRight-tl .box:first-child {
  margin-left: 10px;
}

.box {
  width: 60px;
  text-align: center;
}
.upRTOuter{
    position:absolute;
    bottom:0;
    width:60px;
    }
.upSurOuter{
    position:absolute;
    bottom:0;
    width:60px; 
    }

.permanent .box-surface {
  height: 60px;
}

.permanent .box-rt {
  height: 120px;
}


.deciduous .box-surface {
  height: 50px;
}

.deciduous .box-rt {
  height: 90px;
}


.top .box-num-label{
    margin-top:10px;
    }
.bottom .box-num-label{
    margin-bottom:10px;
    }
.box-num-label span {
  background-color: #ddd;
  display: block;
  width: 40px;
  margin: auto;
  line-height: 25px;
  height: 25px;
}

.rts_B,
.rts_L,
.rts_T,
.rts_R,
.rts_P {
  display: block;
  margin: auto;
}

.rts_D,
.rts_M,
.rts_O {
  display: inline-block;
  margin: auto;
}

.box-surface {
  font-size: 0px;
}

.toothImg {
  box-sizing: border-box;
  cursor:pointer;
}
.RTImgDisable{
    cursor:default !important;
}