.CA_1_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -361px;
}

.CA_1_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -389px -284px;
}

.CA_1_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -389px -319px;
}

.CA_1_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -70px -361px;
}

.CA_1_R {
    width: 31px; height: 44px;
    background: url('../image/tooth/deciduous_sprites.png') -61px -140px;
}

.CA_1_T {
    width: 31px; height: 28px;
    background: url('../image/tooth/deciduous_sprites.png') -338px -183px;
}

.CA_2_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -130px -361px;
}

.CA_2_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -252px -209px;
}

.CA_2_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -190px -361px;
}

.CA_2_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -10px;
}

.CA_2_R {
    width: 25px; height: 45px;
    background: url('../image/tooth/deciduous_sprites.png') -293px -10px;
}

.CA_2_T {
    width: 25px; height: 25px;
    background: url('../image/tooth/deciduous_sprites.png') -389px -10px;
}

.CA_3_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -250px -361px;
}

.CA_3_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -45px;
}

.CA_3_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -310px -361px;
}

.CA_3_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -80px;
}

.CA_3_R {
    width: 31px; height: 49px;
    background: url('../image/tooth/deciduous_sprites.png') -196px -10px;
}

.CA_3_T {
    width: 31px; height: 29px;
    background: url('../image/tooth/deciduous_sprites.png') -196px -79px;
}

.CA_4_D {
    width: 10px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -523px;
}

.CA_4_M {
    width: 9px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -70px -523px;
}

.CA_4_B {
    width: 31px; height: 11px;
    background: url('../image/tooth/deciduous_sprites.png') -338px -279px;
}

.CA_4_O {
    width: 12px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -466px;
}

.CA_4_R {
    width: 32px; height: 39px;
    background: url('../image/tooth/deciduous_sprites.png') -163px -140px;
}

.CA_4_P {
    width: 31px; height: 11px;
    background: url('../image/tooth/deciduous_sprites.png') -286px -268px;
}

.CA_5_D {
    width: 13px; height: 19px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -236px;
}

.CA_5_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -370px -361px;
}

.CA_4_T {
    width: 32px; height: 22px;
    background: url('../image/tooth/deciduous_sprites.png') -182px -268px;
}

.CA_5_M {
    width: 13px; height: 19px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -275px;
}

.CA_5_O {
    width: 14px; height: 19px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -84px;
}

.CB_1_R {
    width: 31px; height: 44px;
    background: url('../image/tooth/deciduous_sprites.png') -112px -140px;
}

.CB_1_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -115px;
}

.CA_5_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -393px;
}

.CB_3_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -150px;
}

.CB_1_T {
    width: 31px; height: 28px;
    background: url('../image/tooth/deciduous_sprites.png') -338px -231px;
}

.CB_2_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -70px -393px;
}

.CB_2_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -185px;
}

.CB_2_R {
    width: 25px; height: 45px;
    background: url('../image/tooth/deciduous_sprites.png') -293px -75px;
}

.CB_1_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -130px -393px;
}

.CA_5_R {
    width: 40px; height: 44px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -76px;
}

.CB_2_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -190px -393px;
}

.CB_1_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -220px;
}

.CB_1_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -250px -393px;
}

.CB_3_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -310px -393px;
}

.CB_4_D {
    width: 10px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -40px -523px;
}

.CB_4_T {
    width: 32px; height: 22px;
    background: url('../image/tooth/deciduous_sprites.png') -234px -268px;
}

.CB_2_T {
    width: 25px; height: 25px;
    background: url('../image/tooth/deciduous_sprites.png') -389px -55px;
}

.CB_4_R {
    width: 32px; height: 39px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -209px;
}

.CB_3_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -370px -393px;
}

.CB_3_R {
    width: 31px; height: 49px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -140px;
}

.CB_3_T {
    width: 31px; height: 29px;
    background: url('../image/tooth/deciduous_sprites.png') -338px -10px;
}

.CB_4_B {
    width: 31px; height: 11px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -457px;
}

.CB_4_M {
    width: 9px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -99px -523px;
}

.CB_4_O {
    width: 12px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -215px -140px;
}

.CC_1_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -255px;
}

.CB_2_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -290px;
}

.CC_1_T {
    width: 20px; height: 27px;
    background: url('../image/tooth/deciduous_sprites.png') -389px -190px;
}

.CB_5_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -10px;
}

.CB_5_D {
    width: 13px; height: 19px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -314px;
}

.CC_2_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -325px;
}

.CB_5_M {
    width: 13px; height: 19px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -353px;
}

.CB_5_P {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -42px;
}

.CB_5_O {
    width: 14px; height: 19px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -123px;
}

.CB_5_R {
    width: 40px; height: 44px;
    background: url('../image/tooth/deciduous_sprites.png') -70px -76px;
}

.CC_1_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -360px;
}

.CC_1_L {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -74px;
}

.CC_1_R {
    width: 20px; height: 42px;
    background: url('../image/tooth/deciduous_sprites.png') -338px -59px;
}

.CC_3_T {
    width: 26px; height: 28px;
    background: url('../image/tooth/deciduous_sprites.png') -247px -146px;
}

.CC_4_D {
    width: 11px; height: 14px;
    background: url('../image/tooth/deciduous_sprites.png') -398px -488px;
}

.CC_1_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -106px;
}

.CC_2_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -138px;
}

.CC_2_L {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -170px;
}

.CC_2_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -395px;
}

.CC_4_B {
    width: 36px; height: 10px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -394px;
}

.CC_5_M {
    width: 14px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -392px;
}

.CA_5_T {
    width: 40px; height: 25px;
    background: url('../image/tooth/deciduous_sprites.png') -192px -209px;
}

.CC_3_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -202px;
}

.CC_3_L {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -234px;
}

.CC_3_R {
    width: 26px; height: 48px;
    background: url('../image/tooth/deciduous_sprites.png') -247px -10px;
}

.CD_1_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -494px -430px;
}

.CB_4_P {
    width: 31px; height: 11px;
    background: url('../image/tooth/deciduous_sprites.png') -61px -457px;
}

.CB_3_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -488px;
}

.CC_4_L {
    width: 36px; height: 9px;
    background: url('../image/tooth/deciduous_sprites.png') -130px -425px;
}

.CC_4_M {
    width: 11px; height: 14px;
    background: url('../image/tooth/deciduous_sprites.png') -429px -488px;
}

.CB_5_T {
    width: 40px; height: 25px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -268px;
}

.CC_2_R {
    width: 23px; height: 44px;
    background: url('../image/tooth/deciduous_sprites.png') -293px -140px;
}

.CC_4_T {
    width: 36px; height: 24px;
    background: url('../image/tooth/deciduous_sprites.png') -70px -268px;
}

.CC_5_D {
    width: 15px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -162px;
}

.CC_2_T {
    width: 23px; height: 25px;
    background: url('../image/tooth/deciduous_sprites.png') -389px -100px;
}

.CC_5_O {
    width: 16px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -10px;
}

.CC_5_T {
    width: 45px; height: 25px;
    background: url('../image/tooth/deciduous_sprites.png') -62px -209px;
}

.CC_4_R {
    width: 36px; height: 43px;
    background: url('../image/tooth/deciduous_sprites.png') -140px -10px;
}

.CC_5_R {
    width: 45px; height: 46px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -10px;
}

.CC_3_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -50px -488px;
}

.CD_1_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -266px;
}

.CD_1_L {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -298px;
}

.CD_1_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -90px -488px;
}

.CC_5_L {
    width: 45px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -56px -313px;
}

.CC_4_O {
    width: 14px; height: 14px;
    background: url('../image/tooth/deciduous_sprites.png') -330px -488px;
}

.CC_3_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -130px -488px;
}

.CC_5_B {
    width: 45px; height: 11px;
    background: url('../image/tooth/deciduous_sprites.png') -186px -313px;
}

.CD_1_T {
    width: 20px; height: 27px;
    background: url('../image/tooth/deciduous_sprites.png') -389px -237px;
}

.CD_1_R {
    width: 20px; height: 42px;
    background: url('../image/tooth/deciduous_sprites.png') -338px -121px;
}

.CD_2_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -330px;
}

.CD_2_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -170px -488px;
}

.CD_2_L {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -434px -362px;
}

.CD_2_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -210px -488px;
}

.CD_2_R {
    width: 23px; height: 44px;
    background: url('../image/tooth/deciduous_sprites.png') -293px -204px;
}

.CD_2_T {
    width: 23px; height: 25px;
    background: url('../image/tooth/deciduous_sprites.png') -389px -145px;
}

.CD_3_B {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -425px;
}

.CD_3_D {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -250px -488px;
}

.CD_3_L {
    width: 40px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -70px -425px;
}

.CD_3_M {
    width: 20px; height: 15px;
    background: url('../image/tooth/deciduous_sprites.png') -290px -488px;
}

.CD_3_R {
    width: 26px; height: 48px;
    background: url('../image/tooth/deciduous_sprites.png') -247px -78px;
}

.CD_3_T {
    width: 26px; height: 28px;
    background: url('../image/tooth/deciduous_sprites.png') -10px -313px;
}

.CD_4_B {
    width: 36px; height: 10px;
    background: url('../image/tooth/deciduous_sprites.png') -316px -313px;
}

.CD_4_D {
    width: 11px; height: 14px;
    background: url('../image/tooth/deciduous_sprites.png') -460px -488px;
}

.CD_4_L {
    width: 36px; height: 9px;
    background: url('../image/tooth/deciduous_sprites.png') -186px -425px;
}

.CD_4_M {
    width: 11px; height: 14px;
    background: url('../image/tooth/deciduous_sprites.png') -491px -488px;
}

.CD_4_O {
    width: 14px; height: 14px;
    background: url('../image/tooth/deciduous_sprites.png') -364px -488px;
}

.CD_4_R {
    width: 36px; height: 43px;
    background: url('../image/tooth/deciduous_sprites.png') -140px -73px;
}

.CD_4_T {
    width: 36px; height: 24px;
    background: url('../image/tooth/deciduous_sprites.png') -126px -268px;
}

.CD_5_B {
    width: 45px; height: 11px;
    background: url('../image/tooth/deciduous_sprites.png') -251px -313px;
}

.CD_5_D {
    width: 15px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -199px;
}

.CD_5_L {
    width: 45px; height: 12px;
    background: url('../image/tooth/deciduous_sprites.png') -121px -313px;
}

.CD_5_M {
    width: 14px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -429px;
}

.CD_5_O {
    width: 16px; height: 17px;
    background: url('../image/tooth/deciduous_sprites.png') -534px -47px;
}

.CD_5_R {
    width: 45px; height: 46px;
    background: url('../image/tooth/deciduous_sprites.png') -75px -10px;
}

.CD_5_T {
    width: 45px; height: 25px;
    background: url('../image/tooth/deciduous_sprites.png') -127px -209px;
}