@charset "utf-8";
*{
	font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
	overflow:hidden;
}
table td{
	padding:3px;
}
button{
	padding:0 2px 0 2px;
}

#tabmodel .datagrid-header { 
	position: absolute; visibility: hidden;
}
.datagrid-row{
	font-size:14px;
}
.datagrid-cell{
	font-size:14px;
}
#memo{
	margin-top:3px;
}
#icdlist{
	width:200px;
	margin:0;
}
#position{
	width:57px;
	margin:0;
}
#syndromelist{
	width:266px;
}
#btQuote{
	float:right;
	font-weight:bold;
	width:120px;
}
#btCancel{
	float:right;
	font-weight:bold;
	margin:0 3px 0 5px;
	width:70px;
}