#navcategory 
{
width:100%;
height:100%;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EEF1F2', GradientType='0');
}

ul.navcategory
{
font-family: Arial, Helvetica, sans-serif;
list-style-type:none outside none;
color: black;
overflow:hidden;
margin:0;
padding:0px;
}
.navcategory li
{
list-style-type:none;
float:left;
border-bottom: 1px solid #8DB2E3;
height:40px;
width:100%;
padding:0px;
cursor: hand;
}
.navcategory li a
{
color: #483000;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
font-size: 12px;
font-weight:bold;
display: block;
padding: 3px;
line-height:40px;
}

.navcategory li a:link,a:visited
{
color: #000;
text-decoration: none;
}

.navcategory li a:hover,a:active.cssACategory
{
background-color: #CBE8F6;
}

.navcategory li input.flag{
	width:6px;
	padding-left:0;
	padding-right:0;
	height:100%;
	float:left;
	text-align:right;
	display:block;
	cursor:pointer;	
}

.navcategory li div
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight:bold;
	display: block;
	padding-left: 2px;
	line-height:40px;
	width: 130px;
	float: left;
}

.navcategory li h3{
	height:40px;
	text-align:center;
	color:#365BBD;
	font:bold 12px Times;
	margin:0px;
}
.navcategory li h3 span{
	display:block;
	color:#999999;
	font:normal 12px Times;
}

