.tool{
	float:right; 
	padding:2px 5px;
}
.location{
	height:25px;
	line-height:25px;
	padding:0 2px 2px 0;
}

.location input{
	width:220px;
}

.location span,.title span{
	padding:2px 4px 2px 2px;
}

.title span {
	height:25px;
	line-height:20px;
}
.title{
	padding-top:2px;
}

.title select{
	width:226px;
	height:20px;
}

.button{
	position: absolute;
	padding:4px 2px;
	text-align:right;
	right:4px;
}

.button a{
	line-height:30px;
}

.cunActive {
	padding-top:3px;
}