.select
{
    padding:0;
}

#tags
{
    border:1px solid #cccccc;
    width:411px;
    height:192px;
    overflow-y:auto;
    padding:10px;
    border-radius:4px;
}
#txtTagName
{
    width:352px;
}
.bottom-div
{
	padding-bottom:10px
}
