
#patInfo {
    height:140px;
    overflow:hidden;
}
#patInfo_west {
    width:120px;
}
#photo {
    padding:22px 20px;
}
#content {
    padding:5px 0px;
}
#divLocation {
    padding:10px 0px;
}

#newCatalog {
    display:none;
    padding:20px;
}
#folderName {
    width:272px;
}
#txtName {
    width:192px;
}
#path {
    margin-top:10px;
    width:271px;
}
#cbxNewLocation {
    width:200px;
}
#bottom {
    padding-top:20px;
}
#divTag {
    padding:0px 0px 0px 10px;
}
#keyWord {
	position:relative;
	top:8px;
	left:4px
}
.tag {
    border:1px solid #a5d24a;
    background:#cde69c;
    color:#638421;
    float:left;
    margin:4px;
    padding:2px 4px;
    font-size:12px;
    cursor:pointer;
    transition:0.5s;
}
#divMemo {
    padding:10px 0px 10px 30px
}

#txaMemo {
    width:330px;
    height:80px;
    overflow:auto;
}
.tool {
    padding:4px;
}
.display-title{
	padding-right:10px;
}
.tagsinput{
    display:block;
	margin:-20px 0px 0px 61px;
	border:1px solid #cccccc;
	border-radius:2px;
}
#cbxLocation{
	width:225px;
}
.contantdiv{
	padding:5px 0 5px 5px;
}
.tagsinput input{
	color:#999999;
}
