
.fav_west {
    width:362px;
    border-right:1px solid #cccccc;
    overflow-x:hidden;
    padding:0px 10px;
}
#favoriteRecordList {
    width:347px;
    float:left;
    height:100%;
}
#favoriteRecordList>div.apply+div.apply {
    border-top:1px dashed #cccccc;
}
.apply {
    float:left;
    width:100%;
}
.titlelist {
    text-align:left;
    line-height:25px;
    padding:5px 0px;
}
.titlelist>span+span {
    padding-left:10px;
}
.apply_nav {
    float:left;
}
.apply_nav>div.apply_array:nth-child(even) {
    padding-left:10px;
}
.apply_array {
    float:left;
    cursor:pointer;
    transition:0.5s;
    padding-bottom:10px;
}
.apply_array .content {
    display:block;
    width:166px;
    height:205px;
    position: relative;
    border: 1px solid #cccccc;
    cursor:pointer;
}
.apply_array .content:hover {
    background-color:#EFF8FE;
}
.info {
    width:156px;
    height:145px;
    padding:5px 5px 0px;
    overflow:hidden;
}
.pic {
    background:url(../image/icon/wait.png) no-repeat 114px -2px;
    transition:0.5s;
    opacity:0.7;
}
.pic:hover {
    opacity:1;
}
.tag {
    width:166px;
    height:55px;
    background:#2AB66A;
    color:#ffffff;
}
.titlediv {
    padding:5px;
    overflow:hidden;
    height:20px;
    line-height:20px;
}
.datediv {
    padding:0px 5px 5px;
    overflow:hidden;
    height:20px;
    line-height:20px;
}
.title,.date {
    display:inline-block;
    width:135px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size:13px;
}
.favIcon {
    width:20px;
    height:20px;
}
#searchTool {
    height:35px;
    padding:10px 10px 0px 10px;
    overflow:hidden;
}
.diagnosDesc {
    float:right;
    margin-top:-3px;
}
#editEpisode {
    float:left;
    padding:0px 10px;
}
#editEpisode>div.apply>div.apply_nav>div.apply_array {
    padding:0px 10px 10px 0px;
}
.panel-body .panel-body-noheader 
{ 
    border-color: #ddd;
}
