
#patInfo {
    height:140px;
    overflow:hidden;
}
#patInfo_west {
    width:120px;
}
#photo {
    padding:22px 20px;
}
#content {
    padding:5px 0px;
}
#divLocation {
    padding:5px;
}

#newCatalog {
    display:none;
    padding-left:8px;
}
#folderName {
    margin-top:10px;
}
#txtName {
    width:200px;
}
#path {
    margin-top:10px;
}
#cbxNewLocation {
    width:200px;
}
#bottom {
    padding:5px;
}
#divTag {
    padding:2px  5px 5px 5px;
}
#keyWord {
	position:relative;
	top:30px;
}
.tag {
    border:1px solid #a5d24a;
    background:#cde69c;
    color:#638421;
    float:left;
    margin:4px;
    padding:2px 4px;
    font-size:12px;
    cursor:pointer;
    transition:0.5s;
}
#divMemo {
    padding:5px;
}

#txaMemo {
    width:305px;
    height:80px;
    overflow:auto;
}
.tool {
    padding:5px;
}
.display-title{
	padding:0 10px 0 15px;
}
.tagsinput{
	margin:-15px 0px 0px 85px;
	border:1px solid #40a2de;
}
#cbxLocation{
	width:208px;
}
.contantdiv{
	padding:5px 0 5px 5px;
}
