body{
	font-family:"Microsoft Yahei";
}
.tbData 
{ 
    border:#e8e8e8 1px solid;
    margin:0px 0px 10px; 
    font-family:microsoft yahei; 
    font-size:13px; 
    color:#333; 
    background-color:white; 
    border-spacing:0px; 
    text-align:left;
    border-collapse:collapse;
} 
.tbData td,.tdtitle
{ 
    padding:3px 5px; 

} 
.tbData .tdtitle 
{  
    background-color:#f5f5f5;
    padding:3px 8px; 
    padding:3px 5px;
    height:25px;
} 
.tbData .tdtitle span
{
	height:32px;font-size:13px;padding:6px 0 0 10px;
}

.tbData tr:hover td 
{ 
    border-bottom:solid 1px blue; 
}
 
.ie11 .tbData tr:hover td 
{ 
    border-bottom:none; 
}

.tbData tr td .info div
{
	padding:0px;
	margin-bottom:0px;
	
}
.tbData tr #tool div
{
	padding:0 0 6px 0;	
}
.tbData tr #tool div a
{
	color:#4756c6; 
	text-decoration:underline; 
	font-size:12px; 
	transition:0.5s;
}
.tbData tr #tool div a:hover
{
	color:#339966;
}
.tbData tr td a
{
	text-decoration:none;
}
.tbData tr td a:hover, a:active    
{
    color:red;
    text-decoration:none;
    text-decoration:underline;
}
.tbData tr td.info
{
	line-height:2;
	padding:0px 10px 0 0;
	margin-bottom:0px;
	margin-top:0px;
}
.tbData tr td.info span
{
	font-weight:normal;
	font-size:12px;
	padding:0 0 6px 0;
}

.tcol1
{
	background:#f5f5f5;
}

.tbData tr td.centertd
{
	position: relative;
    min-height: 1px;
    float:left;
    width:16.66%;
    padding-left:20px;
    padding-right:10px;
    
}
.picture
{
	width:70px;
	height:70px;
	margin:10px 0 0 20px;
	background-size:contain;
}
.title
{
	background-color:#F5F5F5; 
	height:30px;
	border:solid 1px #ddd; 
	line-height:30px;
	margin:1px 0px 0px 0px;
	padding:0px;
	font-weight:bold;
	width:100%;
}
.title-left
{
	float:left;
	padding-left:5px;
}

.title-right
{
	font-weight:bold;
	float:right;
	padding-right:10px;
}
.info
{
	position: relative;
    min-height: 1px;
    float: left;
    width: 25%;
    padding-left:0px;
    padding-right:0px;
}
.info .col1
{
	color:#5FB53A;
}

.info .col2
{
	color:#FF5E13;
}

#tagMemo
{
	position: relative;
    min-height: 1px;
	float: left;
	width: 50%;
	padding-left:0px;
	padding-right:0px;
	border-left:1px solid #e8e8e8;
	border-right:1px solid #e8e8e8;
}
#remark-tagMemo
{
	position: relative;
    min-height: 1px;
	float: left;
	width: 58.33%;
	padding-left:0px;
	padding-right:0px;
	border-left:1px solid #e8e8e8;
}
#Memo
{
	margin:-5px 0px 0px 0px;
	height:70px;
	color:#638421;
	font-size:12px;
}
#remark-Memo
{
	padding-left:5px;
	height:70px;
	color:#638421;
	font-size:12px;
}
.noborder
{
	height:50px;
	padding:6px;
	width:540px;
	overflow-y:auto;
	resize:none;
	border:none;
}
.modify
{
	color:#adaca9;
	font-size:12px;
	float:right;
	margin:0px 3px -5px 0px;
}
#modifymemo
{
	font-size:10px;
	margin:0 4px 0 0;
	color:#adaca9;
}

#tags
{
	width:100%;
	padding:0px;
	top:0px;
	bottom:0px;
	height:65px;
	border-top:1px solid #e8e8e8;
	overflow-y:auto;
	
}
.tag
{
 	border:1px solid #a5d24a;
 	background:#cde69c;
 	color:#638421;
 	float:left;
 	margin:4px;
 	padding:2px 4px;
 	font-size:12px;
 	cursor:pointer;
 	transition:0.5s;
}
.tbData tr td .tag:hover
{
	background:#bed78e;
}
.addkeywords
{
	color:#adaca9;
	font-size:12px;
	float:right;
	margin:3px 3px -5px 0px;
}
.addkey
{
	background:url(../image/icon/arrowscq.png) -167px 0px no-repeat;
	width:18px;
	height:16px;
	display:inline-block;
	float:left;
	margin:0 4px 0 0;
	opacity:0.8;
	transition:0.5s;
}
.tbData tr td a .addkey:hover
{
	opacity:1;
}
#tool
{
	width:16.66%;
	text-align:center;
	padding:10px 0 0 0;
	float:left;
	position: relative;
    min-height: 1px;
}

.top
{
	height:48px; 
	line-height:30px;
	font-size:12px;
}
.count
{
	float:left;
	color:Green;
	font-weight:bold;
}
.toolbar
{
	float:right;
}
.select .all
{
	text-decoration:none;
	background-color:#95B8E7;
	padding:5px 10px 3px 8px;
	height:28px;
	line-height:18px;
	color:#006600;
}

.select .selected
{
	padding:5px 20px 3px 8px;
	background:#95B8E7 url("../image/icon/close.gif") right 9px no-repeat;
	height:28px;
	line-height:18px;
	text-decoration:none;
	color:#006600;
}
.select .selected:hover
{
	background-position:right -15px;
	color:#fff;
}
.select 
{
	font-weight:bold;
	height:28px; 
}
.easyui-searchbox 
{
	border:1px solid #57b382;height:28px;width:268px;padding:1px 6px 0 6px; font-size:12px;
}

#search-picture
{
	height:20px;
	border:0;
	margin:5px 10px -3px 18px;
}

*,html,body{font-family:microsoft yahei;font-size:13px;padding:0;margin:0; color:#000;}
.fi_leftcq{width:200px;float:left; background:#eaeaea;position:left;height:100%; overflow-y:auto;}
.fi_treecq{ list-style:none;}
.fi_treecq li{ background:#fafafa;}
.fi_treecq li a.t{background:#eaeaea;font-size:16px;color:#333;height:48px;display:block;text-align:center;padding:12px 0 0 0;text-decoration:none; transition:0.5s;}
.fi_treecq li a.active{border-right:6px solid #57b382;}
.fi_treecq li a.t:hover{color:#339966;background:#eaeaea;border-right:6px solid #57b382;}
.fi_treecq li ul.ztree li span.button.ico_docu,.fi_treecq li ul.ztree span.button.ico_close,.fi_treecq li ul.ztree span.button.ico_open{display:none;padding:0 12px 0 0;}
.fi_treecq li ul.ztree span{padding:0 0 0 4px;}
.fi_rightcq{margin:0 0 0 280px; padding:5px 10px 0px;height:100%;overflow-y:auto;}
.fi_searchcq{margin:0 0 0px 0;}
.fi_searchcq .top .toolbar .in{border:1px solid #57b382;height:28px;width:268px;padding:1px 6px 0 6px; font-size:12px;}
.fi_searchcq .top .toolbar .s{width:58px;height:28px;background:#57b382;display:inline-block; position:left;margin:0 0 -4px -4px; transition:0.5s;}
.fi_searchcq .top .toolbar .s:hover{ background:#339966;}
.fi_searchcq .top .toolbar .s i{color:#fff;font-size:16px;padding:5px 0 0 18px;}
.fi_patientcq{float:left;width:100%;margin:15px 0 0 0;}
.fi_patientcq .tdtitle span {height:32px;font-size:13px;padding:6px 0 0 10px;}
.fi_patientcq .tdtitle .c{background:url(../image/icon/arrowscq.png) -185px 0px no-repeat;width:21px; height:21px;float:right; margin:-26px 10px 0 0; cursor:pointer;opacity:0.4; transition:0.5s;}
.fi_patientcq .tdtitle .c:hover{opacity:1;}

