.display, .display li {
	 list-style:none;
	 padding:0;
	 margin:0;
}
.display li { 
	 float:left; 
	 padding:2px;
	 overflow:hidden;
}
.display li a {
	 display:block;
	 width:100%;
	 height:100px;
	 text-align:left;
	 padding:3px;
	 background:#ffffff;
	 color:#000000;
	 text-decoration:none;
	 border: 1px solid #D7D7D7;
}
.display li a:hover {
	 background:#EFF8FE
	 color:#000000;
	 text-decoration:none;
	 border-right:1px solid #000;
}

.recordInfo{
	margin:3px;
	padding:2px;
	width:200px;
	height:100px;
	border: 1px solid #000000;
	overflow:hidden;
}
.record{
	margion:2px;
	padding:2px;
	border: 1px solid #EEE;	
}
.operation{
	margin:3px;
	padding:2px;
	height:100px;
	border: 1px solid #000000;
	overflow:hidden;
}
