@charset "utf-8";
*{ margin:0; padding:0; color:#000;}
em{ font-style:normal; }
.new-item {cursor:pointer;}
.new-item .subitem { width:250px; padding:0px 4px 0px 8px; }
.new-item .subitem dl { border-top:1px solid #EEE; padding:6px 0px; overflow:hidden; zoom:1; }
.new-item .subitem .fore1 { border-top:none; }
.new-item .subitem dt { float:left; width:60px; line-height:22px; text-align:left; padding:3px 3px 0px 0px; font-weight:700; color:#FFFFFF; }
.new-item .subitem dt a { color:#365BBD; text-decoration:none; }
.new-item .subitem dd { width:170px; padding:3px 0px 0px; overflow:hidden; }
.new-item .subitem dd a {color:black; text-decoration:none;}
.new-item .subitem dd a .doc{cursor:pointer; display:block; height:14px; line-height:14px; padding:0px 5px; margin-top:5px; border-left:1px solid #CCC;}
.new-item .subitem dd a .titleInfo{ width:150px; padding-left:10px; border:1px solid #CCC; display:none; overflow:hidden;}
.new-item .subitem dd a .titleInfo .info{ cursor:pointer; padding:5px 0 1px 0;overflow:hidden;}
.new-item .subitem dd a:hover {zoom:1;}
.new-item .subitem dd a:hover .titleInfo{ background-color:#FAFAFA; display:block; color:#000; overflow:hidden;min-height:25px;}
.new-item .subitem dd p .doc{ height:14px; line-height:14px; padding:0px 5px; margin-top:5px; border-left:1px solid #CCC;overflow:hidden;}
.new-item .subitem dd p .doc:hover { font-weight:bold;}
.new-item .subitem dd p .titleInfo{ padding-left:20px; border:1px solid #CCC;  display:none;}
.new-item .subitem dd p .titleInfo div{ padding:5px 0 1px 0;overflow:hidden;}
.new-item .subitem dd p .titleInfo div:hover { font-weight:bold;}
.new-item .subitem dd p:hover .titleInfo{position:inherit;left:0px;background-color:#FAFAFA; display:block; width:150px; color:#000; overflow:hidden;min-height:25px;}
.instance-item {cursor:pointer;}
