.instance-item{
	margin:0;
	padding:2px;
	font:normal 12px Microsoft Yahei;
}
.instance-item li{
	border-bottom:#EEE 1px solid;
	list-style-type:none;
	height:110px;
}
.instance-item li:hover{
	background:#EFF8FE;

}
.instance-item li .datetime{
	float:left;
	text-align:center;
	padding-right:2px;
	border-right:#EEE 1px solid;
	height:100%;
}
.instance-item li .datetime .date{
	margin-top:20px;
	color:#365BBD;
	font:bold 12px Microsoft Yahei;
}
.instance-item li .datetime .time{
	color:#999999;
	margin:5px 0 5px 0;
}
.instance-item li .content{
	float:left;
	padding-left:3px;
	width:160px;
}
.instance-item li .content .title{
    padding-top:10px;
}

.instance-item li .content .operator{
    float:right;
    padding-top:20px;
}

.instance-item li .flag
{
	width:7px;
	text-align:right;
	cursor:pointer;	
	float:right;
	padding-top:30px;
	margin-top:30px;
}
.instance-item li .flagp
{
	border:#49A026;
	background-color:#49A026;
	color:#49A026
}

.instance-item li .page{
	width:55px;
	float:right;
}
#messageInfo
{
	background-color:#E0ECFF;
	font-weight:bold;
	font-size:13px;
	margin:0px;
	padding:0px;
	line-height:29px;
	display:inline-block;
	width:100%;
}

.alert{
	margin:0;
	display:inline-block;
	padding:2px;
    background-color:#1A53A5;
    color:#FFFFFF;
    font-weight:bold;
}


.warning{
	margin:0;
	display:inline-block;
	padding:2px;
    background-color:#EB8B0A;
    color:#FFFFFF;
    font-weight:bold;		
}

.forbid{
	margin:0;
	display:inline-block;
	padding:2px;
    background-color:#D41A0F;
    color:#FFFFFF;
    font-weight:bold;	
}

#messageInfo img{
	vertical-align:middle;
	margin-right:1px;
	float:left;
}
#instance-tools{
	vertical-align:middle;
}


.tableStyle01 {
	background-color: #ABDDEE;
}
