*{
	margin:0px;
	padding:0px;
	list-style-type:none;
	text-decoration:none;
}

a,img{
	border:0;
}

.display{
	font-family:"Microsoft Yahei";
}

.display li{
  	display: block;
	float: left;
	position: relative;
	text-align:left;
	list-style:none;
	margin:5px 0 5px 0;
}

.content{
	padding:3px;
	overflow:hidden;
}
 
.imagecontent{
	width:130px;
	height:155px;
	margin:0 15px 0 15px;
	border:#D9D9D9 1px solid;
}

.imagecontent .title{
	text-align:center;
	line-height:25px;
	background-color:#57B382;
	color:#ffffff;
}

.imagecontent .image{
	width:128px;
	height:130px; 
}

#favoritesPlus{
	background:url('../image/toolbar/favorites_plus.png') no-repeat center center;
	width:30px;
}

#favoritesPlus{
	background:url('../image/toolbar/favorites_plus.png') no-repeat left center;
}