 
.spancolor{
	color: black; 
	font-weight:bold;
}
.spancolorleft{
	color: #666;
}

#patientInfo{
	position: relative;
	height:20px;
	line-height:20px;
	width:100%;	 
	margin: 0px;
	padding:0px;
	border: 0px;
	font-size:10pt; 
	text-align: left;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F5FA', endColorstr='#C8E0FB', GradientType='0');
	white-space:nowrap;
	display:none;
	text-overflow: ellipsis;
	overflow: hidden;
	border:0px;
}

.toolspan{
	border-right:1px solid #C8CAD0;
}

#toolBox {
	position: relative;
	height: 50px;
	width: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#F0F0EE', GradientType='0');
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align:middle;
}

.toolblock
{
	float:left;
	vertical-align:middle;
	height:50px;
	margin-right:2px;
	padding:0px 1px 0px 1px;
}

#tool-disease{
	display:none;
	padding-right:5px;
}

#toolBox a{
	folat:left;
	vertical-align:middle;
}

#recordtype{
	width:160px;
	margin:2px 0px 0px 1px;
}

#disease{
	width:160px;
	margin:4px 0px 0px 1px;
}

.tableStyle01 {
	font-size: 12px;
	color: #000000;
	height: 30px;
	top: 15px;
	background-color: #FCFCFC;
}
.tooledit{
	width:360px;
	margin:0px;
	padding:0px;	
}

#unLock{
	background:url('../image/toolbar/unlock.png') no-repeat bottom center;
	width:61px;
	height:40px;
	padding-top:3px;
	margin-top:5px;
}

#modifysuper{
	background:url('../image/toolbar/modifysuper.png') no-repeat bottom center;
	width:85px;
	height:40px;
	padding-top:3px;
	margin-top:5px;
}

#favoritesPlus{
	background:url('../image/toolbar/favorites_plus.png') no-repeat bottom center;
	width:61px;
	height:40px;
	padding-top:3px;
	margin-top:5px;
}
#favorites{
	background:url('../image/toolbar/favorites.png') no-repeat bottom center;
	width:48px;
	height:40px;
	padding-top:3px;
	margin-top:5px;
}

#reference{
	background:url('../image/toolbar/reference.png') no-repeat 22px 24px;
	width:61px;
	height:40px;
	margin-top:5px;
	padding-bottom:20px;
}

#export{
	background:url('../image/toolbar/export.png') no-repeat 22px 25px;
	width:61px;
	height:40px;
	padding-bottom:22px;
	margin-top:5px;	
}

#binddatareload{
	background:url('../image/toolbar/reload.png') no-repeat 22px 10px;
	width:60px;
	height:35px;
	padding-top:22px;
	margin-top:1px;
}
#chick{
	background:url('../image/toolbar/chief.png') no-repeat bottom center;
	width:40px;
	height:40px;
	padding-top:3px;
	margin-top:5px;
}
#print{
	background:url('../image/toolbar/printinsu.png') no-repeat bottom center;
	width:40px;
	height:40px;
	padding-top:3px;
	margin-top:5px;
}
#save{
	background:url('../image/toolbar/saveinsu.png') no-repeat bottom center;
	width:40px;
	height:40px;
	padding-top:3px;
	margin-top:5px;
}
#delete{
	background:url('../image/toolbar/delete.png') no-repeat bottom center;
	width:40px;
	height:40px;
	padding-top:3px;
	margin-top:5px;	
}

#redo{
	background:url('../image/toolbar/redo.png') no-repeat center center;
}
#undo{
	background:url('../image/toolbar/undo.png') no-repeat center center;
}
#paste{
	background:url('../image/toolbar/paste.png') no-repeat center center;
}
#copy{
	background:url('../image/toolbar/copy.png') no-repeat center center;
}
#cut{
	background:url('../image/toolbar/cut.png') no-repeat center center;
}
#sub{
	background:url('../image/toolbar/sub.png') no-repeat center center;
}
#super{
	background:url('../image/toolbar/super.png') no-repeat center center;
}
#unindent{
	background:url('../image/toolbar/unindent.png') no-repeat center center;
}
#indent{
	background:url('../image/toolbar/indent.png') no-repeat center center;
}
#alignright{
	background:url('../image/toolbar/alignright.png') no-repeat center center;
}
#aligncenter{
	background:url('../image/toolbar/aligncenter.png') no-repeat center center;
}
#alignleft{
	background:url('../image/toolbar/alignleft.png') no-repeat center center;
}
#alignjustify{
	background:url('../image/toolbar/alignjustify.png') no-repeat center center;
}
#strike{
	background:url('../image/toolbar/strike.png') no-repeat center center;
}
#underline{
	background:url('../image/toolbar/underline.png') no-repeat center center;
}
#italic{
	background:url('../image/toolbar/italic.png') no-repeat center center;
}
#bold{
	background:url('../image/toolbar/bold.png') no-repeat center center;
}
#clipboard{
	background:url('../image/toolbar/clipboard.png') no-repeat center center;
}
#spechars{
	background:url('../image/toolbar/spechars.png') no-repeat 10px 10px;
	width:38px;
	height:35px;
	padding-top:22px;
	margin-top:1px;
}
#recording{
	background:url('../image/toolbar/startrecord.png') no-repeat center center;
	width:28px;
	height:40px;
	margin-top:5px;
	padding-bottom:19px;
}
.ie11 #recording{
	margin-top:-15px;
}
#message{
	border-left:0;
}

#event{
	border:0px;
	line-height:29px;
	border-bottom:1px solid;
	font-weight:bold;
	width:360px;
}

#event img{
	vertical-align:middle;
	margin-right:1px;
	float:left;
}

#lock{
	border:0px;
    margin:0px;
	font-weight:bold;
	color:red;
	font-weight:bold;
	font-Size:18px;
}

.helper{
	margin:0;
    height:20px;
	line-height:20px;
	border:1px solid #C8CAD0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0ECFF', endColorstr='#9BD1FA', GradientType='0');
    padding:2px;
    float:left;
}
#viewRevision{
	margin-top:8px;
	width:61px;
	height:40px;
}
.ie11 #viewRevision{
	margin-top:-13px;
}
#fontcolor{
	background:url('../image/toolbar/fontcolor.png') no-repeat center center;
}
#recordtransfer{
	background:url('../image/toolbar/transfer.png') no-repeat 22px 25px;
	width:61px;
	height:40px;
	padding-bottom:22px;
	margin-top:5px;	
}
#silverLocation{
	background:url('../image/toolbar/silverLocation.png') no-repeat center center;
}
#confirmRecordCompleted{
	background:url('../image/toolbar/confirmRecordCompleted.png') no-repeat bottom center;
	width:61px;
	height:40px;
	padding-top:3px;
	margin-top:5px;
}