table{padding-top:5px;}
table .desc{width:70px; text-align:right; }
table .value{width:200px;}
table td input{width:260px;}
.desc label{padding:0 5px 0 0}
#Find{margin-left:20px;}
.panel-body .panel-body-noheader { border-color: #ddd;}