*{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
	font-family:"Microsoft Yahei";
}
body{
    overflow: hidden;
    margin:0;
}

.toolradio{
	padding:0;
}

.select{
	margin-top:20px;
}
.selectDialog{
	margin-top:3px;	
}
#selDiseaseSpecies{
	width:278px;	
}
.btnAdmPatType
{
	float:right;
	padding-right:40px;
}

#spDiseaseName
{
	font-weight:bold;
	font-size:28px;
	text-align:center;
}