*{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
	font-family:"Microsoft Yahei";
}
body{
    overflow: hidden;
    margin:3px 0 0 0;
}

.toolradio{
	padding:3px 0 0 58px;
}

.select{
	height:80px;
	padding-top:5px;
	padding-left:40px;
	position:relative;
}
.selectDialog{
	margin-top:3px;	
}
#selDiseaseSpecies{
	width:278px;	
}
.btnAdmPatType
{
	float:right;
	padding-right:40px;
}

#spDiseaseName
{
	padding-left:80px;
	font-weight:bold;
	font-size:28px;
	text-align:center;
}