*{
	margin:0;
	padding:0;
}

#logTree{
	margin:10px 0 0 15px;
}

.log-item{
	padding:0 0 10px 8px;
} 
.log-item .head,.foot{
	content:"";
	width: 6px;
	height: 6px;
	border:3px solid #ccc;
	border-radius: 8px;
	margin-left:-5px;
}

.log-item li{
	list-style: none;
}


.log-item .left{
	content:"";
	width: 9px;
	height: 9px;
	border:3px solid #fff;
	border-radius: 9px;
	position:relative;
	top:25px;
	left:-7px;
	float: left;
	background: #ccc;
}

.log-item .right {
	display:block;
	border-left:2px solid #ccc;
	padding:3px 3px 3px 17px;
	text-decoration: none;
	color: black;
}

.log-item .first{
	clear:both;
	padding:2px;
}

.log-item .right .title{
	font-weight:bold;
	float: left;
	width:400px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}


.log-item .right .fleft{
	float: right;
	width:67px;
}

.log-item .log{
	 background:url(../image/icon/log.png) no-repeat;
	 background-position:0 2px;
	 width:16px;
	 height:26px;
	 float:right;
}
.treelog{
	 background:url(../image/icon/log.png) no-repeat;
	 background-position:0 7px;
	 width:16px;
	 height:26px;
	 float:right;	
}
.treedate{
	height:20px;
	color:gray;
}
.treetitle{
	height:20px;
	line-height:20px;
}
.log-item li:hover{
	background:#F7F7F7;
}

.log-item .second{
	clear:both;
	padding:2px;
}
.log-item .second .data{
	color:#39B0FF;
}
.log-item .second span{
	margin-right:10px;
}
.log-item .third{
	clear:both;
	padding:0 2px 2px 2px;
}
.log-item .third .operator{
	border-right:1px solid #000;
	padding-right:10px;
}

.log-item .third .status{
	padding-left:10px;
	
}
.green{
	color:#21BA45;
}
.blue {
	color:#39B0FF;
}
.hoverdot{
	background-color:#21BA45 !important;
}

.selectdot{
	background-color:#21BA45 !important;
}

.selectli{
	background:#F7F7F7 !important;
}

.treetype{
	clear:both;
	padding-left:8px;
}

#logTree .tree-node{
	position: relative;
}
.treeleft{
	display:block;width:66px;height:16px;position:absolute;right:0;padding-right:4px;
}

.currentstatus{
	color:#21BA45;
	font-weight:bold;
	font-size:15px;
	position: relative;
	margin:12px 0 -13px 20px
}




