.tool{
	float:right; 
	padding:0;
}
.location{
	padding:0;
}

.location input{
	width:220px;
}


.button{
	padding:0;
	text-align:right;
}

.button a{
	line-height:30px;
}

.cunActive {
	padding-top:0px;
}

.panel-header, .panel-body 
{ 
	border-color: #ddd;
}