.desc{
	width:60px;
	text-align:right;
	padding-top:3px;
	float:left;
	margin-right:10px;
}
#cboSignType{
	width:308px;
}
#wardcombo{
	width:241px;
}
#cbxLoc{
	width:308px;
}
#cbxNurLoc{
	width:308px;
}
#medicareNo,#patientNo,#IDCardNo,#medicalInsuranceNo{
	width:112px;
	float:left;
}

.row {
	padding-top:10px;
	float:left;
    
}
.radioloc{
}
.new{
	float:left;
	padding-top:3px;
}
.radiostatus{
	height:35px;
	line-height:35px;
	clear:both;
	float:left;
    padding-top:6px;
}
#patientName{
	width:300px;
}
.status{
	float:right;
	padding-right:20px;
}
.panel-body .panel-body-noheader 
{ 
	border-color: #ddd;
}
#oDate{
	display:none;
}

.panel-body, .panel-header{
	border-color:#cccccc;
}
