.desc{
	width:60px;
	text-align:right;
	padding:3px;
	float:left;
}
#cboSignType,#wardcombo{
	width:310px;
}
#cbxLoc{
	width:188px;
}
#medicareNo,#patientNo,#IDCardNo,#medicalInsuranceNo{
	width:115px;
	float:left;
}

.row {
	padding-top:3px;
	float:left;
    
}
.radioloc{
}
.new{
	float:left;
	padding-top:3px;
}
.radiostatus{
	height:35px;
	line-height:35px;
	clear:both;
	float:left;
    padding-top:2px;
}
#patientName{
	width:303px;
}
.status{
	float:right;
	padding-right:20px;
}
.panel-body .panel-body-noheader 
{ 
	border-color: #ddd;
}
#oDate{
	display:none;
}