*{
	margin:0;
	padding:0;
}
.panel-title{
    font-weight: bold;
}

.div-table {
	display: table;
	width: 100%;
	margin-top: 10px;
}

.div-row{
	display:inline-block;
	margin-bottom:10px;
}
.row-item {
	width: 328px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}

.row-item-label {
	padding: 4px 10px 0px 0px;
	width: 38px;
	float: left;
	text-align: right;
}

.row-item-input {
	width: 280px;
	float: left;
}

.row-item-short {
	width: 300px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}
.row-item-input-short
{
	width: 90px;
	float: left;
}
.panel-body, .panel-header
{
	border-color:#cccccc;
}



