*{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
	font-family:"Microsoft Yahei";
}
body{
    overflow: hidden;
    margin:3px 0 0 0;
}
a,img{
	border:0;
}

.toolradio{
	padding:3px 0 0 58px;
}
.tlogoword{
	position:relative;
	top:60px;
	left:-68px;
	color:#339966;
}
.select{
	height:80px;
	padding-top:5px;
	position:relative;
}

.tab_search{
	margin-top:3px;	
}

#selLocId{
	width:278px;
}

#lbTitleName,#lbDateTime{
	padding:2px 0 5px 5px;
	font-size:15px;
	font-weight:bold;
}

#dateTime{
	width:280px;
}


.titlename,.modifytime,.doctor{
	padding:5px 0 5px 15px;
}
.modifytitle{
	display:none;
}
.modifytitle input{
	padding:2px 0 5px 5px;
	width:210px;
}
.tool{
	padding:10px 10px 20px 150px;
}
#titlebefore{
	width:50px;
}
#titleafter
{
	width:50px;
}
#doctorInfo
{
	width:280px;
}
.doctor
{
	display:none;
}

#title{
	display:none;
}
#list{
	display:block;
}
.tlogoimg{
	background:url(../image/icon/timg.png) no-repeat  center center;
	width:100%;
	height:100%;
}
.selectDialog{
	margin-top:3px;	
}
.pic{
	display:inline-block;
	float:left;
	height:100%;
	width:80px;		
}
#selDiseaseSpecies{
	width:278px;	
}