#lbTitle,#lbDateTime{
	padding:2px 0 5px 5px;
	font-size:14px;
	font-weight:bold;
}
.modifytime{
	padding:2px 0 5px 5px;
}

#dateTime{
	width:230px;
}


.titleDate,.modifytitle{
	padding:2px 0 5px 5px;
}
.modifytitle{
	display:none;
}
.modifytitle input{
	padding:2px 0 5px 5px;
	width:210px;
}
.tool{
	width:280px;
}
.tool a{
	float:right;
	margin-left:5px;
}
#titlebefore{
	width:50px;
}
#titleafter
{
	width:50px;
}
#doctorInfo
{
	width:230px;
}
.doctor
{
	padding:2px 0 5px 5px;
	display:none;
}