*{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
}
a,img{
	border:0;
}
body{
	margin:0;
	padding:0;
}
.display li{
  	display: block;
	float: left;
	margin: 8px 15px 8px 10px;
	width: 136px;
	height: 165px;
	text-align:left;
}
.display li .instance{
	width: 100%;
	height: 100%;
	position:relative;
	z-index:0;
}

.pic{
	background:url(../image/icon/wait.png) no-repeat  115px -3px; 
}

.display li .instance a{
	font-weight:normal;
	color:#000000;
	padding:0px;
	margin:0px;
}

.display li .instance a:hover{
	background-color:#EFF8FE;
	position:relative;
	z-index:0;
}

.display li .instance .content{
	height:117px;
	width:130px;
	padding:0px;
	text-align:justify;
	overflow:hidden;
}

.display li .instance .tag{
	position:relative;
	width:128px;
	height:46px;
	text-align:center;
	background-color:rgba(246, 246, 246, 1);
	color:rgba(60, 60, 60, 1);
	margin:-45px 0px 0px 0px;
	border-bottom-right-radius:7px;
	border-bottom-left-radius:7px;
}
.display li .instance .tag .addMemo{
	display:inline-block;	
	color:rgba(153, 153, 153, 1);
	cursor:pointer;
	font-size:12px;
	position:absolute;
	top:8px;
	right:5px;
}

.display li .instance .tag .time{
	color:rgba(153, 153, 153, 1);
	font-size:12px;
}

.display li .instance .tag .addMemo:hover{
	background-color:transparent;	
}
.display li .instance .tag .title{
	font-weight:bold;
	font-size:14px;
	overflow:hidden;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:110px;
	margin:0 auto;
	padding:6px 0px 0px 0px;
}

.display li .instance .tag .time{
	/*padding:1px 5px 5px 5px;*/
}
.display li .instancedimg{
	vertical-align:middle;
}

.display li .template{
	width: 100%;
	height: 100%;

}

.more{
	cursor: pointer;
}

.listOperate{
	padding:5px 0 5px 0;
	cursor: pointer;
}

.display li .template .new .title{
  padding-top:21px;
  height:80px;
  color: #000000;
  border-bottom:1px dashed #cccccc;
}

.display li .template .title{
	text-align:center;
	padding:21px 7px 0px 7px;
	font-size:14px;
	color: #000000;
	height:125px;
}

.display li .template .quote{
 	height:16px;
 	width:16px;
 	margin:-20px 0px 0px 32px;
	background:url("../image/icon/templatequoate.png") no-repeat  -3px 43px;
	/*border-top:1px dashed #cccccc;*/
}

.ie11 .display li .template .quote{
	margin-top: -18px;
}

.display li .template .groupName{
	width:166px;
	height:21px;
	font-weight:bold;
	text-align:center;
	line-height:15px;
	font-size:12px;
	color: #000000;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden; 
	display:block;
	top:5px;
	position:relative;
}

.display li .template a:hover{
	background-color:#EFF8FE;
}

.display li .template a{
	padding:0px;
	margin:0px;
}

.display li .lockimg{
	position:absolute;
	right:0;
	bottom:0;
}

#lockprompt{
	position:absolute;
	background-color:#000000;
	border: 1px solid #ccc;
	display:none;
	font-size:13px;
	z-index:999;
	padding:5px;
	color:#FFFFFF;
	font-weight:bold;
	letter-spacing:1px;
}

#messagetip{
	width:200px;
	height:120px;
	border:1px solid #000;
	background-color:#000;	
	position: absolute;
	border-radius:5px;
	display:none;
	background-color:rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding:5px 0 3px 3px;
}
.tip{
	color:#fff;
	with:100%;
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
}

#down {  
 	width:0; 
    height:0; 
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #000; 
    position: absolute;
    left:95px;
    bottom:-6px;
}

.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{  
    -o-text-overflow: ellipsis;  
    text-overflow: ellipsis;  
}

#createoperate
{
	color: blue;
	text-align:center;
	text-decoration: underline;
	cursor: pointer;
}
#createoperate:hover 
{
	color: red; 
	text-decoration: none;
}

#quoteoperate
{
	color: green;
	text-align:center;
	text-decoration: underline;
	cursor: pointer;
}
#quoteoperate:hover 
{
	color: red; 
	text-decoration: none;
}
.top{
	width:100%;
	height:200px;
	border:1px solid #95B8E7;
}
.middle{
	width:100%;
	border-left: 1px solid #95B8E7;
	border-right: 1px solid #95B8E7;
}
.bottom{
	width:100%;
	height:200px;
	border:1px solid #95B8E7;
}
.middle td img{
	height:8px;
}


.userTemplate{
	padding:15px 0 0 45px;
}

#operations{
	/*width:98%;
	hieght:90%;*/
	padding:10px;
	overflow-y:auto;
	overflow-x:hidden;
}
.tooldiv{
	float:right;
	padding-left:5px;
}
.selectFlag
{
	/*background-color:#378EC4 !important;*/
}

.tree-title
{
	display:inline;
	overflow: hidden;
    -o-text-overflow: ellipsis;  
    text-overflow: ellipsis; 
}
#tempSearch table,tbody,tr,td {
	padding:5px;
}
#sequence {
	width:28px;
	height:20px;
	font-family:Microsoft YaHei UI;
	font-size:14px;
	text-align:center;
	position:absolute;
	right:12px;
	top:17px;
}
#cardAndListKeyWord{
	position:absolute;
	right:45px;
	display:inline-block;
	top:7px;
}
#recordSearch{
	display:inline-block;
	position:absolute;
	top:10px;
	right:217px;
}
#opercardAndListKeyWord{
	position:absolute;
	right:96px;
	display:inline-block;
	top:7px;
}
#allAndOftenKeyWord{
	position:absolute;
	top:7px;
	left:10px;
}

#operBatchContact
{
	width: 60px;
	height: 20px;
	font-family: Microsoft YaHei UI;
	font-size: 14px;
	text-align: center;
	position:absolute;
	right:12px;
	top:17px;
}
.memoConcent
{
	margin-top:25px;
	padding:9px;
}
.creatediv
{
	position:absolute;
	left:40px;
	bottom:40px;
}
.doctitle
{
	height:86px;
	width:117px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	
}
