*{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
}
a,img{
	border:0;
}
body{
	margin:0;
	padding:0;
}

.display{
	margin-left:20px;
}

.display li{
  	display: block;
	float: left;
	border: 1px solid #D7D7D7;
	margin: 8px 15px 8px 5px;
	width: 166px;
	height: 216px;
	text-align:left;
}
.display li .instance{
	width: 100%;
	height: 100%;
	position:relative;
	z-index:0;
}

.pic{
	background:url(../image/icon/wait.png) no-repeat  115px -3px; 
}

.display li .instance a{
	font-weight:normal;
	color:#000000;
	padding:0px;
	margin:0px;
}

.display li .instance a:hover{
	background-color:#EFF8FE;
	position:relative;
	z-index:0;
}

.display li .instance .content{
	height:156px;
	width:150px;
	padding:8px;
	text-align:justify;
	overflow:hidden;
}

.display li .instance .tag{
	position:relative;
	width:166px;
	height:41px;
	padding-top:3px;
	text-align:center;
	background-color:#2AB66A;
	color:#FFFFFF;
}
.display li .instance .tag .addMemo{
	display:inline-block;
	padding:0 0 0 4px;	
	color:#ffffff;
	cursor:pointer;
}
.display li .instance .tag .addMemo:hover{
	background-color:transparent;	
}
.display li .instance .tag .title{
	font-weight:bold;
	font-size:13px;
	overflow:hidden;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
}

.display li .instance .tag .time{
	padding-top:1px;
}
.display li .instancedimg{
	vertical-align:middle;
}

.display li .template{
	width: 100%;
	height: 100%;
	background:url("../image/icon/templatenew.png") no-repeat 115px -3px;

}

.display li .template .new .title{
  height:70px;
  color: #000000;
}

.display li .template .title{
	width:130px;
	text-align:center;
	padding:50px 0px 0px 20px;
	font-size:16px;
	color: #000000;
	height:100%;
}

.display li .template .quote{
 	height:95px;
	background:url("../image/icon/templatequoate.png") no-repeat  -3px 43px;
	border-top:1px dashed #cccccc;
}

.ie11 .display li .template .quote{
	margin-top: -18px;
}

.display li .template .groupName{
	width:166px;
	height:21px;
	font-weight:bold;
	text-align:center;
	line-height:15px;
	font-size:12px;
	color: #000000;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden; 
	display:block;
	top:-40px;
	position:relative;
}

.display li .template a:hover{
	background-color:#EFF8FE;
}

.display li .template a{
	padding:0px;
	margin:0px;
}

.display li .lockimg{
	position:absolute;
	right:0;
	bottom:0;
}

#lockprompt{
	position:absolute;
	background-color:#000000;
	border: 1px solid #ccc;
	display:none;
	font-size:13px;
	z-index:999;
	padding:5px;
	color:#FFFFFF;
	font-weight:bold;
	letter-spacing:1px;
}

#messagetip{
	width:200px;
	height:190px;
	border:1px solid #000;
	background-color:#000;	
	position: absolute;
	border-radius:5px;
	display:none;
	background-color:rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding:5px 0 3px 3px;
}
.tip{
	color:#fff;
	with:100%;
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
}

#down {  
 	width:0; 
    height:0; 
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #000; 
    position: absolute;
    left:95px;
    bottom:-6px;
}

.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{  
    -o-text-overflow: ellipsis;  
    text-overflow: ellipsis;  
}

#createoperate
{
	color: blue;
	text-align:center;
	text-decoration: underline;
	cursor: pointer;
}
#createoperate:hover 
{
	color: red; 
	text-decoration: none;
}

#quoteoperate
{
	color: green;
	text-align:center;
	text-decoration: underline;
	cursor: pointer;
}
#quoteoperate:hover 
{
	color: red; 
	text-decoration: none;
}
.top{
	width:100%;
	height:200px;
	border:1px solid #95B8E7;
}
.middle{
	width:100%;
	border-left: 1px solid #95B8E7;
	border-right: 1px solid #95B8E7;
}
.bottom{
	width:100%;
	height:200px;
	border:1px solid #95B8E7;
}
.middle td img{
	height:8px;
}


.userTemplate{
	padding:15px 0 0 45px;
}

#operations{
	width:98%;
	hieght:90%;
	padding:10px;
	overflow-y:auto;
	overflow-x:hidden;
}
.tooldiv{
	float:right;
	padding-left:5px;
}
.selectFlag
{
	background-color:#378EC4 !important;
}

.doctorwait{
	background:url(../image/icon/doctorwait.png) no-repeat  top right; 
	height:50px;
}

.patientwait{
	background:url(../image/icon/patientwait.png) no-repeat  top left; 
	height:50px;
}

.allwait{
	background:url(../image/icon/allwait.png) no-repeat  top left; 
	height:50px;
}

.doctorwait.patientwait{background:url(../image/icon/allwait.png) no-repeat  top left;}

.tree-title
{
	display:inline;
	overflow: hidden;
    -o-text-overflow: ellipsis;  
    text-overflow: ellipsis; 
}