#tab-tools{
	border-top:0;
	border-left:0;
	border-right:0;
	border-color:#ccc;
	height:32px !important;
	background-color:transparent;
}

.tabbrowse{
	background:url('../image/icon/nodata.png') no-repeat center center;
	overflow:hidden;
}


#btQuotation{
	background:#40A2DE !important;
}

#diagnosDesc{
	vertical-align:middle;
	color:#999;
	width:172px;
}
.tool{
	height:42px;
	line-height:36px;
	padding-left:5px;
	border-color:#ccc;
}
.divepisodelist{
	height:250px;
}