	.content{
		width:351px;
		height:180px;
		padding:20px;
	}
	table tr td{
		padding:2px;
	}
	.userName{
		height:80px;
	}
	#signCell{
		font-weight:bold;
	}
	#divUserName{
		font-weight:bold;
		font-size:24px;
		text-align:center;
		height:40px;
	}
	.input div span{
		height:20px;
		line-height:20px;
	}
	.input div input{
		width:263px;
	}
	.button{
		text-align:center;
	}
	.right{
		margin:3px;
		float:right;
	}
	.left{
		margin:3px;
	}	
	
	form{
	
	}
	.key{
		width:240px;
	}
	.password{
		width:240px;
	}
	.level{
		width:240px;
	}
.row-item {
	width: 365px;
	height:30px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 10px;
}

.row-item-label {
	padding: 4px 10px 0px 0px;
	width: 84px;
	float: left;
	text-align: right;
}

.row-item-input {
	width: 140px;
	float: left;
}
.row-item-label-long{
	padding-top: 4px;
	width: 200px;
	float: left;
	}
.row-item-long {
	width: 350px;
	height:23px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 10px;
}	
