	.content{
		width:310px;
		height:170px;
		padding:10px 10px 5px 10px;
	}
	table tr td{
		padding:2px;
	}
	.userName{
		height:80px;
	}
	#signCell{
		padding:3px;
		font-weight:bold;
	}
	#divUserName{
		font-weight:bold;
		font-size:24px;
		text-align:center;
		height:40px;
	}
	.input div{
		padding-top:6px;
	}
	.input div span{
		height:20px;
		line-height:20px;
	}
	.input div input{
		width:268px;
	}
	.button{
		margin-left:106px;
	}
	.right{
		margin:3px;
		float:right;
	}
	.left{
		margin:3px;
	}	
	
	form{
	
	}
	.key{
		width:270px;
	}
	.password{
		width:263px;
	}
	.level{
		width:270px;
	}
