*{
	margin:0px;
	padding:0px;
	overflow:hidden;
}

input{
	width:200px;
	height:23px;
	line-height:23px; 
	font-size:15px;
	margin-left:4px;
	border: 1px solid #95B8E7;
	margin-top:7px;
}

.content{
	padding:3px;
	overflow:hidden;
}

.content div{
	min-width:36px;
	height:30px;
	padding:2px;
	margin:1px;
	line-height:30px;
	text-align:center;
	border: 1px solid #D7D7D7;
	font-size:12px;
	float:left;
}
.content div:hover{
	background-color:#EFF8FE;
	font-size:23px;
}