@charset "utf-8";
*{
	/*font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;*/
	overflow:hidden;
}
table{
	border-collapse:collapse;
	border:none;
}
table td{
	display:block;
}

.box{
	float:left;
	height:85px;
	width:48px;
	border:solid 1px #cccccc;
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
	margin-bottom:10px;
	color:#666666;
	/*#509de1*/
}

.tdleftDeciduous{
	float:left;
	border-right: 1px solid #999999;
}

.tdleft{
	text-align:right;
	border-right: 1px solid #999999;
}
.tdright{
	text-align:left;
}
.tdbar{
	border-bottom: 1px solid #999999;  
}
.textSurface{
	width:50px;
	height:60px;
	font-size:12px;
}
.textTP{
	width:100%;
	padding-top:5px;
}
.toolthbtn{
	background:#EFEFEF;
	color:#666666;
	border-radius:5px;
}
.btngroup a:hover{
	background-color:#D8EFFF;
}
/*#ToothAll{
	margin-left:85px;
}*/
