*{ margin:0; padding:0; color:#000;}
#InstanceTree div div ul li a,a span,ul li a span
{
	outline:none;
	text-decoration:none;
	border:none;
}
.panel-tool
{
	height:auto !important;
	margin-top:-14px !important;
}
.layout-button-down
{
	margin-top:8px !important;
}
.episodeType
{
	margin-right:3px;
}
.episodeList
{
	margin-right:5px;
}
.panel-body .panel-body-noheader 
{ 
	border-color: #cccccc;
}
