a.selectFlag{
	background-color:#f00 !important;
	}
.tooth-main {
  display: flex;
}

img {
  border: none;
}

.flag-rl {
  position: relative;
  width: 72px;
  text-align: center;
}

/* 设置垂直居中 */
.flag-rl-middle {
  height: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

/* tooth布局 */
.tooth-layout {
  position: relative;
  min-width: 980px;
}

.tooth-layout:after {
  /* 竖线 */
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  border-left: 1px solid #999;
}

/* 默认线的样式 */
.cross-line {
  border: 0px;
  border-top: 2px double #999;
  margin: 8px 0;
}

/* 乳牙时线的样式 */
.cross-line-deciduous {
  border: 0px;
  border-top: 2px double #999;
  margin: 8px auto;
  width: 620px;
}

.deciduous {
  box-sizing: border-box;
  width: 100%;
  overflow:hidden;

}
.permanent {
  box-sizing: border-box;
  width: 100%;
  overflow:hidden;
}

.divLeft-tr,
.divRight-tl {
  float: left;
  width: 50%;
}

.divLeft-tr .box {
  float: right;
}

.divLeft-tr .box:first-child {
  margin-right: 10px;
}

.divRight-tl .box {
  float: left;
}

.divRight-tl .box:first-child {
  margin-left: 10px;
}

.box {
  width: 60px;
  text-align: center;
}
.upRTOuter{
	position:absolute;
	bottom:0;
	width:60px;
	}
.upSurOuter{
	position:absolute;
	bottom:0;
	width:60px;	
	}
/* 恒牙盒子高度 */
.permanent .box-surface {
  height: 60px;
}

.permanent .box-rt {
  height: 65px;
}

/* 乳牙盒子高度 */
.deciduous .box-surface {
  height: 40px;
}

.deciduous .box-rt {
  height: 50px;
}

/* ----盒子高度----- */
.top .box-num-label{
	margin-top:10px;
	}
.bottom .box-num-label{
	margin-bottom:10px;
	}
.box-num-label span {
  background-color: #ddd;
  display: block;
  width: 40px;
  margin: auto;
  line-height: 25px;
  height: 25px;
}

.rts_B,
.rts_L,
.rts_T,
.rts_R,
.rts_P {
  display: block;
  margin: auto;
}

.toothImg.Resize_B{
	min-width:36px;
	}
.toothImg.Resize_D{
	min-width:18px;
	}
.toothImg.Resize_M{
	min-width:18px;
	}
.toothImg.Resize_L{
	min-width:36px;
	}
.toothImg.Resize_P{
	min-width:38px;
	}
.box-surface {
  line-height: 0px;
  font-size: 0px;
}

.toothImg {
  box-sizing: border-box;
  cursor:pointer;
}
.RTImgDisable{
	background:#CDCDB4;	
	cursor:default !important;
}