*{
	margin:0;
	padding:0;
}

.name
{
	padding-bottom:5px;
}

.box
{
	padding:0 10px 10px 10px;
}

.addtextbox
{
	width:550px !important;
	
}

.select
{
	border:1px solid blue;
	background-color:#FFFBEF;
}

.NameDiv
{
	padding:0 0 5px 0;
}

.longInput
{
	width:340px !important;
	margin-top:2px !important;
}

.shortInput
{
	width:280px !important;
	margin-left:5px !important;
}

#property
{
	padding:0 5px 5px 10px;
}

.propertyDiv
{
	padding-top:9px;
}

.saveButton
{
	text-align:center;
	padding:10px 5px 0 5px;
	overflow:hidden;
}

.medTitle
{
	font-size:18px;
	font-weight:6px;
	padding:8px 5px 8px 5px;
	background-color:#F9F9FA;
	margin-bottom:5px;
	border-bottom:2px solid #E0E0E1;
}

#content
{
	padding:0 10px 0 0;
}

.medBox
{
	margin-bottom:10px;
	padding-top:10px;
}

.spancolorleft
{
	font-size:18px;
}

.spancolor
{
	font-size:18px;
}

.man{
	background:url('../image/icon/man_big.png') no-repeat 0% 0% / cover; 
	border-radius: 30px; top: 0px; 
	width: 30px; 
	height: 30px;
	margin:5px 0 0 10px;
	position: absolute; 
}

.woman{
	background:url('../image/icon/woman_big.png') no-repeat 0% 0% / cover; 
	border-radius: 30px; top: 0px; 
	width: 30px; 
	height: 30px;
	margin:5px 0 0 10px;
	position: absolute;
}

.womanCss{
	background:url('../image/icon/girl.png') no-repeat 0% 0% / cover; 
	border-radius: 30px; top: 0px; 
	width: 30px; 
	height: 30px;
	margin:5px 0 0 10px;
	position: absolute; 
}

.manCss{
	background:url('../image/icon/boy.png') no-repeat 0% 0% / cover; 
	border-radius: 30px; top: 0px; 
	width: 30px; 
	height: 30px;
	margin:5px 0 0 10px;
	position: absolute; 
}

.patientInfo{
	padding:10px 0 10px 0 !important;
}

.requiredFlag
{
	color:red;
	font-size:15px;
	font-weight:bold;
	padding-right:3px;
}

.checkCol
{
	margin-bottom:4px;
}

.checkRow
{
	margin-right:10px;
}

.radioCol
{
	margin-bottom:4px;
}

.radioRow
{
	margin-right:10px;
}

.patTextColor
{
	color:#017bce;
}

.patTextEasy
{
	color:#339eff;
}

#templateLayout .layout-split-west {
	border-right-width: 10px
}

#templateLayout .layout-split-north {
	border-bottom-width: 10px
}

.easyBackground{
	background-color:#f5f5f5
}

.boxbottom{
	margin-bottom:0;
}
