.patientInfo {
    position: relative;
    height: 20px;
    line-height: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 10pt;
    text-align: left;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#F0F5FA', endColorstr='#C8E0FB', GradientType='0');
    white-space: nowrap;
    display: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* metro button*/
.metroButton {
    overflow: visible;
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    font: bold 16px/20px '微软雅黑', '黑体';
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    height: 35px;
    width: 100%;
}
 
.right {
    display: block; 
    float: right;
    position: absolute;
    right: 0
}