*{
    margin:0;
    padding:0;
}

#InstanceTree {
    margin:10px;
}

.instance-item{
    padding:0 0 10px 8px;
} 
.instance-item .head,.foot{
    content:"";
    width: 6px;
    height: 6px;
    border:3px solid #ccc;
    border-radius: 8px;
    margin-left:-5px;
}

.instance-item li{
    list-style: none;
}

.instance-item .left{
    content:"";
    width: 9px;
    height: 9px;
    border:3px solid #fff;
    border-radius: 9px;
    position:relative;
    top:35px;
    left:-7px;
    float: left;
    background: #ccc;
}

.instance-item .right {
    display:block;
    border-left:2px solid #ccc;
    padding:3px 3px 3px 15px;
    text-decoration: none;
    color: black;
}

.instance-item .first{
    clear:both;
    padding:2px;
}

.instance-item .right .title{
    font-weight:bold;
    float: left;
    width:160px;
    overflow:hidden; 
    white-space:nowrap;
    text-overflow:ellipsis;
}

.instance-item .right .fleft{
    float: right;
    width:67px;
}

 .printed{
    color:#21BA45;
}
.instance-item .log{
     background:url(../image/icon/log.png) no-repeat;
     background-position:0 2px;
     width:16px;
     height:26px;
     float:right;
}

.instance-item li:hover{
    background:#F7F7F7;
}

.instance-item .second{
    clear:both;
    padding:2px;
}
.instance-item .second .data{
    color:#39B0FF;
}
.instance-item .second span{
    margin-right:10px;
}
.instance-item .third{
    clear:both;
    padding:0 2px 2px 2px;
}
.instance-item .third .operator{
    border-right:1px solid #000;
    padding-right:10px;
}

.instance-item .third .status{
    padding-left:10px;
    
}
.green{
    color:#21BA45;
}
.blue {
    color:#39B0FF;
}
.hoverdot{
    background-color:#21BA45 !important;
}

.selectdot{
    background-color:#21BA45 !important;
}

.selectli{
    background:#F7F7F7 !important;
}





