* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#main {
    padding: 5px;
}

#resRegion {
    width: 500px;
}

#toolbar {
    width: 100%;
    height: 55px;
}

#pnlResScale {
    width: 160px;
    overflow: hidden;
    background-color: #F7F7F7;
}

#pnlResScale>span {
    float: left;
}

#pnlResScale>span>a {
    padding: 15px 5px;
}

#pnlResScale>span>a:hover {
    background: #ddd;
    border: #ddd;
}

#pnlButton {
    background-color: #F7F7F7;
}

#pnlButton>span>a:hover {
    background: #ddd;
    border: #ddd;
}

#insRecords {
    width: 100%;
    height: 26px;
}

#textedit {
    width: 100%;
    height: 50px;
    background-color: #F7F7F7;
    padding-top:10px;
    padding-left:6px;
}

#fontColorDiv {
    background-color: #F7F7F7;
    padding-top:10px;
}