.panel-body {
  background: #f9f9fa;
  border-color: #cccccc;
}

.customtable
{
    border-top:1px solid #ddd;
    border-bottom:0px;
    border-left:0px;
    border-right:0px;
    table-layout:fixed;
    width:100%;
}
.customtable th, td {
    border-color: #ddd;
    border-style:solid;
    border-width:0 1px 1px 0;
 }
.customtable table, th {
     background-color:#F4F6F5;
     height:35px;
     font-weight:normal;
 }
 .customtable td
  {
    vertical-align:top;
    white-space:normal;
    word-break:break-all;
 }
.panel-body .panel-body-noheader 
{ 
    border-color: #ddd;
}

.gridgap{
    padding-left:1px;
}

