.row-item {
	width: 240px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom:10px;
}

.row-item-label {
	padding: 4px 10px 0px 0px;
	width: 65px;
	float: left;
	text-align: right;
}

.row-item-input {
	width: 160px;
	float: left;
}

.div-table {
	display: table;
	width: 100%;
	margin-top: 10px;
}

.div-row{
	display:inline-block;
}

.row-item-label-short {
	padding: 4px 10px 0px 0px;
	width: 52px;
	float: left;
	text-align: right;
}

.row-item-long {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom:10px;
}

.row-item-short {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom:10px;
}
.row-item-href5 {
	width: 100px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom:10px;
	margin-left: 10px;	
}
.row-item-href2 {
	width: 58px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom:10px;
	margin-left: 10px;	
}
.row-item-href4 {
	width: 86px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	margin-bottom:10px;
	margin-left: 10px;	
}
.row-item-input-long {
	width: 170px;
	float: left;
}

.row-item-href1 {
	width: 58px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 10px;	
}