H3 {
    color: #0000dd
}
H4 {
    line-height: 18px;
    color: #0000dd;
    margin-top: 2px;
}

.admDetail {
    float: left;
    width: 100%;
    height: auto;
    list-style-type: none;
}

.admDetail:hover {
    background: #A4D3EE;
}

.detailleft {
    float: left;
    height: 100px;
    width: 35%;
    min-width:200px;
    text-align: right;
    padding-top: 8px;
    padding-right: 10px;
    border-right: #EEE 1px solid;
}

.detailright {
    height: auto;
    min-width:1px;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
}

.diag{
    height: auto;
    text-align: left;
    margin-right: 2px;
    margin-left:20px;
    overflow: auto;
    color: blue;
}

.recordInfo {
    height: auto;
    text-align: left;
    margin: 5px;
    overflow: auto;
    padding: 5px 0px 0px 15px;
    margin-left:15px;
    /*color: blue;*/
	/*white-space:nowrap;*/
}

.admdate {
    width: 100%;
    text-align: right;
    color: #696969;
}

.admloc {
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:5px 0px 5px 5px;
    text-align: right;
}

/* =============================================================================
   左向箭头
   ========================================================================== */

.arrow,
.arrow s {
    cursor: pointer;
    position: relative;
    display: block;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: dashed;
    border-width: 10px;
}

.arrowL,
.arrowL s {
    border-right-color: #f60;
    border-right-style: solid;
}

.arrowL s {
    border-right-color: #fff;
    position: absolute;
    right: -7px;
    top: -5px;
}

.arrowL:hover {
    border-right-color: #aaa;
}
