*{
	margin:0;
	padding:0;
}

.green{
	color:#21BA45;
}
.blue {
	color:#39B0FF;
}

#timeline {
  list-style: none;
  margin: 10px 5px 10px 13px;
  padding-left: 30px;
  border-left: 5px solid #eee9dc;
}
#timeline li {
  margin: 10px 0;
  position: relative;
  list-style: none;
}

#timeline p {
  margin: 0 0 5px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -41px;
  width: 10px;
  height: 10px;
  background: #40A2DE;
  border: 3px solid #eee9dc;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  padding: 30px 10px 0;
  border-color: #ADD7F1;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 1px;
  top: 50%;
  margin-top: -2px;
}
.content:after {
  border-right-color: #40A2DE;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {

  text-align: justify;
  word-wrap:break-word;
}

#timeline label {
  font-size: 14px;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 8px;
  padding-left:8px;
  transition: transform 0.2s linear;
  width:230px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

#timeRadio{
	clear:both;
	display:block;
	position: relative;
}
.data{
	 color:blue;
}

.bottomp
{
	border-top:1px solid blue;
	padding-top:3px;
}

#timeline li:hover{
	background:#F7F7F7;
}