*{margin:0;padding:0;}
.datetree {margin: 0;padding: 0;overflow: hidden;background-color:#fff;}  
.datetree li {position: relative;list-style: none;height:30;padding:2px 0 0 0;}   
.datetree>li{border-bottom: 1px solid #d9d9d9;}
.title{width:150px;margin:5 0 5 10;display:block;overflow: hidden; text-overflow:ellipsis;white-space: nowrap;}
.whitefont{color:#fff;}
.select{background-color:#509DE1 !important;}
#uldate{border:0px;}

#dateList{
	margin:3px 0 0 10px;
}

.date-item{
	padding:2px;
} 
.date-item .head,.foot{
	content:"";
	width: 6px;
	height: 6px;
	border:3px solid #ccc;
	border-radius: 8px;
	margin-left:-5px;
}

.date-item li{
	list-style: none;
}

.date-item li:hover{
	background:#F7F7F7;
}

.date-item .left{
	content:"";
	width: 9px;
	height: 9px;
	border:3px solid #fff;
	border-radius: 9px;
	position:relative;
	top:18px;
	left:-7px;
	float: left;
	background: #ccc;
}

.date-item .right {
	display:block;
	height: 30px;
	border-left:2px solid #ccc;
	padding:13px 3px 3px 13px;
	text-decoration: none;
	color: black;
}

.date-item .first{
	clear:both;
	padding:2px;
	color:#39B0FF;
}

.date-item .right .title{
	font-weight:bold;
	padding-top:10px;
	float: left;
	width:90px;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
	color:#39B0FF;
}
.hoverdot{
	background-color:#21BA45 !important;
}

.selectdot{
	background-color:#21BA45 !important;
}

.selectli{
	background:#F7F7F7 !important;
}

.treelog{
	 background:url(../image/icon/log.png) no-repeat;
	 background-position:0 7px;
	 width:16px;
	 height:26px;
	 float:right;	
}
.treedate{
	height:20px;
	color:gray;
}
.treetitle{
	height:20px;
	line-height:20px;
}

#pastHisTree .tree-node{
	position: relative;
}
.treeleft{
	display:block;width:66px;height:16px;position:absolute;right:0;padding-right:4px;
}



*{margin:0;padding:0;}
.categorytree {margin: 0;padding: 0;overflow: hidden;background-color:#fff;}  
.categorytree li input{position: absolute;left: 0;opacity: 0;z-index: 2;cursor: pointer;height: 1em;width:1em;top: 0;}  
.categorytree li {position: relative;list-style: none;}   
.categorytree>li{border-bottom: 1px solid #d9d9d9;}
.categorytree li label {cursor: pointer;display: block;background: url(../image/icon/up.png) no-repeat right center;background-position:98% 50%;white-space:nowrap;overflow:hidden;text-overflow: ellipsis; }  
.categorytree li label:hover,li label:focus{font-weight:bold;}
.categorytree li input + ol{display: none;}  
.categorytree input:checked + ol {padding-left:0;height: auto;display: block;}  
.categorytree input:checked + ol > li { height: auto;}  
.categorytree .folderOne{background-color:#F7F7F7;}
.categorytree .folderOne,.categorytree .folderTwo a{padding:5px;}
.whitefont{color:#fff;}
.select{background-color:#509DE1 !important;}
#ulcategory{border:0px;}
.navcategory{padding:2px 0 0 0;}


