*{
	margin:0;
	padding:0;
}

.name
{
	padding-bottom:5px;
}

.box
{
	padding:5px 5px 8px 5px;
	margin-bottom:5px;
}

.addtextbox
{
	width:98% !important;
	
}

.select
{
	border:1px solid blue;
	background-color:#FFFBEF;
}

.NameDiv
{
	padding:0 10px 5px 0;
}

.longInput
{
	width:340px !important;
	margin-top:2px !important;
}

.shortInput
{
	width:280px !important;
	margin-left:5px !important;
}

#property
{
	padding:0 5px 5px 10px;
}

.propertyDiv
{
	padding-top:9px;
}

#content
{
	margin-left:10px;
}

.NameDivThree
{
	padding:0 15px 5px 10px;
}

#questTool
{
	border-top:2px dashed #C0C0C0; 
	padding:5px 0 5px 0;
}