#messageText{
		position:absolute;
		padding:5px 6px;
		font-size:12px;
		border:1px solid rgba(0,0,0,0.5);
		border-radius:4px;
		color:#382e2e;
		background-color:#ffffff;
		z-index:9999;
	}
#messageText:before{
		content:"";
		position:absolute;
		top:0;
		bottom:0;
		left:-6px;
		margin:auto;
		width:0;
		height:0;
		border:6px solid rgba(0,0,0,0.5);
		border-left:none;
		border-top-color:transparent;
		border-bottom-color:transparent;
	}