.instance-item li h3{
	float:left;
	width:30%;
	text-align:center;
	padding-right:3px;
	padding-top:3px;
	color:#365BBD;
	font:bold 12px Microsoft Yahei;
}
.instance-item li h3 span{
	display:block;
	color:#999999;
	margin-top:3px;
	font:normal 12px Microsoft Yahei;
}
.instance-item li{
	border-bottom:#EEE 1px solid;
	height:60px;
	list-style-type:none;
}
.instance-item li.green div{
	border-left:#EEE 1px solid;
	padding:1px 0px 0px 1px;
	margin:0px;
	width:60%;
	height:60px;
	display:block;
	float:left;
}
.instance-item li.green div h3{
	width:100%;
	display:block;
	padding:0 0 3px 0;
	height:33px;
	line-height:33px;
	font-size:12px;
	color:#000000;
	font-weight:normal;
	text-align:left;
	overflow:hidden; 
	white-space:nowrap;
	text-overflow:ellipsis;
}

.instance-item li.green div p.con{
	line-height:22px;
	font-size:12px;
	width:100%;
	display:block;
	color:#999999;
	font-weight:normal; 
	text-align:right;
	
}

.green{
	color:#21BA45;
}
.blue {
	color:#39B0FF;
}

.instance-item li.green input.flag{
	width:7px;
	height:60px;
	float:right;
	text-align:right;
	display:block;
	cursor:pointer;	
}
.instance-item li:hover{
	background:#EFF8FE;

}

#messageInfo
{
	background-color:#E0ECFF;
	font-weight:bold;
	font-size:13px;
	margin:0px;
	padding:0px;
	line-height:29px;
	display:inline-block;
	width:100%;
}

.alert{
	margin:0;
	display:inline-block;
	padding:2px;
    background-color:#1A53A5;
    color:#FFFFFF;
    font-weight:bold;
}


.warning{
	margin:0;
	display:inline-block;
	padding:2px;
    background-color:#EB8B0A;
    color:#FFFFFF;
    font-weight:bold;		
}

.forbid{
	margin:0;
	display:inline-block;
	padding:2px;
    background-color:#D41A0F;
    color:#FFFFFF;
    font-weight:bold;	
}

#messageInfo img{
	vertical-align:middle;
	margin-right:1px;
	float:left;
}
#instance-tools{
	vertical-align:middle;
}

input[type="radio"] 
{
	font-size:12px; 
	border-radius:3px; 
	padding:0px 4px 0px 6px; 
	margin:-1px 2px -3px 0px;
	text-decoration:none; 
	transition:0.5s;
}

.selectFlag
{
	background-color:#DAEBFC !important;
}

.overflow
{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}