	.content{
		width:260px;
		padding:5px 5px 5px 10px;
	}
	#divUserName{
		font-weight:bold;
		font-size:28px;
		text-align:center;
	}
	.input div{
		padding-top:5px;
	}
	.input div span{
		height:20px;
		line-height:20px;
	}
	.input div input{
		width:200px;
		height:20px;
	}
	.button{
		margin-top:12px;
		padding-right:3px;
		width:100%;
	}
	.button input{
		padding:3px;
		float:right;
	}
