@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;font-family:"Microsoft Yahei";}
img{border:0;}
body{font-size:12px;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFDFD', endColorstr='#FFFFFF', GradientType='0');height:100%}
.history{background:url(../image/icon/line04.gif) repeat-y 187px 0;overflow:hidden;position:relative;}
.history-date{overflow:hidden;position:relative;}
.history-date h2{background:#FCFDFD url(../image/icon/icon06.gif) no-repeat 158px 0;height:59px;font-size:25px;font-family:Î¢ÈíÑÅºÚ;font-weight:normal;padding-left:45px;margin-bottom:35px;}
.history-date h2.first{position:absolute;left:0;top:0;width:100%;z-index:1;line-height:65px;}
.history-date ul li{background:url(../image/icon/icon07.gif) no-repeat 180px 0;padding-bottom:10px;zoom:1;}
.history-date ul li.last{padding-bottom:0;}
.history-date ul li:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}
.history-date ul li h3{float:left;width:168px;text-align:right;padding-right:19px;color:#c3c3c3;font:normal 18px/16px Arial;}
.history-date ul li h3 span{display:block;color:#d0d0d0;font-size:14px;}
.history-date ul li.green h3{color:#1db702;}
.history-date ul li.green h3 span{color:#1db702;}
.history-date ul li.green a{border:#eaeaea 1px solid; margin:0 0 0 30px; overflow:hidden; width:600px;height:55px;display:block;font-family:"microsoft jhenghei", "microsoft yahei";word-wrap:break-word;background:#ffffff;float:left;font-size:13px;text-decoration:none;}
.history-date ul li.green a h3{line-height:20px;width:600px;display:block;height:20px;font-weight:normal}
.history-date ul li.green a h3 span.fl{float:left;color:#000000;font-size:14px;font-weight:bold;text-indent:2em}
.history-date ul li.green a h3 span.fr{text-align:right;float:right;color:#000000;font-size:12px;padding-right:15px}
.history-date ul li.green a p{text-indent:2em}
.history-date ul li.green a p.con{padding:4px 0px 0px 0px;line-height:27px;width:600px;display:block;color:#555555;border-top:#ececec 1px dashed;font-weight:normal;height:27px;overflow: hidden;}
.history-date ul li.green a:hover { background:#EFF8FE }
.history-date h2.first .more-history{font-size:25px;background:transparent;margin-left:200px;text-decoration:none;}
.history-date h2.first .more-history:hover{text-decoration:none;}