@charset "utf-8";
*{
	font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
	overflow:hidden;
}
table{
	border-collapse:collapse;
	border:none;
}
table td{
	display:block;
	padding:5px;
}
.tdleft{
	text-align:right;
	border-right: 2px solid #000000;
}
.tdright{
	text-align:left;
}
.tdbar{
	 border-bottom: 2px solid #000000;  
}
.textSurface{
	width:38px;
	height:52px;
	font-size:12px;
}
.button{
	width:26px;
	text-align:center;
}

#ToothAll{
	margin-left:85px;
}
#ToothPermanent{
	margin-left:15px;
}
#ToothDeciduous{
	margin-left:15px;
}
