* {
  box-sizing: border-box;
}
/* 小型设备（平板电脑竖屏模式和大屏手机，600 像素及以上） */
@media only screen and (max-width: 767px) {
  	.cure-container {
	  	width:100%	
	}
	.cure-container-pc{
		display: none;
	}
	.cure-container div{
		width:100%	
	}
}
/* 中型设备（平板电脑横屏模式，768 像素及以上） */
@media only screen and (min-width: 768px) {
  	.cure-container {
	  	width:750px
	}
	.cure-container-pc{
		display: none;
	}
	.cure-container div{
		width:100%	
	}
} 
/* 大型设备（笔电、台式机，992 像素及以上） */
@media only screen and (min-width: 992px) {
  	.cure-container {
	  	width:970px;
	}
	.cure-container-pc{
		display: block;
	}
	.cure-container div{
		width:100%;
	}
} 
/* 超大型设备（大屏笔电、台式机，1200 像素及以上） */
@media only screen and (min-width: 1200px) {
  	.cure-container {
	  	width:1170px;
	}
	.cure-container-pc{
		display: block;
	}
	.cure-container div{
		width:100%;
	}
}