xmp {
    margin: 0px 0px;
}
.panel-body .panel{margin-bottom:10px;}
.item-table,.item-table-line{
	table-layout:automatic ; 
	border-collapse:collapse;
	width:100%;
	border:none;
}
.item-table td{
	margin:0;
	white-space:nowrap;
	border:0px;
	padding:5px;
}

.item-table-b-p td{
	padding:10px;
}
.pt-butttom a{
	margin:8px 0px 0px 20px;
}
label + .hisradio_square-blue, label + .hischeckbox_square-blue{
	margin-left:5px;
}
.name-input{
	margin-left:20px;
	/*width:40px;*/
	display: none;
	text-align:center;
}
.name-input-80{
	margin-left:20px;
	width:120px;
	display: none;
	padding-left:1px;
}
.pt-butttom .l-btn-text{
	min-width:60px
}

.tbl_td,.tbl_td-r{
	width:15%;
	white-space:nowrap;
}
.tbl_td-r{
	text-align:right;		
}
.tbl_td_long{
	width:20%;
	white-space:nowrap;
}
.tbl_td_300{
	width:30%;
	white-space:nowrap;
}
.item-table .tbl_th{
	font-weight:bold;
	white-space:nowrap;
}
.label-title{
	font-weight:bold;
	white-space:nowrap;
}
.span-underline{
	text-decoration:underline
}

.tool-msg{
	position: fixed;
	padding:5px;
	left: 50%;
    top: 50%;
	width:250px;
	border-radius:5px;
	color:white;
	background-color:red;
	font-size:18px;	
}
.SavedAssTemp{
	position: relative;
	pointer-events: none;
}
.SavedAssTemp:before{
	content: '\00A0';
    background: url(../../../../scripts_lib/hisui-0.1.0/dist/css/icons/accept.png) center right no-repeat;
    position: absolute;
    opacity:0.8;
    height: 25px;
    width: 25px;
    top:-3px;
    left: -10px;
    z-index: 99;
    overflow: hidden;
}
.m-input-180{
	width:180px !important	
}
.m-input-155{
	width:155px !important	
}
/*带边框的表格*/
.item-table-line td{
	margin:0;
	border:1px solid #dddddd;
	padding:5px;
	white-space:nowrap;
}

.i-tb-l-border{
	border-left:none !important		
}
.i-tb-t-border{
	border-top:none !important		
}
.i-tb-b-border{
	border-bottom:none !important		
}
.i-tb-r-border{
	border-right:none !important		
}
.i-tb-r-per5,.i-tb-r-per10,.i-tb-r-per15,.i-tb-r-per20{
	text-align:right;
}
.i-tb-cen,.i-tb-cen-per5,.i-tb-cen-per10,.i-tb-cen-per15,.i-tb-cen-per20,.i-tb-cen-per40{
	text-align:center;	
}
.i-tb-cen-per5,.i-tb-r-per5{
	width:5%;
}
.i-tb-cen-per10,.i-tb-r-per10{
	width:10%;
}
.i-tb-r-per15,.i-tb-cen-per15{
	width:15%;
}
.i-tb-per20,.i-tb-r-per20,.i-tb-cen-per20{
	width:20%;
}
.i-tb-per40,.i-tb-cen-per40{
	width:40%;
}
.item-table-line .textbox{
	width:96%;	
}
.i-p-shadow{
	position: fixed;
	bottom: 0;
	right: 0;
	background-color:#ffffff;
	box-shadow:0px -3px 16px 1px rgba(0, 0, 0, 0.09);
}
.i-tb-r-p10{
	width:15%;
	text-align:right;
	padding-right:10px;
}
.i-label-box{
	vertical-align: middle;
	margin-left: -6px;
	padding-right: 20px;
    cursor: pointer;
    line-height: 22px;
    height: 21px;
    display: inline-block;
}
/*自建HTML表格表头背景色#f4f6f5 边框色#dddddd*/
.c-tb-th{
	border-color:#dddddd;
	background-color: #f4f6f5;
	font-size: 14px;
}
/*带边框的表格*/
.c-tbl-line{
	table-layout:automatic ; 
	border-collapse:collapse;
	width:100%;
	border:none;
}
.c-tbl-line td{
	margin:0;
	border:1px solid #dddddd;
	padding:5px 2px;
	white-space:nowrap;
}

.item-table-soap .i-label-box{
	margin-left: -6px;
	padding-right: 10px;
}
.item-table-soap tr td,.table-soap tr td{
	white-space:normal;
	padding:10px;
}
.item-table-soap tr:first-child td{
	border-top:none !important;	
}
.item-table-soap tr:last-child td,.table-soap tr:last-child td{
	border-bottom:none !important;	
}
.item-table-soap tr td:first-child,.table-soap tr td:first-child{
	border-left:none !important;	
	text-align:right;
}
.item-table-soap tr td:last-child,.table-soap tr td:last-child{
	border-right:none !important;		
}

.item-table-odi td{
	padding:10px;
}
.item-table-odi .i-label-box{
	margin-left: -6px;
	padding-right: 0px;
}
.item-table-sygnpg tr td{
	white-space:normal;
	padding:10px;
}
.m-label-box{
	vertical-align: middle;
	margin-left: -6px;
	padding-right: 0px;
    cursor: pointer;
    line-height: 22px;
    height: 21px;
    display: inline-block;
}