.background-warp{
	background:	#F5F5F5;  /* #F5F5F5 */
}

.container{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:105px;
	/* padding:0px 20px; */
	background:	#FFF;  /*#F5F5F5*/
	overflow:auto;
	border-radius: 4px 4px 0px 0px;
}
.page-foot{
	position:fixed;
	left:0px;
	right:0px;
	bottom:42px;
	height:85px;
	margin-top:10px;
}
.page-foot label{
	text-align:center;
}
.tabform{	
}
.page-shadow{
	padding:10px;
	margin-top:10px;
	background-color:#ffffff;
	box-shadow:0px -6px 16px rgba(0, 0, 0, 0.09);
}
.form{
	padding:0 10px;
}
.tabtools{
	text-align: right;
	padding-top:10px;
	text-align:center
}

.title{
	font-weight:bold;
	color:#000000;
	letter-spacing: 20px;
	height:60px;
	font-size:22px;
	text-align:center;
	line-height:60px;
}
.list-title,.list-title-lite{
	position:relative;
	background:#f9f9fa;
	height:34px;
	padding-left:10px;
	border-radius: 4px 4px 0px 0px;
}
.list-title{
	border-bottom:1px solid #ccc;
}
.list-title-lite{
	border-bottom:1px solid #E2E2E2;
}

.list-title label,.list-title-lite label{
	position:absolute;
	top:9px;
	left:10px;
}
.list-item{
	position:relative;
	padding:5px 10px;
	min-height:30px;
	margin-top:5px;
}
.list-icon{
	position:absolute;
	top:8px;
	left:10px;
	height:16px;
}
.itemClass{
	margin-right:30px;
	height:30px;
}
.list-panel,.list-panel-lite{
	min-height:120px;
	margin-bottom:10px;
	background:	#FFF;
	border-radius: 4px 4px 4px 4px;
}
.list-panel{
	border:1px solid #ccc;
}
.list-panel-lite{
	border:1px solid #E2E2E2;
}
.sort-x{
	float:left;
}
.list-ul{
	overflow:hidden;
	margin:0;
	padding:0;
}
.list-ul-item{
	line-height:36px;
	margin-right:20px;
	list-style-type:none;
}
.list-ul-item:hover{
	background:#f9f2f4;
}
label{
	margin-left:10px;
	margin-right:10px;
}
.list-ul-item .item{
	margin-left:10px;
}
.list-ul-item input[type="checkbox"]{
	vertical-align:middle;	
}
.draggable{
	position:absolute;
	top:0px;
	left:0px;
}
.itemClass span{
	margin-right:8px;
}
.item-score{
	color:red;
	display:none;
	margin:0px 3px;
}
/*页面表格样式*/
.form-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #ccc;
	width:100%;
	border:none;
}
.form-table td{margin:0;padding:0;}
.form-table td{
	border:1px solid #ccc;
	padding:5px 3px;
	font-size: 14px;
	min-height:40px;
}
.item_par{
	text-indent: 35px;
    line-height: 30px;
    margin: 5px 10px;
    padding: 5px;
}
.item_img{
	width: 160px;
    height: 160px;
}
