/**
 * creator:    yunhaibao;
 * createdate: 2017-03-21;
 * description:ext321 css,currently used to dhcpha comment;
 * code:UTF-8,please use notepad edit(or sublime...);
 */
.page_add{
	background: url(../images/ext321/icon_page.gif) left -22px no-repeat !important;
}
.page_save{
    background: url(../images/ext321/icon_page.gif) left -202px no-repeat !important;
}
.page_modify {
    background: url(../images/ext321/icon_page.gif) left -42px no-repeat !important;
}
.page_delete {
    background: url(../images/ext321/icon_page.gif) left -62px no-repeat !important;
}
.page_find{
	background: url(../images/ext321/icon_page.gif) left -82px no-repeat !important;
}
.page_goto{
	background: url(../images/ext321/icon_page.gif) left -162px no-repeat !important;
}
.page_checkout{
	background: url(../images/ext321/icon_page.gif) left -122px no-repeat !important;
}
.page_analysis{
	background: url(../images/ext321/icon_page.gif) left -142px no-repeat !important;
}
.page_ok{
	background: url(../images/ext321/icon_tag.gif) left 0px no-repeat !important;
}
.page_bad{
	background: url(../images/ext321/icon_tag.gif) left -60px no-repeat !important;
}
.page_export{
	background: url(../images/ext321/icon_page.gif) left -242px no-repeat !important;
}
.page_log{
	background: url(../images/ext321/icon_table.gif) left 0px no-repeat !important;
}
.page_active{
	background: url(../images/ext321/icon_page.gif) left -182px no-repeat !important;
}
.page_refresh{
	background: url(../images/ext321/icon_page.gif) left -222px no-repeat !important;
}
.x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding-left: 19px;
    padding-top: 0px;
    height: 17px;
}
.x-grid-record-green table{
   background: #C4FEFF;
}

.x-grid-record-pink table{
   background: #FFB5C5;
}