


.x-grid-record-green table{
   background: #C4FEFF;
}

.x-grid-record-pink table{
   background: #FFB5C5;
}
.x-grid3-hd-row TD { 
     font-size: 12px; 
} 
.x-grid3-row TD { 
     font-size: 12px; 
     LINE-HEIGHT: 18px; 
} 