.easyui-layout input {
   FONT-SIZE: 14px;
}

.easyui-layout .tableLabel {
   font-size: 14px;

   width: 60px;
   margin-top: 0;
   margin-left: 0;

   text-align: right;

   background-color: #e6f1fa;
}

.easyui-layout .tableValue {
   font-size: 14px;

   margin-top: 0;
   margin-left: 0;

   text-align: left;

   background-color: #f5fafd;
}

/* combobox start*/

.combo .combo-text {
   font-size: 14px;
   line-height: 24px;

   height: 24px;
   margin: 0;
   padding: 0 2px;

   vertical-align: baseline;

   border-width: 0;
   border-style: initial;
   border-color: initial;
   border-image: initial;
}

.combobox-item,
.combobox-group {
   font-size: 14px;

   padding: 3px;
   padding-right: 0;
}

/* combobox  end*/


/* pager start */

.easyui-layout .pagination span {
   font-size: 14px;
}

/*pager end*/


/*toolbar start*/

.datagrid-toolbar {
   border: 1px solid #95b8e7;
   background-color: transparent;
}

/*toolbar end*/

.easyui-window {
   font-size: 14px;
}

.easyui-layout .datagrid-header .datagrid-cell span,
.easyui-layout .datagrid-cell,
.easyui-layout .panel-title {
   font-size: 14px!important;
}

.panel-title {
   font-size: 14px;
   font-weight: bold;
   line-height: 16px;

   height: 16px;

   color: #0e2d5f;
}

.easyui-layout .tree-title,
.easyui-layout .l-btn-text,
.easyui-layout .panel-title,
.easyui-layout .panel-body,
.easyui-layout .tabs-title,
.easyui-layout .textLabel,
.easyui-layout td,
.easyui-layout label {
   font-size: 14px!important;
}

/* numberbiox start */

.numberbox {
   margin: 0;
   padding: 0;

   vertical-align: middle;

   border: 1px solid #95b8e7;
}

/* numberbiox end */

/* dhcpha css start*/
.condition-row-1 {
   height: 60px;
   padding-top: 3px;
   padding-left: 5px;

   border-top: 1px solid #88b9e5;
}

.condition-bar {
   margin-left: 10px;
}

.condition-split {
   padding-left: 10px;
}

.condition-chk {
   vertical-align: text-bottom;
}

/* dhcpha css end*/

.pha-ly-hosp {
   overflow: hidden;

   border: none !important;
   border-radius: 0 !important;
}

.pha-row {
   margin-top: 10px;
   margin-bottom: 10px;
}

.pha-col:first-child {
   margin-left: -1px;
}

/* inline-block ”–º‰œ∂,¥Û∏≈4px */
.pha-col {
   display: inline-block;

   margin-left: -4px;
   padding-left: 10px;

   vertical-align: middle;
}
