
/* .x-grid3-row-selected {
	background-color:  #3885d4 !important;
	background-image: none;
	border-color:#a3bae9;
	color: #000000 ;
} */



.x-window-footer { 
    position: relative; 
    top: 0; 
    right: 0; 
} 
.x-tab-strip SPAN.x-tab-strip-text { 
    font-size: 13px; 
} 

 .x-tree-node { 
     font-size: 12px; 
     font: 12px arial, tahoma, helvetica, sans-serif;
     color: #000;
 }
 .x-tree-node-over{
	  font-size: 11px;
 } 
 .x-grid3-hd-row TD { 
     font-size: 13px; 
 } 
 .x-grid3-row TD { 
     font-size: 13px; 
     LINE-HEIGHT: 17px; 
 } 
 .x-tip .x-tip-bd { 
     font-size: 14px; 
 } 
 .x-tip h3{ 
     font-size: 14px; 
 } 
 .x-tip .x-tip-bd-inner{ 
     font-size:14px; 
 } 
 .x-panel-tl .x-panel-header { 
      font-size:  normal 14px;
    font-family: tahoma,arial,verdana,sans-serif; 
 } 
 
 .x-form-field { 
     FONT: 14px       
 } 
 .x-small-editor .x-form-field { 
     FONT: 14px       
 } 
 .x-combo-list-item { 
     FONT: 14px ;     
 }     
 .x-menu-list-item { 
     FONT: 14px ; 
 } 

 .x-layout-split-west .x-layout-mini {     
     BACKGROUND-IMAGE: url(../images/mini-left.jpg);   
 } 
 .ext-ie .x-form-text { 
     margin-top:1px; 
 } /* the textField missing bottom line */ 
 .x-form-item {    
     FONT: 14px tahoma,arial,helvetica,sans-serif 
 } 
 .x-grid-group-hd DIV {    
     FONT: bold 14px tahoma,arial,helvetica,sans-serif; 
 } 
 .x-btn button{
	font: 14px arial,tahoma,verdana,helvetica;
	color: #333;	
 }
 .x-btn-text{ 
      
     font: 19px ; 
 }
  /*wanghc add 2012 01 10*/
a{
	FONT-SIZE: 10pt; 
	backgroundcolor:#0081db/*#0000CC*/;
	text-decoration: none;
}
a:hover {
	FONT-SIZE: 10.5pt;
	color: /*#0066ff8*/#fd7201;
	/*text-decoration: underline;*/
}
.iconM {
	background-image:url(../image/man.gif) !important;
}
.iconF {
	background-image:url(../image/woman.gif) !important;
}
.iconStop{
	background-image:url(../image/stop.gif) !important;
}
td.ux-grid-hd-group-cell {
	background: url(/dthealth/web/scripts_lib/ext3.2.1/resources/images/default/grid/grid3-hrow.gif) repeat-x bottom ;
}
td.ux-grid-hd-nogroup-cell .x-grid3-hd-inner {
	background: none;
}



