.searchform {
	border-collapse: collapse;
}
.searchform td {
	padding-top: 5px;
	padding-bottom: 5px;
}
.form-r-label {
	text-align: right;
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
}
.form-t-label {
	text-align: right;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}
.form-span {
	vertical-align: middle;
}
.form-btn {
	padding-left: 20px;
}
.dialog-r-ele {
	margin: 10px 0;
}
.dialog-r-ele label,
.dialog-r-ele textarea {
	vertical-align: middle;
}