/**body {
	font-family: "Microsoft Yahei",verdana,helvetica,arial,sans-serif;
	font-size: 14px;
}
.infoele {
	font-size: 14px;
	font-family: microsoft yahei;
	padding: 10px;
	line-height: 26px;
}

.infoele .splitline {
	padding: 0 10px;
}
.mrtitle {
	height: 36px;
	line-height: 36px;
	background-color: #0e8bdd;
	color: #ffffff;
	padding: 0 34px 0 15px;
}
.mraccordion ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mraccordion ul>li {
	line-height: 28px;
	padding: 0 5px 0 15px;
}
.mraccordion ul>li>a {
	position: relative;
	display: block;
	text-decoration: none;
	color: #000000;
}
.mraccordion ul>li:hover ,.mraccordion ul>li.active{
	background-color: #E3E3E3;
}
.mrbtm {
	background-color: #E3E3E3;
}
.mrbtm ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mrbtm ul a {
	text-decoration: none;
}
.mrbtm .bottomnav {
	overflow: hidden;
	zoom: 1;
}
.mrbtm .bottomnav li {
	margin: 5px 0;
	float: left;
	
}
.mrbtm .bottomnav li a {
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	color: #000;
	display: block;
	border-right: 1px solid green;
	
}
.mrbtm .bottomnav li:hover ,.mrbtm .bottomnav li.active{
	background-color: #0e8bdd;
}
.view-toolbar {
	height: 35px;
	border: none;
	padding: 0 10px;
	background: url(../Pics/pdficon/工具条背景.png) repeat top left;
	vertical-align: middle;
}
.view-tb-textbox {
	width: 50px;
	height: 20px;
	margin: 5px;
	border: 1px solid #808080;
	vertical-align: top;
}
.view-tb-label {
	color: #0cee61;
	line-height: 33px;
	vertical-align: top;
}
.view-tb-btn {
	width: 34px;
	height: 32px;
	border: 1px solid #868686;
}
.icon-pre {
	background: url(../Pics/pdficon/上翻页未选中状态.png) no-repeat 8px 5px;
}
.icon-pre:hover {
	border: 1px solid #ffffff;
}
.icon-pre:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/上翻页选中状态.png) no-repeat 8px 5px;
}
.icon-next {
	background: url(../Pics/pdficon/翻页未选中状态.png) no-repeat 8px 6px;
}
.icon-next:hover {
	border: 1px solid #ffffff;
}
.icon-next:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/翻页选中状态.png) no-repeat 8px 6px;
}
.icon-in {
	background: url(../Pics/pdficon/放大未选中状态.png) no-repeat 5px 5px;
}
.icon-in:hover {
	border: 1px solid #ffffff;
}
.icon-in:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/放大选中状态.png) no-repeat 5px 5px;
}
.icon-out {
	background: url(../Pics/pdficon/缩小未选中状态.png) no-repeat 5px 5px;
}
.icon-out:hover {
	border: 1px solid #ffffff;
}
.icon-out:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/缩小选中状态.png) no-repeat 5px 5px;
}
.icon-cw {
	background: url(../Pics/pdficon/顺时针未选中状态.png) no-repeat 6px 5px;
}
.icon-cw:hover {
	border: 1px solid #ffffff;
}
.icon-cw:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/顺时针选中状态.png) no-repeat 6px 5px;
}
.icon-acw {
	background: url(../Pics/pdficon/逆时针未选中状态.png) no-repeat 6px 5px;
}
.icon-acw:hover {
	border: 1px solid #ffffff;
}
.icon-acw:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/逆时针选中状态.png) no-repeat 6px 5px;
}*/

body {
	font-family: "Microsoft Yahei",verdana,helvetica,arial,sans-serif;
	font-size: 14px;
}
.infoele {
	font-size: 14px;
	font-family: microsoft yahei;
	padding: 10px;
	line-height: 26px;
}

.infoele .splitline {
	padding: 0 10px;
}
.mrtitle {
	height: 36px;
	line-height: 36px;
	background-color: #0e8bdd;
	color: #ffffff;
	padding: 0 34px 0 15px;
}
.mraccordion ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mraccordion ul>li {
	line-height: 28px;
	padding: 0 5px 0 15px;
}
.mraccordion ul>li>a {
	position: relative;
	display: block;
	text-decoration: none;
	color: #000000;
}
.mraccordion ul>li:hover ,.mraccordion ul>li.active{
	background-color: #E3E3E3;
}
.mrbtm {
	background-color: #E3E3E3;
}
.mrbtm ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mrbtm ul a {
	text-decoration: none;
}
.mrbtm .bottomnav {
	overflow: hidden;
	zoom: 1;
}
.mrbtm .bottomnav li {
	margin: 5px 0;
	float: left;
	
}
.mrbtm .bottomnav li a {
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	color: #000;
	display: block;
	border-right: 1px solid green;
	
}
.mrbtm .bottomnav li:hover ,.mrbtm .bottomnav li.active{
	background-color: #0e8bdd;
}
.view-toolbar {
	height: 35px;
	border: none;
	padding: 0 10px;
	background: url(../Pics/pdficon/toolbar.png) repeat top left;
	vertical-align: middle;
}
.view-tb-textbox {
	width: 50px;
	height: 20px;
	margin: 5px;
	border: 1px solid #808080;
	vertical-align: top;
}
.view-tb-label {
	color: #0cee61;
	line-height: 33px;
	vertical-align: top;
}
.view-tb-btn {
	width: 34px;
	height: 32px;
	border: 1px solid #868686;
}
.icon-pre {
	background: url(../Pics/pdficon/pre_unselected.png) no-repeat 8px 5px;
}
.icon-pre:hover {
	border: 1px solid #ffffff;
}
.icon-pre:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/pre_selected.png) no-repeat 8px 5px;
}
.icon-next {
	background: url(../Pics/pdficon/next_unselected.png) no-repeat 8px 6px;
}
.icon-next:hover {
	border: 1px solid #ffffff;
}
.icon-next:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/next_selected.png) no-repeat 8px 6px;
}
.icon-in {
	background: url(../Pics/pdficon/zoomout_unselected.png) no-repeat 5px 5px;
}
.icon-in:hover {
	border: 1px solid #ffffff;
}
.icon-in:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/zoomout_selected.png) no-repeat 5px 5px;
}
.icon-out {
	background: url(../Pics/pdficon/zoomin_unselected.png) no-repeat 5px 5px;
}
.icon-out:hover {
	border: 1px solid #ffffff;
}
.icon-out:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/zoomin_selected.png) no-repeat 5px 5px;
}
.icon-cw {
	background: url(../Pics/pdficon/clockwise_unselected.png) no-repeat 6px 5px;
}
.icon-cw:hover {
	border: 1px solid #ffffff;
}
.icon-cw:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/clockwise_selected.png) no-repeat 6px 5px;
}
.icon-acw {
	background: url(../Pics/pdficon/anticlockwise_unselected.png) no-repeat 6px 5px;
}
.icon-acw:hover {
	border: 1px solid #ffffff;
}
.icon-acw:active {
	border: 1px solid #ffffff;
	background: url(../Pics/pdficon/anticlockwise_selected.png) no-repeat 6px 5px;
}