@charset "utf-8";
		*{
			margin:0;
			padding:0;
			list-style-type:none;
		}
		a,img{
			border:0;
		}
		body{
			font:12px/180% Arial, Helvetica, sans-serif, "新宋体";
			height:100%
		}
		ul li{  
			list-style-type:none;  
		}  
		.timeline{
			width:300px;
			margin:10px auto 0 auto;
		}
		/*history*/
		.history{
			background:url(../Pics/timeline-line04.gif) repeat-y 133px 0;
			overflow:hidden;
			position:relative;
		}
		.history-date{
			overflow:hidden;
			position:relative;
		}
		.history-date h2{
			background:#fff url(../Pics/timeline-icon06.gif) no-repeat 103px 0;
			height:59px;
			font-size:25px;
			font-family:微软雅黑;
			font-weight:normal;
			padding-left:10px;
			margin-bottom:74px; 
		}
		.history-date h2.first{
			position:absolute;
			left:0;
			top:0;
			width:300px;
			z-index:99;
		}

		.history-date ul li{
			background:url(../Pics/timeline-icon07.gif) no-repeat 125px 0;
			padding-bottom:40px;zoom:1;
		}
		.history-date ul li.last{
			padding-bottom:10;
		}
		.history-date ul li:after{
			content:" ";
			display:block;
			height:0;
			clear:both;
			visibility:hidden;
		}
		.history-date ul li h3{
			float:left;
			width:120px;
			text-align:right;
			padding-right:10px;
			color:black;
			font:normal 18px Arial;
		}
		.history-date ul li h3 span{
			display:block;
			color:black;
		    font:normal 14px Arial;
		}
		.history-date ul li dl{
			float:left;
			padding-left:50px;
			margin-top:-5px;
			font-family:微软雅黑;
		}
		.history-date ul li dl dt{
			font:18px 微软雅黑;
			color:black;
		}
		.history-date ul li dl dt span{
			display:block;
			color:black;
			font:14px 微软雅黑;
		}
		
		