
// 1920转1440
@1440w: (1920px/1920);
// 1080转900
@900h: (1080px/900);

.details {
    width: ceil((1397 / @1440w));
    height: 200px;
    margin: 12 + ceil((ceil((98 / @1440w)) / 2)) auto;
    .d_conter{
        float: left;
        width: ceil((902 / @1440w));
        background: #fff;

        h2 {
            // width:ceil((800 / @1440w));
            height: ceil((48 / @1440w));
            line-height: ceil((48 / @1440w));
            font-size: ceil((34 / @1440w));
            font-weight: 400;
            color: #333333;
            margin-bottom: ceil((33 / @1440w)); 
            margin-top: 6px;      
        }
        .tb_schema {
            width: ceil((902 / @1440w));
            height: ceil((174 / @1440w));
            background: #FFFFFF;
            border: 1px solid #E2E2E2;
            margin-bottom:ceil((53 / @1440w));
            font-size: 14px;
            font-weight: 400;
            color: #333333;
            tr {
                width: ceil((902 / @1440w));
                // height: 58px;
                background: #fff;
                border-left: 0;
                border-right: 0;
            }
            // 偶数行
            tr:nth-child(even){}
            // 奇数行            
            tr:nth-child(odd){
                // background:#F6F8FA;
                background:#F8f8f8;

                // background-color: rgba(248, 248, 248, 1);
            } 

            tr td:nth-child(odd){
                text-align: right;
                padding-right: ceil((139 / @1440w));
            }

            
        }

        .tb_libary {
            height: ceil((158 / @1440w));
            font-size: 14px;
            font-weight: 400;
            color: #017AEC;
            border: 1px solid #E2E2E2;
            margin-bottom: ceil((58 / @1440w));
            tr {
                height: 31px;
            }
            td {
                width: ceil((192 / @1440w));
            }
        }

        .d_cont_title {
            
            h3 {
                height: ceil((33 / @1440w));
                line-height: ceil((33 / @1440w));
                font-size: 24px;
                font-weight: 400;
                color: #333333;
                &::before{
                    content: url(../images/cont_title.png);
                    vertical-align: sub;
                    margin-right: ceil((14 / @1440w));

                }
            }        
          
        }

        .d_cont_text {
            margin: 0 auto;
            width: ceil((818 / @1440w));
            span {
                display: inline-block;              
                font-size: 14px;
                font-weight: 400;
                color: #666666;             
                margin:13px 0px 23px 2px;
                // border: 1px solid red;
                line-height: ceil((24 / @1440w));
            }

        }
    }   

    .d_right {
        float: left;
        width: ceil((360 / @1440w));
        height: 1000px;
        // background: lightyellow;       
        padding-left: ceil((57 / @1440w));
        padding-right: ceil((77 / @1440w));  

        .d_know {            
            &::before {
                content: url(../images/know_logo.png);
                display: block;
                width: ceil((313 / @1440w));
                height: ceil((218 / @1440w));     
                margin: 0 auto;          
            }
            .d_know_tips {
                width: ceil((360 / @1440w));
                height: ceil((56 / @1440w));
                line-height: ceil((56 / @1440w));
                text-align: center;
                background:#F8f8f8;
                // background-color: rgba(248, 248, 248, 1);   
                font-size: 20px;
                font-weight: bold;
                color: #999999;
                margin-top: 55px;
            }
        }

        .d_linkbooks {
            width: 316px;
            height: 97px;
            background: #FFFFFF;
            border: 1px solid #E2E2E2;
            margin-top: 18px;
            margin-bottom: 20px;
            padding:19px 22px;
            h4 {
                font-size: 15px;
                font-weight: 400;
                color: #999999;
                line-height: 26px;
            }
            a {
                display:  block;
                font-size: 15px;
                font-weight: 400;
                color: #333333;
                line-height: 26px;
            }
        }

        .d_anchor {            
            // width: 360px;
            // max-height: 645px;
            max-height: 645px;
             width: 262px;
            max-height: 533px;
            background: #FFFFFF;
            border: 1px solid #E2E2E2;
            overflow-y: auto;
            padding:64px 30px 48px 68px;
        }
    }

}