// 1920转1440
@1440w: (1920px/1920);
// 1080转900
@900h: (1080px/900);

body {
    // 防止页面出现纵向滚动条时，页面抖动。 让右侧的滚动条区域默认存在
    overflow-y: scroll;
}

.header {
    position: relative;
    height: ceil((250 / @1440w));
    background: url(../images/header_bg.png) repeat;

}

.headbg {
    position: absolute;
    // width: ceil((422 / @1440w));
    width: 422px;
    height: ceil((213 / @1440w)) + 0;
    background: url(../images/header_doctor.png) no-repeat top left;
    left: 50%;
    margin-left: -210px;
    top: 6px;
}

.searchbox {
    position: absolute;
    width: ceil((1071 / @1440w));
    height: ceil((98 / @1440w));
    background: url(../images/search_bg.png);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1500);
    border-radius: 9px;
    left: 50%;
    margin-left: 0 - ceil((ceil((1071 / @1440w)) / 2));
    bottom: 0 - ceil((ceil((98 / @1440w)) / 2));
   
}

.searchlogo {
    position: absolute;
    width: ceil((60 / @1440w));
    height: ceil((60 / @1440w));
    top: ceil((20 / @1440w));
    left: ceil((60 / @1440w));
    // margin: ceil(( 20 / @1440w)) ceil(( 60 / @1440w));
    // vertical-align: middle;

}

.searchnav {
    position: absolute;
    // margin-left: ceil((308 / @1440w));
    // margin-top: ceil((16 / @1440w));
    left: ceil((308 / @1440w));
    // top:ceil((16 / @1440w));
    bottom: ceil((61 / @1440w));

    li {
        float: left;
        min-width: ceil((60 / @1440w));
        margin-right: ceil((40 / @1440w));
        height: ceil((21 / @1440w));
        line-height: ceil((21 / @1440w));
        font-size: ceil((15 / @1440w));
        font-weight: 400;
        color: #666666;
        text-align: center;

        a {
            color: #666666;

            &:hover {
                color: red;
            }
        }

    }
}

.searchcont {
    position: absolute;
    left: ceil((296 / @1440w ));
    bottom: ceil((9 / @1440w ));

    input {
        width: ceil((604 / @1440w));
        height: ceil((40 / @1440w )) - 2;
        background: #FFFFFF;
        border-radius: 4px;
        border: 1px solid #DAE2EE;
        outline: none;
        font-size: 15px;
    }

    .searchbtn {
        // position: absolute;
        // top: 0px;
        float: right;
        right: ceil((97 / @1440w));
        width: ceil((91 / @1440w));
        height: ceil((40 / @1440w));
        margin-left: ceil((7 / @1440w));
        font-size: 15px;
        text-align: center;
        background: linear-gradient(305deg, #518CFF 0%, #57C2FF 100%);
        border-radius: 3px 67px 67px 3px;
        line-height: ceil((40 / @1440w));
        cursor: pointer;
        &:hover {
            background: #157BD5;
    
        };
        span {
            font-weight: 400;
            color: #FFFFFF;
        }
    }
}

.line {
    // width: 1002px;
    // height: 2px;
    // // background-color: #000;
    // // border: 0;
    //      box-shadow: 0px 1px 9px 0px rgba(0,63,123,0.1900);
}

.tab {
    width: ceil((1395 / @1440w));
    // height: 200px;
    margin: 12 + ceil((ceil((98 / @1440w)) / 2)) auto;
    // background-color:pink;

    .t_header {
        height: ceil((88 / @1440w));
        // background-color:lightgray;
    }

    .th_logo {
        float: left;
        width: ceil((279 / @1440w));
        height: ceil((88 / @1440w));
        margin-left: ceil((38 / @1440w));
        text-align: center;
    }

    .th_card {
        float: left;
        margin-right: ceil((47 / @1440w));
        text-align: center;

        &:hover {
            // color: #53A2FF;
        }

        img {
            width: ceil((45 / @1440w));
            height: ceil((52 / @1440w));
            margin-bottom: 4px;
        }

        h4 {
            font-size: 15px;
            font-weight: 400;
            color: #77818F;
        }
    }

    .th_card:nth-child(3) {
        margin-right: 0px;
    }

    .th_nav {
        position: relative;
        float: left;
        width: ceil((1395 / @1440w)) - ceil((279 / @1440w)) - ceil((38 / @1440w));
        // width: ceil((1116 / @1440w)) - 100 ;
        height: ceil((88 / @1440w));
        // background-color: lightcyan;
        user-select: none;
        overflow: hidden;

        .slide_top {
            display: inline;
            white-space: nowrap;
        }

        ul {
            display: inline;
            white-space: nowrap;

            li {
                display: inline-block;
                // position: absolute;
                // bottom: 0px;
                // left:40px;
                padding: 5px 8px 3px 8px;
                // float: left;
                margin-right: 5px;
                margin-top: ceil((88 / @1440w)) - ceil((28 / @1440w)) - 8;
                // width: ceil((28 / @1440w)) ;
                height: ceil((28 / @1440w));
                line-height: ceil((28 / @1440w));
                ;
                background: #53A2FF;
                border-radius: 3px;
                font-size: 14px;
                font-weight: 400;
                color: #FFFFFF;
                cursor: pointer;

                &:hover {
                    background: #157BD5;
                }

                span {
                    padding-left: 8px;
                }

                span:not(.icon-config) {
                    &:hover {
                        color: red;
                    }
                }
            }
        }

        .th_first {
            // position: absolute;
            // bottom: 0px;
            padding: 5px 8px 3px 8px;
            margin-right: 5px;
            // float: left;
            display: inline-block;
            text-align: center;
            width: ceil((28 / @1440w));
            height: ceil((28 / @1440w));
            background: #53A2FF;
            border-radius: 3px;
            margin-top: ceil((88 / @1440w)) - ceil((28 / @1440w)) - 8;

            span {
                color: #fff;
                padding-left: 0px;

            }
        }

        ;

        .th_tips {
            // position: absolute;
            // bottom: 0px;
            // left:40px;
            padding: 5px 8px 3px 8px;
            // float: left;
            display: inline-block;
            margin-right: 5px;
            margin-top: ceil((88 / @1440w)) - ceil((28 / @1440w)) - 8;
            // width: ceil((28 / @1440w)) ;
            height: ceil((28 / @1440w));
            line-height: ceil((28 / @1440w));
            ;
            background: #53A2FF;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 400;
            color: #FFFFFF;

            span {
                padding-left: 8px;

                &:hover {
                    color: red;

                }
            }

            // &::after{
            //     content: "";
            //     color: #fff;
            //     padding-left: 8px;   

            // }
            // &:hover::after{
            //     color: red;

            // }
        }
    }

    .t_cont {
        min-height: 500px;
        margin-top: 14px;

        // box-shadow: 0px 2px px rgba(0,63,123,0.1900) inset;
        .tc_nav {
            position: relative;
            width: ceil((279 / @1440w)) + ceil((38 / @1440w));
            min-height: 499px;
            background: #5BA3FD;
            float: left;
            user-select: none;
            padding-bottom: 10px;

            .uparrow {
                position: absolute;
                left: 50px;
                top: -17px;
                width: 0;
                height: 0;
                line-height: 0;
                font-size: 0;
                border: 9px solid transparent;
                border-bottom-color: #5BA3FD;
            }

            ul {
                li {
                    padding: ceil((12 / @1440w)) ceil((12 / @1440w)) 0px;
                    width: ceil((279 / @1440w)) + ceil((38 / @1440w));
                    height: ceil((46 / @1440w)) - ceil((12 / @1440w));
                    line-height: ceil((46 / @1440w)) - ceil((12 / @1440w));
                    cursor: pointer;

                    // margin: 7px 0px;
                    // background: #FFFFFF;                                                
                    span {
                        display: inline-block;
                        width: ceil((208 / @1440w)) + ceil((38 / @1440w));
                        height: ceil((35 / @1440w));
                        line-height: ceil((35 / @1440w));
                        ;
                        padding-left: ceil((17 / @1440w));
                        /* 1.这个单词的意思是如果文字显示不开也必须强制一行内显示 */
                        white-space: nowrap;
                        /* 2.溢出的部分隐藏起来 */
                        overflow: hidden;
                        /* 3. 文字溢出的时候用省略号来显示 */
                        text-overflow: ellipsis;
                    }

                    a {
                        height: ceil((35 / @1440w));
                        width: ceil((256 / @1440w)) + ceil((38 / @1440w));
                        display: inline-block;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 400;
                        color: #FFFFFF;
                        /* 使用缩进实现左边距 */
                        // &:hover {
                        //     color: #017AEC;   
                        //     background: #fff;    
                        //     img {
                        //         display: inline;
                        //     }                   

                        // }
                    }

                    img {
                        width: ceil((14 / @1440w));
                        height: ceil((14 / @1440w));
                        display: block;
                        float: right;
                        margin-right: ceil((13 / @1440w));
                        margin-top: ceil((ceil((35 / @1440w)) / 2)) - (ceil(ceil((14 / @1440w)) / 2));
                        display: none;
                    }

                    .active {
                        color: #017AEC;
                        background: #fff;

                        img {
                            display: inline;
                        }
                    }
                }
            }
        }

        .tc_left {
            float: left;
            // width: ceil((279 / @1440w));
            width: ceil((279 / @1440w)) + ceil((38 / @1440w)) - 2;
            // height: 300px;
            min-height: 499px;
            background: #FFFFFF;
            // border-right: 1px solid #000;             
            user-select: none;
            border-top: 1px solid #EEEBEe;

            // text-align: center;
            ul {

                // display: none;
                li {
                    padding: ceil((12 / @1440w)) ceil((12 / @1440w)) 0px;
                    width: ceil((279 / @1440w)) + ceil((38 / @1440w));
                    height: ceil((46 / @1440w)) - ceil((12 / @1440w));
                    line-height: ceil((46 / @1440w)) - ceil((12 / @1440w));
                    cursor: pointer;

                    // background-image: url(../images/arrow_right.png);
                    // margin: 7px 0px;
                    // background: #FFFFFF;           

                    // img {
                    //     height: ceil((35 / @1440w));
                    //     width: ceil((256 / @1440w));
                    // }
                    span {
                        display: inline-block;
                        width: ceil((208 / @1440w));
                        height: ceil((35 / @1440w));
                        line-height: ceil((35 / @1440w));
                        ;
                        padding-left: ceil((17 / @1440w));
                        /* 1.这个单词的意思是如果文字显示不开也必须强制一行内显示 */
                        white-space: nowrap;
                        /* 2.溢出的部分隐藏起来 */
                        overflow: hidden;
                        /* 3. 文字溢出的时候用省略号来显示 */
                        text-overflow: ellipsis;
                    }

                    a {
                        display: inline-block;
                        height: ceil((35 / @1440w));
                        // width: ceil((256 / @1440w));
                        width: ceil((256 / @1440w)) + ceil((38 / @1440w));

                        text-decoration: none;
                        font-size: 14px;
                        font-weight: 400;
                        color: #333333;

                        // &:hover {
                        //     background-image: url(../images/arrow_right.png);                        
                        //     background-size:cover;  
                        //     border: 1px dotted;
                        //     img {
                        //         display: inline;
                        //     }    
                        // }
                        img {
                            width: ceil((14 / @1440w));
                            height: ceil((14 / @1440w));
                            display: block;
                            float: right;
                            margin-right: ceil((13 / @1440w)) + 5;
                            margin-top: ceil((ceil((35 / @1440w)) / 2)) - (ceil(ceil((14 / @1440w)) / 2));
                            display: none;
                        }
                    }

                    .active {
                        background-image: url(../images/arrow_right.png);
                        background-size: cover;
                        border: 1px dotted;

                        img {
                            display: inline;
                        }
                    }


                }
            }

        }

        .tc_center {
            float: left;
            width: ceil((1395 / @1440w)) - (ceil((279 / @1440w)) + ceil((38 / @1440w))) * 2 - 4;
            //eil((279 / @1440w)) + ceil((38 / @1440w))
            min-height: 499px;
            // background: lightblue;          
            border-top: 1px solid #eeebee;
            border-left: 1px solid #eeebee;
            border-right: 1px solid #eeebee;


            .centertxt,
            h3 {
                display: inline-block;
                height: ceil((22 / @1440w));
                line-height: ceil((22 / @1440w));
                margin-left: ceil((35 / @1440w));
                margin-top: ceil((18 / @1440w));
                font-size: 16px;
                font-weight: 400;
                color: #017AEC;
                cursor: pointer;

                span {
                    color: #017AEC;

                    &:hover {
                        color: #157BD5;
                    }
                }

            }

            .rowgroup {
                position: relative;
                margin-top: 2 + 7px;
                margin-left: ceil((66 / @1440w));
                margin-right: ceil((21 / @1440w));
                border: 1px solid #EEEEEE;
                padding-bottom: ceil((22 / @1440w));
            }

            dl {
                padding-top: ceil((22 / @1440w));

                dt,
                dd {
                    float: left;
                }

                dt {
                    width: ceil((230 / @1440w));
                    font-size: 14px;
                    font-weight: 400;
                    color: #333333;
                    margin-left: ceil((19 / @1440w));
                    padding: 2px 0;

                    span {
                        color: #333333;
                        cursor: pointer;

                        &:hover {
                            color: #53A2FF;
                        }
                    }
                }

                dd {
                    width: ceil((1395 / @1440w)) - (ceil((279 / @1440w)) + ceil((38 / @1440w))) * 2 - ceil((66 / @1440w)) - ceil((230 / @1440w)) - ceil((19 / @1440w)) - ceil((21 / @1440w)) - 10;
                    font-size: 14px;
                    font-weight: 400;
                    color: #666666;

                    i {
                        display: inline-block;
                        width: 1px;
                        height: 14px;
                        line-height: 14px;
                        vertical-align: middle;
                        border-right: 1px solid #53A2FF;
                        margin: 0 ceil((10 / @1440w));
                    }

                    span {
                        //     display: inline-block;
                        //     padding: 2px 0;
                        color: #666666;
                        cursor: pointer;

                        &:hover {
                            color: #53A2FF;
                        }

                    }

                    a {
                        display: inline-block;
                        padding: 2px 0;
                        font-size: 14px;
                        font-weight: 400;

                    }
                }

            }

            .whiteuparrow {
                position: absolute;
                left: -1px;
                top: -15px;
                width: 0;
                height: 0;
                line-height: 0;
                font-size: 0;
                border: 7px solid transparent;
                border-bottom-color: #EEEEEE;

            }
        }


    }

}