// 1920转1440
@1440w: (1920px/1920);
// 1080转900
@900h: (1080px/900);

.divpage {
    // width: ceil((616 / @1440w));
    // height: ceil((50 / @1440w));
    // display: none;
    width: 616px;
    height: 50px;
    line-height: 50px;
    margin: 114px auto 30px auto;
    // border: 1px solid red;
    font-size: 14px;
    white-space: nowrap;

    a,
    span {
        display: inline-block;
        text-decoration: none;
        color: Blue;
        background-color: White;
        // padding:14px 5px;
        text-align: center;
        // border:solid 1px #ddd;
    }

    a {
        height: 30px;
        line-height: 30px;
        padding: 0 6px;
        margin-right: 10px;
        border-radius: 6px;
    }

    a:not(.tippage) {
        border: solid 1px #fff;
        &:hover {
            // color:Red;
            border: solid 1px #ddd;
        }
    }

    span:nth-child(1) {
        font-size: 14px;
        font-weight: 400;
        color: #777777;
        margin-right: 18px;
        border: 0;

        input {
            width: 60px;
            height: 30px;
            line-height: 30px;
            margin: 0px 12px;
        }
    }

    .tippage {
        background-color: #4FAFFF;
        width: 54px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        font-weight: 400;
        margin-right: 8px;
        color: #fff;
        border-radius: 7px;
    }

    .aselect {
        background-color: #4FAFFF;
        color: #fff;

    }

}