body {
	background-color: #f5f5f5!important;
}
.header {
  background: url(../images/header_bg_lite.png) repeat;
}
.headbg {
  background: url(../images/header_doctor_lite.png) no-repeat top left;
}
.totop {
	background:url(../images/totop_lite.png) no-repeat center center;
}
.totop:hover {
	background:url(../images/totop_lite.png) no-repeat center center;
}
.drugcont .drugbox ul li .boxtop {
	background: url('../images/drug_cardbg_lite.png');
}
.searchcont .searchbtn {
	background: linear-gradient(180deg,#339eff 0%,#6cc6ff 100%);
}
.tab .t_cont .tc_center .centertxt span,
.tab .t_cont .tc_center h3 span {
	color: #339eff;
}
.tab .th_nav .th_first {
	background: #339eff;
}
.tab .th_nav ul li {
	background: #eff9ff;
	color: #339eff;
}
.tab .th_nav ul li:hover {
	background-color: #157bd5;
	color: #fff;
}
.searchnav li a {
	color: #339eff;
}
.searchnav .active {
	color: #339eff;
	border-bottom: 2px solid #339eff;
}
.tab .t_cont .tc_nav {
	background: #fff;
}
.tab .t_cont .tc_nav ul li .active {
	color: #339eff;
	background: #eff9ff;
}
.tab .t_cont .tc_nav ul li a {
	color: #000;
}
.drugcont .drugbox ul li .boxbd button {
	border: 1px solid #339eff;
	color: #339eff;
}
.tipstext a, .tipstext span {
	color: #339eff;
}
.details .d_conter .d_libary dl dd a {
	color: #339eff;
}
.divpage .tippage {
	background: #339eff;
}
.divpage .aselect {
	background: #339eff;
}
.divpage a,
.divpage span {
  color: #339eff;
  background-color: #F5F5F5;
}
.icon-cancel:before, .icon-dustbin-red:before, .icon-w-cancel:before, .icon-w-close:before {
	font-family: "iconfont";
}
.divpage a:not(.tippage) {
	border: solid 1px #F5F5F5;
}
.details .d_right .d_anchor ul li .circle_check {
	background-color: #339eff;
}
.details .d_right .d_anchor ul li .anchor_txt_check {
	color: #339eff;
}
.details .d_right .d_anchor ul li:nth-child(2) .circle {
	border: 2px solid #339eff;
}
.details .d_right .d_anchor ul li:last-child .circle {
	background-color: #339eff;
}
.divpage input[type=text] {
	border: 1px solid #339eff;
}
.searchbox.searchbox-hover, .searchbox:hover {
	border: 0px solid #339eff;
	background-color: transparent;
}
.tab .t_cont .tc_left ul li .active {
	background-image: url(../images/arrow_right_lite.png);
}
.tab .th_nav .th_first {
	background:url(../images/config_lite.png) #53a2ff no-repeat center center;
}
.searchbox {
	background: url(../images/search_bg_lite.png) no-repeat;
}
