.divpage {
  width: 616px;
  height: 50px;
  line-height: 50px;
  margin: 114px auto 30px auto;
  font-size: 14px;
  white-space: nowrap;
}
.divpage a,
.divpage span {
  display: inline-block;
  text-decoration: none;
  color: #40a2de;
  background-color: White;
  text-align: center;
}
.divpage a {
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
  margin-right: 10px;
  border-radius: 6px;
}
.divpage a:not(.tippage) {
  border: solid 1px #fff;
}
.divpage a:not(.tippage):hover {
  border: solid 1px #ddd;
}
.divpage span:nth-child(1) {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  margin-right: 18px;
  border: 0;
}
.divpage span:nth-child(1) input {
  width: 60px;
  height: 30px;
  line-height: 30px;
  margin: 0px 12px;
}
.divpage .tippage {
  background-color: #40a2de;
  width: 54px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  margin-right: 8px;
  color: #fff;
  border-radius: 7px;
}
.divpage .aselect {
  background-color: #40a2de;
  color: #fff;
}
