body {
  overflow-y: scroll;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}
.header {
  position: relative;
  height: 250px;
  background: url(../images/header_bg_new.png) repeat;
}
.headbg {
  position: absolute;
  width: 422px;
  height: 213px;
  background: url(../images/header_doctor_new.png) no-repeat top left;
  left: 50%;
  margin-left: -210px;
  top: 6px;
}
.searchbox {
  position: absolute;
  width: 1071px;
  height: 98px;
  background: url(../images/search_bg.png) no-repeat;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  left: 50%;
  margin-left: -536px;
  bottom: -49px;
  border: 0;
  overflow: visible !important;
}
.searchlogo {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 20px;
  left: 60px;
}
.searchnav {
  position: absolute;
  left: 308px;
  bottom: 61px;
}
.searchnav .active{
	color:#40a2de;
	font-weight: 700;
	border-bottom: 2px solid #40a2de;
	padding-bottom: 3px;
  display:inline-block;
  width: 60px;
}
.searchnav li {
  float: left;
  min-width: 60px;
  margin-right: 40px;
  height: 21px;
  line-height: 21px;
  font-size: 15px;
  color: #666666;
  text-align: center; 
}
.searchnav li a {
  color: #666666;
  cursor: pointer;
}
.searchnav li a:hover {
  color: red;
}
.searchcont {
  position: absolute;
  left: 296px;
  bottom: 9px;
}
.searchcont input {
  /*width: 604px;*/
  width: 605px;
  height: 38px;
  padding-left:15px;
  background: #FFFFFF;
  border-radius: 4px 0 0 4px;
  border: 1px solid #9ed2f2;
  outline: none;
  font-size: 15px;
}
 .searchcont input:focus { /*获取焦点*/
	/*outline: none;  1px solid #51c9ff*/ /*边框不用border，用outline*/
	height: 38px;
    border:1px solid #9ed2f2;   
    outline: none;
    /*border-bottom:2px solid #fff;*/
 }

.searchcont .searchbtn {
  float: right;
  right: 97px;
  width: 91px;
  height: 40px;
  /*margin-left: 7px;*/
  font-size: 15px;
  text-align: center;
  background: linear-gradient(180deg,#40a2de 0%,#64b8fa 100%);
  border-radius: 0 67px 67px 0;
  line-height: 40px;
  cursor: pointer;
}
.searchcont .searchbtn:hover {
  background: #157BD5;
}
.searchcont .searchbtn span {
  font-weight: 400;
  color: #FFFFFF;
}
/*
.searchcont .searchlist {
	display:none;
	position: absolute;
    height: 250px;   
    width: 604px;
    top: 40px; 
    border-radius: 0 0 10px 10px;
    border: 2px solid #4e71f2;
    border-top: 0!important;
    box-shadow: none;
    z-index: 9999;
    background: #fff;   
    overflow-y: scroll;
}*/

.searchcont .searchlist {
	display:inline-block;
}
/*
.searchcont .searchlist ul {
    margin: 7px 14px 0;
    padding: 8px 0 7px;
    background: #fff;
    border-top:none; /* 2px solid #f5f5f6;    
	list-style:none;    
}*/
/*
.searchcont .searchlist ul li {
    width: auto;
    /*padding-left: 14px;
    margin-left: -14px;
    margin-right: -14px; //
    color: #626675;
    line-height: 30px;
    background: #fff;   
    position: relative;
    cursor: default;
}*/

.tab {
  width: 1395px;
  /*margin: 61px auto;*/
  margin: 0 auto 11px auto;
}
.tab .t_header {
  height: 95px;
  padding-top: 65px;
  background: #fff;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.15);
}
.tab .th_logo {
  float: left;
  width: 279px;
  height: 88px;
  margin-left: 38px;
  text-align: center;
}
.tab .th_card {
  float: left;
  margin-right: 47px;
  text-align: center;
}
.tab .th_card img {
  width: 45px;
  height: 52px;
  margin-bottom: 4px;
}
.tab .th_card h4 {
  font-size: 15px;
  font-weight: 400;
  color: #77818F;
}
.tab .th_card:nth-child(3) {
  margin-right: 0px;
}
.tab .th_nav {
  position: relative;
  float: left;
  width: 1078px;
  height: 88px;
  user-select: none;
  overflow: hidden;
}
.tab .th_nav .slide_top {
  display: inline;
  white-space: nowrap;
}
.tab .th_nav ul {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
}
.tab .th_nav ul li {
  display: inline-block;
  padding: 5px 8px 3px 8px;
  margin-right: 5px;
  margin-top: 52px;
  height: 28px;
  line-height: 28px;
  background: #40a2de;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}
.tab .th_nav ul li:hover {
  background-color: #157BD5;
}
.tab .th_nav ul li span {
  padding-left: 8px;
}
.tab .th_nav ul li span:not(.icon-config):hover {
  color: red;
}
.tab .th_nav .th_first {
  padding: 5px 8px 3px 8px;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  width: 28px;
  height: 28px;
  /*background: #40a2de;*/
  background:url(../images/config_new.png) #40a2de no-repeat center center;
  border-radius: 4px;
}
.tab .th_nav .th_first span {
  color: #fff;
  padding-left: 0px;
}
.tab .th_nav .th_tips {
  padding: 5px 8px 3px 8px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 52px;
  height: 28px;
  line-height: 28px;
  background: #53A2FF;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}
.tab .th_nav .th_tips span {
  padding-left: 8px;
}
.tab .th_nav .th_tips span:hover {
  color: red;
}
.tab .t_cont {
  /*height: 500px;*/
  height: 650px;
  /*margin-top: 14px;*/
  box-shadow: 0px 1px 9px 0px rgb(0 63 123 / 19%);
}
.tab .t_cont .tc_nav {
  position: relative;
  width: 317px;
  height: 650px;  
  overflow-y:auto;
  overflow-x:hidden;
  background: #0e8bdd;
  float: left;
  user-select: none;
  padding-bottom: 10px;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
.tab .t_cont .tc_nav .uparrow {
  position: absolute;
  left: 50px;
  top: -17px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border: 9px solid transparent;
  /*border-bottom-color: #5BA3FD;*/
}
.tab .t_cont .tc_nav ul li {
  padding: 10px 12px 2px;
  width: 317px;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
}
.tab .t_cont .tc_nav ul li span {
  display: inline-block;
  width: 246px;
  height: 35px;
  line-height: 35px;
  padding-left: 17px;
  /* 1.这个单词的意思是如果文字显示不开也必须强制一行内显示 */
  white-space: nowrap;
  /* 2.溢出的部分隐藏起来 */
  overflow: hidden;
  /* 3. 文字溢出的时候用省略号来显示 */
  text-overflow: ellipsis;
}
.tab .t_cont .tc_nav ul li a {
  height: 35px;
  width: 294px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  /* 使用缩进实现左边距 */
}
.tab .t_cont .tc_nav ul li img {
  width: 14px;
  height: 14px;
  display: block;
  float: right;
  margin-right: 13px;
  margin-top: 11px;
  display: none;
}
.tab .t_cont .tc_nav ul li .active {
  color: #017AEC;
  background: #fff;
}
.tab .t_cont .tc_nav ul li .active img {
  display: inline;
}
.tab .t_cont .tc_left {
  float: left;
  width: 315px;
  height: 650px;  
  overflow-y:auto;
  overflow-x:hidden;
  background: #FFFFFF;
  user-select: none;
  /*border-top: 1px solid #EEEBEe;*/
  border-top: 3px solid #DCDCDC;
}
.tab .t_cont .tc_left ul li {
  padding: 12px 12px 0px;
  width: 317px;
  height: 34px;
  line-height: 34px;
  cursor: pointer;
}
.tab .t_cont .tc_left ul li span {
  display: inline-block;
  width: 208px;
  height: 35px;
  line-height: 35px;
  padding-left: 17px;
  /* 1.这个单词的意思是如果文字显示不开也必须强制一行内显示 */
  white-space: nowrap;
  /* 2.溢出的部分隐藏起来 */
  overflow: hidden;
  /* 3. 文字溢出的时候用省略号来显示 */
  text-overflow: ellipsis;
}
.tab .t_cont .tc_left ul li a {
  display: inline-block;
  height: 35px;
  width: 294px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.tab .t_cont .tc_left ul li a img {
  width: 14px;
  height: 14px;
  display: block;
  float: right;
  margin-right: 18px;
  margin-top: 11px;
  display: none;
}
.tab .t_cont .tc_left ul li .active {
  background-image: url(../images/arrow_right.png);
  background-size: cover;
  /*border: 1px dotted;*/
}
.tab .t_cont .tc_left ul li .active img {
  display: inline;
}

.tab .t_cont .tc_left::-webkit-scrollbar {
  width: 0px;
}
.tab .t_cont .tc_left::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.tab .t_cont .tc_left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
.tab .t_cont .tc_left::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}
.tab .t_cont .tc_center {
  float: left;
  width: 757px;
  height: 650px;  
  overflow-y:auto;
  overflow-x:hidden;
  border-left: 1px solid #eeebee;
  border-top: 3px solid #DCDCDC;
  border-left: 1px solid #eeebee;
  border-right: 1px solid #eeebee;
  background: #fff;
}
.tab .t_cont .tc_center::-webkit-scrollbar {
  width: 0px;
}
.tab .t_cont .tc_center::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.tab .t_cont .tc_center::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
.tab .t_cont .tc_center::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

.tab .t_cont .tc_center .centertxt,
.tab .t_cont .tc_center h3 {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin-left: 35px;
  margin-top: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #017AEC;
  cursor: pointer;
}
.tab .t_cont .tc_center .centertxt span,
.tab .t_cont .tc_center h3 span {
  color: #40a2de;
  font-weight: 700;
}
.tab .t_cont .tc_center .centertxt span:hover,
.tab .t_cont .tc_center h3 span:hover {
  color: #157BD5;
}
.tab .t_cont .tc_center .rowgroup {
  position: relative;
  margin-top: 9px;
  margin-left: 66px;
  margin-right: 21px;
  border: 1px solid #EEEEEE;
  padding-bottom: 22px;
}
.tab .t_cont .tc_center dl {
  padding-top: 22px;
}
.tab .t_cont .tc_center dl dt,
.tab .t_cont .tc_center dl dd {
  float: left;
}
.tab .t_cont .tc_center dl dt {
  width: 230px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-left: 19px;
  padding: 2px 0;
}
.tab .t_cont .tc_center dl dt span {
  color: #333333;
  cursor: pointer;
}
.tab .t_cont .tc_center dl dt span:hover {
  color: #53A2FF;
}
.tab .t_cont .tc_center dl dd {
  width: 415px;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}
.tab .t_cont .tc_center dl dd i {
  display: inline-block;
  width: 1px;
  height: 14px;
  line-height: 14px;
  vertical-align: middle;
  border-right: 1px solid #53A2FF;
  margin: 0 10px;
}
.tab .t_cont .tc_center dl dd span {
  color: #666666;
  cursor: pointer;
}
.tab .t_cont .tc_center dl dd span:hover {
  color: #53A2FF;
}
.tab .t_cont .tc_center dl dd a {
  display: inline-block;
  padding: 2px 0;
  font-size: 14px;
  font-weight: 400;
}
.tab .t_cont .tc_center .whiteuparrow {
  position: absolute;
  left: -1px;
  top: -15px;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border: 7px solid transparent;
  border-bottom-color: #EEEEEE;
}

.drugtips {
	display:none;
	margin: 0 auto;
	/*height: 52px;
	line-height:52px;*/
	min-height:20px;
    width: 1395px;
    border-top:0px solid rgb(0 63 123 / 19%)
    /*box-shadow: 0px -8px 5px rgb(0 63 123 / 19%);*/
}

.tipstext {
	display:inline-block;
   	max-width: 1395px;
    height: 21px;
    font-size: 15px;   
    font-weight: 400;
    color: #53A2FF;
    line-height: 21px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.tipstext a, .tipstext span{
    color: #017bce;
	font-size: 15px;   
    font-weight: 400;
}
.tipstext a:hover{
	color: #157BD5;
}
/* 修改滚动条样式 */
.search_scrollbar {
  width: 30px;
  margin: 0 auto;
}
.searchlist::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 2px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.searchlist::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}
.searchlist::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #EDEDED;
}
.totop {
	position: fixed;
	bottom:20px;
	right:20px;
	width:78px;
	height:78px;
	background:url(../images/totop_new.png) no-repeat center center;
	cursor: pointer;
	display:none;
}
.totop:hover {
	background:url(../images/totop_new.png) no-repeat center center;
}

.drugedu {
  width: 1397px;
  margin: 66px auto 61px auto;
  border-top: 3px solid #DCDCDC;
  padding:10px;
  display:none;
}
.drugedu .e_edu_title h3::before {
  content: url(../images/cont_title.png);
  vertical-align: sub;
  margin-right: 14px;
}

.drugedu .e_edu_title h3 {
  height: 33px;
  line-height: 33px;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}
.drugedu .e_edu_type {
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  height: 33px;
  line-height: 33px;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
}
.drugedu .e_edu_text{
	padding-right:20px;
}
.drugedu .e_edu_text span{
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  margin: 10px 0px 10px 16px;
  line-height: 24px;
  white-space: pre-line;
}
.divpage input[type=text] {
  border: 1px solid #40a2de;
}
