* {
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
    -webkit-user-drag:none;
    background-color:#fff !important;
    /* overflow-y: auto; */
}

img {
    /* 禁止图片被拖动 */
    -webkit-user-drag: none;
    pointer-events: none;
  }
ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nowrap {
  white-space: nowrap;
  /* 2.溢出的部分隐藏起来 */
  overflow: hidden;
  /* 3. 文字溢出的时候用省略号来显示 */
  text-overflow: ellipsis;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


