// 1920转1440
// @1440w:(1920px/1440); 
@1440w: (1920px/1920);
// 1080转900
@900h: (1080px/900);

em,
i {
    font-style: normal
}

.nowrap {
    white-space: nowrap;
    /* 2.溢出的部分隐藏起来 */
    overflow: hidden;
    /* 3. 文字溢出的时候用省略号来显示 */
    text-overflow: ellipsis;
}

.drugcont {
    display: none;
    width: ceil((1395 / @1440w));
    margin: 12 + ceil((ceil((98 / @900h)) / 2)) auto;

    .drugbox {
        // display: none;
        margin-top: ceil((22 / @1440w));

        ul {
            width: ceil((1440 / @1440w));

            li {
                position: relative;
                float: left;
                width: ceil((340 / @1440w));
                height: ceil((310 / @1440w));
                background: #FFFFFF;
                margin-bottom: ceil((12 / @1440w));
                margin-right: ceil((12 / @1440w));
                box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1200);
                border-radius: 6px 6px 5px 5px;

                .boxtop {
                    width: ceil((340 / @1440w));
                    height: ceil((95 / @1440w));
                    background: url('../images/drug_cardbg.png');
                    // background: linear-gradient(315deg, #57BEFF 0%, #5296FF 100%);
                    border-radius: 5px 5px 0px 0px;

                    // border : 1px solid #000;
                    em {
                        position: absolute;
                        top: ceil((9 / @1440w));
                        right: ceil((14 / @1440w));
                        height: ceil((18 / @1440w));
                        font-size: 13px;
                        font-weight: 400;
                        color: #FFFFFF;
                        line-height: ceil((18 / @1440w));
                    }

                    i {
                        display: inline-block;
                        width: ceil((3 / @1440w));
                        height: ceil((14 / @1440w));
                        background: #fff;
                        margin-left: ceil((20 / @1440w));
                        margin-right: ceil((10 / @1440w));
                        margin-bottom: ceil((-2 / @1440w));


                    }

                    h4 {
                        display: inline-block;
                        height: ceil((22 / @1440w));
                        font-size: ceil((16 / @1440w));
                        font-weight: 600;
                        color: #FFFFFF;
                        line-height: ceil((22 / @1440w));
                        margin-top: ceil((18 / @1440w));
                    }

                    h5 {
                        // width: 311px;                        
                        height: ceil((18 / @1440w));
                        line-height: ceil((18 / @1440w));
                        margin-top: ceil((11 / @1440w));
                        margin-left: ceil((20 / @1440w));
                        margin-right: ceil((9 / @1440w));
                        font-size: ceil((13 / @1440w));
                        font-weight: 400;
                        color: #FFFFFF;
                    }
                }

                .boxbd {
                    padding: ceil((18 / @1440w)) ceil((7 / @1440w)) ceil((18 / @1440w)) ceil((22 / @1440w));

                    h4 {
                        height: ceil((18 / @1440w));
                        line-height: ceil((18 / @1440w));
                        margin-bottom: ceil((15 / @1440w));
                        font-size: ceil((13 / @1440w));
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color: #777777;

                        span:nth-child(2) {
                            color: #333333;
                        }
                    }

                    h4:nth-child(1),
                    h4:nth-child(2) {
                        display: inline-block;
                    }

                    h4:nth-child(1) {
                        width: ceil((160 / @1440w));

                    }

                    h4:nth-child(2) {
                        width: ceil((146 / @1440w));
                    }

                    button {
                        display: inline-block;
                        float: right;
                        width: ceil((119 / @1440w));
                        height: ceil((28 / @1440w));
                        line-height: ceil((28 / @1440w));
                        background: #FFFFFF;
                        border-radius: 17px;
                        border: 1px solid #0A5DF0;
                        font-weight: 400;
                        color: #0A5DF0;
                        margin-right: ceil((25 / @1440w));
                        // margin-left: ceil((108 / @1440w));
                        cursor: pointer;
                        &:hover{
                            background: #f7f5f5;
                        }
                    }

                    .foot {
                        // height: ceil((28 / @1440w));
                        // line-height:ceil((28 / @1440w)); 
                        margin-top: ceil((28 / @1440w));
                    }

                    .useflag {
                        // display: inline-block;       
                        float: left;
                        height: ceil((28 / @1440w));
                        line-height: ceil((28 / @1440w));
                        font-size: ceil((12 / @1440w));
                        font-weight: 400;
                        color: #ECA04A;

                        i {
                            display: inline-block;
                            width: ceil((15 / @1440w));
                            height: ceil((18 / @1440w));
                            background: url('../images/useflag.png');
                            vertical-align: middle;
                        }
                    }

                }
            }
        }
    }

}