em,
i {
  font-style: normal;
}
.nowrap {
  white-space: nowrap;
  /* 2.溢出的部分隐藏起来 */
  overflow: hidden;
  /* 3. 文字溢出的时候用省略号来显示 */
  text-overflow: ellipsis;
}
.drugcont {
  display: none;
  width: 1395px;
  /*margin: 53px auto;*/
   margin: 0px auto 53px auto;
}

.drugcont .notdatatips {
	text-align: center;
}

.drugcont .notdatatips h3{	
	height: 20px;
	font-size: 14px;
	font-weight: 400;
	color: #9797A0;
	line-height: 20px;
}

.drugcont .drugbox {
  /*margin-top: 22px;*/
  margin-top: 0px;
}
.drugcont .drugbox ul {
  width: 1440px;
}
.drugcont .drugbox ul li {
  position: relative;
  float: left;
  width: 340px;
  height: 310px;
  background: #FFFFFF;
  margin-bottom: 12px;
  margin-right: 12px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.12);
  border-radius: 6px 6px 5px 5px;
}
.drugcont .drugbox ul li .boxtop {
  width: 340px;
  height: 95px;
  background: url('../images/drug_cardbg_new.png') no-repeat;
  background-size: 100%;
  border-radius: 5px 5px 0px 0px;
}
.drugcont .drugbox ul li .boxtop em {
  position: absolute;
  top: 9px;
  right: 14px;
  height: 18px;
  font-size: 13px;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 18px;
}
.drugcont .drugbox ul li .boxtop i {
  display: inline-block;
  width: 3px;
  height: 14px;
  background: #fff;
  margin-left: 20px;
  margin-right: 10px;
  /*margin-bottom: -2px;*/
}
.drugcont .drugbox ul li .boxtop h4 {
  display: inline-block;
  /*width:300px;*/
  width:290px;
  height: 22px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 22px;
  margin-top: 18px;
  vertical-align: bottom;
}
.drugcont .drugbox ul li .boxtop h5 {
  height: 18px;
  line-height: 18px;
  margin-top: 11px;
  margin-left: 20px;
  margin-right: 9px;
  font-size: 13px;
  font-weight: 400;
  color: #FFFFFF;
}
.drugcont .drugbox ul li .boxbd {
  padding: 18px 7px 18px 22px;
  font-size: 0;
}
.drugcont .drugbox ul li .boxbd h4 {
  height: 18px;
  line-height: 18px;
  margin-bottom: 15px;
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #777777;
}
.drugcont .drugbox ul li .boxbd h4 span:nth-child(2) {
  color: #333333;
}
.drugcont .drugbox ul li .boxbd h4:nth-child(1),
.drugcont .drugbox ul li .boxbd h4:nth-child(2) {
  display: inline-block;
}
.drugcont .drugbox ul li .boxbd h4:nth-child(1) {
  width: 160px;
}
.drugcont .drugbox ul li .boxbd h4:nth-child(2) {
  width: 146px;
}
.drugcont .drugbox ul li .boxbd button {
  display: inline-block;
  float: right;
  width: 100px;
  height: 30px;
  line-height: 28px;
  background: #FFFFFF;
  border-radius: 23px;
  border: 1px solid #40a2de;
  font-weight: 400;
  color: #40a2de;
  margin-right: 25px;
  cursor: pointer;
}
.drugcont .drugbox ul li .boxbd button:hover {
  background: #f7f5f5;
}
.drugcont .drugbox ul li .boxbd .foot {
  margin-top: 28px;
}
.drugcont .drugbox ul li .boxbd .useflag {
  float: left;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  font-weight: 400;
  color: #ECA04A;
}
.drugcont .drugbox ul li .boxbd .useflag i {
  display: inline-block;
  width: 15px;
  height: 18px;
  background: url('../images/useflag_new.png') no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}
