body{
	overflow: hidden;
	background: white;
	opacity: 0;
}
body,
.mui-content {
    /* background: white; */
    font-family: "microsoft yahei";
	width: 100%;
}

.dhc-backdrop{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 998;
	background-color: rgba(0,0,0,.3);
}
.dhc-backdrop.dhc-active{
	display: block;
}

.mui-content{
	background: white;
	width: 100%;
}
.dhc{
	background-image: url(../common/images/dhcc_ogo.svg);
	width: 150px;
	height: 44px;
	background-repeat: no-repeat;
}
.version{
	position: absolute;
	left: 75px;
	bottom: 3px;
	font-size: 12px;
	line-height: 13px;
	color: white;
}
.mui-bar-nav {
	background: #017BCE;
	box-shadow: none;
	border-bottom: 1px solid white;
}

.mui-bar .ward{
	position: absolute;
	left: calc(55% + 6rem);
	top: 0;
	margin: 2px 0.625rem;
	text-overflow: ellipsis;
	height: 40px;
	color: white;
	text-align: center;
	/*margin-right: 10px;
	font-size: 16px;*/
	font-size: 1.0625rem;
	width: calc(45% - 50px - 6rem);
}
#hideBar{
	position: absolute;
	bottom: 0.625rem;
	right: 0.625rem;
	/* font-size: 18px; */
	font-size: 1.125rem;
	z-index: 2;
	color: white;
}
#settingBtn,
#exitBtn,
#refreshBtn,
#msgBtn,#editBtn,#switch,
#voiceBtn{
	color: dodgerblue;
	height: 1.875rem;
	line-height: 1.875rem;
	margin-top: 1.5rem;
	text-align: center;
	border-radius: 5px;
	/* width: 30px;
	font-size: 24px;
	margin-right: 14px; */
	width: 30px;
	font-size: 1.625rem;
}
#switch{
	margin-top: 5rem;
	color: orange;
}
.iconshow:before,.iconhide:before{
	position: static;
	top: auto;
	line-height: 1.875rem;
}
#exitBtn{
	color: #FF5053;
}

.mui-bar .scrollArea{
	height: 32px;
	margin-top: 6px;
	line-height: 32px;
	color: white;
	border-radius: 1px;
	font-size: 1.125rem;
	width: calc(55% - 135px - 12rem);
	border-top-right-radius: 100px;
	border-bottom-right-radius: 15px;
	background-image: linear-gradient(270deg, #a1c4fd 0%, #017bce 100%);
}
#fullScreenBtn {
	text-align: right;
	margin-right: -5px;
	color: floralwhite;
	opacity: 0.7;
	display: none;
}

#msgBtn{
	position: relative;
}

#fullScreenBtn:active,
#settingBtn:active,
#exitBtn:active,
#refreshBtn:active,
#msgBtn:active{
	background-color: darkgray;
}

.msgNum{
	position: absolute; 
	top: -5px;
	color: red;
	background-color: transparent;
	/*right: -12px;*/
	left: 15px;
	font-size: 0.75rem;
	padding: 0;
	font-weight: 600;
}
.nightMode .msgNum{
	color: white;
}

.iframeBox {
	height: 100%;
}
.mui-bar-tab{
	height: 40px;
	/* display: block; */
	transition: top 0.2s ease, bottom 0.2s ease;
}
.hideBar .mui-bar-tab{
	display: none;
	transition: top 0.2s ease, bottom 0.2s ease;
}
.mui-bar-tab~.mui-content{
	padding-bottom: 40px;
	transition: top 0.2s ease, bottom 0.2s ease;
}

body.nightMode .mui-content{
	background: #313838;
}

.hideBar .mui-bar-tab~.mui-content{
	padding-bottom: 0px;
	transition: top 0.2s ease, bottom 0.2s ease;
}
.mui-bar-tab .mui-tab-item{
	color: grey;
	height: 40px;
	touch-action: none;
	display: table-cell;
}

.mui-bar-tab .mui-tab-item .mui-icon.iconhuaban{
	font-size: 18px;
}
.mui-bar-tab .mui-tab-item .tabContent{
	height: 70%;
	margin: 2px 15%;
	color: gray;
}
.mui-bar-tab .mui-tab-item.mui-active .tabContent{
	/* background: #017BCE; */
	background-image: linear-gradient(to left, #0acffe 0%, #017bce 100%);
	color: white;
	border-radius: 20px;
}
/* .mui-bar-tab .mui-tab-item.mui-active {
	background: #017BCE;
	color: white;
} */
.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label{
	display: inline;
	/*font-size: 16px;*/
	font-size: 1rem;
	vertical-align: text-bottom;
}

#bedMapiframe1 {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

#bedMapiframe2 {
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: 100%;
}

.mui-slider-item {
	height: 100%;
}

/* 侧边栏 */
.switch {
	position: absolute;
	right: 0px;
	top: 44px;
	background: #F7F7F7;
	width: 30px;
	height: calc(100% - 84px);
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.hideBar .switch{
	height: calc(100% - 44px);
}
.notification {
	position: fixed;
	right: 0px;
	top: 44px;
	height: calc(100% - 84px);
	width: 12.5%;
	border-radius: 0px;
	background: white;
}
.hideBar .notification{
	height: calc(100% - 44px);
}
.withoutClock{
	position: relative;
	right: 0;
	top: 0;
	width: 100%;
	/* height: calc(100% - 126px); */
	height: calc(100% - 7.875rem);
}

/* 新消息 留言板 */
.topSlider, .botSlider{
	margin: 0px 0px;
	height: 60%;
	transition: height 0.2s ease;
}
.botSlider{
	margin: 0;
	/* height: calc(40% - 35px); */
	height: calc(40% - 2.1875rem);
	transition: height 0.2s ease;
}
/* 新消息的内容 */

.oneOrder{
	border-bottom: 1px solid #E4E4E4;
	/* padding: 4px 5px; */
	padding: 0.25rem 0.3125rem;
}

.createTime{
	position: absolute;
	color: gray;
	/*font-size: 12px;
	right: 4px;
	top: 3px;*/
	font-size: 0.75rem;
	right: 0.25rem;
	top: 0.1875rem;
}
.patInfo{
	color: #017BCE;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	/*font-size: 14px;
	width: calc(100% - 75px);*/
	font-size: 0.875rem;
	width: calc(100% - 4.6875rem);
}
.orderName, .orderOther{
	color: #323232;
	/* margin-top: 5px;
	padding-left: 15px;
	font-size: 14px;
	line-height: 18px; */
	margin-top: 0.3125rem;
	padding-left: 0.9375rem;
	font-size: 0.875rem;
	line-height: 1.125rem;
}
.orderOther{
	color: grey;
	/* margin-top: 2px;
	font-size: 12px;
	line-height: 15px;
	padding: 2px 0px;
	padding-right: 5px;
	padding-left: 15px; */
	margin-top: 0.125rem;
	font-size: 0.75rem;
	line-height: 0.9375rem;
	padding: 0.125rem 0;
	padding-right: 0.3125rem;
	padding-left: 0.9375rem;
}
.myCanvas{
	position: absolute;
	top: 2rem;
	left: 0.3125rem;
	width: 0.875rem;
	height: calc(100% - 4rem);
	z-index: 0;
	border: solid 1px lightgray;
	border-right: none;
}
.mui-slider .mui-slider-group{
	/* height: calc(100% - 30px); */
	height: calc(100% - 1.875rem);
}
.mui-segmented-control{
	display: block;
	/* height: 32px;
	line-height: 32px; */
	height: 2rem;
	line-height: 2rem;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item{
	color: #616161;
	/* height: 30px;
	line-height: 30px;
	font-size: 14px; */
	height: 1.875rem;
	line-height: 1.875rem;
	font-size: 0.875rem;
}
.ward.mui-segmented-control.mui-segmented-control-inverted .mui-control-item{
	color: white;
	background: transparent;
	height: 40px;
	line-height: 40px;
	font-size: 0.875rem;
	padding: 0 1.25rem;
}
.ward .controlItemSp{
	display: inline-block;
	height: 20px;
	margin-bottom: 10px;
	border-right: solid 1px white;
}
#wrapper1,#wrapper2{
	/* margin-bottom: 5px; */
	margin-bottom: 0.3125rem;
}

/* 选中 */
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active div{
	font-weight: 700;
	background: #77AFE9;
	color: white;
	border-top-right-radius: 80px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 80px;
	border-bottom-right-radius: 20px;
}
.ward.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	background: transparent;
	border: 0;
	font-size: 1rem;
}
.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
	background: #017BCE;
}
#item1mobile,#item3mobile,#item1,#item2{
	border-bottom: none;
	border-top: none;
}

#item1mobile.mui-table-view-cell{
	position: relative;
	/* padding: 2px 5px;
	line-height: 15px; */
	padding: 0.125rem 0.3125rem;
	line-height: 0.9375rem;
}
#botSlider.mui-table-view-cell{
	/* padding: 5px 10px; */
	padding: 0.3125rem 0.625rems;
}

/* 新医嘱悬浮样式 */
/* #item1mobile .mui-table-view-cell:before,
#item1mobile .mui-table-view-cell:after {
	content: attr(patInfo);
	position: absolute;
	top: 0;
	right: 0;
	height: 0;
	width: 2px;
	background: seagreen;
	transition: 200ms ease all;
	cursor: pointer;
} */
#item1mobile .mui-table-view-cell:after {
	height: 0px;
}
#item1mobile .mui-table-view-cell:hover,
#item1mobile .mui-table-view-cell:hover {
	background: #FAFAFA;
}
/* 新医嘱悬浮样式 END */

.mui-slider-item.mui-control-content {
	background-color: white;
}

.mui-control-content .mui-loading {
	/* margin-top: 5px; */
	margin-top: 0.3125rem;
}
#scroll1, #scroll2, #scroll3{
	margin-top: 0px;
	/* margin-bottom: 40px; */
	margin-bottom: 2.5rem;
}
#scroll1, #scroll3{
	margin-bottom: 0px;
}

/* 留言板内容 */
.liuyanban, .weekPlan, .docInfo{
	color: #323232;
	/* padding: 5px 10px;
	font-size: 15px; */
	padding: 0.3125rem 0.625rem;
	font-size: 0.9375rem;
}
#weekPlan{
	/* font-size: 14px; */
	font-size: 0.875rem;
}
#edit,#addDoc{
	position: absolute;
	background: transparent;
	border: none;
	text-align: center;
	bottom: 0px;
	color: #323232;
	z-index: 9;
	/* right: 10px;
	height: 40px;
	width: 40px;
	font-size: 25px;
	line-height: 25px; */
	right: 0.625rem;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 1.5625rem;
	line-height: 1.5625rem;
}

.tabs{
	height: calc(100% - 120px);
	/* height: calc(100% - 7.5rem); */
}

.setPopover{
	font-family: "microsoft yahei";
	position: absolute;
	background: white;
	border-radius: 3px;
	height: 280px;
	width: 440px;
	top: calc(45% - 140px);
	left: calc(50% - 200px);
	 font-size: 16px;
	/* height: 17.5rem;
	width: 27.5rem;
	top: calc(40% - 7.5rem);
	left: calc(50% - 12.5rem);
	font-size: 1rem; */
}
.headTip{
	background: #017BCE;
	color: white;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	/* height: 2.5rem;
	line-height: 2.5rem;
	padding-left: 0.9375rem; */
}
#setCard{
	border-radius: 0px;
	background-color: #FBFBFB;
	border: 1px lightgray solid;
	box-shadow: none;
	padding-bottom: 2px;
	margin: 5px 10px;
	/* padding-bottom: 0.125rem;
	margin: 0.3125rem 0.625rem; */
}
.setPopover.mui-input-row{
	background: white;
	color: #323232;
}
#closeBtn,#editClose,#editClose2{
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	width: 40px;
	/* height: 2.5rem;
	line-height: 2.5rem;
	width: 2.5rem; */
}
.mui-input-row label{
	width: 50%;
	text-align: right;
	font-size: 15px;
	/* font-size: 0.9375rem; */
}
.mui-input-row .mui-switch{
	float: left;
	left: 25px;
	/* left: 1.5625rem; */
}
.buttonC{
	position: absolute;
	left: 0px;
	width: 100%;
	bottom: 5px;	
	height: 40px;
	/* bottom: 0.3125rem;
	height: 2.5rem; */
}
#commitBtn, #editCommit,#docCommit{
	display: inline-block;
	position: absolute;
	bottom: 0px;
	left: 35%;
	width: 15%;
	line-height: 0px;
	border: #358fd6 1px solid;
	color: white;
	background: #358fd6;
	height: 30px;
	font-size: 14px;
	/* height: 1.875rem;
	font-size: 0.875rem; */
}
#cancelBtn, #editCancle,#docCancle{
	display: inline-block;
	position: absolute;
	bottom: 0px;
	left: 51%;
	width: 15%;
	line-height: 0px;
	border: #358fd6 1px solid;
	height: 30px;
	font-size: 14px;
	/* height: 1.875rem;
	font-size: 0.875rem; */
}

.msgPopover{
	background: white;
	position: absolute;
	border-radius: 0px;
	height: 320px;
	width: 440px;
	top: calc(50% - 160px);
	right: calc(50% - 200px);
	/* height: 20rem;
	width: 27.5rem;
	top: calc(40% - 10rem);
	right: calc(50% - 12.5rem); */
}

#liuyanInput,#docInput,#scrollInput{
	background: white;
	height: 100%;
	overflow-y: auto;
	width: calc(100% - 20px);
	margin: 5px 10px;
	font-size: 14px;
	/* width: calc(100% - 1.25rem);
	margin: 0.3125rem 0.625rem;
	font-size: 0.875rem; */
}
#docPopover .mui-input-row label{
	display: inline-block;
	text-align: left;
	color: #017BCE;
	padding-left: 20px;
	height: 40px;
	line-height: 20px;
	font-size: 15.5px;
	/* padding-left: 1.25rem;
	height: 2.5rem;
	line-height: 1.25rem;
	font-size: 0.96875rem; */
}
#docPopover .mui-input-row label~input{
	display: inline-block;
	width: 90%;
	border: 1px gainsboro solid;
	float: left;
	margin-left: 5%;
	color: #017BCE;
	text-align: center;
	font-size: 14px;
	/* font-size: 0.875rem; */
}
.mui-backdrop{
	/* position: absolute; */
	user-select: text;
	-webkit-user-select: text;
}
textarea{
	user-select: text;
	-webkit-user-select: text;
}

/* 深色模式 */

.nightMode .mui-bar-nav {
	/* background: #017BCE; */
	background: #4682B4;
	border-bottom: 1px gray solid;
}
.nightMode .mui-bar .ward{
	color: whitesmoke;
}
.nightMode .mui-bar .scrollArea{
	background-image: linear-gradient(270deg, #a1c4fd 0%, #4682B4 55%);
}
.nightMode .mui-bar-tab .mui-tab-item {
	background: #313838;
	color: #DCDCDC;
}
.nightMode .mui-bar-tab .mui-tab-item.mui-active {
	/* background: #017BCE; */
	color: #DCDCDC;
}
body.nightMode{
	background: #313838;
}

.nightMode #clock .date,.nightMode #clock .week {
	color: whitesmoke;
}

.nightMode #clock .digits div span{
	background-color: #dddddd;
	border-color:#dddddd;
}
.nightMode #clock.light{
	background-color: #313838;
	color:#cacaca;
}

.nightMode #clock.light .display{
	border: lightgray 1px solid;
	background-color: #313838;
}

.nightMode #clock.light .digits div.dots:before,
.nightMode #clock.light .digits div.dots:after{
	background-color: #dddddd;
}

.nightMode #clock.light .display{
	border:  none;
}

.nightMode .mui-slider-group{
	background: #313838;
}
/* 留言板选中 */
.nightMode .mui-segmented-control.mui-segmented-control-inverted .mui-control-item{
	background: #404848;
	color: whitesmoke;
}
.nightMode .ward.mui-segmented-control.mui-segmented-control-inverted .mui-control-item{
	background: transparent;
	color: lightgray;
}
.nightMode .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	/* background: #4682B4; */
	color: white;
	font-weight: 700;
	/* font-size: 14px; */
	font-size: 1rem;
}
.nightMode .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
	background: #313838;
}
.nightMode .mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
	background: #313838;
	border-bottom: none;
}
.nightMode  #item1mobile .mui-table-view{
	background-color: transparent;
	color: whitesmoke;
}
.nightMode .mui-table-view-cell{
	background: #313838;
	color: whitesmoke;
}
.nightMode .liuyanban,.nightMode .weekPlan,.nightMode .docInfo{
	color: gainsboro;
}
.nightMode .iconadduser:before{
	color: whitesmoke;
}
.nightMode .tabs{
	background: #313838;
}
.nightMode .tabs div{
	color: whitesmoke;
	background: #313838;
}

.nightMode .setPopover{
	background: #313838;
	border: darkgray 1px solid;
	/* box-shadow: darkgray 1px 0px 2px 2px; */
}
.nightMode #setCard{
	border: none;
}
.nightMode .switch{
	background: #404848;
}
.nightMode .switch{
	border-left: #313838 1px solid;
}
.nightMode .switch .iconshow:before{
	color: lightgray;
}
.nightMode .switch .iconhide:before{
	color: lightgray;
}
.nightMode .setPopover .headTip{
	background: #404848;
	color: whitesmoke;
}
.nightMode .setPopover #setCard{
	color: whitesmoke;
	border-radius: 0px;
	background: #404848;
	box-shadow: dimgray 1px 1px 1px 1px;
}
.nightMode .setPopover .mui-input-row{
	color: whitesmoke;
	background: #404848;
}
.nightMode .mui-switch .mui-switch-handle{
	background: whitesmoke;
}
.nightMode .msgPopover{
	background: #313838;
	border: darkgray 1px solid;
	box-shadow: darkgray 3px 0px 5px 2px;
}
.nightMode .headTip{
	background-color: #4682B4;
	color: whitesmoke;
}
.nightMode .msgPopover li{
	background: #404848;
	color: darkgray;
}
.nightMode .msgPopover #liuyanInput{
	background: #404848;
	color: whitesmoke;
}
.nightMode .msgPopover #docInput{
	background: #404848;
	color: whitesmoke;
}
.nightMode .msgPopover #scrollInput{
	background: #404848;
	color: whitesmoke;
}
.nightMode .tabs .horizontal li.selectActive{
	color: whitesmoke;
	border-color: lightgray;
}
.nightMode #commitBtn,.nightMode #editCommit
{
	background: #4682B4;
	border-color: #4682B4;
}
.nightMode #cancelBtn,.nightMode #editCancle
{
	border-color: lightgray;
	background-color: lightgray;
}
.nightMode #scroll1 .patInfo{
	color: sandybrown;
}
.nightMode #scroll1 .createTime{
	color: darkgrey;
}
.nightMode #scroll1 .orderName{
	color: gainsboro;
}
.nightMode #scroll1 .orderOther{
	color: darkgrey;
}
.nightMode .oneOrder{
	border-color: gray;
}
.nightMode .notification{
	background: #313838;
}
.nightMode .open .notification{
	background: #313838;
}
.nightMode #clock{
	border-color: gray;
}
.nightMode #item1mobile .mui-table-view-cell:hover{
	background: dimgrey;
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: transparent;
	font-size: 0.9375rem;
	line-height: 40px;
	color: #777;
}
.mui-pull-loading{
	font-size: 0.8125rem;
}

.scaleBtn{
	position: absolute;
	bottom: 0.625rem;
	right: 0.625rem;
	/* font-size: 18px; */
	font-size: 1.125rem;
	z-index: 2;
	color: darkgray;
}
.withoutClock.lybMax .topSlider{
	height: 2rem;
}
.withoutClock.lybMax .botSlider{
	height: calc(100% - 4.1875rem);
}
.nightMode .scaleBtn{
	color: lightgray;
}
.nightMode #settingBtn,
.nightMode #exitBtn,
.nightMode #refreshBtn,
.nightMode #msgBtn,.nightMode #editBtn,.nightMode #switch,
.nightMode #voiceBtn
{
	color: lightgray;
}


.newsFail{
	color: #323232;
	font-size: 0.875rem;
	width: 100%;
	margin-top: 0.625rem;
	text-align: center;
}
/* 自动切换日夜间模式 */
.selfBtn{
	float: right;
	color: #0062CC;
	font-size: 0.9375rem;
	margin-top: 10px;
	margin-right: 5px;
	margin-right: 10px;
	text-decoration: underline;
}
.timePopo{
	background: white;
	position: absolute;
	border-radius: 0px;
	height: 140px;
	width: 320px;
	top: calc(45% - 40px);
	left: calc(50% + 245px);
	border-radius: 4px;
	overflow: hidden;
	padding: 10px;
}
.timePopo.dhc-active{
	display: block;
	opacity: 1;
}

.timePopo .mui-input-row{
	display: flex;
	height: 40px;
	padding: 5px;
}
.timePopo .timeTip{
	width: 40%;
	text-align: right;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
}
.timePopo .mui-input-row .iconfont{
	width: calc(60% - 20px);
	border-radius: 3px;
	height: 30px;
	line-height: 30px;
	border: solid 1px lightgray;
	margin-left: 10px;
	color: gray;
}
.timePopo .mui-input-row .iconfont::before{
	content: "\e60c";
	color: #323232;
	font-weight: 400;
	padding:0 10px;
}
.timePopo .mui-input-row .mui-switch{
	left: 10px;
	margin-top: 0;
}

.mui-dtpicker{
	width: 150px;
	left: calc(50% + 245px + 142px);
	bottom: auto;
}
.mui-dtpicker.mui-active + .mui-backdrop{
	display: none;
}
.nightMode .timePopo{
	background: #313838;
	border: darkgray 1px solid;
	box-shadow: darkgray 3px 0px 5px 2px;
}
.nightMode .timeTip,.nightMode .timePopo .mui-input-row .iconfont::before{
	color: whitesmoke;
}
.nightMode .timePopo .mui-input-row .iconfont{
	border: solid 1px gray;
	color: whitesmoke;
}

.nightMode .selfBtn{
	color: #4682B4;
}
.mui-bar .mui-icon:active{
	opacity: 1;
}
.midArea{
	position: absolute;
	left: calc(12rem + 90px);
	right: 45px;
	display: flex;
}
/* 24节气 */
.jieqi{
	font-size: 1.125rem;
	width: 5rem;
	text-align: center;
	color:white;
	height: 32px;
	margin-top: 6px;
	line-height: 32px;
	white-space: nowrap;
	overflow: hidden;
}
.mui-bar .midArea .ward{
	width: calc(45% - 2.5rem);
	position: relative;
	left: 0;
}
.mui-bar .midArea .scrollArea{
	width: calc(55% - 2.5rem);
}