<div style="margin:0;padding:0;overflow:hidden" scroll="no">
<div class="tab-content" id="ItemViewDiv">
	<span id='img_span'>
	</span>
	<table id="gridItemView" class="table-striped table-bordered" cellspacing="0" width="100%">
	</table>
</div>
<div class="tab-content" id="ViewDetailDiv" style="border-top:0px;">
	<table id="gridViewDetail" class="table-striped table-bordered" style="" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>日期</th>
				<th>诊断依据</th>
				<th>治疗措施</th>
			</tr>
			<colgroup>
				<col width='10%'></col>
				<col width='40%'></col>
				<col width='50%'></col>
			</colgroup>
		</thead>
	</table>
</div>
</div>
