/*医保公用CSS样式*/
body {
  background-color: #FFFFFF;
}
.tdspace {
  padding-right: 8px;
}
.search-table {
border-collapse: separate;
  border-spacing: 0 10px;
}
 .r-label{
   padding-right:10px;
 }
.td-first-col {
  width:57px;
  padding-left:10px
}
.panel-body{
  border-color:#CCCCCC;
}
.layout-body{
  border-width:0px;
}	

#coninfopanel .panel-body{
  border-radius:0px 0px 4px 4px!important;
}
.solid-width .panel-body-noheader{
  border-top-width:0px;
}
