#DiagForm
    {
        min-width: 280px;
        /*  border-collapse 设置表格的边框是否被合并为一个单一的边框，还是象在标准的HTML中分开显示。 */
        border-collapse: collapse;
        /*border: 1px solid #bbbbbb;*/
    }
    #DiagForm tr{
        height: 35px;
    }
    /* 单元格边框 */
    #DiagForm td, th
    {
        border:1px solid #bbbbbb;
    }
    .td_label{
        text-align: center;
        font-weight: bold;
        min-width:50px;
    }
    .hidecls{
        display:none;
    }
