.background-warp{
	background:	#F5F5F5;  /* #F5F5F5 */
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:46px;
	/* padding:0px 20px; */
	background:	#F5F5F5;
	overflow:auto;
}
.tabform{
	
}
.tabtools{
	text-align: right;padding-top:10px;text-align:center
}

.title{
	font-weight:bold;
	height:60px;
	font-size:26px;
	text-align:center;
	line-height:60px;
}
.list-title{
	width: 180px;
	height:30px;
	line-height:30px;
	font-weight: bold;
    color: #000;
    font-size: 13px;
    border-bottom: 2px solid #40a2de;
}
.list-item{
	position:relative;
	padding:5px 20px;
	min-height:30px;
	margin-top:5px;
}
.itemClass{
	margin-right:30px;
	height:30px;
}
.list-panel{
	min-height:100px;
	margin-bottom:5px;
	background:	#FFF;
	padding-left:10px;
	border-bottom:1px solid #ccc;
}
.sort-x{
	float:left;
}
.list-ul{
	overflow:hidden;
	margin:0;
	padding:0;
}
.list-ul-item{
	line-height:36px;
	margin-right:20px;
	list-style-type:none;
}
.list-ul-item:hover{
	background:#f9f2f4;
}
label{
	margin-left:10px;
	margin-right:10px;
}
.list-ul-item .item{
	margin-left:10px;
}
.draggable{
	position:absolute;
	top:0px;
	left:0px;
}
.page-foot{
	position:fixed;
	left:10px;
	right:10px;
	bottom:0px;
	height:45px;
	line-height:45px;
	background:#FFF;
}
.page-foot label{
	text-align:center;
}
.itemClass span{
	margin-right:8px;
}
.item-score{
	color:red;
	display:none;
	margin:0px 3px;
}
/*页面表格样式*/
.form-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.form-table td{margin:0;padding:0;}
.form-table td{
	border:1px solid #95B8E7;
	padding:5px 3px;
	font-size: 14px;
	min-height:40px;
}
.item_par{
	text-indent: 35px;
    line-height: 30px;
    margin: 5px 10px;
    padding: 5px;
}