.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:relative;
	margin:10px;
	min-height:500px;
	background:#FFF;
	border:1px solid #ccc;
}
.form{
	min-height:200px;
}
.list-panel{
	position:relative;
	margin-bottom:10px;
	min-height:120px;
	background:#FFF;
	border:1px solid #ccc;
}
.list-panel:hover{
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
	border:1px solid green;	
}
.list-title{
	position:relative;
	background:#f9f9fa;
	height:34px;
	border-bottom:1px solid #ccc;
	padding-left:30px;
}
.list-title label{
	position:absolute;
	top:9px;
	left:30px;
	font-weight:bold;
}
.list-item{
	position:relative;
	padding:5px 0px;
	min-height:30px;
}
.title{
	height:50px;
	font-size:20px;
	text-align:center;
	line-height:50px;
	border:1px dashed #ccc;
}
.itemClass{
	margin-right:30px;
	height:35px;
	line-height:35px;
}
.questiongrp{
	padding-left:10px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.sort-x{
	float:left;
}
.select{
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
	border:1px solid green;	
}
.select-li{
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
	border:1px solid green !important;	
}
.propdiv{
	line-height:30px;
	margin-top:10px;
}
.list-ul{
	overflow:hidden;
	margin:0;
	padding:0;
}
.list-ul-item{
	padding:3px 10px 3px 10px;
	line-height:30px;
	list-style-type:none;
	border:1px solid #FFF;		
}
label{
	margin-left:10px;
	margin-right:10px;
}
.draggable{
	position:absolute;
	top:0px;
	left:0px;
}
.itemClass span{
	margin-right:8px;
}
.item-score{
	color:red;
	margin:0px 3px;
}

/*页面表格样式*/
.form-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.form-table td{margin:0;padding:0;}
.form-table td{
	border:1px solid #95B8E7;
	padding:5px 3px;
	font-size: 14px;
	height:30px;
}
.tb-select{
	background:#F5DEB3;
}
.label-edit{
	cursor:pointer;
}
.tb-select-tr{
	border:2px solid green !important;	
}
.item_par{
	text-indent: 35px;
    line-height: 30px;
    margin: 5px 10px;
    padding: 5px;
}
.tools a{
	padding:5px 30px;
	border:1px solid #ccc;
	margin-right:10px;
}