.my-interface div.hisui-panel.panel-body {
	width:auto !important;		
}

/*
   for debug
  table, th, td
  {
  border: 1px solid blue;
  }
  */
/*
.my-interface .formPanel>div{
	margin:5px 0;
	
}

.my-interface .formPanel>div>span{
	display:block;
}

.my-interface .formPanel>div>span>label{
	display:inline-block;
	width:36%;
	text-align:right;
}

.my-interface .formPanel>div>span>input{
	width:60%;
}

.my-interface div.datagrid div.right
{
	position:absolute;
	right:0px;


}
*/
.my-interface .icon{
            padding-left: 20px;
            background-position: left 0px center;
            display: inline-block;
            font-size: 12px;
        }


/*边框显示为红色，用于比较功能*/
.borderred{
	border: 1px solid red!important;
}
/*主页面框架*/
.my-interface .framegrid .datagrid
{
	/*padding:10px 10px 10px 10px;*/
	border:none;
}

/*主页面框架*/
.my-interface .framegrid table
{
	border-collapse:collapse;
}


/*form布局*/
.my-interface .formtable
{
	width:100%;	/*宽度充填整个父窗口   */
	/*调试用*/
	/*border:1px solid black;*/
	/*设置各个TD宽度固定，否则TD宽度会随着TD的子元素的宽度自动调整*/
	table-layout: fixed;	
}
/*表单label右排列*/
.my-interface .label-r
{
	text-align:right;
	padding:3px 10px 3px 0;
	width:110px;
}
/*表单元素左排列*/
.my-interface .field-text ,.field-combo
{
	text-align:left;
	/*width:100%;*/
	padding:3px 5px 3px 0;
	 
}
/*表单input元素100%充填*/
.my-interface .field-text > input
{
	width:100%;
}
/*表单HISUI的combobox元素不支持百分比宽度,所以使用PX指定宽度 */
.my-interface .combobox-element
{
	width:226px;
}

.my-interface .formPanel{
	margin:0 0 10px 0;
	padding:10px;
}
/*工具栏的label */
.my-interface .toollabel-r
{
	text-align:right;
	padding:0 10px 0 0;
}
/*工具栏元素左排列*/
.my-interface .tool-text
{
	text-align:left;
	padding:0 15px 0 0;	
}
.my-interface .tool-text > input
{
	width:90px;	
}


/*
.my-interface .tooltable, .tooltable th, .tooltable td
  {
  border: 1px solid blue;
  }
*/
  
  
  
 /*风格不能重写，先记下    */ 
.my-interface .my-dialog
{
	width:800px;
	height:500px;
	padding:5px 10px;
	top:20px;
	left:200px;
}

/*工具栏中的form及内部的table.如果不重新设置，那么padding是2px;		*/
.my-interface .toolform table td{
    margin: 0;
    padding: 1px 0;
}
/*工具栏label右排列*/
.my-interface .toollabel
{
	text-align:right;
	padding:1px 10px 1px 0;
	width:70px;
}
/*工具栏元素左排列*/
.my-interface .toolfield 
{
	text-align:left;
	padding:1px 10px 1px 0;
} 
