/**
 * Ò©·¿HISUI - ¼«¼ò°æ¼æÈÝ
 * Huxt 2022-10-15
 * pharmacy/common/css/dhcpha.hisui.lite.css
 */
.panel-title.panel-with-icon {
    padding-left: 6px;
}
/*
.layout-split-north {
    border-color: #ffffff;
}
.layout-split-south {
    border-color: #ffffff;
}
.layout-split-east {
    border-color: #ffffff;
}
*/
.lookup {
	height: 28px;
}
.datagrid-toolbar {
    padding: 1px;
}
.pha-dialog-padding-bottom {
    padding-bottom: 12px;
}
