@charset "utf-8";

/*
	Description:pharmacy common style;
	CreateDate:20160810;
*/

body {
    font-family: "Microsoft Yahei";
    padding: 0px;
}

body INPUT:focus {
    background-color: #FFFFFF;
}


/*container xl start*/

.container-xl {
    @extend .container
}

@media (min-width: 1800px) {
    .container-xl {
        width: 1780px;
    }
}

@media (min-width: 1550px) and (max-width: 1799px) {
    .container-xl {
        width: 1530px;
    }
}

@media (min-width: 1300px) and (max-width: 1549px) {
    .container-xl {
        width: 1326px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 1050px) and (max-width: 1299px) {
    .container-xl {
        width: 1030px;
    }
}


/* container xl end*/


/* col start*/

.dhcpha-col {
	display: inline-block;
    padding-right: 1px;
    padding-left: 1px;
}

.dhcpha-col-left-zero {
    padding-left: 0px;
}

.dhcpha-col-right-zero {
    padding-right: 1px;
}



/* col end */


/* datetimepicker start*/

.datetimepicker thead tr th,
.datetimepicker tfoot th {
    background: #FFFFFF;
}


/* datetimepicker end*/


/* bootstrap-table start*/

.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
    background: #F4F6F5;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #D9E7F1;
}

.fixed-table-container tbody .selected td {
    background-color: #509DE1;
}


/* bootstrap-table end*/


/* form control start*/

.dhcpha-label {
    padding-top: 4px;
}

.form-control {
    border: 1px solid #2979FF;
}


/* form control end*/

.dhcpha-text-custom {
    border-radius: 0px;
    border: 1px solid #40a2de;
    padding: 1px 5px;
    height: 30px;
}


/* input start*/

.dhcpha-input-sm {
    border-radius: 0px;
    border: 1px solid #40a2de;
    padding: 1px 5px;
    height: 30px;
}


/* input end*/


/* row col border start */

.dhcpha-row-delim {
    border-bottom: 1px solid #CCCCCC;
}

.dhcpha-row-border {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dhcpha-col-right-delim {
    border-right: 1px solid #CCCCCC;
}

.dhcpha-col-left-delim {
    border-left: 1px solid #CCCCCC;
}


/* row col border end   */


/* conditiontype start */

.dhcpha-conditiontype {
    margin-top: 2px;
    margin-bottom: 5px;
}


/* conditiontype end */


/* select2 start*/

.select2-container--default .select2-selection--single {
    border: 1px solid #40a2de;
    border-radius: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background: #40A2DE;
    height: 36px;
    width: 26px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #FFFFFF transparent transparent transparent
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 30px;
    user-select: none;
    outline: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    right: 1em;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #40a2de;
    border-radius: 0px;
    cursor: text;
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 30px;
    min-height: 30px;
    user-select: none;
    outline: none;
    -webkit-user-select: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid 1px #40a2de;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #F4F6F5;
    border-radius: 1px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    padding: 0 5px;
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 3px;
    padding-left: 3px;
    color: #999;
}


/* select2 end*/


/*panel start*/

.panel>.panel-heading {
    background-color: #FFFFFF;
    padding: 5px 0px 0px 0px;
    font-size: 15px;
    border-top: 0 none !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-bottom: 1px solid #9DCFEE;
    font-weight: bold;
    height: 30px;
}


/* panel end*/


/* icheck start
.icheckbox_minimal-blue{
	border: 0.1px solid #40A2DE;	
	-webkit 
}
 icheck end*/


/* daterange start*/

.daterangepicker .calendar th,
.daterangepicker .calendar td {
    background: white;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #40a2de;
    color: white;
}

.daterangepicker td.in-range {
    background: #40a2de;
}

.daterangepicker .calendar.left,
.calendar.right {
    clear: none !important;
    border: none;
}


/* daterange end*/


/* input-group-addon start */

.input-group-addon {
    border: 1px solid #e1e5ea;
    background-color: transparent;
    border-radius: 0;
    min-width: 30px;
}


/* input-group-addon end*/


/*container start*/

.dhcpha-condition-container {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.dhcpha-containter {
    width: 100%;
    margin: 0;
    padding: 0px;
    border-bottom: 1px solid #bcbcbc;
}


/*container end*/


/*button start*/

.btn_button {
    border: 0px;
    border-radius: 0px;
}

.btn_common,
.btn_common:focus {
    color: #727272;
    background-color: transparent;
}

.btn_important,
.btn_important:focus {
    color: #16BBA2;
    background-color: transparent;
}

.btn_refuse,
.btn_refuse:focus {
    color: #FF6356;
    background-color: transparent;
}

.btn_common:hover,
.btn_refuse:hover,
.btn_important:hover,
.btn_common:hover {
    background-color: #DCEBF9;
    color: #64D9FF;
}

.dhcpha-btn-icon-common {
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 0px;
    text-align: center;
    line-height: 30px;
    float: left;
}

.dhcpha-btn-icon-normal {
    background-color: #378ec4;
    color: #fff;
}

.dhcpha-icon-btn-common {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    border: 0px;
    border-radius: 0px;
    font-family: Microsoft YaHei;
    padding-bottom: 3px;
    padding-top: 3px;
}

.dhcpha-icon-btn-normal,
.dhcpha-icon-btn-normal:focus {
    background: #40a2de;
    color: #fff;
}

.dhcpha-icon-btn-normal:hover,
.dhcpha-icon-btn-normal:active {
    background: #378ec4;
    color: #fff;
}

.dhcpha-btn-common {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    min-width: 80px;
    background: #F06D56;
    border: 0px;
    border-radius: 0px;
    color: #fff;
    font-family: Microsoft YaHei;
    padding-bottom: 3px;
    padding-top: 3px;
}

.dhcpha-btn-normal,
.dhcpha-btn-normal:focus {
    background: #40a2de;
    color: #fff;
}

.dhcpha-btn-normal:hover {
    background-color: #0063a7;
}

.dhcpha-btn-danger,
.dhcpha-btn-danger:focus {
    background: #F06D56;
    color: #fff;
}

.dhcpha-btn-danger:hover {
    background-color: #C9302C;
}

.dhcpha-btn-right {
    position: absolute;
    right: 2em;
}

.dhcpha-btn-right-sm {
    position: absolute;
    right: 0.5em;
}

.dhcpha-btn-img-color {
    color: #727272;
}

.dhcpha-btn-img-color:hover,
.dhcpha-btn-img-color:active {
    color: #40A2DE;
}

.dhcpha-btn-fa {
    color: #999999;
}

.dhcpha-btn-fa:hover {
    color: #40A2DE;
}

.dhcpha-btn-fa strong {
    color: #727272;
}

.dhcpha-btn-fa:hover strong {
    color: #40A2DE;
}

default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #40A2DE;
    background-color: #d4d4d4;
    border-color: white;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #40A2DE;
    background-color: #d4d4d4;
    border-color: none;
}

.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
    outline-offset: -2px;
}

.dhcpha-btn-i {
    font-size: 30px;
}

.dhcpha-btn-image {
    width: 30px;
    height: 30px;
}

.btn-primary.visited,
.btn-primary:visited {
    background-color: #40A2DE;
    border-color: transparent;
}

.dhcpha-btn-split {
    margin-right: 20px;
}

.dhcpha-btn-split-sm {
    margin-right: 10px;
}


/*button end*/

.row_style {
    margin-top: 5px;
    margin-bottom: 5px;
}

.row-padding-left-1 {
    padding-left: 10px;
}


/*input-group start*/

.input_style {
    border-color: #40A2DE !important;
    border-radius: 0px;
    height: 30px;
    padding: 3px;
}

.span_style {
    border: 1px solid #40A2DE;
    border-left: 0px;
    border-radius: 0px;
    height: 30px;
    text-align: center;
}


/*input-group start*/

.div_content {
    margin: 10px 10px 10px 10px;
    border: 1.25px solid #DFDFDF;
    border-radius: 4px;
}

.pal_style {
    border-bottom: 2px solid #40A2DE;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}

.in_select {
    border-color: #40A2DE;
    border-radius: 0px;
    padding: 3px;
}

.btn-group_button {
    border-radius: 0px;
    border-color: #40A2DE;
    background-color: #40A2DE;
}

.btn-group_button1 {
    border-radius: 0px;
    border-color: #40A2DE;
    background-color: #378EC4;
}

.input-group-addon {
    border-radius: 0px;
    border: 1px solid #40A2DE;
    background-color: #40A2DE;
}

.dhcpha-input-group-addon-in {
    background-color: #fff;
    border: 0px none !important;
}


/* col split start*/

.dhcpha-col-split {
    border: 1px solid #CFCFCF;
    height: 27px;
    margin-left: 10px;
    margin-right: 10px
}

.dhcpha-col-border-left {
    border-left: 1px solid #CFCFCF;
}


/* col split end*/


/* row split start*/

.dhcpha-row-split {
    width: 100%;
    margin: 5px 0px 5px 10px;
    width: 98%;
    border-bottom: 1px solid #cccccc;
}

.dhcpha-row-split-all {
    width: 100%;
    margin: 0px 0px 0px 0px;
    border-bottom: 1px solid #cccccc;
}


/* row split end*/

.modal_body_style {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.tab_style {
    width: 100%;
    border: 1px solid #40A2DE;
    border-top: 0px;
}

.tab_style_bottom {
    border-bottom-color: transparent;
}

.nav_tabs_style {
    border-top: 1px solid #40A2DE;
    border-bottom: 1px solid #40A2DE;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    height: 34px;
    margin-top: 0px;
    background-color: #40A2DE;
    color: #fff;
}

.modal_header_style {
    border-radius: 5px 5px 0 0;
    padding: 10px;
    height: 40px;
    background-color: #556983;
    color: #fff;
}

.col-md_style {
    padding: 20px 2px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: 0px;
    border-bottom-color: transparent;
    border-top: 3px solid #0063A7;
}

.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
    background-color: #40A2DE;
    color: #fff;
    border: 0px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 6px 15px;
}


/* bootbox start*/

.bootbox .modal-dialog .modal-content .modal-header {
    min-height: 16.43px;
    padding: 5px;
    border-bottom: 1px solid rgb(229, 229, 229);
    color: #fff;
}

.bootbox .modal-dialog .modal-content .modal-header .modal-title {
    background: #556983;
    font-size: small;
}

.bootbox .modal-dialog .modal-content .modal-header {
    background: #556983;
}

.bootbox .modal-dialog .modal-content .modal-footer {
    padding: 10px;
    text-align: center;
    border: none;
}


/* bootbox end*/


/* tab content border start*/

.dhcpha-tab-content {
    border: 1px solid #40A2DE;
    border-top: 0px solid #40A2DE;
    margin-left: 10px;
    margin-right: 10px;
}

.dhcpha-tab-content-sm {
    border: 1px solid #40A2DE;
    border-top: 0px solid #40A2DE;
    margin-left: 10px;
    margin-right: 0px;
}

a:focus {
    outline: none;
}


/* tab content border end*/


/* dhcpha dispwindow div start*/

.dhcpha-window-right {
    padding: 15px;
    float: right;
    border-left: 1px solid #CFCFCF;
}


/* dhcpha dispwindow div end*/


/* cardtype start*/

.dhcpha-cardtype-icon-common {
    width: 30px;
    height: 30px;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    text-align: center;
    line-height: 30px;
    float: left;
}

.dhcpha-cardtype-button-common {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    width: 200px;
    color: #fff;
    border: 0px;
    border-radius: 0px;
    font-family: Microsoft YaHei;
    padding-bottom: 3px;
    padding-top: 3px;
}

.dhcpha-cardtype-icon-primary {
    background-color: #D35757;
}

.dhcpha-cardtype-button-primary {
    background: #FF7373;
}

.dhcpha-cardtype-icon-normal {
    background-color: #378ec4;
}

.dhcpha-cardtype-button-normal {
    background: #40a2de;
}


/* cardtype end*/


/* record stat start*/

.dhcpha-record-disped {
    background-color: #63D8FF;
    color: black;
}

.dhcpha-record-pyed {
    background-color: #BEEEFF;
    color: black;
}

.dhcpha-record-printed {
    background-color: #FBEC88;
    color: black;
}

.dhcpha-record-nostock {
    background-color: #80F0C0;
    color: black;
}

.dhcpha-record-arrearage {
    background-color: #FFC0C0;
    color: black;
}

.dhcpha-record-arcimstop {
    background-color: #00BFFF;
    color: black;
}

.dhcpha-record-ordstop {
    background-color: #F88E8B;
    color: black;
}

.dhcpha-record-passed {
    background-color: #03ceb4;
    color: black;
}

.dhcpha-record-refused {
    background-color: #ee4f38;
    color: black;
}

.dhcpha-record-appeal {
    background-color: #f1c516;
    color: black;
}

.dhcpha-record-owefee {
    background-color: #fec0c0;
    color: black;
}
.dhcpha-record-reaccept {
    background-color: #FFB5C5;
    color: black;
}

/* record stat end */


/* fa start*/

.fa-calendar:before {
    color: #40a2de;
}

.fa-th-list:before {
    color: #40a2de;
}


/* fa end  */

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: none;
}

#jqGridPager_center{
   display:none!important;	
}

.pha-row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pha-col {
    display: inline-block;
    padding-left: 10px;
    margin-left:-4px; 
}
.pha-col-first {
    display: inline-block;
    padding-left: 10px;
    
}
.pha-grid {
    margin-top: 2px;
    margin-bottom: 2px;
}

.pha_text {
    border-radius: 2px;
}