/**
 * 药房HISUI
 * pharmacy/common/css/dhcpha.hisui.css
 */

/* layout css start*/
.dhcpha-hisui-container {
    padding: 10px;
    border: none;
}

.dhcpha-hisui-border {
    border: 1px #cccccc solid;
}

.layout-split-north {
    border-bottom-width: 10px;
}

.layout-split-west {
    border-right-width: 10px;
}

.layout-split-south {
    border-top-width: 10px;
}

.layout-split-east {
    border-left-width: 10px;
}

.dhcpha-north-tbl td {
    text-align: right;
    padding-left: 10px;
}

.dhcpha-north-tbl tr {
    height: 38.5px;
}

.dhcpha-north-tbl {
    padding-top: 5px;
    padding-bottom: 5px;
    border-spacing: 0px;
}

.pha-con-table{
    border-collapse: separate;
    border-spacing: 0 10px;
}
.pha-con-table>tbody>tr>td{
    text-align:left;
    padding-left:10px;
}
.pha-con-table .r-label{
    text-align:right;
    padding-right:0;
    padding-left:10px;
}
.dhcpha-north-r1 {
    height: 95px;
}

.dhcpha-north-r2 {
    height: 134px;
}

.dhcpha-north-r3 {
    height: 171px;
}

.dhcpha-north-r4 {
    height: 219px;
}

.tabs-gray .tabs-header {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.tabs-gray .tabs-panels {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.panel.lookup-p>.panel-header,
.panel.combo-p>.panel-header,
.panel.window>.panel-header,
.layout>.panel>.panel-header,
.accordion>.panel>.panel-header,
.tabs-panels>.panel>.panel-header {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.panel.lookup-p>.panel-body,
.panel.combo-p>.panel-body,
.panel.window>.panel-body,
.layout>.panel>.panel-body,
.accordion>.panel>.panel-body,
.tabs-panels>.panel>.panel-body {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-panels {
    border-radius: 0px 0px 4px 4px;
}

.datagrid-wrap.panel-body.panel-body-noheader.panel-body-noborder {
    border-radius: 0px;
}

.panel-icon {
    left: 10px;
}


.dialog-button {
    text-align: center;
}

/* layout css end*/


/* date start*/
.dhcpha-date {
    width: 120px;
}
/* date end*/


/* input start*/
.validatebox-text {
    width: 147px;
    border-radius: 2px;
}

:-webkit-input-placeholder {
    color: gray;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: gray;
}

/* input end*/


/* 滚动条 start*/
.mCSB_inside>.mCSB_container {
    margin-right: 0px;
}

.mCS-inset-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-inset-3-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #CCCEDB;
}

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
    border-color: transparent;
}
/* 滚动条 end*/


.pivas_tml_title {
    font-size: 14px;
    font-weight: bold;
    font-family: '微软雅黑';
    line-height: 2em;
    color: white;
}

.pivas_tml_content {
    font-size: 13px;
    font-family: '微软雅黑';
    color: gray;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.dhcpha-fa {
    margin-top: 6px;
    font-size: 18px;
    color: #009688!important;
}

.oeori-sign-c {
    width: 0px;
    height: 33px;
    border-left: 3px solid #563d7c;
    position: relative;
    left: 5px;
}

.oeori-sign-t {
    width: 7px;
    height: 33px;
    border-left: 3px solid #563d7c;
    border-top: 3px solid #563d7c;
    border-radius: 5px 0px 0px 5px;
    position: relative;
    left: 5px;
    top: 15px;
}

.oeori-sign-b {
    width: 7px;
    height: 33px;
    border-left: 3px solid #563d7c;
    border-bottom: 3px solid #563d7c;
    border-radius: 0px 5px 0px 5px;
    position: relative;
    left: 5px;
    bottom: 15px;
}


/* progress start*/
.progressbar-value .progressbar-text {
    background-color: #556983;
    color: black;
}
/* progress end*/


/* image start */
.icon-panel-setting {
    background: url(../image/setting.png) no-repeat center center;
}

.icon-panel-drug-mol {
    background: url(../image/panel-drug-mol.png) no-repeat center center;
}

.icon-panel-drug {
    background: url(../image/panel-drug.png) no-repeat center center;
}

.icon-panel-fx {
    background: url(../image/panel-fx.png) no-repeat center center;
}

.icon-panel-pivas-drug {
    background: url(../image/panel-pivas-drug.png) no-repeat center center;
}

.icon-panel-oeaudit {
    background: url(../image/panel-oeaudit.png) no-repeat center center;
}

.icon-panel-work {
    background: url(../image/panel-work.png) no-repeat center center;
}

.icon-panel-work-fx {
    background: url(../image/panel-work-fx.png) no-repeat center center;
}

.icon-panel-bat-update {
    background: url(../image/panel-bat-update.png) no-repeat center center;
}

.icon-panel-label-stop {
    background: url(../image/panel-label-stop.png) no-repeat center center;
}

.icon-panel-arrange {
    background: url(../image/panel-arrange.png) no-repeat center center;
}

.icon-panel-common {
    background: url(../image/panel-common.png) no-repeat center center;
}

.icon-panel-common-query {
    background: url(../image/panel-common-query.png) no-repeat center center;
}

.icon-panel-pivas-query {
    background: url(../image/panel-pivas-query.png) no-repeat center center;
}

.icon-panel-pat {
    background: url(../image/panel-pat.png) no-repeat center center;
}

.icon-panel-label {
    background: url(../image/panel-label.png) no-repeat center center;
}

.icon-panel-print-record {
    background: url(../image/panel-print-record.png) no-repeat center center;
}

.icon-panel-pivas-execute {
    background: url(../image/panel-pivas-execute.png) no-repeat center center;
}

.icon-panel-pivas-refuse {
    background: url(../image/btn-pivas-refuse.png) no-repeat center center;
}

.icon-panel-ward {
    background: url(../image/panel-ward.png) no-repeat center center;
}

.icon-panel-orderlink {
    background: url(../image/panel-orderlink.png) no-repeat center center;
}

.icon-panel-orderlink-fx {
    background: url(../image/panel-orderlink-fx.png) no-repeat center center;
}

.icon-panel-orderlink-arc {
    background: url(../image/panel-orderlink-arc.png) no-repeat center center;
}

.icon-btn-ordpass {
    background: url(../image/btn-ordpass.png) no-repeat center center;
}

.icon-btn-ordrefuse {
    background: url(../image/btn-ordrefuse.png) no-repeat center center;
}

.icon-btn-ordcancel {
    background: url(../image/btn-ordcancel.png) no-repeat center center;
}

.icon-btn-pass {
    background: url(../image/btn-pass.png) no-repeat center center;
}

.icon-btn-pass-tip {
    background: url(../image/btn-pass-tip.png) no-repeat center center;
}

.icon-btn-medsee {
    background: url(../image/btn-medsee.png) no-repeat center center;
}

.icon-btn-record {
    background: url(../image/btn-record.png) no-repeat center center;
}

.icon-btn-pack {
    background: url(../image/btn-pack.png) no-repeat center center;
}

.icon-btn-pack-cancel {
    background: url(../image/btn-pack-cancel.png) no-repeat center center;
}

.icon-btn-print-stop {
    background: url(../image/btn-print-stop.png) no-repeat center center;
}

.icon-btn-print-tpn {
    background: url(../image/btn-print-tpn.png) no-repeat center center;
}

.icon-btn-reprint {
    background: url(../image/btn-reprint.png) no-repeat center center;
}

.icon-btn-pivas-refuse {
    background: url(../image/btn-pivas-refuse.png) no-repeat center center;
}

.icon-btn-pivas-refuse-cancel {
    background: url(../image/btn-pivas-refuse-cancel.png) no-repeat center center;
}

.icon-btn-execute {
    background: url(../image/btn-execute.png) no-repeat center center;
}
/* image end*/



/* timeline start*/
.dhcpha-tm-containter {
    width: 100%;
    height: 100px;
    text-align: center
}

.dhcpha-tm-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    left: 45%;
}

.dhcpha-tm-tri {
    width: 0px;
    height: 0px;
    border: solid transparent 5px;
    position: relative;
    left: 45%;
    top: -1px;
}

.dhcpha-tm-bg {
    background: url(../image/grid.png);
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.dhcpha-tm-lr {
    float: left;
    background-color: #00A3DD;
}

.dhcpha-tm-lr a {
    width: 20px;
    text-align: center;
    line-height: 120px;
}

.dhcpha-tm-lr-l a,
.dhcpha-tm-lr-l a:hover {
    background: url(../image/btn-arrow-left.png) no-repeat center center;
}

.dhcpha-tm-lr-r a,
.dhcpha-tm-lr-r a:hover {
    background: url(../image/btn-arrow-right.png) no-repeat center center;
}

.dhcpha-tm-body {
    float: left;
    width: 1000px;
    height: 100px;
    text-align: left;
    overflow: hidden;
    background: url(../image/grid.png);
    padding: 10px 0px;
}

.dhcpha-tm-line {
    position: relative;
    top: 36px;
    width: 100%;
    border-bottom: 1.5px solid #cccccc;
}

.dhcpha-tm-body ul {
    overflow: auto;
    width: 3000px;
    position: relative;
    left: 25px;
}

.dhcpha-tm-body ul li {
    float: left;
    width: 150px;
    list-style: none;
}

.dhcpha-tm-body ul li>div {
    width: 100px
}

.dhcpha-tm-bus>div:nth-child(1) {
    height: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.dhcpha-tm-bus>div:nth-child(4) {
    width: 100px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.dhcpha-tm-bus>div:nth-child(4) div {
    font-size: 12px;
}

.dhcpha-tm-bus-kd>div:nth-child(1),
.dhcpha-tm-bus-kd .dhcpha-tm-circle {
    color: white;
    background: #ee4f38;
}

.dhcpha-tm-bus-kd .dhcpha-tm-tri {
    border-top-color: #ee4f38;
}

.dhcpha-tm-bus-kd>div:nth-child(4) div {
    color: #ee4f38;
}

.dhcpha-tm-bus-pw>div:nth-child(1),
.dhcpha-tm-bus-pw .dhcpha-tm-circle {
    color: white;
    background: #f58800;
}

.dhcpha-tm-bus-pw>div:nth-child(4) div {
    color: #f58800;
}

.dhcpha-tm-bus-pw .dhcpha-tm-tri {
    border-top-color: #f58800;
}

.dhcpha-tm-bus-default>div:nth-child(1),
.dhcpha-tm-bus-default .dhcpha-tm-circle {
    color: white;
    background: #cccccc;
}

.dhcpha-tm-bus-default>div:nth-child(4) div {
    color: #cccccc;
}

.dhcpha-tm-bus-default .dhcpha-tm-tri {
    border-top-color: #cccccc;
}

.dhcpha-tm-bus-pp>div:nth-child(1),
.dhcpha-tm-bus-pp .dhcpha-tm-circle {
    color: white;
    background: #f1c516;
}

.dhcpha-tm-bus-pp>div:nth-child(4) div {
    color: #f1c516;
}

.dhcpha-tm-bus-pp .dhcpha-tm-tri {
    border-top-color: #f1c516;
}

.dhcpha-tm-bus-dq>div:nth-child(1),
.dhcpha-tm-bus-dq .dhcpha-tm-circle {
    color: white;
    background: #a4c703;
}

.dhcpha-tm-bus-dq>div:nth-child(4) div {
    color: #a4c703;
}

.dhcpha-tm-bus-dq .dhcpha-tm-tri {
    border-top-color: #a4c703;
}

.dhcpha-tm-bus-fq>div:nth-child(1),
.dhcpha-tm-bus-fq .dhcpha-tm-circle {
    color: white;
    background: #51b80c;
}

.dhcpha-tm-bus-fq>div:nth-child(4) div {
    color: #51b80c;
}

.dhcpha-tm-bus-fq .dhcpha-tm-tri {
    border-top-color: #51b80c;
}

.dhcpha-tm-bus-py>div:nth-child(1),
.dhcpha-tm-bus-py .dhcpha-tm-circle {
    color: white;
    background: #4b991b;
}

.dhcpha-tm-bus-py>div:nth-child(4) div {
    color: #4b991b;
}

.dhcpha-tm-bus-py .dhcpha-tm-tri {
    border-top-color: #4b991b;
}

.dhcpha-tm-bus-tq>div:nth-child(1),
.dhcpha-tm-bus-tq .dhcpha-tm-circle {
    color: white;
    background: #03ceb4;
}

.dhcpha-tm-bus-tq>div:nth-child(4) div {
    color: #03ceb4;
}

.dhcpha-tm-bus-tq .dhcpha-tm-tri {
    border-top-color: #03ceb4;
}

.dhcpha-tm-bus-hd .dhcpha-tm-tri {
    border-top-color: #10b2c8;
}

.dhcpha-tm-bus-hd>div:nth-child(1),
.dhcpha-tm-bus-hd .dhcpha-tm-circle {
    color: white;
    background: #10b2c8;
}

.dhcpha-tm-bus-hd>div:nth-child(4) div {
    color: #10b2c8;
}

.dhcpha-tm-bus-hd .dhcpha-tm-tri {
    border-top-color: #10b2c8;
}

.dhcpha-tm-bus-pz>div:nth-child(1),
.dhcpha-tm-bus-pz .dhcpha-tm-circle {
    color: white;
    background: #107cc8;
}

.dhcpha-tm-bus-pz>div:nth-child(4) div {
    color: #107cc8;
}

.dhcpha-tm-bus-pz .dhcpha-tm-tri {
    border-top-color: #107cc8;
}

.dhcpha-tm-bus-fh>div:nth-child(1),
.dhcpha-tm-bus-fh .dhcpha-tm-circle {
    color: white;
    background: #1044c8;
}

.dhcpha-tm-bus-fh>div:nth-child(4) div {
    color: #1044c8;
}

.dhcpha-tm-bus-fh .dhcpha-tm-tri {
    border-top-color: #1044c8;
}

.dhcpha-tm-bus-db>div:nth-child(1),
.dhcpha-tm-bus-db .dhcpha-tm-circle {
    color: white;
    background: #6557d3;
}

.dhcpha-tm-bus-db>div:nth-child(4) div {
    color: #6557d3;
}

.dhcpha-tm-bus-db .dhcpha-tm-tri {
    border-top-color: #6557d3;
}

.dhcpha-tm-bus-bqjs>div:nth-child(1),
.dhcpha-tm-bus-bqjs .dhcpha-tm-circle {
    color: white;
    background: #a849cb;
}

.dhcpha-tm-bus-bqjs>div:nth-child(4) div {
    color: #a849cb;
}

.dhcpha-tm-bus-bqjs .dhcpha-tm-tri {
    border-top-color: #a849cb;
}

.dhcpha-tm-bus-kssy>div:nth-child(1),
.dhcpha-tm-bus-kssy .dhcpha-tm-circle {
    color: white;
    background: #d773b0;
}

.dhcpha-tm-bus-kssy>div:nth-child(4) div {
    color: #d773b0;
}

.dhcpha-tm-bus-kssy .dhcpha-tm-tri {
    border-top-color: #d773b0;
}

.dhcpha-tm-bus-jssy>div:nth-child(1),
.dhcpha-tm-bus-jssy .dhcpha-tm-circle {
    color: white;
    background: #77656b;
}

.dhcpha-tm-bus-jssy>div:nth-child(4) div {
    color: #77656b;
}

.dhcpha-tm-bus-jssy .dhcpha-tm-tri {
    border-top-color: #77656b;
}

.dhcpha-tm-bus-hssh>div:nth-child(1),
.dhcpha-tm-bus-hssh .dhcpha-tm-circle {
    color: white;
    background: #77656b;
}

.dhcpha-tm-bus-hssh>div:nth-child(4) div {
    color: #77656b;
}

.dhcpha-tm-bus-hssh .dhcpha-tm-tri {
    border-top-color: #77656b;
}

.dhcpha-tm-bus-tzzx>div:nth-child(1),
.dhcpha-tm-bus-tzzx .dhcpha-tm-circle {
    color: white;
    background: #999999;
}

.dhcpha-tm-bus-tzzx>div:nth-child(4) div {
    color: #999999;
}

.dhcpha-tm-bus-tzzx .dhcpha-tm-tri {
    border-top-color: #999999;
}

.dhcpha-tm-bus-return>div:nth-child(1),
.dhcpha-tm-bus-return .dhcpha-tm-circle {
    color: white;
    background: #333333;
}

.dhcpha-tm-bus-return>div:nth-child(4) div {
    color: #333333;
}

.dhcpha-tm-bus-return .dhcpha-tm-tri {
    border-top-color: #333333;
}
/* timeline end*/


/* pivas panel-tool start*/
.window .window-header .panel-tool .panel-tool-min{
    display:none;    
}
/* pivas panel-tool end*/


/* 全屏加载遮罩背景 */
.dhcpha-win-mask{
    width:100%;
    height:100%;
    z-index:3;
    top:0px;
    left:0px;
    position:absolute;
    filter:alpha(opacity=100);
    opacity: 1;
    font-size:1px;
    background-color:white;
    text-align:center;
    padding-top: 20%;
}

/* UI评审样式修改. Huxt 2022-10-16 */
border-radius-4px {
    border-radius: 4px;
}

/* yunhaibao, hisui本身布局本组不做单独调整 */
/*
.window .window-header .panel-icon {
    left: 20px;
}
.window .window-header .panel-with-icon {
    padding-left: 36px;
}
.window .window-header .panel-tool {
    right: 20px;
}
*/
.pha-dialog-padding-bottom {
    padding-bottom: 12px;
}