 @charset "utf-8";
 /*
	Description:jqGrid style override;
*/
 .ui-jqgrid input:focus {
     /*background-color:yellow;*/
     border: 2px solid #509DE1;
     box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(102, 175, 233, 0.6)
 }
 /*���߿���ʽ*/
 
 .ui-state-default,
 .ui-widget-content .ui-state-default,
 .ui-widget-header .ui-state-default {
     color: #070707;
     background: #f4f6f5;
     border: 1px solid #ddd;
     font-family: Microsoft YaHei;
     font-size: 14px;
     font-weight: normal;
 }
 
 .ui-widget-content {
     color: #242424;
     border: 0 none #ddd !important;
     font-family: Microsoft YaHei;
     font-size: 14px;
     border-radius: 0px;
     background: #ffffff;
 }
 
 .ui-jqgrid tr.ui-row-ltr td {
     text-align: center;
     vertical-align: middle;
 }
 
 .ui-jqgrid tr {
     height: 34px;
 }
 
 .ui-jqgrid tr.jqgrow td {
     white-space: normal;
 }
 
 .ui-jqgrid .tabs-wrap {
     margin-left: 0px;
 }
 
 .ui-jqgrid tr.jqgrow td {
     height: 34px;
 }
 
 .ui-jqgrid select[multiple],
 select[size],
 .ui-jqgrid INPUT {
     height: 28px;
 }
 /*����*/
 
 .ui-state-hover,
 .ui-widget-content .ui-state-hover,
 .ui-widget-header .ui-state-hover,
 .ui-state-focus,
 .ui-widget-content .ui-state-focus,
 .ui-widget-header .ui-state-focus {
     font-family: Microsoft YaHei;
     background: none;
     border: 1px solid #d2eafe;
     background-color: #d2eafe;
     color: #000;
 }
 
 .ui-state-highlight,
 .ui-widget-content .ui-state-highlight,
 .ui-widget-header .ui-state-highlight {
     background: none;
     border: 1px solid #d2eafe;
     background-color: #509de1;
     color: #fff;
 }
 
 .ui-jqgrid .ui-jqgrid-htable th {
     padding: 5px 2px;
     color: black;
     background: #f4f6f5;
     border: 1px solid #ddd;
 }
 
 .ui-jqgrid td input,
 .ui-jqgrid td select .ui-jqgrid td textarea {
     margin-top: 1px;
     border-radius: 0px;
     border-color: #ff0000;
 }
 
 .ui-icon-triangle-1-s {
     background-position: -65px -16px;
 }
 
 .ui-jqgrid .ui-jqgrid-hdiv {
     position: relative;
     margin: 0;
     padding: 0;
     overflow-x: false;
     border-left: 0 none !important;
     border-top: 0 none !important;
     border-right: 0 none !important;
     border-bottom: 0 none !important;
 }
 
 .ui-jqgrid .ui-jqgrid-pager {
     border-left: 0 none !important;
     border-right: 0 none !important;
     border-bottom: 0 none !important;
     margin: 0 !important;
     padding: 0 !important;
     position: relative;
     height: 34px;
     white-space: nowrap;
     overflow: hidden;
     font-size: 11px;
 }
 /* sort icon start*/
 
 .ui-grid-ico-sort:before {
     display: inline;
     content: "\f0d7";
     font-family: FontAwesome;
     font-size: 12px;
 }
 
 .ui-jqgrid .ui-icon-asc {
     margin-top: -1px;
     height: 14px;
     color: #40A2DE;
 }
 
 .ui-jqgrid .ui-icon-desc {
     margin-top: 5px;
     height: 14px;
     color: #40A2DE;
 }
 
 .ui-icon-asc:before {
     content: "\f0d8";
 }
 
 .ui-icon-triangle-1-s {
     background-position: -65px -16px;
 }
 .ui-icon-seek-first {
	 background-image: url("/imedical/web/scripts/pharmacy/images/pagination_icons.png") !important;
 }
 .ui-icon-seek-prev { 
	 background-image: url("/imedical/web/scripts/pharmacy/images/pagination_icons.png") !important;
 }
 .ui-icon-seek-next { 
	 background-image: url("/imedical/web/scripts/pharmacy/images/pagination_icons.png") !important;
 }
 .ui-icon-seek-end { 
	 background-image: url("/imedical/web/scripts/pharmacy/images/pagination_icons.png")  !important;
 }
 .ui-icon-refresh { 
	 background-image: url("/imedical/web/scripts/pharmacy/images/pagination_icons.png")  !important;
 }
 /* sort icon end*/
 /* pager toolbar start*/
 
 .glyphicon-remove:before {
     content: "\e014";
     color: #fff;
 }
 /* pager toolbar end*/
 
 .ui-pg-table .ui-state-disabled,
 .ui-pg-table .ui-widget-content .ui-state-disabled,
 .ui-pg-table .ui-widget-header .ui-state-disabled {
     opacity: 0.35;
     filter: Alpha(Opacity=95);
     background-image: none;
 }
 /* jqGrid pager start*/
 
 .ui-jqgrid .ui-pg-table {
     position: relative;
     padding-bottom: 2px;
     width: auto;
     margin: 0;
     float: left;
 }
 
 .ui-jqgrid .ui-pg-table td {
     font-weight: normal;
     vertical-align: middle;
     padding: 1px;
     background: #ffffff;
 }
 
 .ui-jqgrid .ui-pg-button span {
     display: block;
     margin: 5px;
     float: left;
 }
 
 .ui-jqgrid .ui-pg-input {
     font-size: 14px;
     font-family: Microsoft YaHei;
     text-align: center;
     border: 1px solid #40a2de;
     height: 20px;
     margin-left: 4px;
 }
 
 .ui-jqgrid .ui-pg-selbox {
     font-family: Microsoft YaHei;
     font-size: 14px;
     text-align: center;
     line-height: 19px;
     display: block;
     height: 20px;
     margin-left: 6px;
     border: 1px solid #40a2de;
 }
 
 .ui-jqgrid .ui-paging-info {
     font-weight: normal;
     height: 20px;
     margin-right: 4px;
     margin-bottom: 5px;
 }
 
 
 /*jqGrid pager end*/
 
 .ui-jqgrid .ui-jqgrid-htable th div {
     position: relative;
     height: 1.2em;
     overflow: hidden;
 }
 
 .ui-jqgrid input[type=checkbox] {
     height: auto;
 }