 
@charset "utf-8";
/*
	Description:jqGrid style override;
*/
.ui-jqgrid input:focus {
  /*background-color:yellow;*/
  border: 2px solid #509DE1;
  box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6)
}
/*���߿���ʽ*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
   color: black;
   background: #ededed;
   border: 1px solid #ddd;
 }
 .ui-widget-content{
    border: 1px solid #ddd;
 }
 .ui-jqgrid tr{
    height: 35px;
 }
 .ui-jqgrid tr.jqgrow td {
   white-space: normal;
}
.ui-jqgrid .tabs-wrap{
    margin-left: 0px;
 }
.ui-jqgrid tr.jqgrow td{
  height: 40px;
}
.ui-jqgrid select[multiple], select[size],.ui-jqgrid INPUT{
  height: 28px;
}
/*����*/
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  background: none;
  border: 1px solid #d2eafe;
  background-color: #d2eafe;
  color: #000;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
  background: none;
  border: 1px solid #d2eafe;
  background-color: #509de1;
  color: #fff;
}
.ui-jqgrid .ui-jqgrid-htable th{
   padding: 5px 2px;
   color: black;
   background: #f4f6f5;
   border: 1px solid #ddd;
}
.ui-jqgrid td input, .ui-jqgrid td select .ui-jqgrid td textarea { 
	margin-top:10px;
}

/* sort icon start*/
.ui-grid-ico-sort:before {
	display: inline;
	content: "\f0d7";
	font-family: FontAwesome;
	font-size: 12px
}

.ui-icon-asc:before {
	content: "\f0d8"
}
.ui-icon-triangle-1-s {
   background-position: -65px -16px;
}

/* sort icon end*/
/* pager toolbar start*/
.ui-state-default .ui-icon {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    /* Allow icon to grow according to font-size */
    height: auto;
    width: auto;
    /* Remove the jquery ui icon */
    background: none;
    /* Remove the jquery ui text indent */
    text-indent: 0; 
}
.ui-icon-seek-next, .ui-icon-seek-prev, .ui-icon-seek-end, .ui-icon-seek-first
{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

}
.ui-icon-seek-next:before
{
    content: "\f0da";
    font-size: 140%;
    color: #40a2de;
}
.ui-icon-seek-prev:before
{
    content: "\f0d9";
    font-size: 140%;
    color: #40a2de;
}
.ui-icon-seek-end:before
{
    content: "\f051";
    color: #40a2de;
}
.ui-icon-seek-first:before
{
    content: "\f048";
    color: #40a2de;
}
/* pager toolbar end*/

/* bigger start*/
.bigger-140 {
	font-size: 140%
}
/* bigger end*/

body {
scrollbar-arrow-color: #afcede; /*图6,三角箭头的颜色*/
scrollbar-face-color:#afcede; /*图5,立体滚动条的颜色*/
scrollbar-3dlight-color: #afcede; /*图1,立体滚动条亮边的颜

色*/
scrollbar-highlight-color: #afcede; /*图2,滚动条空白部分的

颜色*/
scrollbar-shadow-color: #afcede; /*图3,立体滚动条阴影的颜

色*/
scrollbar-darkshadow-color: #666; /*图4,立体滚动条强阴

影的颜色*/
scrollbar-track-color: #eef5f8; /*图7,立体滚动条背景颜色*/

scrollbar-base-color:#afcede; /*滚动条的基本颜色*/
Cursor:url(mouse.cur); /*自定义个性鼠标*/
}
.ui-widget-header{
	border: 1px solid blue;
    background: #ffffff;
    color: black;
    font-weight: bold;
    height: 30px;
}