.sickbed .patientBody{
	padding:5px 0px 0px 5px;
    height: 135px;
    background-color:#FFF;
}
.modal_header_style{
	border-radius:5px 5px 0 0;
	padding:10px;
	height:40px;
	background:#556983;
	color:#fff;
}
.input_style{
    border-color:#40A2DE;
	border-radius:0px;
	height: 30px;
	padding: 3px;
}
.input-group-addon {
    border-radius: 0px; 
    border:1px solid #40A2DE;
    background-color: #40A2DE;
}
.dhcpha-input-group-addon-in{
    background-color:#fff;
	border:0px none !important;
}
.btn_ok{
	width:100px;
	height:35px;
	border-color:#40A2DE;
	border-radius:0px;
	background:#40A2DE;
	color:#fff;
}
.btn_undo{
	width:100px;
	height:35px;
	border-color:#40A2DE;
	border-radius:0px;
	background:#fff;
	color:#40A2DE;
}

.sickbed-selected{
	overflow:hidden;
    top:2px;
    left:1px;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin: 3px;
    float:left;  
    display:inline;  
	border:1px dotted red;
   	box-shadow: 2px 2px 5px #226;
   	border-radius:5px;
   	position:relative;
}

/*病区的CSS设置*/
.sickbed{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin: 3px;
    background-color:#77AAFF;
    float:left;  
    display:inline;  
   	position:relative;
   	box-shadow: 2px 2px 4px #ececec;
    border-radius: 5px;
    border: 1px solid #ccc; 	
}

/*病区的CSS设置*/
.sickbed:hover {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin: 3px;
    float:left;  
    display:inline;  
   	box-shadow: 2px 2px 5px #226;
   	border-radius:5px;
   	position:relative;
   	
}

/*模态框*/
#modal-windowinreqlist .modal-dialog{
	width: 80%;
    border-radius: 6px;	
}
#modal-windowinreqlist .modal-content{
	border-radius: 6px;
}
#modal-windowinreqlist .modal-content .modal-header{
	background-color:#556983;
	height:60px;
	border-radius: 4px 4px 0px 0px;
}
#modal-windowinreqlist .modal-content .modal-header h4{
	color:#ffffff;
	line-height:10px;
	font-weight:normal;
	background-color:#556983;
	font-size: 34px;
}

#modal-windowinreqlist .modal-content .modal-header span{
	color:#ffffff;
	line-height:10px;
	font-weight:normal;
	background-color:#556983;
	font-size: 34px;
}

#modal-windowinreqlist .modal-content .modal-footer{
	text-align:center;
	border:0;
	margin:450px auto 5px auto;	
}	
#modal-windowinreqlist .modal-content .modal-footer button{
	background-color:#40a2de;
	font-size:20px;
	width: 120px;
    border: 10px;
    height: 40px;
    color: #fff;
    margin-left: 150px;
    margin-right: 150px;
}

#modal-windowinreqlist .modal-content .modal-body button{
	background-color:#40a2de;
	font-size:20px;
	width: 120px;
    border: 10px;
    height: 40px;
    color: #fff;
}

#modal-getinphreqitem .modal-dialog .modal-content .modal-footer button{
	background-color:#40a2de;
	font-size:36px;
	width: 160px;
    border: 10px;
    height: 55px;
    color: #fff;
}

.checkboxpadding	{
	padding-left:20px;
}

.divb{
	border-radius:5px; 
   	position:relative;
	height: 400px;
	weight:100px;
	border:1px solid #D8D8D8;
}
.col-offset1{
	width:25%;
    float:left;  
	padding-left: 0px;
	padding-right: 0px;
}
.panel-heading{
	padding-left:50px;
	margin:0 auto;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}