
/*门诊大图标界面的body*/
.pha-op-body-big {
    padding: 10px;
}
.pha-op-win-body{
    padding: 10px;
}
.panel-body-noheader {
    border-color: #cccccc;
}

.op-ord-grp-row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 12px;
}

.op-ord-grp-row:last-child {
    padding-bottom: 0px;
}
.op-ord-grp-row:first-child {
    padding-top: 0px;
}
.op-single-sign {
    float: left;
    display: none;
}
.op-ord-sign {
    float: left;
    margin-top: 6px;
    border: 3px solid #cccccc;
    border-right: 0;
    width: 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.op-ord-sign:hover {
    cursor: pointer;
}
.op-ord-sign-more {
    position: relative;
    top: 7px;
    left: 2px;
    border-left: 3px dotted #cccccc;
}

/* ST 单元格背景色, 全局应一致且唯一 ST */
.op-grid-cell-ret {
    color: #fff;
    background-color: #f1c516;
}
/* ED 单元格背景色, 全局应一致且唯一 ED */


/* 门诊特殊处理 日期、文本框的宽度*/
.validatebox-text {
    width: 120px;
}
input.validatebox-text {
    width: 120px;
}
.hisui-datebox {
    width: 125px;
}
/* 门诊 时间*/
input.timespinner-f{
    width: 100px;
}


/*查询条件以及左右分栏*/
.pha-op-window-right {
    height:100%;
    margin-left:10px;
    margin-right:10px;
    display: inline-block;
    float: right;
    border-left: 1px solid #cfcfcf;
}

.pha-op-window-left {
    display: inline-block;
    float: left;
    margin-bottom:10px;
}

.pha-op-table-right{
    /*line-height:30px*/
}
/*表格分组*/

.datagrid-group{
    height:35px;
}
.datagrid-group-title, .datagrid-group-expander {
    line-height: 35px;
}
.datagrid-group-title {
    width: 100%;
}
/*分组内信息的格式*/
.pha-op-grid-grpviewbase div {
    padding-left: 10px;

}
.pha-op-grid-grpviewpresc div,
.pha-op-grid-grpviewpat div,
.pha-op-grid-grpvieword div {
    float: left;
    padding-left: 10px;
    font-weight: bold;
}

.pha-op-grid-grpviewpat {
    padding-left: 30px;
    width: 400px;
}

.pha-op-grid-grpvieword {
    width: 250px;
    color: #13B694;
}

.pha-op-grid-grpviewpresc {
    width: 300px;
    color: #0D82AA;
}


.pha-op-grid-link {
    color:#017bce;   
}
/*处方发药状态颜色*/
.pha-op-grid-py{
    background-color: #339EFF;
    color: white;
}
.pha-op-grid-fy{
    background-color: #0863C2;
    color: white;
}
.pha-op-grid-printed {
    background-color: #00CAF3;
    color: white;
}
/*处方明细状态颜色*/
.pha-op-grid-nostock{
    background-color: #A863F8;
    color: white;
}
.pha-op-grid-ordstop{
    background-color: #F68300;
    color: black;
}
/*医嘱项停止*/
.pha-op-grid-arcimstop {
    background-color: #FFB300;
    color: white;
}
.pha-op-grid-arrearage {
    background-color: #ffc0c0;
    color: white;
}
/*审核*/
.pha-op-grid-passed {
    background-color: #47CE27;
    color: white;
}

.pha-op-grid-refused {
    background-color: #FF3D3D;
    color: white;
}

.pha-op-grid-appeal {
    background-color: #00CAF3;
    color: white;
}
.pha-op-grid-reaccept {
    background-color: #FF9898;
    color: white;
}
/*欠费*/
.pha-op-grid-owefee {
    background-color: #FF9898;
    color: white;
}
/* 叫号等*/
.pha-op-grid-skip{
    background-color:#BEBEBE;
    color: black;
}
.pha-op-grid-call{
    background-color:#FAEBD7;
    color: black;
}
.pha-op-grid-unqueue{
    background-color:#FFFACD;
    color: black;
}
/*不同患者、或不同处方状态颜色*/
.pha-op-grid-dif{
    background:#66ffcc
}
/*毒麻警示*/
.pha-op-grid-warn{
    color:#FF6356,
    font-weight: bold
}
/*按钮宽度*/
.pha-op-btn-word4  {
    min-width: 76px;
}

/*查询条件高度*/
.pha-op-header-one  {
    height: 98px;
}
/*查询条件高度*/
.pha-op-header-two  {
    height: 138px;
}
.pha-op-header-three{
    height: 178px;
}
/*查询条件高度*/
.pha-op-header-big-one  {
    height: 121px;
}
/*查询条件高度*/
.pha-op-header-big-two  {
    height: 161px;
}


