body *{
	font-size:30px;
}
.pha-north{
	height:200px;
}
.logo_company,.logo_hosp{
	position:absolute;
	height:70px;
	top:10px;
	z-index:999;
}
.logo_company{
	width:300px;
}
.pha_patinfo_img{
	position:absolute;
	width:180px;
	height:130px;
	border-radius:40px;
}
.pha_div_patinfo{
	position:relative;
	width:75%;
	height:80px;
	margin:6% 10% 30px 10%;
}
.pha_patinfo_text{
	height:80px;
	width:100%;
	border-radius:70px;
	padding-left:100px;
	margin-top:30px;
}
.pha-div-keytab{
	width:80%;
	margin-left:10%;
}
.pha_text_patno{
	min-height:80px;
	min-width:500px;
}
.pha-key-tbl {
	margin-top:5px;
	line-height:80px;
}
.pha-key-tbl td {
    text-align: center;
    padding: 0px 15px 5px 0 ;
}
.pha_diag{
	width:830px;
	height:750px;
	top:calu(50% - 300px );
	left:calu(50% - 400px );
}