/*图标,新增图标统一对应目录scripts\dhcst\ExtUX\images*/
.page_print{background: url(../images/print.png) no-repeat left 0px !important;} 
.page_export{background: url(../images/export.gif) no-repeat left 0px !important;}
.page_copy{background: url(../images/copy.png) no-repeat left 0px !important;}
.page_help{background: url(../images/help.png) no-repeat left 0px !important;}
.page_go{background: url(../images/go.png) no-repeat left 0px !important;}
.Help{background-image:url(../images/tipswarning1.gif)!important;}
.Cancel{background-image:url(../icons/cancel.png)!important;}
.page_upload{background: url(../images/upload.png) no-repeat left 0px !important;}
.page_download{background: url(../images/download.png) no-repeat left 0px !important;}
.drug_maintain{background: url(../images/drug-maintain.png) no-repeat left 0px !important;}
.drug_limit{background: url(../images/drug-limit.png) no-repeat left 0px !important;}
.page_moveup{background: url(../../../../images/uiimages/moveup.png) no-repeat left 0px !important;}
.page_movedown{background: url(../../../../images/uiimages/movedown.png) no-repeat left 0px !important;}
.noborder { 
    border: 0; 
    background-color: #DFE8F6; 
    background-image: url(); 

} 
.nobordernocolor { 
    border: 0; 
    background-color: #FFFFFF; 
    background-image: url(); 

} 

.my_row_Yellow table{ background:Yellow}

.x-grid3-row {
    border-bottom: 0;
}
.x-grid3-col {
    border-bottom: 1px solid #ededed;
}
.row-span {
    border-bottom: 1px solid #fff;
}
.row-span-first {
    position: relative;
    border-top: 1px solid #ededed;
}
.row-span-first .x-grid3-cell-inner {
    position: absolute;
}
.row-span-last {
    border-bottom: 1px solid #ededed;
}
/*
.x-grid3-row td,.x-grid3-summary-row td{
	line-height:17px;
	font-size:12px;
}  */
/*日期控件显示*/
.ext-ie .x-date-menu{
    height: 205px;
}
.x-date-bottom {
    padding:1px;
    border-top: 1px solid;
    background: repeat-x left top;
    border-top-color:#a3bad9;
    background-color:#dfecfb;
}
.ext-strict .ext-ie .x-date-menu, .ext-border-box .ext-ie8 .x-date-menu{
    height: 205px;
}

/*兼容ie11布局显示不正常*/

.x-fieldset-body {
	padding:1px;
    overflow:hidden;
    
}

/*IE11以下版本,文本框距离panel顶部太宽*/
.ext-ie .x-form-item {
    font: normal 14px "Microsoft Yahei", arial, helvetica, sans-serif;
    margin-bottom: 1px;
}
.ext-ie .x-fieldset legend {
    margin-bottom:1px;
}
.ext-ie .x-fieldset  {
    padding-bottom:1px;
}
.ext-chrome .x-fieldset  {
    padding-bottom:1px;
}
.ext-ie .x-form-label-right label.x-form-item-label {
    padding-right:1px;
    text-align: right;
}
.x-form-check-wrap input{
    vertical-align: middle;
}
.x-form-check-wrap{
	line-height:21px;
	height:auto;
}
.x-toolbar-cell .x-form-cb-label{
	vertical-align: middle;
}
.x-item-disabled {
    cursor: default;
    opacity: .85;
    -moz-opacity: .85;
    filter: alpha(opacity=85);
}
.classRed{background-color:#FF0000; }
.classBlue{background-color:#0000FF; }   
.classYellow{background-color:#FFFF00; }   
.classGrassGreen{background-color:#66FFCC; } 
.classCyan{background-color:#00CC99; } 
.classOrange{background-color:#FFCC99; } 
.classPink{background-color:#FF99FF; } 
.classPurple{background-color:#CC99FF; } 
.classLightBlue{background-color:#99FFFF; } 
.classLightSeaGreen{background-color:#20B2AA; }
.classLime{background-color:#00FF00; } 
.classLightGoldenYellow{background-color:#C8AA16; } 
.classDeepSkyBlue{background-color:#00BFFF; }
.classAquamarine {background-color:#77FFCC; }
.classSalmon {background-color:#FE9EA6; }
/*统一文本标签的颜色*/
.classImportant{
	font-size: 14px; 
	font-weight:bold;
	color: #15428b;
	font-family:"Microsoft Yahei";
	
}
.classMoreImportant{
	font-size: 14px; 
	font-weight:bold;
	color: #15428b;
	font-family:"Microsoft Yahei";
}




