html,body{
	background-color:#fff;
	padding:0;
	margin:0;	
}
table {
	border-spacing: 0;
}
#top{
	height:90px;
}

.ui-scene-2 #top {
	height:45px;
	padding:10px 10px 0 10px;
}

.ui-scene-2 .tl-buttons {
	width: 180px;
	background-color: #f0f0f0;
	border: 1px solid #dedede;
	border-width:1px 1px 0 1px;
	font-size:0;	
	text-align:center;
	padding:10px 0px;
	height:24px;
	overflow:hidden;
	float:left;
}

#center{
	
}

#ckTableWin .dialog-button{
	padding:10px;	
}


.tl-main-right .tl-grid-body{
	overflow-y:auto;	
	border-bottom:1px solid #ddd;
}
.tl-main-left .tl-grid-body{
	overflow:hidden;	
	border-bottom:1px solid #ddd;
}

.ui-scene-2 .tl-main-right .tl-grid-body{
	
	border-color:#dedede;
}
.ui-scene-2 .tl-main-left .tl-grid-body{
	
	border-color:#dedede;
}
.tl-grid-body-inner{
	
}

.color-gray{
	color:#666;
}
.settings{
	text-decoration:underline;
	color:#1082d0;
	padding-left:20px;
	background:url(../../images/TimeLine/new/settings.png) no-repeat 0 center;
	cursor:pointer;
}
.ui-scene-2 .settings{
	color:#339eff;
	background-image:none;
	padding-left:0px;
}

.ui-scene-2 .settings:before{
	content:' ';
	display:inline-block;
	width:16px;
	height:16px;
	background:url(../../images/TimeLine/new/setting-icon-small.png) no-repeat center center;
	vertical-align: middle;
	background-size:contain;
	margin:0 4px;
}

.ui-scene-2.ui-lite .settings:before{
	font-family: Mw_mifonts;
    content: "\f025";
    font-size:16px;
    color:#4a4958;
	display:inline-block;
	width:16px;
	height:16px;
	background-image:none;
	vertical-align: middle;
	margin:0 4px;
}
.ui-scene-2.ui-lite .settings:hover:before{
	color:#339eff;
}

/*header part like  patient information and patient adm history*/
.tl-header {
	height: 79px;
	background-color: #eee;
	overflow: hidden;
}

.ui-scene-2 .tl-header {
	height: 45px;
	background-color: #fff;
	overflow: hidden;
}

.tl-patInfo {
	width: 600px;
	height: 58px;
	margin: 9px 0 10px 17px;
	background-color: #fff;
	border: 1px solid #ddd;
	position: relative;
	float: left;
}



.tl-admHistory {
	width: 548px;
	height: 58px;
	margin: 9px 0 10px 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	position: relative;
	float: left;
}
.ui-scene-2 .tl-admHistory {
	height:44px;
	border:0;
	margin: 0 0 0 10px;
	width: 860px;
	
}

.tl-admHistory-icon{
	width: 52px;
	height: 49px;
	position: absolute;
	top: 5px;
	left: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../../images/TimeLine/new/in-icon.png");
}
.ui-scene-2 .tl-admHistory-icon{
	display:none;
}
.tl-admHistory-right {
	margin: 5px 0 5px 70px;
}

.ui-scene-2 .tl-admHistory-right {
	margin:0;
	padding:6px 0;
}

.tl-admHistory-title{
	height:20px;
	    padding-left: 37px;
}
.ui-scene-2 .tl-admHistory-title{
	float:left;
	height:30px;
	line-height:30px;
	
	padding-left:50px;	
}

.tl-admHistory-selector{
	height:30px;
	float:left;
}

.tl-admHistory-selector-list{
	float:left;
	width:416px; 
	overflow:hidden;
	height:28px;
	position: relative;
}
.ui-scene-2 .tl-admHistory-selector-list{
	height:30px;	
}
.tl-admHistory-selector-prev{
	float:left;
	height:28px;
	width:28px;
	background:url(../../images/TimeLine/new/prev-one.png) no-repeat center center;
	cursor:pointer;
}
.tl-admHistory-selector-next{
	float:left;
	height:28px;
	width:28px;
	background:url(../../images/TimeLine/new/next-one.png) no-repeat center center;
	cursor:pointer;
}
.ui-scene-2 .tl-admHistory-selector-prev{
	float:left;
	height:28px;
	width:28px;
	background:url(../../images/TimeLine/new/prev-one-blue.png) no-repeat center center;
	cursor:pointer;
}
.ui-scene-2 .tl-admHistory-selector-next{
	float:left;
	height:28px;
	width:28px;
	background:url(../../images/TimeLine/new/next-one-blue.png) no-repeat center center;
	cursor:pointer;
}

.tl-admHistory-selector-prev.disabled,
.tl-admHistory-selector-next.disabled{
	background-color: transparent;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.ui-scene-2 .tl-admHistory-selector-prev.disabled,
.ui-scene-2 .tl-admHistory-selector-next.disabled{
	background-color: transparent;
    opacity: 1;
    filter: alpha(opacity=100);
}
.ui-scene-2 .tl-admHistory-selector-prev{
	float:left;
	height:28px;
	width:28px;
	background:url(../../images/TimeLine/new/prev-one-gray.png) no-repeat center center;
	cursor:pointer;
}
.ui-scene-2 .tl-admHistory-selector-next{
	float:left;
	height:28px;
	width:28px;
	background:url(../../images/TimeLine/new/next-one-gray.png) no-repeat center center;
	cursor:pointer;
}



.tl-admHistory-selector-list td span{
	line-height:24px;
	color:#999;
	padding:0 4px;
	cursor:pointer;
}

.ui-scene-2 .tl-admHistory-selector-list td span{
	display:block;
	line-height:26px;
	width:100%;
	height:26px;
	color:#000;
	cursor:pointer;
	border:1px solid #e5e5e5;
	background:#e5e5e5;
	border-radius:2px;
	text-align:center;
	padding:0;
}

.ui-scene-2 .tl-admHistory-selector-list td span:hover{
	display:block;
	padding:0;
	border-color:#339eff;
	background-color:#eff9ff;
	border-radius:2px;
	color:#339eff;

}

.tl-admHistory-selector-list td {
	padding:2px;
	line-height:24px;	
}
.ui-scene-2 .tl-admHistory-selector-list td {
	padding:1px 2px;
	line-height:28px;	
}
.tl-admHistory-selector-list td span.active{
	background-color:#ea5252;
	color:#fff;
	padding:0 4px;
	border-radius:4px;
}
.ui-scene-2 .tl-admHistory-selector-list td span.active{
	display:block;
	padding:0;
	border-color:#339eff;
	background-color:#eff9ff;
	border-radius:2px;
	color:#339eff;
	background-image: url(../../images/TimeLine/new/keywords_arrow.png);
	background-position: right 0 bottom 0;
	background-repeat: no-repeat;
}

.tl-patIcon {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 6px;
	left: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.tl-patInfo-right {
	margin: 5px 0 5px 63px;
}

.sex-male {
	background-image: url("../../images/TimeLine/new/man_big.png");
}

.sex-female {
	background-image: url("../../images/TimeLine/new/woman_big.png");
}

.sex-unknown {
	background-image: url("../../images/TimeLine/new/sex3_big.png");
}

.ui-lite .tl-patIcon{
	width: 46px;
	height: 46px;
	border-radius:23px;	
}
.ui-lite .sex-male {
	background-image: url("../../images/man_lite.png");
}

.ui-lite .sex-female {
	background-image: url("../../images/woman_lite.png");
}

.ui-lite .sex-unknown {
	background-image: url("../../images/unman_lite.png");
}

.tl-patInfo-right {
	margin: 5px 0 5px 63px;
}

.tl-patInfo-right td {
	height: 24px;
	line-height: 24px;
	white-space: nowrap;
	padding-left:10px
}


.tl-links{
	float:left;
	padding-top:5px;
}
.tl-link{
	vertical-align: top;
	display:inline-block;
	padding:4px 10px;	
	position:relative;
	height:70px;
	cursor:pointer;
}
.tl-link-icon{
	line-height:42px;
	position:absolute;
	display:inline-block;
	width: 100%;
	top:4px;
	left:0;
	height:42px;
	background-position: center center;
	background-repeat: no-repeat;
}
.out-icon{
	background-image: url("../../images/TimeLine/new/out-icon.png");
}
.in-icon{
	background-image: url("../../images/TimeLine/new/out-icon.png");
}
.map-marker-icon{
	background-image: url("../../images/TimeLine/new/map-marker-icon.png");
}
.instructions-icon{
	background-image: url("../../images/TimeLine/new/instructions-icon.png");
}
.tl-link-text{
	padding:42px 0 0 0;
	display:inline-block;
	text-decoration:underline;
	color:#666;
}



.tl-main-left{
	float:left;
	width:200px;
	margin-left:17px;
}
.ui-scene-2 .tl-main-left{
	margin-left:10px;
	width:182px;
}

.tl-main-right{
	float:left;
	margin-left:10px;
}
.tl-row-header,
.tl-row-header-collapsed {
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	border-top: 0;
	min-height:30px;
	position:relative;
}

.ui-scene-2 .tl-row-header,
.ui-scene-2 .tl-row-header-collapsed {
	border-color: #dedede;
}

.tl-row-header.last,
.tl-row-header-collapsed.last{
	border-bottom:0;
}
.tl-row-header .collapse{
	position:absolute;
	display:inline-block;
	height:16px;
	width:16px;
	background:url('../../images/TimeLine/new/collapse.png') 0 0 no-repeat;
	top:7px;
	left:20px;
	cursor:pointer;
}
.ui-scene-2 .tl-row-header .collapse{
	left:6px;
}
.tl-row-header-collapsed .expand{
	position:absolute;
	display:inline-block;
	height:16px;
	width:16px;
	background:url('../../images/TimeLine/new/expand.png') 0 0 no-repeat;
	top:7px;
	left:20px;
	cursor:pointer;
}
.ui-scene-2 .tl-row-header-collapsed .expand{
	left:6px;
}
.tl-row-header>.title,
.tl-row-header-collapsed>.title{
	padding-left:48px;
	line-height:30px;	
}

.ui-scene-2 .tl-row-header>.title,
.ui-scene-2 .tl-row-header-collapsed>.title{
	padding-left:28px;
}
.tl-row-header>.title.headerLink{
	text-decoration:underline;
	color:#1082d0;
	cursor:pointer;
}
.ui-scene-2 .tl-row-header>.title.headerLink{
	color:#339eff;	
}

.tl-row-header.tl-row-timer{
	border:0	
}
.tl-row-header.tl-row-timer >.th1{
	height:36px;
	line-height:36px;
	border: solid #ddd;
	border-width:1px 1px 0;
}
.ui-scene-2 .tl-row-header.tl-row-timer >.th1{
	border-color:#dedede;
}

.tl-row-header.tl-row-timer >.th2{
	height:28px;
	background-color:#0e8bdd;
	color:#fff;
	line-height:28px;
	text-align:center;
	border: solid #0e8bdd;
	border-width:0 1px;
}

.ui-scene-2 .tl-row-header.tl-row-timer >.th2 {
	background-color:#339eff;
	border-color:#339eff;
}


.tl-row-header.tl-row-timer >.th2>.time{
	padding-left:30px;
	background:url(../../images/TimeLine/new/clock.png) no-repeat 0 center;
}
.ui-scene-2 .tl-row-header.tl-row-timer >.th2>.time{
	padding-left:22px;
}

.tl-row-data,
.tl-row-data-collapsed{
	background-color: #fff;
	border: 1px solid #ddd;
	border-top:0;
	min-height:30px;
}
.ui-scene-2 .tl-row-data,
.ui-scene-2 .tl-row-data-collapsed{
	border-color:#dedede;
}

.tl-row-data.last,
.tl-row-data-collapsed.last{
	border-bottom:0;
}
.hidden{
	display:none;
}

.tl-row-data-cell{
	border-right: 1px solid #ddd;
	display:table-cell;
	vertical-align: top;
	box-sizing: border-box;  /*偏移*/
}
.ui-scene-2 .tl-row-data-cell{
	border-color:#dedede;	
}


.tl-row-data-cell>div.c{
	min-height:30px;
}
.tl-row-data>.tl-row-data-cell:last-child{
	border-right: 0;
}
.tl-row-timer>.tl-row-data-cell>.th1{
	height:36px;
	background-color:#0e8bdd;
	color:#fff;
	line-height:36px;
	text-align:center;
	word-break: keep-all;
	white-space: nowrap;
	overflow:hidden;
}
.ui-scene-2 .tl-row-timer>.tl-row-data-cell>.th1{
	background-color:#339eff;
}
.tl-row-timer>.tl-row-data-cell>.th2{
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#f0f0f0;
	font-size:0;
	overflow:hidden;
}
.tl-row-timer>.tl-row-data-cell>.th2>span{
	width:16.66%;
	border-right:1px solid #ddd;
	display:inline-block;
	box-sizing:border-box;
	font-size:14px;
	color:#666;
}

.ui-scene-2 .tl-row-timer>.tl-row-data-cell>.th2>span{
	border-color:#dedede;	
}

.tl-row-timer>.tl-row-data-cell>.th2>span:last-child{
	border:0;
}

.CurveHeaderTable{
    border:0 ;
    width: 152px;
    margin-left: 48px;
}
.ui-scene-2 .CurveHeaderTable{
	margin-left:28px;	
}
.CurveHeaderTable td{
    text-align: left;
}


.tl-itemLabel{
    position: relative;
    padding: 11px 3px 0;
}
.tl-itemLabel.tl-itemLabel-noArrow{
	padding:5px 3px 0;
}
div>.tl-itemLabel:last-child{
	margin-bottom:5px;
}
.tl-itemLabel-arrow{
    position: absolute;
    top: 0;
    width: 13px;
    height: 11px;
    background: url('../../images/TimeLine/new/labelItemArrow-plain.png') -1px -2px no-repeat;
    background-color:#68b7dd;
}
.tl-itemLabel-text{
    color: #fff;
    background-color: #68b7dd;
    font-size :14px;
    line-height :26px;
    border-radius :3px;
    padding-left :10px;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.tl-itemLabel.tl-itemLabel-withLink .tl-itemLabel-text{
	background-color: #6096b5;
	cursor:pointer;
}
.tl-itemLabel.tl-itemLabel-withLink .tl-itemLabel-arrow{
	background-color: #6096b5;
}
/* 普通的也支持多行模式 */
.tl-itemLabel .tl-itemLabel-text-c{
	border-radius :3px;
	overflow:hidden; /*内部没圆角 超出要hidden*/
}
.tl-itemLabel .tl-itemLabel-text-c .tl-itemLabel-text{
	border-radius :0px;
	cursor:pointer;
}

.tl-itemLabel.tl-itemLabel-multiple .tl-itemLabel-text-c{
	border-radius :3px;
	overflow:hidden; /*内部没圆角 超出要hidden*/
}
.tl-itemLabel.tl-itemLabel-multiple .tl-itemLabel-text{
	background-color: #05c2a5;
	border-radius :0px;
	cursor:pointer;
}
.tl-itemLabel.tl-itemLabel-multiple .tl-itemLabel-arrow{
	background-color: #05c2a5;
	
}
.tl-itemLine-popover{
	line-height:24px;
}
.tl-itemLine-popover span{
	white-space: nowrap;
}
.tl-itemLine{
	position: relative;
	padding:3px 5px; 
	height:18px;
	overflow: hidden;
}
.tl-itemLine-bg{
	position: absolute;
	height:18px;
	line-height:18px;
	font-size:0;
	word-break: keep-all;
    white-space: nowrap;
    
}
.tl-itemLine-start{
	width:19px;
	height:18px;
	display:inline-block;
	background:url('../../images/TimeLine/new/long-start.png') 0 center no-repeat;
	background-color:#fff;
}
.tl-itemLine-text{
	display:inline-block;
	height:18px;
	vertical-align: top;
	overflow:visible;
	word-break: keep-all;
	white-space: nowrap;
	line-height:18px;
	font-size:12px;
	padding-left:4px;
}

.reportWinContent{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
}
.reportWinContent-items{
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:10;
}
.reportWinContent-item{
	float:left;
}
.reportWinContent-next,.reportWinContent-prev{
	position:absolute;
	top:50%;
	height:100px;
	width:40px;
	line-height:100px;
	text-align:center;
	margin-top:-50px;
	background: #000;
	color:#fff;
    opacity: 0.1;
    font-size:20px;
    font-weight:bold;
    z-index:11;
}
.reportWinContent-prev{
	left:20px;
}
.reportWinContent-next{
	right:20px;
}
.reportWinContent-next.hidden,.reportWinContent-prev.hidden{
	display:none;
}

.reportWinContent-next:hover,.reportWinContent-prev:hover{
	opacity: 0.5;
}








.weekselector,
.arrayselector{
	height:30px;
	margin-top:2px;
}
.weekselector table,
.arrayselector table{
	margin-top:2px;
	height:	30px;
	width:auto;
	max-width:100%;
	margin:0 auto;
}
.weekselector table td,
.arrayselector table td{
	line-height:24px;
	padding:2px 0;	
}

.weekselector-btn-td,
 .arrayselector-btn-td{
	text-align:center;
	width:24px;
	padding:2px 3px;
}
.weekselector-bt-td{
	padding-left:4px;
}
.weekselector-at-td{
	padding-right:4px;
}

.weekselector-btn,
.arrayselector-btn{
	display:block;
	width:24px;
	height:24px;	
}

.weekselector .weekselector-btn.disabled,
.arrayselector .weekselector-btn.disabled {
    background-color: transparent;
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor:default;
}

.weekselector-prev-more,
.arrayselector-prev-more{
	background: url(../../images/TimeLine/new/prev-more.png) no-repeat center center;
}
.weekselector-prev-one,
.arrayselector-prev-one{
	background: url(../../images/TimeLine/new/prev-one.png) no-repeat center center;
}
.weekselector-next-more,
.arrayselector-next-more{
	background: url(../../images/TimeLine/new/next-more.png) no-repeat center center;
}
.weekselector-next-one,
.arrayselector-next-one{
	background: url(../../images/TimeLine/new/next-one.png) no-repeat center center;
}



.ui-scene-2 .weekselector-btn-td,
.ui-scene-2  .arrayselector-btn-td{
	text-align:center;
	width:16px;
	padding:9px 0px;
}
.ui-scene-2 .weekselector-bt-td{
	padding-left:10px;
}
.ui-scene-2 .weekselector-at-td{
	padding-right:10px;
}

.ui-scene-2 .weekselector-btn,
.ui-scene-2 .arrayselector-btn{
	display:block;
	width:12px;
	height:12px;	
}



.ui-scene-2 .weekselector-prev-more,
.ui-scene-2 .arrayselector-prev-more{
	background: url(../../images/TimeLine/new/prev-more-blue.png) no-repeat center center;
}
.ui-scene-2 .weekselector-prev-one,
.ui-scene-2 .arrayselector-prev-one{
	background: url(../../images/TimeLine/new/prev-one-blue.png) no-repeat center center;
}
.ui-scene-2 .weekselector-next-more,
.ui-scene-2 .arrayselector-next-more{
	background: url(../../images/TimeLine/new/next-more-blue.png) no-repeat center center;
}
.ui-scene-2 .weekselector-next-one,
.ui-scene-2 .arrayselector-next-one{
	background: url(../../images/TimeLine/new/next-one-blue.png) no-repeat center center;
}

.ui-scene-2 .weekselector .weekselector-btn.disabled,
.ui-scene-2 .arrayselector .weekselector-btn.disabled {
    background-color: transparent;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor:default;
}
.ui-scene-2 .weekselector .weekselector-btn.disabled.weekselector-prev-more,
.ui-scene-2 .arrayselector .weekselector-btn.disabled.arrayselector-prev-more{
	background: url(../../images/TimeLine/new/prev-more-gray.png) no-repeat center center;
}
.ui-scene-2 .weekselector .weekselector-btn.disabled.weekselector-prev-one,
.ui-scene-2 .arrayselector .weekselector-btn.disabled.arrayselector-prev-one{
	background: url(../../images/TimeLine/new/prev-one-gray.png) no-repeat center center;
}
.ui-scene-2 .weekselector .weekselector-btn.disabled.weekselector-next-more,
.ui-scene-2 .arrayselector .weekselector-btn.disabled.arrayselector-next-more{
	background: url(../../images/TimeLine/new/next-more-gray.png) no-repeat center center;
}
.ui-scene-2 .weekselector .weekselector-btn.disabled.weekselector-next-one,
.ui-scene-2 .arrayselector .weekselector-btn.disabled.arrayselector-next-one{
	background: url(../../images/TimeLine/new/next-one-gray.png) no-repeat center center;
}

.ui-lite .weekselector .weekselector-btn.disabled,
.ui-lite .arrayselector .weekselector-btn.disabled {
	cursor:no-drop;
}
.weekselector-week-list{
	width: 40px;
	height: 20px;
	overflow: hidden;
	border:1px solid #52A6ff;
	background:url(../../images/TimeLine/new/arrow-down-blue.png) no-repeat center right;
	font-size:0;
	margin:2px 4px;
}

.weekselector-week-list select {
   background: transparent;
   width: 60px;
	line-height: 20px;
	padding: 0 0 0 5px;
   font-size: 14px;
   border: 0;
   height: 20px;
   -webkit-appearance: none; 
   margin-left:-1px;
}
.weekselector-week-list select:focus{
	border:0;
	outline: none;
}





.select2 {
    height: 20px;
    overflow: hidden;
    border: 1px solid #52A6ff;
    background: url(../../images/TimeLine/new/arrow-down-blue.png) no-repeat center right;
    font-size: 0;
}

.select2 select {
   background: transparent;
	line-height: 20px;
	padding: 0 0 0 5px;
   font-size: 14px;
   border: 0;
   height: 20px;
   -webkit-appearance: none; 
   margin-left:-1px;
}
.select2 select:focus{
	border:0;
	outline: none;
}
.tl-row-header>.title.headerLink.headerWithCount{
	text-decoration:none;
	color:red;
}
.tl-row-header>.title.headerLink.headerWithCount>.count{
	padding: 0 5px;
    background-color: #ffd7d7;
    color: #ff3d2f;
    border-radius: 4px;
    margin: 0 5px;
}


.ck-table-cat-wrap {
	border-bottom: 2px solid #666;	
	padding-bottom:3px;
}

tr.ck-table-cat-tr2>td{
	border-top:1px #bbb dashed;
}

.tl-btn{
	width:24px;
	height:24px;
	display:inline-block;	
	margin:0 6px;
	cursor:pointer;
	text-decoration: none;
}
.tl-btn-settings{
	background: url("../../images/TimeLine/new/setting-icon-small.png") no-repeat center center;
}
.tl-btn-out{
	background: url("../../images/TimeLine/new/out-icon-small.png") no-repeat center center;
}
.tl-btn-in{
	background: url("../../images/TimeLine/new/in-icon-small.png") no-repeat center center;
}
.tl-btn-map{
	background: url("../../images/TimeLine/new/map-marker-icon-small.png") no-repeat center center;
}
.tl-btn-instructions{
	background: url("../../images/TimeLine/new/instructions-icon-small.png") no-repeat center center;
}
.tl-btn.hidden{
	display:none;	
}

.ui-lite .tl-btn:before{
	color:#4a4958;
}
.ui-lite .tl-btn:hover:before{
	color:#339eff;
}

.ui-lite .tl-btn-settings{
	background:none;	
}
.ui-lite .tl-btn-settings:before{
	font-family: Mw_mifonts;
    content: "\f025";
    font-size:24px;
}
.ui-lite .tl-btn-out{
	background:none;	
}
.ui-lite .tl-btn-out:before{
	font-family: Mw_mifonts;
    content: "\f578";
    font-size:24px;
    
}
.ui-lite .tl-btn-in{
	background:none;	
}
.ui-lite .tl-btn-in:before{
	font-family: Mw_mifonts;
    content: "\f044";
    font-size:24px;
}
.ui-lite .tl-btn-map{
	background:none;	
}
.ui-lite .tl-btn-map:before{
	font-family: Mw_mifonts;
    content: "\f202";
    font-size:24px;
}
.ui-lite .tl-btn-instructions{
	background:none;	
}
.ui-lite .tl-btn-instructions:before{
	font-family: Mw_mifonts;
    content: "\f033";
    font-size:24px;
}