html,body{
	background-color:#fff;
	padding:0;
	margin:0;	
}
table {
	border-spacing: 0;
}
#top{
	height:90px;
}
#center{
	
}

#ckTableWin .dialog-button{
	padding:10px;	
}


.tl-main-right .tl-grid-body{
	overflow-y:auto;	
	border-bottom:1px solid #ddd;
}
.tl-main-left .tl-grid-body{
	overflow:hidden;	
	border-bottom:1px solid #ddd;
}
.tl-grid-body-inner{
	
}

.color-gray{
	color:#666;
}
.settings{
	text-decoration:underline;
	color:#1082d0;
	padding-left:20px;
	background:url(../../images/TimeLine/new/settings.png) no-repeat 0 center;
	cursor:pointer;
}
/*header part like  patient information and patient adm history*/
.tl-header {
	height: 79px;
	background-color: #eee;
	overflow: hidden;
}

.tl-patInfo {
	width: 600px;
	height: 58px;
	margin: 9px 0 10px 17px;
	background-color: #fff;
	border: 1px solid #ddd;
	position: relative;
	float: left;
}

.tl-admHistory {
	width: 548px;
	height: 58px;
	margin: 9px 0 10px 10px;
	background-color: #fff;
	border: 1px solid #ddd;
	position: relative;
	float: left;
}

.tl-admHistory-icon{
	width: 52px;
	height: 49px;
	position: absolute;
	top: 5px;
	left: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../../images/TimeLine/new/in-icon.png");
}
.tl-admHistory-right {
	margin: 5px 0 5px 70px;
}

.tl-admHistory-title{
	/*font-weight:bold;*/
	height:20px;
	    padding-left: 37px;
}
.tl-admHistory-selector{
	height:28px;
}

.tl-admHistory-selector-list{
	float:left;
	width:416px; 
	overflow:hidden;
	height:28px;
	position: relative;
}
.tl-admHistory-selector-prev{
	float:left;
	height:28px;
	width:28px;
	background:url(../../images/TimeLine/new/prev-one.png) no-repeat center center;
	cursor:pointer;
}
.tl-admHistory-selector-next{
	float:left;
	height:28px;
	width:28px;
	background:url(../../images/TimeLine/new/next-one.png) no-repeat center center;
	cursor:pointer;
}
.tl-admHistory-selector-prev.disabled,
.tl-admHistory-selector-next.disabled{
	background-color: transparent;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.tl-admHistory-selector-list td span{
	line-height:24px;
	color:#999;
	padding:0 4px;
	cursor:pointer;
}
.tl-admHistory-selector-list td {
	padding:2px;
	line-height:24px;	
}
.tl-admHistory-selector-list td span.active{
	background-color:#ea5252;
	color:#fff;
	padding:0 4px;
	border-radius:4px;
}

.tl-patIcon {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 6px;
	left: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.tl-patInfo-right {
	margin: 5px 0 5px 63px;
}

.sex-male {
	background-image: url("../../images/TimeLine/new/man_big.png");
}

.sex-female {
	background-image: url("../../images/TimeLine/new/woman_big.png");
}

.sex-unknown {
	background-image: url("../../images/TimeLine/new/sex3_big.png");
}

.tl-patInfo-right {
	margin: 5px 0 5px 63px;
}

.tl-patInfo-right td {
	height: 24px;
	line-height: 24px;
	white-space: nowrap;
	padding-left:10px
}


.tl-links{
	float:left;
	padding-top:5px;
}
.tl-link{
	vertical-align: top;
	display:inline-block;
	padding:4px 10px;	
	position:relative;
	height:70px;
	cursor:pointer;
}
.tl-link-icon{
	line-height:42px;
	position:absolute;
	display:inline-block;
	width: 100%;
	top:4px;
	left:0;
	height:42px;
	background-position: center center;
	background-repeat: no-repeat;
}
.out-icon{
	background-image: url("../../images/TimeLine/new/out-icon.png");
}
.in-icon{
	background-image: url("../../images/TimeLine/new/out-icon.png");
}
.instructions-icon{
	background-image: url("../../images/TimeLine/new/instructions-icon.png");
}
.tl-link-text{
	padding:42px 0 0 0;
	display:inline-block;
	text-decoration:underline;
	color:#666;
}



.tl-main-left{
	float:left;
	width:200px;
	margin-left:17px;
}
.tl-main-right{
	float:left;
	margin-left:10px;
}
.tl-row-header,
.tl-row-header-collapsed {
	background-color: #f0f0f0;
	border: 1px solid #ddd;
	border-top: 0;
	min-height:30px;
	position:relative;
}

.tl-row-header.last,
.tl-row-header-collapsed.last{
	border-bottom:0;
}
.tl-row-header .collapse{
	position:absolute;
	display:inline-block;
	height:16px;
	width:16px;
	background:url('../../images/TimeLine/new/collapse.png') 0 0 no-repeat;
	top:7px;
	left:20px;
	cursor:pointer;
}
.tl-row-header-collapsed .expand{
	position:absolute;
	display:inline-block;
	height:16px;
	width:16px;
	background:url('../../images/TimeLine/new/expand.png') 0 0 no-repeat;
	top:7px;
	left:20px;
	cursor:pointer;
}
.tl-row-header>.title,
.tl-row-header-collapsed>.title{
	padding-left:48px;
	line-height:30px;	
}
.tl-row-header>.title.headerLink{
	text-decoration:underline;
	color:#1082d0;
	cursor:pointer;
}
.tl-row-header.tl-row-timer{
	border:0	
}
.tl-row-header.tl-row-timer >.th1{
	height:36px;
	line-height:36px;
	border: solid #ddd;
	border-width:1px 1px 0;
}
.tl-row-header.tl-row-timer >.th2{
	height:28px;
	background-color:#0e8bdd;
	color:#fff;
	line-height:28px;
	text-align:center;
	border: solid #0e8bdd;
	border-width:0 1px;
}
.tl-row-header.tl-row-timer >.th2>.time{
	padding-left:30px;
	background:url(../../images/TimeLine/new/clock.png) no-repeat 0 center;
}

.tl-row-data,
.tl-row-data-collapsed{
	background-color: #fff;
	border: 1px solid #ddd;
	border-top:0;
	min-height:30px;
}
.tl-row-data.last,
.tl-row-data-collapsed.last{
	border-bottom:0;
}
.hidden{
	display:none;
}

.tl-row-data-cell{
	border-right: 1px solid #ddd;
	display:table-cell;
	vertical-align: top;
	box-sizing: border-box;  /*偏移*/
}
.tl-row-data-cell>div.c{
	min-height:30px;
}
.tl-row-data>.tl-row-data-cell:last-child{
	border-right: 0;
}
.tl-row-timer>.tl-row-data-cell>.th1{
	height:36px;
	background-color:#0e8bdd;
	color:#fff;
	line-height:36px;
	text-align:center;
	word-break: keep-all;
	white-space: nowrap;
	overflow:hidden;
}
.tl-row-timer>.tl-row-data-cell>.th2{
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#f0f0f0;
	font-size:0;
	overflow:hidden;
}
.tl-row-timer>.tl-row-data-cell>.th2>span{
	width:16.66%;
	border-right:1px solid #ddd;
	display:inline-block;
	box-sizing:border-box;
	font-size:14px;
	color:#666;
}
.tl-row-timer>.tl-row-data-cell>.th2>span:last-child{
	border:0;
}

.CurveHeaderTable{
    border:0 ;
    width: 152px;
    margin-left: 48px;
}
.CurveHeaderTable td{
    text-align: left;
}


.tl-itemLabel{
    position: relative;
    padding: 11px 3px 0;
}
.tl-itemLabel.tl-itemLabel-noArrow{
	padding:5px 3px 0;
}
div>.tl-itemLabel:last-child{
	margin-bottom:5px;
}
.tl-itemLabel-arrow{
    position: absolute;
    top: 0;
    width: 13px;
    height: 11px;
    background: url('../../images/TimeLine/new/labelItemArrow-plain.png') -1px -2px no-repeat;
    background-color:#68b7dd;
}
.tl-itemLabel-text{
    color: #fff;
    background-color: #68b7dd;
    font-size :14px;
    line-height :26px;
    border-radius :3px;
    padding-left :10px;
    overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.tl-itemLabel.tl-itemLabel-withLink .tl-itemLabel-text{
	background-color: #6096b5;
	cursor:pointer;
}
.tl-itemLabel.tl-itemLabel-withLink .tl-itemLabel-arrow{
	background-color: #6096b5;
}
.tl-itemLabel.tl-itemLabel-multiple .tl-itemLabel-text-c{
	border-radius :3px;
	overflow:hidden; /*内部没圆角 超出要hidden*/
}
.tl-itemLabel.tl-itemLabel-multiple .tl-itemLabel-text{
	background-color: #05c2a5;
	border-radius :0px;
	cursor:pointer;
}
.tl-itemLabel.tl-itemLabel-multiple .tl-itemLabel-arrow{
	background-color: #05c2a5;
	
}
.tl-itemLine-popover{
	line-height:24px;
}
.tl-itemLine-popover span{
	white-space: nowrap;
}
.tl-itemLine{
	position: relative;
	padding:3px 5px; 
	height:18px;
	overflow: hidden;
}
.tl-itemLine-bg{
	position: absolute;
	height:18px;
	line-height:18px;
	font-size:0;
	word-break: keep-all;
    white-space: nowrap;
    
}
.tl-itemLine-start{
	width:19px;
	height:18px;
	display:inline-block;
	background:url('../../images/TimeLine/new/long-start.png') 0 center no-repeat;
	background-color:#fff;
}
.tl-itemLine-text{
	display:inline-block;
	height:18px;
	vertical-align: top;
	overflow:visible;
	word-break: keep-all;
	white-space: nowrap;
	line-height:18px;
	font-size:12px;
	padding-left:4px;
}

.reportWinContent{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
}
.reportWinContent-items{
	height:100%;
	position:absolute;
	left:0;
	top:0;
	z-index:10;
}
.reportWinContent-item{
	float:left;
}
.reportWinContent-next,.reportWinContent-prev{
	position:absolute;
	top:50%;
	height:100px;
	width:40px;
	line-height:100px;
	text-align:center;
	margin-top:-50px;
	background: #000;
	color:#fff;
    opacity: 0.1;
    font-size:20px;
    font-weight:bold;
    z-index:11;
}
.reportWinContent-prev{
	left:20px;
}
.reportWinContent-next{
	right:20px;
}
.reportWinContent-next.hidden,.reportWinContent-prev.hidden{
	display:none;
}

.reportWinContent-next:hover,.reportWinContent-prev:hover{
	opacity: 0.5;
}








.weekselector,
.arrayselector{
	height:30px;
	margin-top:2px;
}
.weekselector table,
.arrayselector table{
	margin-top:2px;
	height:	30px;
	width:100%;
}
.weekselector table td,
.arrayselector table td{
	line-height:24px;
	padding:3px 0;	
}
.weekselector-prev-more,
.arrayselector-prev-more{
	background: url(../../images/TimeLine/new/prev-more.png) no-repeat center center;
}
.weekselector-prev-one,
.arrayselector-prev-one{
	background: url(../../images/TimeLine/new/prev-one.png) no-repeat center center;
}
.weekselector-next-more,
.arrayselector-next-more{
	background: url(../../images/TimeLine/new/next-more.png) no-repeat center center;
}
.weekselector-next-one,
.arrayselector-next-one{
	background: url(../../images/TimeLine/new/next-one.png) no-repeat center center;
}

.weekselector-week-list{
	width: 40px;
	height: 20px;
	overflow: hidden;
	border:1px solid #52A6ff;
	background:url(../../images/TimeLine/new/arrow-down-blue.png) no-repeat center right;
	font-size:0;
	margin:2px 4px;
}

.weekselector-week-list select {
   background: transparent;
   width: 60px;
	line-height: 20px;
	padding: 0 0 0 5px;
   font-size: 14px;
   border: 0;
   height: 20px;
   -webkit-appearance: none; 
   margin-left:-1px;
}
.weekselector-week-list select:focus{
	border:0;
	outline: none;
}
.weekselector span.l-btn-text.l-btn-empty ,
.arrayselector span.l-btn-text.l-btn-empty {
    line-height: 24px;
    width: 24px;
    min-width: 24px;
}
.weekselector span.l-btn-icon ,
.arrayselector span.l-btn-icon{
    width: 24px;
    height: 24px;
    top: 0;
    left: 4px;
}

.select2 {
    height: 20px;
    overflow: hidden;
    border: 1px solid #52A6ff;
    background: url(../../images/TimeLine/new/arrow-down-blue.png) no-repeat center right;
    font-size: 0;
}

.select2 select {
   background: transparent;
	line-height: 20px;
	padding: 0 0 0 5px;
   font-size: 14px;
   border: 0;
   height: 20px;
   -webkit-appearance: none; 
   margin-left:-1px;
}
.select2 select:focus{
	border:0;
	outline: none;
}
.tl-row-header>.title.headerLink.headerWithCount{
	text-decoration:none;
	color:red;
}
.tl-row-header>.title.headerLink.headerWithCount>.count{
	padding: 0 5px;
    background-color: #ffd7d7;
    color: #ff3d2f;
    border-radius: 4px;
    margin: 0 5px;
}
