.my-toolbar .x-toolbar .x-btn .x-btn-tl{ background-position: 0 0; }

.my-toolbar .x-toolbar .x-btn .x-btn-tr{ background-position: -3px 0; }

.my-toolbar .x-toolbar .x-btn .x-btn-tc{ background-position: 0 -6px; }

.my-toolbar .x-toolbar .x-btn .x-btn-ml{ background-position: 0px -24px; }

.my-toolbar .x-toolbar .x-btn .x-btn-mr{ background-position: -3px -24px; }

.my-toolbar .x-toolbar .x-btn .x-btn-mc{ background-position: 0 -1097px; }

.my-toolbar .x-toolbar .x-btn .x-btn-bl{ background-position: -6px -3px; }

.my-toolbar .x-toolbar .x-btn .x-btn-br{ background-position: -9px -3px; }

.my-toolbar .x-toolbar .x-btn .x-btn-bc{ background-position: 0 -18px; }

.my-toolbar .x-toolbar .x-btn-over .x-btn-tl{ background-position: -6px 0; }

.my-toolbar .x-toolbar .x-btn-over .x-btn-tr{ background-position: -9px 0; }

.my-toolbar .x-toolbar .x-btn-over .x-btn-tc{ background-position: 0 -9px; }

.my-toolbar .x-toolbar .x-btn-over .x-btn-ml{ background-position: -6px -24px; }

.my-toolbar .x-toolbar .x-btn-over .x-btn-mr{ background-position: -9px -24px; }

.my-toolbar .x-toolbar .x-btn-over .x-btn-mc{ background-position: 0 -2168px; }

.my-toolbar .x-toolbar .x-btn-over .x-btn-bl{ background-position: -6px -3px; }

.my-toolbar .x-toolbar .x-btn-over .x-btn-br{ background-position: -9px -3px; }

.my-toolbar .x-toolbar .x-btn-over .x-btn-bc{ background-position: 0 -18px; }

.my-toolbar .x-label .x-label-mp{margin-left:10px;padding:100px;}