.x-tree-node  .man{background-image: url(../image/man.gif)}
.x-tree-node  .woman{background-image: url(../image/woman.gif)}
.x-tree-node  .all{background-image: url(../image/all.png)}
.x-grid3-row td, .x-grid3-summary-row td {
    font:normal 13px/26px arial, tahoma, helvetica, sans-serif;
}

.x-grid3-cell-inner, .x-grid3-hd-inner{  
    white-space:normal !important;   
}  

.x-grid3-row-alt{
	background-color:#FAFAD2;
}
.x-grid3-row-over {
	border:1px solid;
    
}


.x-grid3-row .x-subgrid3-row .x-grid3-row-checker {
    background-position:2px 2px;
}

.x-grid3-row .x-grid3-row-selected .x-grid3-row-checker {
    background-position:-23px 2px;
}
.x-grid3-row-over {
	border-color:#ddd;
    background-color:#efefef;
    background-image:url(../image/default/grid/row-over.gif);
}
	div.UnPaid
	{
            BACKGROUND-COLOR: #d0ffff;
	}
	div.Immediate
	{
	    
        BACKGROUND-COLOR: palegreen;
	}
	div.LackOfFee
	{
	    
            BACKGROUND-COLOR: #e000e0;/*fuchsia;*/
	}
	div.SkinTest
	{
	    
            BACKGROUND-COLOR: #e00000;/*red;*/
	}
	div.SkinTest1
	{
	    
            BACKGROUND-COLOR: #ff7575;
	}
	div.Discontinue
	{
	    
            BACKGROUND-COLOR: deepskyblue;
	}
	div.TempTest
	{
	    
            BACKGROUND-COLOR: #b0ffb0;/*#80c0ff;*/
	}
	div.ExecDiscon
	{
	    
            BACKGROUND-COLOR: #8080c0;
	}
	div.Temp
	{
	    
            BACKGROUND-COLOR: #ffffc0; 
	}
	div.SubOrder{
  	  
           BACKGROUND-COLOR: #b1ffb1;/*#80c0ff;*/
	}
	div.MasterOrder{
		  
		        BACKGROUND-COLOR: #60f807;
	}
	div.SubOrder1{
  	  
           BACKGROUND-COLOR: #00ffff;/*#80c0ff;*/
	}
	div.MasterOrder1{
		  
		        BACKGROUND-COLOR: #00ccff;
	}
	div.LongNew
	{
	    
            BACKGROUND-COLOR: #ffc0c0;
	}
	div.Needless
	{
	    
            BACKGROUND-COLOR: white;
    }
	div.Exec
	{
	    
            BACKGROUND-COLOR: #dfdfff;
    }
	div.PreDiscon
	{
	    
            BACKGROUND-COLOR: #a0a0a0;
    }
	div.LongUnnew
    {
        
            BACKGROUND-COLOR: #ffd0ff;
    }

.x-tab-scroller-right-over {
    background-position: -18px 0;
}

.x-tab-tabmenu-right {
    background: transparent url(../image/tab-scroller-menu.gif) no-repeat 0 0;
    border-bottom: 1px solid #8db2e3;
    width:18px;
    position:absolute;
    left:18px;
    top:0;
    z-index:10;
    cursor:pointer;
}
.x-tab-tabmenu-over {
    background-position: -18px 0;
}
.x-tab-tabmenu-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

/* 定义检验管的背景颜色 */
.x-grid-cell.Purple
 {
             background-color: Purple;
         }
.x-grid-cell.Gray
 {
             background-color: Gray;
         }
.x-grid-cell.Red
 {
             background-color: Red;
         }		 
.x-grid-cell.Fuchsia
 {
             background-color: #e000e0;
         }		 
.x-grid-cell.Yellow
 {
             background-color: #ffffc0;
         }		 
.x-grid-cell.Green
 {
             background-color: #a0e0a0;
         }		 
.x-grid-cell.Black
 {
             background-color: Black;
         }		 
.x-grid-cell.deepskyblue
 {
             background-color: deepskyblue;
         }		 
.x-grid-cell.White
 {
             background-color: White;
         }	
.x-grid-cell.Brown
 {
             background-color: Brown;
         }		 
.x-grid-cell.Orange
 {
             background-color: Orange;
         }