/*add by yjn 20171205*/
.x-grid3-header-inner{
	/*border: 1px solid black;
	text-align:center; */
}  
.x-grid3-hd-row td.x-grid3-summary-hd-row td,x-grid3-cell {
	border:1px solid black;	
}
.x-grid3-cell-inner{
	border: 1px solid #A2B5CD;    
    border-left: 0px;
    border-image: none;	
    margin:0;
	padding:0;
	text-align:left;   
	height:18px;
	text-overflow:ellipsis;
}     
.x-grid3-row td, .x-grid3-summary-row td{   
    /*padding-right: 0px;*/
    padding: 0px;
}    
.x-grid3-row {   
    border-top-width: 0px;   
    border-bottom-width: 0px;   
}   
.x-grid3-row.abnormal{
	background:red;
}
/*下拉框的字体大小调整*/
 .x-form-text, .x-form-field{
	font-size:16px;
}
