/*.tabs-header, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner, .tabs-panels, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool{
	border-color: #FFF;
}
.tabs-header, .tabs-tool{
	background-color: #FFF;
}
.tabs li a.tabs-inner {
    color: #31B1FF;
    filter: none;
    border-radius: 0px;
    background: #FFF;
    border-width: 3px 0px 0px;
    border-top: #FFF;
}

.tabs-header {
	padding-top: 0;
    border-top-width: 0;
}
.tabs li.tabs-selected a.tabs-inner{
	border:0 solid;
	border-bottom: 3px solid #31B1FF;
}
.tabs li a.tabs-inner{
	border-radius:0px;
}
.tabs li.tabs-selected a.tabs-inner, .tabs li.tabs-selected a.tabs-inner:hover,.tabs li a.tabs-inner:hover {
	background: #FFF;
    color: #31B1FF;
    font-weight: 400;
}
.tabs-inner{
	height:33px !important;
	line-height:33px !important;
}
.tabs li:not(:last-child)::after{
	content: '';
    display: inline-block;
    height: 20px;
    width: 0;
    vertical-align: middle;
    border-left: 0px;
    border-right: 0px;
    margin-left: 1px;
}
.panel-body, .panel-header{
	border-color:#ccc;
}*/
.celllabel{ font-family: "Œ¢»Ì—≈∫⁄";height:25px; padding: 0; margin: 0; line-height: 25px;} 
.celllabel h3{font-size: 14px; font-weight: bold;  padding: 0; margin: 0; color:#000}
.celllabel h3 span{font-size:14px; padding-right:5px;}
.celllabel h4{font-size:14px;color:#000}

.presc-col{
	margin-left:15px;
	color:#40A2DE;
}

.presc-text{
	margin-left:5px;
}

.presc-no{
	margin-left:5px;
	color:#40A2DE;
}

.presc-pre{
	margin:5px 0px 0px 11px;
	font-size:12px;
}

.presc-drug{
	padding:10px;
	font-size:12px;
}

.presc-use{
	margin-left:35px;
}

.presc-drug:first-child {
	margin-left: -1px;
}

/* inline-block ”–º‰œ∂,¥Û∏≈4px */
.presc-res {
	display: inline-block;
	margin-left: 10px;
	/*padding-left: 10px;*/

	vertical-align: middle;
}
.presc-row {
	margin-top:10px;
	padding:10px;
	border:1px dashed #ccc;
}
.warn-row{
	padding-top:5px;
}
.itemlabel-xh{
	width:16px;
	height:16px;
	line-height:16px;
	margin:6px 0 0 2px;
	text-align:align;
	border:1px solid #ccc;
	display:inline-block;
	border-radius:50%;
}
.itemlabel-xh div {
	margin: 0 4px;
	font-size: 12px;	
}
.warn-bg{
	color:#fff;
	background:#FF6347;
	border:1px solid #FF6347;
}

.remind-bg{
	color:#fff;
	background:#FFA500;
	border:1px solid #FFA500;
}
.tips-bg{
	color:#fff;
	background:#FFA500;
	border:1px solid #FFA500;
}
.normal-bg{
	color:#fff;
	background:#3AB873;
	border:1px solid #3AB873;
}
.forbid-bg{
	color:#fff;
	background:#333333;
	border:1px solid #333333;
}
.forbid{
	color:#333333;
}
.warn{
	color:#FF6347;
}
.normal{
	color:#3AB873;
}
.tips{
	color:#FFA500;
}
.icon-paper-pen-blue{
	margin-left:10px;
}

.entrust{
	position:relative;
	/*padding:10px;*/
	overflow:hidden;
}

.contmore{
	position:relative;
	/*padding:10px;*/
	overflow:hidden;
	padding:5px 5px 0px 45px;
}
.toggle-btn{
	float:right;
	padding-right: 38px;
	display: inline-block;
	line-height: 30px;
	background: url(../images/fa-angle-double-down_40a2de_12.png) no-repeat center;
	cursor: pointer;
}

#dasline{
	border-bottom-color:#cccccc;
	border-bottom-width:1px; 
	border-bottom-style:dashed;
	margin:0 auto;
	width:500px;
}

#docname{
	margin-left:100px;
	font-weight:bold;
}

.doc{
	background: url(../images/doc.png) no-repeat center;
}

/*ºÏ—È*/
.r-label{
	padding-left: 10px;
}
#msgnum{
	background: #ff5219;
    color: #fff;
    position: absolute;
    top: 32px;
    left: 144px;
    border-radius: 10px;
    font-size: 10px;
    width: 15px;
    line-height: 15px;
    text-align: center;
}

.tdtext{
	  margin:5px 10px 0 0; 
	  text-align:right;
	  color:#666666;
}

.tdwidth{
	
}
	