body{
	background:#F5F5F5;
	padding:20px;
}
/*title*/
.tag-icon{
	width:8px;
	height:20px;
	background:#017AEC;
	float:left;
	margin:20px 10px 0 20px;
}
.tag-text{
	float:left;	
	padding-top: 20px;
    font-size: 18px;
}
/*nav*/
ul,li{
	margin:0px;
	padding:0px;
}
li {
	list-style-type:none;
}
ul li:nth-child(1){
	background: url(../images/hos_hosp_center.png) center center no-repeat;
	background-size:cover;
}
ul li:nth-child(2){  
	background: url(../images/hos_drug_bgcolor.png) center center no-repeat; 
	background-size:cover;
}
ul li:nth-child(3){
	background: url(../images/hos_bgcolor.png) center center no-repeat; 
	background-size:cover;
}
ul li:nth-child(4){
	background: url(../images/hos_right.png) center center no-repeat;
	background-size:cover;
}
ul li:nth-child(5){  
	background: url(../images/hos_drug_bgcolor.png) center center no-repeat; 
	background-size:cover;
}
ul li:nth-child(6){
	background: url(../images/hos_bgcolor.png) center center no-repeat; 
	background-size:cover;
}
.heading{
	width:100%;
	height:60px;
}
.pf-nav {
	float: left;
}
.pf-nav-item{
	position:relative;
	float:left;
	width:200px;
	height:100px;
	padding-left:10px;
}
.item-left{
	position:absolute;
	top:0px;
	left:23px;
	width:97px;
	bottom:0px;
}
.item-text{
	position:absolute;
	top:21px;
	left:110px;
	width:80px;
	bottom:18px;
}
.item-warn{
	position:absolute;
	top:35px;
	left:-5px;
	color:#FFF;
	font-size:12px;
	width:80px;
}
.item-num{
	position:absolute;
	left:10px;
	bottom:38px;
	color:#FFF;
	font-weight:400;
	font-size:4px;
	transform: scale(1.6,2.3);	
}
.item-uom{
	position:absolute;
	top:10px;
	left:30px;
	height:25px;
	color:#FFF;
	font-size:12px;
}
.total-left{
	background: url(../images/hos_hosp.png) center center no-repeat;
	background-size:50%;
}
.inter-left{
	background: url(../images/hos_drug.png) center center no-repeat;
	background-size:50%;
}
.taboo-left{
	background: url(../images/hos_medicine2.png) center center no-repeat;
	background-size:50%;
}
.usage-left{
	background: url(../images/hos_medicine1.png) center center no-repeat;
	background-size:50%;
}
.chinese-left{
	background: url(../images/hos_medicine1.png) center center no-repeat;
	background-size:50%;
}
.pharc-left{
	background: url(../images/hos_jfnum.png) center center no-repeat;
	background-size:50%;
}