.spanTitle{
	color:#6c6c6c;	
}
.itmDiv{
	line-height:22px;	
}
.itmDrug{
	color:#1d7de4;
}

.itm_title {
    font-weight: bold;
    color: #000;
    font-size: 13px;
    line-height: 30px;
    padding-left: 14px;
    /*width: 100px;*/
}

.itmValueItm{
	display: inline-block;
    width: 115px;
    margin-left: 5px;
}

.lim_dot_pat{
	height:70px;
	padding: 14px;	
}

.lim_dot_pno, .lim_dot_ploc, .lim_dot_pdoc {
    color: #757575;
    font-size: 14px;
}

.lim_dot_pname{
	position: absolute;
    left: 50px;
    font-size: 16px;
    font-weight: 400;
    font-size: 18px;
    font-weight: 600;
    top: -4px;
}

.lim_dot_pinfo,.lim_dot_diag{
	position: relative;	
}
.lim_dot_psex{
	position: absolute;
    left: 115px;
    font-size: 14px;
    font-weight: 500;
    top: 1px;
}
.lim_dot_page{
	position: absolute;
    left: 140px;
    font-size: 14px;
    font-weight: 500;
    top: 1px;
}
.lim_dot_pno{
	position: absolute;
	left:200px;
}
.lim_dot_ploc{
	position: absolute;
    top: 20px;
    left: 50px;
}
.lim_dot_pdoc{
	position: absolute;
    top: 20px;
    left: 200px;
}


.lim_dot_dtitle{
	font-weight: 600;
    font-size: 14px;	
}

.lim_dot_dtext{
	position: absolute;	
	left: 50px;
    font-size: 14px;
    color: #e9a75b;
}

.lim_dot_presc{
	height: 544px;
	padding: 0px 15px;
	overflow: auto;	
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #A9CBE1; 
    -webkit-box-shadow: inset 0 0 6px #ddd; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}