/* 设置报告全局样式 */
/* dhcpeireport.normal.css
	A4大小 210mm*297mm
	lodop打印时，一般会在js中设置 Top,Left,Width,Height，且不同打印机的实际打印尺寸不一样
	所以以下class设置的宽度需要按实际来调整 page rptpage human-div
	198*285
 */
.page {
	width: 180mm;
	margin: 0 auto;
}

.rptbase {
    width: 180mm;
    margin: 0mm;
    table-layout: fixed;
    font-family: 宋体;
}

.rptpage {
    width: 180mm;
    margin: 0mm;
    table-layout: fixed;
    font-family: 宋体;
    page-break-after: always;
}

.rpttitle {
	text-align:center;
	font-size:24pt;
	font-family:隶书;
}

table {
	border-collapse: collapse;
}

/* 封面样式 */
.cover {
	font-size:12pt;
}

.cover-info {
	width: 70%;
	margin: 0 auto;
	position: relative;
	top: 0;
	/* left: 30mm; */
}

.cover-info-tab {
	width: 75%;
	margin: 0 auto;
	line-height: 16pt;
}

.cover-info-text {
	width: 23.5mm;
	text-align: right;
	font-weight: bold;
}

.cover-info-val {
	text-align: center;
	border-bottom: 1pt solid #000000;
}

/* 报告首页样式 */
.home-info-table {
	width: 90%;
	left: 5%;
    position: relative;
    line-height: 18pt;
}

.home-info-text {
	text-align: center;
	font-weight: bold;
	border: 1pt solid #000000;
}

.home-info-val {
	text-align: center;
	border: 1pt solid #000000;
}

.home-info-illval {
	border-top: 1pt solid #000000;
	height: 50pt;
	vertical-align: top;
}

/* 说明样式 */
.explain-normal {
	font-size:14pt;
	font-family:宋体;
	margin:2pt auto; /* <p>之间的间距 */
}

.explain-normal-first {
	font-size:14pt;
	font-family:宋体;
	margin:2pt auto; /* <p>之间的间距 */
	text-indent:2em; /* 首行缩进 */
}

.explain-bold {
	font-size:14pt;
	font-family:宋体;
	font-weight: bold;
	margin:2pt auto; /* <p>之间的间距 */
}

.explain-item-table {
	width: 90%;
	left: 5%;
    position: relative;
    line-height: 18pt;
    font-size:12pt;
}

.explain-item-table tr th, .explain-item-table tr td {
	text-align: center;
	border: 1pt solid #000000;
}

/* 人体图样式 */
.human-div {
    width: 180mm;
    position: relative;
    page-break-after: always;
}

.human-img {
    margin: 5mm;
	width: 100%;
}

.human-flag {
	position: absolute;
	width: 4mm;
}

/* 阳性体征 */
.positive-text {
	line-height: 16pt;
	font-size: 12pt;
}

/* 疾病解释 */
.illexplain-text {
	line-height: 16pt;
	font-size: 12pt;
}

/* 总检结论与建议 */
.summary-con {
	margin: 1pt 0;
	line-height: 14pt;
	font-size: 12pt;
	font-weight: 700;
}

.summary-adv {
	margin: 1pt 0;
	line-height: 14pt;
	font-size: 12pt;
	text-align: justify; /* 两端对齐 */
}

.summary-foot {
	text-align: right;
	font-weight: 700;
}

.summary-doc {
	width: 90pt;
    display: inline-block;
	text-align: left;
}

/* 体检结果 */
.rlt-table {
	width: 100%;
	font-size: 12pt;
}

.rlt-title {
	background-color: #ccc;
	font-size: 14pt;
	height: 18pt;
    vertical-align: middle;
	font-weight: 700;
}

.rlt-title td {
	border-top: 1pt solid #000000;
	border-bottom: 1pt solid #000000;
}

.rlt-head {
	font-size: 13pt;
	font-weight: 700;
}

.rlt-head td {
	border-top: 1pt solid #000000;
	border-bottom: 1pt solid #000000;
}

.rlt-content{
}

.rlt-content-txt {
	text-align: right;
	font-weight: 700;
}

.rlt-content-val {
	text-align: center;
}

.rlt-content-abn {/* 异常结果 */
	color: red;
}

.rlt-foot {
	text-align: right;
	font-weight: 700;
}