
/*--设置表单的宽度,以及上下左右的间距(适用于一列排列表单控件)--*/
/*#myAddInforForm div{
		height:30px;
		margin:10px 0px;
}
#myAddInforForm label {
	margin:0px 10px 0px 0px;
	width:70px;
	display:inline-block;
	text-align:right;
}*/

.toolbarText{
	padding-right:10px;
	
}
.my-interface {
	padding:0px;
}
/*--消息框中最上面显示--*/
.my-interface .messager-popover{
	z-index:100;
}
/*--为toolbar增加padding--*/
.my-interface .myToolBar{
	padding:2px;
}
/*--为表格加padding--*/
/*.my-interface .myTableStyle{
	padding:10px;
}*/
/*.my-interface div.datagrid div.tbPadding {
	padding:4px;
}*/
/*--去掉标题框上的下面的border--*/
.my-interface>div.panel>div.panel-body>div.panel>div.panel-header{
	border-bottom:none;
}
/*.my-interface div.datagrid div.searchboxRight{
	padding-bottom:2px;
	padding-top:2px;
}*/
/*--多个检索条件之间的间隔--*/
.my-interface .searchInterval{
	padding-left:4px;
}

/*--下拉框蓝色框不能显示正方形--*/
input:not([type="image"]),textarea,select{
	box-sizing:content-box !important;
}

/*--检索框右对齐,调整检索框上下局中--*/
.my-interface div.datagrid div.searchboxRight span.searchbox{
	position:absolute;
	right:2px;
	top:50%;
	margin-top:-15px;
}
/*--检索框右对齐,调整检索框上下局中(只有一个面板的情况)--*/
.my-interface div.datagrid div.searchboxOneRight span.searchbox{
	position:absolute;
	right:2px;
	top:50%;
	margin-top:-15px;
}
/*--toolbar只有检索框时,右对齐--*/
.my-interface .onlySearchboxForRight{
	text-align:right;
}

/*--调整检索框的高度--*/
/*.my-interface div.datagrid div.toolbarsearchbox span.searchbox{
	height:24px !important;
}*/
/*--调整检索框的输入框部分的高度--*/
/*.my-interface div.datagrid div.toolbarsearchbox span.searchbox input{
	height:24px !important;
}*/
/*--调整检索框的按钮部分的高度与宽度--*/
/*.my-interface div.datagrid div.toolbarsearchbox span.searchbox-button{
	height:24px !important;
	width:24px !important;
}*/
/*--去掉弹出框按钮上面的横线--*/
.my-interface>div.panel.window>div>div.dialog-button{
	border:none;
}
/*--调整弹出框所在的底部框的背景色，以及让两个按钮局中--*/
.my-interface div.dialog-button{
	text-align: center;
	background-color:#fff;
}
/*--调整弹出框按钮间距--*/
.my-interface div.dialog-button a {
	margin-left:15px;
	margin-right:15px
}
/*--修改弹出框的上下间距--*/
.my-interface .dialog-button{
	padding:0px 5px 10px 5px;
}
/*--调整表格的四个角的弧度--*/
.my-interface div.datagrid {
	border-radius:4px;
}
/*--调整表格的边框样式--*/
.my-interface div.datagrid .panel-body {
	border:1px solid #ddd;
}
/*--调整整个表格里面的边线的颜色--*/
.my-interface div.datagrid .datagrid-header td{
	border-color:#ddd;
}
.my-interface div.datagrid .datagrid-body td {
	border-color:#ddd;
}
.my-interface div.datagrid .datagrid-footer td{
	border-color:#ddd;
}
.my-interface div.datagrid div.datagrid-body tbody{
	border-color:#ddd;
}

/*--调整toolbar工具栏的背景色--*/
.my-interface div.datagrid div.datagrid-toolbar{
	background: #FFFFFF;
	padding:3px 3px;
	position:relative;
}
/*--调整表格底部的非关键信息文字的颜色--*/
.my-interface div.datagrid div.datagrid-pager>div.pagination-info {
	color:#666;
}
.my-interface div.datagrid div.datagrid-pager>table>tbody>tr>td>span{
	color:#666;
}
/*--调整鼠标移到表格的内容上的显示颜色--*/
.my-interface div.datagrid table>tbody>tr.datagrid-row-over {
	background:#d9e7f1;
	color:#000;
}
/*--调整鼠标移到表格的表头上的显示颜色--*/
.my-interface div.datagrid table>tbody>tr>td.datagrid-header-over {
	background:#d9e7f1;
	color:#000;
}
/*--调整表格的表头以及行的高度--*/
.my-interface div.datagrid table>tbody>tr.datagrid-header-row {
	height:34px;
}
.my-interface div.datagrid table>tbody>tr.datagrid-row {
	height:34px;
}

/*--当单元格内的内容过长时，超出单元格部分用...表示--*/
#verylongText{
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.my-interface .hisui-linkbutton.l-btn-disabled {
    background: #ffffff;
    color: #444;
    
}
/*panel-header应该是蓝色的。

.my-interface>div>div>div>div.panel-header{
	background: #ffffff;
    color: #444;
}
*/
/*--统一标签格式--*/
.myFormShow>div{
	margin:10px 0px;
	height:30px;
}
.myFormShow label {
	margin:0px 6px 0px 10px;
	width:70px;
	display:inline-block;
	text-align:right;
}
/*--end--*/

/*--下拉框下拉列表设置高度(解决为空时高度不正常的问题)--*/
.my-interface .combobox-item{
	height:24px;
	line-height:24px;
}

/*--只有一个面板的界面去掉边框--*/
.my-oneInterface div.layout-panel-center div.datagrid-wrap.panel-body{
	border-top:none;
	border-right:none;
	border-left:none;
}

/*--解决弹出框下划线重叠的问题--*/
.my-interface .withoutBottomLine div.panel-header.panel-header-gray{
	border-bottom:none;
}
/*--toolbar间距修改,明明是4pxUI组同事非要说是3px，犟不过，泣血修改--*/
.my-interface .toolbarSpacing{
	padding:4px !important;
}
/*--防止popover出现滚动条--*/
.my-interface .webui-popover-content{
	overflow:hidden;
}