<div class="hisui-layout" data-options="fit:true">
	<div data-options="region:'center',border:false,collapsible:false" style="padding:10px;">
		<div class="hisui-panel" data-options="fit:'true',border:false" style="overflow:hidden">
			<div class="hisui-layout" data-options="fit:true,border:false" scrolling="no">
				<div data-options="region:'center',border:false,collapsible:false">
					<div class="hisui-layout" data-options="fit:true,border:false" scrolling="no">
						<div data-options="region:'center',border:false,collapsible:false">
							<div id = "divNoResult" class="no-result"></div>
							<div id = "divMian">
							</div>
						</div>
						<div data-options="region:'south',border:false,split:true" style="height:38px;">
							<div id = "divPage" class="hisui-pagination" style="background:#efefef;border:1px solid #ccc;"></div>
						</div>
					</div>	
				</div>
				<div data-options="region:'west',border:false,collapsible:false" style="width:250px;padding:0 10px 0 0;">
					<div class="hisui-panel" data-options="fit:'true',title:'病程记录',headerCls:'panel-header-gray',iconCls:'icon-paper',">
						<div class="sidebar-menu" id="divPanel">
							<ul id="ulDateList" class="treeview-menu"></ul>
						</div>
					</div>
				</div>   
				
			</div>
		</div>
	</div> 
</div>