li {
	font-size:14px;
	padding-bottom:5px;
}

.patItem {
	float:right;
	padding-right:10px;
	padding-bottom:5px;
	padding-top:5px;
}

.checkButton {
	padding:5px;
	float:left;
}

.checkingItem {
	padding-bottom:5px;
}

.label_on { border:1px solid green; }
.label_off { border:0px solid green; }

.linetextbox {
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom:1px solid;
	padding-left:5px;
}
.contentRow{
	height:70px;
}

.countRecordInfo{
	height:630px;
	border:none;
	float:left;
}
.anopInfoContent{
	padding:5px;
	font-size:14px;
	font-family:"Î¢ÈíÑÅºÚ";
}

.content{
	padding-left:5px;
	font-size:14px;
	font-family:"Î¢ÈíÑÅºÚ";
}
#packageInfo{
	float:left;
	font-family:"Î¢ÈíÑÅºÚ";
	border:none;
}
.infoArea{
	width:660px;
	font-family:"Î¢ÈíÑÅºÚ";
	float:left;
}
#main{
	width:1140px;
	font-size:14px;
	font-family:"Î¢ÈíÑÅºÚ";
}
.panel-body{
	font-size:14px;
	font-family:"Î¢ÈíÑÅºÚ";
}
.datagrid-header .datagrid-cell span{
	font-size:14px;
}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{
	font-size:14px;
}
.l-btn-text{
	font-size:14px;
}
.panel-body-noheader{
	border-top:none;
}
.panel-title{
	font-size:14px;
}
.icon-opercount {
    background-image:url(../img/opercount.png) !important;
}
.icon-packinfo {
    background-image:url(../img/PackInfo.png) !important;
}
.icon-bloodinfo {
    background-image:url(../img/Blood.png) !important;
}
.icon-signinfo {
    background-image:url(../img/sign.png) !important;
}
.textbox .textbox-text{
	padding:0;
}