li {
	font-size:14px;
	padding-bottom:10px;
}

.patItem {
	float:left;
	padding-left:10px;
}

.checkButton {
	padding:10px;
	float:left;
}

.checkingItem {
	padding-bottom:5px;
}

.label_on { border:2px solid green; }
.label_off { border:0px solid green; }

table {
	margin-left: 5px;
	margin-top: 5px;
}

tr {
	height: 22px;

}

td {
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 14px;
}

.boxTitle {
	font-weight: bold;
	font-size: 14px;
}

.lineTextBox {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid;
}
.contentArea{
	margin:0 0 5px 0;
	width:1120px;
}