
.row-even{
	background-color: #e0eeff;
}

.row-odd{
	background-color: #f0f0f0;
}

.row-error{
	background-color: #ffe0e0;
}

.ui-menu-item
{
	float:left;
}
.searchheader
{
	position:relative;
	margin-bottom:10px;
	min-height:120px;
}
span.date-item
{
	color:#FF0000;
}
span.date-para-item
{
	margin:5px 10px 5px 10px;
	padding:5px 10px 5px 10px;
	line-height:2;
	background-color:#CCCCFF;
	border:solid #9999FF;
	border-width:1px 1px 1px 1px;
}
span.date-para-item:hover
{
	background-color:#DDDDFF;
}
span.data-filter
{
	background-color:#EEEE00;
}
input.require
{
	border:solid #FF0000;
	border-width:1px 1px 1px 1px;
}
button.ui-button:disabled
{
	color:#CCCCCC;
}
.banner
{
	height:1px;
	background-color:#CCCCCC;
	margin-bottom:10px;
}
.sider
{
	float:right;
	height:500px;
	width:150px;
	border:solid #CCCCCC;
	border-width:1px;
}
.tb-chart-data td
{
	border:solid #add9c0;
	border-width:0px 1px 1px 0px;
	padding:5px 0px;
	text-align:center;
}
.tb-chart-data th
{
	border:solid #add9c0;
	border-width:0px 1px 1px 0px;
	padding:10px 0px;
}
.th-header
{
	margin:0 30px 0 30px;
}
table.tb-chart-data
{
	border:solid #add9c0;
	border-width:1px 0px 0px 1px;
	background-color:#DDDDFF;
	font-size:smaller;
}
.list-anop_select
{
	font-size: 17px;
	font-weight: bold;
}

@media print{
	.noprint{
		display:none;
	}
}

.icon-save{background-image:url(../icons/save.gif)!important;}
.icon-search{background-image:url(../icons/search.png)!important;}
.icon-add{background-image:url(../icons/add.gif)!important;}
.icon-delete{background-image:url(../icons/delete.gif)!important;}
.icon-printer{background-image:url(../icons/printer.png)!important;}
.icon-grid{background-image:url(../icons/grid.png)!important;}
.icon-arrow_refresh{background-image:url(../icons/arrow_refresh.png)!important;}
.icon-application{background-image:url(../icons/application.png)!important;}
.icon-application_view_list{background-image:url(../icons/application_view_list.png)!important;}
.icon-application_get{background-image:url(../icons/application_get.png)!important;}
.icon-application_go{background-image:url(../icons/application_go.png)!important;}
.icon-table_save{background-image:url(../icons/table_save.png)!important;}
.icon-add{background-image:url(../icons/add.gif)!important;}
.icon-table_edit{background-image:url(../icons/table_edit.png)!important;}
.icon-arrow_up{background-image:url(../icons/arrow_up.png)!important;}
.icon-arrow_down{background-image:url(../icons/arrow_down.png)!important;}
.icon-arrow_switch{background-image:url(../icons/arrow_switch.png)!important;}
.icon-page_excel{background-image:url(../icons/page_excel.png)!important;}
.icon-wrench{background-image:url(../icons/wrench.png)!important;}
.icon-server_chart{background-image:url(../icons/server_chart.png)!important;}
.icon-chart_bar{background-image:url(../icons/chart_bar.png)!important;}
.icon-chart_line{background-image:url(../icons/chart_line.png)!important;}
.icon-chart_line_link{background-image:url(../icons/chart_line_link.png)!important;}
.icon-chart_pie{background-image:url(../icons/chart_pie.png)!important;}
.icon-table_delete{background-image:url(../icons/table_delete.png)!important;}
.icon-bullet_cross{background-image:url(../icons/bullet_cross.png)!important;}