@media screen {
	BODY
	{
	    SCROLLBAR-FACE-COLOR: #f5f5f5;
	    FONT-SIZE: 9pt;
	    MARGIN: 0px;
	    SCROLLBAR-HIGHLIGHT-COLOR: #fff;
	    SCROLLBAR-SHADOW-COLOR: #aaa;
	    COLOR: black;
	    SCROLLBAR-3DLIGHT-COLOR: #aaa;
	    SCROLLBAR-ARROW-COLOR: #007cff;
	    SCROLLBAR-TRACK-COLOR: #e5e5e5;
	    FONT-FAMILY: Tahoma, "宋体";
	    SCROLLBAR-DARKSHADOW-COLOR: #e5e5e5;
	    BACKGROUND-COLOR:#dee8f6/*#f4f4f4*/;
		overflow-y:scroll;
		overflow-x:auto;

	}
	.tbToolbar
	{
	font-size:9pt;
	/*BORDER-RIGHT: 1px ridge;
	    BORDER-TOP: 1px ridge;
	    BORDER-LEFT: 1px ridge;
	    BORDER-BOTTOM: 1px ridge;*/
		
		WIDTH: 100%;
	COLOR: black;
	FONT-FAMILY: Tahoma, "宋体";
	HEIGHT: 27px;
	background-image: url(../images/bg_tbToolbar.jpg);
	padding-left: 30px;	/*BACKGROUND-COLOR: #e4e4e4;/*#336799;/*99336B*/
			
		
		
	}
	.tbMenu
	{
	CURSOR: default;
	font-size:9pt;
	FONT-FAMILY: Tahoma, "宋体";
	COLOR: #000;
	/*BACKGROUND-COLOR:#e4e4e4;/*#336799/*99336B*/;
	/*background-image: url(../images/bg_menu.jpg);*/
	padding: 1px;
	
	}
	.tbMenuHighlight
	{
	    font-size:9pt;
		/*BORDER-RIGHT: #336799/*99336B*/ /*1px solid;
	    PADDING-RIGHT: 1px;
	    BORDER-TOP: white 1px solid;
	    PADDING-LEFT: 1px;
	    
	    PADDING-BOTTOM: 1px;
	    BORDER-LEFT: white 1px solid;*/
	    CURSOR: default;
	    /*PADDING-TOP: 1px;
	    BORDER-BOTTOM: #336799/*99336B*/ /*1px solid;*/
	    FONT-FAMILY: Tahoma, "宋体";
	    COLOR: #fd7201/*99336B*/;
		padding: 1px;
		/*text-decoration:underline;*/
	}
	
	
	.tbMenu A
	{
	    FONT-SIZE: 9pt;
	    /*COLOR: #336799/*99336B*/;
	    FONT-FAMILY: Tahoma, "宋体";
	    TEXT-DECORATION: none;
	}
	.tbMenu A:hover
	{
	FONT-SIZE: 9pt;
	/*COLOR: yellow;*/
	FONT-FAMILY: Tahoma, "宋体";
	TEXT-DECORATION: none;
	}
	.tbMenuItemHide
	{
	DISPLAY: none;
	FONT-SIZE: 9pt;
	FONT-FAMILY: Tahoma, "宋体";
	
	}
	.tbMenuItem
	{
	/*BORDER-RIGHT: #336799/*99336B*/ /*1px solid;
	   BORDER-TOP: white 1px solid;
	   BORDER-LEFT: white 1px solid;
	   BORDER-BOTTOM: #336799/*99336B*/ /*1px solid;
	   PADDING-RIGHT: 2px;	   
	   PADDING-LEFT: 2px;	   
	   PADDING-BOTTOM: 2px;
	   PADDING-TOP: 2px;*/
	   
	FONT-SIZE: 9pt;
	CURSOR: default;
	/*COLOR: #336799/*99336B*/;
	FONT-FAMILY: Tahoma, "宋体";
	POSITION:  absolute;
	BACKGROUND-COLOR:#e0e0e0/*#f0f0f0/*#4f93d5/*#547fa9/* #336799/*99336B*/;
	TEXT-DECORATION: none;
	border: 1px solid #afd5e8;
	background-image: url(../images/tbmenu_bg.jpg);
	}
	
	.tbMenuItem A
	{
	FONT-SIZE: 9pt;
	COLOR: #000;
	FONT-FAMILY: Tahoma, "宋体";
	TEXT-DECORATION: none;
	height:23px;
	padding-left: 10px;
	margin-right: 10px;
	}
	.tbMenuItem A:hover
	{
	FONT-SIZE: 9pt;
	COLOR:#fd7201/*red /*#003cff 下拉菜单 鼠标放上去的颜色*/;
	FONT-FAMILY: Tahoma, "宋体";
	/*BACKGROUND-COLOR: #ececec/*f0f0f0/*#4085c9/*#5581aa*/;
	/*TEXT-DECORATION: underline;*/	
	background-image: url(../images/tbmenu_a_bg.jpg);
	background-repeat: repeat-x;
	/*border: 1px solid c5c5c5;*/
	
	}
	.tbToolbar TD
	{
		COLOR: white;
	}
	.tbToolbar TD A
	{
	    COLOR: #000;
  	}

	.clsLookUp
 	{
	    BACKGROUND-COLOR: #f9f9f9/**ffff99**/;
	}
	
	#tblLookup TD
	{
		PADDING-LEFT:2pt;
		PADDING-RIGHT:2pt;
		FONT-SIZE: 8pt;
		COLOR: black;
		FONT-FAMILY: Tahoma;
		CURSOR: hand;
	}
	.clsLookup TH
	{
		COLOR: white;
		FONT-WEIGHT: bold;
		TEXT-ALIGN: left;
	}
	.clsLookUpSelected TD
	{ 
	    BACKGROUND-COLOR:/*#99CCFF#ffcc33;#0a246a;*/  #F7FBFF;
	}


	.clsLookUpDate
	{
	BACKGROUND-COLOR:#ffffff; /*#a6b9ec*/

	/*background-image:url(../images/clsLookUpDatebg.gif);
	background-repeat: repeat-x;
	background-position: TOP;*/

	COLOR: #000;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center;
	CURSOR: hand;
	
	}


	.clsLookUpDateDayTitle
	{

		background-image:url(../images/clsLookUpDateDayTitlebg.gif);
		color:#233d6d/*#ffffff*/;
		TEXT-ALIGN: center;
		FONT-SIZE: 9pt;
		FONT-WEIGHT: bold;

	    /*BACKGROUND-COLOR: #54a7ff;
	    
	    BORDER: 1px solid #317dcd;*/
	}
	.clsLookUpDateWeekday
	{
	    BACKGROUND-COLOR: #fff/*e9f4ff;
		BORDER: 1px solid #b8dbfe;*/
	    FONT-SIZE: 9pt;
	    PADDING-TOP: 4px;
	    PADDING-RIGHT: 2px;
	}
	.clsLookUpDateWeekend
	{
	    BACKGROUND-COLOR: /*#c1ddff*/#e9f4ff;
	    FONT-SIZE: 9pt;
	    PADDING-TOP: 4px;
	    PADDING-RIGHT: 2px;
	}	
	

	.clsLookUpDateToday
	{
	    BACKGROUND-COLOR: #9dcaff;/*#FFDDCC; /*today*/
		BORDER: 1px solid #d0d0d0;
	    FONT-SIZE: 9pt;
	    PADDING-TOP: 4px;
	    PADDING-RIGHT: 2px;
	}
	

	.clsLookUpDateSelected
	{
	    BACKGROUND-COLOR: #1e3b72;/*ffae00;#ffcc33; date to select*/
	    FONT-SIZE: 9pt;
	    PADDING-TOP: 4px;
	    PADDING-RIGHT: 2px;
		color:#fff;
	}



	
	/*BODY A
	{
		COLOR: #990033;
		TEXT-DECORATION: underline;
	}
	BODY A:active
	{
		COLOR: white;
		BACKGROUND-COLOR: #990033;
	}
	BODY A:hover
	{
		COLOR: #3300ff;
	}*/
	




	a{
	/*FONT-SIZE: 9pt;	
	color:#0081db/*#0000CC*/;
	text-decoration: none;*/


}
	a:hover {
	FONT-SIZE: 9pt;
	color: /*#0066ff8*/#fd7201;
	/*text-decoration: underline;*/
}








	
	BODY FORM
	{
		MARGIN: 0px;
	}
	BODY INPUT
	{
		FONT-SIZE: 9pt;
		border: 1px solid /*#b5b8c8*/#b5b8c8;
		height:22px;
		background-image:url(../images/inputbg.gif);
		background-repeat: repeat-x;
		background-position: top;
	}




	TEXTAREA
	{
		FONT-SIZE: 9pt;
		FONT-FAMILY: Tahoma, "宋体";
		border: 1px solid /*#9d9d9d*/#b5b8c8;
		background-image:url(../images/inputbg.gif);
		background-repeat: repeat-x;
		background-position: top;
	}
	SELECT
	{
	FONT-SIZE: 9pt;
	FONT-FAMILY: Tahoma, "宋体";
	border: 1px solid #9d9d9d;
	background-image:url(../images/inputbg.gif);
		background-repeat: repeat-x;
		background-position: top;
	}
	.disabledField
	{
		BACKGROUND-COLOR: #dddddd;
	}
		.disabledInvisibleField
	{
	    BACKGROUND-COLOR: #dddddd;
	    COLOR: #dddddd;
		}
	.clsReadOnly
	{
		FILTER:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=50);
	}
	.clsInvalid
	{
		COLOR: red;
	}
	.clsRowCalled{
		BACKGROUND-COLOR: #60f807;
	}
	.clsRowWait{
		BACKGROUND-COLOR: #ff80ff;
	}
	TEXTAREA.disabledField
	{
		FONT-SIZE: 8pt;
		FONT-FAMILY: Tahoma;
		BACKGROUND-COLOR: #ffffff;
		COLOR: #888888;
		SCROLLBAR-FACE-COLOR: #cccccc;
		SCROLLBAR-TRACK-COLOR: #cccccc;
		SCROLLBAR-ARROW-COLOR: #eeeeee;
		SCROLLBAR-HIGHLIGHT-COLOR: #eeeeee;
		SCROLLBAR-3DLIGHT-COLOR: #eeeeee;
		SCROLLBAR-SHADOW-COLOR: #666666;
		SCROLLBAR-DARKSHADOW-COLOR: #666666;
	}
	INPUT.clsInvalid
	{
		ZOOM: 1.2;
		BORDER-RIGHT: red 1px solid;
		BORDER-TOP: red 1px solid;
		BORDER-LEFT: red 1px solid;
		BORDER-BOTTOM: red 1px solid;
		BACKGROUND-POSITION: right top;
		BACKGROUND-IMAGE: url(../images/websys/error.gif);
		BACKGROUND-REPEAT: no-repeat;
	}
	INPUT.clsWarning
	{
		ZOOM: 1.2;
		BORDER-RIGHT: blue 1px solid;
		BORDER-TOP: blue 1px solid;
		BORDER-LEFT: blue 1px solid;
		BORDER-BOTTOM: blue 1px solid;
		BACKGROUND-POSITION: right top;
		BACKGROUND-IMAGE: url(../images/websys/exclamation.gif);
		BACKGROUND-REPEAT: no-repeat;
	}
	INPUT.clsInfo
	{
		ZOOM: 1.2;
		BORDER-RIGHT: yellow 1px solid;
		BORDER-TOP: yellow 1px solid;
		BORDER-LEFT: yellow 1px solid;
		BORDER-BOTTOM: yellow 1px solid;
		BACKGROUND-POSITION: right top;
		BACKGROUND-IMAGE: url(../images/websys/information.gif);
		BACKGROUND-REPEAT: no-repeat;
	}
	LABEL.clsRequired
	{
	font-size:9pt;
	background-image: url(../images/Required.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 8px;
	}
	
	
H1
	{
	    TEXT-ALIGN: center;
            TEXT-TRANSFORM: uppercase;
	    DISPLAY: inline;
            FONT-FAMILY: Tahoma, "宋体";
	    FONT-WEIGHT: bold;
            FONT-STYLE: bold;
	    FONT-SIZE: 9pt;
           /* LETTER-SPACING: 2pt;*/
	    COLOR: #000/*darkblue*/;
	    /*BACKGROUND-COLOR: #dfdfff;*/
	}
	H2
	{
	    TEXT-ALIGN: center;
            TEXT-TRANSFORM: uppercase;
	    DISPLAY: normal;
            FONT-FAMILY: Tahoma, "宋体";
	    FONT-WEIGHT: bold;
            FONT-STYLE: bold;
	    FONT-SIZE: 9pt;
            /*LETTER-SPACING: 2pt;*/
 		COLOR: darkblue;
	    /*BACKGROUND-COLOR: #dfdfff;*/
	}
	H3
	{
	    TEXT-ALIGN: left;
	    DISPLAY: inline;
            FONT-FAMILY: Tahoma, "宋体";
	    FONT-WEIGHT: bold;
            FONT-STYLE: bold;
	    FONT-SIZE: 7pt;
 		COLOR: darkblue;
	    BACKGROUND-COLOR: #dfdfff;
	}
	H4
	{
	    TEXT-ALIGN: left;
	    DISPLAY: inline;
            FONT-FAMILY: Tahoma, "宋体";
	    FONT-WEIGHT: normal;
            FONT-STYLE: normal;
	    FONT-SIZE: 7pt;
 		COLOR: darkblue;
	    BACKGROUND-COLOR: #dfdfff;
	}
	H5
	{
	    DISPLAY: inline;
 		COLOR: darkblue;
	    BACKGROUND-COLOR: #dfdfff;
	}
	H6
	{
	    DISPLAY: inline;
          FONT-FAMILY: Tahoma, "宋体";
	    FONT-WEIGHT: normal;
          FONT-STYLE: normal;
	    FONT-SIZE: 9pt;
	    COLOR: black;
	    
	}
	
	
	.maintitle{
	font-size:9pt;
	color:#15428b/*#003fa5/*#000000*/;
	padding-left: 10px;
	width: 100%;
	height:23px;
	background-image: url(../images/maintitle.gif);
	background-repeat: no-repeat;
	font-weight: bold;
	vertical-align: middle;
	text-align: left;
}
.2title{
	d font-size:9pt;
	color:#000;
	font-weight:bold;
	padding-left:30px;
	height:23px;
	background-image: url(../images/title2bg.gif);
	background-repeat: no-repeat;
	vertical-align: top;
}

.logontable{
	background-image:url(../images/logon_bg2.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	height: 328px;
	width: 600px;
}
.logon label{
	font-size: 9pt;
	color: #000/*#1c74b1*/;
}
.logon input {
/*	font-size: 9pt;
	color: #1c74b1;
	background-color: #f0fbfe;
	border: 1px solid #1c74b1;
	height: 20px;
	width: 120px;     */

		FONT-SIZE: 9pt;
		border: 1px solid /*#b5b8c8*/#b5b8c8;
		height:22px;
		background-image:url(../images/inputbg.gif);
		background-repeat: repeat-x;
		background-position: top;
		width: 150px;  




}
	
	
	
	
	
	BODY TABLE
	{
		FONT-SIZE: 8pt;
		COLOR: black;
		/*background-color: #FFFFFF;
		border: 5px solid #FFFFFF;*/
	}
	TH
	{

	font-size: 12px;
	font-weight: normal;
	color: #000000;
	background-image: url(../images/th_bg.gif);
	height:25px;
	text-align: left;
	padding-left: 6px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;



		/*BORDER-RIGHT: 1px ridge;
		BORDER-TOP: 1px ridge;
		BORDER-BOTTOM: 1px ridge;
		BORDER-LEFT: 1px ridge;
		FONT-WEIGHT: lighter;
		COLOR: #000;
		BACKGROUND-COLOR: #336699;
		color: #000;
		BACKGROUND-IMAGE: url(/images/th_bg.gif);
		height:25px;
		TEXT-ALIGN: left;*/



	}
	TD.CellCaption
	{
	COLOR: black;
	/*BACKGROUND-COLOR:#ffffff;/* #d8e3f4*/
	/*border: 1px solid #3785d2;*/	
	}
	TD.CellData
	{
		COLOR: black;
		/*BACKGROUND-COLOR: #cfcfff;*/
	}
	TD
	{
	MARGIN: 0px;
	padding: 2px;
	}
	/********************************dhc clinic add begin********************************/
	TR.UnPaid
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #d0ffff;
	}
	TR.Immediate
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: palegreen;
	}
	TR.LackOfFee
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #e000e0;/*fuchsia;*/
	}
	TR.SkinTest
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #e00000;/*red;*/
	}
	TR.Discontinue
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: deepskyblue;
	}
	TR.TempTest
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #b0ffb0;/*#80c0ff;*/
	}
	TR.ExecDiscon
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #8080c0;
	}
	TR.Temp
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #ffffc0; 
	}
	TR.LongNew
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #ffc0c0;
	}
	TR.Needless
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: white;
    }
	TR.Exec
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #dfdfff;
    }
	TR.PreDiscon
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #a0a0a0;
    }
	TR.LongUnnew
    {
        PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #ffd0ff;
    }
	TD.Green
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #a0e0a0; /*palegreen;*/
	}
	TD.Red
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #e00000;/*red;*/
	}
	TD.Blue
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: deepskyblue;
	}
	TD.White
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: white;
	}
	TD.Black
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: black;
            color: white 
	}
	TD.Fuchsia
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #e000e0;/*fuchsia;*/
	}
	TD.Yellow
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #ffffc0;/*#ffffe0;yellow;*/
	}
	TD.Gray
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: gray;
	}
	TD.Brown
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: brown;
            color: white;
	}
	TD.Purple
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: purple;
            color: yellow;
	}	
	TD.Orange
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: orange;
	}

	/********************************dhc clinic add end********************************/
.RowOdd
	{
	PADDING-LEFT: 5px;
	/*background-image: url(../images/bg_line.jpg);
	background-repeat: repeat-x;
	background-position: bottom;*/
	background-color: #FFFFFF;
	}
.RowEven
	{
	PADDING-LEFT: 5px;
	/*background-image: url(../images/bg_line.jpg);
	background-repeat: repeat-x;
	background-position: bottom;*/
	background-color: #F7FBFF/*#fff*/;
	}
	
	
TR.RowSelColor
	{
	    BACKGROUND-COLOR: #ffff99;
	}
TR.OldBackColor
	{
	    BACKGROUND-COLOR: #ddddff;
	}
TR.RedColor
	{
	    BACKGROUND-COLOR: Red;
	}
TR.RowEven1
	{
	    /*BACKGROUND-COLOR: #cfcfff;/*#ffffcc;*/
	PADDING-LEFT: 5px;
	/*background-image: url(../images/bg_line.jpg);
	background-repeat: repeat-x;
	background-position: bottom;*/
	background-color:#fff/* #F7FBFF*/;
	}
TR.RowOdd1
	{
	    /*BACKGROUND-COLOR: #dfdfff;/*#ffff99;*/
	PADDING-LEFT: 5px;
	/*background-image: url(../images/bg_line.jpg);
	background-repeat: repeat-x;
	background-position: bottom;*/
	background-color: #FFFFFF;
	}
	
	
.clsRowSelected
	{
	BACKGROUND-COLOR: #dfe8f6/*#b6d8fb/*#3885d4/*005dc5/*0a246a/*eeea88*/;
	color:#000;
	
	}

.clsRowSelected td{
	border-top: 1px dotted #a3bae9;
	border-bottom: 1px dotted #a3bae9;
	/*margin: -2px;*/
	}

	.clsRowDisabled
	{
		BACKGROUND-COLOR: Silver;
	}


	table.tbllist
	{
	background-color: #FFFFFF;
	border: 5px solid #FFFFFF;
	}
	tbllist td
	{
	padding:10px;}
	.tblList A
	{
	    COLOR: #0033CC/*#990033*/;
	}
	.tblList A:hover
	{
	    COLOR: #0066FF/*black;*/
	}
	.tblListSelect
	{
		CURSOR: hand;
	}
	.tblListSelect A
	{
		COLOR:#0033CC/*#990033*/;
	}
	.tblListSelect A:hover
	{
		COLOR:#0066FF;
	}
	.clsRowHighlight
	{
		BACKGROUND-COLOR: /*#6699cc*/#fff;
		COLOR:white;
	}
	.clsRowHighlight A
	{
		COLOR:/*pink*/#000;
	}
	.clsRowHighlight A:hover
	{
		
		COLOR:/*white*/#000;
	}
	.clsRowSelectHighlight
	{
		BACKGROUND-COLOR: /*#6699cc*/#dfe8f6;
		COLOR:gold;
	}

	.clsRowSelectHighlight A
	{
		COLOR:orange;
	}
	.clsRowSelectHighlight A:hover
	{
		COLOR:gold;
	}
	#fPAPerson_Banner
	{
	}
	#fPAPerson_Banner TABLE	{
	FONT-WEIGHT: bold;
	FONT-SIZE: 9pt;
	/*TEXT-TRANSFORM: capitalize;*/
	COLOR: black;
	HEIGHT: 27px;
	/*BACKGROUND-COLOR: #f5deb3;*/ /*original pale orange colour*/
	background-image:url(../images/fpabanner_bg.jpg);
	/* BACKGROUND-COLOR: whitesmoke;*/
	    /*BORDER-LEFT: #000099 3px solid;
	    BORDER-RIGHT: #000099 3px solid;
	    BORDER-TOP: #000099 3px solid;
	    BORDER-BOTTOM: #000099 3px solid;*/
	TEXT-ALIGN: center;
	background-repeat: no-repeat;
	}

	/*************************************************
	*****	COMPONENT SPECIFIC STYLE BELOW
	*************************************************/
	.RowSeparator
	{
	    BORDER-RIGHT: 0px solid;
	    BORDER-TOP: 0px solid;
	    BORDER-LEFT: 0px solid;
	    BORDER-BOTTOM: 0px solid;
	    BACKGROUND-COLOR: #336699;
	}
	
	TD.DentalSel {
	    BACKGROUND-COLOR: Yellow;
	}
	.clsRowPre {
	    BACKGROUND-COLOR: BlanchedAlmond;
	}
	.clsRowTempLoc {
	    BACKGROUND-COLOR: LightSeaGreen;
	}
	.clsRowTempLocSel {
	    BACKGROUND-COLOR: #eeea88;
	}
	.clsRowFromTempLoc {
		background-color: #00CC66;
	}
	.clsRowAlert {
	    BACKGROUND-COLOR: fuchsia;
	}
	.clsBoarderOut {
	    BACKGROUND-COLOR: DarkSalmon;
	}
	.clsOutlier {
	    BACKGROUND-COLOR: LightSkyBlue;
	}
	.clsPartialSelect {
	    BACKGROUND-COLOR: #ffff99;
	}
	.clsEPRHeading
	{
		TEXT-ALIGN: center;
		TEXT-TRANSFORM: uppercase;
		DISPLAY: inline;
		FONT-FAMILY: Tahoma;
		FONT-WEIGHT: bold;
		FONT-STYLE: bold;
		FONT-SIZE: 12pt;
		LETTER-SPACING: 2pt;
		COLOR: darkblue;
		/*BACKGROUND-COLOR: #dfdfff;*/
	}

	.EMREpisTimeLine
	{
	    BACKGROUND-COLOR: blue;
	    BORDER-LEFT: black 1px solid;
	    BORDER-BOTTOM: black 1px solid;
	    BORDER-RIGHT: black 1px solid;
	    BORDER-TOP: black 1px solid;
	}
	.EMREpisTimeLineCANCEL
	{
	    BACKGROUND-COLOR: #FF0000;
	    BORDER-LEFT: black 1px solid;
	    BORDER-BOTTOM: black 1px solid;
	    BORDER-RIGHT: black 1px solid;
	    BORDER-TOP: black 1px solid;
	}
	.EMREpisTimeLineCANCELSelect
	{
	    BACKGROUND-COLOR: #FF8000;
	    BORDER-LEFT: black 1px ridge;
	    BORDER-BOTTOM: black 1px ridge;
	    BORDER-RIGHT: black 1px ridge;
	    BORDER-TOP: black 1px ridge;
	}
	.EMREpisTimeLineSelect
	{
	    BACKGROUND-COLOR: yellow;
	    BORDER-LEFT: black 1px solid;
	    BORDER-BOTTOM: black 1px solid;
	    BORDER-RIGHT: black 1px solid;
	    BORDER-TOP: black 1px solid;
	}
	.EMREpisTimeLineCol
	{
	    BACKGROUND-COLOR: #dfdfff;
	    BORDER-LEFT: black 1px ridge;
	    BORDER-BOTTOM: black 1px solid;
	    WIDTH: 20px;

	}
	.EMREpisTimeLineColSelect
	{
	    BACKGROUND-COLOR: yellow;
	    BORDER-LEFT: black 1px ridge;
	    WIDTH: 20px;
	    BORDER-BOTTOM: black 1px solid;
	/*  BORDER-RIGHT: black 1px solid;
	    BORDER-TOP: black 1px solid;
	*/
	}
	.EMRResultCommentRowOdd
	{
	    PADDING-LEFT: 3px;
	    BACKGROUND-COLOR: /*#cfcfff;*/#ffffff;
	/*    FONT-FAMILY: courier; */
	    FONT-WEIGHT: normal;
            FONT-STYLE: normal;
	    FONT-SIZE: 9pt;
	    COLOR: black;
	}
	.EMRResultCommentRowEven
	{
	    PADDING-LEFT: 3px;
	    BACKGROUND-COLOR: #fff/*#dfdfff;*/#f7fbff*/;
	/*    FONT-FAMILY: courier; */
 	    FONT-WEIGHT: normal;
            FONT-STYLE: normal;
	    FONT-SIZE: 9pt;
	    COLOR: black;
	}
	TR.SlotOverride
	{
	    BACKGROUND-COLOR: #8080ff;
	}
	TR.SqueezedIn
	{
	    BACKGROUND-COLOR: Thistle;
	}
	TR.PatientNotAttending
	{
	    BACKGROUND-COLOR: #dcdcd6;
	}
	TR.NotAvailableEvent
	{
	    BACKGROUND-COLOR: #99ff00;
	}
	TR.PublicHol
	{
	    BACKGROUND-COLOR: blue;
	}
	.NotAvailable
	{
	    BACKGROUND-COLOR: #dc8cd6;
	}
	.NotAvailableVacant
	{
	    BACKGROUND-COLOR: WHITE;
	}
	.TransactionBooking
	{
	    BACKGROUND-COLOR: Thistle;
	}
	.EstDOB
	{
		COLOR:fuchsia;
	}
	.EstOnsetDate
	{
		COLOR:fuchsia;
	}
	.EstInjury
	{
		COLOR:fuchsia;
	}
	.EMROtherEpsOdd
	{
	  BACKGROUND-COLOR: #e7e7e7/*cfcfff*/;
	  FONT-STYLE: italic;
	}
	.EMROtherEpsEven
	{
	  BACKGROUND-COLOR: #fff;
	  FONT-STYLE: italic;
	}
	.AbnrmlResOdd
	{
	  PADDING-LEFT: 3px;
	  BACKGROUND-COLOR: #cfcfff;
	  COLOR: #FF0000;
	}
	.AbnrmlResEven
	{
	  PADDING-LEFT: 3px;
	  BACKGROUND-COLOR: #dfdfff;
	  COLOR: #FF0000;
	}
	.AbnrmlEMROtherEpsOdd
	{
	  PADDING-LEFT: 3px;
	  BACKGROUND-COLOR: #cfcfff;
	  FONT-STYLE: italic;
          COLOR: #FF0000;
	}
	.AbnrmlEMROtherEpsEven
	{
	  PADDING-LEFT: 3px;
	  BACKGROUND-COLOR: #dfdfff;
	  FONT-STYLE: italic;
	  COLOR: #FF0000;
	}

	.NormalResult
	{
	  PADDING-LEFT: 3px;
	  COLOR: BLACK;
	}
	.HighResult
	{
	  PADDING-LEFT: 3px;
	  COLOR: #FF0000;
	}
	.LowResult
	{
	  PADDING-LEFT: 3px;
	  COLOR: #FF0000;
	}
	.HighHighResult
	{
	  PADDING-LEFT: 3px;
          COLOR: PURPLE;
	}
	.LowLowResult
	{
	  PADDING-LEFT: 3px;
	  COLOR: GREEN;
 	}
	.AbnormalResult
	{
	  PADDING-LEFT: 3px;
	  COLOR: #FF0000;
	}
	.NormalResultOtherEps
	{
	  PADDING-LEFT: 3px;
 	  COLOR: BLACK;
	  FONT-STYLE: italic;
	}
	.HighResultOtherEps
	{
	  PADDING-LEFT: 3px;
	  COLOR: #FF0000;
	  FONT-STYLE: italic;
	}
	.LowResultOtherEps
	{
	  PADDING-LEFT: 3px;
	  COLOR: #FF0000;
	  FONT-STYLE: italic;
	}
	.HighHighResultOtherEps
	{
	  PADDING-LEFT: 3px;
	  COLOR: PURPLE;
	  FONT-STYLE: italic;
	}
	.LowLowResultOtherEps
	{
	  PADDING-LEFT: 3px;
	  COLOR: GREEN;
	  FONT-STYLE: italic;
	}

	.NormalObs
	{
	}
	.AbnormalObs
	{
	  COLOR: #FF0000;
	}
	.NormalObsOtherEps
	{
	  FONT-STYLE: italic;
	}
	.AbnormalObsOtherEps
	{
	  COLOR: #FF0000;
	  FONT-STYLE: italic;
	}

	.EMRAllergyInactive
	{
	  BACKGROUND-COLOR: Gray;
	}
	.EMRAlertClosed
	{
	  BACKGROUND-COLOR: Gray;
	}
	.ORANAOperCancelled
	{
	  BACKGROUND-COLOR: Gray;
	}
	.tblBoarder
	{
	  BACKGROUND-COLOR:DodgerBlue;
	}
	.clsDiagOrd
	{
		COLOR: Blue;
	}
	.HeaderHyperlink_OT
	{
	    COLOR: black;
	    BACKGROUND-COLOR: #cfcfff;
	    TEXT-ALIGN: left;
	}
	.HeaderHyperlink_R
	{
	    COLOR: white;
	    BACKGROUND-COLOR: #336699;
	    TEXT-ALIGN: left;
	}
	TH.EMRTabularCumulative
	{
		BORDER-RIGHT: 1px ridge;
		BORDER-TOP: 1px ridge;
		BORDER-BOTTOM: 1px ridge;
		BORDER-LEFT: 1px ridge;
		FONT-WEIGHT: lighter;
		COLOR: white;
		BACKGROUND-COLOR: #336699;
		TEXT-ALIGN: left;
	}
	TD.EMRTabularCumulativeOdd
	{
		PADDING-LEFT: 3px;
		BACKGROUND-COLOR: #cfcfff;
	}
	TD.EMRTabularCumulativeEven
	{
		PADDING-LEFT: 3px;
		BACKGROUND-COLOR: #dfdfff;
	}
	#fPAPersonConsultSetCons_Banner
	{
	}
	#fPAPersonConsultSetCons_Banner TABLE
	{
		FONT-WEIGHT: bold;
		FONT-SIZE: 10pt;
		/*TEXT-TRANSFORM: capitalize;*/
		COLOR: black;
		HEIGHT: 16pt;
		/*BACKGROUND-COLOR: #f5deb3;*/ /*original pale orange colour*/
		BACKGROUND-COLOR: whitesmoke;
		BORDER-LEFT: #000099 3px solid;
		BORDER-RIGHT: #000099 3px solid;
		BORDER-TOP: #000099 3px solid;
		BORDER-BOTTOM: #000099 3px solid;
		TEXT-ALIGN: center;
	}
	TR.PreviousConsultRowOdd
	{
		FONT-STYLE: italic;
		PADDING-LEFT: 3px;
		BACKGROUND-COLOR: #cfcfff;
		/* BACKGROUND-COLOR: #FF6633; */
	}
	TR.PreviousConsultRowEven
	{
		FONT-STYLE: italic;
		PADDING-LEFT: 3px;
		BACKGROUND-COLOR: #dfdfff
		/* BACKGROUND-COLOR: #FF6633; */
	}

	/* DHCST Begin*/
	TR.Green
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #a0e0a0;
	}
	TR.Red
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #e00000;
	}
	TR.Blue
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: deepskyblue;
	}
	TR.White
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: white;
	}
	TR.Black
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: black;
            color: white 
	}
	TR.Fuchsia
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #e000e0;
	}
	TR.Yellow
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: #ffffc0;
	}
	TR.Gray
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: gray;
	}
	TR.Maroon
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: maroon;
            color: white;
	}
	TR.Purple
	{
	    PADDING-LEFT: 3px;
            BACKGROUND-COLOR: purple;
            color: yellow;
	}
	/* DHCST Add End*/
}
.dhx_combo_img{
	position:absolute;
	top:0px;
	right:0px;
	width:17px;
	height:20px;
}

.dhx_combo_option_img{
	position:relative;
	top:1px;
	margin-left:2px;
	left:0px;
	width:18px; height:18px;
}


.dhx_combo_input{
	color:#333333;
	font-family: Arial;
	font-size: 9pt;
	border:0px;
	padding:2px 2px 2px 2px;
	position:absolute;
	top:0px;
}
.dhx_combo_box{
	position:relative;
	border:1px solid #7F9DB9;
	height:20px;
	_height:22px;
	overflow:hidden;
    background-color: white;	
}
.dhx_combo_list{
   position:absolute;
   z-index:30;
   overflow-y:auto;
   overflow-x:hidden;
   border:1px solid black;
   height:100px;
   font-family: Arial;
   font-size: 9pt;
   background-color: white;
}

.dhx_combo_list div{
	cursor:default;
	padding:2px 2px 2px 2px;
}
.dhx_selected_option{
	background-color:navy;
	color:white;
}

@media print {
	BODY
	{
		MARGIN: 0px;
		COLOR: black;
		FONT-FAMILY: Tahoma;
		FONT-SIZE: 8pt;
	}
	.tblList TD
	{
		BORDER-RIGHT: medium none;
		BORDER-TOP: medium none;
		BORDER-LEFT: #5c5c5c 1px solid;
		BORDER-BOTTOM: #5c5c5c 1px solid;
		BACKGROUND-COLOR: #e1e1e1;
		FONT-FAMILY: Tahoma;
		FONT-SIZE: 8pt;
	}
	.tblListSelect TD
	{
		BORDER-RIGHT: medium none;
		BORDER-TOP: medium none;
		BORDER-LEFT: #5c5c5c 1px solid;
		BORDER-BOTTOM: #5c5c5c 1px solid;
		BACKGROUND-COLOR: #e1e1e1;
		FONT-FAMILY: Tahoma;
		FONT-SIZE: 8pt;
	}
	
	
	
		.tbTitle
	{
	    FONT-SIZE: 9pt;
	    CURSOR: default;
	    COLOR: black;
	    FONT-FAMILY: Tahoma, "宋体";
	}
	TH
	{
	font-size:9pt;
	/**BORDER-RIGHT: 1px ridge;
	 BORDER-TOP: 1px ridge;
	 BORDER-BOTTOM: 1px ridge;
	 BORDER-LEFT: 1px ridge;**/
	FONT-WEIGHT: lighter;
	COLOR: #000000/*#00007f;/*#003467*/;
	/*BACKGROUND-COLOR: #dbedfe;/*#d3e8fd;/*#d9e7f5;*/
	background-image:url(images/th_bg.gif);
	TEXT-ALIGN:center;
	height:22;
	}
	
	

