body{
     overflow-x : hidden; /*;   去掉横条*/
     overflow-y : hidden; /*;   去掉竖条*/
}
.my-interface .northRegion .inlineIcons {
	/*float:left;*/
	position:absolute;
	right:10px;
	margin-top:13px;
}
/*#mysearchbox .searchbox {
	position:absolute;
	right:30px;
	margin-top:13px;
}*/
#kpiInforSearch>.kpi-SearchBox {
	float:left;
}
#test111{
	position:absolute;
	right:10px;
	margin-top:-85px !important;
}
.my-interface div.webui-popover-inner div span label {
	display:inline-block;
	width:60px;
	text-align:right;
}
.my-interface div.webui-popover-inner div>div>div {
	margin-top:4px;
}
.my-interface .northRegion>div.kpi-topInfor {
	/*border-bottom:solid 1px #ccc;*/
	padding:4px 4px 4px 4px;
}
/*#showImage {
	position:absolute; 
	right: 10px;
    margin-top: 20px;
}*/
#kpiRuleConfigDialog div>div>div>div>table>tbody>.datagrid-row>td>div>span.tree-checkbox.tree-checkbox0{
	display:none;
}
#kpiRuleSearchAllBox {
	padding:2px 2px 2px 2px;
}
#kpiRuleList {
	padding:2px 2px 2px 2px;
}

/*----*/
#kpiConfigTabs div.tabs-panels div.panel div.panel-body{
	overflow-y : hidden;   /*--去掉竖条--*/
}

#kpiHelpTabs>div.tabs-panels>div.panel>div.panel-body {  
	overflow: hidden;  
} 
/*--主页--*/
.my-interface #kpiMainPage div.datagrid div.datagrid-toolbar{
	padding:1px 2px;
	border-top:none;
}

/*--指标配置弹出框toolbar设置--*/
.my-interface #kpiFilterConfigDialog div.layout-panel-center div.datagrid div.datagrid-toolbar{
	padding:1px 2px;
}
/*--指标弹出框标题下划线去掉--*/
.my-interface #kpiFilterConfigDialog div.panel-header{
	border-bottom:none;
}
.my-interface #kpiRuleConfigDialog div.panel-header{
	border-bottom:none;
}