body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.webui-popover .webui-popover-content {
	overflow: hidden !important;
}
/*--移动单选框的位置--*/
.my-interface div.hischeckbox_square-blue{
	margin-left:-3px;
}
/*--指标维度选取界面的上移下移位置调整--*/
.my-interface .moveImgeCenter{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-80px;
	margin-left:-44px;
}
/*--明细按钮上下间距--*/
.my-interface .moveImgeCenter .hisui-linkbutton{
	margin-bottom:10px;
}
/*--检索框居右--*/
#kpiSearchDiv{
	position:absolute;
	right:2px;
	top:50%;
	margin-top:-15px;
}
/*--过滤规则配置--*/
#calKPIConfigDiv>div>div>div>div.hisui-panel{
	border-color:#ddd;
}
#kpiCondition ul li{
	padding-top:4px;
}
#calRuleli {
	padding-top:30px !important;
}
#kpiCondition ul li label{
	padding-left:10px;
	width:60px;
	display:inline-block;
}
/*--计算指标规则配置--*/
#calKPISymbol>tbody>tr>td>a{
	width:44px;
	height:35px;
}
#calKPISymbol{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-75px;
	margin-left:-47px;
}
#kpiCalRuleDialog div div{
	border-color:#ddd;
}
#dimSelectorDialog div.panel div.datagrid-body>table>tbody>tr>td>div>span.tree-checkbox.tree-checkbox0{
	display:none;
}
/*--修改表单格式--*/
.my-interface div.layout-panel-north table tbody tr td.labelFormat{
	text-align:right;
	white-space:nowrap;
}
.my-interface div.layout-panel-north table tbody tr td.labelFormat label{
	margin-right:10px;
	margin-left:10px;
}
.my-interface div.layout-panel-north table {
	border-collapse:separate;
	border-spacing:0px 4px;
}



