.tab__body {
  height: 0;
  padding: 0 0 44px;
  line-height: 44px;
  z-index: 200
}

.tab__rightSlot {
  float: right;
  line-height: 42px;
  margin: 0 9px 0 0
}

.tab__leftSlot {
  width: 200px;
  height: 44px;
  float: left;
  margin: 5px 20px
}

.tabItem {
  padding: 0 16px;
  float: left;
  position: relative
}

.tabItem:last-child {
  border-right-width: 0
}

.tabItem.is-selected {
  position: relative;
  top:-1px;
  height: 43px;
  line-height: 0;
  border-top: 3px solid #017bce;
  background-color: #fff;
  color: #017bce;
  pointer-events: none
}

.tabItem__badge {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #ee4f38;
  color: #fff;
  -webkit-transform: translateY(-50%) translateX(100%);
  transform: translateY(-50%) translateX(100%);
  font-size: 14px;
  line-height: 18px;
  border: 1px solid transparent;
  border-radius: 10px;
  top: 0;
  right: 10px
}

.tabItem__badge,
.tabItem__link {
  text-align: center
}

.tabItem__link {
  line-height: 44px;
  font-size: var(--navFontSize);
  color: #a5a5a5;
  @nest .tabItem:hover {
    color: #017bce
  }
}

.tabItem__link:hover {
  color: #017bce
}

.tabItem__link:visited {
  color: #000
}

.tabItem.is-selected .tabItem__link {
  color: #017bce
}