.p-bottom-toolbar {
	height: 30px;
	padding: 5px;
	padding-left: 12px;
	position: relative;
	margin-top: -40px;
	border-width: 0px 1px 1px;
	border-style: solid;
	border-color: #95B8E7;
	background-color: #dee8f6;
	background: -webkit-linear-gradient(top,#EFF5FF 0,##dee8f6 100%);
	background: -moz-linear-gradient(top,#EFF5FF 0,##dee8f6 100%);
	background: -o-linear-gradient(top,#EFF5FF 0,##dee8f6 100%);
	background: linear-gradient(to bottom,#dee8f6 0,#dee8f6 100%);
	background-repeat: repeat-x;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=##dee8f6,GradientType=0);*/
}
a.p-bottom-btn {
	
	background-position: right 0;
	text-decoration: none;
	display: inline-block;
	zoom: 1;
	height: 24px;
	padding-right: 18px;
	cursor: pointer;
	outline: none;
}
input.p-bottom-btn2 {
	cursor:pointer;
	background: transparent;
	color: #000000;
	border: 1px solid #b7d2ff; 
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 	
	padding:2px;
	height:28px;
	min-width:100px;
	margin-right:12px;
	font-size:larger;
}
a.p-bottom-btn span.p-bottom-btn-left{
	display: inline-block;
	background-position: 0 -48px;
	padding: 0 0 0 18px;
	line-height: 24px;
	height: 24px;
}
a.p-bottom-btn span span.p-bottom-btn-text {
	position: relative;
	display: inline-block;
	vertical-align: top;
	top: 4px;
	width: auto;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	padding: 0;
	margin: 0;
}
a.p-bottom-btn {
  color: #444;
  background-image: url('images/linkbutton_bg.png');
  background-repeat: no-repeat;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
a.p-bottom-btn span.p-bottom-btn-left {
  background-image: url('images/linkbutton_bg.png');
  background-repeat: no-repeat;
}


.slider-h {
	
}
