/* 极简UI */
.pha-body {
    background: #f5f5f5;
}
.pha-body-layout{
    background: #f5f5f5;
}
.pha-body-white{
    background: #fff;
}
.layout-split-west {
    border-right-width: 10px;
}

.layout-split-east {
    border-left-width: 10px;
}

.layout-split-north {
    border-bottom-width: 10px;
}

.layout-split-south {
    border-top-width: 10px;
}


validatebox-text {
    width: 153px;
}

input.validatebox-text {
    width: 153px;
}

textarea {
    margin-bottom: -10px;
    border-radius: 2px;
    spellcheck: false;
    width: 154px;
}

.hisui-datebox {
    width: 158px;
}

.hisui-linkbutton {
    text-align: center;
}
.pha-button-word2 {
    width: 58px;
}
.pha-button-word3 {
    width: 72px;
}
.pha-button-word4 {
    width: 86px;
}
.pha-button-word5 {
    width: 100px;
}
.pha-button-word6 {
    width: 114px;
}
.pha-button-word7 {
    width: 128px;
}
.pha-button-word8 {
    width: 142px;
}

.pha-a-split{
    color: #666;
}
.pha-line {
    border-bottom: 1px dashed #E2E2E2;
}
.pha-table-toolbar-button > div:first-child {
    position: relative;
    top: 2px;
}

/*极简版--面板收缩后颜色为白色*/
.layout-expand .panel-header-gray+.panel-body, .layout-expand .panel-header.panel-header-gray {
    background-color: #fff;
}