@font-face {
  font-family: "iconfont"; /* Project id 3579273 */
  src: url('iconfont.woff2?t=1660102880255') format('woff2'),
       url('iconfont.woff?t=1660102880255') format('woff'),
       url('iconfont.ttf?t=1660102880255') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-peizhiguanli:before {
  content: "\e630";
}

.icon-shanchu:before {
  content: "\e631";
}

.icon-shanchu1:before {
  content: "\e62a";
}

