.x-grid3-row {
    cursor: default;
    border:0;
    width: 100%;
}
.x-grid3-row td, .x-grid3-summary-row td {
	border-top:1px solid #99BBE8;
	border-right:1px solid #99BBE8;
}
.x-grid3-hd-inner {
    text-align: center;
}
.x-grid3-row.x-grid3-row-last>table {
    border-bottom:1px solid #99BBE8;
}