<div class="container-fluid">
	<div class="tab-content" id="ItemViewDiv">
		<span id='img_span'>
		</span>
		<table id="gridItemView" class="table-striped table-bordered" cellspacing="0" width="100%">
		</table>
	</div>
	<div class="search-info pull-right" style="width:180px;">
		<div class="search-group">
			<label class="control-label" for="cboRuleAnti">抗生素</label> 
			<select class="form-control" id="cboRuleAnti"></select>
		</div>
	</div>
	<div class="tab-content" id="ViewDetailDiv" style="border-top:0px;">
		<table id="gridViewDetail" class="table table-striped table-bordered" cellspacing="0" style="white-space: nowrap;" width="100%">
			<thead>
				<tr>
					<!--<th style="width: 5%">选择</th>-->
					<th style="width: 13%">药品名称</th>
					<th style="width: 8%">医嘱开始日期</th>
					<th style="width: 5%">医嘱类型</th>
					<th style="width: 5%">剂量</th>
					<th style="width: 5%">单位</th>
					<th style="width: 8%">频次</th>
					<th style="width: 5%">药师干预</th>
					<th style="width: 5%">专家干预</th>
					<th style="width: 8%">医嘱结束日期</th>
					<th style="width: 15%">开医嘱科室</th>
					<th style="width: 8%">开医嘱医生</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<br />
	<ul id="PharExperNav" class="nav nav-tabs" role="tablist" style="border:0px;">
		<li role="presentation" class="active"><a href="#PharMethods" aria-controls="PharMethods" role="tab" data-toggle="tab" style="color:#000;">药师</a></li>
		<li role="presentation"><a href="#ExperMethods" aria-controls="ExperMethods" role="tab" data-toggle="tab" style="color:#000;">专家</a></li>
	</ul>
	<div class="tab-content">
		<div id="PharMethods" role="tabpanel" class="tab-pane active">
			<div id="PharMethodBtn" class="layui-layer-btn layui-layer-btn-c">
				<a class="layui-layer-btn1" id="PharinReasonBtn">合理</a><a class="layui-layer-btn1" id="PharoutReasonBtn">不合理</a><a class="layui-layer-btn1" id="PharfollowBtn">需关注</a>
			</div>
			<!-- 合理 -->
			<div id="PharinReason" class="tab-page" data-bindBtn="PharinReasonBtn" style="display:none;">
				<!-- <div class="page-header">
					<a class="Info"><img src="../scripts/dhchai/img/baseInfo.png"><span>备注</span></a>
				</div>
				<div class="report-content">
					<div class="form-group form-group-sm" style="height: auto;">
						<input id="method7" name="method7" type="checkbox">
						<label for="method7">备注内容：</label><br />
						<textarea rows="3" id="text7" name="text7" style="width:85%;margin-left:20px;">该病人用药合理</textarea>
					</div>
					<div class="form-group form-group-sm">
						<label class="text-gray">最后提交：2018-11-02 11:00:21 张大为</label>
					</div>
					<div class="layui-layer-btn layui-layer-btn-c">
						<a class="layui-layer-btn0" id="btnOpinion">提交</a>
					</div>
				</div> -->
			</div>
			<!-- 不合理 -->
			<div id="PharoutReason" class="tab-page" data-bindBtn="PharoutReasonBtn" style="display:none;">
				<!-- <div class="page-header">
					<a class="Info"><img src="../scripts/dhchai/img/baseInfo.png"><span>建议调整方式</span></a>
				</div>
				<div class="report-content">
					<div class="form-horizontal">
						<div class="form-group form-group-sm">
							<input id="method1" name="method1" type="checkbox">
							<label for="method1">停止使用抗生素</label>
						</div>
						<div class="form-group form-group-sm">
							<input id="method2" name="method2" type="checkbox">
							<label for="method2">用法调整：</label>
							<input type="text" id="text2" name="text2" style="width:80%;">
						</div>
						<div class="form-group form-group-sm">
							<input id="method3" name="method1" type="checkbox">
							<label for="method3">降阶梯为：</label>
							<input type="text" id="text3" name="text3" style="width:80%;">
						</div>
						<div class="form-group form-group-sm" style="height: auto;">
							<input id="method4" name="method4" type="checkbox">
							<label for="method4">抗生素治疗更改为：</label><br />
							<textarea rows="3" id="text4" name="text4" style="width:85%;margin-left:20px;"></textarea>
						</div>
						<div class="form-group form-group-sm" style="height: auto;">
							<input id="method5" name="method5" type="checkbox">
							<label for="method5">其他建议：</label><br />
							<textarea rows="3" id="text5" name="text5" style="width:85%;margin-left:20px;"></textarea>
						</div>
						<div class="form-group form-group-sm">
							<input id="method6" name="method6" type="checkbox">
							<label for="method6">请感染科会诊</label>
						</div>
						<div class="layui-layer-btn layui-layer-btn-c">
							<a class="layui-layer-btn0" id="btnOpinion">提交</a>
						</div>
					</div>
				</div> -->
			</div>
			<!-- 需关注 -->
			<div id="Pharfollow" class="tab-page" data-bindBtn="PharfollowBtn" style="display:none;">
				<!-- <div class="page-header">
					<a class="Info"><img src="../scripts/dhchai/img/baseInfo.png"><span>备注</span></a>
				</div>
				<div class="report-content">
					<div class="form-group form-group-sm" style="height: auto;">
						<input id="method8" name="method8" type="checkbox">
						<label for="method8">备注内容：</label><br />
						<textarea rows="3" id="text8" name="text8" style="width:85%;margin-left:20px;"></textarea>
					</div>
					<div class="layui-layer-btn layui-layer-btn-c">
						<a class="layui-layer-btn0" id="btnOpinion">提交</a>
					</div>
				</div> -->
			</div>
		</div>
		<div id="ExperMethods"  role="tabpanel" class="tab-pane">
			<div id="ExperMethodBtn" class="layui-layer-btn layui-layer-btn-c">
				<a class="layui-layer-btn1" id="ExperinReasonBtn">合理</a><a class="layui-layer-btn1" id="ExperoutReasonBtn">不合理</a><a class="layui-layer-btn1" id="ExperfollowBtn">需关注</a>
			</div>
		</div>
		<!-- 合理 -->
		<div id="ExperinReason" class="tab-page" data-bindBtn="ExperinReasonBtn" style="display:none;"></div>
		<!-- 不合理 -->
		<div id="ExperoutReason" class="tab-page" data-bindBtn="ExperoutReasonBtn" style="display:none;"></div>
		<!-- 需关注 -->
		<div id="Experfollow" class="tab-page" data-bindBtn="ExperfollowBtn" style="display:none;"></div>
	</div>
</div>