/* 绠＄ */

.phaherb-grid-cell-wrap {
    overflow: hidden;
    white-space: normal;
}

.phaherb-grid-cell-important {
    color: red;
}
.phaherb-grid-cell-warning {
    color: yellow;
}

.phaherb-datebox {
    width: 120px;
}

.phaherb-timespinner {
    width: 100px;
}

/* 隔行变色class顺序是固定的 */
.datagrid-row-alt {
    background: #d3f5f0;
}

/* 叫号等*/
.pha-herb-grid-call{
    background-color:#BEBEBE;
    color: black;
}
.pha-herb-grid-call{
    background-color:#FAEBD7;
    color: black;
}
.pha-herb-grid-unqueue{
    background-color:#FFFACD;
    color: black;
}

.pha-herb-window-right {
	height:100%;
    margin-left:10px;
    margin-right:10px;
    display: inline-block;
    float: right;
    /*border-left: 1px solid #cfcfcf; */
}

.pha-herb-window-left {
    display: inline-block;
    float: left;
}


.panel.lookup-p>.panel-header,
.panel.combo-p>.panel-header,
.panel.window>.panel-header,
.layout>.panel>.panel-header,
.accordion>.panel>.panel-header,
.tabs-panels>.panel>.panel-header {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.panel.lookup-p>.panel-body,
.panel.combo-p>.panel-body,
.panel.window>.panel-body,
.layout>.panel>.panel-body,
.accordion>.panel>.panel-body,
.tabs-panels>.panel>.panel-body {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-panels {
    border-radius: 0px 0px 4px 4px;
}
/* 叫号等*/
.pha-herb-grid-skip{
	background-color:#BEBEBE;
	color: black;
}
.pha-herb-grid-call{
	background-color:#FAEBD7;
	color: black;
}
.pha-herb-grid-unqueue{
	background-color:#FFFACD;
	color: black;
}

/* 成组医嘱组标记 */
.herb-oeori-sign-c {
    width: 0px;
    height: 33px;
    border-left: 3px solid #9fc5e8;
    position: relative;
    left: 5px;
}

.herb-oeori-sign-t {
    width: 7px;
    height: 33px;
    border-left: 3px solid #9fc5e8;
    border-top: 3px solid #9fc5e8;
    border-radius: 5px 0px 0px 5px;
    position: relative;
    left: 5px;
    top: 15px;
}

.herb-oeori-sign-b {
    width: 7px;
    height: 33px;
    border-left: 3px solid #9fc5e8;
    border-bottom: 3px solid #9fc5e8;
    border-radius: 0px 5px 0px 5px;
    position: relative;
    left: 5px;
    bottom: 15px;
}
