/*listBox用样式*/
.listBoxselect{
    background:white;
    position:relative; /* for calculating scroll offsets */
    zoom:1;
}

.listBoxselect-item{
    font:normal 12px tahoma, arial, helvetica, sans-serif;
    padding:2px;
    border:1px solid #fff;
    white-space: nowrap;
    cursor:pointer;
}

.listBoxselect-selected{
	border:1px dotted #a3bae9 !important;
    background:#DFE8F6;
    cursor:pointer;
}

.listbox-view-drag-insert-above { 
    border-top:1px dotted #3366cc; 
} 
.listbox-view-drag-insert-below { 
    border-bottom:1px dotted #3366cc; 
} 
/*gridlist中button用样式*/
.gridbtn_mouseout
{
	line-height:20px; 
	border-bottom:1px #999999 solid; 
	border-right:1px #999999 solid; 
	border-left:1px #EBD6D6 solid; 
	border-top:1px #EBD6D6 solid; 
	background-color:#E9FCFF; 
	color:black; 
	font-size:12px; 
	font-weight:normal; 
	height:20px; 
	padding:2px 2px 2px 2px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}

.gridbtn_mouseover
{
	line-height:20px; 
	border-bottom:1px #999999 solid; 
	border-right:1px #999999 solid; 
	border-left:1px #EBD6D6 solid; 
	border-top:1px #EBD6D6 solid; 
	background-color:#C2E2ED; 
	color:black; 
	font-size:12px; 
	font-weight:normal; 
	height:20px; 
	padding:2px 2px 2px 2px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}
.gridbtn_mousedown
{
	line-height:20px; 
	border-bottom:1px #999999 solid; 
	border-right:1px #999999 solid; 
	border-left:1px #999999 solid; 
	border-top:1px #999999 solid; 
	background-color:#C2E2ED; 
	color:black; 
	font-size:12px; 
	font-weight:normal; 
	height:20px; 
	padding:2px 2px 2px 2px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}

