.logo {
	float: left;
}
.search {
	margin: 15px 0;
}
.shop {
	float: right;
	overflow: hidden;
	*zoom: 1;
}

/* docresult */
.docResult {
	padding: 5px;
	line-height: 24px;
}
.docResult p {
	margin: 0;
}
.docHeader a,.docProperty a {
	color: #6998f0;
	text-decoration: none;
}
.docHeader a:hover,.docProperty a:hover {
	color: #000;
	text-decoration: underline;
}
.docHeader a {
	font-size: 18px;
	font-weight: bold;
}
.highlighting {
	color: red;
}
.docProperty {
	color: #888;
}
/* docresult */

/* docpager */
.docPager {
	list-style: none;
	margin: 0;
	padding: 0;
}
.docPager li {
	float: left;
}
.docPager li>span,.docPager li>a {
	height: 20px;
	line-height: 20px;
	padding: 5px;
	display: block;
}
.docPager li>a {
	color: #6998f0;
	text-decoration: none;
}
.docPager li>a:hover {
	color: #000;
	background: #ccc;
	text-decoration: underline;
}
/* docpager */

/* favorform */
.favorform {
	border-collapse: collapse;
	margin: 10px;
}
.favorform td {
	padding-top: 5px;
	padding-bottom: 5px;
}
.favorform .form-r-label {
	text-align: right;
	vertical-align: middle;
	padding-left: 20px;
	padding-right: 10px;
}
.favorform .form-t-label {
	vertical-align: top;
}
/* favorform */
