* {
  padding: 0;
  margin: 0;
} 

body {
  color: #333;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
img {
  border: none;
}
a {
  color: #6998f0;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

#wrap {
  width: 1000px;
  margin: 0px auto;
}
.clear {
  clear: both;
}

#left {
    float:left;
    padding-left: 10px;
}
#right 
{
    width:320px;
    padding-left: 0px;
}

/* top */

.top {

}
.top h2 {

}

/* bottom */

.bottom {

}
.bottom h2 {

}
#result a {
  margin-right: 5px;
}
#navigation {

}
#pager,
#pager-header {
  display: inline;
}
#pager li,
.links li {
  list-style-type: none;
  display: inline;
}

/* ½á¹ûµÄÕýÎÄ */
.divDoc {
  padding-top: 1px;
  line-height: 21px;
}

.highlighting 
{
    color:Red;
}

.docProperty
{
    color: #888;    
}

#fqpg
{
    width:auto;    
}

.fqpgGrid
{
    width: auto;    
}

.label 
{
    width: 89px;
    font-weight: normal;
    text-align: center;
    margin-right: 22px;
    line-height: 29px;
    font-size: 16px;
    color: #888;    
    background: #fff;
    font-family: "microsoft yahei""Î¢ÈíÑÅºÚ""ËÎÌå";
}

.inputClass
{
    width: 260px;
    height: 19px;
    padding-left: 25px;
    font-size: 16px;
    font-family: "microsoft yahei""Î¢ÈíÑÅºÚ""ËÎÌå";
    line-height: 16px;
    background: #fdfdfd;
    border: 1px solid #d5d5d5;
    padding: 5px;
    outline: 0;
    border-top-color: #bebebe;
    border-left-color: #bebebe;
    font-size: 14px;
    color: #333;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;   
}

.textareaClass
{
    height: 93px;
    width: 260px;
    padding-left: 25px;
    font-size: 16px;
    font-family: "microsoft yahei""Î¢ÈíÑÅºÚ""ËÎÌå";
    line-height: 16px;
    background: #fdfdfd;
    border: 1px solid #d5d5d5;
    padding: 5px;
    outline: 0;
    border-top-color: #bebebe;
    border-left-color: #bebebe;
    font-size: 14px;
    color: #333;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;   
    overflow-x:hidden;
    overflow-y:hidden;
}

.inputButton
{
    color: #444;
    border: 1px solid #bbb;
    text-decoration: none;
    display: inline-block;
    margin-left: 0;
    margin-right:10;
    margin-bottom:10;
    margin-top:10;
    padding-left: 25;
    padding-right:25;
    padding-top:5;
    padding-bottom:5;
    cursor: pointer;
    outline: none;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-family: verdana,helvetica,arial,sans-serif;
}