.btn-lightred{background-color:#F16E57 !important;border:1px solid #F16E57;}
.btn-lightgreen{background-color:#40C27B !important;border:1px solid #40C27B;}
.btn-lightblue {background-color: #2AB66A !important;border:1px solid #2AB66A;}
.panel-body .panel{margin-bottom:10px;}
.item-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	width:99%;
	border:none;
}
.item-table .checkbox{
	width:16px;
	height:16px;
	margin: 4px 4px 0;
}
.item-table td{
	border:1px solid #ddd;
	padding:5px 3px;
	font-size: 14px;
	border-left:none;
}
.item-table tr:nth-child(1) td{
	margin:0;padding:0;
	border:0;
}
.panel-header, .panel-body {}
.pt-butttom{border:1px solid #fff;}
.pt-butttom a{
	margin:8px 0px 0px 30px;
}
.datagrid .panel-body, .datagrid .panel-header{
}
.datebox,.validatebox-text,.combo-arrow{height:26px !important;}
/*.datagrid-row-selected{background:#00CCFF;}
.datagrid-editable-input{height:27px !important;}*/
.validatebox-text {
    height: 26px;
    line-height: 26px;
}
.combo{height: 26px !important; }
label + .hisradio_square-blue, label + .hischeckbox_square-blue{
	margin-left:5px;
}
.name-input{
	margin-left:20px;
	/*width:40px;*/
	display: none;
	text-align:center;
}
.name-input-80{
	margin-left:10px;
	width:100px;
	display: none;
	padding-left:1px;
}
.pt-butttom .l-btn-text{
	min-width:60px
}

.panel-header{
	border-radius:4px 4px 0 0;
}
.panel-body{
	border-radius:0 0 4px 4px;
	}
.panel-body .panel{
	margin-bottom:5px;
}
