.webuploader-container {
	padding-top: 3px;
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #40A2DE;
	padding: 6px  15px 6px 15px;
	color: #fff;
	text-align: center;
	overflow: hidden;
	height: 18px;
	width:56px;
}
.webuploader-pick-hover {
	background: #378ec4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

