
<div class="modal-body"  id ="modal-body" style="padding:0 0;height:100%;width:100%">
	<div class="title" style="line-height: 35px;background-color: #F7F7F8;">
		<ul style="list-style-type:none;height:35px;padding-left: 10px !important;margin-bottom: 0px;display: block;overflow: hidden;white-space:nowrap;">
			<li style="margin-left: 6px;display: inline-block;list-style: none;">
				<img style="witdht:25px;height:25px;border-radius:50%" src="../scripts/dhchai/img/icon-boy.png">
			</li>
			<li style="margin-left: 12px;font-size:15px;height:30px;display: inline-block;list-style: none;">
				<strong>李四</strong>
			</li>
			<li style="margin-left: 24px;display: inline-block;list-style: none;">
				诊断：不稳定性心绞痛
			</li>
			<li style="margin-left: 24px;display: inline-block;list-style: none;">
				ID：000000213213 | 男 | 23岁 | 心内科/心内科一病区（23床）| 2017-08-16 19:00:00
			</li>
		</ul>
		<!--
		<div style="float: right;margin-top: -25px;margin-right: 8px;cursor:pointer;">
			<img src="../scripts/dhchai/img/delete.png">
		</div>
		-->
		<!--替换为layer的关闭按钮-->
		<div class="close" style="cursor:pointer;opacity:1;">
			<span class="layui-layer-setwin" style="margin-top:-5px; ">
				<a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
			</span>
		</div>
	</div>
	<div class="nav-tabs">
		<ul class="nav nav-tabs" style="height:28px;background-color:#4C9CE4;" role="tablist" id="PatViewTab"></ul>
		<div class="tab-content" id="PatViewContent" style="border-bottom-width: 0px;"></div>
	</div>
</div>