body { background: url("grid.png") }

.testSquare {
    border:4px solid #666666;
    color:#FFFFFF;
    cursor:move;
    height:100px;
    position:absolute;
    text-align:center;
    width:100px;
}