/*.x-tree-checked {
            text-decoration: line-through;
            color: #777;
        }
        .x-grid-row-selected .x-grid-cell {
            background-color: #efefef !important;
        }
*/

/*.x-form-check-wrap */
/*
.x-item-disabled{
     background-color: #00ff00 !important;
     color: #ff0000;
}
*/
.my-chechbox-disabled{
     background-color: #00ff00 !important;
     color: #ff0000;
}
