 <div class="container-fluid">
	<div class="col-sm-12 col-xs-12 lefttable" id="divLeft">
		<div class="page-header">
			<h1>抗菌用药医嘱列表</h1>
		</div>
		<div class="tab-header">
		    <div class="tab-search">
				<div class="input-group input-group-sm" style="width: 150px;">
                   <input type="text" name="table_search" class="form-control pull-right" id="search" placeholder="搜索">
                   <div class="input-group-btn">
                      <button type="submit" class="btn btn-flat" id="btnsearch" ><i class="fa fa-search"></i></button>
                   </div>
                </div>
			</div>
	    </div>
		<div class="tab-content">
			<table id="gridOEItemList" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>序号</th>
						<th>医嘱名称</th>
						<th>医嘱类型</th>
						<th>开医嘱时间</th>
						<th>开医嘱科室</th>
						<th>开医嘱医生</th>
						<th>开始时间</th>
						<th>停止时间</th>
						<th>通用名</th>
						<th>用药目的</th>
						<th>频次</th>
						<th>用法</th>
						<th>用量</th>
						<th>ID</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
