/*重写easyui.css部分样式*/
/*hxy 2017-02-28 table字体为14px*/
.datagrid-header .datagrid-cell span,.datagrid-cell,.panel-title{font-size:14px!important}
.tree-title,.l-btn-text,.panel-title,.panel-body,.tabs-title,.textLabel,td{
	font-size:14px!important;
}
/*ylp 2017-06-19 easyui样式修改,datagird选中底色修改*/
.panel-title{color:#0e2d5f;font-weight:normal;}
.datagrid-row-selected {
  background: #40a2de!important;
  color: #000000;
}
/*ylp 2017-06-19 easyui样式修改,datagird行高修改*/
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
    padding:4px 4px;
	height: 25px!important;
    line-height: 25px!important;
    font-weight: normal;
    font-size: 14px;
}
/*ylp 2017-06-19 easyui样式修改,datagird行编号改为不渐变*/
.datagrid-header,.datagrid-td-rownumber {
  background-color: #efefef!important;
  background: -webkit-linear-gradient(top,#EFEFEF 0,#EFEFEF 100%)!important;
  background: -moz-linear-gradient(top,#EFEFEF 0,#EFEFEF 100%)!important;
  background: -o-linear-gradient(top,#EFEFEF 0,#EFEFEF 100%)!important;
  background: linear-gradient(to bottom,#EFEFEF 0,#EFEFEF 100%)!important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF,endColorstr=#EFEFEF,GradientType=0)!important;
}
/*ylp 2017-06-19 easyui样式修改,datagird行双击样式*/
.datagrid-body .datagrid-editable .datagrid-editable-input {
  margin: 0;
  padding:0px 2px!important;
  border-width: 1px!important;
  border-style: solid;
}
.datagrid-editable-input .validatebox-text{
	
	height:25px!important;
	}
.textLabel{
	background-color: #efefef;
	}
/*ylp 2017-06-19 easyui样式修改,datagird的toolbar样式*/
/*a.l-btn-plain, a.l-btn-plain span.l-btn-left{
	width:90px!important;
	
	}
.icon-add{
	
	}
.l-btn-icon {
	margin-left:10px!important;
	}
.l-btn-text{
	margin-left:0px!important;
	margin-right:-10px!important;
	left:0px!important;
	}*/
/*ylp 2017-06-19 easyui样式修改,datagird的toolbar样式*/
.datagrid-toolbar .easyui-linkbutton {
	width:100px;
	}
.messager-body .l-btn-left{
	width:33px;
	}
/*ylp 2017-06-19 easyui样式修改,tabs边框颜色*/
.tabs-header,
.tabs-scroller-left,
.tabs-scroller-right,
.tabs-tool,
.tabs,
.tabs-panels,
.tabs li a.tabs-inner,
.tabs li.tabs-selected a.tabs-inner,
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner,
.tabs-header-left .tabs li.tabs-selected a.tabs-inner,
.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
  border-color: #C5C5C5!important;
}
/*ylp 2017-06-19 easyui样式修改,tabs底色*/
.tabs-header,
.tabs-tool {
  background-color: #F8F8F8!important;
}
/*ylp 2017-06-19 easyui样式修改,tabs li底色*/
.tabs li a.tabs-inner {
  color: #0E2D5F;
  background-color: #F8F8F8;
  background: -webkit-linear-gradient(top,#F8F8F8 0,#F8F8F8 100%);
  background: -moz-linear-gradient(top,#F8F8F8 0,#F8F8F8 100%);
  background: -o-linear-gradient(top,#F8F8F8 0,#F8F8F8 100%);
  background: linear-gradient(to bottom,#F8F8F8 0,#F8F8F8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8F8F8,endColorstr=#F8F8F8,GradientType=0);
}
/*ylp 2017-06-19 easyui样式修改,tabs li选中底色*/
.tabs li.tabs-selected a.tabs-inner {
  background-color: #FFFFFF;
  color: #0E2D5F;
  background: -webkit-linear-gradient(top,#FFFFFF 0,#FFFFFF 100%);
  background: -moz-linear-gradient(top,#FFFFFF 0,#FFFFFF 100%);
  background: -o-linear-gradient(top,#FFFFFF 0,#FFFFFF 100%);
  background: linear-gradient(to bottom,#FFFFFF 0,#ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF,endColorstr=#ffffff,GradientType=0);
}
/*ylp 2017-06-19 easyui样式修改,tabs li 悬浮底色*/
.tabs li a.tabs-inner:hover {
  background: #FFFFFF;
  color: #000000;
  filter: none;
}
/*ylp 2017-06-19 easyui样式修改,tabs 高度调整*/
.tabs li a.tabs-inner {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0 10px;
  height: 35px!important;
  line-height: 35px!important;
  text-align: center;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.tabs{
	height: 36px!important;
}
/*ylp 2017-06-19 easyui样式修改,tabs选中的下边框隐藏*/
.tabs li.tabs-selected a.tabs-inner {
  border-bottom: 1px solid #ffffff!important;
}
/*ylp 2017-06-19 easyui样式修改,panel边框 */


.panel-header,
.panel-body {
  border-color: #C5C5C5;
}
.panel-header {
  background-color: #EEEEEE;
  background: -webkit-linear-gradient(top,#EEEEEE 0,#EEEEEE 100%);
  background: -moz-linear-gradient(top,#EEEEEE 0,#EEEEEE 100%);
  background: -o-linear-gradient(top,#EEEEEE 0,#EEEEEE 100%);
  background: linear-gradient(to bottom,#EEEEEE 0,#EEEEEE 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEEEE,endColorstr=#EEEEEE,GradientType=0);
}
.panel-body {
	border-radius:0
}
.panel-title{
	height:25px!important;
	line-height:25px!important;
	}
/*ylp 2017-06-19 easyui样式修改,layout布局*/
.layout-expand{
	background-color:#C5C5C5!important;
	}
.layout-split-north {
  border-bottom: 5px solid #C5C5C5;
}
.layout-split-south {
  border-top: 5px solid #C5C5C5;
}
.layout-split-east {
  border-left: 5px solid #C5C5C5;
}
.layout-split-west {
  border-right: 5px solid #C5C5C5;
}
/*ylp 2017-06-19 easyui样式修改,弹出框布局*/

.window,
.window-shadow {
  position: absolute;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.window-shadow {
  background: #ccc;
  -moz-box-shadow: 2px 2px 3px #cccccc;
  -webkit-box-shadow: 2px 2px 3px #cccccc;
  box-shadow: 2px 2px 3px #cccccc;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}
/*ylp 2017-06-19 easyui样式修改,弹出框布局 body 上下框颜色*/
.window .window-body{
	border-width:1px 0 1px 0;
	border-bottom-color:#C5C5C5!important;
	border-top-color:#C5C5C5!important;
	}
.window,
.window .window-body {
  border-color: #EDEDED;
}
/*ylp 2017-06-19 easyui样式修改,弹出框底色*/
.window {
  background-color: #FFFFFF;
  background: -webkit-linear-gradient(top,#FFFFFF 0,#FFFFFF 20%);
  background: -moz-linear-gradient(top,#FFFFFF 0,#FFFFFF 20%);
  background: -o-linear-gradient(top,#FFFFFF 0,#FFFFFF 20%);
  background: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 20%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF,endColorstr=#FFFFFF,GradientType=0);
}
/*ylp 2017-06-19 easyui样式修改,弹出框宽高*/
.messager-window{
	left: 333px!important; 
	top: 127px!important; 
	width: 488px!important; 
	height: 160px!important; 
	
	}
/*ylp 2017-06-19 easyui样式修改,弹出框header宽度*/
.window .window-header {
  width: 488px!important; 
  padding:0 0 6px 10px;
}
/*ylp 2017-06-19 easyui样式修改,弹出框body宽度*/
.messager-body{
	width: 488px!important; 
	}
.window-header{
	border-bottom-width:0
	}
/*ylp 2017-06-19 easyui样式修改,弹出框操作按钮居右*/
.messager-button{
	float:right;
	margin-right:20px;
	}
/*ylp 2017-06-19 easyui样式修改,弹出框title字体加粗*/

.window-header .panel-title{
	font-weight:bold!important;
	}
/*ylp 2017-06-19 easyui样式修改,弹出框按钮宽度*/

.messager-button .l-btn-text{
	width:33px;
	margin-left: 0px;
	}
/*ylp 2017-06-19 easyui样式修改,弹出框操作按钮右边间距*/

.window-header .panel-tool{
	margin-right:20px;
	}
/*ylp 2017-06-19 easyui样式修改,弹出框shadow调整*/

.window-shadow{
	left: 333px!important; 
	top: 127px!important; 
	width: 488px!important; 
	height: 160px!important; 
	}

 .textParent{
	 
	 background-color:#FFFFFF!important;
	 border:solid 1px #CCCCCC
	 }
.textParent:focus{
	 box-shadow: 0 0 3px #40a2de;
	border:1px solid #A4C6FD;
	
	}
	

/*-----------------------------------单个按钮-------------------------------------------*/
/*ylp 2017-06-19 easyui样式修改,单独button样式*/

.admsearch{
		height:30px;
		width:100px;
		background-color:#40a2de;
		color:#fff;
		border: solid 1px #40a2de;
		cursor: pointer; 
		margin-left:-2px;	
		
 }
.admsearch:hover{
		
	background-color:#378ec4;	 
		 
 }
 /*-----------------------------------按钮组---------------------------------------------*/
 /*ylp 2017-06-19 easyui样式修改,按钮组样式*/
 .button-group .admsearch{
		background-color:#FFFFFF;
		color:#0e2d5f;
		border-top: solid 1px #CCCCCC;
		border-bottom: solid 1px #CCCCCC;
		border-left: solid 1px #CCCCCC;
		border-right: 0;
		margin-left:-4px;	
		
 }
 /*ylp 2017-06-19 easyui样式修改,按钮组悬浮样式*/
 .button-group .admsearch:hover{
	 background-color:#F7F7F9;	 
	 }

 .button-group .admsearch:first-child{
	 border-radius:4px 0 0 4px ; 
	 }
 .button-group .admsearch:last-child{
	 border-right: solid 1px #CCCCCC;
	 border-radius:0 4px 4px 0 ; 
	 }
 .button-group .admsearch:focus{
	 box-shadow: 0 0 3px #40a2de;
	 border:1px solid #A4C6FD;
	 background-color:#F7F7F9;
	 }

 /*-----------------------------------easyui引用font-awesome图标---------------------------------------------*/
.l-btn-icon,.panel-icon,.menu-icon,.tabs-icon {
    font-family:FontAwesome;
    font-size:16px !important;
    line-height:normal !important;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-align:center;
}
.tabs-icon {
    font-size:16px !important;
    font-weight:normal;
}
.placeBut{
	width:130px;
	height:30px;
	background-color:#40A2DE;
	color:#ffffff;
	border:0px;
	font-size:14px;
}
/*ylp 2017-10-19 匿名按钮样式*/
#switch-out{
	width: 61px;
	height: 26px;
	border-radius: 5px;
	position: relative;
     }
#switch-in{
	width: 30px;
	height: 23px;
	border-radius: 5px;
 	position: absolute;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
     }
.open-out{
	background: #21BA45;
    }
.open-in{
	top: 1px;
	right: 1px;
	background:#E5E5E5;
     }
.close-out{
	background: #FFFFFF;
	border:1px solid #D9D9D9;
	border-left: transparent;
     }
.close-in{
	left: 0px;
	top: 0px;
	border:1px solid #D9D9D9;
	border-left:0px;
     }