#switch-out{
	width: 61px;
	height: 26px;
	border-radius: 5px;
	position: relative;
     }
#switch-in{
	width: 30px;
	height: 23px;
	border-radius: 5px;
 	position: absolute;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
     }
.open-out{
	background: #21BA45;
    }
.open-in{
	top: 1px;
	right: 1px;
	background:#E5E5E5;
     }
.close-out{
	background: #FFFFFF;
	border:1px solid #D9D9D9;
	 border-left: transparent;
     }
.close-in{
	left: 0px;
	top: 0px;
	border:1px solid #D9D9D9;
     }
 
 
 
 
.box{
	display:none;
	height:10%;
	width:10%; 
	left:250;
	top:100;
	position: fixed;
	border:1px solid #e5e5e5;
	background-color:#FFFFFF;
	box-shadow:1px 1px 5px 5px #888888 
}