/*重写easyui.css部分样式 hxy*/
body,textarea{
	font-family:Arial,"Microsoft Yahei";
	font-size:14px;
	color:#000;
}
/*hxy 2017-02-28 table字体为14px*/
.datagrid-header .datagrid-cell span,.datagrid-cell,.panel-title{font-size:14px!important}
.tree-title,.l-btn-text,.panel-title,.panel-body,.tabs-title,.textLabel,td{
	font-size:14px!important;
}
.validatebox-invalid{border-color:#40a2de;background:none;}/*hxy 2017-10-20 覆盖验证必填样式*/

/*datagrid重写*/
.datagrid-header,.datagrid-htable{
   min-height:36px;
}/*hxy table标题行高 38*/
.datagrid-header-check{
   height:26px;
}/*hxy checkbox显示不全微调*/
.datagrid-cell-check{
   margin-top: -4px;
   height:22px;
}/*hxy checkbox显示不全、对不齐微调 08-30*/
.datagrid-header-over{
	color:#000!important;/*09-27*/
}

/*qqa 下拉框调整 st*/
.combo {
	border-color:#40a2de !important;		
}
.combo .combo-text{
	font-size: 14px; /*修改combobox下拉框中字体大小*/
}
.panel-header, .panel-body{
	border-color:#40a2de !important;
}
.combo .combo-arrow {
	background-color: #fff;/*#40a2de*/
	opacity:0.7!important; /*hxy 2020-01-22*/
}	
.combo .combo-arrow:hover {
	background-color: #fff !important;/*#40a2de*/
	opacity:1!important;/*hxy 2020-01-22*/
}
.combobox-item{
	line-height:25px;
	color:#000;
}
.combobox-item-selected {
	background-color: #ccc;
	color: #000;
}
.combobox-item:hover{
	background-color: #dbecf8;/*#40a2de hxy 2020-01-22 st*/
	/*color: #fff; ed*/
}/*ed*/

/*日期框图标替换*/
.datebox .combo-arrow{
	background-color:#FFFFFF!important;
	margin-left:-4px;
}
.datebox .combo-arrow:hover {
	background-color:#FFFFFF!important;
}	
select{
	width:138px;/*hxy 09-11 兼容ie8的部分下拉*/
}
.combo{
	border-color:#40a2de!important;
	min-height:28px;/* 最小的高为30px 08-22 add*/
}
.combo-arrow{
	opacity:1;
	width:28px;/*hxy 09-12下拉框图标太小调整*/
}/*hxy 09-04 下拉框初始化颜色浓*/

/*hxy审核弹窗样式st 08-30*/
.window-header > .panel-title{
   color:#fff;
   color:#fff!important;
   height:36px;
   font-size:15px!important;
   font-size:15px;
   line-height:36px;
   background-color:#566982;
   padding-left:10px;
}
.window,.window .window-header{
   padding:0;
}/*ed*/
.window-body{
	border-radius: 0 0 4px 4px;
}/*整理demo时新加 09-26*/	

.panel-title{
	line-height:22px;
	height:22px;
}/*检查申请--检查、检验弹出框兼容ie8微调09-22*/

/*fieldset >  div:nth-child(1){
	min-height:10px!important;
}*/

/*------------------------自写样式----------------------*/
.font-12{font-size:12px;}
.font-16{font-size:16px;}
img{border:none;}/*hxy 去掉ie8的图border*/
/*蓝按钮--sm--70*25 hxy 09-21*/
.dhcc-btn-blue-sm{
	height:25px;
	width:70px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#40A2DE;
	border: solid 1px #40A2DE;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-blue-sm:hover{
	background-color:#378EC4;
}
/*绿按钮--sm--70*25*/
.dhcc-btn-green-sm{
	height:25px;
	width:70px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#40C27B;
	border: solid 1px #40C27B;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-green-sm:hover{
	background-color:#1DA362;
}
/*黄按钮--sm--70*25 */
.dhcc-btn-yellow-sm{
	font-family:Arial,"Microsoft Yahei";
	cursor:pointer;
	height:25px;
	width:70px;
	background-color:#F4A521;
	color:#FFFFFF;
	border: solid 1px #F4A521;
	border-radius:0px;
}
.dhcc-btn-yellow-sm:hover{
	background-color:#FF9900;
}
/*红按钮--sm--70*25 hxy 08-30*/
.dhcc-btn-red-sm{
	height:25px;
	width:70px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#DE5246;
	border: solid 1px #DE5246;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-red-sm:hover{
	background-color:#FB5151;
}
/*蓝按钮--80*30 hxy 09-21*/
.dhcc-btn-blue{
	height:30px;
	width:80px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#40A2DE;
	border: solid 1px #40A2DE;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-blue:hover{
	background-color:#378EC4;
}
/*绿按钮--80*30*/
.dhcc-btn-green{
	height:30px;
	width:80px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#40C27B;
	border: solid 1px #40C27B;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-green:hover{
	background-color:#1DA362;
}
/*黄按钮--80*30 */
.dhcc-btn-yellow{
	font-family:Arial,"Microsoft Yahei";
	cursor:pointer;
	height:30px;
	width:80px;
	background-color:#F4A521;
	color:#FFFFFF;
	border: solid 1px #F4A521;
	border-radius:0px;
}
.dhcc-btn-yellow:hover{
	background-color:#FF9900;
}
/*红按钮--80*30 hxy 08-30*/
.dhcc-btn-red{
	height:30px;
	width:80px;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#DE5246;
	border: solid 1px #DE5246;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.dhcc-btn-red:hover{
	background-color:#FB5151;
}
/*100*30red按钮--取消申请 hxy 2017-09-08*/
.dhcc-btn-red-lg{
	font-family:Arial,"Microsoft Yahei";
	cursor:pointer;
	height:30px;
	width:100px;
	background-color:#DE5246;
	color:#FFFFFF;
	border: solid 1px #DE5246;
	border-radius:0px;
}
.dhcc-btn-red-lg:hover{
	background-color:#E02433;
}
/*100*30yellow按钮--打印条码 hxy 2017-09-08*/
.dhcc-btn-yellow-lg{
	font-family:Arial,"Microsoft Yahei";
	cursor:pointer;
	height:30px;
	width:100px;
	background-color:#F4A521;
	color:#FFFFFF;
	border: solid 1px #F4A521;
	border-radius:0px;
}
.dhcc-btn-yellow-lg:hover{
	background-color:#FF9900;
}
/*按钮green--100*30*/
.dhcc-btn-green-lg{
	font-family:Arial,"Microsoft Yahei";/*hxy*/
	cursor:pointer;/*hxy*/
	height:30px;
	width:100px;
	background-color:#40C27B;
	color:#FFFFFF;
	border: solid 1px #40C27B;
	border-radius:0px;
}
.dhcc-btn-green-lg:hover{
	background-color:#1DA362;
}
/*打印申请单按钮*/
.dhcc-btn-blue-lg{
	font-family:Arial,"Microsoft Yahei";
	cursor:pointer;
	height:30px;
	width:100px;
	background-color:#40A2DE;
	color:#FFFFFF;
	border: solid 1px #40A2DE;
	border-radius:0px;
	}
/*hxy 08-30 加hover底色*/
.dhcc-btn-blue-lg:hover{
	background-color:#378EC4;
}	

/*按钮--80*30*/
.dhcc-btn{
	height:30px;
	/*min-width:80px;*/
	width:80px;
	padding-left:8px;
	padding-right:8px;
	background-color:#40a2de;
	color:#fff;
	border: solid 1px #40a2de;
	cursor: pointer; 
	font-family:Arial,"Microsoft Yahei";
 }
.dhcc-btn:hover,.dhcc-btn:active{		
	background-color:#378ec4;	 		 
 }
 
/*查询图标按钮 i*/ 
.dhcc-btn .dhcc-btn-previmg{
	background-color: #378ec4;
    line-height: 32px;
    width: 30px;
    height: 30px;
    margin-top: -2px;
    margin-left: -18px;
}
/*查询图标按钮st hxy 08-29*/
.dhcc-btn-icon{
	height:30px;
	min-width:50px;
	width:auto;
	padding-left:8px;
	padding-right:8px;
	background-color:#40a2de;
	color:#fff;
	border: solid 1px #40a2de;
	cursor: pointer; 
	font-family:Arial,"Microsoft Yahei";
	float:left
}
.dhcc-btn-icon:hover,.dhcc-btn-icon:active{		
	background-color:#378ec4;
	border-color:#378ec4; 		 
}
.dhcc-btn-search{
	float:left;
}
.dhcc-btn-search:before{
	content:url(../images/adv_search.png);
}/*查询图标按钮ed*/
.dhcc-btn-clean{
	float:left;
}
.dhcc-btn-clean:before{
	content:url(../images/adv_clean.png);
}/*清空图标按钮 hxy 2018-01-04*/
.dhcc-btn-redo,.dhcc-btn-reset{
	float:left;
}/*hxy 2018-03-08 st*/
.dhcc-btn-redo:before{
	content:url(../images/adv_redo.png);
}/*导出图标按钮*/
.dhcc-btn-reset:before{
	content:url(../images/adv_reset.png);
}/*重置图标按钮 2018-03-08 ed*/
/*radio间距5px*/
input[type=radio]{ 
	margin-right:5px;
	border:0px solid #40a2de;
}/*鑫哥表单 hxy */

/*checkbox间距5px*/
input[type=checkbox]{ 
	margin-right:5px;
	border:0px solid #40a2de;
}

/*输入框*/
input{ /*border统一 hxy*/
	border:1px solid #40a2de;
	height:28px;
	min-height:28px; /*最小的高为30px 08-23 add*/
	font-family:Arial,"Microsoft Yahei";
}
/*输入框*/
.dhcc-input{  
	width:138px;
	/*max-width:138px;*/
	height:30px;
	line-height: normal;
	font-size:14px;
	color:#000;/*#555555*/
	backgroud-color:#FFFFFF;
	border:1px solid #40a2de;
	padding-left:5px;
	padding-top:0px;
	box-sizing: border-box;
	
	-webkit-writing-mode: horizontal-tb;
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
	-webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    font: 14px "Microsoft Yahei";
    vertical-align:baseline;/*cs*/
    white-space:nowrap;
}
/*输入框-ie11圆角*/
.dhcc-input-radius{  
	width:130px;
	height:30px;
	line-height: normal;
	font-size:14px;
	color:#555555;
	border-radius:2px;
	backgroud-color:#FFFFFF;
	border:1px solid #40a2de;
	padding-left:5px;
	box-sizing: border-box;
	
	-webkit-writing-mode: horizontal-tb;
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
	-webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    font: 14px "Microsoft Yahei";
}
/*输入框获得焦点边框样式*/
.dhcc-input:focus,.dhcc-input-radius:focus{
	border:1px solid #40a2de;
}

textarea{  
    border: 1px solid #40a2de;
}
/*不良事件--填报--lable样式*/
label[id$="-red"]{
	color:red;
}
input[id$="Transfer"]{
	position:relative;
	top:10px;
}
label[id$="-center"]{
	line-height:28px!important;/*hxy2017-09-04 改了输入框30后的居中*/
}
/*label[id$="-label"]{
	line-height:28px!important;
}*/
label[for$="-marginleft"]{
	margin-left:25px;
}/*checkbox组的左间距09-01*/
label[id$="-bold"]{
	font-weight:bold;
}/*设置粗体*/
label[id$="-rightlabel-bold"]{
	/*text-align:right;10-26*/
	float:right;
	margin-right:10px;
	padding-top:5px;/*hxy2017-08-22改了输入框30后的居中*/
	font-weight:bold;
}
label[id$="-rightlabel"]{
	/*text-align:right;*/
	float:right;
	margin-right:10px;
	padding-top:5px;/*hxy2017-08-22改了输入框30后的居中*/
}
label[id$="-marginright"]{
	float:right;
	margin-right:10px;
	padding-top:5px;/*hxy2017-08-22改了输入框30后的居中*/
}
/*好东西!绑定input的lable(id命名规则以-label结尾)
实现右对齐和间距10px;2017-08-14*/

/*不良事件-锚点 hxy 2017-08-16 st*/
/*圆形*/
.circle{
	width: 7px;
    height: 7px;
    background: #CCCCCC;
    border-radius: 50px;
    float:left;
    margin-left:-19px;
    margin-top:14px;
}
/*锚点ul*/
#anchor ul {
    list-style: none;
    margin: 0px;
    padding: 0px 23px;
    width: auto;
}
/*锚点li*/
#anchor li {
    position: relative;
    padding: 0 0 0 15px;
    line-height: 35px;
    border-left: 1px dashed #cccccc;
}
/*锚点img*/
.anchor-circle{
	background:	url(../../../scripts/dhcadvEvt/images/anchor.png) no-repeat;		
	width:10px;
	height:10px;
	float:left;
	margin-left:-19px;
	margin-top:2px;
}
#anchor li:hover{
	color:#017BCE;
	cursor:pointer;
}
.anchor-cur:before
{
    content:url(../../../scripts/dhcadvEvt/images/anchor-checked.png);
	position:absolute;
	left: -6px;
	top:14px;
}/*不良事件-锚点ed*/

/*自写-检查申请一体化 ：假panle 2017-08-15 hxy st*/
fieldset{
	border:1px solid #40A2DE;
	/*padding-top:10px;要竖线的话去掉*/
	padding-bottom:10px;/*要竖线的话去掉*/
}
legend {
    padding: 0.5em 0.5em 0.1em 0.7em;
    margin-bottom: 0px;
    border: 0;
    width: auto;
    border-bottom: 1px solid #40A2DE;
    border-radius: 7px;
    font-weight: bold;
}
.panel-legend{/*暂不使用，竖线样式*/
	width:0px;
	height:10px;
	border-right:1px solid #40a2de;
	margin-top:-18px;
}/*end*/

/*检查申请一体化的 注意事项,结合js实现 hxy*/
.legend-img-gotop:after{
	content:url(../../../scripts/dhcadvEvt/images/double_gotop.png);	
}
.legend-img-gobottom:after{
	content:url(../../../scripts/dhcadvEvt/images/double_gobottom.png);	
}/*ed*/

/*不良事件-大标题 hxy 2017-08-18 st*/
.title-big{
	 width:100%;
	 height:40px;
	 padding-top:14px;
	 text-align:center;
	 font-size:22px;
	 color:#333;
	 word-spacing:20px;
	 letter-spacing:20px;
}/*end*/

/*不良事件首页样式start 2017-08-18*/
/*第一块样式hxy*/
#adv_w:before{
	content:url(../images/adv_w_img.png);
	position:relative;
	left:60px;
	top:20px;
	z-index:2;
}
#adv_c:before{
	content:url(../images/adv_c_img.png);
	position:relative;
	left:60px;
	top:20px;
	z-index:2;
}
#adv_s:before{
	content:url(../images/adv_s_img.png);
	position:relative;
	left:60px;
	top:20px;
	z-index:2;
}
#adv_c p:after,#adv_s p:after,#adv_w p:after{
	content:url(../images/adv_right.png);
}
/*第二块样式hxy 2017-8-21*/
.index-function-button-title{
	border-left:3px solid #017BCE;
	width:auto;
	height:14px;
	margin-left:6px;
	margin-top:12px;
}
.index-function-button-one{
	cursor: pointer;
	float:left;
	width:20%;
	text-align:center;
	margin-top:40px;
}
.index-function-button-one img,.index-function-button-two img{
	padding-left:12px;
}
.index-function-button-one i,.index-function-button-two i{
	background-color:red;
	border-radius:50%;
	color:#fff;
	position:relative;
	top:-40px;
	left:-5px;
}
.index-function-button-num{
	padding:0 3px;
}
.index-function-button-one p,.index-function-button-two p{
	padding-bottom:9px
}
.index-function-button-one:hover,.index-function-button-two:hover{
	color:blue;
}
.index-function-button-two{
	cursor: pointer;
	float:left;
	width:50%;
	text-align:center;
	margin-top:40px;
}
/*不良事件首页样式end*/

/*检查申请一体化布局 2017-08-17 st-------------*/
.layout-left{
	width:214px;
	height:100%;
	float:left;
	position:absolute;
	box-sizing: border-box;
	/*background-color:#8CEFFF;*/
	padding:4px 0 4px 4px;
}
.layout-right{
	width:1114px;
	height:100%;
	float:right;
	padding:4px 4px 4px 0;
}
.layout-left-title{
	width:100%;
	height:25px;
	color:#fff;
	font-weight:bold;
	background-color:#008FF0;	
	padding-top:10px;
}
.layout-left-title p{
	margin-top:0px;
	padding-left:5px;
}
.layout-left-con{
	border-top:0;
	border:0px solid #40A2DE;
}
/***add↓***/
.layout-right-title{
	height:40px;
	background-color:#eee;
}
.layout-right-title>div{
	float:left;
}
.layout-right-title-img:before{
	 content:url(../images/goleft.png);
}
.layout-goright{
	display:none;
}
.layout-goright:before{
	 content:url(../images/goright.png);
	 position:absolute;
	 left:1px;
}
.layout-right-title-con{
	margin-left:16px;
	margin-top:10px;
}
.layout-right-con{
    height:615px;
    /*padding-left:6px;*/
    padding-top:4px;/*2017-08-23*/
}/*右布局ed-------------*/

/*检查申请一体化的 注意事项 st*/
.legend-img-gotop:after{
	content:url(../images/double_gotop.png);	
}
.legend-img-gobottom:after{
	content:url(../images/double_gobottom.png);	
}/*ed*/

/*不良事件--报告综合查询的按钮 2017-08-28*/
.adv_sel_1:before{ /*刷新*/
	content:url(../images/adv_sel_1.png);
	position:relative;
	top:1px;
}
.adv_sel_2:before{ /*导出*/
	content:url(../images/adv_sel_2.png);
	position:relative;
	top:1px;
}
.adv_sel_3:before{ /*打印*/
	content:url(../images/adv_sel_3.png);
	position:relative;
	top:1px;
}
.adv_sel_4:before{ /*转抄*/
	content:url(../images/adv_sel_4.png);
	position:relative;
	top:1px;
}
.adv_sel_5:before{ /*接收*/
	content:url(../images/adv_sel_5.png);
	position:relative;
	top:1px;
}
.adv_sel_6:before{ /*驳回*/
	content:url(../images/adv_sel_6.png);
	position:relative;
	top:1px;
}
.adv_sel_7:before{ /*分享*/
	content:url(../images/adv_sel_7.png);
	position:relative;
	top:1px;
}
.adv_sel_71:before{ /*撤销分享*/
	content:url(../images/adv_sel_71.png);
	position:relative;
	top:1px;
}
.adv_sel_9:before{ /*重点关注*/
	content:url(../images/adv_sel_9.png);
	position:relative;
	top:1px;
}
.adv_sel_91:before{ /*取消重点关注*/
	content:url(../images/adv_sel_91.png);
	position:relative;
	top:1px;
}
.adv_sel_10:before{ /*审核*/
	content:url(../images/adv_sel_10.png);
	position:relative;
	top:1px;
}
.adv_sel_101:before{ /*撤销审核*/
	content:url(../images/adv_sel_101.png);
	position:relative;
	top:1px;
}

.adv_sel_1:hover,.adv_sel_2:hover,.adv_sel_3:hover,.adv_sel_4:hover,.adv_sel_5:hover,
.adv_sel_6:hover,.adv_sel_7:hover,.adv_sel_71:hover,.adv_sel_9:hover,.adv_sel_91:hover,
.adv_sel_10:hover,.adv_sel_101:hover{
	background-color:#DCEBF9;
	cursor:pointer;
}
.adv_sel_1,.adv_sel_2,.adv_sel_3,.adv_sel_4,.adv_sel_5,.adv_sel_6,.adv_sel_7,.adv_sel_71,.adv_sel_9,.adv_sel_91,.adv_sel_10,.adv_sel_101{
	padding:0 10px;
}

/*不良事件--报告综合查询的按钮 st 2017-09-28*/
.toolbar-refresh:before{ /*刷新*/
	content:url(../images/adv_sel_1.png);
	position:relative;
	top:1px;
}
.toolbar-export:before{ /*导出*/
	content:url(../images/adv_sel_2.png);
	position:relative;
	top:1px;
}
.toolbar-print:before{ /*打印*/
	content:url(../images/adv_sel_3.png);
	position:relative;
	top:1px;
}
.toolbar-transcription:before{ /*转抄*/
	content:url(../images/adv_sel_4.png);
	position:relative;
	top:1px;
}
.toolbar-receive:before{ /*接收*/
	content:url(../images/adv_sel_5.png);
	position:relative;
	top:1px;
}
.toolbar-reject:before{ /*驳回*/
	content:url(../images/adv_sel_6.png);
	position:relative;
	top:1px;
}
.toolbar-share:before{ /*分享*/
	content:url(../images/adv_sel_7.png);
	position:relative;
	top:1px;
}
.toolbar-shareUndo:before{ /*撤销分享*/
	content:url(../images/adv_sel_71.png);
	position:relative;
	top:1px;
}
.toolbar-focus:before{ /*重点关注*/
	content:url(../images/adv_sel_9.png);
	position:relative;
	top:1px;
}
.toolbar-focusUndo:before{ /*取消重点关注*/
	content:url(../images/adv_sel_91.png);
	position:relative;
	top:1px;
}
.toolbar-audit:before{ /*审核*/
	content:url(../images/adv_sel_10.png);
	position:relative;
	top:1px;
}
.toolbar-auditUndo:before{ /*撤销审核*/
	content:url(../images/adv_sel_101.png);
	position:relative;
	top:1px;
}

.toolbar-delete:before{ /*删除*/
	content:url(../images/grid_delete.png);
	position:relative;
	top:1px;
}
.toolbar-fish:before{ /*鱼骨图*/
	content:url(../images/fish.png);
	position:relative;
	top:1px;
}
.toolbar-refresh:hover,.toolbar-export:hover,.toolbar-print:hover,.toolbar-transcription:hover,.toolbar-receive:hover,
.toolbar-reject:hover,.toolbar-share:hover,.toolbar-shareUndo:hover,.toolbar-focus:hover,.toolbar-focusUndo:hover,.toolbar-delete:hover,
.toolbar-audit:hover,.toolbar-auditUndo:hover, 
.toolbar-caseshare:hover,.toolbar-caseshareUndo:hover,.toolbar-file:hover,.toolbar-fileUndo:hover,.toolbar-cancel:hover,.toolbar-delete:hover,.toolbar-fish:hover    {
	background-color:#DCEBF9;
	cursor:pointer;
}
.toolbar-refresh,.toolbar-export,.toolbar-print,.toolbar-transcription,.toolbar-receive,.toolbar-reject,.toolbar-share,.toolbar-delete,
.toolbar-shareUndo,.toolbar-focus,.toolbar-focusUndo,.toolbar-audit,.toolbar-auditUndo,
.toolbar-caseshare,.toolbar-caseshareUndo,.toolbar-file,.toolbar-fileUndo,.toolbar-cancel,.toolbar-delete,.toolbar-fish{
	padding:0 10px;
}

/*接下来是让你们心动的图片库*/
.img-panel-title{
	background: url(../images/threeline.png) no-repeat center center;	
}
.img-nav-home{
	background: url(../images/home.png) no-repeat center center;	
}
.img-nav-main{
	background: url(../images/main.png) no-repeat center center;	
}/*ed*/


/* 检查申请一体化 输入框*/
.dhcc-input-search{  
	width:125px;
	height:25px;
	min-height:25px!important;
	font-size:13px;
	color:#555555;
	background-color:#FFFFFF;
	border:1px solid #46A3DC;
	padding-left:5px;
}
/*检查申请一体化 输入框search搜索按钮*/
.inputButton{
	border:0px;
	padding:0px;
	margin:0 0 -9px -4px; 
	width:27px;
	height:27px;
	}
.inputButton img{
	border:0px;
	padding:0px;
	margin:0px;
	border:1px solid #40A2DE;/*hxy 08-25*/
}
/*-----------------------------------panel-------------------------------------------*/

.dhcc-panel {
  /*width:99.8%!important;*/
  overflow: hidden;
  text-align: left;
  margin: 0 0 10px 0 ;
  border: 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border:1px solid #CCCCCC;
  border-radius: 4px;
  overflow-x: hidden; 
  overflow-y: hidden;
}
.dhcc-panel-header{
	height: 40px;
	background-color: #F9F9FA;
	border-bottom:1px solid #CCCCCC;
	}
.dhcc-panel-title {
    padding-left:14px;
    font-weight: bold;
    font-size:16px;
    color: #333333;
	padding-top:12px;
}
.dhcc-panel-body{	
	border-top-width: 0;
	padding: 0;
	min-height:60px;
	padding-top: 8px;/*08-25*/
}


/*-----------------------------------panel 详情和刷新图片-------------------------------------------*/


.dhcc-panel-titleimg{
	margin-left:10px;
	margin-bottom:-2px;
	cursor:pointer;/*09-19*/
	}
.dhcc-panel-refreshimg{
	float:right;
	margin-right:10px;
	margin-top:-15px;
	cursor:pointer;/*09-19*/
	}
/*-----------------------------------费用-------------------------------------------*/

.myCost{	
	height:30px;	
	}
.myCostleft{
	width:70px;
	height:30px;
	background-color:#FF5400;
	border:1px solid #FF5400;
	float:left;
	}
.myCostright{
	background-color:#FFFFFF;
	border-top:1px solid #FF5400;
	border-right:1px solid #FF5400;
	border-bottom:1px solid #FF5400;
	color:#333333;
	float:left;
	min-width:70px;
	padding:3px 3px 0 3px;
	height:27px;
	text-align:center;
	margin-left:-1px;
	}
.myCostright span{
	font-size:19px;
	color:#FF5400;
	font-weight:bold;
	}
.myCostleftbl{
	float:left;
	width: 1px;
	height: 1px;
	border-top: 6px solid transparent;
	border-left: 6px solid transparent;
	border-right: 6px solid #ffffff;
	border-bottom: 6px solid transparent;
	margin-left:-12px;
	margin-top:9px;
	}
.myCostleftin{
	font-size:19px;
	color:#FFFFFF;
	font-weight:bold;
	margin-left:5px;
	margin-top:2px;
}
	
/*检查一体化--绿按钮 hxy 08-25*/
.greenButton{
	height:25px;
	min-width:70px;
	width:auto;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#40C27B;
	border: solid 1px #40C27B;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.greenButton:hover{
	background-color:#1DA362;
}
/*检查一体化--蓝按钮 hxy 08-25*/
.blueButton{
	height:25px;
	min-width:70px;
	width:auto;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#40A2DE;
	border: solid 1px #40A2DE;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.blueButton:hover{
	background-color:#378EC4;
}
/*不良事件--红按钮 hxy 08-30*/
.redButton{
	height:25px;
	min-width:70px;
	width:auto;
	color:#FFFFFF;
	cursor:pointer;
	font-family:Arial,"Microsoft Yahei";
	background-color:#DE5246;
	border: solid 1px #DE5246;
	border-radius:0px;
	padding-left:3px;
	padding-right:3px;
}
.redButton:hover{
	background-color:#FB5151;
}	
/*100*30red按钮--取消申请 hxy 2017-09-08*/
.dhcc-btn-red-100{
	font-family:Arial,"Microsoft Yahei";
	cursor:pointer;
	height:30px;
	width:100px;
	background-color:#DE5246;
	color:#FFFFFF;
	border: solid 1px #DE5246;
	border-radius:0px;
}
.dhcc-btn-red-100:hover{
	background-color:#E02433;
}
/*100*30yellow按钮--打印条码 hxy 2017-09-08*/
.dhcc-btn-yellow-100{
	font-family:Arial,"Microsoft Yahei";
	cursor:pointer;
	height:30px;
	width:100px;
	background-color:#F4A521;
	color:#FFFFFF;
	border: solid 1px #F4A521;
	border-radius:0px;
}
.dhcc-btn-yellow-100:hover{
	background-color:#FF9900;
}

/*发送申请单按钮*/
.msendButton{
	font-family:Arial,"Microsoft Yahei";/*hxy*/
	cursor:pointer;/*hxy*/
	height:30px;
	width:100px;
	background-color:#40C27B;
	color:#FFFFFF;
	border: solid 1px #40C27B;
	border-radius:0px;
	}
/*打印申请单按钮*/
.mprintButton{
	font-family:Arial,"Microsoft Yahei";
	cursor:pointer;
	height:30px;
	width:100px;
	background-color:#40A2DE;
	color:#FFFFFF;
	border: solid 1px #40A2DE;
	border-radius:0px;
	}
/*hxy 08-30 加hover底色*/
.msendButton:hover{
	background-color:#1DA362;
}
.mprintButton:hover{
	background-color:#378EC4;
}

/*cy 2018-12-20 */
/*.lable-input{
	 float:right;
	 margin-right: 0px; 	 
	 margin-top:-21px;
	 position:relative
}*/

.lable-input{
	 float:left;
	 margin-right: 10px; 	 
	 margin-top:-21px;
	 position:relative
}
	
/*ylp 09-11 radio-databox调整*/
.radio-date + span{
	 float:right;
	 margin-right: 10px; 
	 margin-top:-33px;
	 position:relative;
}
.radio-date  .combo-arroy{
	position:relative;
	}

/*ylp 2017-10-18 针头按钮*/
.tabs-header{
	border:0px;
	background-color:#FFFFFF;
	}
.tabs-panels{
	border:0px;
	}
.tabs{
	border:0px;
	}
.tabs li{
	min-width:90px;
	height:20px;
	margin:0 50px 0 0;
	}
.tabs li a{
	width:100%;
	}
.tabs li a.tabs-inner{
	background:#EFEFEF;
	color:#666666;
	border:0px;
	border-radius:3px;
	padding:0px;
	}
.tabs li.tabs-selected a.tabs-inner{
	border:0px;
	}
.tabs li.tabs-selected a.tabs-inner{
	background:#F1F9FF;
	color:#43ABEB;
	}


/*ylp 09-04 检查一体化冷冻、加急、绝经位置调整*/
#lable88128,#lable88129,#lable88150,#lable88152,#lable88151,#lable88675,#lable88149{
	margin-top:7px!important;
}
#lable92{
	margin-top:6px!important;
}
#lable88150{
	margin-top:2px!important;
}

/*ylp 2017-10-18 医疗不良事件 事件发生后的处理*/

ul{
	padding-left:20px; /*hxy 2018-06-06 原8px 子元素的缩进*/ 

	}
ul li textarea{
	width:95%;
	margin-left:-7px;/*0px*/
	margin-top:-18px;
	}
#lable88485 .lable-input,#lable88486 .lable-input{
	margin-right:280px;

	}
#lable88502 .lable-input,#lable88503 .lable-input{
	margin-right:610px;
	}
#lable88596 .lable-input{
	margin-right:760px;
	}
#lable90362 .lable-input,#lable90364 .lable-input,#lable90372 .lable-input{
	margin-right:130px;
	margin-top:-22px;
	}

#lable88491 +.radio-date + span{
	margin-right:730px;
	
	}

#lable92059 .lable-input,#lable92066 .lable-input,#lable92073 .lable-input{
	margin-right:800px;
	}
#lable92075 .lable-input{
	margin-right:90px;
	margin-top:-22px;
	}
#lable92076 .lable-input{
	margin-right:150px;
	margin-top:-22px;
	}
#lable92077 .lable-input{
	margin-right:73px;
	margin-top:-22px;
	}
#lable89807 .lable-input,#lable89805 .lable-input{
	margin-right:105px;
	margin-top:-22px;
	}
#lable89806 .lable-input{
	margin-right:30px;
	margin-top:-22px;
	}
#lable89809 .lable-input{
	margin-right:150px;
	margin-top:-22px;
	}
#lable88711 .lable-input,#lable88712 .lable-input,#lable88713 .lable-input,#lable88714 .lable-input,#lable90644 .lable-input,#lable90679 .lable-input{
	margin-right:120px;
	}
#lable90766 .lable-input,#lable90773 .lable-input,#lable90783 .lable-input{
	
	margin-right:150px;
	}
#lable90776 .lable-input{
	
	margin-right:320px;
	}
#lable88341{
	width:270px!important;

	}
#lable88341 .lable-input{
	margin-top:-22px;
	margin-right:0px;
	}	
#lable88363{
	width:290px!important;
	}
#lable88363 .lable-input{
	margin-top:-22px;
	margin-right:0px;
	}
#lable88377{
	width:290px!important;
	}
#lable88377 .lable-input{
	margin-top:-22px;
	margin-right:0px;
	}
#lable89184 .lable-input,#lable89185 .lable-input,#lable89186 .lable-input,#lable89187 .lable-input,#lable89188 .lable-input,#lable89189 .lable-input,#lable89190 .lable-input,#lable89191 .lable-input,#lable89192 .lable-input,#lable89193 .lable-input,#lable89194 .lable-input{
	margin-top:-23px;
	}
/*ylp 2017-10-19 针头按钮*/
.tabs-header{
	border:0px;
	background-color:#FFFFFF;
	}
.tabs-panels{
	border:0px;
	}
.tabs{
	border:0px;
	}
.tabs li{
	width:90px;
	height:20px;
	margin:0 50px 0 0;
	}
.tabs li a{
	width:100%;
	}
.tabs li a.tabs-inner{
	background:#EFEFEF;
	color:#666666;
	border:0px;
	border-radius:3px;
	padding:0px;
	}
.tabs li.tabs-selected a.tabs-inner{
	border:0px;
	}
.tabs li.tabs-selected a.tabs-inner{
	background:#F1F9FF;
	color:#43ABEB;
	}
	
/*ylp 2017-10-19 匿名按钮样式*/
#switch-out{
	width: 61px;
	height: 26px;
	border-radius: 5px;
	position: relative;
     }
#switch-in{
	width: 30px;
	
	border-radius: 5px;
 	position: absolute;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
     }
.open-out{
	background: #21BA45;
    }
.open-in{
	top: 1px;
	right: 1px;
	height: 23px;
	background:#E5E5E5;
     }
.close-out{
	background: #e5e5e5;
	height:23px;
	border-left: transparent;
     }
.close-in{
	left: 0px;
	top: 0px;
	height: 22px;
	border:1px solid #D9D9D9;
	border-left:0px;
     }
 /*ylp 2017-10-19 弹出层和灰度样式*/
 #hiddenbox{
	display:none;
	height:200px;
	width:200px;; 
	top:40px;
	left:200px;
	border:0px;
	background-color:#ffffff;
	position:absolute; 
	border-radius:3px;
	z-index:3;
}
#fullbg { 
	background-color:#B2B2B2; 
	left:0; 
	display:none;
	opacity:0.7; 
	position:absolute; 
	top:0; 
	z-index:3; 
} 
#popModalTitle i{
	margin:0 5px 0 10px!important;
	}
#popModalContent{
	
	}
 /*ylp 2017-10-19 事件发生地点按钮*/
.placeBut{
	margin-left:-5px;/*hxy 10-25*/
	width:130px;
	height:30px;
	background-color:#40A2DE;
	color:#ffffff;
	border:0px;
	font-size:14px;
	cursor:pointer;/*10-25*/
}

 /*ylp 2017-10-20 检查分类树样式 */
.tree-lines li .tree-title{
	margin-left:-18px;
	}
.tree-lines li ul li .tree-title{
	margin-left:0px;
	}
#41627-89865{
	margin-left:5px;
}
#lable91383 +.radio-date + span{
	margin-right:795px;
	}
#lable91813 +.radio-date + span,#lable91815 +.radio-date + span, #lable91809 +.radio-date + span{
	margin-right:670px;	
	}
#lable91810 +.radio-date + span,#lable91814 +.radio-date + span{
	margin-right:230px;
	}
#lable91816 .lable-input{
	margin-right:230px;
	}
#lable91856 .lable-input{
	margin-right:40px;
	}
#lable91702 +.radio-date + span,#lable91722 +.radio-date + span,#lable91707 +.radio-date + span,#lable91712 +.radio-date + span,#lable91717 +.radio-date + span{
	margin-right:50px;
}
#lable90745 .lable-input{
	margin-right:735px;
	}

 /* cy 2017-12-05 修改input，date样式 */
.dhcc-input,.lable-input{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	}
.dhcc-input:focus,.lable-input:focus{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	}
.datebox{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	padding:0px;
}
.combo{border-top:0;border-left:0;border-right:0}/*border-right hxy 2020-01-22*/	
#lable90962 .lable-input,#lable90963 .lable-input{
	margin-right:210px;
	}
#lable90967 .lable-input,#lable90968 .lable-input{
	margin-right:305px;
	}
#lable90973 .lable-input{
	margin-right:260px;
	}
#lable90974 .lable-input{
	margin-right:280px;
	}
#lable90987 .lable-input{
	margin-right:90px;
	}
#lable91001 .lable-input{
	margin-right:130px;
	}
#lable91028 .lable-input{
	margin-right:800px;
	}
	
#DModelWrite:before{
	content:url(../images/adv_sel_8.png);
	position:relative;top:5px;left:2px;
}/*hxy 2017-12-07 不良-器械*/
#lablefireSafetyType-63242 .lable-input{
	margin-right:30px;
	}
/*ggm 2017-12-26 院感不良事件  疑似暴发/暴发信息*/
#lableOutbreakInfor-64071 +.radio-date + span{
	margin-right:795px;
	}
#lableCVVHInfecInfor-65043 +.radio-date + span{
	margin-right:670px;
	}
#lableCVVHInfecInfor-65044 +.radio-date + span{
	margin-right:260px;
	}
#lableHosInSigns-63148-63164 .lable-input,#lableMonitorItem-label-63986-63994-64058 .lable-input{
	margin-right:40px;
	}
#lableHosInFeverInfor-65047 +.radio-date + span,#lableHosInFeverInfor-65049 +.radio-date + span{
	margin-right:730px;
	}
#lableHosInFeverInfor-65048 +.radio-date + span,#lableHosInFeverInfor-65050 .lable-input{
	margin-right:230px;
	}
label[id='OESWIfInitialUser-label']{
	display:inline!important;
    }
label[id='OERLPlace-label']{
	display:inline!important;
    }
label[id='OERLInfluence-label']{
	display:inline!important;
    }
label[id='ConCauEffect-label']{
	display:inline!important;
    }
label[id='AbnormalCase-label']{
	display:inline!important;
    }
label[id='ICDTecQue-label']{  /*2018/1/5 qunianpeng */
	display:inline!important;
    }
label[id='ADVStartDate-label']{  /*2018/1/5 qunianpeng */
	display:inline!important;
    }
label[id='milDesign-label']{  /*2018/1/5 qunianpeng */
	display:inline!important;
    }  
label[id='opeAccHurt-label']{  /*2018/1/5 qunianpeng */
	display:inline!important;
    }  
label[id='IfROSC-label']{  /*2018/1/5 qunianpeng */
	display:inline!important;
    }  
#DModelWrite {
	margin-top:0px;
	}
input[name='163382.93206'],input[name='163382.93207'],input[name='163382.93208']{
	margin-right:200px!important;
}
	/*2017-12-27 zhl 输血不良事件填报-事件基本信息 输入框和文字相隔太远*/
 input[name='161612.90962'],input[name='161617.90967'],input[name='161623.90973']{
	  margin-right:160px!important;
	 }
 input[name='161612.90963'],input[name='161617.90968'],input[name='161623.90974']{
	  margin-right:200px!important;
	 }
 input[name='161644.91028']{
	  margin-right:780px!important;
	 }
 input[name='161644.91001']{
	  margin-right:130px!important;
	 }
 input[name='161626.90987']{
	  margin-right:100px!important;
	 }
/*qunianpeng 2018/1/9 事件发生后的处理  医院感染管理科处理措施 输入框和文字相隔太远 */
 label[id='lableDM31']{  /* 现场调查输入框*/
	width:30%!important;	
 }
 label[id='lableDM32']{ /* 监控采集输入框*/
	width:30%!important;	
 }
  label[id='lableDM74']{  /* 输血科处理-〉重新做输血前献血员和患者配血试验*/
	width:50%!important;	
 }
 label[id='lableDM75']{ /* 输血科处理-〉 血袋剩余血和患者输血后的配血试验*/
	width:50%!important;	
 }
 /*2018-01-19 cy 添加 归档，案例共享，作废操作按钮图标*/
.toolbar-caseshare:before{ /*案例共享*/
	content:url(../images/adv_caseshare.png);
	position:relative;
	top:1px;
}
.toolbar-caseshareUndo:before{ /*撤销案例共享*/
	content:url(../images/adv_caseshareno.png);
	position:relative;
	top:1px;
}
.toolbar-file:before{ /*归档*/
	content:url(../images/adv_file.png);
	position:relative;
	top:1px;
}
.toolbar-fileUndo:before{ /*撤销归档*/
	content:url(../images/adv_fileno.png);
	position:relative;
	top:1px;
}
.toolbar-cancel:before{ /*作废*/
	content:url(../images/adv_cancel.png);
	position:relative;
	top:1px;
}
.toolbar-delete:before{ /*删除*/
	content:url(../images/edit_delete.png);
	position:relative;
	top:1px;
}
/*********包医审核信息样式 **********/
.dhcadv-auditTable{
	border-collapse:collapse;
	width:1000px;
	margin-top:20px;

	}

.dhcadv-auditTable td{
	padding-left:15px;
	border-top:1px solid #DDDDDD!important;
	word-break:break-all;
}
.dhcadv-auditTable tr td:first-child{
	width:100px;
	text-align:right;
	padding:0 0 0 0px;

}
.dhcadv-auditTable tr th:first-child{
	width:100px;
}
.dhcadv-auditTable tr{
	border-spacing-top:1px solid red;

	}
.dhcadv-auditTable th{
	margin-top:10px;
	text-align:left;
}
.dhcadv-auditTable th span{
	color:#3399FF;
	font-weight:bold;
	margin:0 0 0 10px;
	font-size:14px;
}
.dhcadv-auditTable th img{

	margin-bottom:-3px;
}
/*导出图标按钮st */
.dhcc-btn-export{
	float:left;
}
.dhcc-btn-export:before{
	content:url(../images/export.png);
}/*导出图标按钮ed*/
/*ie8图标不显示，改为Img*/
#Refresh,#Export,#ExportAll,#Print,#REceive,#SHare,#RepImpFlag,#Audit,#File,#CaseShare,#RepCancel,#RepDelete,#Fish,#Printhtml,#ExportWord,#DeptConBtn{
	padding:0 5px;
	cursor:pointer;
}

#Refresh:hover,#Export:hover,#ExportAll:hover,#Print:hover,#REceive:hover,#SHare:hover,#RepImpFlag:hover,#Audit:hover,#File:hover,#CaseShare:hover,#RepCancel:hover,#RepDelete:hover,#Fish:hover,#Printhtml:hover,#ExportWord:hover,#DeptConBtn:hover{
	background-color:#DCEBF9;
	cursor:pointer;
	}