.icon-arrow_up
  {    background: url('../images/arrow_up.png') no-repeat scroll center center transparent;
}
.icon-arrow_down
  {    background: url('../images/arrow_down.png') no-repeat scroll center center transparent;
}
.icon-user_green
  {    background: url('../images/user_green.png') no-repeat scroll center center transparent;
}
.icon-user_red
  {    background: url('../images/user_red.png') no-repeat scroll center center transparent;
}