/** 
 * ¼åÒ©ÊÒÇ°Ì¨UI css
 */
 
 /* init start*/

.phadec-date {
    width: 120px;
}

.phadec-time {
    width: 90px;
}

.phadec-combobox{
    width: 160px;
}

.phadec-validatebox{
    width: 153px;
}
/* init end*/
 
/* layout css start*/
.layout-split-north {
    border-bottom-width: 10px;
}

.layout-split-west {
    border-right-width: 10px;
}

.layout-split-south {
    border-top-width: 10px;
}

.layout-split-east {
    border-left-width: 10px;
}
.phadec-north-tbl {
    padding-top: 5px;
    padding-bottom: 5px;
    border-spacing: 0px;
}

.phadec-north-tbl td {
    text-align: right;
    padding-left: 10px;
}

.phadec-north-tbl tr {
    height: 40px;
}

.phadec-north-r1 {
    height: 100px;
    padding-left:10px;
}

.phadec-north-r2 {
    height: 139px;
}

.phadec-north-r3 {
    height: 179px;
}

.phadec-north-r4 {
    height: 219px;
}

.panel.lookup-p>.panel-header,
.panel.combo-p>.panel-header,
.panel.window>.panel-header,
.layout>.panel>.panel-header,
.accordion>.panel>.panel-header,
.tabs-panels>.panel>.panel-header {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.panel.lookup-p>.panel-body,
.panel.combo-p>.panel-body,
.panel.window>.panel-body,
.layout>.panel>.panel-body,
.accordion>.panel>.panel-body,
.tabs-panels>.panel>.panel-body {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-panels {
    border-radius: 0px 0px 4px 4px;
}

.datagrid-wrap.panel-body.panel-body-noheader.panel-body-noborder {
    border-radius: 0px;
}

.panel-icon {
    left: 10px;
}

.panel-title.panel-with-icon {
    padding-left: 26px;
}

.dialog-button {
    text-align: center;
}
/* layout css end*/

.window .window-header .panel-tool .panel-tool-min{
    display:none;    
}

/* timeline start*/

.dhcpha-tm-containter {
    width: 100%;
    height: 100px;
    text-align: center
}

.dhcpha-tm-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    left: 45%;
}

.dhcpha-tm-tri {
    width: 0px;
    height: 0px;
    border: solid transparent 5px;
    position: relative;
    left: 45%;
    top: -1px;
}

.dhcpha-tm-bg {
    background: url(../image/grid.png);
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.dhcpha-tm-lr {
    float: left;
    background-color: #00A3DD;
}

.dhcpha-tm-lr a {
    width: 20px;
    text-align: center;
    line-height: 120px;
}

.dhcpha-tm-lr-l a,
.dhcpha-tm-lr-l a:hover {
    background: url(../image/btn-arrow-left.png) no-repeat center center;
}

.dhcpha-tm-lr-r a,
.dhcpha-tm-lr-r a:hover {
    background: url(../image/btn-arrow-right.png) no-repeat center center;
}

.dhcpha-tm-body {
    float: left;
    width: 1000px;
    height: 100px;
    text-align: left;
    overflow: hidden;
    background: url(../image/grid.png);
    padding: 10px 0px;
}

.dhcpha-tm-line {
    position: relative;
    top: 36px;
    width: 100%;
    border-bottom: 1.5px solid #cccccc;
}

.dhcpha-tm-body ul {
    overflow: auto;
    width: 2000px;
    position: relative;
    left: 25px;
}

.dhcpha-tm-body ul li {
    float: left;
    width: 150px;
    list-style: none;
}

.dhcpha-tm-body ul li>div {
    width: 100px
}

.dhcpha-tm-bus>div:nth-child(1) {
    height: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.dhcpha-tm-bus>div:nth-child(4) {
    width: 100px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.dhcpha-tm-bus>div:nth-child(4) div {
    font-size: 12px;
}

.dhcpha-tm-bus-kd>div:nth-child(1),
.dhcpha-tm-bus-kd .dhcpha-tm-circle {
    color: white;
    background: #ee4f38;
}

.dhcpha-tm-bus-kd .dhcpha-tm-tri {
    border-top-color: #ee4f38;
}

.dhcpha-tm-bus-kd>div:nth-child(4) div {
    color: #ee4f38;
}

.dhcpha-tm-bus-pw>div:nth-child(1),
.dhcpha-tm-bus-pw .dhcpha-tm-circle {
    color: white;
    background: #f58800;
}

.dhcpha-tm-bus-pw>div:nth-child(4) div {
    color: #f58800;
}

.dhcpha-tm-bus-pw .dhcpha-tm-tri {
    border-top-color: #f58800;
}

.dhcpha-tm-bus-default>div:nth-child(1),
.dhcpha-tm-bus-default .dhcpha-tm-circle {
    color: white;
    background: #cccccc;
}

.dhcpha-tm-bus-default>div:nth-child(4) div {
    color: #cccccc;
}

.dhcpha-tm-bus-default .dhcpha-tm-tri {
    border-top-color: #cccccc;
}

.dhcpha-tm-bus-pp>div:nth-child(1),
.dhcpha-tm-bus-pp .dhcpha-tm-circle {
    color: white;
    background: #f1c516;
}

.dhcpha-tm-bus-pp>div:nth-child(4) div {
    color: #f1c516;
}

.dhcpha-tm-bus-pp .dhcpha-tm-tri {
    border-top-color: #f1c516;
}

.dhcpha-tm-bus-dq>div:nth-child(1),
.dhcpha-tm-bus-dq .dhcpha-tm-circle {
    color: white;
    background: #a4c703;
}

.dhcpha-tm-bus-dq>div:nth-child(4) div {
    color: #a4c703;
}

.dhcpha-tm-bus-dq .dhcpha-tm-tri {
    border-top-color: #a4c703;
}

.dhcpha-tm-bus-fq>div:nth-child(1),
.dhcpha-tm-bus-fq .dhcpha-tm-circle {
    color: white;
    background: #51b80c;
}

.dhcpha-tm-bus-fq>div:nth-child(4) div {
    color: #51b80c;
}

.dhcpha-tm-bus-fq .dhcpha-tm-tri {
    border-top-color: #51b80c;
}

.dhcpha-tm-bus-py>div:nth-child(1),
.dhcpha-tm-bus-py .dhcpha-tm-circle {
    color: white;
    background: #4b991b;
}

.dhcpha-tm-bus-py>div:nth-child(4) div {
    color: #4b991b;
}

.dhcpha-tm-bus-py .dhcpha-tm-tri {
    border-top-color: #4b991b;
}

.dhcpha-tm-bus-tq>div:nth-child(1),
.dhcpha-tm-bus-tq .dhcpha-tm-circle {
    color: white;
    background: #03ceb4;
}

.dhcpha-tm-bus-tq>div:nth-child(4) div {
    color: #03ceb4;
}

.dhcpha-tm-bus-tq .dhcpha-tm-tri {
    border-top-color: #03ceb4;
}

.dhcpha-tm-bus-hd .dhcpha-tm-tri {
    border-top-color: #10b2c8;
}

.dhcpha-tm-bus-hd>div:nth-child(1),
.dhcpha-tm-bus-hd .dhcpha-tm-circle {
    color: white;
    background: #10b2c8;
}

.dhcpha-tm-bus-hd>div:nth-child(4) div {
    color: #10b2c8;
}

.dhcpha-tm-bus-hd .dhcpha-tm-tri {
    border-top-color: #10b2c8;
}

.dhcpha-tm-bus-pz>div:nth-child(1),
.dhcpha-tm-bus-pz .dhcpha-tm-circle {
    color: white;
    background: #107cc8;
}

.dhcpha-tm-bus-pz>div:nth-child(4) div {
    color: #107cc8;
}

.dhcpha-tm-bus-pz .dhcpha-tm-tri {
    border-top-color: #107cc8;
}

.dhcpha-tm-bus-fh>div:nth-child(1),
.dhcpha-tm-bus-fh .dhcpha-tm-circle {
    color: white;
    background: #1044c8;
}

.dhcpha-tm-bus-fh>div:nth-child(4) div {
    color: #1044c8;
}

.dhcpha-tm-bus-fh .dhcpha-tm-tri {
    border-top-color: #1044c8;
}

.dhcpha-tm-bus-db>div:nth-child(1),
.dhcpha-tm-bus-db .dhcpha-tm-circle {
    color: white;
    background: #6557d3;
}

.dhcpha-tm-bus-db>div:nth-child(4) div {
    color: #6557d3;
}

.dhcpha-tm-bus-db .dhcpha-tm-tri {
    border-top-color: #6557d3;
}

.dhcpha-tm-bus-bqjs>div:nth-child(1),
.dhcpha-tm-bus-bqjs .dhcpha-tm-circle {
    color: white;
    background: #a849cb;
}

.dhcpha-tm-bus-bqjs>div:nth-child(4) div {
    color: #a849cb;
}

.dhcpha-tm-bus-bqjs .dhcpha-tm-tri {
    border-top-color: #a849cb;
}

.dhcpha-tm-bus-kssy>div:nth-child(1),
.dhcpha-tm-bus-kssy .dhcpha-tm-circle {
    color: white;
    background: #d773b0;
}

.dhcpha-tm-bus-kssy>div:nth-child(4) div {
    color: #d773b0;
}

.dhcpha-tm-bus-kssy .dhcpha-tm-tri {
    border-top-color: #d773b0;
}

.dhcpha-tm-bus-jssy>div:nth-child(1),
.dhcpha-tm-bus-jssy .dhcpha-tm-circle {
    color: white;
    background: #77656b;
}

.dhcpha-tm-bus-jssy>div:nth-child(4) div {
    color: #77656b;
}

.dhcpha-tm-bus-jssy .dhcpha-tm-tri {
    border-top-color: #77656b;
}

.dhcpha-tm-bus-hssh>div:nth-child(1),
.dhcpha-tm-bus-hssh .dhcpha-tm-circle {
    color: white;
    background: #77656b;
}

.dhcpha-tm-bus-hssh>div:nth-child(4) div {
    color: #77656b;
}

.dhcpha-tm-bus-hssh .dhcpha-tm-tri {
    border-top-color: #77656b;
}

.dhcpha-tm-bus-tzzx>div:nth-child(1),
.dhcpha-tm-bus-tzzx .dhcpha-tm-circle {
    color: white;
    background: #999999;
}

.dhcpha-tm-bus-tzzx>div:nth-child(4) div {
    color: #999999;
}

.dhcpha-tm-bus-tzzx .dhcpha-tm-tri {
    border-top-color: #999999;
}

.dhcpha-tm-bus-return>div:nth-child(1),
.dhcpha-tm-bus-return .dhcpha-tm-circle {
    color: white;
    background: #333333;
}

.dhcpha-tm-bus-return>div:nth-child(4) div {
    color: #333333;
}

.dhcpha-tm-bus-return .dhcpha-tm-tri {
    border-top-color: #333333;
}


/* timeline end*/