.x-grid-recordBak table{
		background:#02F78E;
}

.x-grid-record-redBak table{
	background:#FF0000;
}

.x-grid-record-greenBak table{
	background:#00FF00;
}

.x-grid-record-font-red table{
	color:#FF0000;
}

.x-grid-record-font-green table{
	color:#008B45;
}
/*---------×Ô¶¨Òåicon end ------*/

.bodyCk{  
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin:0;
  color: #CCCCCC; 
  background-color: #CCCCCC
  bgcolor:#DEDFFF
  overflow:hidden;
  }
.labStyle{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.checked{background-image:url(../img/checked.gif)}   
.unchecked{background-image:url(../img/unchecked.gif)}  