
* {
	padding:0;
 	margin:0;
 }

.datagrid-btable .datagrid-cell
 {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
 } 


.panel-body.panel-body-noheader{ 
	border-color: #ccc;
}

.form-table {
    border-collapse: separate;
    border-spacing:0 10px;
}
.form-r-label {
    padding-right: 10px;
	padding-left: 10px;
	text-align:right;
	word-break:keep-all;
}

.tdlabel
{
  padding-left: 10px;
  padding-right: 10px;
  text-align:right;
}
.search-table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.r-label {
    padding-left: 10px;
	text-align:right;
}
.SpecialClass{}

a{
	text-decoration: none;
}


/***  白色图标  ***/
.icon-w-unrecipt {
	 background: url(../img/white/漏诊查询.png) center center no-repeat;
	 background-color: #378ec4;
}

.icon-w-draft {
	 background: url(../img/white/草稿.png) center center no-repeat;
	 background-color: #378ec4;
}

.icon-w-todofind {
	 background: url(../img/white/待操作查询.png) center center no-repeat;
	 background-color: #378ec4;
}

.icon-w-currstatus {
	 background: url(../img/white/当前状态.png) center center no-repeat;
	 background-color: #378ec4;
}

.icon-w-currdayfind {
	 background: url(../img/white/当日查询.png) center center no-repeat;
	 background-color: #378ec4;
}

.icon-w-historyfind {
	 background: url(../img/white/历史操作.png) center center no-repeat;
	 background-color: #378ec4;
}

.icon-w-synceprdata {
	 background: url(../img/white/同步首页数据.png) center center no-repeat;
	 background-color: #378ec4;
}

.icon-w-nodofind {
	 background: url(../img/white/未处理.png) center center no-repeat;
	 background-color: #378ec4;
}
.icon-stamp_pass {
	 background: url(../img/stamp_pass.png) center center no-repeat;
	 background-color: #378ec4;
}
.icon-audit_x {
	 background: url(../img/audit_x.png) center center no-repeat;
	 background-color: #378ec4;
}
.icon-apply_paper {
	 background: url(../img/apply_paper.png) center center no-repeat;
	 background-color: #378ec4;
}
.icon-apply_pdf {
	 background: url(../img/apply_pdf.png) center center no-repeat;
	 background-color: #378ec4;
}
/*待提示信息样式*/
.todo-list .items{
	/*height: 74px;*/
	width: 20%;
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.todo-list .items div{
	font-size: 15px;
	line-height: 33px;
}
.todo-list .items .notice{
	position: absolute;
    min-width: 14px; 
    height: 14px; 
    line-height: 13px;
    margin-top: 0px;
    padding: 0 5px; 
    font-weight: normal;
    color: white;
    text-align: center; 
    background: #ff0000; 
    border-radius: 6px;
    font-size: 13px;
    top: 7px;
    right: 82px;
}
.todo-list .items a img{
	height: 40px;
}
.dnd-yes-icons{
	background: url(../img/tree_icons.png) -256px 0 no-repeat
}
.dnd-no-icons{
	background: url(../img/tree_icons.png) -256px -18px no-repeat
}

.man {
	background:url(../../../images/man.png) no-repeat;
	background-size:cover;
	position: absolute;
	left:10px;
	top:5px;
	width:30px;
	height:30px;
	border-radius:30px;
	border:none;
}
.woman {
	background:url(../../../images/woman.png) no-repeat;
	background-size:cover;
	position: absolute;
	left:10px;
	top:5px;
	width:30px;
	height:30px;
	border-radius:30px;
	border:none;
}
.unman {
	background:url(../../../images/unman.png) no-repeat;
	background-size:cover;
	position: absolute;
	left:10px;
	top:5px;
	width:30px;
	height:30px;
	border-radius:30px;
	border:none;
}
.PatInfoItem {
	padding: 0 10px;
	font-size: 0;
	height:40px;
	line-height: 40px;
	overflow:hidden;
	paddingRight:10;
	position: relative;
	text-align:left;
 }
 .PatInfoItem .patname {
	margin: 0 5px;
	font-weight:blod;
	margin-left: 40px;
	font-size: 16px;
	display: inline-block;
}
.PatInfoItem .normal {
	margin: 0 5px;
	margin-left: 5px;
	font-size: 14px;
	display: inline-block;
}

.PatInfoItem .notice {
	color: red;
	margin: 0 5px;
	margin-left: 5px;
	font-size: 14px;
	display: inline-block;
}

.PatInfoItem .patinfo-slash {
	color: #bbb;
	display: inline-block;
}
.PatInfoItem .content {
	margin: 0 5px;
	display: inline-block;
}

.PatInfoItem .content-notice {
	color: #ebb806;
	margin: 0 0 0 5px;
	display: inline-block;
}
.PatInfoItem .content-normal {
	color: #589DDA;
	margin: 0 0 0 5px;
	display: inline-block;
}