body,
.mui-content {
    /* background: white; */
    font-family: "microsoft yahei";
	background: white;
}

.timeHead {
	width: 100%;
	display: flex;
	justify-content: center;
	color: #323232;
	background: white;
	/* height: 50px; */
	height: 3.125rem;
}
.yearMonth{
	border: none;
	font-weight: 600;
	color: #017BCE;	
	background: transparent;
	/* font-size: 18px;
	 height: 50px;
	 padding: 5px;*/
	font-size: 1.125rem;
	height: 3.125rem;
	padding: 0.3125rem 0px;
	margin-right: 0.5rem;
}

.lastWeek,
.nextWeek {
font-weight: 700;
	text-align: center;
	border: none;
	border-radius: 0;
	background: transparent;
	/* width: 30px;
	height: 50px;
	margin: 10px 0px;
	line-height: 20px;
	font-size: 24px; */
	width: 1.875rem;
	height: 3.125rem;
	padding: 0.625rem 0;
	font-size: 1.5rem;
}

.startMD,.endMD{
	background: transparent;
	/* font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin: 10px; */
	font-size: 1rem;
	height: 1.875rem;
	line-height: 1.875rem;
	margin: 0.625rem;
}

#headTable{
}

input[type=date], #currWeek1,#currWeek2 {
	border: none;
	color: #1E90FF;
	font-weight: 400;
	text-align: center;
	border-radius: 0px;
	/* width: 180px;
	font-size: 16px;
	height: 30px;
	margin: 10px 0px;
	line-height: 20px; */
	width: 11.25rem;
	font-size: 1rem;
	height: 1.875rem;
	margin: 0.625rem 0;
	line-height: 1.25rem;
}
.label{
	background: transparent;
	/* height: 50px;
	line-height: 50px; */
	height: 3.125rem;
	line-height: 3.125rem;
	font-size: 1rem;
}

#schNull{
	position: absolute;
}
#tableWrapper {
	position: absolute;
	z-index: 1;
	background: transparent;
	/* top: 92px; */
	top: 5.75rem;
}

table {
	/* margin: 0px 10px 0px 10px;
	width: calc(100% - 20px); */
	margin: 0 0.625rem 0 0.625rem;
	width: calc(100% - 1.25rem);
}

tbody {
	width: 100%;
	color: #323232;
	background: white;
	text-align: center;
}

th {
	background: #F3F8FF;
	color: black;
	font-weight: 700;
	width: 9%;
	border-right: 0;
	border: 1px gainsboro solid;
	/* font-size: 16px;
	height: 40px;
	line-height: 40px; */
	font-size: 1rem;
	height: 2.5rem;
	line-height: 2.5rem;
}
th.weekMark,#schTable .weekMark{
	width: 14%;
}
th.order,#schTable .order{
	width: 5%;
}

th:last-child {
	border-right: 1px gainsboro solid;
}
#schTable tr td:nth-child(2) {
	background: #EBF9FF;
}
#schTable tr td:nth-child(3) {
	background: #EBF9FF;
}
#schTable td {
	position: relative;
	border-left: 1px gainsboro solid;
	border-bottom: 1px gainsboro solid;
	width: 9%;
	transition: 800ms ease all;
	outline: none;
	/* font-size: 16px;
	height: 40px; */
	font-size: 1rem;
	height: 2.5rem;
}

#schTable td:last-child {
	border-right: 1px gainsboro solid;
}

td.weekend {
	background: #F9F9F9;
}

/* 单元格悬浮样式 */
#schTable td:before,
#schTable td:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 1px;
	width: 0;
	background: #FF8A65;
	/* height: 2px; */
	height: 0.125rem;
	transition: 200ms ease all;
}
#schTable td:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
#schTable td:hover:before,
#schTable td:hover:after {
	width: 100%;
	transition: 400ms ease all;
}
/* 单元格悬浮样式 END */


.schUnit{
	display: inline-block;
	/* margin: 1px;
	padding: 1px 3px;
	border-radius: 3px;
	font-size: 14px; */
	margin: 0.0625rem;
	padding: 0.0625rem 0.1875rem;
	border-radius: 0.1875rem;
	font-size: 0.875rem;
}

/* 深夜模式 */
body.nightMode,
.nightMode .mui-content{
	background: #404848;
}
.nightMode .timeHead{
	background: #404848;
}
.nightMode .yearMonth{
	color: whitesmoke;
}
.nightMode .label{
	color: whitesmoke;
}
.nightMode .startMD{
	color: whitesmoke;
}
.nightMode .endMD{
	color: whitesmoke;
}
.nightMode .lastWeek{
	color: whitesmoke;
}
.nightMode .nextWeek{
	color: whitesmoke;
}
.nightMode .icondate::after{
	color: whitesmoke;
}
.nightMode #headTable thead th{
	background: #313838;
	color: lightgray;
	border-color: gray;
}
.nightMode #tableWrapper{
	background: #313838;
}
.nightMode #schTable td,.nightMode #schTable tr td:nth-child(2),.nightMode #schTable tr td:nth-child(3){
	background: #404848;
	color: whitesmoke;
	border-color: gray;
}

.nightMode .tv-date-area{
	background: #404848;
	border-color: darkgray;
}
.nightMode .tv-date-area thead td{
	color: whitesmoke;
}
.nightMode #dhcDate-ly,.nightMode #dhcDate-lm,.nightMode #dhcDate-nm,
.nightMode #dhcDate-ny,.nightMode #dhcDate-ym{
	color: whitesmoke;
}
.nightMode .iconfont.iconleft-double:before, .nightMode .iconfont.iconright-double:before,
.nightMode .iconfont.iconleft:before,.nightMode .iconfont.iconright:before
{
	color: whitesmoke;
}
.nightMode .tv-date-thisweek,.nightMode .tv-date-sure,.nightMode .tv-date-cancel{
	background-color: whitesmoke;
}
.nightMode .tv-date-sure,.nightMode .tv-date-thisweek{
	border-color: #4682B4;
	color: #4682B4;
}
.nightMode .tv-day-table tbody{
	background-color: #DCDCDC;
}
.nightMode .tv-day-table td.abnormal{
	color: darkgray;
}
.nightMode .select{
	background-color: #9fb6cd;
}
.nightMode .tv-day-table td.start div,.nightMode .tv-day-table td.end div{
	background-color: #4682B4;
}

/***********打包版本的鼠标扫过before和after效果清除***********/
.osPlus #schTable td:before,
.osPlus #schTable td:hover:before,
.osPlus #schTable td:after,
.osPlus #schTable td:hover:after{
	height: 0;
	width: 0;
	transition: none;
}