/* 住院药房 */

.phaip-grid-cell-wrap {
    overflow: hidden;
    white-space: normal;
}

.phaip-grid-cell-important {
    color: red;
}
.phaip-grid-cell-warning {
    color: yellow;
}

.pha-datebox {
    width: 120px;
}

.pha-timespinner {
    width: 100px;
}

/* ST 单元格背景色, 全局应一致且唯一 ST */
.phaip-grid-cell-res {
    color: #fff;
    background-color: #d472ae;
}
.phaip-grid-cell-req {
    color: #fff;
    background-color: #03ceb4;
}
.phaip-grid-cell-ret {
    color: #fff;
    background-color: #f1c516;
}
/* ED 单元格背景色, 全局应一致且唯一 ED */
.datagrid-ftable {
    font-weight: bold;
}
/* UI要求加粗 */
.hstep-container ul.hstep-container-steps li {
    font-weight: 700;
}
/* 常规提醒信息背景色 */
.phaip-datagrid-warn-normal {
    background-color: #339eff;
    color: #fff;
}
#PHA_UX_DrugDetail .datagrid-group-title {
    padding-left: 0px;
}
#PHA_UX_OrderDetail .datagrid-group-title {
    padding-left: 0px;
}

