/*评估量表样式*/
input{
	padding-left:10px;	
}

a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #777;
    text-decoration: underline;
}
.item-h {
	float:left;
	width:98%;
	margin-top:10px;
	padding-left:2%;
	text-align:center;
}
.item-h3{
	float:left;
	width:98%;
	padding-left:2%;
	text-align:center;
}
.item-panel {
	float:left;
	padding:0px;
	border-right:1px solid #ECF0F1	
}
.dic-input {
	padding-left:5px;	
	width:auto;
	border:none;
	border-bottom:1px solid #9ed2f2;
}
.score-title {
	background-color:#F5F7FD;
	font-size:15px;
	font-weight:bold;
	padding:10px;
}
.dic-title {
	background-color:#91AA9D;
	min-height:25px;
	line-height:25px;
	float:left;
	width:100%;	
}
.dic-title3{
	background-color:#D1DBBD;
	border-bottom:1px solid #ECF0F1;
	min-height:25px;
	line-height:25px;
	float:left;
	width:100%;	
}
.dic-score {
	border-bottom:1px solid #ECF0F1;
	background-color:#D1DBBD;
	min-height:25px;
	line-height:25px;
	width:30%;	
	float:left;
}
.dic-desc-selected {
	background-color:#3498DB;
	color:white;
}
.dic-desc {
	border-top:1px solid #ECF0F1;
	cursor:pointer;	
	min-height:25px;
	line-height:25px;
	width:70%;	
	float:left;
	text-align:left;
}
/*表单样式*/

.itemCat{
	position:relative;
}
.itemCat::before {
  	content: '';
    width: 0;
    height: 0;
    border-width: 8px 8px 0 8px;
    border-style: dashed;
    border-color: #40A2DE transparent transparent transparent;
    position: absolute;
    right: 5px;
    top: 8px;
}
.itemCat-fold::before {
  	content: '';
    width: 0;
    height: 0;
    border-style: dashed;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #40A2DE transparent;
    position: absolute;
    right: 5px;
    top: 8px;
}
.itemCat::after {
	content:attr(errorInfo);
	color:inherit;
	font-size:12px;
}

.text {
	height:30px;
	line-height:30px;
}
.rep-button {
	position:fixed;
	bottom:0px;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 0;
    text-align: center;
    background: #fff;	
}
#moretips {
	position:fixed;
	right:0;
	top:150px;	
}
.rep-button button {
	height: 30px;
    font-size: 14px;
    cursor: pointer;
    padding:0 15px 0 15px;
    color: #ffffff;
    background: #40A2DE;
    border-radius: 4px;
    margin-right: 10px;
    text-align: center !important;
    border: none;	
}
.rep-button button:hover{
	background: #0063a7;
    color: #ffffff;
    border: 0px solid #0063a7;
    filter: none;
}
.itemTR {
	border:1px solid #E8E8E8;
	padding:0px;
}
.itemDescTD {
	text-align:left;
	border:0;
	border-right:1px solid #E8E8E8;	
	padding:10px;
	padding-left:30px;
	background-color:#FAFAFA;
}
.itemDescTD2 {
	text-align:left;
	border:0;
	padding:10px;
	padding-left:30px;	
}
.itemCat {
	height:auto;
	line-height:30px;
	font-size: 15px;
	background-color:#F5F7FD;
	border-top:10px solid white;
	border-bottom:2px solid #CDDDF2;
	color:#027DFF;
	font-weight:bold;
	}
.itemsubCat {
	background-color:#FAFAFA;
	font-weight:bold;
	height:30px;
	margin-top:10px;
	line-height:30px;
}
.subCat-remark {
    background: #fff;
    font-size: 14px;
    font-family: Microsoft YaHei !important;
    font-weight:bold;
}
table tr td {
		border:1px solid #E3E3E3;
		
	}
.combo {
		border:none;
	}
/*导航列表样式*/
/*圆形*/
.circle{
	width: 7px;
    height: 7px;
    background: #CCCCCC;
    border-radius: 50px;
    float:left;
    margin-left:-19px;
    margin-top:14px;
}
/*锚点ul*/
#anchor ul {
    list-style: none;
    margin: 0px;
    padding: 0px 23px;
    width: auto;
}
/*锚点li*/
#anchor li {
    position: relative;
    padding: 0 0 0 15px;
    line-height: 35px;
    border-left: 1px dashed #cccccc;
}
/*锚点img*/
.anchor-circle{
	background:	url(../images/anchor.png) no-repeat;		
	width:10px;
	height:10px;
	float:left;
	margin-left:-19px;
	margin-top:2px;
}
#anchor li:hover{
	color:#017BCE;
	cursor:pointer;
}
.anchor-cur:before
{
    content:url(../images/anchor-checked.png);
	position:absolute;
	left: -3px;
}/*锚点ed*/