.ui-div-m-l5-r5{margin:5px 5px;}
.ui-span-title-lv2{
	font-size:14px;
	font-family:"微软雅黑";
	font-weight:bold;
}

.ui-div-title-m{
	margin:5px 0px;
}
.btn-ui-span{margin:0px 0px 0px 5px;}
.item-label{
	font-size:14px;
	font-family:"微软雅黑";
}

/*页面表格样式*/
.form-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.form-table td{margin:0;padding:0;}
.form-table td{
	border:1px solid #95B8E7;
	padding:5px 3px;
	font-size: 14px;
}
.celllabel{ font-family: "微软雅黑";height:25px; padding: 0; margin: 0; line-height: 25px;} 
.celllabel h3{font-size: 14px; font-weight: bold;  padding: 0; margin: 0; color:#000}
.celllabel h3 span{font-size:14px; padding-right:5px;}
.celllabel h4{font-size:14px;color:#000}

.hide-span{display:none;}
.checkbox{border:1px;}
body input{background:#fff;}

/*树结构字体大小*/
.tree-title{
	font-size:14px;
}
body {
	font-family:Arial,"Microsoft Yahei";
}
.tb_td_bk{
	background:#E0ECFF;
}
.tb_td_required{
	font-size:16px;
	font-weight:bold;
	color:#000;
}
#itemList tr:first-child td{
	padding:0px 6px;
}

.form-table td{
	border:1px dotted #ccc;
	padding:5px 3px;
	font-size: 14px;
}
.datebox,.validatebox-text,.combo-arrow{height:24px !important;}
.datagrid-row-selected{background:#00CCFF;}
.datagrid-editable-input{height:24px !important;}
.validatebox-text {
    height: 24px;
    line-height: 24px;
}
.combo{height: 24px !important; }
.pf-patimg{float:left;padding:0px 15px 0px 15px;width:30px;line-height:35px}
.pf-patimg img{vertical-align:middle;margin-left:3px}
.pf-patbase {position: relative;float: left;}
.pf-patname {font-size:16px;font-weight:bold;}
.pf-nav {float: left;}
.pf-nav .pf-nav-item{float:left;height:35px;padding:0 5px;}
.pf-nav-title{display:block;margin-top:10px;font-size:14px;text-align:center}
.i-sep {
    height: 15px;
    width: 0px;
    border-right: 1px solid #c3c3c3;
    transform: rotate(30deg);
    margin-top:0px;
    padding: 0;
}
#CenterPanel .panel-header, #CenterPanel .panel-body {
    border-color: #E3E3E3;
}
.datagrid-toolbar, .datagrid-pager {
	background: #fff;
}
.pf-sider-search{
	height:26px;
	border:1px solid #40a2de;
	width:206px;
	padding:0;
	background:#40a2de;
	margin:2px 3px 10px 3px;
}
.input-mini-search {
	position: relative;float: left;
    height: 26px !important;
    min-height: 26px;
	margin-top:0px;
	border:0;
	padding-left:5px;
}
.dashline-div {
    height: 1px;
    border-top: 1px dashed #ccc;
    clear:both;
	overflow: hidden;
}
.pf-nav .pf-nav-item-li{
	float:left;
	margin:3px 5px;
	padding:4px 10px 0px 10px;
	height:23px;
	color:#ffffff;
	border-radius:2px;
	cursor:pointer;
}
.pf-nav-item-li:hover{
	float:left;
	margin:3px 5px;
	padding:4px 10px 0px 10px;
	height:23px;
	color:#ffffff;
	border-radius:2px;
}
.item-li{
	border:1px solid #CCCCCC;
	background-color:#CCCCCC;
}
.item-li-select{
	border:1px solid #2AB66A;
	background-color:#2AB66A;
}