.btn-lightred{background-color:#F16E57 !important;border:1px solid #F16E57;}
.btn-lightgreen{background-color:#40C27B !important;border:1px solid #40C27B;}
.l-btn{border-radius:3px;}
.panel-body .panel{margin-bottom:10px;}
.item-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.item-table td{
	margin:0;padding:0;
	border:1px dotted #ccc;
	padding:5px 3px;
	font-size: 14px;
}
.item-table tr:nth-child(1) td{
	margin:0;padding:0;
	border:0;
}
.panel-header, .panel-body {
	border-color: #ccc;}
.pt-butttom{border:1px solid #fff;}
.pt-butttom a{
	margin:8px 0px 0px 60px;
}
.datagrid .panel-body, .datagrid .panel-header{
	border-color: #E3E3E3;
}
.datebox,.validatebox-text,.combo-arrow{height:26px !important;}
.datagrid-row-selected{background:#00CCFF;}
.datagrid-editable-input{height:27px !important;}
.validatebox-text {
    height: 26px;
    line-height: 26px;
}
.combo{height: 26px !important; }
label + .hisradio_square-blue, label + .hischeckbox_square-blue{
	margin-left:5px;
}
.name-input{
	margin-left:20px;
	width:40px;
	display: none;
	text-align:center;
}
.name-input-80{
	margin-left:20px;
	width:120px;
	display: none;
	padding-left:1px;
}
.pt-butttom .l-btn-text{
	min-width:60px
}

.panel-header,.panel-body{
	border-radius:0;
}

.panel-body .panel{
	margin-bottom:2px;
}