body,
.mui-content {
    background: white;
    font-family: "microsoft yahei";
	overflow: hidden;
}

.headTable{
	position: absolute;
	z-index: 997;
	transition: top .4s ease;
	/* left: 10px;
	top: 10px;
	width: calc(100% - 20px); */
	left: 0.625rem;
	top: 0.625rem;
	width: calc(100% - 1.25rem);
}
.headTable th{
	font-weight: normal;
	border-right: lightgray 1px solid;
	border-bottom: lightgray 1px solid;
	background: #F3F8FF;
	padding-top: 0;
	padding-bottom: 0;
	/* height: 40px;
	font-size: 17px;
	line-height: 40px;*/
	height: 2.5rem;
	font-size: 1.0625rem;
	line-height: 2.5rem;
}
.headTable th:last-child{
	border-right:0px;
}
.mui-scroll-wrapper{
	background: white;
	/* top: 50px;
	left: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 50px); */
	top: 3.125rem;
	left: 0.625rem;
	width: calc(100% - 1.25rem);
	height: calc(100% - 3.125rem);
}
table,
tbody {
    width: 100%;
	background: white;
}

table {
    border-left: solid lightgray 1px;
    border-top: solid lightgray 1px;
	border-right: solid lightgray 1px;
}
tr:nth-child(2n){
	background-color: #FAFAFA
}

td {
    border-right: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
    word-break: break-word;
	color: #555555;
	/* height: 40px;
	font-size: 15px; */
	height: 2.5rem;
	font-size: 0.9375rem;
}
td:last-child{
	border-right: solid lightgray 0px;
}

.order,.bedCode,.patName,.sender,.sendTime{
	width: 10%;
	text-align: center;
}
.order,.bedCode{
	width: 5%;
}
.patName{
	font-weight: 600;
}
.diag,.content{
	width: 40%;
	text-align: left;
	/* padding-left: 10px;
	font-size: 16px; */
	padding-left: 0.625rem;
	font-size: 1rem;
}
.diag{
	width: 20%;
	/* font-size: 15px; */
	font-size: 0.9375rem;
}
td.diag,td.content{
	/* padding: 10px;
	 line-height: 28px;*/
	padding: 0.625rem;
	line-height: 1.75rem;
}

.type-filter{
    position: absolute;
    display: flex;
    border: solid 1px #017BCE;
    background: white;
    z-index: 998;
	overflow: hidden;
	/* left: 10px;
	bottom: 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px; */
	left: 0.625rem;
	bottom: 0.625rem;
	border-top-right-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	
}

.type-btn{
    color: dimgrey;
    border-right: lightgray solid 1px;
	text-align: center;
	/* padding: 8px;
	font-size: 15px;
    min-width: 40px; */
    padding: 0.5rem;
    font-size: 0.9375rem;
    min-width: 2.5rem;
}

.type-btn:last-child{
	border-right-color: transparent;
}

.type-btn.dhc-active{
    background: #017BCE;
    color: white;
	font-weight: 700;
	/* font-size: 17px; */
	font-size: 1.0625rem;
}

.nullData{
	position: absolute;
}

body.nightMode,
.nightMode .mui-content {
    background: #313838;
}
.nightMode .mui-scroll-wrapper,
.nightMode .mui-scroll {
    background: #313838;
}
.nightMode th{
	border-color: gray;
	background: #313838;
	color: whitesmoke;
}
.nightMode tr:nth-child(2n){
	background: #313838
}
.nightMode tr:nth-child(2n-1){
	background: #404848
}
.nightMode td{
	color: lightgray;
	border-color: gray;
}