 /*-----------------------------------针头按钮--------------------------------------------*/
 
.myButton{
		height:26px;
		width:90px;
		background-color:#EFEFEF;
		color:#666666;
		border: solid 1px #EFEFEF;
		border-radius:4px;
		cursor: pointer; 
		margin-left:-2px;	
		
 }
.myButton:hover{
		
	color:#43ABEB;	 
		 
 }
 .myButton:focus{
	
	 border:1px solid #F1F9FF;
	 background-color:#F1F9FF;
	 color:#43ABEB;
	 }
/*-----------------------------------输入框--------------------------------------------*/

/*输入框*/
.input-mini{  
	width:130px;
	height:30px;
	font-size:14px;
	color:#555555;
	backgroud-color:#FFFFFF;
	border:1px solid #46A3DC;
	padding-left:5px;
}

/*-----------------------------------panel-------------------------------------------*/

.dhcc-panel {
  overflow: hidden;
  text-align: left;
  margin: 0;
  border: 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border:1px solid #CCCCCC;
  border-radius: 4px;
}
.dhcc-panel-header{
	height: 42px;
	background-color: #F9F9FA;
	border-bottom:1px solid #CCCCCC;
	}
.dhcc-panel-title {
  padding-left:14px;
  font-weight: bold;
  font-size:16px;
  color: #333333;
  padding-top:12px;
 
}
.dhcc-panel-body{
	overflow: auto;
	border-top-width: 0;
	padding: 0;
	min-height:100px;
}



/*-----------------------------------panel 详情和刷新图片-------------------------------------------*/


.dhcc-panel-titleimg{
	margin-left:10px;
	margin-bottom:-2px;
	}
.dhcc-panel-refreshimg{
	float:right;
	margin-right:10px;
	margin-top:-15px;
	}
/*-----------------------------------textarea-------------------------------------------*/
	
.mytextarea{
	overflow-x: hidden; 
	overflow-y: hidden;
	width:96%;
	height:50px;
	margin:20px 10px 10px 10px;
	border:1px solid #46A3DC;
	}

.textarea-panel .panel-header{
	
	height:25px;
	background-color:#C5C5C5
}
.textarea-panel  .panel-body{
	background-color:#F4F4F4;
	}
.textarea-panel textarea{
	border: solid 1px #46A3DC;

	}

/*-----------------------------------日期输入框-------------------------------------------*/

/*日期输入框高度 ylp 2017-07-04*/
.combo {
	
	height:30px!important;
	}
.combo-text{
	width:130px!important;
	height:30px!important;
	padding-left:4px!important;
	}
.combo-arrow{
	width:30px!important;
	background-color:#FFFFFF!important;
	margin-left:-15px;
	}
.combo-text .validatebox-text{
	line-height:0!important;
	}
/*-----------------------------------费用-------------------------------------------*/

.myCost{
	width:150px;
	height:30px;
	border:1px solid #FF5400;
	}
.myCostleft{
	width:50%;
	height:100%;
	background-color:#FF5400;
	float:left;
	}
.myCostright{
	background-color:#FFFFFF;
	color:#333333;
	float:left;
	width:30%;
	height:20px;
	text-align:center;
	margin-left:13px;
	margin-top: 3px;
	}
.myCostright span{
	font-size:19px;
	color:#FF5400;
	font-weight:bold;
	}
.myCostleftbl{
	float:left;
	width: 1px;
	height: 1px;
	border-top: 6px solid transparent;
	border-left: 6px solid transparent;
	border-right: 6px solid #ffffff;
	border-bottom: 6px solid transparent;
	margin-left:-12px;
	margin-top:9px;
	}
.myCostleftin{
	font-size:19px;
	color:#FFFFFF;
	font-weight:bold;
	margin-left:5px;
	margin-top:2px;
	}




/*-----------------------------------检查申请button-------------------------------------------*/

.sendButton{
	height:30px;
	width:100px;
	background-color:#40C27B;
	color:#FFFFFF;
	border: solid 1px #40C27B;

	}
.printButton{
	height:30px;
	width:100px;
	background-color:#40A2DE;
	color:#FFFFFF;
	border: solid 1px #40A2DE;

	}
	
	
	

/*-----------------------------------登记号查询-------------------------------------------*/
.input-mini{
	width:170px;
	height:26px;
	margin:5px -2px 5px 5px;
	border-radius:0;;
	padding-left:5px;
	font-size:14px;
	color:#999;
	float:left;
	}
.inputButton{
	border:0px;
	padding:0px;
	margin:5px 0 0 0 ;
	float:left;
	width:27px;
	height:27px;
	}
.inputButton img{
	border:0px;
	padding:0px;
	margin:0px;

	}
	
	
/*-----------------------------------title-------------------------------------------*/
.navbar-top-links{
	width:700px;
	height:40px;
	padding-left:10px;

	float:left;
	background:#EEEEEE;
	}
.navbar-top-links li{
	float:left;
	list-style-type:none;
	}
	
.navbar-top-links #patInfo-name{
		
		
		margin:9px 0 0 10px;
		}
.patother{
	padding-right:5px;
	padding-left:5px;
}