.ui-div-m-l5-r5{margin:5px 5px;}
.ui-span-title-lv2{
	font-size:14px;
	font-family:"微软雅黑";
	font-weight:bold;
}
/* 确认分诊按钮 */
.but-pad{ width: 100px; background:#39F; border:1px solid #007DFB;font-weight:bold;}
.pad-twenty{ padding:6px;}
.font-color{ color:#fff;}
.fontsize-18{ font-size:14px;}
.btn-success {
	color: #fff;
    background-color: #18bc9c;
    border-color: #18bc9c;
}
.ui-div-title-m{
	margin:5px 0px;
}
.btn-ui-span{margin:0px 0px 0px 5px;}
.ui-span-m{margin:0px 20px 0px 0px;font-size: 14px;font-weight:bold;}
.item-label{
	font-size:14px;
	font-family:"微软雅黑";
}

/*页面表格样式*/
.form-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.form-table td{margin:0;padding:0;}
.form-table td{
	border:1px solid #95B8E7;
	padding:5px 3px;
	font-size: 14px;
}
.form-table tr:first-child td{
	padding:0px;
}

.hide-span{display:none;}
.checkbox{border:1px;}
body input{background:#fff;}

/*树结构字体大小*/
.tree-title{
	font-size:14px;
}
.tb_td_bk{
	background:#E0ECFF;
}
.tb_td_required{
	font-size:16px;
	font-weight:bold;
	color:#000;
}
#itemList tr:first-child td{
	padding:0px 6px;
}

.form-table td{
	border:1px dotted #ccc;
	padding:5px 3px;
	font-size: 14px;
}

#TmpOtherOpt{
    /* border:solid 1px #95B8E7; */
}
/*已选部位combox列表高度*/
#PopUpWin .combo-arrow{height: 30px !important;}
#PopUpWin .combo{height: 30px !important;}
#PopUpWin .combo-text{height: 30px !important;line-height: 30px !important;}
#PopUpWin .datagrid-editable-input{height: 30px !important;line-height: 30px !important;}
/*已选部位combox列表高度*/

/*已开项目列表combox列表高度*/
#SelPanel .combo-arrow{height: 30px !important;}
#SelPanel .combo{height: 30px !important;}
#SelPanel .combo-text{height: 30px !important;line-height: 30px !important;}
#SelPanel .datagrid-editable-input{height: 30px !important;line-height: 30px !important;}
/*已开项目列表combox列表高度*/

#noteContent p{
    text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/
}
#noteContent .report_table{
    border-collapse:collapse;
    margin: 6px 0 6px 0;
	border-color: #ccc;
	border: 1px solid #ccc;
    width:100%;
    box-shadow: 1px 1px 4px 1px #ccc;
 }
#noteContent .report_table td{
    padding: 5px 10px;
	font-size: 14px;
	height: 28px;
	border:1px solid #ccc;
 }
#noteContent .tb_td_bk{
	background-color: #f3f4f4;
	width: 7%;
	text-align: left;
}
#noteContent .tb_td_required{
	font-weight:bold;
	color: red;
}
#noteContent .preflight{
	border: 1px solid #40a2de	
}
#noteContent .preflight_content{
	border-bottom: 1px solid #509de1;
	border-radius: 10px;
	font-size: 14px;	
}
#noteContent input{
	border:0;
	background:#fff;
	width:100%;		
}
#noteContent .table_title{
	font-weight:bold;
	color: #000;
	font-size: 14px;
	line-height: 22px;
	padding-left: 10px;
	border-bottom: 2px solid #40a2de;
	width:200px;
}
input::-ms-clear { display: none; } 
/* 知识库*/
.table_title{
	/*background-color: #ededed;*/
	background-color:#F9F9F9;

	color: #000;
	font-size: 13px;
	line-height: 30px;
	padding-left: 10px;
	width:97.5%;
}
.libtitle{
	background-color:#F9F9F9;
	color: #000;
	font-size: 13px;
	line-height: 30px;
	padding-left: 10px;
	width:98.5%;
}
.btn-lightred{background-color:#F16E57 !important;border:1px solid #F16E57;}
.btn-lightgreen{background-color:#40C27B !important;border:1px solid #40C27B;}
.btn-lightblue {background-color: #2AB66A !important;border:1px solid #2AB66A;}
.pt-butttom a{
	margin:2px 0px 0px 60px;
}
.pt-butttom .m-left-20{
	margin-left:200px;
}
.m-left-30{
	margin-left:30px;
}
.l-btn{border-radius:3px;}
.btn-temp{
	margin-bottom:2px;
	font-size: 13px;
}
.panel-title-h .l-btn-text{
	line-height:25px;
}
.panel-title-h{height:25px;}
.datagrid-toolbar, .datagrid-pager {
	background: #fff;
}
.panel-header, .panel-body {
	border-color: #ccc;}
.pt-butttom{border:1px solid #fff;height:45px;}
.pt-butttom a{
	margin:8px 0px 0px 80px;
}
/*-----------------------------------费用-------------------------------------------*/

.myCostleft{
	width:80px;
	height:27px;
	background-color:#FF5400;
	border:1px solid #FF5400;
	float:left;
	font-size:19px;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px 0px 0px 13px;
	margin-top:8px;
	}
.myCostright{
	background-color:#FFFFFF;
	border-top:1px solid #FF5400;
	border-right:1px solid #FF5400;
	border-bottom:1px solid #FF5400;
	color:#333333;
	float:left;
	min-width:80px;
	padding:5px 3px 0px 3px;
	height:27px;
	text-align:center;
	margin-left:-1px;
	font-size:19px;
	color:#FF5400;
	font-weight:bold;
	margin-top:8px;
	}
.myCostleftbl{
	float:left;
	width: 1px;
	height: 1px;
	border-top: 6px solid transparent;
	border-left: 6px solid transparent;
	border-right: 6px solid #ffffff;
	border-bottom: 6px solid transparent;
	margin-left:-12px;
	margin-top:18px;
	}
.datagrid-row-selected{background:#00CCFF;}
.pt-butttom .l-btn-text{
	min-width:60px
}