a.l-btn {
  color: #444;
  background-image: url('../images/easyui/3.2.1/linkbutton_bg.png');
  background-repeat: no-repeat;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
a.l-btn span.l-btn-left {
  background-image: url('../images/easyui/3.2.1/linkbutton_bg.png');
  background-repeat: no-repeat;
}
a.l-btn-plain, a.l-btn-plain span.l-btn-left {
	background: transparent;
    border: 0;
    filter: none;
}
.icon-clearscreen{
	background:url('../images/easyui/clearscreen.png') no-repeat center center;
}
.icon-readcard{
	background:url('../images/easyui/readcard.png') no-repeat center center;
}
.icon-readothercard{
	background:url('../images/easyui/readothercard.png') no-repeat center center;
}