input[type=radio],
input[type=checkbox]{
	margin-bottom:-12px;
	}
/*ylp 09-11 radio-databoxµ÷Õû*/
.radio-date + span{
	 float:right;
	 margin-right: 1000px; 
	 margin-top:0px;
	 position:relative;
}
#lable91809 +.radio-date + span{
	margin-top:-28px;
	margin-right:630px;
	}
	
#lable91810 +.radio-date + span{
	margin-top:-28px;
	margin-right:190px;
	}
	
#lable91813 +.radio-date + span{
	margin-top:-28px;
	margin-right:630px;
	}
	
#lable91814 +.radio-date + span{
	margin-top:-30px;
	margin-right:190px;
	}
	
#lable91815 +.radio-date + span{
	margin-top:-28px;
	margin-right:630px;
	}
	
#lable91816 .lable-input{
	margin-top:-28px;
	margin-right:190px;
	}
	
#lable91457 .lable-input{
	margin-top:-28px;
	margin-right:20px;
	}
	
#lable91066 .lable-input{
	margin-top:-28px;
	margin-right:0px;
	}
	
#lable91106 .lable-input{
	margin-top:-28px;
	margin-right:0px;
	}
	
#lable88485 .lable-input{
	margin-top:-28px;
	margin-right:150px;
	}
	
	
#lable88486 .lable-input{
	margin-top:-28px;
	margin-right:150px;
	}
	
#lable88491 +.radio-date + span{
	margin-top:-28px;
	margin-right:670px;
	}
	
	
#lable90954 .lable-input{
	margin-top:0px!important;
	}
#lable90962 .lable-input,#lable90963 .lable-input,#lable90967 .lable-input,#lable90968 .lable-input,#lable90974 .lable-input,#lable91028 .lable-input{
	margin-top:-20px!important;
	}