li{
	list-style-type: none;	 
}
.check {
	display:block;
	float:left;
	width:100px;
	color:red;
}
.row{
	min-height:40px;/*hxy 原25*//*2017-08-22输入框高改为30，因此改为40*/
}
.panel-body{
	padding-top:8px;
}/*表单中panel的上间距*/
#from > div:nth-child(4) > .easyui-panel{
	padding-top:5px!important;
}
textarea{
	margin-left: 10px;/*10-20 20px*/
	margin-bottom: 8px;
}
input{ /*border统一*/
	min-height:28px; /*最小的高为30px 08-23 add*/
}
#BBRClinicalFeatures-62320{
	margin-top:8px;
}/*输血--本事件发生后引起的输血反应临床表现*/
/*hxy ed*/
  .col-md-1,.col-md-2,.col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11 {
  float: left;
  }

  .col-md-12,.col-sm-12 {
    width: 100%;
  }
  .col-md-11,.col-sm-11 {
    width: 91.66666666666666%;
  }
  .col-md-10,.col-sm-10 {
    width: 83.33333333333334%;
  }
  .col-md-9,.col-sm-9 {
    width: 75%;
  }
  .col-md-8,.col-sm-8 {
    width: 66.66666666666666%;
  }
  .col-md-7,.col-sm-7 {
    width: 58.333333333333336%;
  }
  .col-md-6,.col-sm-6 {
    width: 50%;
  }
  .col-md-5,.col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-md-4,.col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-md-3,.col-sm-3 {
    width: 25%;
  }
  .col-md-2,.col-sm-2 {
    width: 16.666666666666664%;
  }
  .col-md-1,.col-sm-1 {
    width: 8.333333333333332%;
  }
 .row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
} 
.dhc-table{
	 border: 1px solid #ddd;
     max-width: 100%;
     margin-bottom: 20px;
     background-color: transparent;
     border-spacing: 0;
     border-collapse: collapse;
}
.dhc-table thead th {
	background-color: #F0F4F8;
    border: 1px solid #ddd;
    font-size: 14px;
    padding:8px;
}
.dhc-table>tbody td {
    border: 1px solid #ddd;
    padding:4px;/*hxy 2018-06-06 原8px*/
}
strong{word-wrap:break-word;word-break:keep-all;overflow:hidden;}

.dhc-required{
    background-position: right center;
    border-color: #ffa8a8;
    /*background-color: #fff3f3;*/
    color: #ffa8a8;
}

/**add for some**/
#MDProductCode-rightlabel{
	width:63px!important;
}/*产品编码*/
#footer>div:hover{
	background-color:#dcebf9;
	color:blue;
	cursor:pointer;
}/*存为草稿 ,保存按钮 图片版 暂未用*/
#lable64071 > span{
	margin-right:750px;
}/*院感--事件基本信息-开始日期*/
#Fetus,#Yield,#LivFetus,#LivYield{
	width:40px;
}/*检查-病理-胎 产兼容ie8 hxy 09-20*/



/*ylp 09-04 advBlood 输血事件错误发生阶段 其它*/
#lable62365 .lable-input{ 
	margin-right: 780px; 
	margin-top:-20px;
}
/*ylp 09-04  advBlood 受血人员输血史 输血反应史*/
#lable62328 .lable-input,#lable62329 .lable-input,#lable62334 .lable-input,#lable62335 .lable-input{
	margin-right: 280px; 
}
/*ylp 09-04 advBlood 输血反应发生的时间*/
#lable62322 .lable-input,#lable62323 .lable-input{
	margin-right: 200px; 
}
#lable63920 .lable-input{
	margin-right: 5px;
}
#lable63963 .lable-input{
	width:100px!important;
	margin-right: 5px;
}
/*dws 09-05  医疗不良事件-事件发生后的处理input位置*/	
#lable1109 .lable-input{
	margin-right: 500px;
}
#lable1110 .lable-input{
	margin-right: 500px;
}
/*dws 09-05  医疗不良事件-医源性意外穿刺或撕裂伤事件radio-input位置*/	
#lable869 .lable-input{
	margin-right: -80px;
}
#lable870 .lable-input{
	margin-right: -100px;
}
#lable872 .lable-input{
	margin-right: -100px;
}
#SoftFaultLable{
	color:red;
}
#lable64977 .lable-input{
	margin-right: 30px;
}
#lable63164 .lable-input,#lable63494 .lable-input { 
	margin-right: 30px;
}
#lable1085 .lable-input,#lable1086 .lable-input{
	margin-right: 250px;
}
#lable63538 .lable-input,#lable63543 .lable-input,#lable63548 .lable-input,#lable63553 .lable-input,#lable63558 .lable-input,#lable63535 .lable-input,#lable63540 .lable-input,#lable63545 .lable-input,#lable63550 .lable-input,#lable63555 .lable-input{
	margin-right:35px;
}
#PatID{width:138px}
label[for$="patAnesWay-61469"]{width:400px!important;}/*hxy11-16*/
#lable91722 +.radio-date + span,#lable91702 +.radio-date + span,#lable91707 +.radio-date + span,#lable91712 +.radio-date + span,#lable91717 +.radio-date + span{
	margin-right:50px;
}/*药品界面-液体输入过程涉及药品：药品一二三四五日期上下对齐*/
label[for$="ADNFracture-62204"]{width:650px!important;}/*存在手术后伤口裂开 2017-11-27*/
label[for$="ADNWoundCrack-62196"]{width:420px!important;}/*手术后骨折 2017-11-27*/
label[for$="eventType-61504"]{width:500px!important;}/*事件发生类型*/
label[for$="eventType-61505"]{width:500px!important;}/*事件发生类型*/
label[for$="errorPhase-61407"]{width:200px!important;}/*错误发生阶段*-标本分析/检查运行时间*/
#lable93397 > input.lable-input{margin-right:-20px!important;}/*堵漏-相关领域-其他*/


/*北京安贞：意外事件报告单st*/
label[for$="PatEventProcess-95021-95025"]{width:130px}/*患者意外事件处理经过-*/
#PatSelfCareAbility,#PatOrigin-label,#HospUlcerRiskLev,#OccurUlcerRiskLev{position: relative;top:5}/*自我照顾能力*/
#PatDiag{width:470px;min-width:470px}/*诊断*/
#dealWay{min-height:80px}/*处理措施*/
#RepHospType{min-width:220px}/*报告单位*/
#RepUserName{min-width:200px}/*填报人姓名*/
/*北京安贞：压疮报告单st*/
#lable93917,#lable93920,#lable93934{margin-left:-16px!important;}/*压疮部位-部位,分期,来源*/

#UlcerPart-95158-95163-95170{margin-left:-16px!important;}/*压疮部位-部位,分期,来源*/
