	.easy-table tr:hover{
		background-color:#d9e7f1;
	}	
	.easytable-th{
		/*
		overflow: hidden;
		text-overflow: ellipsis;
		*/
		white-space: nowrap;	
		font-size:14px;/*hxy 2018-04-25*/	
		background-color:#F8F8F8;/*hxy 2018-04-26 st*/
		font-weight:normal;
		background: linear-gradient(to bottom,#F9F9F9 0,#efefef 100%);
    	background-repeat: repeat-x;
    	border-top-style:solid!important;
    	border-bottom-style:solid!important;
    	border-top-width:1px!important;
    	border-bottom-width:1px!important;/*hxy 2018-04-26 ed*/
	}
	.easytable-td,.easytable-th{/*hxy 2018-04-27*/
		border-color:#ccc; 
		border-width: 0 1px 1px 0;
    	border-style: dotted;
    	margin: 0;
    	vertical-align:middle;
	}
	/*.easy-table tr td ,.easy-table tr th{
		/*border:1px dotted #ccc hxy 2018-04-25 1px solid #000*/
		/*border-color:#ccc; /*hxy 2018-04-26 st*/
		/*border-width: 0 1px 1px 0;
    	border-style: dotted;
    	margin: 0;
    	padding: 0 4px;/*hxy 2018-04-26 ed*/
	/*}*/
	.easytable-row{min-height:35px;height:35px}/*ÐÐ¸ß*/
	.easytable-header-row{height:40px!important}
	/*.easy-table tr th {
		border:1px dotted #ccc  hxy 2018-04-25 1px solid #000*/
	    /*border-color:#ccc; hxy 2018-04-26 st
		border-width: 1px 0 1px 0;
    	border-style: solid;
    	margin: 0;
    	padding: 0;/*hxy 2018-04-26 ed		
	}*/
	
	/*.easytable-header{position:fixed;top:104px;}*/

