<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="dhcc.epr.maintainapp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SystemFramework.Tracing.Enabled" value="True" />
    <add key="SystemFramework.Tracing.TraceFile" value="EPRTrace.txt" />
    <!-- 标准 TraceLevel 与 LogLevel 的值:
        0 = Off
        1 = Error
        2 = Warning
        3 = Info
        4 = Verbose -->
    <add key="SystemFramework.Tracing.TraceLevel" value="4" />
    <add key="SystemFramework.Tracing.SwitchName" value="EPRTraceSwitch" />
    <add key="SystemFramework.Tracing.SwitchDescription" value="Error and information tracing for EPR" />
    <add key="SystemFramework.EventLog.Enabled" value="False" />
    <add key="SystemFramework.EventLog.Machine" value="." />
    <add key="SystemFramework.EventLog.SourceName" value="EPR 2.0" />
    <add key="SystemFramework.EventLog.LogLevel" value="1" />
    
    <add key="SystemFramework.DataUserPassword" value="33121A1A100020^2C050E364540|GlobalEMR" />

    <add key="SystemFramework.DataServiceUrl" value="https://172.19.19.82/DtHealth/web/" />
   <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>