
/* dhcinsu.divmonstmtmx.css */
.td-first-col-58 {
	width: 58px;
}
.layout>.panel>.panel-header {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.layout-panel-east {
		border-left-width: 10px;
}
.layout-split-north {
    border-bottom-width: 10px;
}
