/**dhcinsu.dataulmain.css**/
.linkinfo{
    display: inline-block;
    color: blue;
    width:60px;
    line-height:20px;
    border-radius: 8px;
    cursor: pointer;
}
.layout-split-north {
    border-bottom-width: 10px;
}
.layout-split-east {
    border-left-width: 10px;
}
.layout-split-south {
    border-top-width: 10px;
}
