
/* dhcinsu.insuhilistquery.css */
.td-first-col-58 {
	width: 58px;
}
.layout>.panel>.panel-header {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

td[field="Tloc"] div.datagrid-cell, .datagrid-cell-group{
	text-overflow: ellipsis; /*列数据太多显示...*/
	padding: 0 8px;
}