/* dhcinsu.psnfixreg.css */

#Qdatagrid .panel-body-noheader{
	border-top:1px dashed #cccccc !important;
	border-right:1px solid #cccccc !important;
	border-left:1px solid #cccccc !important;
	border-bottom:1px solid #cccccc !important;
}
#Qdatagrid .panel-body{
	border-radius:0 0 4px 4px !important;
}
.tb120{
	width: 120px !important;
}
.tb100{
	width: 100px !important;
}