.form-table {
    font-size: 14px;
    margin: 10px 10px -4px 10px;
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.form-table td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.form-table tr {
    height: 40px;
}

.form-table tr td:nth-child(odd) {
    width: 100px;
    /*background: rgb(238, 247, 254);*/
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: right;
}

.condition-table {
    width: 100%;
    font-size: 14px;
    margin: 5px;
    border-collapse: collapse;
    border-spacing: 0;
}

.condition-table td {
    padding: 5px;
}

.condition-table tr {
    height: 24px;
}

.condition-table tr td:nth-child(odd) {
    text-align: right;
}

.dhccl-combobox,
.easyui-combobox,
.easyui-datebox,
.easyui-timespinner,
.easyui-numberspinner,
.easyui-textbox,
.easyui-numberbox,
.easyui-combotree,
.easyui-datetimebox{
    width: 180px;
}

.easyui-linkbutton {
    width: 100px;
}

.textbox,
.dhccl-combobox,
.hisui-combobox,
.hisui-combogrid,
.hisui-timespinner,
.hisui-numberspinner,
.hisui-textbox,
.hisui-numberbox,
.hisui-combotree,
.hisui-datetimebox,
.hisui-datebox,
.hisui-validatebox {
    width: 180px;
}

input .textbox{
    width:173px;
}
.hisui-combogrid {
    width: 176px;
}

.hisui-datebox{
    width:180px;
}

.hisui-numberbox,
.hisui-validatebox,
.validatebox-text,
input[type='text'] {
    width: 173px;
}

.easyui-linkbutton {
    width: 100px;
}

* {
    font-family: "microsoft yahei"
}

.box-tool {
    padding: 5px; 
}

.datagrid-header-row,
.datagrid-row {
    height: 32px;
}

/* .datagrid-row-selected {
    background: #0081c2;
    color: #fff;
} */

div.form-row,div.form-signrow {
    display: inline-flex;
    align-items: center;
    margin: 10px 10px 0 10px;
}

div.form-row {
    margin:5px 0 -3 10px;
}

div.form-rows>div:last-child {
    margin-bottom: 10px;
}

div.form-row .form-title,div.form-signrow .form-title {
    display: inline-block;
    width: 60px;
    text-align: center;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
    /* color: #686868; */
    margin-right: 10px;
}

div.form-row .form-title-right {
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 10px;
    
}

div.form-row .form-title-right05 {
    display: inline-block;
    width: 7px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right1 {
    display: inline-block;
    width: 14px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right2 {
    display: inline-block;
    width: 28px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right25 {
    display: inline-block;
    width: 35px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right255 {
    display: inline-block;
    width: 37px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right3 {
    display: inline-block;
    width: 42px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right35 {
    display: inline-block;
    width: 49px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right355 {
    display: inline-block;
    width: 51px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right4 {
    display: inline-block;
    width: 56px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right45 {
    display: inline-block;
    width: 46px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right455 {
    display: inline-block;
    width: 65px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right5 {
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right55 {
    display: inline-block;
    width: 77px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right6 {
    display: inline-block;
    width: 84px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right7 {
    display: inline-block;
    width: 98px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right8 {
    display: inline-block;
    width: 112px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right9 {
    display: inline-block;
    width: 126px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right10 {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right11 {
    display: inline-block;
    width: 154px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right12 {
    display: inline-block;
    width: 168px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right13 {
    display: inline-block;
    width: 182px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right14 {
    display: inline-block;
    width: 196px;
    text-align: right;
    margin-right: 10px;
}

div.form-row .form-title-right15 {
    display: inline-block;
    width: 210px;
    text-align: right;
    margin-right: 10px;
}

span.form-title-right2,span.form-title-right3,span.form-title-right4,span.form-title-right5,span.form-title-right6,span.form-title-right7,
span.form-title-right8,span.form-title-right9,span.form-title-right10 {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}

span.form-title-right2 {
    width:28px;
}

span.form-title-right3 {
    width:42px;
}

span.form-title-right4 {
    width:56px;
}

span.form-title-right5 {
    width:70px;
}

span.form-title-right6 {
    width:84px;
}

span.form-title-right7 {
    width:98px;
}

span.form-title-right8 {
    width:112px;
}

span.form-title-right9 {
    width:126px;
}

span.form-title-right10 {
    width:140px;
}

span.form-item-normal {
    margin-right: 20px;
}

div.form-row .form-title-normal,div.form-row .form-title-common {
    margin:-5px 5 -5 -5px;
}

div.form-row .form-item-normal,div.form-row .form-item-common {
	margin-right:40px;	
}

div.form-row .form-item-normal:last-child {
	margin-right:10px;	
}

div.form-row .form-item,div.form-signrow .form-item {
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.layout-north {
    padding: 4px 4px 2px 4px;
}

div.layout-center {
    padding: 2px 4px 4px 4px;
}

div.layout-west {
    padding:2px 0 4px 4px;
}

div.datagrid-tools {
    padding: 10px;
}

form.data-form {
    margin: 0;
    padding: 0;
}

.form-btns {
    text-align: center;
    margin-bottom: 10px;
    width: 1040px;
}

.form-btn {
    margin: 0 10px 0 0;
}

form .form-btnsrow{
    text-align: center;
    margin: 10px 0;
    width:1040px;
}

img.signature {
    display: inline-block;
    width: 140px;
    height:40;
    border: 1px solid #40a2de;
    margin-right: 10px;
}

.button-list {
    padding: 10px 0 10 0px;
    text-align: center;
}

div.form-row .form-item-yesno {
    display: inline-block;
    margin-right: 20px;
    width: 100px;
}

div.form-row .form-item-checkboxlist {
    display: inline-block;
    width:500px;
    margin-right: 20px;
}

div.form-row .form-item-text {
    display:inline-block;
    width: 180px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.form-row .form-item-textnormal {
    display:inline-block;
    width: 120px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-content-title {
    color: #686868;
}

div.form-row .form-title-rightshort {
    display: inline-block;
    width: 40px;
    margin-right: 10px;
    text-overflow: ellipsis;
    text-align: right;
}

div.form-row .form-item-textshort {
    display:inline-block;
    width: 150px;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.form-row .form-title-rightlong {
    display: inline-block;
    width:180px;
    margin-right: 10px;
    text-align: right;
    text-overflow: ellipsis;
    font-weight: bold;
}

div.form-row-group {
    /* margin: 10px; */
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

div.form-row-grouptitle {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 10px 0 10px;
}

form>.form-row-group:last-child {
    border: none;
}

form {
    margin:0;
}

div.form-row-applicationgroup {
    padding-left: 180px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

/* .form-row-group .form-rows>div:last-child {
    margin-bottom: 0;
} */

.form-table-normal {
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.form-table-normal td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.form-table-normal th {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.form-table-normal tr {
    height: 30px;
}

.form-table-title {
    padding:0 10px;
}

.triggerbox .triggerbox-text {
    padding:0 5px;
}

.textbox[type='text'] {
    border-color: #9ed2f2;
}

.form-item-unit {
    margin-left: 5px;
}
