*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#fff;
}

#PatientInfo div.panel div.panel-body
{
	border-style:solid solid none solid;
	padding:10px;
	border-radius:0 1px 0 1px;
}
.form-group {
    margin:0 10px 10px 0;
}
.form-group:last-child{
	margin-bottom:0;	
}
.form-group-item ,
.td-group-item{
    margin: 0 10px 0 0;
}
.form-group-item input
{
	margin-left:10px;
}

.form-group-item .right{
	display:inline-block;
	width:84px;
	text-align:right;
}
td{
	vertical-align:top;
	position: relative;
}
p{
	/*line-height:30px;*/
	margin-right:20px;
}
p.item{
	line-height:30px;
}
p select + span.combo{
	margin-left:5px;
}
p.item,
.operator{
	color:red;
}
.td-group{
	margin:10px 10px 10px 0;
}
.td-group-item input{
	margin-left:5px;
}
.panel .layout-panel .layout-panel-south
{
	top:752px;
}
.btn-Group{
	text-align:center;
	margin-bottom:10px;
}
.btn-Group a{
	margin-right:10px;
}
#PatSex,
#PatAge,
#PatBedNo,
#MedCareNo{
	width:100px;
}
#PatLoc{
	width:230px;
}
#PatOpName{
	width:768px;
}
#InfectedScore,
#ASAScore,
#OpTimesScore,
#SumScore{
	width:80px;
}
#NNISRate{
	width:165px;	
}