
*{
	margin:0;
	padding:0;	
}
#operserchlist
{
	width:100%;
}
#conditionForm{
	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.condition-td-checkbox
{
	width:90px;
}
.statusList
{
	padding:0px;
	margin:0px 0px 0px 10px;
}
#patient-toolbar{
	min-width:300px;
	margin-left:30px;
	display:inline-block;
}
#botton-toolbar{
	margin-left:20px;
	text-align:center;
	height:32px;
}
.datagrid-row-selected {

  background: #FFE48D !important;
  color: #oooooo;
}
