*{
	margin:0px;
	padding:0px;	
}
body{
	background-color:#fff;
}
span.condition-span{
	margin-right:40px;
}
span.condition-span > span,span.condition-span > input{
	margin-left:10px;
}
.panel-body.panel-body-noheader { 
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-top-width:0;
	border-color: #ccc;
}