.StatusLable{
	padding: 2px 20px;
	color: #FFF;
	border-radius: 5px;
}

.WardTypeLable{
	padding: 2px 20px;
	border-radius: 5px;
}
#Arrange{
	background: palegreen;
}
#Monitor{
	background: magenta;
}
#Stop{
	background: lightblue;
}
#Message{
	color: red;
}
.WardType{
	font-size: 14px !important;
	position: relative;
	display: block;
	padding:2px 10px;
	border-radius: 5px;
	float:left;
	margin:0 10px;
}
.condition-table{
	margin:3px 5px;
}
.condition-table tr td{
	padding:0 10px 8px 0;
}
.combo.datebox .combo-text.validatebox-text
{
	padding-left:3px;
}