body{
	background-color:#FFF;
}
.panel-body.panel-body-noheader {
	
}
.datagrid-row-selected {

  background: #FFE48D !important;
  color: #oooooo;
}
.datagrid-row-selected .patlist-item:last-child {
    color: #oooooo;
}
.oper-table .oper-td{
	padding:5px;
	min-width:90px;
	text-align:center;
	white-space:nowrap;
}

.oper-table
{
	padding:5px;
}

.icon-addauth {
    background-image:url(../img/addauth.png);
    BACKGROUND-REPEAT: no-repeat;
    background-position:center;
}
.icon-delauth {
    background-image:url(../img/delauth.png);
    BACKGROUND-REPEAT: no-repeat;
    background-position:center;
}
.icon-adddayauth {
    background-image:url(../img/adddayauth.png);
    BACKGROUND-REPEAT: no-repeat;
    background-position:center;
}
.icon-deldayauth {
    background-image:url(../img/deldayauth.png);
    BACKGROUND-REPEAT: no-repeat;
    background-position:center;
}
.menu-text
{
	padding-left:10px;
}
.combo-arrow
{
	height:28px;
	width:30px;
}
 .showwindow-tdtype2
{
	width:80px;
	text-align:right;
	padding-left:10px;
	padding-right:7px;
	padding-top:7px;	
}
.showwindow-tdtype
{
	padding-top:7px;	
}
.combo .combo-text{
    padding-left:4px;
}
.showwindow-tdtype3
{
	padding-top:4px;	
}
.showwindow-tdtype4
{
	padding-left:38px;
	padding-right:7px;
	padding-top:7px;	
}