span.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;
}

.icon-person {
    background: url('icons/person.png') no-repeat center center;
}

.icon-surgeon {
    background: url('icons/surgeon.png') no-repeat center center;
}

.icon-time {
    background: url('icons/time.png') no-repeat center center;
}

.icon-warning {
    background: url('icons/warning.png') no-repeat center center;
}

.icon-monitor {
    background: url('icons/monitor.png') no-repeat center center;
}

.icon-statistics {
    background: url('icons/statistics.png') no-repeat center center;
}

.icon-review {
    background: url('icons/review.png') no-repeat center center;
}

.icon-system {
    background: url('icons/system.png') no-repeat center center;
}

.icon-excel {
    background: url('icons/excel.png') no-repeat center center;
}

.icon-surgery {
    background: url('icons/surgery.png') no-repeat center center;
}

.icon-anaest {
    background: url('icons/anaest.png') no-repeat center center;
}

.icon-list {
    background: url('icons/list.png') no-repeat center center;
}

.icon-nurse {
    background: url('icons/nurse.png') no-repeat center center;
}

.icon-hospital {
    background: url('icons/Hospital.png') no-repeat center center;
}

.icon-patient {
    background: url('icons/operpatient.png') no-repeat center center;
}

.icon-patient-male {
    background: url('icons/patient_male.png') no-repeat center center;
}

.icon-patient-female {
    background: url('icons/patient_female.png') no-repeat center center;
}

.icon-patients {
    background: url('icons/patients.png') no-repeat center center;
}

.icon-close {
    background: url('icons/close.png') no-repeat center center;
}

.icon-audit {
    background: url('icons/audit.png') no-repeat center center;
}

.icon-coin {
    background: url('icons/coin.png') no-repeat center center;
}

.icon-detail {
    background: url('icons/detail.png') no-repeat center center;
}

.icon-doctor-female {
    background: url('icons/doctor-female.png') no-repeat center center;
}

.icon-doctor-male {
    background: url('icons/doctor-male.png') no-repeat center center;
}

.icon-nurse-large {
    background: url('icons/nurse-large.png') no-repeat center center;
}

.icon-people {
    background: url('icons/people.png') no-repeat center center;
}

.icon-book {
    background: url('icons/book.png') no-repeat center center;
}

.icon-template {
    background: url('icons/template.png') no-repeat center center;
}

.icon-plus {
    background: url('icons/plus.png') no-repeat center center;
}

.icon-minus {
    background: url('icons/minus.png') no-repeat center center;
}

.icon-schedule {
    background: url('icons/schedule.png') no-repeat center center;
}

.icon-visit {
    background: url('icons/visit.png') no-repeat center center;
}

.icon-table {
    background: url('icons/table.png') no-repeat center center;
}

.icon-listitem {
    background: url('icons/listitem.png') no-repeat center center;
}

.icon-layout {
    background: url('icons/layout.png') no-repeat center center;
}

.icon-menu {
    background: url('icons/menu.png') no-repeat center center;
}

.icon-form {
    background: url('icons/form.png') no-repeat center center;
}

.icon-window {
    background: url('icons/window.png') no-repeat center center;
}

.icon-grid {
    background: url('icons/grid.png') no-repeat center center;
}

.icon-gear {
    background: url('icons/gears.png') no-repeat center center;
}

.icon-medrecord {
    background: url('icons/medrecord32.png') no-repeat center center;
}

.icon-ecg {
    background: url('icons/ecg32.png') no-repeat center center;
}

.icon-idea-green {
    background: url('icons/idea-green-64.png') no-repeat center center;
}

.icon-idea-red {
    background: url('icons/idea-red-64.png') no-repeat center center;
}

.icon-opercancel {
    background: url('icons/opercancel.png') no-repeat center center;
}

.icon-start {
    background: url('icons/start.png') no-repeat center center;
}

.icon-stop {
    background: url('icons/stop.png') no-repeat center center;
}

.icon-previous {
    background: url('icons/previous.png') no-repeat center center;
}

.icon-next {
    background: url('icons/next.png') no-repeat center center;
}

.icon-first {
    background: url('icons/first.png') no-repeat center center;
}

.icon-last {
    background: url('icons/last.png') no-repeat center center;
}

.icon-print-current {
    background: url('icons/print-current.png') no-repeat center center;
}

.icon-opercheck {
    background: url('icons/opercheck.png') no-repeat center center;
}

.icon-select-all {
    background: url('icons/select-all.png') no-repeat center center;
}

.icon-unselect-all {
    background: url('icons/unselect-all.png') no-repeat center center;
}

.icon-case {
    background: url('icons/case.png') no-repeat center center;
}

.icon-anarecord {
    background: url('icons/anarecord.png') no-repeat center center;
}

.icon-operaudit {
    background: url('icons/operaudit.png') no-repeat center center;
}

.icon-operauditbat {
    background: url('icons/operauditbat.png') no-repeat center center;
}

.icon-opercancel {
    background: url('icons/opercancel.png') no-repeat center center;
}

.icon-opercheck {
    background: url('icons/opercheck.png') no-repeat center center;
}

.icon-operedit {
    background: url('icons/operedit.png') no-repeat center center;
}

.icon-operprint {
    background: url('icons/operprint.png') no-repeat center center;
}

.icon-operrisk {
    background: url('icons/operrisk.png') no-repeat center center;
}

.icon-white-search {
    background: url('icons/white/find.png') no-repeat center center;
}

.icon-white-print {
    background: url('icons/white/print.png') no-repeat center center;
}

.icon-drug {
    background: url('icons/pill.png') no-repeat center center;
}

.icon-vitalsign {
    background: url('icons/ecg.png') no-repeat center center;
}

.icon-event {
    background: url('icons/detail.png') no-repeat center center;
}

.icon-orderset {
    background: url('icons/orderset.png') no-repeat center center;
}

.icon-start_monitor {
    background: url('icons/start_monitor.png') no-repeat center center;
}

.icon-start_monitor.icon-disabled {
    background: url('icons/start_monitor_disabled.png') no-repeat center center;
}

.icon-stop_monitor {
    background: url('icons/stop_monitor.png') no-repeat center center;
}

.icon-stop_monitor.icon-disabled {
    background: url('icons/stop_monitor_disabled.png') no-repeat center center;
}

.icon-edit_theatrein {
    background: url('icons/edit_theatrein.png') no-repeat center center;
}

.icon-edit_theatrein.icon-disabled {
    background: url('icons/edit_theatrein_disabled.png') no-repeat center center;
}

.icon-emergency_mode {
    background: url('icons/emergency_mode.png') no-repeat center center;
}

.icon-emergency_mode.icon-disabled {
    background: url('icons/emergency_mode_disabled.png') no-repeat center center;
}

.icon-vitalsign {
    background: url('icons/vitalsign.png') no-repeat center center;
}

.icon-vitalsign.icon-disabled {
    background: url('icons/vitalsign_disbaled.png') no-repeat center center;
}

.icon-drug {
    background: url('icons/drug.png') no-repeat center center;
}

.icon-drug.icon-disabled {
    background: url('icons/drug_disabled.png') no-repeat center center;
}

.icon-event {
    background: url('icons/event.png') no-repeat center center;
}

.icon-event.icon-disabled {
    background: url('icons/event_disabled.png') no-repeat center center;
}

.icon-user_template {
    background: url('icons/user_template.png') no-repeat center center;
}

.icon-user_template.icon-disabled {
    background: url('icons/user_template_disbaled.png') no-repeat center center;
}

.icon-shortcut {
    background: url('icons/shortcut.png') no-repeat center center;
}

.icon-shortcut.icon-disabled {
    background: url('icons/shortcut_disabled.png') no-repeat center center;
}

.icon-setting {
    background: url('icons/setting.png') no-repeat center center;
}

.icon-setting.icon-disabled {
    background: url('icons/setting_disabled.png') no-repeat center center;
}

.icon-revoke {
    background: url('icons/revoke.png') no-repeat center center;
}

.icon-revoke.icon-disabled {
    background: url('icons/revoke_disabled.png') no-repeat center center;
}

.icon-first_page {
    background: url('icons/first_page.png') no-repeat center center;
}

.icon-first_page.icon-disabled {
    background: url('icons/first_page_disabled.png') no-repeat center center;
}

.icon-previous_page {
    background: url('icons/previous_page.png') no-repeat center center;
}

.icon-previous_page.icon-disabled {
    background: url('icons/previous_page_disabled.png') no-repeat center center;
}

.icon-next_page {
    background: url('icons/next_page.png') no-repeat center center;
}

.icon-next_page.icon-disabled {
    background: url('icons/next_page_disabled.png') no-repeat center center;
}

.icon-last_page {
    background: url('icons/last_page.png') no-repeat center center;
}

.icon-last_page.icon-disabled {
    background: url('icons/last_page_disabled.png') no-repeat center center;
}

.icon-print_all {
    background: url('icons/print_all.png') no-repeat center center;
}

.icon-print_all.icon-disabled {
    background: url('icons/print_all_disabled.png') no-repeat center center;
}

.icon-print_current {
    background: url('icons/print_current.png') no-repeat center center;
}

.icon-print_current.icon-disabled {
    background: url('icons/print_current_disabled.png') no-repeat center center;
}

.icon-refresh {
    background: url('icons/refresh.png') no-repeat center center;
}

.icon-refresh.icon-disabled {
    background: url('icons/refresh_disabled.png') no-repeat center center;
}

.icon-charge {
    background: url('icons/charge.png') no-repeat center center;
}

.icon-charge.icon-disabled {
    background: url('icons/charge_disabled.png') no-repeat center center;
}

.layout-button-black-left {
    background: url('images/layout_arrows_black.png') no-repeat;
}

.icon-reStart_monitor {
    background: url('icons/back.png') no-repeat center center;
}

.icon-reStart_monitor.icon-disabled {
    background: url('icons/back_disabled.png') no-repeat center center;
}