body{
	background-color:#FFF;
}
.oper-table{
	width:100%;
	min-width:880px;
	table-layout:fixed;  
}
.oper-table .oper-td-title{
	width:60px;
	text-align:right;
	white-space:nowrap;
}
.oper-table td{
	padding:0 5px 5px 5px;
}

.datagrid-wrap .panel-body .panel-body-noheader
{
	padding:0 4px 10px 4px;
}

#menubtn-toolbar
{
	width:150px;
	text-align:center;
	padding:1px;
}

.icon-buttonshow {
 background-image:url(../img/eventicon.png);
 background-repeat: no-repeat;
 background-position-x:center;
  background-position-y:center;
}
.patlist-item span
{
	font-size:14px;
}
.combo-arrow
{
	height:28px;
	width:30px;
}
.panel-body.panel-body-noheader { 
		/*border-color: #ccc;*/
}
.condition-table{
	margin:5px;
}
.condition-table tr td{
	padding:0 10px 10px 0;
}
.condition-table tr:last-child td{
	padding-bottom:0px;
}
.form-table
{
	padding:10px;
}
 .form-table td{
	padding:5px 5px 5px 5px;
}
.showwindow-tdtype
{
	width:80px;
	text-align:right;
	padding-left:10px;
	padding-right:10px;
}
.datagrid-header-inner
{
	height:28px;
}

.panel-body-noheader.panel-body
{
	border-radius:4px;
	
}
ul li
{
	list-style-type: none;
	align-items: center;
	float:left;
}
.icon-regdrug {
    background-image:url(../img/regdrug.png);
    BACKGROUND-REPEAT: no-repeat;
    background-position:center;
}