/*
* {
	margin: 0;
	padding: 0;
}
*/
/*************nav css µœ÷***************/
ul{
	list-style: none;
}
.img{
	width: 100%;
	height: 30px;
	display:block;	
}
.dhcc-nav-panel {
	width: 40px;
	height: 100%;
	background-color:#505D82;
	position: fixed;
	opacity: 0.9;
	top: 0;
}
.dhcc-nav-panel-title {
	height: 20px;
	margin: 5px;
	text-align: center;
}

.dhcc-nav-panel-title:hover{
	cursor: hand;
}

.dhcc-nav-panel-title span{
	color: #fff;
}
.dhcc-nav{
	width:50px;
	height: 20px;
}

.dhcc-nav{
	width: 100%;
	height: 50px;
	padding:0;
	line-height: 50px;
	z-index: 111;
}
.dhcc-nav li{
	line-height: 40px;
	height: 40px;
	background-color: #404A57;
}

.dhcc-nav li:hover {
	background-color: #1A88D3;
}

.dhcc-nav li span:first-child {
	width: 40px;
	height: 40px;
	float: left;
}
.dhcc-nav li span:first-child {
	display:block;
}
.dhcc-nav li span {
	display: none;
}
.dhcc-nav li:first-child{
	border-radius:3px 3px 0 0 ;
}

.dhcc-nav li a{
	/*color: grey;*/
}
.dhcc-nav li .dhcc-nav-two{
	width: 150px;
	display: none;
	position: absolute;
	margin-top: -38px;
	margin-left:48px;
}

.dhcc-nav li .dhcc-nav-two li:first-child{
	position: relative;
	width: 100%;
	height: 35px;
	line-height: 35px;
	background-color: #CCC;
	color:#333333
}

.dhcc-nav li .dhcc-nav-two li{
	position: relative;
	width: 100%;
	height: 35px;
	line-height: 35px;
	background-color: #FFFFFF;
	color:#333333
}

.dhcc-nav li .dhcc-nav-two li:first-child{
	border-radius:5px 5px 0 0 ;
}
.dhcc-nav li .dhcc-nav-two li:last-child{
	border-radius: 0 0 5px 5px;
}
.dhcc-nav li .dhcc-nav-two li:hover{
	background-color:#3280fc;
}
.dhcc-nav li .dhcc-nav-two li:first-child:hover{

}
.dhcc-nav li .dhcc-nav-two li:hover a{
	color:#FFFFFF;
}
.dhcc-nav li .dhcc-nav-two li .dhcc-nav-three{
	/*position: absolute;*/
	width: 150px;
	display: none;
	position: absolute;
	margin-top: -40px;
	margin-left:48px;
}
.dhcc-nav li .dhcc-nav-two li .dhcc-nav-three li:first-child{
	position: relative;
	width: 100%;
	height: 35px;
	line-height: 35px;
	background-color: #CCC;
	color:#333333
}

.dhcc-nav li:hover .dhcc-nav-one-a{
	color:#FFFFFF;
}
.dhcc-nav li:hover .dhcc-nav-two li a{
	color:grey;
}
.dhcc-nav-two li a{
	color:grey;
}
.dhcc-nav li .dhcc-nav-two li:hover .dhcc-nav-two-a{
	color:#FFFFFF;
}
.dhcc-nav li .dhcc-nav-three li:hover .dhcc-nav-three-a{
	color:#FFFFFF;
}