/*formstyle.css
  各个表单的样式调整 2017-12-11*/


 /**测试！测试！测试！st**/
 
 /**器械 医疗器械设备召回”时，‘召回设备类型’和‘生产企业名称’**/
#MDRDeviceType-rightlabel{
	width:100px;
	}
#MDREnterpriseName-rightlabel{
	width:100px;
	}
#FoodHarmEffect-label{
	width:90px;
	}

 /**护理 误吸 误吸误咽次数 ylp**/
#AspirNum-rightlabel{
	width:90px;
	}
 /**护理 误吸 误吸/误咽异物 ylp**/
#AspirForeign-rightlabel{
	width:90px;
	}
/**药品不良事件-药物不良反应事件-“家族药品不良反应情况''、”既往药品不良反应情况“、"不良反应/事件发生时间"、“对患者造成的后果”**/
#EventFamily-label{
	width:90px;
	}
#EventHistory-label{
	width:90px;	
	}
#AdvDateOccu-rightlable{
	width:90px;	
	}
#EventResult-label{
	width:90px;		
	}
/** sufan 2018-01-03**/
#lableDM6 +.radio-date +span{
	margin-right:700px;
	}
/**是否请压疮会诊 压疮面积（长宽深:cm）#IfUlcConsult-label、#UlcerArea-label sufan 2018-01-03**/
#IfUlcConsult-label{
	width:90px;
	}
#UlcerArea-label{
	width:90px;
	}
#lableMDEventResult-93411 +div{
	width:230px!important;
	float:right;
	margin-top:-40px;
	margin-right:40px;
	display:inline-block;
	margin-right:700px;
	}
#lableMIPlaceOfUse-61261 .lable-input{
	margin-right:130px;
	}
/**是否定期隔离消毒,有无监控护士在场 IfReguDisinIsolat-label、#IfHaveMonitNurse-label 、#AspirIfCompanions-labelsufan 2018-01-03**/
#IfReguDisinIsolat-label{
	width:90px;
	}
#IfHaveMonitNurse-label{
	width:90px;
	}
#AspirIfCompanions-label{
	width:90px;
	}
#CEEventActivity-label{
	width:90px;
	}
#CEWhetherReIntubate-label{
	width:90px;
	}
#CEOftenCompanion-label{
	width:90px;
	}
#AspirForeign-rightlabel{
	float:left;
	text-align:left;
	}
/**{UI问题}新不良事件—护理不良事件-手术事件-手术结束后器械有误-数量不符/遗失/器械不完整下的“数量”与对应编辑框距离过大，建议调整适当距离 sufan 2018-01-15**/
#lableNODeviceError-63716-63723 .lable-input{
	margin-right:800px;
}
#lableNODeviceError-63724-63730	.lable-input{
	margin-right:800px;
}
#lableNODeviceError-63732-63739	.lable-input{
	margin-right:800px;
}