/*
* {
    margin: 0;
    padding: 0;
}
*/
/***********************************/
.img{
	width: 100%;
	height: 30px;
	display:block;	
}
.dhcc-nav-panel {
    width: 50px;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    background-color:#505D82;
	position: fixed;
	opacity: 0.9;
	top: 0;
}
.dhcc-nav-panel-open{
	width: 200px;
}
.dhcc-nav-panel-title {
    height: 20px;
    margin: 5px;
    text-align: center;
}

.dhcc-nav-panel-title:hover{
    cursor: hand;
}

.dhcc-nav-panel-title span{
    color: #fff;
}
/******************************/
.dhcc-nav,.dhcc-nav ul{
	list-style: none;
	padding: 0px;
}
.dhcc-nav a{
	text-decoration:none;
	color: #FFFFFF;
}
 .dhcc-nav{
	width: 100%;
	padding:0;
	z-index: 111;
}

.dhcc-nav li {
	line-height: 40px;
	background-color: #404A57;
	color:#000
}

.dhcc-nav li:hover {
	background-color: #1A88D3;
}

.dhcc-nav li .dhcc-nav-two{
	width: 150px;
	display: none;
}
.dhcc-nav li span:first-child {
	width: 40px;
	height: 40px;
	float: left;
}

.dhcc-nav li span {
	text-indent: 15px;
	display: inline-block;
}

.dhcc-nav li i{
	margin-left: 10px;
}

.dhcc-nav li ul li:first-child {
	display: none;
}

.dhcc-nav-two{
	/*text-indent:20px;*/
}

.dhcc-nav-two li{
	/*background-color: #6196BB;*/
}

.dhcc-nav li .dhcc-nav-two li .dhcc-nav-three{
	 width: 150px;
	 display: none;
 }

.dhcc-nav-three{
	/*text-indent:40px;*/
}

.dhcc-nav-three li{
	/*background-color: grey*/
}

