/* 去除浏览器默认样式 */
* {
	padding:0;
 	margin:0;
 }
 .img{border:none;} /*IE8图片显示边框处理*/

/*datagrid表格单元格内容超出显示省略号*/
.datagrid-btable .datagrid-cell
 {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
 } 

/*解决IE下树形表格内容超长全部显示为省略号问题*/
.datagrid-btable .tree-title {
	display: inline;
}

/*没有表头的表格边框 灰色*/
/* .panel-body.panel-body-noheader{ 
	border-color: #ccc;
} */

/* 删除按钮 */
.btn_delete {
	display: list-item;
	background: url("../img/cancel.png") no-repeat scroll center center transparent ;
}

/* 新建按钮 */
.btn_add {
	display: list-item;
	background: url("../img/add.png") no-repeat scroll center center transparent ;
}
/* 新建按钮 - 极简 */
.icon.icon-add {
	display: list-item;
	color: #000000;
	cursor: pointer;
}

/* 查看报告按钮 */
.btn_detail {
	display: list-item;
	background: url("../img/paper_info.png") no-repeat scroll center center transparent ;
}
/* 查看报告按钮 - 极简 */
.icon.icon-paper {
	display: list-item;
	color: #000000;
	cursor: pointer;
}

/* 查看按钮 */
.btn_search {
	display: list-item;
	background: url("../img/search.png") no-repeat scroll center center transparent ;
}
/* 查看按钮 - 极简 */
.icon.icon-search {
	display: list-item;
	color: #000000;
	cursor: pointer;
}

/*公共卫生事件按钮*/
.toolbtn-div {
	margin-top: 2px;
	position: relative;	
}
.tooldiv {
	display: inline-block;	
}

.toolbtn-div .l-btn {
	color: #717171;
	background-color:#F1F1F1;
	margin: 3px 0px 3px 5px;
	outline:none;  /*没有边框*/
	border-radius: 4px;
}

.toolbtn-div .l-btn:hover {
	color: #0386D4;
	background-color:#DDF1FF;
	outline:none;  /*没有边框*/
}

.toolbtn-div .m-btn .l-btn-left .l-btn-text {
    color: #717171;
    margin-left: 0px;
}

.toolbtn-div .hisui-menubutton.l-btn-plain :hover {
	border-radius: 4px;
	background-color:#48ABE3;
}
.toolbtn-div .hisui-menubutton.l-btn-plain:hover .l-btn-left .l-btn-text {
	color: #fff;
}

/*公共卫生事件卡片*/
.center-div {
	padding: 10px 0px 10px 10px;
	border: none;
} 
.cardlist-div {
	position: relative;
	float:left;
}
.card-div {
	position: relative;
	float:left;
	width: 277px;
	height: 245px;
	margin-right: 10px;
	margin-bottom: 10px;	
	border:1px solid #40a2de;
	border-radius: 4px;  
}
.card-table {
	table-layout: fixed;
	width: 270px;
	margin:5px;		
}
.card-table .card-td {
	color: #717171;
	text-align: right;
	width:72px;
}
.card-table tr:nth-child(1) td:nth-child(2){
	cursor:pointer;	
}
.card-table td {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}
.card-table .hisui-tooltip {
	color: #000;
}
.card-title {
	height:25px;
	color: #fff;
	text-align: center;
	background-color:#3AA1E0;
}
.card-title span a{
	color: #fff;
}
/*公共卫生事件疑似病例筛查*/
#ScreenResult .panel-body.panel-body-noheader{ 
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.head-div {
	height:35px;
	border-style: solid;
    border-width: 1px;
    border-color: #ccc #ccc #40a2de #ccc;
	border-radius: 4px 4px 0px 0px;
}
.result-div {
	float: left;
	line-height: 35px;
}
.result-div span{ 
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-bottom: 3px solid #40a2de;
}
.btnlist-div {
	float: right;
	margin: 2px 10px;
}
.btnlist-div .l-btn {
	color: #fff;
	background-color:#3AA1E0;
	margin: 3px 0px 3px 5px;
	outline:none;  /*没有边框*/
}

.btnlist-div .l-btn-text {
    line-height: 25px;
}

/*公共卫生无权限或无报告图片*/
.noresult {
	position: relative;
    height: 100%;
    width: 100%;
    background: url(../img/noresult.png) center center no-repeat;
}
.nodata {
	width:300px;
	height:200px;
	margin:auto;
	position:absolute; /*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top:-100px;
	/*background-color: red;*/
}
.nodata p {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
	font-size: 24px;
	font-weight: bold;
    color: #2EB6A1;
}

.no-data {
    width: 100%;
    height: 100%;
    background: url(../img/no_data.png) center center no-repeat;
}

.no-report {
    width: 100%;
    height: 100%;
    background: url(../img/no_report.png) center center no-repeat;
}
/*公共卫生事件图标*/
.card-epd {
	height: 210px;
	margin-right: 5px;
	margin-bottom: 5px;
    background: url(../img/传染病报告.png) right bottom no-repeat;
}

.card-dth {
	height: 210px;
	margin-right: 5px;
	margin-bottom: 5px;
    background: url(../img/医学死亡证明书.png) right bottom no-repeat;
}

.card-hai {
	height: 210px;
	margin-right: 5px;
	margin-bottom: 5px;
    background: url(../img/医院感染报告.png) right bottom no-repeat;
}

.card-smd {
	height: 210px;
	margin-right: 5px;
	margin-bottom: 5px;
    background: url(../img/严重精神疾病.png) right bottom no-repeat;
}

.card-fdb {
	height: 210px;
	margin-right: 5px;
	margin-bottom: 5px;
    background: url(../img/食源性疾病.png) right bottom no-repeat;
}

.card-spe {
	height: 210px;
	margin-right: 5px;
	margin-bottom: 5px;
    background: url(../img/特殊患者.png) right bottom no-repeat;
}

.card-cd {
	height: 210px;
	margin-right: 5px;
	margin-bottom: 5px;
    background: url(../img/慢病管理.png) right bottom no-repeat;
}

.card-rds {
	height: 210px;
	margin-right: 5px;
	margin-bottom: 5px;
    background: url(../img/罕见病.png) right bottom no-repeat;
}

/********列表样式*******/
.sidebar ul {
	padding-left: 1px;
}
.sidebar-menu > li {
	display: inline;
    line-height: 35px;
}
.sidebar-menu > li .pull-right-container {
	position: relative;
    float: right;
    line-height: 30px;
}
.sidebar-menu > li > a {
	display: block;
	text-decoration: none;	
    border-bottom: 1px solid #E4E4E4;
    color: #000;
}
.sidebar-menu .treeview-menu >li a {
	color: #686868;
	text-decoration: none;  /*没有下划线*/
 }
 .sidebar-menu .treeview-menu >li.active a {
	color: #FBFDFE;
	text-decoration: none;  /*没有下划线*/
 }
.sidebar-menu .treeview-menu >li.active{
	 background-color: #40A2DE;	  
 }
 .sidebar-menu .treeview-menu >li:hover{
	background-color: #E5F2FA;
 }
 .sidebar-menu .treeview-menu >li:hover a{
	color: #52AAE1;
	text-decoration: none;  /*没有下划线*/
	cursor:pointer
 }
.sidebar-menu .treeview-menu li {
	list-style: none;
	padding:0 2px;
	margin-bottom:10px;
	background-color:#EFEFEF;
	/*border-bottom: 1px solid #E4E4E4;	*/
	/* Gecko browsers */
	-moz-border-radius: 4px; 
	/* Webkit browsers */
	-webkit-border-radius: 4px; 
	/* W3C syntax - likely to be standard so use for future proofing */
	border-radius:8px;
	cursor:pointer;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
    width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    background-color: transparent;
}
.sidebar-menu > li .bg-red{
	line-height: 30px;
	width: 24px;
	padding: 2px;
	margin-right: 2px;
    text-align: center;
    color: rgb(221, 75, 57);
}
.sidebar-menu > li .bg-green{
	line-height: 30px;
	width: 24px;
	padding: 2px;
	margin-right: 2px;
    text-align: center;
    color: rgb(0, 166, 90);
}
.sidebar-menu > li .bg-yellow{
	line-height: 30px;
	width: 24px;
	padding: 2px;
	margin-right: 2px;
    text-align: center;
    color: rgb(243, 156, 18);
}
/*全院的数字*/
#LocQY .bg-red,#LocQY .bg-green,#LocQY .bg-yellow{
	width: 36px;
}
/*科室分组的数字*/
.loc-group .bg-red,.loc-group .bg-green,.loc-group .bg-yellow{
	width: 36px !important;;
}
/*list-inline*/
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
}

/*报告样式*/
.page-body {
    margin: 10px;
}
.report-header {
   	text-align: center; 
}
.report-header span {
    font-size: 24px;
    letter-spacing:30px;
}
.report-title {
	margin-left:15px;
	margin-right:15px;
}
.report-content .panel {
	margin: 10px 0px;
}
.report-col {
	position: relative;
	float: left;
}
.report-col label{
	vertical-align: middle;
	text-align: right;
	margin-left: 10px;
    margin-right: 3px;
}
.report-tab {
	width: 100%;
	margin:4px 0px;
}
.report-tr {
	height: 38px;
}
.report-td {
	min-width: 80px;
	text-align: right;
	padding-right: 6px;
}
.report-td.fbdsign,
.report-td.top-bold {
	padding-top: 2px;
	font-weight: bold;
    vertical-align: top;
}
.report-line {
	padding-bottom: 5px;
	border-bottom: 1px dashed #CCC;
}
.td-label {
	margin-left: 5px;
    margin-right: 5px;
}
.PatInfo  {
	margin-top: 7px;
	line-height: 35px;
	display: block;
    overflow: hidden;
    white-space: nowrap;
}
.PatInfo span {
    padding-left: 5px;
}
.sline, .infoLabel {
    color: #787878;
}
.patName {
	font-size: 16px;
	margin-right: 10px;
}
 
.man {
	float: left;
    margin-top: 10px;
    margin-left: 35px;
    width: 30px;
	height: 30px;
 	background: url(../img/man.png) center center no-repeat;
 	display: inline-block;
    overflow: hidden;
}
.unknowgender {
	float: left;
    margin-top: 10px;
    margin-left: 35px;
    width: 30px;
	height: 30px;
 	background: url(../img/ukgender.png) center center no-repeat;
 	display: inline-block;
    overflow: hidden;
}
.woman {
	float: left;
    margin-top: 10px;
    margin-left: 35px;
    width: 30px;
	height: 30px;
 	background: url(../img/woman.png) center center no-repeat;
	display: inline-block;
    overflow: hidden;
}

.report-notice {
	position: relative;
	float: left;
	text-align: left;
	line-height: 25px;
	padding-left: 8px;
	padding-right: 8px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #FF5C5D;  
    background-color: #FFA18E;  
}

#lblRelationNotice {
	left: 10px;
	white-space: nowrap;
}

#lblCompanyNotice {
	left: -70px;
	white-space: nowrap;
}

#lblRelationNotice:before,#lblRelationNotice:after,#lblCompanyNotice:before,#lblCompanyNotice:after{
    content:"";display:block;
    border-width:10px;
    position:absolute; 
	bottom: 0px;
	left: -20px;
    border-style:solid;
    border-color:transparent #FF5C5D transparent transparent;
    font-size:0;
    line-height:0;
}
#lblRelationNotice:after,#lblCompanyNotice:after{
    left: -17px;
    border-color:transparent #FFA18E transparent transparent;
}
#lblCompanyNotice:before,#lblCompanyNotice2:before,#lblCompanyNotice:after{
	top: 2px;
}

#lblCardNotice:before,#lblCardNotice:after,#lblCardNotice2:before,#lblCardNotice2:after{
	border-color:transparent transparent #FF5C5D transparent;
	top: -20px;
	left: 80px;
	content:"";display:block;
    border-width:10px;
    position:absolute; 
    border-style:solid;
    font-size:0;
    line-height:0;
}
#lblCardNotice:after,#lblCardNotice2:after{
	left: 80px;
    border-color:transparent transparent #FFA18E transparent;
	top: -18px;
}

/*平分*/
.td-half{   
    float: left;   
    width: 50%;   	
} 
/*四等分*/
.td-quarter{   
    float: left;   
    width: 25%;   	
}   
.textbox.text-resume {
    height: 25px !important;
    margin: 2px 5px;
}
.hisui-numberbox.text-resume {
	width: 30px;
    height: 25px !important;
    margin: 2px 5px;
}

.hisui-numberbox.text-titer {
	width: 60px;
    height: 25px !important;
    margin: 2px 5px;
}

.page-footer {
	text-align: center;
}
.page-footer .hisui-linkbutton {   /*死亡证明推断书按钮过多，折行显示，外边距减小，折行增加上间距*/
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.page-footer .hisui-menubutton {   /*菜单按钮与普通按钮保持一致*/
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 0px;
	margin-bottom: 10px;
}

/*查询界面*/
.search-table {
    border-collapse: separate;
    border-spacing:0 10px;
}
.r-label {
    padding-left: 10px;
}
.panel-table {
	border: none;
	padding: 10px;
}
.search-item {
	margin:5px 10px;
}
.search-btnlist {
	margin:10px 10px 5px 10px;
	text-align:center;
}
.search-btnlist .l-btn {
	margin-left: 10px;
}
.form-btnlist {
	text-align:center;
}
.form-btnlist .l-btn {
	margin-left: 10px;
}
.dialog-button .l-btn {  /*按UI要求调整dialog弹出框自带按钮的间距*/
    margin-left: 10px;
}

/********系统字典维护列表样式*******/
#accd{
	float: left; 
	width: 200px; 
	border-width: 1px;
	border-style: solid ;
	border-color:#fff  #ccc #fff #fff;
	margin-top:5px; 
	background-color: #ffffff;
}
#accd div ul{
	border:none;
	list-style-type:none;
}
#accd div ul li {
	background-color: #F9F9F9;
	list-style-type: none;
	/* margin-bottom: 5px; */
	padding: 10px;
	font-size:15px;
	cursor: pointer;
}	
#accd div ul li.active{
	color: #000;
	font-weight: bold;
	background-color: #EAEAEA;
	border-color: #EAEAEA;
}

/********Lodop打印勾选框样式*******/
.unicode-checked {
	font-family: "lucida sans unicode", sans-serif;
	margin-right:2pt;
}
.unicode-unchecked {
	font-family: "lucida sans unicode", sans-serif;
	font-size:1.2em;
}
