/** 
 * ºÂ“© “«∞Ã®UI css
 */
 
 /* init start*/

.cpw-date {
    width: 120px;
}

.cpw-time {
    width: 90px;
}

.cpw-combobox{
    width: 160px;
}

.cpw-validatebox{
    width: 153px;
}

.cpw-north-tb {
    padding-top: 5px;
    padding-bottom: 5px;
    border-spacing: 0px;
}

.cpw-north-tb td {
    text-align: right;
    padding-left: 10px;
}

.cpw-north-tb tr {
    height: 40px;
}

.cpw-north-r1 {
    height: 100px;
    padding-left:10px;
}

.cpw-north-r2 {
    height: 129px;
}

.cpw-north-r3 {
    height: 179px;
}

.cpw-north-r4 {
    height: 219px;
}


