/** 
 * 门诊配液中心前台UI css
 */
/* 隔行变色class顺序是固定的 */
.datagrid-row-alt {
    background: #d3f5f0;
}

.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
    background: #eaf2ff;
    color: #000000;
    cursor: default;
}

/* 如果想选中保持原色，下边注释 */
.datagrid-row-selected {
    background: #ffe48d;
    color: #000000;
}
.messager-popover .content {
    height: auto;
}
.pha-line-bar{
	padding-top:1px;
}
.pha-con-table{
	border-collapse: separate;
	border-spacing: 0 10px;
}
.pha-con-table>tbody>tr>td{
    text-align:left;
    padding-left:10px;
    }
.pha-con-table .r-label{
    text-align:right;
    padding-right:0;
    padding-left:10px;
}