/* 床位图相关样式 Start */
.pac-ward {
	border:1px solid #4AA5E7;
	margin:0 10px 0 10px;
	position: relative;
}
/* 未安排床位区域样式 */
.pac-nobed {
	position: relative;
	margin:0 10px 10px 10px;
	border:1px solid #4AA5E7;
}
/* 未安排床位房间样式 */
.pac-bed-noward {
	text-align:center;
	font-size:12px;
	margin:5px;
	height:40px;
	width:40px;
	color: #FFF;
	display: inline-block;
	background-color:#40CCB0;
}
/* 护士站 */
.nurse-station {
	display:table;
	text-align:center;
	background: url("../img/护士站-2.png") no-repeat scroll center center transparent ;
	background-color:#FFE9E7;
	font-size:16px;
	border:1px solid #FC7F74;
	position:absolute;
	color: #FF4F3D;
}
/* 居中显示 */
.div-center {
	display:table-cell; 
	vertical-align:middle;
}
/* 病房 */
.pac-room {
	text-align:center;
	border:1px solid #4AA5E7;
	position:absolute;
	background-color:#D1ECFF;
	color:#2A80BA;
	font-size:14px;
}
/* 床位有人 */
.pac-bed-full {
	text-align:center;
	font-size:12px;
	color: #FFF;
	background-color:#40CCB0;
	position:absolute;
	text-overflow: ellipsis; /* for IE */ 
	-moz-text-overflow: ellipsis; /* for Firefox,mozilla */  
    overflow: hidden;   
    white-space: inherit;
}
/* 床位无人 */
.pac-bed-empty {
	text-align:center;
	font-size:12px;
	color: #237CB7;
	background-color:#FFFFFF;
	position:absolute;
	text-overflow: ellipsis; /* for IE */ 
	-moz-text-overflow: ellipsis; /* for Firefox,mozilla */  
    overflow: hidden;   
    white-space: inherit;
}
/* 床位损坏、异常等*/
.pac-bed-abnormal {
	text-align:center;
	font-size:12px;
	color: #FFF;
	background-color:#F67163;
	position:absolute;
	text-overflow: ellipsis; /* for IE */ 
	-moz-text-overflow: ellipsis; /* for Firefox,mozilla */  
    overflow: hidden;   
    white-space: inherit;
}
/* 其他房间不同样式 */
.pac-other-room {
	display:table;
	text-align:center;
	border:1px solid #aaa;
	position:absolute;
	background-color:#fff;
	color:#aaa;
	font-size:14px;
}
/* 楼梯 */
.pac-stairs {
	display:table;
	text-align:center;
	border:1px solid #42AF99;
	position:absolute;
	background: url("../img/stair.png") no-repeat scroll center center transparent ;
	background-color:#E6FFFA;
	color:#1E9E84;
	font-size:14px;
}
/* 电梯 */
.pac-elevator {
	display:table;
	text-align:center;
	border:1px solid #aaa;
	position:absolute;
	background: url("../img/电梯间-3.png") no-repeat scroll center center transparent ;
	background-color:#fff;
	color:#aaa;
	font-size:14px;
}
/* 灰色房间样式 */
.gray-room {
	display:table;
	text-align:center;
	border:1px solid #aaa;
	position:absolute;
	background-color:#fff;
	color:#aaa;
	font-size:14px;
}
/* 配电室 */
.elect-room {
	background: url("../img/配电室-3.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 开水房 */
.hot-water {
	background: url("../img/开水房-2.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 阳台 */
.balcony-room {
	background: url("../img/阳台.png") repeat scroll center center transparent ;
	background-color: #fff;
}
/* 墙 */
.wall-room {
	background: url("../img/墙图案-2.png") repeat scroll center center transparent ;
	background-color: #fff;
}
/* 女更衣室 */
.clothes-woman {
	background: url("../img/女更衣室-3.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 男更衣室 */
.clothes-man {
	background: url("../img/男更衣室-3.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 男厕 */
.wc-man {
	background: url("../img/男厕-3.png") no-repeat scroll center center transparent ;
	background-color:#fff;
}
/* 女厕 */
.wc-woman {
	background: url("../img/女厕-3.png") no-repeat scroll center center transparent ;
	background-color:#fff;
}
/* 卫生间 */
.wc-room {
	background: url("../img/卫生间-2.png") no-repeat scroll center center transparent ;
	background-color:#fff;
}
/* 保洁室 */
.cleanin-room {
	background: url("../img/保洁室-3.png") no-repeat scroll center center transparent ;
	background-color:#fff;
}
/* 杂物间 */
.debris-room {
	background: url("../img/杂物间-3.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 管井 */
.tube-room {
	background: url("../img/管井-3.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 淡蓝色背景房间样式 */
.blue-room {
	display:table;
	text-align:center;
	border:1px solid #91A2E7;
	position:absolute;
	background-color:#A7B6EA;
	color:#2848C9;
	font-size:14px;
}
/* 教室 */
.class-room {
	background: url("../img/教室-2.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 仪器室 */
.instrument-room {
	background: url("../img/仪器室-3.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 科研室 */
.staff-room {
	background: url("../img/科研室-3.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 休息室 */
.rest-room {
	background: url("../img/休息室-2.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 手术室 */
.oper-room {
	background: url("../img/手术室-2.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 更衣室 */
.clothes-room {
	background: url("../img/更衣室-2.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 库房 */
.treasury-room {
	background: url("../img/库房-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 临床数据库 */
.data-room {
	background: url("../img/临床数据库-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 被服室 */
.quilt-room {
	background: url("../img/被服库-3.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 工作人员洗澡间 */
.bath-room {
	background: url("../img/工作人员洗澡间-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 配膳室 */
.panther-room {
	background: url("../img/配膳室-3.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 会议室 */
.meet-room {
	background: url("../img/会议室-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 医生值班室 */
.doctor-duty-room {
	background: url("../img/医生值班室-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 护士值班室 */
.nurse-duty-room {
	background: url("../img/护士值班室-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 值班室 */
.duty-room {
	background: url("../img/值班室-2.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 医生办公室 */
.doctor-office-room {
	background: url("../img/医生办公室-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 护士办公室 */
.nurse-office-room {
	background: url("../img/护士办公室-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 病区入口 */
.ward-entrance {
	background: url("../img/病区入口-2.png") no-repeat scroll center center transparent ;
	background-color:#F9F6FF;
}
/* 橙色背景房间样式 */
.orange-room {
	display:table;
	text-align:center;
	border:1px solid #FCD098;
	position:absolute;
	background-color:#FFEBD2;
	color:#FF8E00;
	font-size:14px;
}
/* 血气室 */
.blood-room {
	background: url("../img/血气室-2.png") no-repeat scroll center center transparent ;
	background-color: #FFEBD2;
}
/* 检查室 */
.inspect-room {
	background: url("../img/检查室-2.png") no-repeat scroll center center transparent ;
	background-color: #FFEBD2;
}
/* 处置室 */
.disposal-room {
	background: url("../img/处置室-2-2.png") no-repeat scroll center center transparent ;
	background-color: #FFEBD2;
}
/* 治疗室 */
.treatment-room {
	background: url("../img/治疗室-2.png") no-repeat scroll center center transparent ;
	background-color: #FFEBD2;
}
/* 换药室 */
.dressing-room {
	background: url("../img/换药室-2.png") no-repeat scroll center center transparent ;
	background-color: #FFEBD2;
}

/* 标题头 */
.ward-bed-header {
	height: 35px;
    margin: 10px 10px 0 10px;
    border-radius:4px 4px 0px 0px;
	behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);		

}
/* 标题头 */
.ward-bed-header h1 {
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
	line-height: 35px;
	padding-bottom: 7px;
	border-bottom: 3px solid #40a2de;
}
/* 床位图相关样式 End */

