ol > li {
    margin:10px 0;
}

p {
    width:1000px;
    line-height: 24px;
    margin-left: 10px;
}

h5{
    margin: 10px 0;
}

h5:first-child{
    margin-top: 0;
}
a {
    text-indent: 0;
}

div > span {
    text-indent: 0;
}

.form-row-grouptitle {
    font-size: 14px;
}
