.drawing {
    cursor: url('icons/drawing.cur'), default;
}

.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.menu-rightarrow {
    background: url(images/menu_arrows.png) no-repeat -32px center;
}

.menu-text {
    padding-right: 5px;
}

.layout-expand {
    background-color: #509DE1;
}

.group-panel {
    min-height: 50px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.group-button {
    margin: 0 10px 10px 0;
}

.messager-button .l-btn {
    width: auto;
}

#StartColumn,
#EndColumn,
#ColumnMinutes {
    width: 80px;
}

#timeLineTools {
    padding: 10px;
}

#timeLineDialog {
    padding: 10px;
    background-color: #eee;
}

#DrugItem,
#IntDrugItem {
    width: 500px;
}

.event-button {
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 0 10px 10px 0;
    padding: 2px 5px;
    color: #ffffff;
    background-color: #40A2DE;
    filter: none;
    border: 0px solid #40A2DE;
    border-radius: 0;
    height: 26px;
    line-height: 26px;
}

.event-button:hover {
    background-color: #378ec4;
    color: #ffffff;
    border: 0px solid #378ec4;
    filter: none;
}

.event-userdefined-i-icon {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 3px;
    top: 4px;
    right: 0px;
    border: 1px solid transprent;
    background-color: #ccc;
    opacity: 0.5;
    border-radius: 5px;
}

.event-userdefined-i-edit {
    right: 2px;
}

.event-userdefined-i-stop {
    right: 0px;
}

.event-button:hover .event-userdefined-i-icon {
    display: block;
}

.event-button:hover .event-userdefined-i-icon:hover {
    opacity: 1;
    background-color: #eee;
}

.event-userdefined-item-add {
    margin: 0 10px 5px 0;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #40A2DE;
    filter: none;
    height: 26px;
    line-height: 26px;
    width: 60px;
    padding: 1px 4px;
    color: #aaa;
    border: 1px dashed #ccc;
    background-color: #fff;
    text-align: center;
}

.event-userdefined-item-add:hover {
    background-color: #eee;
    border: 1px dashed #ccc;
}

#eventForm {
    padding: 20px;
}

.eventdetail-title {
    display: inline-block;
    width: 30px;
    text-align: right;
    margin: 0 10px 0 0;
}

.eventdetail-item {
    margin: 0 0 10px 0;
}

.eventdetail-buttons {
    position: absolute;
    right: 10px;
    bottom: 10px
}

.editview-f-r {
    min-height: 30px;
    margin: 5px 0;
    line-height: 30px;
    vertical-align: center;
}

.editview-f-r .label {
    display: block;
    width: 80px;
    float: left;
    font-weight: 900;
    line-height: 30px;
    text-align: right;
    margin-left: 10px;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.editview-f-r-unit {
    margin-left: 5px;
}

.editview-f-group-i {
    background-color: #f2f2f2;
    padding-bottom: 2px;
    margin-bottom: 5px;
}

.editview-f-group-i-header {
    position: relative;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
}

.editview-f-group-i-tool {
    display: block;
    position: absolute;
    top: 5px;
    right: 15px;
    width: 16px;
    height: 16px;
}

.editview-drugitem {
    display: inline-block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #40a2de;
    background-color: #ffffff;
}

.editview-drugitem:hover {
    background-color: #f4faff;
}

.editview-drugitem-disabled {
    border-color: #bbbbbb;
    background-color: #f7f7f7;
    color: #999;
}

.editview-drugitem-disabled:hover {
    background-color: #f7f7f7;
}

.editview-eventname {
    display: inline-block;
    width: 177px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #bbbbbb;
    background-color: #f7f7f7;
    color: #999;
}

.editview-eventname:hover {
    background-color: #f4faff;
}

.editview-eventname-disabled {
    border-color: #bbbbbb;
    background-color: #f7f7f7;
    color: #999;
}

.editview-eventname-disabled:hover {
    background-color: #f7f7f7;
}

.editview-f-group-i-header .editview-druginfo {
    display: none;
    width: 120px;
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}

.editview-f-group-i-collapsed .editview-f-r {
    display: none;
}

.editview-f-group-i-collapsed .editview-f-group-i-header .editview-druginfo {
    display: inline-block;
}

.diageditbox-item:hover {
    background-color: #e6e6e6;
    color: #00438a;
}

.diageditbox-item-selected {
    background-color: #0081c2;
    color: #fff;
}

.seperated-area {
    border-bottom: 1px solid #d4d4d4;
}

.vsdm-tool-button {
    margin: 0 5px;
}

.edm-dataview {
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.edm-editview {
    border-left: solid 3px #cccccc;
    font-size: 14px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}


/*.edm-editview-form {}*/

.edm-editview-f-r {
    min-height: 30px;
    margin: 3px 0;
    line-height: 30px;
    vertical-align: center;
}

.edm-editview-f-r .label {
    width: 80px;
    float: left;
    font-weight: 900;
    text-align: right;
    margin-left: 10px;
    line-height: 30px;
}

.edm-editview-f-details {
    font-size: 12px;
}

.edm-editview-f-d-r {
    margin-bottom: 5px;
}

.edm-editview-f-d-r .label {
    width: 80px;
    float: left;
    text-align: right;
    line-height: 30px;
    margin-right: 5px;
}


/*.edm-addview-form {}*/

.edm-addview-f-r {
    min-height: 24px;
    margin: 3px 0;
    line-height: 20px;
    vertical-align: center;
}

.edm-addview-f-r .label {
    width: 80px;
    float: left;
    font-weight: 900;
    text-align: right;
    line-height: 30px;
    margin-right: 5px;
}

.edm-addview-f-r-event {
    float: left;
    width: 160px;
    min-height: 25px;
    cursor: pointer;
}

.edm-addview-f-r-event:hover {
    background-color: #f5f5f5;
}

.edm-addview-f-r-event-selected {
    background-color: #e2efe5;
}

.edm-addview-f-details {
    font-size: 12px;
}

.edm-addview-f-d-r {
    margin-bottom: 5px;
}

.edm-addview-f-d-r .label {
    width: 80px;
    float: left;
    text-align: right;
    line-height: 30px;
    margin-right: 5px;
}

.eventdata-i {
    position: relative;
    height: 24px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: solid 1px #d5d3d1;
    border-left: solid 3px transparent;
    cursor: pointer;
}

.eventdata-i:hover {
    background-color: #f5f5f5;
}

.eventdata-i-selected {
    background-color: #e2efe5;
    border-left: solid 3px #46a3d8;
}

.eventdata-i-edited {
    font-style: italic;
}

.eventdata-i-editing::after {
    content: '';
    display: inline-block;
    background: url('icons/pencil.png') no-repeat center center;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.eventdata-i span {
    margin-left: 5px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.eventdata-i-time {
    font-size: 12px;
    font-weight: 500;
    background-color: #eeeeee;
    border: solid 2px #eeeeee;
    border-radius: 5px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

.eventdata-i-name {
    font-size: 14px;
    margin: 0 5px;
    width: 60px;
}

.eventdata-i-selected .eventdata-i-name {
    color: #4B9BE4;
}

.eventdata-i-detail {
    font-size: 12px;
}

.eventdata-i-btn-remove {
    position: absolute;
    top: 2px;
    right: 2px;
    display: none;
    background-color: inherit;
    border-top: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-decoration: none;
    z-index: 100;
}

.eventdata-i-btn-remove:hover {
    background-color: #ccc;
}

.eventdata-i:hover .eventdata-i-btn-remove {
    display: block;
}

.edm-selectionview {
    border: solid 1px #e9e9e9;
    z-index: 10000000;
    position: absolute;
    background-color: #fff;
    padding: 5px;
}

.edm-selectionview-container {
    width: 220px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.edm-selectionview::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 8px 8px 0;
    border-style: dashed;
    border-color: transparent #e9e9e9 transparent transparent;
    position: absolute;
    left: -8px;
    top: 20px;
}

.edm-selectionview::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 8px 8px 0;
    border-style: dashed;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -7px;
    top: 20px;
}

.edm-selectionview-cat {
    margin-bottom: 5px;
    border-bottom: solid 1px #f5f5f5;
}

.edm-selectionview-cat-header {
    font-size: 12px;
    font-weight: 900;
    margin: 0 0 8px 0;
}


/*.edm-selectionview-cat-items {}*/

.ddm-dataview {
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.ddm-editview {
    border-left: solid 3px #cccccc;
    font-size: 14px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}


/*.edm-editview-form {}*/

.ddm-editview-f-r {
    min-height: 30px;
    margin: 5px 0;
    line-height: 30px;
    height: 30px;
    vertical-align: center;
}

.ddm-editview-f-r .label {
    width: 80px;
    float: left;
    font-weight: 900;
    text-align: right;
    margin-left: 10px;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
}

.ddm-editview-f-r-unit {
    margin-left: 5px;
}

.ddm-editview-paraitem {
    display: inline-block;
    width: 192px;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #40a2de;
    background-color: #ffffff;
}

.ddm-editview-paraitem:hover {
    background-color: #f4faff;
}

.ddm-editview-paraitem-selected {
    background-color: #e2efe5;
}

.ddm-editview-drugitem {
    display: inline-block;
    width: 194px;
    height: 30px;
    padding-left: 5px;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #40a2de;
    background-color: #ffffff;
}

.ddm-editview-drugitem:hover {
    background-color: #f4faff;
}

.ddm-editview-drugitem-selected {
    background-color: #e2efe5;
}

.drugdata-i {
    position: relative;
    line-height: 23px;
    height: 23px;
    padding: 3px 0;
    border-bottom: solid 1px #d5d3d1;
    border-left: solid 3px transparent;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.drugdata-i span {
    margin-left: 5px;
}

.drugdata-i:hover {
    background-color: #f5f5f5;
}

.drugdata-i-selected {
    background-color: #e2efe5;
    border-left: solid 3px #46a3d8;
}

.drugdata-i-time {
    font-size: 12px;
    font-weight: 500;
    background-color: #eeeeee;
    border: solid 2px #eeeeee;
    border-radius: 5px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

.drugdata-i-name {
    font-size: 14px;
}

.drugdata-i-selected .drugdata-i-name {
    color: #4B9BE4;
}

.drugdata-i-detail {
    font-size: 12px;
}

.drugdata-i-edited {
    font-style: italic;
}

.drugdata-i-editing::after {
    content: '';
    display: inline-block;
    background: url('icons/pencil.png') no-repeat center center;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.drugdata-i-btn-remove {
    position: absolute;
    top: 2px;
    right: 2px;
    display: none;
    background-color: inherit;
    border-top: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-decoration: none;
    z-index: 100;
}

.drugdata-i-btn-remove:hover {
    background-color: #ccc;
}

.drugdata-i:hover .drugdata-i-btn-remove {
    display: block;
}

.drugdata-i-btn-edit {
    position: absolute;
    top: 2px;
    right: 24px;
    display: none;
    background-color: inherit;
    border-top: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-decoration: none;
    z-index: 100;
}

.drugdata-i-btn-edit:hover {
    background-color: #ccc;
}

.drugdata-i:hover .drugdata-i-btn-edit {
    display: block;
}

.ddm-selectionview {
    border: solid 1px #e9e9e9;
    z-index: 10000000;
    position: absolute;
    background-color: #fff;
    padding: 5px;
}

.ddm-selectionview-container {
    width: 220px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ddm-selectionview::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 8px 8px 0;
    border-style: dashed;
    border-color: transparent #e9e9e9 transparent transparent;
    position: absolute;
    left: -8px;
    top: 20px;
}

.ddm-selectionview::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 8px 8px 0;
    border-style: dashed;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -7px;
    top: 20px;
}

.ddm-selectionview-header {
    font-size: 12px;
    font-weight: 900;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ddm-selectionview-cat {
    margin-bottom: 5px;
    border-bottom: solid 1px #f5f5f5;
}

.ddm-selectionview-cat-header {
    font-size: 12px;
    font-weight: 900;
    margin: 0 0 8px 0;
}

.ddm-selectionview-cat-items .paraitem-button {
    margin: 0 10px 10px 0;
}

.ddm-selectionview-items .drug-button {
    color: #000;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    cursor: pointer;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px;
    text-decoration: none;
    z-index: 0;
}

.ddm-selectionview-items .drug-button:hover {
    background-color: #e6e6e6;
    color: #00438a;
}


/*.ddm-selectionview-cat-items {}*/

.utm-templatecontainer {
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.utm-itemcontainer {
    border-left: solid 2px #556983;
    font-size: 14px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.utm-template {
    color: black;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-left: solid 3px transparent;
    cursor: pointer;
    display: block;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.utm-template:hover {
    background-color: #eeeeee;
}

.template-selected {
    background-color: #e2efe5;
    border-left: solid 3px #46a3d8;
}

.template-selected .utm-template-details {
    color: #4B9BE4;
}

.utm-t-container {
    border: 1px solid #4B9BE4;
    margin: 10px 3px;
    border-radius: 5px;
}

.utm-t-container-header {
    text-align: left;
    height: 9px;
    color: #4B9BE4;
}

.utm-t-container-body {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    margin-bottom: 3px;
    padding: 0 3px;
}

.utm-t-container-header .header-text {
    font-size: 12px;
    display: inline-block;
    position: relative;
    padding: 0 3px;
    top: -10px;
    left: 10px;
    background-color: #fff;
}

.utm-t-button {
    background-color: #edeff0;
    background-clip: padding-box;
    background-origin: padding-box;
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 12;
    line-height: 16px;
    cursor: pointer;
    top: 3px;
    border-radius: 3px;
    opacity: 0.8;
    padding: 4px;
    visibility: hidden;
    z-index: 40;
    -webkit-font-smoothing: antialiased;
}

.utm-t-edit {
    right: 26px;
}

.utm-t-remove {
    right: 3px;
}

.utm-t-button:before {
    content: "\E920";
    color: transparent;
}

.utm-t-button:hover {
    background-color: #cccccc;
}

.utm-template:hover .utm-t-button {
    visibility: visible;
}

.utm-template-details {
    display: inline-block;
    overflow: hidden;
    z-index: 10;
    padding: 6px 2px 4px 8px;
}

.utm-editview-f-r {
    min-height: 30px;
    margin: 5px 0;
    line-height: 30px;
    vertical-align: center;
}

.utm-editview-f-r .label {
    width: 80px;
    float: left;
    font-weight: 900;
    text-align: right;
    margin-left: 10px;
    margin-right: 5px;
    line-height: 30px;
}

.utm-editview-f-i-tree {
    width: 180px;
    padding-left: 95px;
    overflow: visible;
}

.utm-editview-f-r .shortcutview-group {
    margin-left: 95px;
}

.procedure-board {
    overflow: hidden;
    background-color: #fff;
}

.pb-filter {
    padding: 5px;
    border-bottom: 1px solid #eee;
    display: none;
}

.pb-procedure {
    color: black;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: block;
    min-height: 30px;
    padding: 3px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
}

.pb-procedure:hover {
    background-color: #eee;
}

.pb-procedure-i-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 12;
    line-height: 16px;
    cursor: pointer;
    right: 3px;
    top: 0px;
    border-radius: 3px;
    opacity: 0.8;
    padding: 4px;
    z-index: 10;
    -webkit-font-smoothing: antialiased;
}

.pb-procedure-required::before {
    content: '*';
    color: red;
    position: absolute;
    left: 2px;
    top: 5px;
}

.pb-procedure-i-type {
    float: left;
    font-size: 12px;
    font-weight: 500;
    background-color: #e2e2e2;
    border: solid 2px #e2e2e2;
    color: #373737;
    border-radius: 5px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
}

.pb-procedure-i-name {
    display: block;
    margin-left: 5px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pb-procedure-i-name-text {
    font-size: 14px;
    line-height: 23px;
    margin-right: 5px;
}

.pb-procedure-finished .pb-procedure-i-name-text {
    font-weight: bold;
}

.pb-procedure-i-time {
    font-size: 16px;
    font-weight: bold;
    line-height: 23px;
    color: red;
}

.pb-procedure-i-tags {
    float: left;
}

.pb-procedure-i-tag {
    font-size: 12px;
    font-weight: 500;
    background-color: #e2e2e2;
    border: solid 2px #e2e2e2;
    color: #373737;
    border-radius: 5px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
}

.pb-procedure-finished {
    color: #33AD9C;
}

.pb-procedure-finished .pb-procedure-i-type {
    color: #aaa;
}

.pb-procedure-finished .pb-procedure-i-tag {
    color: #aaa;
}

.device-usage {
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
}

.device-usage-stopped::before {
    content: '\5df2\505c\6b62\8bbe\5907\6570\636e\91c7\96c6'
}

.device {
    font-size: 14px;
    display: inline-block;
}

.device .badge {
    background-color: #3091cd;
    border: solid 2px #3091cd;
    color: #fff;
    font-size: 12px;
}

.device-usage:hover {
    background-color: #eee;
}

.device-usage-view {
    margin-bottom: 5px;
    background-color: #eee;
    border-bottom: 1px solid #aaa;
}

.device-usage-view-i:hover {
    background-color: #f2f4ff;
}

.device-usage-view-i {
    padding: 5px;
    position: relative;
    border-bottom: 1px solid #fff;
}

.device-usage-view-i span {
    margin-right: 10px;
}

a.device-usage-btn-edit {
    right: 30px;
}

a.device-usage-btn-remove {
    right: 5px;
}

a.device-usage-view-button {
    display: none;
    position: absolute;
    top: 2px;
    padding: 3px 4px 1px 5px;
}

.device-usage-view-i:hover a.device-usage-view-button {
    display: block;
}

a.device-usage-view-button:hover {
    border-radius: 5px;
    background-color: #ccc;
}

span.device-usage-time {
    display: inline-block;
    padding: 2px;
    background-color: #eee;
    border-radius: 5px;
}

span.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;
}

.device-usage-editor-group {
    margin-bottom: 2px;
    border-bottom: 1px solid #ccc;
    padding: 2px 0;
}

.device-usage-editor-g-header {
    font-weight: 900;
    color: #46a3d8;
    padding-left: 5px;
}

.device-usage-editor-g-header span {
    font-size: 16px;
}

.device-usage-editor-g-container {
    text-align: left;
    padding: 5px;
}

.device-usage-editor-g-i {
    color: black;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    min-height: 16px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px 3px;
    padding: 5px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
}

.device-usage-editor-g-i:hover {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #00438a;
}

.badge {
    background-color: #d9d9d9;
    border: solid 2px #d9d9d9;
    color: #373737;
    font-weight: 500;
    border-radius: 10px;
    line-height: 12px;
    padding-left: 2px;
    padding-right: 3px;
    margin-right: 3px;
}

.device-occupied {
    color: #494949;
    background-color: #eee;
    border: 1px solid #eee;
    cursor: default;
}

.device-occupied:hover {
    background-color: #eee;
    color: #494949;
}

.device-selected {
    background-color: #40a2de;
    color: #fff;
}

.device-selected .badge {
    background-color: #3091cd;
    border: solid 2px #3091cd;
    color: #fff;
}

.device-selected:hover {
    background-color: #50b2ee;
    color: #fff;
}

.toolkit-group {
    float: left;
    border-left: 2px dotted #ccc;
    padding-left: 3px;
}

.toolkit-action {
    margin-right: 5px;
}

.drugeditor-editview-f-r {
    min-height: 30px;
    margin: 5px 0;
    height: 30px;
    line-height: 30px;
    vertical-align: center;
}

.drugeditor-editview-f-r .label {
    width: 80px;
    float: left;
    margin-right: 5px;
    font-weight: 900;
    text-align: right;
}

.drugeditor-editview-f-r-unit {
    margin-left: 5px;
}

.drugeditor-editview-drugitem {
    display: inline-block;
    width: 180px;
    height: 30px;
    padding-left: 5px;
    white-space: nowrap;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #40a2de;
    background-color: #ffffff;
}

.drugeditor-editview-drugitem:hover {
    background-color: #f4faff;
}

.drugeditor-selectionview {
    border: solid 1px #e9e9e9;
    z-index: 10000000;
    position: absolute;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 20px #999;
}

.drugeditor-selectionview-container {
    width: 220px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.drugeditor-selectionview::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 0 8px 8px 8px;
    border-style: dashed;
    border-color: transparent transparent #e9e9e9 transparent;
    position: absolute;
    left: 180px;
    top: -8px;
}

.drugeditor-selectionview::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 0 8px 8px 8px;
    border-style: dashed;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 180px;
    top: -7px;
}

.drugeditor-selectionview-header {
    padding: 5px;
}

.drugeditor-selectionview-items {
    font-size: 12px;
    font-weight: 900;
    margin: 0;
}

.drugeditor-selectionview-items .drug-button {
    color: #000;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    cursor: pointer;
    display: block;
    min-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px;
    text-decoration: none;
    z-index: 0;
}

.drugeditor-selectionview-items .drug-button:hover {
    background-color: #e6e6e6;
    color: #00438a;
}

.vitalsign-editview-f-r {
    min-height: 30px;
    margin: 5px 0;
    line-height: 30px;
    vertical-align: center;
}

.vitalsign-editview-f-r .label {
    width: 80px;
    float: left;
    font-weight: 900;
    text-align: right;
    margin-right: 5px;
}

.eventeditor-f-r {
    min-height: 30px;
    margin: 5px 0;
    line-height: 30px;
    vertical-align: center;
}

.eventeditor-f-r .label {
    width: 100px;
    float: left;
    font-weight: 900;
    text-align: right;
    margin-right: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: clip;
}

.eventeditor-f-r-event {
    float: left;
    width: 173px;
    line-height: 28px;
    padding-left: 5px;
    min-height: 28px;
    cursor: pointer;
    border: 1px solid #40a2de;
    background-color: #ffffff;
}

.eventeditor-f-r-event:hover {
    background-color: #f4faff;
}

.eventeditor-f-r-event-selected {
    background-color: #e2efe5;
}

.eventeditor-f-details {
    margin-top: 5px;
    font-size: 12px;
}

.eventeditor-f-d-r {
    margin-bottom: 5px;
}

.eventeditor-f-d-r .label {
    width: 100px;
    float: left;
    text-align: right;
}

.eventeditor-f-d-r .unit {
    margin-left: 3px;
}

.eventeditor-selectionview {
    border: solid 1px #e9e9e9;
    z-index: 10000000;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 20px #999;
}

.eventeditor-selectionview-container {
    width: 250px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.eventeditor-selectionview::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 0 8px 8px 8px;
    border-style: dashed;
    border-color: transparent transparent #e9e9e9 transparent;
    position: absolute;
    left: 155px;
    top: -8px;
}

.eventeditor-selectionview::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 0 8px 8px 8px;
    border-style: dashed;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 155px;
    top: -7px;
}

.eventeditor-selectionview-items {
    margin-top: 5px;
    height: 245px;
    overflow-x: hidden;
    overflow-y: auto;
}

.eventeditor-selectionview-cat {
    margin-bottom: 5px;
    border-bottom: solid 1px #f5f5f5;
}

.eventeditor-selectionview-cat-header {
    font-size: 12px;
    font-weight: 900;
    margin: 0 0 8px 0;
}

.intrmidrugeditor-form-panel {
    width: 240px;
    height: 240px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}

.intrmidrugeditor-items-panel {
    margin-left: 10px;
    width: 190px;
    height: 240px;
    float: left;
    border-left: 1px solid #d4d4d4;
    overflow-x: hidden;
    overflow-y: auto;
}

.intrmidrugeditor-items-panel-header {
    padding: 5px;
}

.intrmidrugeditor-f-r {
    min-height: 30px;
    margin: 5px 0;
    line-height: 30px;
    vertical-align: center;
}

.intrmidrugeditor-f-r .label {
    display: block;
    width: 50px;
    float: left;
    font-weight: 900;
    text-align: right;
}

.intrmidrugeditor-f-r-container {
    position: relative;
    top: 0;
    left: 0;
    width: 180px;
    min-height: 26px;
    overflow-x: hidden;
    overflow-y: auto;
}

.intrmidrugeditor-data-container {
    margin-bottom: 5px;
}

.drugdata-i span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drugdata-i .drugdata-i-name {
    width: 80px;
}

.drugdata-i .drugdata-i-dose {
    font-size: 12px;
    width: 40px;
}

.drugdata-i .drugdata-i-speed {
    font-size: 12px;
    width: 40px;
}

.drugdata-i .drugdata-i-instruction {
    font-size: 12px;
    width: 50px;
}

.drugdata-i-add {
    display: block;
    position: inherit;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    color: #aaa;
    border: 1px dashed #ccc;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.drugdata-i-add:hover {
    background-color: #eee;
}

.categoryitem-button {
    position: relative;
    margin: 0 0 5px 5px;
    display: inline-block;
    text-decoration: none;
    padding: 2px 5px;
    color: #ffffff;
    background-color: #40A2DE;
    filter: none;
    border: 0px solid #40A2DE;
    border-radius: 0;
}

.categoryitem-button:hover {
    background-color: #378ec4;
    color: #ffffff;
    border: 0px solid #378ec4;
    filter: none;
}

.intrmidrugeditor-editview-f-r {
    min-height: 30px;
    margin: 5px 0;
    line-height: 30px;
    vertical-align: center;
}

.intrmidrugeditor-editview-f-r .label {
    display: block;
    width: 80px;
    float: left;
    font-weight: 900;
    text-align: right;
}

.intrmidrugeditor-editview-drugitem {
    display: inline-block;
    width: 193px;
    height: 30px;
    white-space: nowrap;
    cursor: pointer;
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #40a2de;
    background-color: #ffffff;
}

.intrmidrugeditor-editview-drugitem:hover {
    background-color: #f4faff;
}

.intrmidrugeditor-editview-f-r-unit {
    margin-left: 5px;
}

.intrmidrugeditor-selectionview {
    border: solid 1px #e9e9e9;
    z-index: 100000;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 20px #999;
}

.intrmidrugeditor-selectionview-container {
    width: 220px;
    max-height: 380px;
    overflow-x: hidden;
    overflow-y: auto;
}

.intrmidrugeditor-selectionview::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 0 8px 8px 8px;
    border-style: dashed;
    border-color: transparent transparent #e9e9e9 transparent;
    position: absolute;
    left: 170px;
    top: -8px;
}

.intrmidrugeditor-selectionview::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 0 8px 8px 8px;
    border-style: dashed;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 170px;
    top: -7px;
}

.intrmidrugeditor-selectionview-header {
    font-size: 12px;
    font-weight: 900;
    padding: 5px;
    overflow: hidden;
    text-overflow: clip;
}

.intrmidrugeditor-selectionview-items .drug-button {
    color: #000;
    background-color: #fff;
    border-top: 1px solid #e6e6e6;
    cursor: pointer;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px;
    text-decoration: none;
    z-index: 0;
}

.intrmidrugeditor-selectionview-items .drug-button:hover {
    background-color: #e6e6e6;
    color: #00438a;
}

.itemattrview-form .label {
    width: 120px;
}

.combobox-item {
    position: relative;
    cursor: pointer;
}

.combobox-item .combobox-item-icon {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
}

.combobox-item-selected .combobox-item-icon {
    background: url('icons/ok.png') no-repeat center center;
}

label+.hischeckbox_square-blue {
    margin-left: -4px;
    margin-top: 2px;
}

.tagbox {
    cursor: text;
}

.tagbox .textbox-text {
    float: left;
}

.tagbox-label {
    position: relative;
    display: block;
    margin: 4px 0 4px 4px;
    padding: 4px 20px 4px 4px;
    float: left;
    vertical-align: top;
    text-decoration: none;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #e6e6e6;
    color: #00438a;
}

.tagbox-remove {
    background: url('images/tagbox_icons.png') no-repeat -16px center;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    right: 2px;
    top: 50%;
    margin-top: -8px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.tagbox-remove:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.textbox-disabled .tagbox-label {
    cursor: default;
}

.textbox-disabled .tagbox-remove:hover {
    cursor: default;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.userdefineditemview-header {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.userdefineditemview-body {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
}

.userdefined-item {
    margin: 0 10px 5px 0;
    display: inline-block;
    text-decoration: none;
    padding: 2px 5px;
    color: #ffffff;
    background-color: #40A2DE;
    filter: none;
    border: 0px solid #40A2DE;
    border-radius: 0;
    height: 26px;
    line-height: 26px;
}

.userdefined-item:hover {
    background-color: #378ec4;
    filter: none;
}

.userdefined-item-add {
    width: 100px;
    padding: 1px 4px;
    color: #aaa;
    border: 1px dashed #ccc;
    background-color: #fff;
    text-align: center;
}

.userdefined-item-add:hover {
    background-color: #eee;
}

.userdefined-item .icon {
    position: relative;
    top: 3px;
    display: none;
}

.userdefined-item span {
    margin-right: 5px;
    line-height: 26px;
}

.userdefined-item-selected .icon {
    display: inline-block;
}

.tree-none {
    background: none;
}

.tree-node-item {
    padding-right: 30px;
    display: inline-block;
    position: relative;
}

.tree-node-item-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    display: none;
    background-color: inherit;
    border-top: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-decoration: none;
    z-index: 100;
}

.tree-node-item-icon:hover {
    background-color: #ccc;
}

.tree-node-item:hover .tree-node-item-icon {
    display: inline-block;
}

.tree-node-attr {
    right: 2px;
}

.tree-node-remove {
    right: -21px;
}

.stoprecordview-form .editview-f-r .label {
    width: 140px;
}

.collectview-datacontainer {
    color: #fff;
    text-align: center;
}

.collectview-row {
    padding: 5px 0px;
    border-bottom: 1px solid #aaa;
}

.collectview-r-item {
    font-size: 18px;
    line-height: 24px;
}

.collectview-r-uom {
    line-height: 24px;
    font-size: 15px;
}

.collectview-r-uom:before {
    content: "(";
}

.collectview-r-uom::after {
    content: ")";
}

.collectview-r-value {
    font-size: 21px;
    margin: 5px 0;
}

.collectview-r-threshold {
    font-size: 12px;
    color: #aaa;
}

.collectview-row-normal .collectview-r-value {
    color: #3DC85B;
}

.collectview-row-warning .collectview-r-value {
    color: #EF5160;
}

.chargeview-header {
    padding: 5px;
}

.chargeview-group {
    border: 1px solid #aaa;
    margin: 10px 3px;
    border-radius: 5px;
}

.chargeview-group-header {
    text-align: left;
    height: 3px;
    color: #aaa;
}

.chargeview-group-header .header-text {
    font-size: 12px;
    display: inline-block;
    position: relative;
    padding: 0 3px;
    top: -10px;
    left: 10px;
    background-color: #fff;
}

.chargeview-group-container {}

.chargeview-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px;
}

.chargeview-item-selected {
    font-weight: bold;
    color: #4B9BE4;
}

.chargeview-item-name {
    display: inline-block;
    width: 100px;
    line-height: 14px;
    vertical-align: middle;
    text-align: right;
    margin-right: 3px;
    white-space: nowrap;
    overflow: hidden;
}

input.chargeview-item-value {
    width: 30px;
    border-color: #eee;
    text-align: center;
}

.chargeview-item-selected input.chargeview-item-value {
    font-weight: bold;
    color: #4b9be4;
    border-color: #4b9be4;
}

.chargeview-item-uom {
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    margin-left: 3px;
}

.chargeview-button {
    display: none;
    margin: 0 5px;
    padding: 2px 8px;
    position: absolute;
    top: 4px;
    background-color: #40A2DE;
    opacity: 0.6;
    font-size: 20px;
    color: #fff;
}

.chargeview-item-plus {
    right: 70px;
}

.chargeview-item-minus {
    right: -20px;
}

.chargeview-item:hover .chargeview-button {
    display: block;
}

.chargeview-button:hover {
    display: block;
    background-color: #378ec4;
}

.texthistory-view {
    border: solid 1px #e9e9e9;
    border-radius: 5px;
    box-shadow: 0 0 20px #999;
    z-index: 100;
    position: absolute;
    background-color: #fff;
    padding: 5px;
}

.texthistory-view-header {
    padding: 5px;
}

.texthistory-view-container {
    overflow-x: hidden;
    overflow-y: auto;
}

.texthistory-i {
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 0 5px 5px 0;
    padding: 2px 5px;
    color: #ffffff;
    background-color: #40A2DE;
    filter: none;
    border: 0px solid #40A2DE;
    border-radius: 0;
    height: 26px;
    line-height: 26px;
}

.texthistory-i:hover {
    background-color: #378ec4;
    color: #ffffff;
    border: 0px solid #378ec4;
    filter: none;
}

.drug-userdefined-i-icon {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 3px;
    top: 1px;
    right: 0px;
    border: 1px solid transprent;
    background-color: #ccc;
    opacity: 0.5;
    border-radius: 5px;
}

.drug-userdefined-i-edit {
    right: 2px;
}

.drug-userdefined-i-stop {
    right: 0px;
}

.categoryitem-button:hover .drug-userdefined-i-icon {
    display: block;
}

.categoryitem-button:hover .drug-userdefined-i-icon:hover {
    opacity: 1;
    background-color: #eee;
}

.drug-userdefined-item-add {
    margin: 0 0 5px 5px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #40A2DE;
    filter: none;
    height: 23px;
    line-height: 23px;
    width: 60px;
    padding: 1px 4px;
    color: #aaa;
    border: 1px dashed #ccc;
    background-color: #fff;
    text-align: center;
}

.drug-userdefined-item-add:hover {
    background-color: #eee;
    border: 1px dashed #ccc;
}

.editor-tips-container {
    margin: 3px;
    padding: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    border: 1px solid #777;
}

.shortcutview-group {
    border: 1px solid #4B9BE4;
    margin: 10px 3px;
    border-radius: 5px;
}

.shortcutview-group-header {
    text-align: left;
    height: 9px;
    color: #4B9BE4;
}

.shortcutview-group-items {
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    margin-bottom: 3px;
    padding: 0 3px;
}

.shortcutview-group-header .header-text {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    position: relative;
    padding: 0 3px;
    top: -15px;
    left: 10px;
    background-color: #fff;
}

.shortcutview-item {
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 0 10px 10px 0;
    padding: 2px 5px;
    color: #ffffff;
    background-color: #40A2DE;
    filter: none;
    border: 0px solid #40A2DE;
    border-radius: 0;
    min-height: 26px;
    line-height: 26px;
}

.shortcutview-item:hover {
    background-color: #378ec4;
    color: #ffffff;
    border: 0px solid #378ec4;
    filter: none;
}

.shortcutview-item-add {
    margin: 0 10px 5px 0;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    filter: none;
    height: 22px;
    line-height: 22px;
    width: 60px;
    padding: 1px 4px;
    margin-left: 5px;
    color: #aaa;
    border: 1px dashed #ccc;
    background-color: #fff;
    text-align: center;
    right: 2px;
}

.shortcutview-item-add:hover {
    background-color: #eee;
    border: 1px dashed #ccc;
}

span.item-button {
    position: absolute;
    top: 3px;
    display: none;
    background-color: inherit;
    border-top: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-decoration: none;
    z-index: 100;
}

.item-button:hover {
    background-color: #ccc;
}

.shortcutview-item-auto {
    right: 24px;
}

.shortcutview-item-edit {
    right: 24px;
}

.shortcutview-item-remove {
    right: 2px;
}

.shortcutview-item:hover .item-button {
    display: block;
}

.shortcutview-currentpagedataview {
    border: solid 1px #e9e9e9;
    z-index: 10000000;
    position: absolute;
    background-color: #fff;
    padding: 0;
}

.shortcutview-currentpagedataview-container {
    width: 220px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.shortcutview-currentpagedataview::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 0 8px 8px;
    border-style: dashed;
    border-color: transparent transparent transparent #e9e9e9;
    position: absolute;
    right: -8px;
    top: 220px;
}

.shortcutview-currentpagedataview::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 0 8px 8px;
    border-style: dashed;
    border-color: transparent transparent transparent #e9e9e9;
    position: absolute;
    right: -8px;
    top: 220px;
}

.shortcutview-autosettingview {
    border: solid 1px #e9e9e9;
    z-index: 10000000;
    position: absolute;
    background-color: #fff;
    padding: 0;
}

.shortcutview-autosettingview-container {
    width: 220px;
    max-height: 300px;
    padding: 5px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.shortcutview-autosettingview::before {
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 8px 8px 0;
    border-style: dashed;
    border-color: transparent #e9e9e9 transparent transparent;
    position: absolute;
    left: -8px;
    top: 20px;
}

.shortcutview-autosettingview::after {
    content: '';
    width: 0;
    height: 0;
    border-width: 8px 8px 8px 0;
    border-style: dashed;
    border-color: transparent #e9e9e9 transparent transparent;
    position: absolute;
    left: -8px;
    top: 20px;
}

.autosettingview-form .editview-f-r .label {
    width: 120px;
}

.careproveditbox-group {
    border: 1px solid #aaa;
    margin: 0 3px 10px 3px;
    border-radius: 5px;
}

.careproveditbox-group-header {
    text-align: left;
    height: 3px;
    color: #aaa;
}

.careproveditbox-group-header .header-text {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    position: relative;
    padding: 0 3px;
    top: -15px;
    left: 10px;
    background-color: #fff;
}

.careproveditbox-item {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #eee;
    color: #000;
}

.careproveditbox-item:hover {
    background-color: #f2f2f2;
}

.careproveditbox-item-selected {
    color: #ffffff;
    background-color: #40A2DE;
}

.careproveditbox-item-selected:hover {
    background-color: #50B2EE;
}

.collapse-icon {
    position: absolute;
    display: block;
    top: 2px;
    right: 2px;
}

.selectionview-close:hover {
    background-color: #f7f8f9;
}

.personalsettingview-form .editview-f-r .label {
    width: 140px;
}

.editview-f-group {
    border: 1px solid #4B9BE4;
    margin: 10px 3px;
    border-radius: 5px;
}

.editview-f-group-header {
    text-align: left;
    height: 3px;
    color: #4B9BE4;
}

.editview-f-group-header .header-text {
    font-size: 12px;
    display: inline-block;
    position: relative;
    padding: 0 3px;
    top: -10px;
    left: 10px;
    background-color: #fff;
}

.abnormalview-group {
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
}

.abnormalview-group-key {
    font-size: 12px;
    font-weight: 500;
    background-color: #eeeeee;
    border: solid 2px #eeeeee;
    border-radius: 5px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    width: 40px;
    text-align: center;
    float: left;
    position: absolute;
}

.abnormalview-group-container {
    width: 100px;
    padding-top: 3px;
    padding-left: 60px;
}

.abnormalview-group-data {
    margin-bottom: 5px;
}

.abnormalview-group-data-name {
    margin-right: 3px;
}

.abnormalview-group-data-value {
    color: #FC5951
}