.gridcell-button {
    display: inline-block;
    background-color: inherit;
    border-top: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-decoration: none;
    z-index: 100;
}

.btn-flat:hover {
    background-color: #ccc;
}

div.editform-row {
    display: block;
    align-items: center;
    margin: 0;
}

.view-header {
    border-bottom: 1px solid #aaa;
    height: 74px;
}

.view-body {
    overflow-x: hidden;
    overflow-y: auto;
}

.editform {
    margin: 0;
}

.editform-row {
    display: block;
    align-items: inherit;
    margin: 5px 0;
    padding: 5px;
    position: relative;
}

.editform-row .label {
    display: block;
    width: 90px;
    float: left;
    font-weight: 900;
    line-height: 30px;
    text-align: right;
}

.drug-item,
.material-item {
    display: block;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    cursor: default;
}

.drug-item:hover {
    background-color: #eee;
}

.material-item:hover {
    background-color: #eee;
}

.drug-item-added,
.material-item-added {
    color: #ccc;
}

.item-button {
    display: block;
    margin: 10px;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    color: #aaa;
    border: 1px dashed #ccc;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.item-button:hover {
    background-color: #eee;
    color: #489BE4;
}

.tag-flat {
    display: inline-block;
    background-color: inherit;
    border-top: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-decoration: none;
    z-index: 100;
}

.success-showup {
    z-index: 20000;
    display: block;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    border: 1 solid #aaa;
    background-color: #fff;
    box-shadow: 0 0 20px #999;
}