.sheet{
    margin-left: 10%;
    width: 910px;
    margin-bottom: 80px;
    /*border:1px solid red;*/
}
.north{
    width:100%;
     /*border:1px solid red;*/
}
.south{
    width: 100%;
    height: 30px;   
    position: fixed;
    bottom: 0px;
    z-index: 99;
    background-color: #fff;
}
.title{
    text-align: center;
}
.mainTitle{
    letter-spacing: 10px;
}
.subTitle{
    letter-spacing: 20px;
}
.line-textbox {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid;
    background-color: transparent;
}
.form-group.form-group-title
{
    line-height: 40px;
}
.form-group{
    line-height: 30px;
}
.form-group .checkbox-item
{   
    display: inline-block;
    margin-right:50px;
}
.record-table{
    width: 99%;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    margin-left: 5px;
    margin-right: 5px;
}
.record-table thead .line-textbox{
    width: 70%;
    text-align: center;
    /*border-bottom-color: #eee;*/
    border-bottom: none;
}
.record-table tbody .line-textbox{
    width: 100%;
    text-align: center;
    /*border-bottom-color: #eee;*/
    border-bottom: none;
}
.record-table td{
    padding:5px;
    /*width: 158px;*/
    border-left:1px solid #666;
    border-bottom: 1px solid #666;
}
.record-table thead tr td input{
    border:none;
    background-color: transparent;
}
.right{
    float: right;
    margin-right: 5px;
}
.left{
    float: left;
}
.textcenter{
    text-align: center;
}
.explainRegion
{
    width: 100%;
}
.explainDetail,.explainImg{
    margin-left: 70px;
    letter-spacing: 2px;
}
.explainDetail label {
    display: inline-block;
    width: 160px;
}
.explainImg{
    vertical-align: center;
}
.explainImg img{
    width: 730px;
    margin-left: 80px;
}
#MedcareNo{
    width: 100px;
}
#PatGender,
#PatAge,
#PatWeight,
#PatBedCode{
    width: 50px;
}
#WardBed{
    width: 216px;
}
#PrevDiagnosisDesc,
#OperationDesc,
#Formulation{
    width: 820px;
}
textarea{
    width: 100%;
    height: 100%;
}
.button-list{
    margin-left: 40%;
}