#PatName{
    width: 100px;
}
#PatGender,
#PatAge,
#PatWeight,
#PatBedCode{
    width: 45px;
}
#WardBed{
    width: 196px;
}
#MedcareNo{
    width: 85px;
}
#PrevDiagnosisDesc,
#OperationDesc,
#Formulation{
    width: 713px;
}
.textbox-text{
    width: 180px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid;
    background-color: transparent;
}
.record-table thead tr td input{
    border:none;
    background-color: transparent;
}
.explainImg img{
    width: 630px;
    margin-left: 80px;
}