@charset "utf-8";
body {
    font-family: "Microsoft Yahei", verdana, helvetica, arial, sans-serif;
    padding: 10px;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.panel-body {
    font-size: 14px;
}


/*左侧菜单*/

.layout-panel {
    margin: 0 4px 0 4px;
    padding: 0px;
    border: none;
    background: #fafafa;
}

.layout-panel .panel-header {
    margin: 0;
    padding: 0 0 0 15px;
    height: 35px;
    color: #ffffff;
    border-width: 1px 0 0 0;
    background: #0e96e1;
}

.layout-panel .panel-title {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    line-height: 35px;
}

.layout-panel .panel-icon {
    padding-left: 15px;
}

.layout-panel-west .layout-body {
    border: 1px solid #0e96e1;
}

.accordion {
    border: none;
}

.accordion .accordion-header {
    background: #0e96e1;
}

.accordion .accordion-body {
    margin: 0px;
    padding: 0px;
    border-radius: 4px;
    background: #fff;
}

.accordion .accordion-body .nav-item {
    margin: 0px;
    padding: 0 0 0 20px;
    line-height: 36px;
}

.accordion .accordion-body .nav-item a {
    font-size: 14px;
    color: #000;
}

.accordion .accordion-body .nav-item:hover {
    background: #e7e7e7;
}


/*主题内容展示区*/

.layout-panel-center .layout-body {
    border: none;
}

.tabs-container .tabs-header-noborder {
    height: 35px;
    border-bottom: 1px solid #cdcdcd;
}

.tabs-header {
    padding-top: 0;
}

.tabs-header,
.tabs-tool {
    border: none;
    background-color: #f2f2f2;
}

.tabs-header,
.tabs-scroller-left,
.tabs-scroller-right,
.tabs-tool,
.tabs,
.tabs-panels,
.tabs li a.tabs-inner,
.tabs li.tabs-selected a.tabs-inner,
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner,
.tabs-header-left .tabs li.tabs-selected a.tabs-inner,
.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
    border-color: #cdcdcd;
}

.tabs-wrap {
    height: 36px;
}

.tabs {
    height: 35px;
    padding-left: 0;
    border-width: 0 0 0px 0;
}

.tabs li {
    margin: 0px;
}

.tabs li.tabs-selected {
    background: #fff;
    border-bottom: 3px solid #509de1;
    border-radius: 0 0 0 0;
}

.tabs li a.tabs-inner {
    color: #666;
    padding: 0 15px;
    border: none;
    border-right: 1px solid #cccccc;
    border-radius: 0;
}

.tabs li a.tabs-close {
    color: #999;
}


/*.tabs li.tabs-selected a.tabs-inner {
    color: #0e2d5f;
    background: #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.tabs li a.tabs-inner:hover {
  background: #eaf2ff;
  color: #000000;
  filter: none;
}*/

.tabs-container .tabs-panels {
    /*margin: 10px;*/
    border-radius: 4px;
}