
textarea {
    border-radius: 5px;
    border-color: #40a2de;
}

.fas {
    color:inherit;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fc .fc-bg table tbody tr td {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ddd;
    height: 60px;
    text-align: right;
    padding: 5px 5px 0 0;
    vertical-align: top;
}

.fc .fc-bg table tbody tr.fc-last td {
    border: none;
    border-top: 1px solid #ddd;
}
.fc .fc-bg table tbody tr td.fc-other-month {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.04) 50%, rgba(0, 0, 0, 0.04) 75%, transparent 75%, transparent);
    background-color: #FAFCFD;
    background-size: 16px 16px;
}

.fc .fc-bg table tbody tr td.fc-today {
    border-style: none;
    border-top: 1px solid #ddd;
}

.fc .fc-bg table tbody tr td.fc-sun, 
.fc .fc-bg table tbody tr td.fc-sat {
    background-color: #f4f4f4 !important;
}

.fc .fc-bg table tbody tr td.event-container-dragenter{
    background-color:#baf1ec !important;
}


.editview-f-r {
    min-height: 30px;
    margin: 5px 0;
    line-height: 30px;
    vertical-align: center;
}

.editview-f-r .label {
    display: block;
    width: 80px;
    float: left;
    font-weight: 900;
    line-height: 30px;
    text-align: right;
    margin-left: 10px;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}


.careprovider-group {
    border: 1px solid #137DCB;
    margin: 10px 3px 10px 3px;
    border-radius: 5px;
    padding: 0px 5px 5px 5px;
}

.careprovider-group-header {
    text-align: left;
    height: 3px;
    color: #137DCB;
}

.careprovider-group-header .header-text {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    position: relative;
    padding: 0 3px;
    top: -10px;
    left: 10px;
    background-color: #f4f4f4;
}

.careprovider-container {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}


.careprovider-item {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #137DCB;
    color: #fff;
    z-index: 100;
}

.careprovider-item:hover {
    background-color: #32B9EF;
}

.careprovider-item-selected {
    color: #ffffff;
    background-color: #40A2DE;
}

.careprovider-item-selected:hover {
    background-color: #50B2EE;
}

.event-group {
    border: 1px solid #137DCB;
    margin: 10px 3px 10px 3px;
    border-radius: 5px;
    padding: 0px 5px 5px 5px;
}

.event-group-header {
    text-align: left;
    height: 3px;
    color: #137DCB;
}

.event-group-header .header-text {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    position: relative;
    padding: 0 3px;
    top: -10px;
    left: 10px;
    background-color: #fff;
}

.event-group-content {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}


.event-i {
    display: block;
    margin-top: 5px;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #137DCB;
    color: #fff;
    z-index: 50;
    cursor: pointer;
}

.event-i:hover {
    opacity: 0.8;
}

.event-i-selected {
    color: #ffffff;
    background-color: #40A2DE;
}

.event-workday{
    background-color: #8A71D6;
}

.event-holiday{
    background-color: #FC5951;
}

.room-i {
    position: relative;
    float: left;
    width: 23%;
    min-width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 5px;
}

.room-i-header {
    position: relative;
    background-color: #f1f2f3;
    padding: 3px 5px;
    height: 20px;
    margin-bottom: 0;
}

.room-i-alter .room-i-header{
    background-color: #e1e2e3;
}

.room-header-badge{
    position: absolute;
    top:5px;
    right:5px;
    font-size:10px;
    color:#777;
}

.room-i-content{
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.room-i-content-history{
    float:left;
    height: 80px;
    padding:5px;
    border-right:1px solid #eee;
}

.room-i-staffcontainer{
    width:100%;
    float:left;
    height: 60px;
    padding:5px;
}

.room-i-content span{
    font-size: 11px;
    white-space: nowrap;
}

.room-i-content:hover{
    background-color:#baf1ec;
}

.arrangement-i{
    margin: 5px 5px 0 5px;
    display: block;
    text-decoration: none;
    background-color: #eee;
    filter: none;
    height: 23px;
    line-height: 23px;
    padding: 1px 4px;
    border: 1px solid #e1e1e1;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrangement-i:hover{
    background-color: #fff;
}

.arrangement-i-add{
    border: 1px dashed #e1e1e1;
    text-align: center;
}

.arrangement-i-selected{
    margin-right: 0;
    background-color: #fff;
    border-right: none;
    font-weight:bold;
}

.type{
    margin-bottom: 10px;
}

.type-header{
    position: relative;
    border:1px solid #f4f4f4;
    padding:5px;
}

.type-header span{
    font-size: 14px;
}

a.btn-collapse{
    position: absolute;
    top:0;
    right: 5px;
    padding: 3px;
}

.type-content{
    padding:5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.icon-collapse{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.icon-unfold{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.arrange-dayheader{
    text-align:center;
    font-size:9px;
    opacity: 0.8;
}

.arrange-workday{
    color:#8A71D6;
}

.arrange-holiday{
    color:#FC5951;
}

.arrange-crewcontainer{
    text-align: left;
    padding:3px;
    min-height: 60px;
    max-height: 80px;
    border:1px solid #dadada;
    border-radius: 5px;
    margin-left: 3px;
}

.arrange-crewcontainer:hover{
    background-color: #baf1ec;
}

td.fc-sun .arrange-crewcontainer,
td.fc-sat .arrange-crewcontainer{
    border-color:#d1d2d3;
}

.arrange-crewcontainer span{
    font-size:10px;
}

.arrange-crewcontainer-holiday{
    width:40%;
    float:left;
}

.arranged-staff-i{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size:9px;
    font-weight: bold;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-top: 0;
    padding: 3px 7px 3px 3px;
    border-radius: 5px;
    background-color: #137DCB;
    color: #fff;
    z-index: 100000;
    cursor: pointer;
}

.arranged-staff-remove{
    color: #eee;
    display: none;
    position: absolute;
    top: -4px;
    right: 0px;
    font-size:9px;
    cursor: pointer;
}

.arranged-staff-remove:hover{
    color: #fff;
}

.arranged-staff-i:hover .arranged-staff-remove {
    display: block;
}

.arranged-staff-dragging{
    opacity: 0.5;
}

.arranged-staff-i-history{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size:9px;
    font-weight: bold;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 3px 7px 3px 3px;
    border-radius: 5px;
    background-color: #62a1d0;
    color: #fff;
    z-index: 50;
    cursor: pointer;
}


.shift-group {
    width: 45%;
    float: left;
    border: 1px solid #137DCB;
    margin: 10px 3px 10px 3px;
    border-radius: 5px;
    padding: 0px 5px 5px 5px;
}

.shift-group-null {
    width: 90%;
    border:none;
}

.shift-group-header {
    text-align: left;
    height: 3px;
    color: #137DCB;
    margin-bottom: 10px;
}

.shift-group-header .header-text {
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    position: relative;
    padding: 0 3px;
    top: -10px;
    left: 10px;
    background-color: #fff;
}


.shift-i {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #eee;
    float:left;
    overflow: hidden;
}

.shift-i-name {
    display: inline-block;
    min-width: 50px;
    font-size: 14px;
    line-height: 28px;
    vertical-align: top;
    text-align: right;
}

.shift-i-content {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: -5px;
    width: 200px;
    min-height: 22px;
    border-left: 1px solid #fff;
}

.shift-group-null .shift-i-content{
    width: 700px;
}

.shift-i-content:hover{
    background-color:#baf1ec;
}

a.btn-arrange-history{
    margin-right: 5px;
    text-decoration: none;
    border:1px solid #eee;
    box-shadow: 3px 3px 3px #ccc;
}

a.btn-arrange-history-on{
    background-color:#f1f2f3;
    box-shadow: 3px 3px 3px #ccc inset;
}