.form-table {
    font-size: 14px;
    margin: 10px 10px -4px 10px;
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.form-table td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.form-table tr {
    height: 40px;
}

.form-table tr td:nth-child(odd) {
    width: 100px;
    /*background: rgb(238, 247, 254);*/
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: right;
}

.condition-table {
    width: 100%;
    font-size: 14px;
    margin: 5px;
    border-collapse: collapse;
    border-spacing: 0;
}

.condition-table td {
    padding: 5px;
}

.condition-table tr {
    height: 24px;
}

.condition-table tr td:nth-child(odd) {
    text-align: right;
}

.dhccl-combobox,
.easyui-combobox,
.easyui-datebox,
.easyui-timespinner,
.easyui-numberspinner,
.easyui-textbox,
.easyui-numberbox,
.easyui-combotree,
.easyui-datetimebox{
    width: 180px;
}

.easyui-linkbutton {
    width: 100px;
}

.textbox,
.dhccl-combobox,
.hisui-combobox,
.hisui-combogrid,
.hisui-timespinner,
.hisui-numberspinner,
.hisui-textbox,
.hisui-numberbox,
.hisui-combotree,
.hisui-datetimebox,
.hisui-datebox,
.hisui-validatebox {
    width: 180px;
}

input .textbox{
    width:173px;
}
.hisui-combogrid {
    width: 176px;
}

/* .hisui-datebox{
    width:176px;
} */

.hisui-numberbox,
.hisui-validatebox {
    width: 173px;
}

.easyui-linkbutton {
    width: 100px;
}

* {
    font-family: "microsoft yahei"
}

.box-tool {
    padding: 5px;
}

.datagrid-header-row,
.datagrid-row {
    height: 32px;
}

.datagrid-row-selected {
    background: #0081c2 !important;
    color: #fff;
}

div.form-row,div.form-signrow {
    display: inline-flex;
    align-items: center;
    margin: 10px 10px 0 10px;
}

div.form-rows>div:last-child {
    margin-bottom: 10px;
}

div.form-row .form-title,div.form-signrow .form-title {
    display: inline-block;
    width: 60px;
    text-align: center;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
    /* color: #686868; */
    margin-right: 5px;
}

div.form-row .form-title-right {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 5px;
    
}

div.form-row .form-title-normal,div.form-row .form-title-common {
    margin-right: 5px;
}

div.form-row .form-item-normal,div.form-row .form-item-common {
	margin-right:10px;	
}

div.form-row .form-item,div.form-signrow .form-item {
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.layout-north {
    padding: 4px 4px 2px 4px;
}

div.layout-center {
    padding: 2px 4px 4px 4px;
}

div.layout-west {
    padding:2px 0 4px 4px;
}

div.datagrid-tools {
    padding: 10px;
}

form.data-form {
    margin: 0;
    padding: 0;
}

.form-btns {
    text-align: center;
    margin-bottom: 10px;
    width: 1040px;
}

.form-btn {
    margin: 0 10px 0 0;
}

form .form-btnsrow{
    text-align: center;
    margin: 10px 0;
    width:1040px;
}

img.signature {
    display: inline-block;
    width: 140px;
    height:40;
    border: 1px solid #40a2de;
    margin-right: 10px;
}

.button-list {
    padding: 5px 0;
    text-align: center;
}

div.form-row .form-item-yesno {
    display: inline-block;
    margin-right: 10px;
    width: 100px;
}

div.form-row .form-item-checkboxlist {
    display: inline-block;
    width:500px;
    margin-right: 10px;
}

div.form-row .form-item-text {
    display:inline-block;
    width: 180px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.form-row .form-title-rightshort {
    display: inline-block;
    width: 40px;
    margin-right: 5px;
    text-overflow: ellipsis;
    text-align: right;
}

div.form-row .form-item-textshort {
    display:inline-block;
    width: 150px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.form-row .form-title-rightlong {
    display: inline-block;
    width:180px;
    margin-right: 5px;
    text-align: right;
    text-overflow: ellipsis;
    font-weight: bold;
}

div.form-row-group {
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

div.form-row-group>div:last-child {
    margin-bottom: 10px;
}

div.form-row-grouptitle {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}