.form-table tr td:nth-child(odd) {
    width: auto;
}

#OperAppOrderItem,
#EMOPCurrentDate,
#NeedArrangeOperStatus,
.operdept {
    width: 400px;
}

#OperAppOrderFormat,
#SurgicalProcedureStatusSeq {
    width: 600px;
}