.hosp-title,
.doc-title {
    font-size: 24px;
    font-weight: bold;
}

.doc-title {
    text-align: center;
}

.doc-title span {
    margin: 0 10px;
}

.hosp-title {
    text-align: center;
    padding: 40px 0 10px 0;
}

.header-item-container {
    margin: 20px 40px;
}

.header-item-left,
.header-item-right {
    position: relative;
}

.header-item-left {
    float: left;
}

.header-item-right {
    float: right;
}

.arrange-table {
    margin: 0 40px;
    font-size: 14px;
    table-layout: fixed;
    clear: both;
}

table.arrange-table,
.arrange-table td,
.arrange-table th {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse
}

.arrange-table td {
    word-break: break-all;
}

.arrange-table th {
    font-size: 18px;
}