.form-table {
    margin:10px;
	border-collapse:collapse;border-spacing:0;border-left:1px solid #ddd;border-top:1px solid #ddd;
}

.form-table td {
    border-right:1px solid #ddd;border-bottom:1px solid #ddd;padding:10px;
}

.form-table tr {
    height:40px;
}

.form-table tr td:nth-child(1),.form-table tr td:nth-child(3) {
    width:100px;
    background: rgb(238,247,254);
	font-weight:bold;
    text-align:right;
}

.condition-table {
    margin:5px;
	border-collapse:collapse;border-spacing:0;
}

.condition-table td {
    padding:5px;
}

.condition-table tr {
    height:24px;
}

.condition-table tr td:nth-child(odd) {
    text-align:right;
}

.easyui-combobox, .easyui-datebox, .easyui-timespinner, .easyui-numberspinner,.easyui-textbox,.easyui-numberbox {
    width:200px;
}

* {
    font-family: "microsoft yahei"
}