.accordion .accordion-header {
    margin: 0px;
    padding: 0px;
}

.accordion .accordion-header .panel-title {
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 28px;
}

.nav-item {
    /* width: 180px; */
    line-height: 38px;
    background-color: #edebe9
}

.nav-item a {
    font-family: "微软雅黑";
    font-size: 12px;
    color: #0099FF;
    padding-left: 28px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #d5d3d1;
}