.north{
    margin-left: 10%;
    width: 910px;
    margin-bottom: 80px;
     /*border:1px solid red;*/
}
.south{
    width: 100%;
    height: 30px;   
    position: fixed;
    bottom: 0px;
    z-index: 99;
    background-color: #fff;
}
.title{
    text-align: center;
}
.mainTitle{
    letter-spacing: 10px;
}
.subTitle{
    letter-spacing: 20px;
}
table{
    width: 99%;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    margin-left: 5px;
    margin-right: 5px;
}
table td{
    padding:5px;
    border-left:1px solid #666;
    border-bottom: 1px solid #666;
}
table tr:last-child td:last-child{
    border-left: none;
}
.vertical{
    width: 20px;  
    word-wrap: break-word; 
}
.form-group-label{
    width: 100px;
    text-align: center;
}
.form-group-item{
    line-height: 30px;
}
.marginright{
    margin-right: 50px;
}
.marginright-sm{
    margin-right: 20px;
}
.width-sm{
    width: 80px;
}
.button-list{
    margin-left: 40%;
}