input{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid;
    background-color: transparent;
}
.marginright{
    margin-right: 20px;
}
.marginright-sm{
    margin-right: 10px;
}
.width-sm{
    width: 70px;
}