.box-tool {
    padding:10px;
}

form.dataform {
    margin-bottom: 0;
}

.oper-nurse{
    width: 46px;
    height: 22px;
    border: 1px solid #169bd5;
    margin: 5px;
    padding: 0px;
    float: left;
    border-radius: 3px;
    text-align: center;
    line-height: 22px;
    color: #fff;
	background-color:#169bd5;
}
.oper-nurse-inroom{
	width:auto;
	margin:5px 2px;
	padding:0 2px;
	display:inline-block;
}

.close{
	height:100%;
	margin-left:5px;
	padding-left:2px;
	border-left:1px solid #fff;
}
.close:hover{
	cursor:default;
}

.oper-nurse-arranged{
	opacity:0.5;
}

.arrange-container,.deptarrange-container {
    display:inline-block;
    min-width:180px;
    margin-right: 10px;
}

.hisui-combobox {
    width:100px;
}

#arrangeForm {
    margin:0;
}

.attendance form {
    margin:0;
}