.dhccl-combobox,
.easyui-combobox,
.easyui-datebox,
.easyui-timespinner,
.easyui-numberspinner,
.easyui-textbox,
.easyui-numberbox,
.easyui-combotree,
.easyui-datetimebox {
    width: 180px;
}

.oper-input {
    margin-left: 10px;
}

.oper-combobox {
    width: 80px;
}

.oper-textarea {
    width: 705px;
    height: 50px;
}

.oper-table {
    font-size:14px;
    margin: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.oper-tr {
    height: 36px;
}

.oper-td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.oper-td-title {
    width: 60px;
	white-space:nowrap;
    /*background: rgb(238, 247, 254);*/
    background-color: #f2f2f2;
    /*font-weight: bold;*/
    text-align: right;
}

.line-textbox {
	width: 60px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid;
    background-color: transparent;
}

.datagrid-tool {
    padding: 5px;
}

.buttonlist {
    float: right;
}

.valid-text {
    color: red;
    font-size: 10px;
}
.searchtable{
	font-size:14px;
}
.searchtable tr td:nth-child(odd)
{
	width:60px;
	line-height:40px;
	text-align:right;
}

.sign {
    width: 120px;
    text-align: center;
}

#dataForm{
	margin:0;
	padding:0;
}
#SurgicalMaterials,
#SpecialConditions {
    width: 705px;
}

#PlanSeq {
    width: 80px;
}

#BloodType {
    width: 100px;
}