.oper-cardboard {
    height: 100%;
    overflow: hidden;
}

.oper-cardboard-tool {
    padding: 5px 5px 0 5px;
    border-bottom: solid 1px #aaaaaa;
}

.oper-cardboard-form {
    margin-bottom: 0px;
}

.oper-cardboard-form .ocb-form-row {
    margin-top: 5px;
}

.oper-cardboard-container {
    /*overflow-x: hidden;
    overflow-y: auto;*/
    overflow: auto;
}

.menu-rightarrow {
    background: url(images/menu_arrows.png) -32px center no-repeat;
}

.oper-card-group {
    border: 1px solid #aaa;
    margin: 10px 3px;
    border-radius: 5px;
}

.oper-card-group-header {
    text-align: left;
    height: 3px;
    color: #aaa;
}

.oper-card-group-header .header-text {
    font-size: 12px;
    display: inline-block;
    position: relative;
    padding: 0 3px;
    top: -10px;
    left: 10px;
    background-color: #fff;
}

.oper-card-group-selected {
    border-color: #000;
}

.oper-card-group-selected .oper-card-group-header {
    color: #000;
}