#searchList {
    overflow: hidden;
    padding-bottom: 5px;
    border-bottom: none;
}

#searchList .searchListTitle {
    height: 34px;
    line-height: 34px;
    margin: -1px -2px 0 -2px;
    padding-left: 10px;
    border: none;
    color: #fff;
    background-color: #0e8bdd;
}

#searchList>div {
    margin: 10px 10px 0 10px;
    text-align: center;
}


.btnList {
    text-align: center;
    width: 1000px;
}

.icon-remove-test {
    background: url('images/del.png') no-repeat 10px 10px;
}

.patlist-item {
    padding: 5px 2px 5px 5px;
}

.patlist-item span:last-child {
    float: right;
}

.patlist-item:last-child {
    color: #6F6F6F;
}

/* .datagrid .panel-body-noheader {
    border-radius: 0;
} */

.oper-desc-title {
    height: 130px;
    vertical-align: middle;
}

.oper-diag-title {
    height: 130px;
    vertical-align: middle;
}

.hisui-combobox,
.hisui-timespinner,
.hisui-numberspinner,
.hisui-datebox,
.hisui-combogrid {
    width: 160px;
}

input.textbox {
    width:148px;
}

.oper-sheet-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 6px 0 10px 0;
    width: 815px;
}

.btnList>span {
    padding: 0 20px;
}

.oper-combobox {
    width: 80px;
}

#LabTest,
#OperRequirement,
#SpecialConditions,
#SurgicalMaterials,
#HighConsume {
    width: 923px;
}

.form-row-group .form-row-grouptitle {
    font-size: 14px;
}

#OperDate {
    width:160px;
}



