.oper-card {
    background-color: #edeff0;
    border: solid 2px #edeff0;
    border-radius: 0.8em;
    margin: 5px;
    position: relative;
    cursor: pointer;
    -webkit-box-direction: normal;
    white-space: normal;
}

.oper-card-finished {
    color: #aaa;
}

.oper-card-processing {
    color: #f00;
}

.oper-card-info-surgeon::before {
    content: '\4e3b\5200\ff1a';
    color: #aaa;
}

.oper-card-processing .oper-card-info-surgeon::before {
    color: #faa;
}

.oper-card:hover {
    background-color: #fff;
    border-color: #edeff0;
}

.oper-card-hover {
    background-color: #fff;
    border-color: #edeff0;
}

.oper-card-selected {
    border: solid 2px #4E97D7;
    border-radius: 0.8em;
}

.oper-card-selected:hover {
    border-color: #4E97D7;
}

.oper-card-header {
    background-color: #4E97D7;
    color: #ffffff;
    min-height: 20px;
    padding: 3px 15px 3px 7px;
    margin: -2px;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

.oper-card-finished .oper-card-header::after {
    content: '\624b\672f\7ed3\675f';
    margin-left: 5px;
    color: #ccc;
}

.oper-card-processing .oper-card-header::after {
    content: '\624b\672f\8fdb\884c\4e2d\2e\2e\2e';
    margin-left: 5px;
    color: #ccc;
}

.oper-card-content {
    line-height: 16px;
    padding: 5px 15px 2px 5px;
}

.oper-card-content span {
    margin: 0px 5px 5px 0px;
}

.oper-card-footer {
    height: 20px;
    padding: 2px 15px 5px 5px;
}

.oper-card-menubutton {
    display: none;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 8px;
    position: absolute;
    top: 1px;
    right: 2px;
    z-index: 10000;
    color: #edeff0;
    background-color: #acacac;
    border-style: solid;
    border-width: 1px;
    border-color: #acacac;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.oper-card-menubutton:hover {
    opacity: 1;
}

.oper-card:hover .oper-card-menubutton {
    display: block;
}

.oper-card-tag {
    padding: 0 5px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 0.5em;
    line-height: 18px;
    margin-right: 10px;
}

.oper-card-tag-emergency {
    background-color: #ff2343;
}

.oper-card-tag-infection {
    background-color: #8a6ed9;
}

.oper-card-complete {
    color: #a0a0a0;
}

.oper-card-complete .oper-card-header {
    color: #c0c0c0;
}

.oper-card-complete .oper-card-menubutton:hover {
    opacity: 0.5;
}

.oper-card-complete .oper-card-tag {
    background-color: #a0a0a0;
}

.placeholder {
    background-color: #c0c0c0;
    border: solid 2px #c0c0c0;
    border-radius: 0.8em;
}

.placeholder:hover {
    background-color: #c0c0c0;
    border: solid 2px #c0c0c0;
    border-radius: 0.8em;
}