.checkbox-list {
    float: right;
}

.checkbox-list div {
    text-align: right;
}

.line-textbox {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid;
    background-color: transparent;
}

.otherinfo {
    position: absolute;
    bottom: 1px;
}

.otherinfo .line-textbox {
    width: 240px;
}

.sign {
    width: 180px;
    text-align: center;
}

.presentation {
    padding-top: 10px;
    clear: both;
}

.condition-table td {
    vertical-align: top;
    position: relative;
}

.checkbox-item {
    margin-bottom: 10px;
}

.patinfo-item {
    width: 100px;
}

#OperationDesc{
    width:400px;
}
#PrevAnaMethodDesc{
    width: 180px;
}