*{
	font-family:'微软雅黑'
}
ul{
	list-style:none;
}
ul{
	width:100%;
	margin:0;
	padding:0;
}

/*手术面板*/
.oper-cardboard {
    height: 100%;
	overflow: hidden;
}

.oper-cardboard-tool {
    padding: 5px 5px 0 5px;
    border-bottom: solid 1px #aaaaaa;
}
.oper-cardboard-form{
	margin-bottom:0px;
}
.oper-cardboard-form .ocb-form-row {
    margin-top: 5px;
}

.oper-cardboard-container {
    /*overflow-x: hidden;
    overflow-y: auto;*/
	overflow:auto;
}
/*手术卡片*/
.oper-card {
    border: 1 1 #aaaaaa;
    background-color: #ffffff;
    border: solid 1px #E3E3E3;
    border-radius: 0.8em;
    margin: 5px auto;
    position: relative;
    cursor: pointer;
}

.oper-card:hover {
    background-color: #edeff0;
    border-color: #edeff0;
}

.oper-card-hover {
    background-color: #edeff0;
    border-color: #edeff0;
}

.oper-card-selected {
    border: solid 1px #137ccc;
    border-radius: 0.8em;
}

.oper-card-selected:hover {
    border-color: #137ccc;
}

.oper-card-header {
    background-color: #137ccc;
    color: #ffffff;
    min-height: 20px;
    padding: 3px 15px 3px 7px;
    margin: -2px;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
}

.oper-card-content {
	word-spacing:5px;
    line-height: 16px;
    padding: 5px 5px 2px 5px;
}

.oper-card-content span {
    margin: 0px 5px 5px 0px;
	font-size:14px;
}

.oper-card-footer {
    /*height: 20px;*/
	font-weight:bold;
    font-size: 12px;
    padding: 2px 15px 2px 5px;
}

.oper-card-menubutton {
	display: none;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 8px;
    position: absolute;
    top: 1px;
    right: 2px;
    z-index: 10000;
    color: #edeff0;
    background-color: #acacac;
    border-style: solid;
    border-width: 1px;
    border-color: #acacac;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.oper-card-menubutton:hover {
    opacity: 1;
}

.oper-card:hover .oper-card-menubutton{
	display:block;
}

.menu-rightarrow {
    background: url(images/menu_arrows.png) no-repeat -32px center;
}
/*手术间页码*/
.oper-dept-search{
	min-height:34px;
	margin:5px 5px 0 5px;
}
div.oper-dept-searchbox{
	float:left;
}
/*.pagination {
	min-width:250px;
	max-width:600px;
    display: inline-block;
    padding-left: 0;
	margin:0;
	right:0;
	position:absolute;
    border-radius: 4px;
	
}
.pagination>li {
    display: inline;
}
.pagination>li>a, .pagination>li>span {
	height:16px;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li.active>a{
	color:#fff;
	background-color:#169bd5;
}
.pagination>li:first-child>a {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>li:last-child>a {
    margin-right: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}*/
/*手术室*/
.oper-room{
	width:100%;
	height:100%;
	top:40px;
	left:0;
	margin-left:0px;
	margin-top:0px;
	position:absolute;
	/*border:1px solid red;*/
	/*overflow-y:hidden;*/
	overflow-y:hidden;
	overflow-x:hidden;
}
/*手术间*/
.oper-room-item {
	width:32%;
	height:100%;
	margin:5px 0 0 5px;
	padding:auto 2px;
	border:1px solid #ccc;
	float:left;
}
.oper-room-item-header{
	height:30px;
	font-weight:bold;
	line-height:35px;
	padding-left:5px;
	padding-right:5px;
}
.oper-room-item-header span{
	font-weight:normal;
	padding-left:70px;
	text-align: center;
}
.oper-room-item-header span strong{
	color:	#00FF00;
	padding:5px;
}
.oper-room-item-panel{
	height:100%;
	position:relative;
	/*border:1px solid red;*/
	overflow-x:hidden;
	overflow-y:auto;
	z-index:999;
}
.oper-room-item-nurse{
	margin:0;
	padding:0;
	min-height:70px;
}
.oper-room-item-nurse > div
{
	width:100%;
	min-height:36px;
	margin:0 0 5px 0;
	padding:0;
	background-color: #f9f9f9;
	position:relative;
}
.oper-room-item-nurse > div label{
	line-height:36px;
}

/*器械护士巡回护士*/
.oper-room-item-scrubnurse,
.oper-room-item-circualnurse
{
	display:block;
	width:70%;
	min-height:34px;
	margin:0;
	padding:0;
	top:0;
	right:0;
	/*float:right;*/
	position:absolute;
	/*border:1px solid red;*/
}
.oper-room-item-container{
	overflow:hidden;
}


.oper-nurse{
    width: 46px;
    height: 22px;
    border: 1px solid #169bd5;
    margin: 5px;
    padding: 0px;
    float: left;
    border-radius: 3px;
    text-align: center;
    line-height: 22px;
    color: #fff;
	background-color:#169bd5;
}
.oper-nurse-inroom{
	width:auto;
	margin:5px 2px;
	padding:0 2px;
	display:inline-block;
}
/* .oper-nurse-inroom:hover{
	background-color:red;	
} */
.oper-nurse-arranged{
	opacity:0.5;
}
.close{
	height:100%;
	margin-left:5px;
	padding-left:2px;
	border-left:1px solid #fff;
}
.close:hover{
	cursor:default;
}
.enter{
	background-color:red;
}
