*{
    font-family: "微软雅黑";
}
div.titles,div.signs{
    margin-left:10px;
}
div.signs{
    margin-top:20px;
}
div span{
    margin-right: 10px;
}
span{
    line-height: 30px;
}
.line-textbox {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid;
    background-color: transparent;
    padding-left: 10px;
}
table {
    margin:10px;
    font-size:14px;
    width:96%;
} 
table th,table tr{
    line-height: 35px;
    text-align: center;
}
table,td,th {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse
}
#OperationDate,
#PatDeptDesc{
    width: 265px;
}
#PatBedCode,
#PatGender,
#PatAge{
    width: 80px;
}
#PatName,#RegNo{
    width: 210px;
}
#OperationDesc{
    width: 705px;
}
#OPC_TransBlood_BloodType,
#OPC_TransBlood_BloodDesc,
#OPC_TransBlood_BloodVolume{
    width: 735px;
}

.sign{
    width: 200px;
}
