.north {
    padding: 5px;
    height: 120px;
}

.center {
    /*padding: 5px 5px 5px 5px;*/
    /*background: #66CC99;*/
}

.south {
    height: 32px;
    padding: 10px 20px 10px 10px;
}

.check-info {
    margin-bottom: 5px;
    min-height: 100px;
}

.button-list {
    float: right;
}

#ShiftNote {
    width: 300px;
}