#patientForm{
	width:660px;
    margin:10px auto;
	margin-bottom:0px;
}

#dataForm{
	width:660px;
	margin:0px auto;
}
#dataForm div{
	margin:0px;
	padding:0px;
}

.form-group{
	height:40px;
}
.condition-table td:nth-child(1){
	white-space:nowrap;
}
.condition-table td:nth-child(2)
{
	word-spacing:10px;
}
.button-list{
	width:210px;
	margin:10px auto;
}

#PatName,
#PatDeptDesc,
#PatBedCode,
#operDate{
	width:200px;
}
#PatGender,
#PatAge
{
	width:80px;
}

#prevAnaMethodDesc{
	width:560px;
}

#operFinishDT{
	width:290px;
}

#overFinish{
	width:40px;
}

#BloodPressure,
#HR,
#Respiration{
	width:100px;
}

#Extremities{
	width:430px;
}
#OtherInformation{
	width:560px;
}
/*
#AnaDoctorSign{
	width:290px;
}
#AnaDoctorSignDate{
	width:290px;
}*/
