
#patientForm{
    width:660px;
    margin:10px auto;
	margin-bottom:0px;
}
#dataForm{
	width:660px;
	margin:0px auto;
}
div.form-group{
    margin: 5px auto;
	line-height:40px;
}
.line-textbox {
    border: 0;
    border-bottom: 1px solid #000;
    background: transparent;
}

.form-group {
    margin: 10px;
    font-size: 16px;
}

.button-list{
	width:210px;
	margin:10px auto;
}
table td{
	padding:5px;
	text-align:left;
}
table td:nth-child(1)
{
	white-space:nowrap;
}
#PatName,
#PatDeptDesc{
	width:220px;
}

#PrevDiagnosisDesc,
#OperationDesc{
	width:590px;
}

#PatGender,
#PatAge,
#Pulse,
#Respiration{
	width:60px;
}

#BloodPressure{
	width:100px;
}

#Consciousness{
	width:480px;
}

#AddNervousSystem,
#AddCardiovascularSystem{
	width:240px;
}

#PulmonaryFunction,
#LiverFunction{
	width:300px;
}

#PulmonaryDisease
{
	width:200px;
}
#RenalFunction{
	width:210px;
}
#SpecialInspection{
	width:540px;
}
#IntubationCondition{
	width:560px;
}

#AnaDoctorSign{
	width:190px;
}
#AnaDoctorSignDate{
	width:220px;
}