.north {
    height: 160px;
}

.easyui-combobox,
.easyui-datebox,
.easyui-timespinner,
.easyui-numberspinner,
.easyui-textbox,
.easyui-numberbox,
.easyui-combotree,
.easyui-datetimebox {
    width: 60px;
}

#PRV_BloodType,
#PRV_RHBloodType,
#PRV_Hb,
#PRV_HCT,
#PRV_WBC,
#PRV_PLT,
#PRV_ALT,
#PRV_BUN,
#PRV_Cr,
#PRV_GLU,
#PRV_K,
#PRV_Na,
#PRV_Cl,
#PRV_PT,
#PRV_APTT {
    width: 50px;
}

#PRV_Blood_Current,
#PRV_Obstetrics_Current,
#PRV_SpecialMedicine_Current,
#PRV_XRay_Current,
#PRV_ECG_Current {
    width: 280px;
}

#PRV_Cardiovascular_Pre,
#PRV_RespSystem_Pre,
#PRV_Genitourinary_Pre,
#PRV_DigestiveSystem_Pre,
#PRV_NervousSystem_Pre,
#PRV_Blood_Pre,
#PRV_Endocrine_Pre,
#PRV_Spirit_Pre,
#PRV_Obstetrics_Pre,
#PRV_Dependence_Pre,
#PRV_Allergy_Pre,
#PRV_AnaHistory_Pre,
#PRV_FamilyHistory_Pre,
#PRV_SpecialMedicine_Pre,
#PRV_GeneralCondition_Pre,
#PRV_Conscious_Pre,
#PRV_Airway_Pre,
#PRV_Ophthalmology_Pre,
#PRV_PunctureSite_Pre,
#PRV_XRay_Pre,
#PRV_ECG_Pre {
    width: 300px;
}

#PRV_Assessment {
    width: 280px;
}

.form-table tr td:nth-child(odd) {
    text-align: left;
    background: transparent;
    width: auto;
}

.condition-table tr td:nth-child(odd) {
    text-align: justify;
    background: transparent;
    width: auto;
}

.choice {
    float: right;
    padding-right: 10px;
}

.form-table th {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.form-table td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 4px;
}

.form-table tr {
    height: 30px;
}

.form-table {
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.suggestion {
    margin-top: 10px;
}

#PRV_DoctorSign,
#PRV_SignDate {
    width: 200px;
}

.line-textbox {
    border: none;
    border-bottom: 1px solid #000;
    width: 50px;
    text-align: center;
}

.long-line {
    width: 400px;
}

#PatName {
    width: 100px;
}

#PatDept,
#RegNo {
    width: 100px;
}

#SystolicPressure,
#DiastolicPressure {
    width: 30px;
}

.preinfo {
    height: 100%;
}

.south {
    padding: 10px 30px 10px 10px;
    height: 36px;
}

.button-list {
    float: right;
}