form {
    margin-bottom: 0px;
}

textarea {
    margin: 0;
    padding: 0 0 0 5px;
    box-sizing: content-box;
    border: 1px solid #40a2de;
    color: #000000;
    font-size: 14px;
}

.form-group {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.form-row {
    display: block !important;
    margin: 10px 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-row .form-title {
    display: inline-block;
    width: 60px;
    text-align: justify;
    text-justify: distribute-all-lines;
    text-align-last: justify;
    /* text-align: right; */
    color: #686868;
    margin-right: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-row .form-item {
    display: inline-block;
    width: 100px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-row .form-title-long {
    display: inline-block;
    width: 110px;
    text-align: right;
    margin-right: 5px;
}

.form-row-title {
    display: inline-block;
    text-align: right;
    width: 100px;
    height: 19px;
    line-height: 19px;
    /* margin-right: 6px; */
    /* font-weight: 900; */
}

.form-row-i-label {
    margin-left: 3px;
    display: inline-block;
    text-align: left;
    margin-right: 3px;
}

.form-label-small label {
    display: inline-block;
    width: 30px;
    cursor: pointer;
}

.form-label-middle label {
    display: inline-block;
    width: 60px;
    cursor: pointer;
}

.form-label-large label {
    display: inline-block;
    width: 90px;
    cursor: pointer;
}

.form-label-fixed label {
    display: inline-block;
    cursor: pointer;
}

.form-label-20 label {
    width: 20px;
}

.form-label-30 label {
    width: 30px;
}

.form-label-40 label {
    width: 40px;
}

.form-label-50 label {
    width: 50px;
}

.form-label-60 label {
    width: 60px;
}

.form-label-70 label {
    width: 70px;
}

.form-label-80 label {
    width: 80px;
}

.form-label-90 label {
    width: 90px;
}

span.checkbox-list>span {
    display: inline-block;
    width: 110px;
}

.form-sign-table .form-sign-title {
    width: 110px;
    text-align: right;
    padding-right: 5px;
}

.button-list {
    padding: 10px 0 0 0;
    text-align: center;
}

.center,
.north {
    background: #ddd;
}

.test-exception {
    color: red;
}

img.signature {
    height: 40px;
}

img.signature {
    display: inline-block;
    width: 140px;
    border: 1px solid #40a2de;
}

.form-sign-row {
    height: 40px;
    vertical-align: middle;
}

.form-sign-img {
    display: inline-block;
    height: 40px;
}

.form-sign-table .form-sign-title {
    width: 120px;
    text-align: right;
    padding-right: 5px;
}

.button-list {
    text-align: center;
}

.sign {
    width: 120px;
    text-align: center;
}

.form-row-signature {
    display: inline-flex;
}

.form-row-signature .form-row-title {
    line-height: 40px;
    height: 40px;
}

.form-row-signature input {
    margin-top: 5px;
}

.form-row-signature .combo {
    margin-top: 5px;
}

.form-row-signature .signature {
    margin: 0 10px 0 3px;
}

.form-row-signature a {
    height: 30px;
    line-height: 40px;
    margin-top: 5px;
}