body {
    background: #F5F5F5;
    overflow: hidden;
}

.card-banner {
    height: 5px;
    background: #71B247;
}

.card-left {
    height: 100%;
    width: 315;
    padding: 20px 0;
    border-right: 1px solid #eee;
    float: left;
    text-align: center;
    font-size: 14px;
}

.operbaseinfo {
    margin: 10px 0 20px 0;
    color: #999;
}

.operstatus {
    color: #71b247;
    font: 700 24px/34px "Microsoft YaHei";
}

.card-right {
    height: 100%;
    padding: 20px;
}

.surgical-card {
    height: 320px;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 4px 4px 4px #aaa;
}

.query,
.info {
    padding: 10px;
}

.operbutton {
    margin: 30px 0;
}

.operbutton .easyui-linkbutton {
    width: 160px;
}

.operinfo {
    height: 50px;
}

.node {
    float: left;
}

.node-icon {
    display: block;
    width: 64px;
    height: 64px;
    background: url(icons/idea-green-64.png) no-repeat;
    overflow: hidden;
}

.node-info {
    list-style: none;
    padding-left: 10px;
}

.node-info li {
    text-align: center;
    font-size: 12px;
}

.node-info .node-name {
    padding-top: 20px;
}

.node-info .node-time {
    padding-top: 5px;
}

.oper-process .process {
    width: 64px;
    height: 9px;
    margin-top: 43px;
    background-image: url(images/proce-icons.png);
    background-size: cover;
    float: left;
}

.oper-process .done {
    background-position: 0 -38px;
}

#PrevDiagnosisDesc,
#OperationDesc,
#OperRequirement,
#LabTest {
    width: 560px;
}

#ExecDate {
    width: 120px;
}

#ExecTime {
    width: 80px;
}