.layout-panel-west .layout-body {
    border: none;
}

.query-tool {
    padding: 5px;
    margin-left: 1px;
    border-bottom: 1px solid #fff;
    background-color: #f5f5f5;
}

.query-tool div {
    display: inline-block;
    padding: 1px 0;
}

.query-tool .label {
    display: inline-block;
    text-align: right;
    width: 60px;
    margin-right: 2px;
    border: none;
}

.query-tool a {
    position: relative;
    margin-left: 10px;
}