#operListTool {
    padding: 4px;
}

#operListTool>div {
    margin: 0 0 4px 0;
}

#operListTool>div.operListBtns {
    margin-bottom: 4px;
    text-align: center;
}

#operListTool>div.operListBtns:last-child {
    margin-bottom: 0;
}

#operListTool>div>label {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.titleInfo {
    margin-right: 15px;
}

.hisui-datebox {
    width: 180px;
}


#filterDate,
#filterOPRoom {
    width: 228px;
}

#filterPatName,
#filterMedcareNo{
    width:221px;
}

.tag-flat {
    display: inline-block;
    background-color: inherit;
    border-top: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 16px;
    height: 16px;
    padding: 3px;
    text-decoration: none;
    z-index: 100;
}

.success-showup {
    z-index: 20000;
    display: block;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    border: 1 solid #aaa;
    background-color: #fff;
    box-shadow: 0 0 20px #999;
}

.menu-rightarrow {
    background-position-x: -72px;
}