*{margin: 0;padding: 0;box-sizing: border-box;outline: none;list-style: none;}
/* -------------------最左侧搜索布局------------------------ */
table.reservInfo tr{
	height: 40px;
}

#appStartDate+.datebox>input,#appEndDate+.datebox>input{width: 82px!important;}
#schPanel .toggle-btn {
	position:absolute;
    color: #ffffff;
    font-size:12px;
    top:10px;
    right:10px;
    padding-right: 14px;
    background: url(../../../../images/nur_app_more.png) no-repeat center right;
   	cursor: pointer;
}
#schPanel .td-label{
	width:66px;
	padding:0 8px 0 0;
	height:38px;
	word-break: keep-all;
}
/* -------------------病人信息------------------------ */
.pf-bar{
	height:100%;
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}
.pf-bar .pf-patimg {
	margin-right:14px;
    width: 30px;
    cursor: pointer;
    border-radius:50%;
}
.pf-bar .pf-icon {
	margin-left:6px;
    width: 16px;
    cursor: pointer;
}
.pf-bar .pf-sep {
    color: #bbbbbb;
    padding:0 6px;
    font-size:18px;	
}
.pf-bar .pf-value {
	font-size:14px;	
}
.pf-bar .pf-key {
	font-size:14px;	
	color: #666666;
}
.pf-bar .pf-value-big {
	font-size:16px;	
}
/* -------------------日期选择区域------------------------ */
#dateSumPanel .change-date-btn{
	padding:4px;
	margin:16px auto;
	display:block;
	cursor:pointer;
}
#dateSumPanel .change-date-btn-dis{
	opacity:0.4;
}

#dateSumPanel .change-date-li{
	float:left;
	height:100%;
	cursor:pointer;
	border-right:1px dashed #ddd 
}
#dateSumPanel .change-date-li:hover{
	background-color:#ECF5FB;
}

#dateSumPanel .change-date-li-select{
	background-color:#ECF5FB;
}
#dateSumPanel .change-date-li .change-date-top{
	display:block;
	text-align:center;
	margin:8px 0 6px 0
}
#dateSumPanel .change-date-li-select .change-date-top-sel{
	font-weight:600;
}
#dateSumPanel .change-date-li .change-date-bottom{
	background-color:#DEF2FF;
	display:block;
	text-align:center;
	margin:0 auto;
	width:42px;
	height:20px;
	font-size:12px;
	border:1px #40A2DE solid;
	border-radius:4px;
	color:#40A2DE;
}
#dateSumPanel .change-date-li .change-date-bottom-nobed{
	border:1px #cccccc solid;
	color:#bebebe;
	background:#F4F6F5;
}
/* -------------------床位区域------------------------ */
.box{
	display: flex;
	flex-wrap: wrap;
	padding:5px;
	/*justify-content: space-around;*/
}
.box .bedcard{
	width: 228px;
	height: 204px;
	margin: 10px;
	padding: 8px;
	/*box-shadow: 1px 1px 1px 1px #EFEFEF;*/
	/*border: 1px #EEEEEE solid;*/
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	box-shadow:0 4px 12px rgba(0, 0, 0, 0.18);
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	transition:box-shadow 0.3s
}
.box .selpat{
	background: #FFFBE6;
}
.box .bedcard:hover{
	/*border: 1px #DDDDDD solid;
	box-shadow: 3px 3px 3px 1px #DEDEDE;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}
.box .bedcard .bedhead{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	color:#7F7F7F;
	cursor:pointer;
}
.box .bedcard .bedhead .ward{
	vertical-align: top;
	font-size: 12px;
}
.box .bedcard .bedhead .bed{
	vertical-align: top;
	font-size: 13px;
	font-weight:600;
}
.box .bedcard .bedhead .bedF{
	line-height:inherit;
	color:#D987B8;
}
.box .bedcard .bedhead .bedM{
	line-height:inherit;
	color:#32BACA;
}
.fa-male:before,.fa-female:before {
	margin-right:5px;
}
.box .bedcard .bedcenter{
	height: 50px;
	margin-top:5px ;
	display:flex;
	align-items:center;
}
.box .bedcard .bedcenter img{
	width: 44px;
	margin-right: 6px;
}
.box .bedcard .bedcenter .patname{
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 4px;
}
.box .bedcard .bedcenter .appdays{
	margin-top: 6px;
	font-size: 12px;
	margin-left: 5px;
	color: #999999;
	display: block;
}
.box .bedcard .bedcontent{
	margin-top: 5px;
}
.box .bedcard .bedcontent .inforow{
	margin: 1px 0;
	white-space: nowrap;
	overflow: hidden;
}
.box .bedcard .bedcontent .inforow .infoT{
	display: inline-block;
	vertical-align: top;
	color: #797979;
	margin-left: 56px;
	font-size: 12px;
	
}
.box .bedcard .bedcontent .inforow .infoT4{
	display: inline-block;
	vertical-align: top;
	color: #797979;
	margin-left: 32px;
	font-size: 12px;
}
.box .bedcard .bedcontent .inforow .infoV{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	max-width: 126px;
	vertical-align: top;
	font-size: 12px;
}

.box .bedcard .cancelBtn{
	font-size: 12px;
	text-decoration : none;
	color: #FF5252;
	position: absolute;
	bottom: 6px;
	right:8px;
}
.box .bedcard .appBtn{
	width: 60px;
	height: 24px;
	font-size: 14px;
	text-decoration : none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-30px;
	margin-top:32px;
	text-align: center;
	line-height: 22px;
	color: #666666;
	transition:border-radius 0.4s
}
.box .bedcard .appBtnDis{
	width: 60px;
	height: 24px;
	font-size: 14px;
	text-decoration : none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-30px;
	margin-top:32px;
	text-align: center;
	line-height: 22px;
	color: #666666;
	opacity:0.4;
}
.box .bedcard .appBtn:hover{
	color: #222222;
	border-radius: 12px;
	border: 1px solid #aaaaaa;
}
.box .bedcard .abbletips{
	width: 100%;
	color: #FF5252;
	font-size: 12px;
	text-align: center;position: absolute;
	left:0;
	top:50%;
	margin-top:70px;
	cursor:pointer;
}
.box .bedcard .unappbed{
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-50px;
	margin-top:-60px;
}
.box .bedcard .unabbletips{
	width: 100%;
	font-size: 30px;
	text-align: center;position: absolute;
	left:0;
	top:50%;
	margin-top:-10px;
	color:#666666;
	font-size:18px;
}

/*.selpat::before, .selpat::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	z-index: 9;
	margin: 0;
	box-shadow: inset 0 0 0 1px #FA8072;
	animation: clipMe 8s linear infinite;
	border-radius: 4px;
}
.selpat::before {
	animation-delay: -4s;
} 
@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 228.0px, 1px, 0px);
  }
  25% {
    clip: rect(0px, 1px, 204.0px, 0px);
  }
  50% {
    clip: rect(203.0px, 228.0px, 204.0px, 0px);
  }
  75% {
    clip: rect(0px, 228.0px, 204.0px, 227.0px);
  }
}*/
#bedGridBox .cancleBtn,#bedGridBox .allotBtn  {
	margin-top:-5px;
}
#bedGridBox .cancleBtn:hover,#bedGridBox .allotBtn:hover {
	background:none;
}