*{box-sizing: border-box;}
.container{height: calc(100%)!important;display: flex;border-radius: 4px;position: relative;}
#appointment .searchContent{background: #fff;border: 1px solid #cccccc;border-radius: 4px;display: flex;flex-flow: column;height: 100%;width: 100%!important;}
/*#appointment .searchContent:before {position: absolute;content: "";width: 10px;height: 10px;border-left: 1px solid #cccccc;border-bottom: 1px solid #cccccc;transform: rotate(45deg);background: white;left: -6px;top: 25px;}*/
.patSearch__title {color: #fff;background-color: #509de1;font-size: 16px;padding: 8px;}
#appointment .searchContent>.form{padding: 10px;padding-bottom: 0;position: relative;font-size: 0;height: 90px;}
#appointment .searchContent>.form>label{margin-bottom: 10px;width: 56px;display: inline-block;vertical-align: middle;text-align: right;margin-right: 10px;}
#appointment .searchContent>.form>span{margin-right: 30px;margin-bottom: 10px;}
#appointment .searchContent>.form>input{margin-right: 30px;margin-bottom: 10px;box-sizing: border-box;width: 150px;height: 30px;}
#appointment .searchContent>.form>a{vertical-align: top;}
#appointment .searchContent>.form>a .l-btn-text {padding: 0 15px;}
#appointment .searchContent>.panel{flex:1;border-top: 1px solid rgb(204, 204, 204);border-radius: 0 0 4px 4px;height: calc(100% - 126px)!important;}

.panel-body.panel-body-noheader{border-radius: 0;}
.datebox .combo-arrow {margin-left: -4px;}

.container>.panel{width: 250px;height: 100%;margin-right: 10px;border-radius: 4px;display: flex!important;flex-flow: column;}
.container>.panel>.panel-body>a{margin: 10px;width: 109px;}
.container>.panel>.panel-body>a+a{margin-left: 0;}
.container>.panel>.panel-body>.searchbox{margin: 10px;margin-top: 0;width: calc(100% - 20px)!important;}
.container>.panel>.panel-body>.searchbox>input{width: calc(100% - 30px)!important;padding:0 10px;}
.container>.right .operate .searchbox:nth-of-type(n+2){margin-left: 10px;}
.container>.right .operate .searchbox>input{padding: 0 0 0 10px;}


.container>.panel>.panel-body>div:last-of-type{flex: 1;overflow: auto;height: calc(100% - 91px);}
.container>.panel>.panel-body>div:last-of-type>span{line-height: 30px;display: inline-block;padding-left: 10px;padding-right: 10px;white-space: nowrap;min-width: 100%;cursor: pointer;user-select: none;}
.container>.panel>.panel-body>div:last-of-type>span.selected{color: #fff;background-color: #509de1;}

.container>.panel>.panel-body, .container>.panel>.panel-header{width: 100%!important;}


.container>.right{flex: 1;height: 100%;display: flex;flex-flow: column;border: 1px solid #CCC;border-top: 0;border-radius: 4px;overflow: hidden;}
.tabs-container.tabs-gray .tabs-header {border: 1px solid #CCC;border-bottom: 0;border-left: 0;border-right: 0;}
.tabs-container.tabs-gray .tabs-header ul>li{position: relative;}
.tabs-container.tabs-gray .tabs-header ul>li.active:after{position: absolute;top: 0;right: 0;content: '';width: 10px;height: 5px;border-radius: 0 0 5px 5px;background: red;border:0;}
.tabs-container.tabs-gray .tabs-panels{display: none;}
.content{flex:1;display: flex;flex-flow: column;}
.content .operate{padding: 10px;position: relative;font-size: 0;}
.content .operate>.dynamic{display: inline-block;vertical-align: middle;margin-right: 10px;}
.content .operate>.dynamic>a{overflow: hidden;}
/*.content .operate>.dynamic>a+a{margin-left: 10px;}*/
.content .operate>.dynamic>a:not(:first-child) {margin-left: 10px;}
.content .operate>span{height: 30px;overflow: hidden;vertical-align: middle;}
.content .operate>.helpInfo{float: right;position: relative;margin-top: 6px;}
.helpInfo>.helpFlag{font-size: 0;width: 58px;height: 18px;color:#3fa1e2;}
.helpInfo>.helpFlag>span.icon{display: inline-block;width: 18px;height:19px;white-space:nowrap;}
.helpInfo>.helpDetail{position: absolute;border-radius: 4px;z-index: 10;overflow: visible;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);background: #fff;border: 1px solid #cccccc;padding: 10px;width: 204px;right: 5px;top: 25px;display: none;}
.helpInfo:hover>.helpDetail{display: block;}
.helpInfo>.helpDetail:after {position: absolute;content: "";width: 10px;height: 10px;border-left: 1px solid #cccccc;border-top: 1px solid #cccccc;transform: rotate(45deg);background: white;top: -6px;right: 15px;}
.helpInfo>.helpDetail>p {line-height: 26px;overflow: hidden;}
.helpInfo>.helpDetail>p>span:first-of-type{display: inline-block;width: 60px;text-align: right;}
.l-btn-text {padding: 0 5px;}
.unPrintNum{margin-left:0;display:inline-block;height:30px;line-height:30px;border-radius:0;color: #fff;font-size: 14px;background-color: rgba(255,64,35,.7);text-align: center;vertical-align: middle;padding: 0 5px;user-select: none;}
.unPrintNum:hover {cursor: pointer; }
.unPrintNum.checked {background-color: #509de1; }
.unPrintNum-Lite{height:26px;line-height:26px;border-radius:0 2px 2px 0;}
.content .panel-body{border:0;border-top: 1px solid #ddd;}

.cursorPoint {cursor: pointer;}
.orderDisposeStatInfo__disposeStat {display: block;font-weight: 400;font-size: 14px;height: 16px;position: relative;color: #fff;}
.orderDisposeStatInfo__disposeStat.is-Temp {background-color: #c6ffc6;color: #c6ffc6;}
.orderDisposeStatInfo__disposeStat.is-SpecmentReject{background-color:#ff82ff;color:#ff82ff;}
.orderDisposeStatInfo__disposeStat.is-RefuseDispDrug{background-color:#ffc3c6;color:#ffc3c6;}
.orderDisposeStatInfo__disposeStat.is-AlreadyStop{background-color:#c6c3ff;color:#c6c3ff;}
.orderDisposeStatInfo__disposeStat.is-AlreadyDeal{background-color:#b4a89a;color:#b4a89a;}
.orderDisposeStatInfo__disposeStat.is-NeedToStop{background-color:#f37476;color:#f37476;}
.orderDisposeStatInfo__disposeStat.is-NeedToDeal{background-color:#f1c516;color:#f1c516;}
.orderDisposeStatInfo__disposeStat.is-Exec{background-color:#b4a89a;color:#b4a89a;}
.orderDisposeStatInfo__disposeStat.is-ExecDiscon{background-color:#b4a89a;color:#3494d4;}
.orderDisposeStatInfo__disposeStat.is-Discontinue{background-color:#3494d4;color:#3494d4;}
.orderDisposeStatInfo__disposeStat.is-SkinTestAbnorm{background-color:#ff7965;color:#ff7965;}
.orderDisposeStatInfo__disposeStat.is-SkinTestNorm{background-color:#b4a89a;color:#b4a89a;}
.orderDisposeStatInfo__disposeStat.is-SkinTest{background-color:#8df38d;color:#8df38d;}
.orderDisposeStatInfo__disposeStat.is-Immediate{background-color:#51b80c;color:#51b80c;}
.orderDisposeStatInfo__disposeStat.is-LongNew{background-color:#ee0;color:#ee0;}
.orderDisposeStatInfo__disposeStat.is-LongUnnew{background-color:#eead0e;color:#eead0e;}
.orderDisposeStatInfo__disposeStat.is-label {text-align: left;padding: 5px;color: #000;width: 90px;font-size: 12px;margin-top: 2px;margin-bottom: 2px;margin-left: 8px;display: inline-block;box-sizing: content-box;line-height: 16px;}
.orderDisposeStatInfo__triangle {display: block;width: 0;height: 0;position: absolute;border-width: 13px;border-style: solid;border-top-color: transparent;border-left-color: transparent;border-bottom-color: transparent;left: -26px;top: 0;}
.orderDisposeStatInfo__triangle.is-Temp {
    border-right-color: #c6ffc6;}
.orderDisposeStatInfo__triangle.is-LongUnnew {
    border-right-color: #eead0e;}
.orderDisposeStatInfo__triangle.is-SpecmentReject{border-right-color:#ff82ff;}
.orderDisposeStatInfo__triangle.is-RefuseDispDrug{border-right-color:#ffc3c6;}
.orderDisposeStatInfo__triangle.is-AlreadyStop{border-right-color:#c6c3ff;}
.orderDisposeStatInfo__triangle.is-AlreadyDeal{border-right-color:#b4a89a;}
.orderDisposeStatInfo__triangle.is-NeedToStop{border-right-color:#f37476;}
.orderDisposeStatInfo__triangle.is-NeedToDeal{border-right-color:#f1c516;}
.orderDisposeStatInfo__triangle.is-Exec{border-right-color:#b4a89a;}
.orderDisposeStatInfo__triangle.is-ExecDiscon{border-right-color:#b4a89a;}
.orderDisposeStatInfo__triangle.is-Discontinue{border-right-color:#3494d4;}
.orderDisposeStatInfo__triangle.is-SkinTestAbnorm{border-right-color:#ff7965;}
.orderDisposeStatInfo__triangle.is-SkinTestNorm{border-right-color:#b4a89a;}
.orderDisposeStatInfo__triangle.is-SkinTest{border-right-color:#8df38d;}
.orderDisposeStatInfo__triangle.is-Immediate{border-right-color:#51b80c;}
.orderDisposeStatInfo__triangle.is-LongNew{border-right-color:#ee0;}
.orderDisposeStatInfo__circle {position: absolute;top: -4px;left: 10px;background-color: #fff;content: "";display: block;width: 8px;height: 8px;border-radius: 5px;}
.orderDisposeStatInfo__num {display: inline-block;position: absolute;right: 4px;line-height: 14px;font-size: 14px;font-weight: 700;margin: 0;padding: 1px 0;border-radius: 2px;min-width: 10px;text-align: center;}
/* 处置状态 */
td[field="handleState"]{position: relative;}
.orderDetail{padding: 10px;position: absolute;box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);z-index: 1;background: white;border: 1px solid #ebeef5;border-radius: 4px;display: none;}
.orderDetail>i{position: absolute;height: 2px;background: #c0c4cc;left: 60px;right: 60px;top: 21px;z-index: 0;}
.orderDetail>div{width: 100px;display: inline-block;text-align: center;}
.orderDetail>div>p:first-of-type{width: 24px;height:24px;color: #c0c4cc;border-radius: 50%;border: 2px solid #c0c4cc;    display: inline-block;background: white;position: relative;}
.orderDetail>div>p:nth-of-type(n+2){line-height: 1.2;color: #c0c4cc;}
.orderDetail.down{display: block;left: 50%;transform: translate(-50%, 0);}
.orderDetail.down:before {position: absolute;content: "";width: 10px;height: 10px;border-left: 1px solid #ebeef5;border-top: 1px solid #ebeef5;transform: translate(-50%,0) rotate(45deg);background: white;left: 50%;top: -6px;}
.orderDetail.up{display: block;left: 50%;transform: translate(-50%, -100%);top: 0;}
.orderDetail.up:after {position: absolute;content: "";width: 10px;height: 10px;border-right: 1px solid #ebeef5;border-bottom: 1px solid #ebeef5;transform: translate(-50%,0) rotate(45deg);background: white;left: 50%;bottom: -6px;}
/* 成组标志 */

td[field*="bunch"]{border-right: 0;
    white-space: nowrap;
    color: #6b7a8c;
    text-align: center;
    word-break: break-all;
    text-overflow: ellipsis;
    vertical-align: top;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
    padding: 15px 0 0;
    transition: transform .7s ease;
    font-size: 15px;
    position: relative;
}
.orderGroupChar__groupChart {
    border-color: #ccc;
    border-width: 2px;
    border-bottom-style: none;
    display: block;
    width: 15px;
    height: 30px;
    border-left-style: solid;
}
.orderGroupChar__groupChart:first-child {
    /*margin-top: 10px;*/
    border-top-style: solid;
}
.orderGroupChar__groupChart:last-child {
    border-bottom-style: solid;
}
.datagrid-body td[field="arcimDesc"]>div{font-weight: bold;line-height: 30px;}
.exeTable{width: 100%;border-collapse: collapse;}
.exeTable tr{height: 40px;}
.exeTable tr>td:first-of-type{width: 25%;}
.exeTable .spinner-arrow{margin-left: -8px;}
input.textbox{box-sizing: border-box;}
span.printFlag{font-weight: bold;color: #409eff;margin-left: 5px;}

.datagrid-cell{white-space: normal;}
.searchbox .searchbox-prompt{color: #999;}
tr.datagrid-header-row>td[field="arcimDesc"]>div{text-align: center;}
tr.datagrid-header-row>td[field="arcimDesc"]>div>span{margin-left: -10px;}
/*.content .datagrid-btable, .datagrid-ftable, .datagrid-htable{
    border-top: 1px solid #cccccc;
}*/
#readCardBtn .l-btn-text,#BBookFind .l-btn-text {
	padding: 0 15px;
}