.datagrid-body {
	overflow-x:auto
}
/* <
layout start
*/
#main>.layout>.layout-panel-center>.panel-header {
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0
}
#main>.layout>.layout-panel-center>.panel-body {
    -moz-border-radius:0 0 4px 4px;
    -webkit-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px
}
/* >
*/
div.left-bracket {
    border-style:solid;
    border-color:#97a8be;
    width:20px;
    height:15px;
    border-width:0 0 0 1px
}
div.right-bracket {
    border-style:solid;
    border-color:#97a8be;
    width:20px;
    height:15px;
    border-width:1px 0 0 1px
}
div.arcimdesc>div:first-child .left-bracket {
    border-width:0
}
div.arcimdesc>div:last-child .right-bracket {
    border-width:1px 0 0 0
}
p {
	margin-top:5px !important;
	margin-bottom:5px !important
}
div.orderstep {
	display:-webkit-flex;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	color:#1890ff
}
div.orderstep div.splitline {
	margin-top:25px;
	width:100px;
	color:rgba(0,0,0,.65);
	text-align:center;
	border-top:1px solid #1890ff
}
div.orderstep div.orderstep_item:first-child div.splitline {
	display:none
}
div.orderstep div.orderstep_btn {
	text-align:center;
	border:1px solid #1890ff;
	padding:3px 25px;
	border-radius:5px
}
div.orderstep p.text {
	color:rgba(0,0,0,.65)
}
table.datagrid-cell-table>tbody>tr>td {
	padding-top:4px
}
table.datagrid-cell-table>tbody>tr:last-child>td {
	padding-bottom:4px
}
#main {
	padding:10px;border-color:#ccc
}
