/*
/// Creator:      EH
/// CreatDate:    2021-08-10
/// Description:  ui组要求 padding: 10px/4px，控件: 28px
*/

.datagrid-body {
	overflow-x:auto
}

/* <
layout start
*/
.layout-split-north {
    border-bottom:10px solid #fff
}
.layout-split-east {
    border-left:10px solid #fff
}
.layout-split-south {
    border-top:10px solid #fff
}
.layout-split-west {
    border-right:10px solid #fff
}
.layout>.panel>.panel-header {
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0
}
.layout>.panel>.panel-body {
    -moz-border-radius:0 0 4px 4px;
    -webkit-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px
}
/* >
*/

/* <
tbar start
*/
.div-tbar {
    height:auto;
    padding:1px 2px;
    border-width:0 0 1px;
    border-style:solid;
    border-color:#ddd
}
.div-tbar>table {
	padding:0 2px
}
.div-tbar-center {
	text-align:center
}
.div-tbar-center-table {
	margin:auto
}
/* 用作非按钮型tbar，同时区分span-label改为r-label */
.div-tbar-inline {
	padding:4px 0 4px 10px;border-bottom:0;display:flex
}
.div-tbar-dash {
	height:0;border:0;border-bottom:1px dashed #ddd
}
.div-tbar-line {
	height:0;border:0;border-bottom:1px solid #ddd
}
.div-tbar .span-label,.div-tbar-inline .span-label {
	padding:0 10px 0 10px
}
/* 保留页面书写方式，已解析的div */
.div-tbar .hisui-linkbutton>.l-btn-left>.l-btn-text,.div-dialog-bbar .hisui-linkbutton>.l-btn-left>.l-btn-text {
	padding-left:0
}
.div-tbar .hisui-linkbutton .l-btn-left>.l-btn-text>.l-btn-left>.l-btn-text,.div-dialog-bbar .hisui-linkbutton .l-btn-left>.l-btn-text>.l-btn-left>.l-btn-text {
    padding-left:20px;margin-left:0
}
.div-tbar .hisui-linkbutton,.div-dialog-bbar .hisui-linkbutton {
	margin-left:10px
}
.div-tbar .l-btn-plain,.div-dialog-bbar .l-btn-plain {
    padding:0;
    border:0;
    margin-top:3px;
    margin-bottom:3px
}
.div-tbar .l-btn-plain>.l-btn-icon-left>.l-btn-text,.div-dialog-bbar .l-btn-plain>.l-btn-icon-left>.l-btn-text {
    line-height:22px;
    padding:0 10px 0 31px;
    margin:0;
    color:#666
}
.div-tbar .l-btn-plain>.l-btn-icon-left>.l-btn-icon,.div-dialog-bbar .l-btn-plain>.l-btn-icon-left>.l-btn-icon {
    left:5px;
    height:22px;
    width:26px
}
.div-tbar .l-btn-plain>.l-btn-empty>.l-btn-text,.div-dialog-bbar .l-btn-plain>.l-btn-empty>.l-btn-text {
	width:0;padding:0 26px 0 0
}
.div-tbar .l-btn-plain>.l-btn-empty>.l-btn-icon,.div-dialog-bbar .l-btn-plain>.l-btn-empty>.l-btn-icon {
	left:0
}
/* >
*/

/* <
set start
*/
/* 防止hisui覆盖width */
.div-set {
	width:386px !important;border-top:0 !important;border-left:0 !important;border-right:0 !important
}
.div-set-body-item {
	padding:4px 10px 0 10px;display:flex
}
.div-set-body>div:last-child {
	margin-bottom:4px
}
.div-set-body-item-label {
	width:120px;text-align:right;line-height:28px;padding:0 10px 0 0
}
/* 合并边框
border-collapse:collapse 表示相邻单元格共用一个边框，此时 border-spacing 将不起作用，设置为collapse单元格间距将消失
border-spacing:0 此时边框间隔为0，看上去像是被合并了，但每个td都会有两个边框，相邻td边框会比最左/最右的不邻td的边框厚2倍
*/
.div-set-body-item table {
    border-collapse:collapse
}
.div-set-body-item td {
    border:0
}
/* >
*/

/* <
dialog start
*/
/* 防止hisui覆盖width */
.div-dialog {
	border:0
}
.div-dialog-body {
	text-align:center
}
.div-dialog-body-item {
	padding:10px 10px 0 10px;display:flex
}
.div-dialog-body>div:last-child {
	margin-bottom:10px
}
.div-dialog-body-item-label {
	width:120px;text-align:right;line-height:28px;padding:0 10px 0 0
}
.div-dialog-bbar {
	height:40px;padding:0 0 20px 0
}
/* >
*/

#main {
	padding:10px;border-color:#ccc
}
#locPanel {
	width:330px
}
#settingPanel {
	width:398px
}
#settingPanel .panel-header-card-gray {
    border-bottom:0;padding:4px 0
}
#settingPanel .panel-header-card-gray .panel-title {
	font-weight:bold
}
