/** 
 * 药房药库前台UI css
 */

/* override start */
.layout-split-proxy-h {
    width: 10px;

    border-radius: 4px;
    background-color: #ccc;
}

.layout-split-proxy-v {
    height: 10px;

    border-radius: 4px;
    background-color: #ccc;
}

.layout-split-west {
    border-right: 10px solid #fff;
}

.layout-split-east {
    border-left: 10px solid #fff;
}

.layout-split-north {
    border-bottom: 10px solid #fff;
}

.layout-split-south {
    border-top: 10px solid #fff;
}

/* override end */
/*****************************************************************************/
/* pha start */
.pha-body {
    padding: 10px;
}

.pha-panel-body-content {
    padding: 10px;
}

.pha-label-v {
    margin-right: 10px;
}

.pha-container {
    /*padding:10px;*/
}

.pha-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pha-col:first-child {
    margin-left: -1px;
}

/* inline-block 有间隙,大概4px */
.pha-col {
    display: inline-block;

    margin-left: -4px;
    padding-left: 10px;

    vertical-align: middle;
}

.pha-container-rows-1 {
    height: 95px;
}

.pha-container-rows-2 {
    height: 135px;
}

.pha-container-rows-3 {
    height: 175px;
}

.pha-container-rows-4 {
    height: 215px;
}

.pha-container-rows-5 {
    height: 255px;
}

.pha-container-rows-6 {
    height: 295px;
}

.pha-container-rows-7 {
    height: 335px;
}

.pha-container-rows-8 {
    height: 375px;
}

.pha-container-rows-9 {
    height: 415px;
}

.pha-container-rows-9 {
    height: 455px;
}

.pha-container-rows-10 {
    height: 495px;
}

.pha-container-rows-11 {
    height: 535px;
}

.pha-container-rows-12 {
    height: 575px;
}

.pha-line {
    border-bottom: 1px dashed #ccc;
}

.pha-tip-info {
    line-height: 25px;

    height: 28px;
    padding-left: 23px;

    color: #1278b8;
    border: 1px solid #c0e2f7;
    border-radius: 4px;
    background: url('../../../../../scripts_lib/hisui-0.1.0/dist/css/icons/tip.png') #e3f7ff no-repeat;
    background-position: 10px center;
}

/* pha end */

/* icon start */
.icon-alert-pen {
    background: url(icons/alert_pen.png) no-repeat center center;
}

.icon-board-alert {
    background: url(icons/board_alert.png) no-repeat center center;
}

.icon-doctor-green-pen {
    background: url(icons/doctor_green_pen.png) no-repeat center center;
}

.icon-injector-water {
    background: url(icons/injector_water.png) no-repeat center center;
}

.icon-paper-group {
    background: url(icons/paper_group.png) no-repeat center center;
}

.icon-paper-key {
    background: url(icons/paper_key.png) no-repeat center center;
}

.icon-paper-ques {
    background: url(icons/paper_ques.png) no-repeat center center;
}

.icon-paper-pen {
    background: url(icons/paper_pen.png) no-repeat center center;
}

.icon-liquid-drug {
    background: url(icons/liquid_drug.png) no-repeat center center;
}

.icon-pack {
    background: url(icons/pack.png) no-repeat center center;
}

.icon-pack-cancel {
    background: url(icons/pack_cancel.png) no-repeat center center;
}

.icon-pivas-arrange {
    background: url(icons/pivas_arrange.png) no-repeat center center;
}

.icon-pivas-drug {
    background: url(icons/pivas_drug.png) no-repeat center center;
}

.icon-pivas-exe {
    background: url(icons/pivas_exe.png) no-repeat center center;
}

.icon-pivas-oeaudit {
    background: url(icons/pivas_oeaudit.png) no-repeat center center;
}

.icon-pivas-query {
    background: url(icons/pivas_query.png) no-repeat center center;
}

.icon-pivas-refuse {
    background: url(icons/pivas_refuse.png) no-repeat center center;
}

.icon-pivas-refuse-cancel {
    background: url(icons/pivas_refuse_cancel.png) no-repeat center center;
}

.icon-pivas-update {
    background: url(icons/pivas_update.png) no-repeat center center;
}

.icon-print-label-stop {
    background: url(icons/print_label_stop.png) no-repeat center center;
}

.icon-print-record {
    background: url(icons/print_record.png) no-repeat center center;
}

.icon-print-stop {
    background: url(icons/print_stop.png) no-repeat center center;
}

.icon-print-tpn {
    background: url(icons/print_tpn.png) no-repeat center center;
}

.icon-print-label {
    background: url(icons/print_label.png) no-repeat center center;
}

.icon-reprint {
    background: url(icons/reprint.png) no-repeat center center;
}

.icon-ward {
    background: url(icons/ward.png) no-repeat center center;
}

.icon-ward-pat {
    background: url(icons/ward_pat.png) no-repeat center center;
}

.icon-work-grp {
    background: url(icons/work_grp.png) no-repeat center center;
}

.icon-work-grp-set {
    background: url(icons/work_grp_set.png) no-repeat center center;
}

/* icon end */

.oeori-sign-c {
    position: relative;
    left: 5px;

    width: 0;
    height: 33px;

    border-left: 3px solid #563d7c;
}

.oeori-sign-t {
    position: relative;
    top: 15px;
    left: 5px;

    width: 7px;
    height: 33px;

    border-top: 3px solid #563d7c;
    border-left: 3px solid #563d7c;
    border-radius: 5px 0 0 5px;
}

.oeori-sign-b {
    position: relative;
    bottom: 15px;
    left: 5px;

    width: 7px;
    height: 33px;

    border-bottom: 3px solid #563d7c;
    border-left: 3px solid #563d7c;
    border-radius: 0 5px 0 5px;
}

/* 覆写HISIU Start 后续看HIUSI情况,选择性屏蔽*/
body input:focus {
    border: 1px solid #9ed2f2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* 覆写HISUI End */
.pha-ly-hosp {
    overflow: hidden;
}
