/**
 * 药房药库前台极简UI css
 * Huxt 2022-04-01
 * pha/com/v1/css/ui.lite.css
 */
.validatebox-text {
    width: 153px;
}
input.validatebox-text {
    width: 153px;
}
textarea {
    margin-bottom: -10px;
    border-radius: 2px;
    spellcheck: false;
    width: 154px;
}
.hisui-datebox {
    width: 158px;
}
.hisui-linkbutton {
    text-align: center;
}
.pha-button-word2 {
    width: 58px;
}
.pha-button-word3 {
    width: 72px;
}
.pha-button-word4 {
    width: 86px;
}
.pha-button-word5 {
    width: 100px;
}
.pha-button-word6 {
    width: 114px;
}
.pha-button-word7 {
    width: 128px;
}
.pha-button-word8 {
    width: 142px;
}

a:hover{
    cursor: pointer;
}

.pha-field-required{
    color:red;
}
.panel-body {
    border-top-color: #E2E2E2;
}
#report .keywords li{
    width : 135px;
} 
.reportImage{
   align : center;
   height : 100%;
   width : 100%;
   background : url('../scripts/pharmacy/common/image/bg-nodata.png') no-repeat center;
}
#report .kw-section-list > li{
   margin : 0px 0px 0px 10px;
} 
.pha-table-toolbar-button {
    height: 35px;
}

.pha-table-toolbar-button > div:first-child {
    position: relative;
    top: 4px;
}
/* 非原生勾选, 代表此行将用于删除 */
.pha-datagrid-check-delete {
    background-color: #f2f2f2;
}
/* 非原生勾选, 代表此行将用于保存 */
.pha-datagrid-check-save {
    background-color: #d9e7f1;
}
/*  */
.pha-datagrid-td-trans-all {
    background-color: #2ab66a;
    color:#fff;
}
.pha-datagrid-td-trans-part {
    background-color: #ffb746;
    color:#fff;
}
.pha-datagrid-price-warning{
    background-color: #ee4f38 !important;
    color: #fff;
}
/* 空按钮宽度一致, 临时用  */
/*#qCondition a,#qCondition-q a{
    width:100%;
}*/
.pha-datagrid-validate-col{
    background-color: #ffe3e3 !important; 
    color: #ff3d2c !important;
}
.pha-datagrid-validate-row{
    background-color: rgb(255, 237, 206);
}
.pha-body {
    padding: 10px;
    padding-top: 6px;
    border:0;
}
/* 任何按钮的不可用都是灰色, 如果hisuilite改好了样式, 则屏蔽即可  */
/*
.hisui-linkbutton.l-btn.l-btn-small.l-btn-disabled{
    background: #E5E5E5 !important;
}
*/
/*差异数 小于0(负数)*/
.pha-datagrid-difqty-negative{
    background-color:#FE9EA6;
}
/*差异数 大于0(正数)*/
.pha-datagrid-difqty-positive{
    background-color:#77FFCC;
}
/* 重要提醒 */
.pha-datagrid-status-warn{
    background-color: #ee4f38 !important; 
    color: #fff !important;
}
.pha-grid-link {
    color:#017bce;   
}
.pha-tri {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent;
}

.pha-tri-white {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent;
}

.pha-tri-up {
    border-bottom-color: #ccc;
    position: absolute;
    top: -20px;
    left: calc(50% - 20px);
}

.pha-tri-white-up {
    border-bottom-color: #fff;
    position: absolute;
    top: -19px;
    left: calc(50% - 20px);
}

.pha-tri-down {
    border-top-color: #ccc;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
}

.pha-tri-white-down {
    border-top-color: #fff;
    position: absolute;
    bottom: -19px;
    left: calc(50% - 20px);
}

.pha-sm-button-primary:hover {
    background: #66b1ff;
    border-color: #66b1ff;
}

.pha-sm-button-default:hover {
    color: #66b1ff;
}

.pha-sm-button {
    cursor: pointer;
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px;
}

.pha-sm-button-primary {
    background-color: #409eff;
    color: #fff;
}

.pha-sm-button-default {
    background-color: #fff;
    color: #409eff;
}

.pha-popconfirm {
    background-color: #fff;
    position: absolute;
    display: none;
    z-index: 100;
}

.pha-popconfirm-body {
    position: relative;
    border: 1px solid #ccc;
    width: 200px;
    height: auto;
    border-radius: 4px;
    padding: 10px;
    padding-top: 20px;
}

.pha-popconfirm-footer {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 7px;
}

.popconfirm-info {
    float: left;
    padding-left: 5px;
}
.pha-a-split{
    color: #666;
}
.pha-banner-label{
    float:left;
    padding: 1px 4px;
    border: none;
    border-radius: 2px;
    color: #fff;
 } 
.pha-label-warn {
    background-color: #f16e57;
}

.pha-vstep-content-more{
    padding-left:35px;
    clear:both;
    font-weight: normal;
 }
 

#PHA_Busi_TimeLine_Line .title{
    min-width: 5rem;
}


 /* 88的极简风格部署到炫彩版项目上需要修改的样式-- start */
.panel-header{
	border-radius:4px 4px 0 0 !important;	
	background:#f9f9fa !important;
	border-color:#ccc;
}

.panel-body{
	border-radius:0 0 4px 4px !important;
	border-color:#ccc;
}

.panel-title{
	color: #000 !important;
}

.panel-body-noheader{
	border-radius:4px 4px 0 0 !important;	
} 
.window-header{
	border-bottom:1px solid #E2E2E2 !important;
}

.panel-tool-close{
	background :url(../../../../../scripts_lib/hisui-0.1.0/dist/css/images/panel_tools_1.png) -16px 0 no-repeat !important;
}

.panel-tool-close:hover{
	background-color:red !important;
	background-image:url(../../../../../scripts_lib/hisui-0.1.0/dist/css/images/panel_tools_2.png) !important;
}

.layout-button-up{
	background: url(../../../../../scripts_lib/hisui-0.1.0/dist/css/images/layout_arrows_black.png) -16px -16px no-repeat !important;
}

.layout-button-down{
	background: url(../../../../../scripts_lib/hisui-0.1.0/dist/css/images/layout_arrows_black.png) -16px 0 no-repeat !important;
}

.layout-expand{
	background-color: #fff !important;
}

/* 88的极简风格部署到炫彩版项目上需要修改的样式-- End */