body,
.mui-content {
	background: #FBFBFB;
	font-family: "microsoft yahei";
	overflow: hidden;
}

.mui-scroll.mui-scroll-iPhone {
    /* padding-bottom: 70px; */
	padding-bottom: 4.375rem;
}

.life-title,
.nur-title {
	position: absolute;
	background: white;
	text-align: center;
	z-index: 3;
	left: 0;
	right: 50%;
	/* top: 10px;
	 height: 50px;
	line-height: 40px; */
	top: 0.625rem;
	height: 3.125rem;
	line-height: 2.5rem;
}

.life-title {
    	transition: right .4s ease, z-index .4s ease, opacity .4s ease;
	background: white;
	opacity: 0.9;
	/* border-left: 10px solid #FBFBFB;
	border-right: 5px solid #FBFBFB; */
	border-left: 0.625rem solid #FBFBFB;
	border-right: 0.3125rem solid #FBFBFB;
}

.nur-title {
    left: 50%;
    right: 0px;
    transition: left .4s ease, z-index .4s ease, opacity .4s ease;
	background: white;
	opacity: 0.9;
	/* border-left: 5px solid #FBFBFB;
	border-right: 10px solid #FBFBFB; */
	border-left: 0.3125rem solid #FBFBFB;
	border-right: 0.625rem solid #FBFBFB;
}

.life-title .text,
.nur-title .text {
    color: #323232;
    font-weight: bold;
    border: 1px solid lightgray;
	height: 100%;
    width: 100%;
	/* font-size: 18px;
	padding-left: 10px;
    	line-height: 50px; */
	font-size: 1.0625rem;
	padding-left: 0.625rem;
	line-height: 3.125rem;
}

.scaleBtn {
    float: right;
    color: #323232;
    text-align: center;
	/* width: 50px;
	height: 50px;
	font-size: 22px; */
	width: 3.125rem;
	height: 3.125rem;
	font-size: 1.375rem;
}

.life-area,
.nur-area {
    left: 0px;
    width: 50%;
    bottom: 0px;
    background: white;
	top: 3.6875rem;
}

.life-area {
    transition: width .4s ease, right .4s ease, z-index .4s ease, opacity .4s ease;
	/* border-left: 10px solid #FBFBFB;
	border-right: 5px solid #FBFBFB; */
	border-left: 0.625rem solid #FBFBFB;
	border-right: 0.3125rem solid #FBFBFB;
}

.nur-area {
    left: 50%;
    right: 0px;
    transition: width .4s ease, left .4s ease, z-index .4s ease, opacity .4s ease;
	border-left: 0.3125rem solid #FBFBFB;
	border-right: 0.625rem solid #FBFBFB;
}

.life .life-title,
.life .life-area {
    z-index: 10;
	/* right: 5px; */
	right: 0.3125rem;
}

.life .life-area {
    width: calc(100% - 0.3125rem);
}

.life .nur-title,
.life .nur-area,
.nur .life-title,
.nur .life-area {
    opacity: 0;
}

.nur .nur-title,
.nur .nur-area {
	z-index: 10;
	/* left: 5px; */
	left: 0.3125rem;
}

.nur .nur-area {
    width: calc(100% - 0.3125rem);
}

#lifeNull,#nurNull{
	position: absolute;
	transition: left .4s ease, z-index .4s ease, opacity .4s ease;
	/* left: calc(25% - 70px); */
	left: calc(25% - 4.375rem);
}
#nurNull{
	/* left: calc(75% - 70px); */
	left: calc(75% - 4.375rem);
}
.life #lifeNull,.nur #nurNull{
	z-index: 10;
	opacity: 1;
	/* left: calc(50% - 70px); */
	left: calc(50% - 4.375rem);
}
.life #nurNull,.nur #lifeNull{
	opacity: 0;
}
#patNull{
	display: none;
	position: absolute;
	top: 40%;
	z-index: 998;
	/* left: calc(50% - 70px); */
	left: calc(50% - 4.375rem);
}

.mui-scroll-wrapper,
.mui-scroll {
    background: #FBFBFB;
}

.title1,
.title2,
.title12 {
    font-weight: 600;
    background: #F3F8FF;
    width: 12%;
    text-align: center;
    color: #333333;
	word-break: break-all;
	word-wrap:break-word;
	/* font-size: 15px; */
	font-size: 0.9375rem;
}

.title2 {
	font-weight: normal;
	/* width: 60px; */
	width: 8%;
}

.title12 {
	/* width: calc(12% + 60px); */
	width: 20%;
}
.title1 div,.title12 div{
	display: inline-block;
}

.content {
	font-weight: normal;
	white-space: pre-line;
	/*height: 60px;
	width: calc(88% - 60px);
	padding: 5px 0px 5px 10px;
	letter-spacing: 2px;
	line-height: 25px;
	font-size: 16px;*/
	height: 3.75rem;
	width: 80%;
	padding: 0.3125rem 0px 0.3125rem 0.625rem;
	letter-spacing: 0.125rem;
	line-height: 1.5625rem;
	font-size: 1rem;
}

.nur-area .title1 {
    width: 16%;
}

.nur-area .title2 {
    /* width: 70px; */
	width: 8%;
}
.nur-area .title12 {
    /* width: calc(16% + 70px); */
	width: 24%;
}


.nur-area .content {
    /* width: calc(84% - 70px); */
	width: 76%;
}

table,
tbody {
    width: 100%;
	background: white;
}

table {
    border-left: solid lightgray 1px;
    border-top: solid lightgray 1px;
	border-right: solid lightgray 1px;
}

td {
    border-right: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
    word-break: break-word;
	height: 2.5rem;
}
th{
	height: 0px;
}
/***********患者模式**************/
.pat-head{
	position: absolute;
	z-index: 997;
	transition: top .4s ease;
	top: 2510px;
	/* left: 10px;
	width: calc(100% - 20px); */
	left: 0.625rem;
	width: calc(100% - 1.25rem);
}
.pat-head th{
	font-weight: normal;
	border-right: lightgray 1px solid;
	border-bottom: lightgray 1px solid;
	background: #F3F8FF;
	/* height: 40px; 
	font-size: 16px;*/
	height: 2.5rem;
	padding: 0;
	font-size: 1rem;
}
.pat-head th:last-child{
	border-right:0px;
}
.pat-area{
	top: 2550px;
	z-index: 996;
	background: white;
	transition: top .4s ease;
	/* left: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 50px); */
	left: 0.625rem;
	width: calc(100% - 1.25rem);
	height: calc(100% - 3.125rem);
}

.pat-area td{
	color: #333333;
	/* height: 45px;
	font-size: 15px; */
	height: 2.8125rem;
	font-size: 0.9375rem;
}
.pat-head.patMode{
	/* top: 10px; */
	top: 0.625rem;
}
.pat-area.patMode{
	/* top: 50px; */
	top: 3.125rem;
}
.bedCode,.patName,.taskContent{
	width: 10%;
	text-align: center;
}
.pat-area td.patName{
	font-weight: 600;
}
.pat-area tr:nth-child(2n) td{
	background: #FAFAFA;
}
.taskContent{
	width: 40%;
	/* padding: 10px; */
	padding: 0.625rem;
}
.pat-area td.taskContent{
	text-align: left;
	color: #555555;
	/* font-size: 16px;
	line-height: 28px; */
	font-size: 1rem;
	line-height: 1.75rem;
}

/************责组筛选*************/
.res-filter,.time-filter ,.res-pat{
    position: absolute;
    left: 0px;
    display: flex;
    border: solid 1px #017BCE;
    background: white;
    z-index: 998;
	overflow: hidden;
	transition: bottom .4s ease;
	color: dimgrey;
	/* bottom: 10px;
	height:40px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px; */
	bottom: 0.625rem;
	height:2.5rem;
	border-top-right-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
}

.res-btn,.time-btn,.res-pat-btn {
	border-right: #017BCE solid 1px;
	text-align: center;
	/*padding: 0px 8px;
	font-size: 15px;
	line-height:40px;
	 min-width: 60px; */
	padding: 0 0.5rem;
	font-size: 0.9375rem;
	line-height: 2.5rem;
	min-width: 3.75rem;
}
.res-btn:first-child{
	overflow: hidden;
	word-break: keep-all;
	/* width: 60px; */
	width: 3.75rem;
}
.res-btn:last-child,.time-btn:last-child,.res-pat-btn:last-child{
	border-right-color: transparent;
}

.res-btn.dhc-active,.time-btn.dhc-active ,.res-pat-btn.dhc-active{
    background: #017BCE;
    color: white;
	font-weight: 700;
	/* font-size: 17px; */
	font-size: 1.0625rem;
}
.res-filter.patMode{
	/* bottom: 60px; */
	bottom: 3.75rem;
}
.time-btn.dhc-active{
	padding: 0;
}
/************任务模式/患者模式开关*************/
.res-pat{
	left: auto;
	color: dimgrey;
	/* right: 10px;
	bottom: 10px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px; */
	right: 0.625rem;
	bottom: 0.625rem;
	border-top-left-radius: 1.25rem;
	border-bottom-left-radius: 1.25rem;
}
.res-pat-btn.dhc-active{
	font-weight: 500;
}
.res-pat.patMode{
	 /* bottom: 60px; */
	 bottom: 3.75rem;
}
/************患者模式筛选*************/
.time-filter{
	/* width: 1500px;
	bottom: -60px; */
	width: 93.75rem;
	bottom: -3.75rem;
}
.time-filter.patMode{
	/* bottom: 10px; */
	bottom: 0.625rem;
}
.time-btn{
	overflow: hidden;
	word-break: keep-all;
	/* min-width: 30px;
	 width: calc(100% /24 - 2.5px);*/
	min-width: 1.875rem;
	width: calc(100% /24 - 0.15625rem);
	
}
.time-btn:first-child{
	/* width: 60px;
	min-width: 60px; */
	width: 3.75rem;
	min-width: 3.75rem;
}
/**********夜间模式**********/

body.nightMode,
.nightMode .mui-content {
    background: #313838;
}

.nightMode .life-title,
.nightMode .nur-title{
    border-color: #313838;
    background: #313838;
}

.nightMode .life-title .text,
.nightMode .nur-title .text {
    color: whitesmoke;
    border: gray 1px solid;
}

.nightMode .scaleBtn {
    color: whitesmoke;
}

.nightMode .life-area,
.nightMode .nur-area {
    border-color: #313838;
    background: #313838;
}

.nightMode .mui-scroll-wrapper,
.mui-scroll {
    background: transparent;
}

.nightMode table {
    border-color: gray;
}

.nightMode .title1,
.nightMode .title2,
.nightMode .title12,
.nightMode .content {
    background: #313838;
    color: lightgray;
    border-color: gray;
}

.nightMode .content {
    background: #404848;
    color: whitesmoke;
}
.nightMode .res-filter,.nightMode .time-filter ,.nightMode .res-pat{
	background: #404848;
	color: whitesmoke;
	border-color: #4682B4;
}

/***患者模式下**/
.nightMode .pat-area.mui-scroll-wrapper,
.nightMode .pat-area .mui-scroll {
    background: #404848;
}
.nightMode .pat-head th{
	border-color: gray;
	background: #313838;
	color: whitesmoke;
}
.nightMode .pat-area td{
	background: #404848;
	color: lightgray;
	border-color: gray;
}
.nightMode .pat-area tr:nth-child(2n) td{
	background: #313838;
}
.nightMode .res-btn.dhc-active,.nightMode  .time-btn.dhc-active,.nightMode  .res-pat-btn.dhc-active{
	background: #4682B4;
	color: whitesmoke;
}
.nightMode .res-btn, .nightMode .time-btn, .nightMode .res-pat-btn{
	border-color: #4682B4;
	color: whitesmoke;
}