#navcategory{
	width:100%;
	height:100%;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EEF1F2', GradientType='0');
}
ul.navcategory{
	list-style-type:none;
	padding:0px;
	margin:0px;
	overflow:hidden;
	color: black;
	font-size: 14px;
	font-weight: bold;
	font-family:"Microsoft Yahei";
}

.navcategory li{
	float:left;
	width:100%;
}

.navcategory li a:link,a:visited{
	display:block;
	width:100%;
	font-weight:bold;
	color:black;
	text-align:center;
	padding:5px;
	text-decoration:none;
}
.navcategory li a:hover,a:active.cssACategory{
   background-color:#CBE8F6;
	font-size: 16px;

}

.tableStyle01 {
	background-color: #ABDDEE;
}
.TDstyle01 {
	font-size: 12px;
	color: #000000;
	background-color: #F6FCFD;
	line-height: 22px;
	height: 24px;
}
