*{margin:0;padding:0;}
a{text-decoration:none;color:#282828;}
a img{border:none;}
.clear{clear:both;}
body{font-family:Microsoft Yahei;font-size:13px;padding:0;margin:0; color:#000;}



.apply_array .content {
 display:block;
 width:140px;
 height:150px;
 text-align:left;
 padding:0px 0px 10px 0px;
 background:#ffffff;
 color:#000000;
 position: relative;
 border: 1px solid #D7D7D7;
 cursor:pointer;
}
.apply_array .content:hover {
 background-color:#EFF8FE;
}
.titlediv
{ 
    position:absolute; 
	bottom:20px;
	padding:0px,2px,0px,2px;
   	background-color:#48b77f;
   	text-align:center;
	overflow:hidden;
	height:20px;
	width:139px;
	line-height:25px;
	border:1px solid #339966;
	border-bottom:none; 
	color:#fff; 
	font-size:12px;
	transition:0.5s;
}
.datediv
{ 
	padding:0px,2px,0px,2px;
	position:absolute; 
	bottom:0px;
   	background-color:#48b77f;
   	folat:left;
   	text-align:center;
	overflow:hidden;
	height:20px;
	line-height:25px;
	width:139px;
	border:1px solid #339966;
	border-top:none;
	color:#fff; 
	font-size:12px;
	transition:0.5s;
}
.imgdiv
{
	vertical-align:middle;
}
.tooldiv
{
	text-align:center;
	padding:2px;
}
.tooldiv a
{
	 text-decoration:none;
	 color:blue;
}
.tooldiv a:hover 
{
	color: red; 
	text-decoration:underline;
	
} 

.titlelist
{
	text-align:left;
	height:32px;
	line-height:25px;
	background:#f5f5f5;
	padding:6px 0 0 10px;
}
.titlelist span
{
	padding-left:10px;
}
input[type="radio"] 
{
	font-size:12px; border-radius:3px; padding:2px 8px; 
	margin:0 2px 0 2px;
	text-decoration:none; transition:0.5s;
}

#search-picture
{
	height:20px;
	border:0;
	margin:5px 10px -3px 18px;
}

.fac{ min-width:880px; _min-width:880px;}
.fac_north{ padding:5px 10px 5px 10px;height:250px;}
/* apply */
.apply{text-align:center; border:1px solid #e8e8e8;float:left;width:100%; margin:0 0 10px 0;height:245px;}
.apply_array{ float:left; padding:2px; cursor:pointer;transition:0.5s;margin:20px 16px 0;}
.apply_nav{position:relative;float:left;margin:0 10px 0 10px;height:205px;overflow:hidden;width:92%;}
.apply_w{position:absolute;margin-top:0px;width:auto;float:left;left:0px;height:205px;}
.apply .box{height:206px;padding:0 10px; overflow:hidden;}
.apply .box .img_l{transition:0.5s;width:12px; height:36px; display:block;opacity:0.8;padding:70px 12px 0 12px;float:left;cursor:pointer; margin:80px 0px 0px 5px;}
.apply .box .img_r{transition:0.5s;width:12px; height:36px; display:block;opacity:0.8;padding:70px 12px 0 12px;float:left;cursor:pointer; margin:80px 5px 0px 0px;}
.apply .box .img_l:hover,.box .img_r:hover{opacity:1;}
.empty{ margin:20px 16px 0; cursor:auto; float:left; transition:0.5s; text-align:center;width:100px; height:140px; border:1px dashed #d7d7d7; color:#8d8a8a; font-size:12px; padding:10px 20px; line-height:2;}
.empty .p{ background:url(../image/icon/arrowscq.png) -72px 0px no-repeat; height:58px; width:58px; margin:10px 15px 12px 20px;}
.info{text-align:left; padding:2px 2px 6px 6px; font-size:12px;}
.pic{background:url(../image/icon/arrowscq.png) -130px 0px no-repeat; width:26px; height:37px; margin:-18px -20px 0px 0px; color:#ff4800; font-size:11px; padding:8px 4px 0px 7px; transition:0.5s; float:right; opacity:0.7;}
.pic:hover{ opacity:1;}


.fac_south{transition: 0.5s;}
.fac_south > .t{ height:25px;border-top:1px solid #585e65; background:#d5d5d5; width:100%; font-size:12px; float:left;padding:5px 0 0 10px; cursor:pointer; transition:0.5s;}
.fac_south > .t:hover{ background:#ebebeb;}
.fac_south > .t i{ font-size:10px; margin:3px 5px 0 0; float:left;}
.in{vertical-align:middle;font-size:12px;color:#999;width:268px;height:20px;margin-left:20px; border:1px solid #57b382;padding:6px 6px 0 6px; font-size:12px;}
#episodeSeek{vertical-align:middle; margin:0px; width:58px;height:28px;background:#57b382;display:inline-block; position:absolute;margin:0 0 0 -4px; transition:0.5s;}
#episodeSeek:hover{ background:#339966;}






