body{
	font:12px Microsoft Yahei;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFDFD', endColorstr='#FFFFFF', GradientType='0');
	height:100%;
	padding-left:3px;
}
div
{
	padding:3px 0 3px 3px;
}

button
{
	width:60px;
	height:25px;
	margin-left:3px;
	
}
.select
{
	padding:3px 0 0 0;
	text-align:left;
	width:180px;
}
.tool
{
	padding:3px 0 3px 3px;
	text-align:right;
}


#tags
{
	border:1px solid #D7D7D7;
	width:295px;
	height:190px;
	Overflow-y:scroll;
}
#txtTagName
{
	width:220px;
}

#btnCancel
{
	width:100px;
}