body{
	font:12px Microsoft Yahei;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFDFD', endColorstr='#FFFFFF', GradientType='0');
	height:100%;
}

#information span
{
	font-weight:bold;
	padding:3px 8px;
}

#operation
{
	border:1px solid #ddd;
	width:400px;
	padding:8px 0px 3px 3px;
	margin:5px 3px 3px 3px;
	height:190px;
}

.ie11 #operation
{
	height:280px;
}

#cbxLocation
{
	width:205px;
	padding-top:3px;
	vertical-align:middle;
}

#txaMemo
{
	width:310px;
	padding:5px;
}

#divLocation,#divMemo,#divTag
{
	padding:5px;
}

.tool
{
	padding-right:12px;
	float:right;
}

button
{
	width:100px;
	height:25px;
	margin-left:3px;
	vertical-align:middle;
}