 em{ font-style:normal; }
.new-item {cursor:pointer;}
.new-item .subitem { width:250px; padding:0px 4px 0px 8px; }
.new-item .subitem dl { border-top:1px solid #EEE; padding:6px 0px; overflow:hidden; zoom:1; }
.new-item .subitem .fore1 { border-top:none; }
.new-item .subitem dt { font-size:12px;float:left; width:70px; line-height:14px; text-align:left; padding:3px 3px 0px 0px; font-weight:700; color:#FFFFFF;height:28px;overflow:hidden; }
.new-item .subitem dt a { color:#365BBD; text-decoration:none; }
.new-item .subitem dd { font-size:12px;width:160px; padding:3px 0px 0px; overflow:hidden;height:29px;line-height:14px; }
.new-item .subitem dd a {color:black; text-decoration:none;}
.new-item .subitem dd a .doc{cursor:pointer; display:block; height:14px; line-height:14px; padding:0px 5px; margin-top:5px; border-left:1px solid #CCC;}
.new-item .subitem dd a .titleInfo{ width:150px; padding-left:10px; border:1px solid #CCC; display:none; overflow:hidden;}
.new-item .subitem dd a .titleInfo .info{ cursor:pointer; padding:5px 0 1px 0;overflow:hidden;}
.new-item .subitem dd a:hover {zoom:1;}
.new-item .subitem dd a:hover .titleInfo{ background-color:#FAFAFA; display:block; color:#000; overflow:hidden;min-height:25px;}
.new-item .subitem dd p .doc{ padding:0px 5px; margin-top:5px; border-left:1px solid #CCC;overflow:hidden;}
.new-item .subitem dd p .doc:hover { font-weight:bold;}
.new-item .subitem dd p .titleInfo{ padding-left:20px; border:1px solid #CCC;  display:none;}
.new-item .subitem dd p .titleInfo div{ padding:5px 0 1px 0;overflow:hidden;}
.new-item .subitem dd p .titleInfo div:hover { font-weight:bold;}
.new-item .subitem dd p:hover .titleInfo{position:absolute; left:75px;background-color:#FAFAFA; display:block; width:163px; color:#000; overflow:hidden;min-height:25px;}
.instance-item {cursor:pointer;}

.spancolor{
	color: black; 
	font-weight:bold;
}
.spancolorleft{
	color: #666;
}

#patientInfo{
	position: relative;
	height:20px;
	line-height:20px;
	width:100%;	 
	margin: 0px;
	padding:0px;
	border: 0px;
	font-size:10pt; 
	text-align: left;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F5FA', endColorstr='#C8E0FB', GradientType='0');
	white-space:nowrap;
	display:none;
	text-overflow: ellipsis;
	overflow: hidden;
	border:0px;
}

.toolspan{
	border-right:1px solid #C8CAD0;
}

#toolBox {
	position: relative;
	height: 50px;
	width: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#F0F0EE', GradientType='0');
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align:middle;
}

.toolblock
{
	float:left;
	vertical-align:middle;
	height:58px;
	margin-right:2px;
	padding:0px 1px 0px 1px;
}

#tool-disease{
	display:none;
	padding-right:5px;
}

#toolBox a{
	folat:left;
	vertical-align:middle;
}

#recordtype{
	width:160px;
	margin:2px 0px 0px 1px;
}

#disease{
	width:160px;
	margin:4px 0px 0px 1px;
}

.tableStyle01 {
	font-size: 12px;
	color: #000000;
	height: 30px;
	top: 15px;
	background-color: #FCFCFC;
}
.tooledit{
	width:360px;
	margin:0px;
	padding:0px;	
}

.commonl{
	padding-top:25px!important;
	margin-top:5px;
	float:left;
	text-align: center;
	font-size:16px;
}

#showtype{
	float:left;
	margin-left:3px;
	background:url('../image/toolbar/editMode.png') no-repeat top center;
}

#spechars{
	background:url('../image/toolbar/spechars.png') no-repeat top center;
	width:46px;
}

#binddatareload{
	background:url('../image/toolbar/reload.png') no-repeat top center;
}

#save{
	background:url('../image/toolbar/save.png') no-repeat top center;
	width:46px;
}

#print{
	background:url('../image/toolbar/print.png') no-repeat top center;
	width:46px;
}

#delete{
	background:url('../image/toolbar/delete.png') no-repeat top center;
	width:46px;
}

#reference{
	background:url('../image/toolbar/reference.png') no-repeat top center;
}

#printView{
	background:url('../image/toolbar/printView.png') no-repeat  top center;
}

#unLock{
	background:url('../image/toolbar/unlock.png') no-repeat top center;
}

#silverLocation{
	background:url('../image/toolbar/silverLocation.png') no-repeat top center;
}

#image{
	background:url('../image/toolbar/image.png') no-repeat top center;
}
#recordtransfer{
	background:url('../image/toolbar/transfer.png') no-repeat top center;
}

#confirmRecordCompleted{
	background:url('../image/toolbar/confirmRecordCompleted.png') no-repeat top center;
}

#favoritesPlus{
	background:url('../image/toolbar/favorites_plus.png') no-repeat top center;
}
#favorites{
	background:url('../image/toolbar/favorites.png') no-repeat top center;
}

#export{
	background:url('../image/toolbar/export.png') no-repeat top center;	
}

#modifysuper{
	background:url('../image/toolbar/modifysuper.png') no-repeat top center;
}

#applyedit{
	background:url('../image/toolbar/applyedit.png') no-repeat top center;
}

#insertTable{
	background:url('../image/toolbar/insertTable.png') no-repeat center center;
}

#deleteTable{
	background:url('../image/toolbar/deleteTable.png') no-repeat center center;
}

#insertRow{
	background:url('../image/toolbar/insertRow.png') no-repeat center center;
}

#insertCol{
	background:url('../image/toolbar/insertCol.png') no-repeat center center;
}

#deleteRow{
	background:url('../image/toolbar/deleteRow.png') no-repeat center center;
}

#deleteCol{
	background:url('../image/toolbar/deleteCol.png') no-repeat center center;
}

#splitCells{
	background:url('../image/toolbar/splitCells.png') no-repeat center center;
}

.editl{
}
.tablel{
	width:40px;
	padding:0 2px 0 3px;
}
#fontSpan{
	float:left;
}
#font{
	width:80px;
	padding-top:3px;
}
#fontcolor{
	background:url('../image/toolbar/fontcolor.png') no-repeat center center;
}
#redo{
	background:url('../image/toolbar/redo.png') no-repeat center center;
}
#undo{
	background:url('../image/toolbar/undo.png') no-repeat center center;
}
#paste{
	background:url('../image/toolbar/paste.png') no-repeat center center;
}
#copy{
	background:url('../image/toolbar/copy.png') no-repeat center center;
}
#cut{
	background:url('../image/toolbar/cut.png') no-repeat center center;
}
#sub{
	background:url('../image/toolbar/sub.png') no-repeat center center;
}
#super{
	background:url('../image/toolbar/super.png') no-repeat center center;
}
#unindent{
	background:url('../image/toolbar/unindent.png') no-repeat center center;
}
#indent{
	background:url('../image/toolbar/indent.png') no-repeat center center;
}
#alignright{
	background:url('../image/toolbar/alignright.png') no-repeat center center;
}
#aligncenter{
	background:url('../image/toolbar/aligncenter.png') no-repeat center center;
}
#alignleft{
	background:url('../image/toolbar/alignleft.png') no-repeat center center;
}
#alignjustify{
	background:url('../image/toolbar/alignjustify.png') no-repeat center center;
}
#strike{
	background:url('../image/toolbar/strike.png') no-repeat center center;
}
#underline{
	background:url('../image/toolbar/underline.png') no-repeat center center;
}
#italic{
	background:url('../image/toolbar/italic.png') no-repeat center center;
}
#bold{
	background:url('../image/toolbar/bold.png') no-repeat center center;
}
#clipboard{
	background:url('../image/toolbar/clipboard.png') no-repeat center center;
}

.ie11 #recording{
	margin-top:-15px;
}

#message{
	border-left:0;
}

#event{
	border:0px;
	line-height:29px;
	border-bottom:1px solid;
	font-weight:bold;
	width:360px;
}

#event img{
	vertical-align:middle;
	margin-right:1px;
	float:left;
}

#lock{
	border:0px;
    margin:0px;
	font-weight:bold;
	color:red;
	font-weight:bold;
	font-Size:18px;
}

.helper{
	margin:0;
    height:20px;
	line-height:20px;
	border:1px solid #C8CAD0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0ECFF', endColorstr='#9BD1FA', GradientType='0');
    padding:2px;
    float:left;
}
#viewRevision{
	margin-top:8px;
	width:61px;
	height:40px;
}
.ie11 #viewRevision{
	margin-top:-13px;
}

/*
#fontcolor{
	background:url('../image/toolbarbar/fontcolor.png') no-repeat center center;
}
#recordtransfer{
	background:url('../image/toolbarbar/transfer.png') no-repeat 22px 25px;
	width:61px;
	height:40px;
	padding-bottom:22px;
	margin-top:5px;	
}
#silverLocation{
	background:url('../image/toolbarbar/silverLocation.png') no-repeat center center;
}
#confirmRecordCompleted{
	background:url('../image/toolbarbar/confirmRecordCompleted.png') no-repeat bottom center;
	width:61px;
	height:40px;
	padding-top:3px;
	margin-top:5px;
}
*/