*{
	margin:0;
	padding:0;
	list-style-type:none;
	text-decoration:none;
	font-family:"Microsoft Yahei";
}
body{
    overflow: hidden;
    margin:3px 0 0 0;
}
a,img{
	border:0;
}

.tlogoimg{
	background:url(../image/icon/timg.png) no-repeat  19px 12px;
	height:68px;
	float:left;	
	border: 1px solid #D7D7D7;
	margin:0 4px 0 22px;
	padding:3px 0 10px 18px;
}
.tlogoword{
	position:relative;
	top:60px;
	left:-68px;
	color:#339966;
}
.select{
	height:80px;
	padding-top:4px;
	position:relative;
	top:-18px;
}

.toolbar
{
	width:100%;
	height:90px;
	padding-top:5px;
	border-bottom:2px solid #339966;
	display:block;
}
.searchinput{
	width: 260px;
	padding:0px 0px 0px 5px;
	height:31px;
	font-size:14px;
	color:#999;
	line-height:21px;
	border:1px solid #339966;
}
.tab_search{
	padding-top:-2px;
}
#search{
	background:url(../image/icon/search.png)no-repeat center center;
	background-color:#029C87;
	background-size:50% 50%;
	width:26px;
	height:31px;
	position:relative;
	left:-8px;
	top:10px;
}
#selLocId{
	width:282px;
}
.userTemplate{
	padding:10px;
    list-style-type: none;
}

.userTemplate li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom:#EEE 1px solid;
}
 
.userTemplate li a:hover {
    background-color: #E6EEF8;
    font-weight:bold; 
}
.pinyin{
	display:none;
}
.userTemplate li a .title{
	text-align:left;
	font-size:16px;
}

.userTemplate li a .ty{
	color:#0000FF;
}

.userTemplate li a .loc{
	text-align:right;
	font-size:12px;
}
