body{margin: 0;padding: 0;overflow: hidden;width: 100%;}

.l-btn-text{
 min-width:40px;
}

#message{
	width:600px;
	float:right;
	margin-right:30px;
	padding-top:3px;
}

#event{
	border:0px;
	line-height:29px;
	font-weight:bold;
	width:500px;
}

#event img{
	vertical-align:middle;
	margin-right:1px;
	float:left;
}
.group-sep{
	float:left;
	width:0;
	height:102px;
	font-size:0;
	margin:0 2px;
	border-left:1px solid #ccc;
	border-right:1px solid #fff;
}

.tooltab{
	height:100%;
	padding:6px;
	overflow:hidden;	
}

.commonl{
	padding-top:20px!important;
	margin-top:5px;
	float:left;
	
}

#showtype{
	float:left;
	margin-left:3px;
	background:url('../image/tool/editMode.png') no-repeat top center;
}

#save{
	background:url('../image/tool/save.png') no-repeat top center;
}

#print{
	background:url('../image/tool/print.png') no-repeat top center;
}

#printView{
	background:url('../image/tool/printView.png') no-repeat  top center;
}
#unLock{
	background:url('../image/tool/unlock.png') no-repeat top center;
}
#silverLocation{
	background:url('../image/tool/silverLocation.png') no-repeat top center;
}
#reference{
	background:url('../image/tool/reference.png') no-repeat top center;
}
#binddatareload{
	background:url('../image/tool/reload.png') no-repeat top center;
}
#spechars{
	background:url('../image/tool/spechars.png') no-repeat top center;
}
#image{
	background:url('../image/tool/image.png') no-repeat top center;
}
#recordtransfer{
	background:url('../image/tool/transfer.png') no-repeat top center;
}

#confirmRecordCompleted{
	background:url('../image/tool/confirmRecordCompleted.png') no-repeat top center;
}

.editl{
}
.tablel{
	width:40px;
	padding:0 2px 0 3px;
}
#fontSpan{
	float:left;
}
#font{
	width:80px;
	padding-top:3px;
}
#fontcolor{
	background:url('../image/tool/fontcolor.png') no-repeat center center;
}
#redo{
	background:url('../image/tool/redo.png') no-repeat center center;
}
#undo{
	background:url('../image/tool/undo.png') no-repeat center center;
}
#paste{
	background:url('../image/tool/paste.png') no-repeat center center;
}
#copy{
	background:url('../image/tool/copy.png') no-repeat center center;
}
#cut{
	background:url('../image/tool/cut.png') no-repeat center center;
}
#sub{
	background:url('../image/tool/sub.png') no-repeat center center;
}
#super{
	background:url('../image/tool/super.png') no-repeat center center;
}
#unindent{
	background:url('../image/tool/unindent.png') no-repeat center center;
}
#indent{
	background:url('../image/tool/indent.png') no-repeat center center;
}
#alignright{
	background:url('../image/tool/alignright.png') no-repeat center center;
}
#aligncenter{
	background:url('../image/tool/aligncenter.png') no-repeat center center;
}
#alignleft{
	background:url('../image/tool/alignleft.png') no-repeat center center;
}
#alignjustify{
	background:url('../image/tool/alignjustify.png') no-repeat center center;
}
#strike{
	background:url('../image/tool/strike.png') no-repeat center center;
}
#underline{
	background:url('../image/tool/underline.png') no-repeat center center;
}
#italic{
	background:url('../image/tool/italic.png') no-repeat center center;
}
#bold{
	background:url('../image/tool/bold.png') no-repeat center center;
}
#clipboard{
	background:url('../image/tool/clipboard.png') no-repeat center center;
}

#favoritesPlus{
	background:url('../image/tool/favorites_plus.png') no-repeat top center;
}
#favorites{
	background:url('../image/tool/favorites.png') no-repeat top center;
}

#export{
	background:url('../image/tool/export.png') no-repeat top center;	
}

#delete{
	background:url('../image/tool/delete.png') no-repeat top center;
}

#modifysuper{
	background:url('../image/tool/modifysuper.png') no-repeat top center;
}

#applyedit{
	background:url('../image/tool/applyedit.png') no-repeat top center;
}

#navigation{
	background:url('../image/tool/navigation.png') no-repeat top center;
}

#insertTable{
	background:url('../image/tool/insertTable.png') no-repeat center center;
}

#deleteTable{
	background:url('../image/tool/deleteTable.png') no-repeat center center;
}

#insertRow{
	background:url('../image/tool/insertRow.png') no-repeat center center;
}

#insertCol{
	background:url('../image/tool/insertCol.png') no-repeat center center;
}

#deleteRow{
	background:url('../image/tool/deleteRow.png') no-repeat center center;
}

#deleteCol{
	background:url('../image/tool/deleteCol.png') no-repeat center center;
}

#splitCells{
	background:url('../image/tool/splitCells.png') no-repeat center center;
}

.tool_tabs{
	margin: 0; padding: 0;
	float: left;
	width: 100%;
	list-style: none;
	position: relative;
	background:#F1F1F1;
}
.tool_tabs li{
	float: left;
	margin: 0; padding: 2px;
}
.tool_tabs li .title {
	padding: 5px 10px;
	display: block;
	text-decoration: none;
	color:#000000;
	font-size:14px;
}

.tool_tabs li .title:hover { 
	background: #CCCCCC; 
	color:#069783;
	font-weight:bold;
}
.tool_tabs li .panel {
	float: left;
	position: absolute;
	left: 0; top:35px;
	display: block;
	width: 100%;
	height:60px;
	background: #FFFFFF;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom:1px solid #DCDCDC;
	line-height:60px;
	display:none;
}
.select{
	background: #FFFFFF; 
	border-top:2px solid #069783; 
	color:#069783;
	font-weight:bold;
}
.fold{
	float:right;
	position:absolute;
	top:8px;
	right:8px;
	font-size:16px;
	text-decoration: none;
}
.fold:hover{
	font-weight:bold;
	background:#FFC554;
	padding:0 3px 0 3px;
}
