 
.spancolor{
	color: black; 
	font-weight:bold;
}
.spancolorleft{
	color: #666;
}

#patientInfo{
	position: relative;
	height:20px;
	line-height:20px;
	width:100%;	 
	margin: 0px;
	padding:0px;
	border: 0px;
	font-size:10pt; 
	text-align: left;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F5FA', endColorstr='#C8E0FB', GradientType='0');
	white-space:nowrap;
	display:none;
	text-overflow: ellipsis;
	overflow: hidden;
	border:0px;
}

.toolspan{
	border-right:1px solid #C8CAD0;
}

#toolBox {
	position: relative;
	height: 50px;
	width: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#F0F0EE', GradientType='0');
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align:middle;
}

.toolblock
{
	float:left;
	vertical-align:middle;
	height:50px;
	margin-right:2px;
	padding:0px 1px 0px 1px;
}

#tool-disease{
	display:none;
	padding-right:5px;
}

#toolBox a{
	folat:left;
	vertical-align:middle;
}

#recordtype{
	width:160px;
	margin:2px 0px 0px 1px;
}

#disease{
	width:275px;
	position: absolute;
}

.tableStyle01 {
	font-size: 12px;
	color: #000000;
	height: 45px;
	top: 15px;
	background-color: #FCFCFC;
}
.tooledit{
	width:360px;
	margin:0px;
	padding:0px;	
}

#print{
	background:url('../image/toolbar/print.png') no-repeat top center;
	width:46px;
	height:55px;
	margin:0;
	padding:2px;
	padding-top:30px;
}

#printView{
	background:url('../image/toolbar/printView.png') no-repeat top center;
	width:46px;
	height:55px;	
	margin:0;
	padding:2px;
	padding-top:30px;
}

#save{
	background:url('../image/toolbar/save.png') no-repeat top center;
	width:46px;
	height:55px;
	margin:0;
	padding:2px;
	padding-top:30px;
}
#delete{
	background:url('../image/toolbar/delete.png') no-repeat top center;
	width:34px;
	height:35px;
	padding-top:15px;
}

#west-right
{
	float:right;
	position:relative;
	padding:0;
	margin:0;
	vertical-align: middle;
	display: flex;
    text-align: center;
    padding-top:5px;
}

#west
{
	width:440px;
	padding:5px 2px 2px 2px;
	margin:0;
	overflow:hidden;
	display:block;
}
#west-left
{
	padding:0;
	margin:0;
	display:block;
	height:100%;
	width:275px;
	float:left;
	position:absolute;
	padding-right:8px;
	border-right:1px solid #95B8E7;
}

#fontcolor{
	background:url('../image/toolbar/fontcolor.png') no-repeat center center;
	margin-top:5px;
}
#redo{
	background:url('../image/toolbar/redo.png') no-repeat center center;
	margin-top:5px;
}
#undo{
	background:url('../image/toolbar/undo.png') no-repeat center center;
	margin-top:5px;
}
#paste{
	background:url('../image/toolbar/paste.png') no-repeat center center;
	margin-top:5px;
}
#copy{
	background:url('../image/toolbar/copy.png') no-repeat center center;
	margin-top:5px;
}
#cut{
	background:url('../image/toolbar/cut.png') no-repeat center center;
	margin-top:5px;
}
#sub{
	background:url('../image/toolbar/sub.png') no-repeat center center;
	margin-top:5px;
}
#super{
	background:url('../image/toolbar/super.png') no-repeat center center;
	margin-top:5px;
}
#unindent{
	background:url('../image/toolbar/unindent.png') no-repeat center center;
	margin-top:5px;
}
#indent{
	background:url('../image/toolbar/indent.png') no-repeat center center;
	margin-top:5px;
}
#alignright{
	background:url('../image/toolbar/alignright.png') no-repeat center center;
	margin-top:5px;
}
#aligncenter{
	background:url('../image/toolbar/aligncenter.png') no-repeat center center;
	margin-top:5px;
}
#alignleft{
	background:url('../image/toolbar/alignleft.png') no-repeat center center;
	margin-top:5px;
}
#alignjustify{
	background:url('../image/toolbar/alignjustify.png') no-repeat center center;
	margin-top:5px;
}
#strike{
	background:url('../image/toolbar/strike.png') no-repeat center center;
	margin-top:5px;
}
#underline{
	background:url('../image/toolbar/underline.png') no-repeat center center;
	margin-top:5px;
}
#italic{
	background:url('../image/toolbar/italic.png') no-repeat center center;
	margin-top:5px;
}
#bold{
	background:url('../image/toolbar/bold.png') no-repeat center center;
	margin-top:5px;
}
#clipboard{
	background:url('../image/toolbar/clipboard.png') no-repeat center center;
	margin-top:5px;
}
#spechars{
	background:url('../image/toolbar/spechars.png') no-repeat top center;
	width:38px;
	height:35px;
	padding-top:12px;
}
#recording{
	background:url('../image/toolbar/startrecord.png') no-repeat top center;
	width:38px;
	height:35px;
	padding-top:12px;
}

#silverLocation{
	background:url('../image/toolbar/silverLocation.png') no-repeat top center;
	width:38px;
	height:35px;
	padding-top:12px;
}

#message{
	border-left:0;
}

#event{
	border:0px;
	line-height:29px;
	border-bottom:1px solid;
	font-weight:bold;
	width:360px;
}

#event img{
	vertical-align:middle;
	margin-right:1px;
	float:left;
}

#lock{
	border:0px;
    margin:0px;
	font-weight:bold;
	color:red;
	font-weight:bold;
	font-Size:18px;
}

.helper{
	margin:0;
    height:20px;
	line-height:20px;
	border:1px solid #C8CAD0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0ECFF', endColorstr='#9BD1FA', GradientType='0');
    padding:2px;
    float:left;
}
#favoritesPlus{
	background:url('../image/toolbar/favorites_plus.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:15px;
}
#favorites{
	background:url('../image/toolbar/favorites.png') no-repeat top center;
	width:50px;
	height:35px;
	padding-top:15px;
}

#reference{
	background:url('../image/toolbar/reference.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:15px;
}

#emrreference{
	background:url('../image/toolbar/reference.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:15px;
}

#export{
	background:url('../image/toolbar/export.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:15px;	
}

#binddatareload{
	background:url('../image/toolbar/reload.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:15px;
}
#unLock{
	background:url('../image/toolbar/unlock.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:15px;
}

#setpatientdoctor{
	background:url('../image/toolbar/setpatientdoctor.png') no-repeat top center;
	width:85px;
	height:35px;
	padding-top:15px;
}

#modifysuper{
	background:url('../image/toolbar/modifysuper.png') no-repeat top center;
	width:85px;
	height:35px;
	padding-top:15px;
}

#viewRevision{
	width:60px;
	height:30px;
	padding-top:15px;
}

#recordtransfer{
	background:url('../image/toolbar/transfer.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:15px;	
}

#confirmRecordCompleted{
	background:url('../image/toolbar/confirmRecordCompleted.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:15px;
}

#tab-tools{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	vertical-align:middle;
	padding:3px 0px 0px 0px;
}

.tab_search{
	padding:0;
	margin:0;
}

.searchinput{
	width: 170px;
	border:0px;
	padding:0px 0px 0px 5px;
	height:21px;
	font-size:12px;
	color:#999;
	line-height:21px;
	border:1px solid #339966;
	vertical-align:middle;
}

#searchRecord{
	width:45px; 
	border:0px;
	background-color:#339966;
	height:21px;
	margin:0 0 0 -7px;
	padding:0;
	vertical-align:middle;
}

#printViewMessage{
	border:0px;
    margin:0px;
	font-weight:bold;
	color:blue;
	font-Size:18px;
	text-align:center;
	padding-right:60px;
}

.quality01
{
	width:230px;
	padding:5px 6px 0 10px;
	float:left;
}
.quality02
{
	float:right;
	padding-bottom:5px;
	padding-right:6px;
	margin:2px 0 2px 0;
}
.qualitydiv
{
	overflow-y:auto;
	overflow-x:hidden;
	height:530px;
}

.qualityMessage
{
	font-size:14px;
}

#image{
	background:url('../image/toolbar/image.png') no-repeat top center;
	width:40px;
	height:32px;
	padding-top:14px;
}

#applyedit{
	background:url('../image/toolbar/applyedit.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:15px;
}

#insertTable{
	background:url('../image/toolbar/insertTable.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:16px;
}

#deleteTable{
	background:url('../image/toolbar/deleteTable.png') no-repeat top center;
	width:60px;
	height:35px;
	padding-top:16px;
}

#insertRow{
	background:url('../image/toolbar/insertRow.png') no-repeat top center;
	width:50px;
	height:35px;
	padding-top:16px;
}

#insertCol{
	background:url('../image/toolbar/insertCol.png') no-repeat top center;
	width:50px;
	height:35px;
	padding-top:16px;
}

#deleteRow{
	background:url('../image/toolbar/deleteRow.png') no-repeat top center;
	width:50px;
	height:35px;
	padding-top:16px;
}

#deleteCol{
	background:url('../image/toolbar/deleteCol.png') no-repeat top center;
	width:50px;
	height:35px;
	padding-top:16px;
}

#splitCells{
	background:url('../image/toolbar/splitCells.png') no-repeat top center;
	width:72px;
	height:35px;
	padding-top:16px;
}