#tab-tools{
	border-top:0px;
	border-left:0px;
	border-right:0px;
	vertical-align:middle;
}
#sortName{
	margin-right:4px;
	font-weight:bold; 
	background-color:#95B8E7;
	color:#006600;
	height:19px;
	line-height:19px;
	padding:1px 5px 1px 5px;
	vertical-align:middle;
}
.searchinput{
	width: 270px;
	border:0px;
	padding:0px 0px 0px 5px;
	height:21px;
	font-size:12px;
	color:#999;
	line-height:21px;
	border:1px solid #339966;
}

.tab_search{
	padding:0;
	margin:0;
}

input,select{vertical-align:middle;} 
span.combo{
	margin:0px 1px 0px 5px;
	cursor:pointer;
	vertical-align:middle;
}

#searchRecord{
	width:45px; 
	border:0px;
	background-color:#339966;
	height:21px;
	margin:0 0 0 -7px;
	padding:0;
}
#ChangeShowMethod{
	vertical-align:middle;
	margin:1px 0 0 0;
	padding:0;
}