H3 {
	color: #0000dd
}
H4 {
	line-height: 18px;
	color: #0000dd;
	margin-top: 2px;
}

.admDetail {
    float: left;
    width: 100%;
    height: 80px;
    list-style-type: none;
    border-bottom: #EEE 1px solid;
    padding-bottom: 5px;
}

.admdate {
    float: left;
    height: 50px;
    width: 100px;
    text-align: right;
    color: #365BBD;
    font: 15px Microsoft Yahei;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    border-right: #EEE 1px solid;
}

.admdate span {
    display: block;
    color: #999999;
    padding-top: 5px;
    text-align: right;
}

.diag {
    line-height: 50px;
    width: auto;
    text-align: left;
    font: 14px Microsoft Yahei;
    padding-top: 5px;
}

.diag span.content{
	color: #000000;
}
.diag span.content label.chapter{
	float: left;
}
.diag span.content div.text{
	display: inline-block;
}

.admloc {
    height: 35px;
    line-height: 32px;
    font: 14px Microsoft Yahei;
    width: 100%;
    display: block;
    text-align: right;
    float: right;
    padding-right: 5px;
    position:relative;
    margin-top: -16px;
}

div.diagInfo{
	width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.ie11 div.diagInfo{
	width:auto;
}

.admDetail:hover {
    background: #ebebeb;
}

.oeord {
    font-size: 12px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
    position:absolute;
    right:3px;
    bottom:0;
	margin-right:70px;
}

.emrdoc {
    font-size: 12px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
    position:absolute;
    right:3px;
    bottom:0;
}

/* =============================================================================
   左向箭头
   ========================================================================== */

.arrow,
.arrow s {
	cursor: pointer;
    position: relative;
    display: block;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: dashed;
    border-width: 10px;
}

.arrowL,
.arrowL s {
    border-right-color: #f60;
    border-right-style: solid;
}

.arrowL s {
    border-right-color: #fff;
    position: absolute;
    right: -7px;
    top: -5px;
}

.arrowL:hover {
    border-right-color: #aaa;
}
