*{
	margin:0;
	padding:0;
    font-size:12px;
}
.group{
	border:#d0d0d0 1px solid;
	width:1000px;
	padding:3px 3px 3px 0;
	margin:10px 5px 5px 0;
}
.linegroup{
	height:27px;
	line-height:27px;
 }
 .name{
     height:23px;
 }
.required{
	color:red
}
.opergroup{
	border:#d0d0d0 1px solid;
	padding:10px 0 10px 0;
	margin:8px 0 3px 0;
}
.tool{
	width:1000px;
	padding:3px;	
}
table{ 
	table-layout:fixed; 
	empty-cells:show; 
	border-collapse: collapse; 
	margin:5px auto; 
} 
td{ 
	height:30px; 
} 
.table{ 
	border:1px solid #cad9ea; 
	color:#666; 
} 
.table th { 
	background-repeat:repeat-x; 
	height:28px; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#F0F0EE', GradientType='0');
	font-size:11px;
} 
.table td,.table th{ 
	border:1px solid #cad9ea; 
	padding:0 1em 0; 
} 
.button{
	padding:5px 3px 0px 3px;
	text-decoration:none;
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');	
}
.button:hover{
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.value{
	padding:2px 0 2px 0;
}
a{
	text-decoration:none;
	padding:2px;
}
a:hover{
	color:red;
}
.laydate-icon{
	padding:0;
}