@charset "utf-8";

.ul_outline{ 
	padding:1px,0,10px,10px;
	white-space:nowrap;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#EEF1F2', GradientType='0');*/

}

/* 超链接 */
.ul_outline a{ 
	text-decoration:none;
	font-size:12px;
	font:"STHeiti Light [STXihei]";
	color:#000000; 
	display:block; 
}

/* 菜单 */
.ul_outline ul{ 
	padding:0 0 0 10px; 
	margin:0; 
}

/* 菜单项 */
.ul_outline ul li{  
	line-height:18px; 
	cursor:pointer;
	list-style:none; 
	padding:0px 0px 0px 13px;
	border:1px solid #D7D7D7;
	border-top-width:0px;
}

/* 子菜单 */
.ul_outline ul li ul{}

/* 子菜单项 */
.ul_outline ul li ul li{}

/* 子菜单的父节点 */
.ul_outline .folder{ 
	list-style-image:url(../image/icon/st_icon.png); 
	background-repeat:no-repeat; 
	padding:0 0 0 5px; 
}

/* 展开的父节点 */
.ul_outline .open{ 
	list-style-image:url(../image/icon/st_icon_open.png); 
	background-repeat:no-repeat; 
	padding:0 0 0 5px; 
}

.ul_outline .hover{
	/*background-color:#FEF4CF;*/
	border:1px solid #DBC23A;
}
