*{
	margin:0px;
	padding:0px;
	list-style-type:none;
	text-decoration:none;
}
a,img{
	border:0;
}

.display{
	font-family:"Microsoft Yahei";
}

.display li{
  	display: block;
	float: left;
	border: 1px solid #D7D7D7;
	margin: 16px 15px 5px 5px;
	width: 180px;
	height: 181px;
	position: relative;
	text-align:left;
}

.display li .instance{
	width: 100%;
	height: 100%;
	position:relative;
	z-index:0;
}

.display li .instance .pic{
	background:url(../image/icon/arrowscq.png) -130px 0px no-repeat; 
	width:37px;
	height:37px;
	margin:-15px 0px 0px 160px;
	color:#ff4800;
	font-size:11px;
	padding:8px 4px 0px 7px;
	transition:0.5s;
	float:right;
	opacity:0.7;
	position:absolute;
	z-index:1;
}

.display li .instance .pic:hover{
	opacity:1;
	/*position:relative;
	z-index:0;*/
}

.display li .instance a{
	font-weight:normal;
	color:#000000;
	padding:0px;
	margin:0px;
}

.display li .instance a:hover{
	background-color:#EFF8FE;
	position:relative;
	z-index:0;
}

.display li .instance .content{
	height:141px;
	width:180px;
	padding:1px 3px 1px 3px;
	overflow:hidden;
	font-size:14px;
	position:relative;
	z-index:0;
}

.display li .instance .tag{
	width:180px;
	height:40px;
	padding-top:2px;
	text-align:center;
	font-size:12px;
	background-color:#73AE57;
	color:#FFFFFF;
}

.display li .instance .tag .title{
	font-weight:bold;
	font-size:13px;
	overflow:hidden;
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
}

.display li .instance .tag .time{
	padding-top:1px;
}
.display li .instancedimg{
	vertical-align:middle;
}

.display li .template{
	width: 100%;
	height: 100%;
}

.display li .template .new .title{
  height: 90px;
  color: #000000;
}

.display li .template .title{
	background:url("../image/icon/templatenew.png") no-repeat  top right;
	width:180px;
	height: 181px;
	font-weight:bold;
	text-align:center;
	padding:18px 0px 0px 0px;
	font-size:16px;
	color: #000000;
}

.display li .template .quote{
	border-top:1px dashed #7FD13B;
 	height: 90px;
	background:url("../image/icon/templatequoate.png") no-repeat  bottom left;
}

.ie11 .display li .template .quote{
	margin-top: -18px;
}

.display li .template .groupName{
	width:180px;
	height:21px;
	font-weight:bold;
	text-align:center;
	line-height:15px;
	font-size:12px;
	color: #000000;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden; 
}

.display li .template a:hover{
	background-color:#EFF8FE;
}

.display li .template a{
	padding:0px;
	margin:0px;
}

.display li .lockimg{
	position:absolute;
	right:0;
	bottom:0;
}

#lockprompt{
	position:absolute;
	background-color:#000000;
	border: 1px solid #ccc;
	display:none;
	font-size:13px;
	z-index:999;
	padding:5px;
	color:#FFFFFF;
	font-weight:bold;
	letter-spacing:1px;
}

#messagetip{
	font:16px/1.8 arial;
	width:248px;
	height:200px;
	border:1px solid #ccc;
	padding:5px;
	background-color:#fff;
	color:#000;
	position:absolute;
	text-align:left;
}

.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{  
    -o-text-overflow: ellipsis;  
    text-overflow: ellipsis;  
}

#createoperate
{
	color: blue;
	text-align:center;
	text-decoration: underline;
	cursor: pointer;
}
#createoperate:hover 
{
	color: red; 
	text-decoration: none;
}

#quoteoperate
{
	color: green;
	text-align:center;
	text-decoration: underline;
	cursor: pointer;
}
#quoteoperate:hover 
{
	color: red; 
	text-decoration: none;
}
.top{
	width:100%;
	height:200px;
	border:1px solid #95B8E7;
}
.middle{
	width:100%;
	border-left: 1px solid #95B8E7;
	border-right: 1px solid #95B8E7;
}
.bottom{
	width:100%;
	height:200px;
	border:1px solid #95B8E7;
}
.middle td img{
	height:8px;
}