.downloadPopo{
	position: absolute;
	top: 44px;
	bottom: auto;
	left: auto;
	right: 0.3125rem;/* 5px */
	height: 6.25rem;/* 100px */
	width: 16.875rem;/* 270px */
	z-index: 999;
	background: white;
	overflow: hidden;
	box-shadow: white 1px 1px 1px 1px;
	border: lightgray 1px solid;
	border-radius:0.4375rem;
}
.downloadPopo .headTip{
	height: 2.5rem;
	line-height: 2.5rem;
	padding-left: 0.9375rem;
	font-size: 1rem;
	background: #aad08f;
}
#downloadCloseBtn{
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	height: 2.5rem;/* 40px */
	line-height: 2.5rem;
	width: 2.5rem;
}
.stepArea{
	margin: 0.625rem;
	margin-top: 0;
	width: calc(100% - 1.25rem);
	height: calc(100% - 0.625rem);
}
.stepTip{
	text-align: center;
	font-size: 0.9375rem;
	height: 2.1875rem;
	line-height: 2.1875rem;
	color: #333333;
}
.stepTip span{
	font-size: 0.75rem;
}
.progressP{
	margin-top: 0;
}
.downloadPopo .mui-progressbar{
	height: 0.625rem;
	border-radius: 0.625rem;
	background: lightgray;
}
.downloadPopo .mui-progressbar span{
	background: #aad08f;
}
.nightMode .downloadPopo{
	background-color: #313838;
	box-shadow: dimgray 1px 1px 1px 1px;
	border-color: gray;
}
.nightMode .downloadPopo .headTip{
	background-color: #aad08f;
	color: whitesmoke;
}
.nightMode .downloadPopo .stepTip{
	color: lightgrey;
}
.nightMode .downloadPopo .mui-progressbar{
	background: gray;
}