@font-face {
	font-family: "iconfont";
	src: url('../font/iconfont.ttf') format('truetype');
	/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconbackspace:before {
  content: "\e611";
}
.iconsuofang:before {
  content: "\e675";
}

.iconsuofang1:before {
  content: "\e64e";
}

.iconsuofang2:before {
  content: "\e60f";
}

.iconshoushisuofang:before {
  content: "\ef3c";
}
.iconedit1:before {
  content: "\e617";
}
.iconhuaban:before {
  content: "\e6b5";
}

.iconfuzhi:before {
  content: "\e622";
}

.iconqingchu:before {
  content: "\e747";
}

.iconqianbi:before {
  content: "\e627";
}

.iconchehui:before {
  content: "\e7f4";
}

.iconrubber-full:before {
  content: "\ea15";
}

.iconjihetuxing:before {
  content: "\e686";
}

.icontuoyuanxing:before {
  content: "\eb99";
}

.iconsanjiaoxing:before {
  content: "\eb9a";
}

.iconline:before {
  content: "\e6bb";
}

.iconcuxi:before {
  content: "\e6bc";
}

.iconsquare:before {
  content: "\ea98";
}

.iconsetting2:before {
  content: "\e654";
}

.iconsetting:before {
  content: "\e796";
}

.iconexit:before {
  content: "\e60d";
}

.iconedit:before {
  content: "\e690";
}

.iconmsgs:before {
  content: "\fbed";
}

.icontixing:before {
  content: "\fb31";
}

.iconaudio:before {
  content: "\fb66";
}

.iconrefresh:before {
  content: "\e650";
}

.iconshow:before {
  content: "\e7af";
  position: absolute;
  top: 50%;
  line-height: 100%;
  width: 30px;
  text-align: center;
}

.iconhide:before {
  content: "\e7b0";
  position: absolute;
  top: 50%;
  line-height: 100%;
  width: 30px;
  text-align: center; 
}

.iconmute:before {
  content: "\e600";
}

.icondanger:before {
  content: "\e601";
}

.icontizi:before {
  content: "\e605";
}

.iconneedle:before {
  content: "\e7aa";
}

.iconselect-down:before {
  content: "\e65b";
}

.iconselect-up:before {
  content: "\e85c";
}

.iconchosen:before {
  content: "\e83b";
}

.iconbill:before {
  content: "\e7bb";
}

.iconchange:before {
  content: "\e61b";
}

.iconlocate:before {
  content: "\e61d";
}

.icontime:before {
  content: "\e61a";
}

.iconshoushudao:before {
  content: "\e704";
}

.iconward:before {
  content: "\e632";
}

.iconyumao:before {
  content: "\e69b";
}


.iconbed:before {
  content: "\e703";
}

.iconerror1:before {
  content: "\e7f6";
}

.iconopCheck:before {
  content: "\e60b";
}

.iconzoom1:before {
  content: "\e60e";
}

.iconerror:before {
  content: "\e610";
}

.iconjiaoban:before {
  content: "\e612";
}

.iconwaiting:before {
  content: "\e613";
}

.iconclock:before {
  content: "\e614";
}

.icondoc:before {
  content: "\e615";
}

.iconright:before {
  content: "\e616";
}

.iconnurSchedule:before {
  content: "\e619";
}

.iconzoom0:before {
  content: "\e61e";
}

.iconleft:before {
  content: "\e61f";
}

.iconleft-double:before {
  content: "\e620";
}

.iconshoushu:before {
  content: "\e621";
}

.iconright-double:before {
  content: "\e624";
}

.icondone:before {
  content: "\e625";
}

.icondown:before {
  content: "\e83c";
}

.iconzezu:before {
  content: "\e608";
}

.icondate::after {
  content: "\e60c";
  color: #323232;
  font-weight: 400;
  padding-left: 5px;
}

.iconpat:before {
  content: "\e638";
  margin-right: 10px;
}

.iconpin:before {
  content: "\e795";
  position: absolute;
  top: -5px;
  right: -5px;
  color: #017BCE;
  z-index: 10;
  font-size: 0.75rem;
}

.iconmodel:before {
  content: "\e652";
  font-weight: 400;
  font-size: 20px;
  padding-top: 10px;
}

.icontriangle-down:after {
  content: "\e626";
}