* { touch-action: pan-y; }
body,.mui-content{
}
.mui-scroll.mui-scroll-iPhone{
	/*padding-bottom: 35px;*/
	padding-bottom: 2.1875rem;
}

.nullData{
	position: relative;
	/* top: calc(50% - 100px);
	left: calc(50% - 70px);
	width: 200px;
	height: 140px; */
	top: calc(50% - 6.25rem);
	left: calc(50% - 4.375rem);
	width: 12.5rem;
	height: 8.75rem;
	z-index: 3;
	/* display: none; */
}

.nullImage{
	background-image: url(../images/null.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.nullTip{
	color: #A9A9A9;
	text-align: center;
	/* margin-top: 10px;
	font-size: 15px;
	width: 200px; */
	margin-top: 0.625rem;
	font-size: 0.9375rem;
	width: 12.5rem;
	
}

/* width小于或者等于max-width采用style */
/* width大于或者等于min-width采用style */
@media only screen and (min-device-width: 640px) and (max-device-width: 959px) {/*960以下*/
	html{
		font-size: 7px;
	}
	.mui-badge{
		font-size: 7px;
	}
	#allLogScroll td,
	#halfLogScroll td {
		height: 2rem;
		font-size: 0.8rem;
	}
	.key{
		width: 44%;
	}
	.value{
		width: 56%;
	}
	.key, .value{
		font-size: 0.7rem;
	}
}

@media only screen and (min-device-width: 960px) and (max-device-width: 1279px) {/*960的*/
	html{
		font-size: 10px;
	}
	.mui-bar .ward{
		font-size: 1.2rem;
	}
	.mui-bar .scrollArea{
		font-size: 14px;
	}
	.mui-badge{
		font-size: 10px;
	}
	#allLogScroll td,
	#halfLogScroll td {
		height: 2rem;
		font-size: 0.8125rem;
	}
	.key{
		width: 44%;
	}
	.value{
		width: 56%;
	}
	.key, .value{
		font-size: 0.9rem;
	}
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1919px) {/*1280的*/
	html{
		font-size: 15px;
	}
	#allLogScroll td,
	#halfLogScroll td {
		height: 2rem;
		font-size: 0.9rem;
	}
	.key{
		width: 44%;
	}
	.value{
		width: 56%;
	}
	.key, .value{
		font-size: 0.8rem;
	}
}

@media only screen and (min-device-width: 1920px) and (max-device-width: 3839px) {/*1920的*/
	html{
		font-size: 18px;
	}
	#allLogScroll td,
	#halfLogScroll td {
		height: 2.5rem;
		font-size: 0.9375rem;
	}
	.key{
		width: 50%;
	}
	.value{
		width: 50%;
	}
	.key, .value{
		font-size: 0.9rem;
	}
}


@media only screen and (min-device-width: 3840px) {/*3840的*/
	html{
		font-size: 32px;
	}
	.mui-bar .ward,#settingBtn,#exitBtn,#refreshBtn,#msgBtn,
	.mui-bar-tab .mui-tab-item .mui-icon~.mui-tab-label,
	.mui-bar-tab .mui-tab-item .mui-icon{
		font-size: 0.8rem;
	}
	#voiceBtn,#editBtn{
		font-size: 0.85rem;
	}
	.liuyanban, .weekPlan, .docInfo{
		line-height: 2.625rem;
	}
	#allLogScroll td,
	#halfLogScroll td {
		height: 2rem;
		font-size: 1rem;
	}
	.key{
		width: 50%;
	}
	.value{
		width: 50%;
	}
	.key, .value{
		font-size: 0.95rem;
	}
}



