/* 内容 */
.tabs{
	background: white;
	z-index: 2;
}

.tabs div{
    display: none;
    clear: both;
	padding: 10px;
	width: 100%;
	background: white;
	font-size: 15px;
	height: 100%;
}
.tabs .horizontal{
    margin: 0px;
    padding: 0px;
	border-bottom: solid 1px #AAAAAA;
}
/* 选项卡 */
.tabs .horizontal li{
    float: left;
    list-style: none;
    height: 40px;
    line-height: 40px;
    background: white;
    text-align: center;
    cursor: pointer;
	font-size: 14px;
	border-bottom: solid 1px #AAAAAA;
	color: grey;
}
.tabs .horizontal li:not(:first-child){
    margin-left: 0px;
}

.tabs .horizontal li.selectActive{
    border-bottom: solid 2px #017BCE;
    font-weight: 700;
    color: #017BCE;
	font-size: 16px;
}