/*CDSS配置界面样式*/
body {
    background-color: #fff;
}
.panel-body.panel-body-noheader{
	border-color: #ccc;
}
.datagrid .panel-body{
	border: none;
	border-radius: 0;
}

.accordion>.panel>.panel-body, .layout>.panel>.panel-body, .panel.combo-p>.panel-body, .panel.lookup-p>.panel-body, .panel.window>.panel-body, .tabs-panels>.panel>.panel-body {
	border-radius: 4px 4px 4px 4px;
}
#add-dialog {
	top:120px;
	width:500px;
	height:320px;
	padding-bottom:0!important;
}
.td-button{
	padding: 10px;
}
#add-form td{
	padding-top: 0;
	padding-bottom: 10px;
}
.textareabox-text, input.textbox, textarea.textbox{
	width: 360px;	
}
textarea{
	border-color: #40a2de;
	width: 360px;	
}
.form-group{
	padding: 10px 10px 9px 10px;
	border-bottom: 1px dashed #ccc;
}
.form-group a {
	margin-left: 10px;	
}
.button-group{
	margin: 2px 0;	
}
#InterType,#ItemCode,#category,#cbRef {
	width: 367px;
}
.textEdit {
	width: 100%;
	height: 100%;
	border-color: #ccc;
	border: none;
}
#textArea {
	width: 100%;
	height: 100%;
	border-color: #ccc;
	border: none;
}	
}