/*位置*/
.text-right {   /*文本水平右对齐*/
	text-align: right;
}
.text-left {   /*文本水平左对齐*/
	text-align: left;
}
.text-center {   /*文本水平中间对齐*/
    text-align: center;
}
/*垂直居中*/
.ver-middle{
    vertical-align:middle;
}
/*水平居中*/
.flex-x-center{
    display: flex;
    justify-content:space-around;
    margin:auto; /*解决IE8不居中问题*/
}
.panel-body{
		border-top-width:0px;
		border-left-width:0px;
		border-right-width:0px;
}
/*宽度*/
.combobox-width-120{
   width:120px;     
}

.combobox-width-177{
   width:177px;     
}
.width-589{
    width: 589px;
}
.width-74{
    width: 74px;
}
/*两端对齐*/
.justify {
        text-align: justify;
        border: 1px dotted black;
        width: 50%;
}
/*内边距*/
.padding-left-10{
    padding-left:10px;  
}
.padding-right-10{
    padding-right:10px;  
}
.padding-both-10{
    padding:0 10px; 
}
.padding-top-10{
    padding-top:10px;  
}
.padding-bottom-10{
    padding-bottom:10px;  
}
.padding-topbot-10{
    padding:10px 0; 
}
.padding-topr-10{
    padding:10px 10px 0 0; 
}
.padding-topl-10{
    padding:10px 0 0 10px; 
}
.padding-10{
    padding:10px;   
}
.padding-10-bottom-none{
    padding:10px 10px 0px 10px;   
}
.padding-10-top-none{
    padding:1px 10px 15px 10px;   
}
.padding-10-left-none{
    padding:10px 10px 10px 1px;   
}
.padding-bottom-20{
    padding-bottom:20px; 
}
/*上左右填充10px;下填充5px*/
.padding-10-bottom-5{
    padding:10px 10px 5px 10px;   
}
/*单元格链接样式*/
/*带下划线*/
.grid-td-text {
    color: #017bce;
	cursor:hand;
	cursor: pointer;
    text-decoration:underline;
}
.grid-td-text-red {
    color: #ee4f38;
	cursor:hand;
	cursor: pointer;
    text-decoration:underline;
}
.grid-td-text-gray {
    color: gray;
	cursor:hand;
	cursor: pointer;
    text-decoration:underline;
}
/*不带下划线*/
.grid-td-text-none {
    color: #017bce;
    cursor:hand;
    cursor: pointer;
    text-decoration:none;
}
.grid-td-text-red-none {
    color: red;
    cursor:hand;
    cursor: pointer;
    text-decoration:none;
}
.grid-td-text-gray-none {
    color: gray;
    cursor:hand;
    cursor: pointer;
    text-decoration:none;
}
.edited{
	color:red;
}
/*底部按钮样式*/
.bottom-style{
    padding: 10px;
	height:30px;
	text-align: center;
    border: none;
}
/*单元格背景色*/
.cellColor1{
    background: #93A9C1;
}
.cellColor2{
    background: #EEEEEE;
}
.cellColor3{
    background: #E7F7FE;
}
.cellColor4{
    background: #FFCCFF;
} 
/*按钮竖向分隔线*/
div .btn-separator {
    float: left;
    height: 24px;
    border-left: 1px solid LightGrey;
    border-right: 0px solid LightGrey;
    margin: 1px 1px;
}
/*横向分隔线*/
.x-separator {
    border-bottom:1px dashed #D8D8D8;
}
/*行高36px，垂直居中*/
.line-36-y{
    height:36px;
    display:flex;
    align-items: center;
}
/*面板边框颜色*/
.panel-body-noheader{
    border-color:#ccc;
}
/*.datagrid .datagrid-pager{
    border-width: 1px 0px;
}*/
.border-none {
    border:0;
}
/* icon*/

/*XiaoMing Liu*/
/*北方div高度250px*/
.div-north-height-250{
	height:250px;	
}

/*加载页面时不显示*/
.hidden {
	display:none;
}

/*上下左填充10px;右填充5px*/
.padding-10-right-5{
    padding:10px 5px 10px 10px;   
}
/*上下左填充10px;右填充1px*/
.padding-10-right-none{
    padding:10px 1px 10px 10px;   
}
	

/*行高50px，垂直居中*/
.line-50-y{
    height:50px;
    display:flex;
    align-items: center;
}	

/**图片变灰**/
.icon-gray{
     -webkit-filter: grayscale(1); /* Webkit */
     filter: gray; /* IE6-9 */  
     filter: grayscale(1); /* W3C */
}	