@charset "UTF-8";
/**
 * 
 * @authors liyi (124933390@qq.com)
 * @date    2017-08-14 16:28:26
 * @version v1.0
 */

.main{
	height: 50px;
	margin-top: 10px;
	padding-left: 21px;
	padding-right: 21px;
	width: 100%;
}
.prev{
	float:left;
	height:100%;
	background:url("../../../img/timeline_4.png") no-repeat;
	background-size: 100%;
	width:20px;
	cursor:pointer;
	/*兼容IE11*/
	position:relative;   
	z-index: 9999999;
}
.no_result{
	margin-top:100px;
	width:400px;
	height:320px;
	background:url("../../../img/no-result.png") no-repeat;
}
.next{
	float:right;
	height:100%;
	background:url("../../../img/timeline_5.png") no-repeat;
	background-size: 100%;
	width:20px;
	cursor:pointer;
	margin-top: -50px;
}
.timeline_div{
	margin:0 20px;
	height:100%;
	background-color: #F2F2F2;
}
.timeline_ul{
	float:left;
	list-style-type:none;
	margin: 0 0;
	padding-left: 42px;
	height: 50px;
	white-space:nowrap;
	overflow: hidden;
}
.timeline_ul_div{
	visibility:visible;
	background: url("../../../img/timeline_3.png") repeat-x 120px 15px;
	float:left;
	width: 132px;
	height:50px;
}
.timeline_ul_div_0{
	visibility:visible;
	background: url("../../../img/timeline_6.png") repeat-x 120px 15px;
	float:left;
	width: 132px;
	height:50px;
}
.greenspot{
	margin-top:7px;
	background: url('../../../img/timeline_1.png') no-repeat scroll 0 0 transparent;
	width: 16px;
	height: 16px;
}
.grayspot{
	margin-top:11px;
	background: url('../../../img/timeline_2.png') no-repeat scroll 0 0 transparent;
	width: 9px;height: 9px;
}
span{
	cursor:pointer;
	margin-left: -30px;
}
.content{
	list-style-type:none;
	padding-left: 0px;
}
.content li{
	margin-top: 30px;
}
.content h4{
	color: #017BCE;
	text-indent:25px;
	line-height:22px;
	font-size: 14;
	font-weight:normal;
	font-style:normal;
	background-color: #FFFFFF;
}
.course {
	color: black;
	text-indent:25px;
	line-height:22px;
	font-size: 14;
	font-weight:normal;
	font-style:normal;
}
.sign{
	color: black;
	text-indent:25px;
	line-height:22px;
	font-size: 14;
	font-weight:normal;
	font-style:normal;
}

.course font{
	color: red;
}
