<div class="main">
	
	<div class="prev"></div>
	<div class="timeline_div">
		<ul class="timeline_ul">
			<div id="ul_div_0" class="timeline_ul_div">
				<li>
					<div class="greenspot"></div>
					<span id="span_0" >2017-08-14</span>
				</li>
			</div>
			<div id="ul_div_1" class="timeline_ul_div">
				<li>
					<div class="grayspot"></div>
					<span id="span_1" >2017-08-13</span>
				</li>
			</div>
		</ul>
	</div>
	<div class="next"></div>
	<ul class = "content">
		<li>
			<h4>2017-08-14 08:00 主任医师查房记录<h4>
			<p class="course">
				今日查房，患者xxx，男，51岁8月，因“车祸伤14+天，右侧肱骨骨折固定术后10+天”入院。14+前患者乘坐三轮车出车祸后，被三轮车碾压左上肢，被三轮车上的开水烫伤头及胸部。当时是患者呼之不应。于当地医院就诊，诊断为“复合伤、低血容量休克、右肱骨骨折、头皮及胸部大面积II-III烧伤”，于次日（2017-1-1）给予头皮大面积撕脱伤清创缝合术，肱骨骨折切开减压及骨折复位外固定架固定术，术后发生肺部感染，呼吸困难，神志不清。为求进一步治疗于7天前（2017-1-7）就诊于我院急诊科。入院诊断为：多发伤伤、右肱骨骨折切开复位外固定术后、胸背部及右上肢大面积II-III烧伤，给予呼吸机辅助通气、抗感染、磺胺嘧啶银治疗烧伤创面、对症支持等治疗。现患者已顺利脱机，为求进一步治疗。查体：T：36.8℃，P：76次/分，R：20次/分，BP：121/76mmHg。神志模糊，无病容，皮肤巩膜无黄染，全身浅表淋巴结未见肿大。。颈静脉正常。心界正常，心律齐，各瓣膜区未闻及杂音。胸廓未见异常，双肺叩诊呈清音，双肺呼吸音清，未闻及干湿啰音及胸膜摩擦音。腹部外形正常，全腹柔软，无压痛及反跳痛，腹部未触及包块，肝脏肋下未触及，脾脏肋下未触及，双肾未触及。双下肢无水肿。专科查体：患者车祸外伤后全身多处骨折,右上肢外支架固定,外支架上端松动,一钉子脱落；右上臂外侧可见切开伤口,肌肉外露；右上肢、右肩胛区、左前胸、颈部可见烫伤创面，创面呈黑色焦痂，脓性渗出较多，伴恶臭。患者神志淡漠，大便失禁，四肢肢端温暖。综上初步诊断：1、车祸伤 2、全身多处5%II°-III°开水烫伤 3、右上肢皮肤坏死 4、全身多处骨折 5、肺部感染 6、右上肢骨折外固定术后 7、右上肢骨筋膜室综合征切开减压术后  诊疗计划：1、向患者及家属交待病情及注意事项。2、向上级医生汇报患者病情。3、完善等检查。4、给予、等抗炎治疗。5、给予、等对症支持治疗。6、密切观察病情变化，根据病情及时处理。
			</p>
			<p class="sign">医生：张澜</p> 
		</li>
		<li>
			<h4>2017-08-14 08:00 主任医师查房记录<h4>
			<p class="course">
				今日xxx主治医师带组查房，家属诉患者精神仍有阵发性胡言乱语，未述特殊不适，无发热，查体：右上肢见外固定支架，右上肢敷料干燥，左胸壁、颈部创面黑色焦痂覆盖，少许渗出。肝功：丙氨酸氨基转移酶 95 IU/L ，门冬氨酸氨基转移酶 94 IU/L 。嘱继续抗感染、保肝、控制精神症状、右上肢创面半暴露、左胸壁、颈部创面暴露等治疗，密切观察如有病情变化及时处理。
			</p>
			<p class="sign">医生：张澜</p> 
		</li>
		<li>
			<h4>2017-08-14 08:00 主任医师查房记录<h4>
			<p class="course">
				患者xxx，男，51岁8月，因“车祸伤14+天，右侧肱骨骨折固定术后10+天”入院，诊断为1、车祸伤 2、全身多处5%II°-III°开水烫伤 3、右上肢皮肤坏死 4、全身多处骨折 5、肺部感染 6、右上肢骨折外固定术后 7、右上肢骨筋膜室综合征切开减压术后，完善术前检查，目前情况尚可，具备明确手术指针，无明显手术禁忌，全科讨论后，拟定于2017年1月18日行右上肢扩创术。现就以下内容向患者及家属做详细解释交代：1、麻醉意外，心脑肺意外（详见麻醉同意书）具体手术方式根据术中情况决定。2、术中、术后出血，损伤局部临近血管、神经及相应组织，出现相应症状；3、本次手术为扩创清除坏死组织，术后可能出现骨外露，仍需长期换药或安置VAC，多次手术，转移皮瓣覆盖创面，存在创面感染可能；4、创面出现感染、败血症导致创面长期不愈，需长期换药，再次手术可能，长期产生费用较高，治疗周期长；5、术后局部色素沉着、瘢痕形成，影响外观；6、其他不可预知风险。
			</p>
			<p class="sign">医生：张澜</p> 
		</li>
	</ul>
</div>