body{
	background-color:#FFF;
}

.datagrid-header-inner
{
	height:32px;
}

.datagrid-row-selected {

  background: #FFE48D !important;
  color: #oooooo;
}
.datagrid-row-selected .patlist-item:last-child {
    color: #oooooo;
}

.form-table
{
	border-collapse:separate;
	border-spacing:10px 8px;
	text-align:right;
}

.panel-body-noheader.panel-body
{
	border-radius:0 0 4px 4px;
	border-top-width:1px;
	border-bottom-width:1px;
}
.dialog-button .l-btn
{
	padding-top: 0px;
}
.dialog-button a
{
	margin:0 10px 10px 20px;
}
.datagrid-toolbar
{
	height: 32px;
}
.datagrid-toolbar .l-btn-plain
{
	margin:5px 0 5px 0;
}
#noTitleList .panel-body-noheader.panel-body
{
	border-radius:0;
	border-left-width:0;
	border-right-width:0;
	border-bottom-width:0px;
	border-top-width:1px;
	border-color:#ccc;
}
.icon-addauth {
    background-image:url(../img/addauth.png);
    BACKGROUND-REPEAT: no-repeat;
    background-position:center;
}
.icon-delauth {
    background-image:url(../img/delauth.png);
    BACKGROUND-REPEAT: no-repeat;
    background-position:center;
}
.icon-adddayauth {
    background-image:url(../img/adddayauth.png);
    BACKGROUND-REPEAT: no-repeat;
    background-position:center;
}
.icon-deldayauth {
    background-image:url(../img/deldayauth.png);
    BACKGROUND-REPEAT: no-repeat;
    background-position:center;
}

