/*2016丁延丽*/
/*无规则列表容器*/
body{
	background-color:#FFF;
}

.patlist-item {
    padding: 2px;
}
.patlist-item span{
	font-family:"微软雅黑";
	font-size:12px;
}
.patlist-item span:last-child {
    float: right;
}

.oper-table{
	width:100%;
	min-width:880px;
	table-layout:fixed;  
}
.oper-table .oper-td-title{
	width:80px;
	text-align:right;
	white-space:nowrap;
}
.oper-table td{
	padding:5px 5px 5px 5px;
	width:110px;
}
.oper-tr .oper-td .textbox{
	width:120px;
}
.oper-tr .oper-td .newblockspan
{
	width:80px;
}


.btnList td:first-child{
	text-align:right;
}
select{
	width:158px;
	height:40px;
}
select2{
	width:80px;
}
.panel-body.panel-body-noheader { 
		border-color: #ccc;
}
.oper-td .newstyle{
	padding-left:2px;
}
ul li
{
	list-style-type: none;
	align-items: center;
	float:left;
}