*{
	margin:0px;
	padding:0px;	
}
body{
	background-color:#fff;
}
span.condition-span{
	display:inline-block;
	margin-right:40px;
}
span.condition-span > span{
	margin-left:10px;
}

/*table,table tr,table tr td{
	padding:0px;
	margin:0px;	
}
.condition-table{
	width:99%;	
}
.condition-table tr td{
	padding:0 10px 10px 0;	
}
.condition-table tr:last-child td
{
	padding-bottom:0;	
}

.condition-table tr td:nth-child(odd)
{
	text-align:right;	
}
.condition-table tr td:last-child{
	text-align:left;	
}*/
#conditionForm{
	margin:0px;
	padding:0px;
}
.condition-div
{
	margin:0 0 10px 0;
	padding:0px;
}
.condition-div:last-child
{
	margin-bottom:0
}
#conditionForm span.condition-span{
	display:inline-block;
	width:221px;
	text-align:right;
	margin-right:40px;
}
#conditionForm span.condition-span:last-child
{
	margin-right:0px;
}
#conditionForm span.condition-span > span,
#conditionForm span.condition-span > input{
	margin-left:10px;
}
.panel-body.panel-body-noheader { 
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-top-width:0;
	border-color: #ccc;
}
.combo-panel.panel-body.panel-body-noheader{
	border-color:#509de1;
}											
