*{
	margin:0px;
	padding:0px;	
}
body{
	background-color:#fff;
}
table,table tr,table tr td{
	padding:0px;
	margin:0px;	
}
/*.condition-table{
	width:99%;	
}*/
.condition-table tr td{
	padding:0 8px 8px 0;	
}
.condition-table tr:last-child td
{
	padding-bottom:0;	
}
.condition-table tr td:nth-child(even)
{
	padding-right:40px;	
}
.condition-table tr td:nth-child(odd)
{
	text-align:right;	
}
.condition-table tr td:last-child{
	text-align:left;	
}
.panel-body.panel-body-noheader { 
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-top-width:0;
	border-color: #ccc;
}

.icon-recevice
{
	background-image:url(../img/recevice.png) !important;
	-moz-background-repeat:no-repeat;
	background-repeat:no-repeat;
	-moz-background-position:center;
	background-position:center;
}
.icon-send
{
	background-image:url(../img/send.png) !important;
	-moz-background-repeat:no-repeat;
	background-repeat:no-repeat;
	-moz-background-position:center;
	background-position:center;
}

