body{
	background-color:#FFF;
}
.searchlist{
	overflow:hidden;
}
.searchlist .searchlisttitle{
	height:34px;
	line-height:34px;
	padding-left:10px;
	border:none;
	color:#fff;
	background-color:#0e8bdd;
}
.searchlist .searchlistitem
{
	padding:5px 4px 0 4px;
	text-align:center;
}
.searchlistitem:last-child{
	margin-bottom:5px;
}
.patlist-item {
    padding: 2px;
}
.patlist-item span{
	font-family:"Î¢ÈíÑÅºÚ";
	font-size:12px;
}
.patlist-item span:last-child {
    float: right;
}

.patlist-item:last-child {
    color: #6F6F6F;
}
.datagrid-row-selected {

  background: #FFE48D !important;
  color: #oooooo;
}
.datagrid-row-selected .patlist-item:last-child {
    color: #oooooo;
}
.datagrid-toolbar{
	padding:0px;
}

.oper-table{
	width:100%;
	min-width:880px;
	table-layout:fixed;  
}
.oper-table .oper-td-title{
	width:80px;
	text-align:right;
	white-space:nowrap;
}
.oper-table .oper-td-largertitle{
	width:80px;
	text-align:right;
	white-space:nowrap;
}
.oper-table td{
	padding:4px 5px 0 5px;
}
.oper-input-check
{
	width:24%;
	display:inline-block;
}
/*.oper-table td:nth-child(even){
	min-width:200px;
}*/
.btnList td:first-child{
	text-align:right;
}
select{
	width:158px;
}
#patientNo,
#patientLoc,
#patientWard
{
	width:246px;
	height:26px;
}
.showwindow-tdtype
{
	width:80px;
	text-align:right;
	padding-left:10px;
	padding-right:10px;
}
.form-table
{
	padding:10px;
}
 .form-table td{
	padding:5px 5px 5px 5px;
}
.ssform-table
{
	padding:10px;
}
.ssform-table td{
	padding:5px 5px 5px 5px;
	min-width:80px;
}
.ssform-table .ssoper-td-title{
	min-width:80px;
	text-align:right;
	white-space:nowrap;
}

.datagrid-header-row, .datagrid-row
{
	height:30px;
}

.datagrid-cell
{
	padding-left:2px;
}
ul li
{
	list-style-type: none;
	align-items: center;
	float:left;
}

ul li .line
{
	color:#ccc;
}
#daigNoTitle .panel-body-noheader.panel-body
{
	border-color: #ccc;
}
#operNoTitle .panel-body-noheader.panel-body
{
	border-color: #ccc;
}

