/*查询条件区域table样式*/
.search-table{
	margin:10px;
}
.search-table td{
	padding:5px;
}
.search-table tr td:nth-child(odd){
	min-width:80px;
	text-align:right;
}

/*模态框提交表单table样式*/
.form-table{
	margin:10px;
	border-collapse: collapse;
	border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.form-table td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.form-table tr td:nth-child(odd){
	min-width:80px;
	text-align:right;
}