.sourcetype-text {
    margin: 0 10px 0 0;
    font: bold 14px 微软雅黑;
    /* text-shadow: 0 2px 3px #555; */
}

.sourcetype-book {
    color: #528dbf;
}

.sourcetype-em {
    color: red;
}

#conditionForm {
	margin:0;
	padding: 0;
}

#conditionForm .form-row-group {
	padding-bottom:0;
}


