.background-warp{
	background:	#F5F5F5;
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	/* border:1px solid red; */
}
.nav-tool{
	height:35px;
	border-bottom:1px solid #ccc;
	/* border:1px solid red; */
}
label{
	margin-left:5px;
	margin-right:8px;
}
.nav-tool{
	padding-top:5px;
	background:	#FFF;
}
.nav-tools{
	position:absolute;
	top:5px;
	left:330px;
}
.left-12{
	margin-left:12px;
}
.left-20{
	margin-left:10px;
}
.left-40{
	margin-left:40px;
}
.left-38{
	margin-left:38px;
}
.left-82{
	margin-left:82px;
}
.left-95{
	margin-left:95px;
}
.left-97{
	margin-left:97px;
}
.left-102{
	margin-left:102px;
}
.left-2-font{
	margin-left:68px;
}
.pat-base{
	position:absolute;
	top:46px;
	left:0px;
	right:0px;
	height:120px;
	background:	#FFF;
	border-bottom:1px solid #ccc;
	/* border:1px solid red; */ 
}
.pat-adm{
	position:absolute;
	top:173px;
	left:0px;
	right:0px;
	bottom:0px;
	background:	#FFF;
	/* border:1px solid red; */
}
.list{
	position:absolute;
	top:30px;
	left:0px;
	right:0px;
	height:180px;
	/* border:1px solid red; */
}
.list-first{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:330px;
	border:1px solid #ccc; /* blue; */
}
.list-second{
	position:absolute;
	top:0px;
	left:340px;
	bottom:0px;
	width:320px;
	border:1px solid #ccc; /* green; */
}
.list-third{
	position:absolute;
	top:0px;
	left:670px;
	bottom:0px;
	right:310px;
	border:1px solid #ccc; /* red; */
}
.list-four{
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	width:300px;
	border:1px solid #ccc; /* green; */
}
.list-tools{
	position:absolute;
	top:0px;
	right:10px;
}
.list-tools a{
	color:#000;
	margin-right:2px;
}
.list-order{
	position:absolute;
	top:220px;
	left:0px;
	right:0px;
	bottom:0px;
	border:1px solid #ccc; /* green */
}
.list-order-tools{
	position:absolute;
	top:0px;
	left:320px;
}
.list-order-tools a{
	color:#000;
	margin-right:20px;
}
.list-order-tools{
	height:35px;
	line-height:35px;
}
.list-order-item{
	position:absolute;
	top:36px;
	left:0px;
	right:0px;
	bottom:0px;
	/* border:1px solid green;*/
}
.table_title{
	font-weight:bold;
	color: #000;
	font-size: 13px;
	line-height: 22px;
	padding-left: 10px;
	border-bottom: 2px solid #40a2de;
	width:100px;
}
.list-title{
	background:#f9f9fa;
	height:35px;
	line-height:35px;
	border-bottom:1px solid #ccc;
	padding-left:10px;
}
.list-title label{
	font-weight:bold;
}
.pat-adm .panel-body, .pat-adm .panel-header{
	border-color:#fff;
}
.pat-base-area{
	padding-top:10px;
}
body input {
    border: 1px solid #ccc;
}

.validatebox-text {
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 0 0 5px;
    box-sizing: content-box;
    border: 1px solid #ccc;
    color: #000;
    vertical-align: middle;
}
.l-btn-text {
    padding: 0 8px 0px 15px;
}
.hide{
	display:none;
}
/*====================================*/
.combo {
    border-color: #ccc;
}
.combo-arrow {
    background-color: #DCDCDC;
    width: 30px;
    height: 30px;
    background: url(../images/combobox_arrow.png) center center no-repeat;
}
.combo-arrow-hover {
    background-color: #C0C0C0;
}
.panel-body{
	border-color:#ccc;
}
/*@media screen*/
body input:focus {
    border-color: #ccc;
}

/*====================================*/