.m-container{
	display:flex;
	flex-direction:column;	
}

.m-cont-body{
	display:flex;
	flex-grow:1;
}

.m-container{
	height:300px;	
}

.m-cont-title{
	flex-basis:	45px;
}

.m-cont-bleft{
	flex-basis: 500px;	
}
.m-cont-bright{
	flex-grow:1;
}
.flexLimit{
	flex-basis: 10px;
}

.m-cont-titles{
	float:right;	
}
.boldFont{
	font-weight:600;	
}
.m-cont-titlet{
    font-size: 16px;
    font-weight: 600;	
}

.spanBtn{   
	color: #0029f1;
    cursor: pointer;
}
.spanBtnActive{
	color:red;
}

.orderSpanBtn{   
	color: #40ff02;
    cursor: pointer;
}

.orderSpanBtnActive{
	color:red;	
}