body{
	background-color:#EDEFF9;
	padding:10px;
	font-family:Arial,"Microsoft Yahei";
	color:#000;
	moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.para {
    font-size: 14px;
    word-wrap: break-word;
    margin-bottom: 10px;
    /*text-indent: 1em;*/
    line-height: 24px;
    zoom: 1;
    padding-left:10px;
    padding-right:5px;
}
.para-title.level-2 {
	font-weight: bold;
    display: block;
    zoom: 1;
    overflow: hidden;
    line-height: 24px;
    margin: 15px 0 0 0;
    position: relative;
    padding-left:10px;
}
.title-text{
	font-size: 16px;
}
.icon-hos_drugcat{    
	background: url('../images/drug_blue.png') center;
	background-color:transparent;
}
.no-data{
	background: url(../images/no_data.png) center center no-repeat;
	background-color:transparent;
}

