* {
  margin-right: 0;
  padding: 0;
  font-size: 14px;
}

article,section,time,aside{display:block;}

body {
  color: #9f9f9f;
  background: #fff;
  font-size: 1.16em;
  font-family: "Microsoft Yahei",verdana,helvetica,arial,sans-serif;
}

.things{
	font-size: 16px;
    font-weight: 900;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.point-time {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  top: -5px;
  left: 0;
  /*background: #1c87bf;*/
  margin-left: -4px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #fff;
}

.point-time img{
	width:100%;
	height:100%;
}
.text-red {
  /*color: #f6393f;*/
  color:#000000;
}

.text-blue {
  /*color: #1c87bf;*/
  color:#000000;
}

.text-green {
 /* color: #95c91e;*/
 color:#000000;
}

.text-yellow {
  /*color: #ffb902;*/
  color:#000000;
}

.text-yellow {
  /*color: #ffb902;*/
  color:#000000;
}

.text-purple {
  color: #d32d93;
}

.point-red {
  background-color: #f6393f;
}

.point-blue {
  background-color: #1c87bf;
}

.point-green {
  background-color: #95c91e;
}

.point-yellow {
  background-color: #ffb902;
}

.point-purple {
  background-color: #d32d93;
}

.content {
  width: 100%;
  margin: 30px auto;
}
.content article {
  position: relative;
  margin:auto;
  width:80%;
}
.content article > h3 {
  width: 15%;
  height: 20px;
  line-height: 20px;
  text-align: right;
  font-size: 1.4em;
  color: #1d1d1d;
  padding: 10px 0 20px;
}

.content article > dd {
  width: 15%;
  height: 20px;
  line-height: 20px;
  text-align: right;
  font-size: 1.4em;
  color: #1d1d1d;
  margin-left:25%
}
.content article section {
  padding: 0 0 17px;
  position: relative;
}
.content article section:before {
  content: "";
  width: 1px;
  top: 36px;
  bottom: 9px;
  left: 1.9%;
  background: #e6e6e6;
  position: absolute;
}
.content article section:last-child:before {
  display: none;
}
.content article section time {
  width: 17%;
  display: block;
  position: absolute;
}
.content article section time > span {
  display: block;
  text-align: right;
}
.content article section aside {
  color: #3a3a38;
  margin-left: 10%;
  padding-bottom: 45px;
}
.content article section .brief {
  color: #9f9f9f;
  padding-top:20px;
}
/*HOSst*/
.icon-hos_rele{    
	background: url('../images/hos_rele_blue.png') center center no-repeat;
	background-color:transparent;
}
.icon-hos_add_green{    
	background: url('../images/hos_add_green.png') center center no-repeat;
	background-color:transparent;
}
.icon-hos_edit_yellow{    
	background: url('../images/hos_edit_yellow.png') center center no-repeat;
	background-color:transparent;
}
.icon-hos_clock{    
	background: url('../images/hos_clock.png') no-repeat transparent;
	background-color:transparent;
}
.icon-hos_zp_user{    
	background: url('../images/hos_zp_user.png') no-repeat transparent;
	background-color:transparent;
}
.icon-hos_canrele{    
	background: url('../images/hos_canrele.png') center center no-repeat;
	background-color:transparent;
}

.no-data,.no-data-lite {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    overflow: hidden;  
    text-align: center;  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);    
}

.no-data {   
    background: url(../pdss/images/no_data_hisui.png) center center no-repeat;
}
.no-data-lite {  
    background: url(../pdss/images/no_data_lite_hisui.png) center center no-repeat;
}

