#tableTb{
	padding:5 5 5 5;   	
}
#tableTb a{
	padding:0 3 0 3;
	cursor: pointer;
	text-decoration:underline  	
}
body{
	padding:0	
}
#datagrid{
	padding:5 18 5 18
}
.datagridRow{
	line-height: 20px;
	height:128px;
	padding:5 0 0 0
}
.rowTitle{
	
}
.rowTitle a{
	/*float:left;*/
	font-size: 17px;
	text-decoration:none;
	margin: 0 0 5 0
}
.rowData{
	float:left;
	line-height:25px;
	/*position: fixed;*/
    /*margin: 30 0 0 0;*/
    margin:5 0 0 0 
}
.rowData span{
	margin: 0 20 0 0;
	white-space: nowrap;  /*强制span不换行*/
    display: inline-block;  /*将span当做块级元素对待*/
    overflow: hidden;  /*超出宽度部分隐藏*/
    text-overflow: ellipsis;  /*超出部分以点号代替*/
}
	.para-title.level-2 {
	    display: block;
	    clear: both;
	    zoom: 1;
	    overflow: hidden;
	    border-left: 12px solid #4F9CEE;
	    line-height: 24px;
	    font-size: 22px;
	    font-weight: 400;
	    font-family: Microsoft YaHei,SimHei,Verdana;
	    margin: 35px 0 15px 0px;
	    background: url(https://bkssl.bdimg.com/static/wiki-lemma/normal/resource/img/paraTitle-line_c5e6d61.png);
	    position: relative;
	}
