
@charset "utf-8";

* {
	margin: 0;
	padding: 0
}

li,ul {
	list-style-type: none
}

html {
	color: #333;
	background: #fff;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	min-width: 1250px
}

article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}



body,button,input,select,textarea {
	color: #666;
	font: 12px/1.5 Arial,Helvetica,\5b8b\4f53,sans-serif;
	_font-family: SimSun
}

input,select,textarea {
	font-size: 100%;
	background: #fff;
	vertical-align: middle
}
/*
table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: break-all;
	width: 100%;
	vertical-align: top
}

td,th {
	vertical-align: top
}
*/
fieldset,img {
	border: 0
}

iframe {
	display: block
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

del {
	text-decoration: line-through
}

address,caption,cite,code,dfn,em,var {
	font-style: normal;
	font-weight: 500
}

ol,ul {
	list-style: none
}




h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 700
}

q:after,q:before {
	content: ''
}

a {
	color: #666
}

a:focus {
	outline: thin dotted #666;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

a:active,a:hover {
	outline: 0;
	text-decoration: underline
}

a:hover {
	color: #5FB6EC;
	text-decoration: underline
}

.l-w {
	width: 1250px;
	margin: 0 auto
}



.l-left {
	float: left;
	width: 210px
}

.l-right {
	float: right;
	width: 1030px
}

.l-left,.l-right {
	_display: inline
}




.index .i-head-logo .logo {
	width: 310px
}

.index .logo a {
	float: left
}



.l-w1000 .i-nav .nav-cont {
	width: 1000px;
	margin-top: 30px
}

.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.fn-clear {
	zoom: 1
}

.fn-left {
	float: left
}

.fn-right {
	float: right
}

.fn-left,.fn-right {
	_display: inline
}

.fn-block {
	overflow: hidden;
	zoom: 1;
	word-break: break-all
}


.i-head {
	background: #fff
}

.i-head-logo {
	width: 1250px;
	margin: 0 auto
}

.i-head-logo .logo {
	width: 70px;
	position: relative;
	font-size: 30;
	color: #40A3DF;
	margin: 25 0 5 250;
}



.i-head-logo .i-search {
	width: 600px;
	margin: 20 0 10 0
}

.i-head-logo .i-search .search-cont {
	
	position: relative;
	height: 40px;
	z-index: 50
}


.i-head-logo .i-search .search-cont .form {
	height: 40px;
	overflow: hidden
}

.i-head-logo .i-search .search-cont .form .label_search {
	position: absolute;
	padding: 5px;
	width: 360px;
	height: 22px;
	line-height: 22px;
	z-index: 1;
	overflow: hidden;
	float: left
}

.i-head-logo .i-search .text {
	float: left;
	width: 521px;
	height: 40px;
	padding: 5px;
	font-size: 12px;
	line-height: 22px;
	border: 0;
	z-index: 2;
	border: 1px solid #40A3DF;
}

.i-head-logo .i-search .button {
	float: right;
	width: 79px;
	height: 40px;
	background: #40A3DF;
	font-size: 14px;
	color: #fff;
	border: 0;
	font-family: "Microsoft YaHei","풕턼환쥌";
	cursor: pointer
}

.search-tab-hd {
	height: 25px;
	color: #d2d2d2;
	position: relative;
	z-index: 100
}

.search-tab-hd li {
	color: #3b3b3b;
	position: relative;
	text-align: center;
	display: inline-block;
	width: 70px;
	height: 25px;
	line-height: 25px;
	cursor: pointer
}

.search-tab-hd li.curr {
	color: #40A3DF;
	font-weight: 700
}

.search-tab-hd li.curr i {
	border-color: #40A3DF #fff #fff;
	border-style: solid;
	border-width: 4px 4px 0;
	height: 0;
	width: 0;
	display: inline-block;
	position: absolute;
	bottom: -5px;
	left: 40%
}




.i-nav {
	background: #63BBF0;
	
	width: 1250px;
	/**
	height: 40px;
	margin: 0 auto;
	margin-top:15px
	*/
}

.i-nav .nav-cont {
	position: relative;
	zoom: 1;
	z-index: 70;
	width: 1250px;
	margin: 0 auto
}

.i-nav .nav-cont .sort {
	position: absolute;
	top: 0;
	left: 0;
	overflow: visible;
	width: 259px
}


.i-nav .sort-link {
	line-height: 40px;
	height: 40px;
	font-size: 15px;
	padding-left: 76px;
	background-color: #40A3DF;
	font-family: "Microsoft YaHei","풕턼환쥌";
}

.i-nav .sort-link a {
	display: block;
	color: #fff
}

.i-nav .sort-link a:hover {
	text-decoration: none
}



.sort-hover:hover .sort-link i {
	background-position: -17px -50px
}

.i-nav .sort-list {
	position: relative;
	zoom: 1;
	background: #F5F5F5;
	/**
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	**/
	border-right: 1px solid #D8D8D8;
	filter: alpha(opacity=80);
	min-height: 500px
}


/**
*쨨쒦온
**/
.i-nav .sort-2-list {
	position: relative;
	background: #FFFFFF;
}

.i-nav .sort-2-list-item {
	height: 40px;
	line-height: 40px;
}

.i-nav .sort-2-list-title {
	position: relative;
	zoom: 1;
	padding: 0 0 0 15
}
.i-nav .sort-2-list-title h3{
	font-weight: 540!important;
	overflow: hidden;
 	text-overflow: ellipsis;
 	white-space: nowrap;
}
.i-nav .sort-2-list-title-selected{
	background: #EFF9FF;
	color:#54ABE1;
}
.i-nav .sort-2-list-title-selected h3{
	font-weight: 900!important;
}
/**
*쨨쒦온 end
**/
.i-nav .sort-list-item {
	height: 40px;
	line-height: 40px;
	padding: 0 5 0 5;
	/**
		padding: 0 5 0 5;
		border-bottom: 1px dashed #e2dedf;
		border-top: 1px solid #fff
	**/
}
.sort-list-item:hover{
	cursor: pointer;
}





.fn-tr .fn-right {
	margin-bottom: 10px
}


.i-nav .sort-list-title {
	position: relative;
	zoom: 1;
	padding: 0px 20px 0 30px
}

.i-nav .sort-list-title-selected{
	background: #EBEBEB;
}
.sort-list-title-selected h3{
	color:#000000!important;
	font-weight: 900!important;
}
.i-nav .sort-list-title h3 {
	font-size: 14px;
	font-weight: 500;
	color: #666;
	font-family: "Microsoft YaHei";
	
	text-overflow: ellipsis; 
	overflow:hidden; 
	white-space: nowrap; 
}


.i-nav .sortsub {
	position: absolute;
	top: 0px;
	left: 259px;
	width: 989px;
	min-height: 450px;
	max-height: 100%;
	overflow: hidden;
	zoom: 1;
	background: #fff;
	font-family: "Microsoft YaHei";
	font-size: 13px;
}

.i-nav .sortsub .sortsub-l {
	float: left;
	width: 200px;
	padding: 5px;
	min-height: 500px;
	max-height:100%;
}

.i-nav .sortsub .sortsub-item {
	border-bottom: 1px solid #eee;
	overflow: hidden;
	padding: 8px 0 4px 98px;
	line-height: 20px
}

.i-nav .sortsub .sortsub-item:hover {
	background-color: #fbfbfb
}

.i-nav .sortsub .sortsub-item dt {
	width: 200px;/* 150px kml*/
	/*text-align: right; kml 2020-03-05*/
	margin-left:-50px; /* kml*/
	float: left;
	font-weight: 700;
	_display: inline;
	zoom: 1;
	padding: 0 8 0 0;
}
.i-nav .sortsub .sortsub-item dh {
	width: 100%;
	text-align: left;
	float: left;
	margin-left: -90px;
	font-weight: 700;
	_display: inline;
	zoom: 1
}
.i-nav .sortsub .sortsub-item dd {
	overflow: hidden;
	zoom: 1;
	word-spacing: normal
}

.i-nav .sortsub .sortsub-item dh a {
	color: #5FB6EC;
	font-weight: 900;
	font-size: 15px;
	text-decoration: none
}

.i-nav .sortsub .sortsub-item dt a:hover {
	text-decoration: underline
}

.i-nav .sortsub .sortsub-item dd em {
	display: inline-block;
	border-left: 1px solid #CCC;
	height: 14px;
	line-height: 14px;
	margin: 4px 0 8px;
	padding: 0 8px;
}
.i-nav .sortsub .sortsub-item dd em a{
	font-size:13px;
}	
.i-nav .sortsub .sortsub-r {
	float: right;
	width: 740px;
	padding: 14px
}



.tabs>li:first-child>a{
	/*width:89px*/
}
.tabs>li:nth-child(2) >a{
	/*width:89px*/
}





.tabs li.tabs-selected a.tabs-inner, .tabs li.tabs-selected a.tabs-inner:hover{
	background: #017bce;
	color:#fff
}
.tabs li.tabs-selected a.tabs-inner {
    border-left: 0 solid #fff;
    border-bottom: 0 solid #017bce;
    border-top:3px solid #017bce;
}




/*
footer
*/
.footer{
	margin-top:10px;
	text-align:center;
	position:absolute;
	width:100%;
	height:40px;
	bottom:0;
	background-color: #F5F5F5;
}
.footer p{
	margin:10	
}

#tabDiv{
	top:89;
	bottom:0	
}	




.toggle-btn {
    color: #40a2de;
    text-decoration: underline;
    padding-right: 13px;
    background: url(../images/fa-angle-double-down_40a2de_12.png) no-repeat center right;
    line-height: 30px;
    display: inline-block;
    /*border-bottom: 1px solid #40a2de;*/
    cursor: pointer;
    padding-left:10px;
}
.toggle-btn.expanded {
    background-image: url(../images/fa-angle-double-up_40a2de_12.png);
}
.textbox {
	padding: 5px;
	font-size: 12px;
	line-height: 22px;
	border: 0;
	z-index: 2;
	border: 1px solid #40A3DF;
}