.background-warp{
	background:	#F5F5F5;  /*  #FFF */
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	/* border:1px solid red; */
}
.view-area-first{
	height:110px;
	background:	#F5F5F5;
	text-align:center;
	margin:0 auto;
	margin-left:9px;
	/* border:1px solid red; */
}
.view-area-second{
	position:absolute;
	top:116px;
	left:0px;
	right:0px;
	height:340px;
	background:	#F5F5F5; /*#FFF;*/
	/* border:1px solid red; */
}
.view-area-third{
	position:absolute;
	top:470px;
	left:0px;
	right:0px;
	bottom:0px;
	background:	#FFF;
	border:1px solid #CCC;
}
.view-area-four{
	position:absolute;
	top:670px;
	left:0px;
	right:0px;
	bottom:0px;
	background:	#FFF;
	border:1px solid #CCC;
}
.view-left{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:605px;
	/*border:1px solid #CCC;*/	
	border-radius: 5px;
	background:	#FFF;
	box-shadow: 0px 0px 4px 0px #dbdbdb;
}
.view-center{
	position:absolute;
	top:0px;
	left:616px;
	bottom:0px;
	width:605px;
	/*border:1px solid #CCC;*/	
	border-radius: 5px;
	background:	#FFF;
	box-shadow: 0px 0px 4px 0px #dbdbdb; 
}
.view-right{
	position:absolute;
	top:0px;
	left:1232px;
	right:0px;
	bottom:0px;
	/*border:1px solid #CCC;*/	
	border-radius: 5px;
	background:	#FFF;
	box-shadow: 0px 0px 4px 0px #dbdbdb; 
}
.list-title{
	position:relative;
	background:#ffffff;;
	height:35px;
	/*border-bottom:1px solid #ccc;*/
	padding-left:30px;
}
.list-title label{
	position:absolute;
	top:10px;
	left:9px;
	font-weight:bold;
	height: 24px;
	font-size: 16px;
	font-family: Source Han Sans CN, Source Han Sans CN-Bold;
	font-weight: 700;
	text-align: left;
	color: #000000;
}
.list-tools{
	position:absolute;
	top:0px;
	right:30px;
}
.list-icon{
	position:absolute;
	top:9px;
	left:5px;
	height:16px;
}
.icon-right {
	margin-top:3px;
	padding-right:32px;
	padding-left:18px;
    background-position: right 12px center !important;
    display: inline-block;
    font-size: 12px;
}
.icon-more{
	background: url(../images/combobox_arrow.png) center center no-repeat;
}
span.icon-more {
	height:26px;
	line-height:26px;
    border:1px solid #f9f9fa;
    cursor:default;
}
span.icon-more:hover {
	border:1px solid #00BFFF;
	background-color:#87CEFA;
}
.list-order-item{
	position:absolute;
	top:36px;
	left:0px;
	right:0px;
	bottom:0px;
}
.pf-nav {
	float: left;
	text-align:center;
	margin:0 auto;
}
.pf-nav .pf-nav-item{
	position:relative;
	float:left;
	width:300px;
	height:110px;
	padding:0 5px;
	margin-right:4px;

}
.pf-nav .pf-nav-total-item{
	position:relative;
	float:left;
	width:300px;
	height:110px;
	margin-right:4px;
	background: url(../images/t-total-bg.png) center center no-repeat;

}

.pf-nav .pf-nav-inter-item{
	position:relative;
	float:left;
	width:300px;
	height:110px;
	margin-right:4px;
	background: url(../images/inter-bg.png) center center no-repeat;

}
.pf-nav .pf-nav-taboo-item{
	position:relative;
	float:left;	
	margin-top:4px;
	margin-right:9px;
	width: 300px;
	height: 98px;
	background: #ff7474;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 0px rgba(255,116,116,0.70); 
	/*background: url(../images/inter-bg.png) center center no-repeat;*/
}
.pf-nav .pf-nav-usage-item{
	position:relative;
	float:left;
	width: 300px;
	height: 98px;
	margin-top:4px;
	margin-right:11px;
	background: #7d69e6;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 0px rgba(125,105,230,0.70);
}
.pf-nav .pf-nav-indic-item{
	position:relative;
	float:left;
	width: 300px;
	height: 98px;
	margin-top:4px;
	margin-right:11px;
	background: #23d2ba;
	border-radius: 5px;
	box-shadow: 0px 2px 4px 0px rgba(35,210,186,0.70); 
}
.pf-nav .pf-nav-contr-item{
	position:relative;
	float:left;
	width: 298px;
	height: 98px;
	margin-top:4px;
	margin-right:11px;
	background: #fc9d49;
 	border-radius: 5px;
	box-shadow: 0px 2px 4px 0px rgba(252,157,73,0.70); 
}
.pf-nav-item:not(:nth-child(1)){
	margin-left:10px;
}
.item-left{
	position:absolute;
	top:23px;
	left:28px;
	width:97px;
	bottom:25px;
	/* border:1px solid blue; */
}
.item-center{
	position:absolute;
	top:0px;
	left:97px;
	right:21px;
	bottom:0px;
	/* border:1px solid blue; */
}
.item-right{
	position:absolute;
	top:0px;
	right:0px;
	width:21px;
	bottom:0px;
	/* border:1px solid blue; */
}
.total-left{
	width: 62px;
	height: 62px;	
	background: url(../images/t-left-new.png) center center no-repeat;
}
.total-center{
	/*background: url(../images/t-center.png) center center repeat-x;*/
}
.total-right{
	/*background: url(../images/t-right.png) center center no-repeat;*/
}
.inter-left{
	width: 62px;
	height: 62px;	
	background: url(../images/inter-left-new.png) center center no-repeat;
}
.inter-center{
	/*background: url(../images/inter-center.png) center center repeat-x;*/
}
.inter-right{
	/*background: url(../images/inter-right.png) center center no-repeat;*/
}
.taboo-left{
	width: 62px;
	height: 62px;	
	background: url(../images/taboo-left-new.png) center center no-repeat;
}
.taboo-center{
	/*background: url(../images/taboo-center.png) center center repeat-x;*/
}
.taboo-right{
	/*background: url(../images/taboo-right.png) center center no-repeat;*/
}

.indic-left{
	width: 62px;
	height: 62px;
	background: url(../images/indic-left-new.png) center center no-repeat;
}
.indic-center{
	/*background: url(../images/indic-center.png) center center repeat-x;*/
}
.indic-right{
	/*background: url(../images/indic-right.png) center center no-repeat;*/
}
.contr-left{
	width: 62px;
	height: 62px;
	background: url(../images/contr-left-new.png) center center no-repeat;
}
.contr-center{
	/*background: url(../images/contr-center.png) center center repeat-x;*/
}
.contr-right{
	/*background: url(../images/contr-right.png) center center no-repeat;*/
}
.usage-left{
	width: 62px;
	height: 62px;
	background: url(../images/usage-left-new.png) center center no-repeat;
}
.usage-center{
	/*background: url(../images/usage-center.png) center center repeat-x;*/
}
.usage-right{
	/*background: url(../images/usage-right.png) center center no-repeat;*/
}

.item-text{
	position:absolute;	
	left:105px;
	/*width:80px;
	bottom:18px;*/
}
.item-warn{
	position:absolute;
	top:62px;
	bottom:28px;
	width: 56px;
	height: 20px;
	font-size: 14px;
	font-family: Source Han Sans CN, Source Han Sans CN-Regular;
	font-weight: 400;
	text-align: left;
	color: #ffffff;
}
.item-num{
	position:absolute;
	top:21px;	
	bottom:48px;	
	height: 41px;
	font-size: 28px;
	font-family: Source Han Sans CN, Source Han Sans CN-Bold;
	font-weight: 700;
	text-align: left;
	color: #ffffff;
}
.item-uom{
	position:absolute;
	left:92px;
	top:36px;
	bottom:54px;
	width: 14px;
	height: 20px;
	opacity: 0.8;
	font-size: 14px;
	font-family: Source Han Sans CN, Source Han Sans CN-Regular;
	font-weight: 400;
	text-align: left;
	color: #ffffff;
}
.item-news-head{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:34px;
	line-height:34px;
	font-weight:bold;
}
.item-news-body{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow-y:auto;
}
.item-news{

}
.item-news-item{
	position:relative;
	height:34px;
	/* border-bottom:1px solid #ccc; */
}
.item-news-item label{
	line-height:34px;
}
.item-news-item:hover{
	background-color:#dcf0ff;
}
.item-news-icon{
	position:absolute;
	top:10px;
	left:10px;
	width:16px;
	height:16px;
	background: url(../images/addrule.png) center center no-repeat;
}
.item-news-title{
	position:absolute;
	/*top:0px;
	left:35px;
	right:100px;
	bottom:0px;
	font-weight:bold;*/
	left:9px;
	font-size: 14px;
	font-family: Source Han Sans CN, Source Han Sans CN-Regular;
	font-weight: 400;
	text-align: left;
	color: #000000;
	line-height: 45px;
}
.item-news-time{
	position:absolute;
	/*top:0px;	
	width:100px;
	bottom:0px;
	text-align:center;*/
	right:9px;
	font-size: 14px;
	font-family: Source Han Sans CN, Source Han Sans CN-Regular;
	font-weight: 400;
	text-align: left;
	color: #000000;
	line-height: 45px;
}
.item-news-head .item-news-title{
	text-align:center;
}
.item-news-head-xu{
	position:absolute;
	top:0px;
	left:0px;
	width:80px;
	bottom:0px;
	text-align:center;
}
.item-news-head-title{
	position:absolute;
	top:0px;
	left:80px;
	right:117px;
	bottom:0px;
	text-align:center;
}
.item-news-head-time{
	position:absolute;
	top:0px;
	right:17px;
	width:100px;
	bottom:0px;
	text-align:center;
}
.item-news-head-inner{
	position:absolute;
	top:0px;
	right:0px;
	width:16px;
	bottom:0px;
	text-align:center;
}
.item-chart{
	position:absolute;
	top:5px;
	left:0px;
	right:0px;
	bottom:0px;
}
.item-rank{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.item-rank tbody{
	position:absolute;
	top:30px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
}
.item-rank tr:hover{
	background:#d9e7f1;
}
.item-rank tr{
	height:30px;
}
.item-rank td,.item-rank th{
	margin:0;padding:0;
	padding:5px 3px;
	font-size: 14px;
	border:1px solid #ccc;
}
.item-rank td.key-label, .item-rank th.key-label{
	text-align:center !important;
	width:120px;
}
.item-rank td.item-rank-width, .item-rank th.item-rank-width{
	width:230px;
}
.item-rank tr:nth-child(1) td:first-of-type{
	color:#ee4f38;
}
.item-rank tr:nth-child(2) td:first-of-type{
	color:#f58800;
}
.item-rank tr:nth-child(3) td:first-of-type{
	color:#f1c516;
}
