.nowrap {
  white-space: nowrap;
  /* 2.溢出的部分隐藏起来 */
  overflow: hidden;
  /* 3. 文字溢出的时候用省略号来显示 */
  text-overflow: ellipsis;
}
.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	/* border:1px solid red; */
}
.view-area-first{
	height:110px;
	background:	#FFF;
	/* border:1px solid red; */
}
.view-area-second{
	position:absolute;
	top:120px;
	left:0px;
	right:0px;
	height:240px;
	background:	#FFF;
	/* border:1px solid red; */
}
.view-area-third{
	position:absolute;
	top:370px;
	left:0px;
	right:0px;
	bottom:0px;
	background:	#FFF;
	/*border:1px solid #CCC;*/
	border:0px;
}
.view-area-four{
	position:absolute;
	top:610px;
	left:0px;
	right:0px;
	bottom:0px;
	height:240px;
	background:	#FFF;
	border:1px solid #CCC;
}
.view-left{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:450px;
	/*border:1px solid #CCC;*/	
	border:0px;
}
.view-center{
	position:absolute;
	top:0px;
	left:461px;
	bottom:0px;
	width:450px;
	/*border:1px solid #CCC;*/
	border:0px;	
}
.view-right{
	position:absolute;
	top:0px;
	left:922px;
	right:0px;
	bottom:0px;
	/*border:1px solid #CCC;*/
	border:0;	
}
.list-title{
	display:none;
	position:relative;
	background:#f9f9fa;
	height:35px;
	border-bottom:1px solid #ccc;
	padding-left:30px;
}
.list-title label{
	position:absolute;
	top:10px;
	left:30px;
	font-weight:bold;
}
.list-tools{
	position:absolute;
	top:0px;
	right:30px;
}
.list-icon{
	position:absolute;
	top:9px;
	left:5px;
	height:16px;
}
.icon-right {
	margin-top:3px;
	padding-right:32px;
	padding-left:18px;
    background-position: right 12px center !important;
    display: inline-block;
    font-size: 12px;
}
.icon-more{
	background: url(../images/combobox_arrow.png) center center no-repeat;
}
span.icon-more {
	height:26px;
	line-height:26px;
    border:1px solid #f9f9fa;
    cursor:default;
}
span.icon-more:hover {
	border:1px solid #00BFFF;
	background-color:#87CEFA;
}
.list-order-item{
	position:absolute;
	top:36px;
	left:0px;
	right:0px;
	bottom:0px;
}
.pf-nav {
	float: left;
}
.pf-nav .pf-nav-item{
	position:relative;
	float:left;
	width:200px;
	height:110px;
	padding:0 5px;

}
.pf-nav-item:not(:nth-child(1)){
	margin-left:10px;
}
.item-left{
	position:absolute;
	top:0px;
	left:0px;
	width:97px;
	bottom:0px;
	/* border:1px solid blue; */
}
.item-center{
	position:absolute;
	top:0px;
	left:97px;
	right:21px;
	bottom:0px;
	/* border:1px solid blue; */
}
.item-right{
	position:absolute;
	top:0px;
	right:0px;
	width:21px;
	bottom:0px;
	/* border:1px solid blue; */
}
.total-left{
	background: url(../images/t-left.png) center center no-repeat;
}
.total-center{
	background: url(../images/t-center.png) center center repeat-x;
}
.total-right{
	background: url(../images/t-right.png) center center no-repeat;
}
.indic-left{
	background: url(../images/indic-left.png) center center no-repeat;
}
.indic-center{
	background: url(../images/indic-center.png) center center repeat-x;
}
.indic-right{
	background: url(../images/indic-right.png) center center no-repeat;
}
.contr-left{
	background: url(../images/contr-left.png) center center no-repeat;
}
.contr-center{
	background: url(../images/contr-center.png) center center repeat-x;
}
.contr-right{
	background: url(../images/contr-right.png) center center no-repeat;
}
.usage-left{
	background: url(../images/usage-left.png) center center no-repeat;
}
.usage-center{
	background: url(../images/usage-center.png) center center repeat-x;
}
.usage-right{
	background: url(../images/usage-right.png) center center no-repeat;
}
.inter-left{
	background: url(../images/inter-left.png) center center no-repeat;
}
.inter-center{
	background: url(../images/inter-center.png) center center repeat-x;
}
.inter-right{
	background: url(../images/inter-right.png) center center no-repeat;
}
.taboo-left{
	background: url(../images/taboo-left.png) center center no-repeat;
}
.taboo-center{
	background: url(../images/taboo-center.png) center center repeat-x;
}
.taboo-right{
	background: url(../images/taboo-right.png) center center no-repeat;
}
.item-text{
	position:absolute;
	top:21px;
	left:110px;
	width:80px;
	bottom:18px;
}
.item-warn{
	position:absolute;
	top:0px;
	left:0px;
	color:#FFF;
	font-size:16px;
}
.item-num{
	position:absolute;
	left:8px;
	bottom:14px;
	color:#FFF;
	font-weight:100;
	font-size:22px;
	width:65px;
	/*transform: scale(1.6,2.3);*/
	/*transform: scale(1.5);*/	
}
.item-uom{
	position:absolute;
	/*left:55px;*/
	left:70px;
	bottom:0px;
	height:25px;
	color:#FFF;
	font-size:20px;
}
.item-news-head{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:34px;
	line-height:34px;
	font-weight:bold;
}
.item-news-body{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow-y:scroll;
}
.item-news{

}
.item-news-item{
	position:relative;
	height:34px;
	/* border-bottom:1px solid #ccc; */
}
.item-news-item label{
	line-height:34px;
}
.item-news-item:hover{
	background-color:#dcf0ff;
}
.item-news-icon{
	position:absolute;
	top:10px;
	left:10px;
	width:16px;
	height:16px;
	background: url(../images/addrule.png) center center no-repeat;
}
.item-news-title{
	position:absolute;
	top:0px;
	/*left:35px;*/
	left:10px;
	right:100px;
	bottom:0px;
	font-weight:bold;
}
.item-news-time{
	position:absolute;
	top:0px;
	right:0px;
	width:100px;
	bottom:0px;
	text-align:center;
}
.item-news-head .item-news-title{
	text-align:center;
}
.item-news-head-xu{
	position:absolute;
	top:0px;
	left:0px;
	width:80px;
	bottom:0px;
	text-align:center;
}
.item-news-head-title{
	position:absolute;
	top:0px;
	left:80px;
	right:117px;
	bottom:0px;
	text-align:center;
}
.item-news-head-time{
	position:absolute;
	top:0px;
	right:17px;
	width:100px;
	bottom:0px;
	text-align:center;
}
.item-news-head-inner{
	position:absolute;
	top:0px;
	right:0px;
	width:16px;
	bottom:0px;
	text-align:center;
}
.item-chart{
	position:absolute;
	top:5px;
	left:0px;
	right:0px;
	bottom:0px;
}
.item-rank{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.item-rank tbody{
	position:absolute;
	top:30px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
}
.item-rank tr:hover{
	background:#d9e7f1;
}
.item-rank tr{
	height:30px;
}
.item-rank td,.item-rank th{
	margin:0;padding:0;
	padding:5px 3px;
	font-size: 14px;
	border:1px solid #ccc;
}
.item-rank td.key-label, .item-rank th.key-label{
	text-align:center !important;
	width:120px;
}
.item-rank td.item-rank-width, .item-rank th.item-rank-width{
	width:230px;
}
.item-rank tr:nth-child(1) td:first-of-type{
	color:#ee4f38;
}
.item-rank tr:nth-child(2) td:first-of-type{
	color:#f58800;
}
.item-rank tr:nth-child(3) td:first-of-type{
	color:#f1c516;
}
