.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
}
.page-north{
	position:relative;
	height:140px;
	border:1px solid #ccc;
}
.p-n-condition{
	position:relative;
	margin:10px 0 0 10px;
	height:40px;
}
.p-n-item{
	position:absolute;
	top:50px;
	left:0;
	right:0;
	bottom:0;
}
.page-center{
	position:absolute;
	top:140px;
	left:0;
	right:0;
	bottom:0;
	border:1px solid #ccc;
}
.dashline-div {
    height: 1px;
    border-top: 1px dashed #ccc;
    clear:both;
	overflow: hidden;
}
.list-title{
	position:relative;
	background:#f9f9fa;
	height:34px;
	border-bottom:1px solid #ccc;
	padding-left:30px;
}
.list-title label{
	position:absolute;
	top:9px;
	left:30px;
}
.list-tools{
	position:absolute;
	top:0px;
	right:30px;
}
.list-icon{
	position:absolute;
	top:8px;
	left:5px;
	height:16px;
}
.list-order-item{
	position:absolute;
	top:36px;
	left:0;
	right:0;
	bottom:0;
}

.p-n-item .bt-messager-popover{
	text-align:center;
}
.bt-messager-popover {
    position: absolute;
    display: block;
    padding: 9px 15px;
    font-weight: 700;
}
.bt-messager-popover.success {
    color: #3c763d;
    background: #e2ffde;
    border: 1px solid #aae3a2;
}
.bt-messager-popover.error {
    color: #ff3d2c;
    background: #ffe3e3;
    border: 1px solid #fec0c0;
}
.bt-messager-popover.info {
    color: #1278b8;
    background: #e3f7ff;
    border: 1px solid #c0e2f7;
}