
body {
 	overflow-y: scroll;
    padding-left: 1px;
    padding-right: 1px;
    min-height: 0px;
    overflow-x: hidden;
   
  }
.tagdisable {
    float: left;
    width: 100%;
    pointer-events: none;
    cursor: default;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    height:100%;
}
.tagdisablezw {
    float: left;
    width: 100%;
    pointer-events: none;
    cursor: default;
    margin-top: 0px;
    margin-left: 30px;
    /*margin-bottom: 30px;*/
}
.disable {
	float:left;
	width:100%; 
	pointer-events: none; 
	cursor: default;
	}
p{
	
	height:auto;
	border: 1px solid #CCCCCC;
	background:#F8F8F8; 
	padding-left: 5px;
	vertical-align: middle;
    line-height: 28px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    /*
    width: 360px;
	height:auto;
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	line-height: 28px;
	*/
	}
p:focus{
	border-color:#459EF5
	}

select{
	/*height:42px;
	border: 1px solid gray;
	background:#F8F8F8; 
	padding: 5px*/
	width: 360px;
	height: 30px;
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
	
	}
.item-val-2{
	float:left;
	width:150px; 
	text-align:center;
	vertical-align:middle;
	margin-left: 40px;
	margin-top: 20px
	}
.item-val-3{
	display:inline-block;
	width:50px; 
	text-align:center;
	vertical-align:middle;
	border: 0px;
	}
.item-val-25{
	float:left;
	width:75%;
	border:0px solid red;
	vertical-align:middle;
	border: 0px solid gray;
	min-height: 50px;
	}
hr{
	border-left-style:none;
	border-bottom-style:none;
	border-right-style:none;
	border-top-style:solid;
	}
.template{
	display:block;
	}
	
	.tox-toolbar__primary{
    position: fixed;
}

.row{
    float:left;
    width: 98%;
    margin-top: 15px
}
.xxrow{
    float:left;
    width: 47%;
    margin-top: 15px
}
.item{
    position: relative;
    overflow:hidden;
    border: 3px solid #73AD21;
    height: auto;
    width: 100%;
}



.item-title{
    position: absolute;
    top: 20px;
    left: 5px;
    width:100px; 
    border: 0px;
}

.item-input{
    position: absolute;
    top: 0px;
    left: 120px;
    width:40%;
    
}

.item-button{
    position: absolute;
    top: 20px;
    right: 10px;
    width:100px; 
    padding-right:5px;
}
.button{
    width: 16px;
    height: 16px;
    border: 0px ;
    background-image: url(plus-circle.svg);
}
.rect{
  
  width: 4px;
  height: 19px;
  background: #CCCCCC;
  float:left;
  margin-left:-10px;
  margin-top:3px;
}

.item-1{
	float:left;
	width:60px;
	text-align:right;
	border:0px solid red;
	vertical-align:middle;
	margin-left: 35px;
}

.item-2{
	float: left;
    width: 360px;
    margin-left: 20px;
    padding-right: 14px;
    margin-top: -22px;
    padding-bottom: 10px;
}

.item-3{
	float:left;
	height:22px;
	width:0px;
	border:0px solid red;
	vertical-align:middle;
	margin-top :-5px;
}

.rowtwo {
	vertical-align: middle;
	padding:10px 10px 10px 10px;
	border-bottom:1px solid #ccc;
	margin-top: 10px;
}

.rowtwo_bottom	{
	border-bottom:0px;
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.container{
	position:absolute;
	top:10px;
	left:100px;
	right:170px;
	/* bottom:10px; */
	min-height:10px;
}

.m-panel{
	position:relative;
	margin-bottom:10px;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;	
}
.m-panel-body{
	position:relative;
	min-height:0px;
	overflow:hidden;
}

.add {
    border: 2px solid  ;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #508BFF;
    transition: color .25s;
    position: relative;
  }
  .add::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12.5px;
    margin-left: -6.5px;
    margin-top: -1px;
    border-top: 2px solid;
  }

  .add::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 12.5px;
    margin-left: -1px;
    margin-top: -6px;
    border-left: 2px solid;
   }
   .add:hover {
    color: #508BFF;
  }
  
.minus {
    border: 2px solid  ;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #ccc;
    transition: color .25s;
    position: relative;
    margin-top:34px;
  }
.minus::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12.5px;
    margin-left: -6.5px;
    margin-top: -1px;
    border-top: 3px solid;
  }

.minus::after {
    /*content: '';*/
    position: absolute;
    left: 50%;
    top: 50%;
    height: 12.5px;
    margin-left: -1px;
    margin-top: -6px;
    border-left: 3px solid;
   }
.minus:hover {
    color: blue;
  }
  
.line{
	  float: left;
	  height:10px;
	  width:1200px;
	  border-bottom:15px solid #F4F4F4;;
	  margin-top: 30px;
      margin-bottom: 20px;
      margin-left: -10px;
	  }
.grid-1{
	float: left;
	margin-top: 18px;
	}
.grid-2{
	float: left;
	width: 210px;
    margin-left: -100px;
    margin-top: -7px;
    margin-right: 12px;
	}
.grid-3{
	float: left;
	margin-top: 18px;
    margin-right: -115px;
	}
.grid-4{
	float: left;
	margin-top: 10px;
    width: 155px;
    margin-left: 15px;
    margin-right: 15px;
	}
.grid-5{
	float: left;
    margin-top: 10px;
    width: 75%;
	}
.comb-1{
	width:75%;
	float: left;
    margin-top: 10px;
    margin-bottom: 22px;
	}
.sel-grid-xx{
	margin-top: 16px;
	/*width:300px;*/
	}
	  
