.titleTxt{
	font-size: 20px;
    text-align: center;
    color: #197bcf;
}

.nutIndRow{
	float:left;
	widht:270px;
	padding-left:10px	
}

.nutIndRow>div{
	
}

.nutIndRow#patContent{
	width:240px	
}

.nutIndRow#indContent{
	width:200px	
}

.nutIndRow input{
	border-width: 0px 0px 1px 0px;
	width:50px;	
}	

table {
	width:100%;
	border-right: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
}

table td,th {
	border-left: 1px solid #E3E3E3;
	border-top: 1px solid #E3E3E3;
	text-align:center;
}

table tr{
	line-height: 20px;
    height: 20px;
}

.i-b-80{
	display: inline-block;
	width: 80px;	
}
.p-l-20{
	padding-left: 20px;	
}

.pf-patimg {
    float: left;
    padding: 6px 15px 0px 15px;
    width: 30px;
    line-height: 35px;
}

.pf-patbase {
    position: relative;
    float: left;
}

.pf-nav {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pf-nav .pf-nav-item {
    float: left;
    height: 35px;
    padding: 0 5px;
}
.pf-nav-title {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
.i-sep {
    height: 15px;
    width: 0px;
    border-right: 1px solid #c3c3c3;
    transform: rotate(30deg);
    margin-top: 0px;
    padding: 0;
}
.cardTypeTitle{
	color: #53a4d5;
	font-weight: 600;
}
.cardItm{
	
}
.arcItmName{
	width: 400px;
    display: inline-block;
    white-space: nowrap;
}

.arcItmDose{
	border: none;
    width: 80px;	
}
.nutTypeItmName{
	width: 280px;
    display: inline-block;
    white-space: nowrap;
}

.nutTypeItmDose{
	width: 80px;
    display: inline-block;
    white-space: nowrap;
}

.cardOneContent{
	margin:0px 0px 10px 0px;	
}