.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	/* border:1px solid red; */
}
.pf-head {
	height:100px;

}


.pf-nav {
	float: left;
	width:100%;
}
.pf-nav .pf-nav-item{
	position:relative;
	box-sizing: border-box;
	float:left;
	/*left:-20px;*/
	/*width:205px;*/
	width:calc( calc(100% - 50px) /6 );
	height:85px;
	padding:0 5px;
	
	background: url(../images/hos_hosp_center.png) center center ; /*repeat-x;*/
	/*background-size:cover;*/
}

.bottomDivTopBorder .pf-nav .pf-nav-item{
	position:relative;
	box-sizing: border-box;
	float:left;
	/*left:-20px;*/
	/*width:205px;*/
	width:calc( calc(100% - 10px) /2 );
	height:85px;
	padding:0 5px;
	
	background: url(../images/hos_hosp_center.png) center center ; /*repeat-x;*/
	/*background-size:cover;*/
}

.pf-nav-new .pf-nav-item{
	position:relative;
	float:left;	
	width:200px;
	height:80px;
	background: url(../images/hos_hosp_center.png) center center ; /*repeat-x;*/
	/*background-size:cover;*/
}

.pf-nav .pf-nav-item-first{
	position:relative;
	float:left;
	left:-40px;
	width:205px;
	height:80px;
	padding:0 10px;
	
	background: url(../images/hos_drug_bgcolor.png) center center ; /*repeat-x;*/
	/*background-size:cover;*/
}

#drugbackground {
	background: url(../images/hos_drug_bgcolor.png) center center ; 
}

#orangebackground {
	background: url(../images/hos_right.png) center center ; 
}
#greenbackground {
	background: url(../images/hos_bgcolor.png) center center ; 
}

.pf-nav .pf-nav-item-second{
	position:relative;
	float:left;
	left:-20px;
	width:205px;
	height:80px;
	padding:0 10px;
	margin:5px 0;
	background: url(../images/hos_bgcolor.png) center center ; /*repeat-x;*/
	/*background-size:cover;*/
}
.pf-nav .pf-nav-item-third{
	position:relative;
	float:left;
	
	left:-40px;
	width:205px;
	height:80px;
	padding:0 10px;
	
	margin:5px 0;
	background: url(../images/hos_right.png) center center ; /*repeat-x;*/
	/*background-size:cover;*/
}
.pf-nav-item:not(:nth-child(1)){
	margin-left:10px;
}
.pf-nav-item-second:not(:nth-child(3)){
	margin-left:10px;
}
.item-left{
	position:absolute;
	top:0px;
	left:0px;
	width:97px;
	bottom:0px;
	/* border:1px solid blue; */
}

.item-center{
	position:absolute;
	top:0px;
	left:97px;
	right:21px;
	bottom:0px;
	/* border:1px solid blue; */
}
.item-right{
	position:absolute;
	top:0px;
	right:0px;
	width:21px;
	bottom:0px;
	/* border:1px solid blue; */
}
.total-left{
	background: url(../images/hos_hosp.png) center center no-repeat;
	background-size:50%;
}

.indic-left{
	background: url(../images/hos_drug.png) center center no-repeat;
	background-size:50%;
}

.contr-left{
	background: url(../images/contr-left.png) center center no-repeat;
}
.contr-center{
	background: url(../images/contr-center.png) center center repeat-x;
}
.contr-right{
	background: url(../images/contr-right.png) center center no-repeat;
}
.usage-left{
	background: url(../images/hos_medicine1.png) center center no-repeat;
	background-size:50%;
}
.chinese-left{
	background: url(../images/hos_medicine1.png) center center no-repeat;
	background-size:50%;
}
.pharc-left{
	background: url(../images/hos_jfnum.png) center center no-repeat;
	background-size:50%;
}
.chinese-left{
	background: url(../images/hos_chinesedrug.png) center center no-repeat;
	background-size:50%;
}
.rule-left{
	background: url(../images/hos_rulenum.png) center center no-repeat;
	background-size:50%;
}
.audit-left{
	background: url(../images/hos_auditproject.png) center center no-repeat;
	background-size:50%;
}
.inter-left{
	background: url(../images/hos_drug.png) center center no-repeat;
	background-size:50%;
}
.taboo-left{
	background: url(../images/hos_medicine2.png) center center no-repeat;
	background-size:50%;
}

.item-text{
	position:absolute;
	top:21px;
	left:110px;
	width:80px;
	bottom:18px;
}
.item-warn{
	position:absolute;
	bottom:5px;
	left:-5px;
	color:#FFF;
	font-size:12px;
}
.item-num{
	position:absolute;
	left:0px;
	bottom:28px;
	color:#FFF;
	font-weight:400;
	font-size:14px;
	/*transform: scale(1.6,2.3);*/
	transform: scale(1.5);		
}
.item-uom{
	position:absolute;
	left:50px;	
	height:25px;
	color:#FFF;
	font-size:12px;
	top:10px;
}

.month-left{
	width:20%;
	height:80%;
	background: url(../images/hos_rising.png) center center no-repeat;
	background-size:45%;
}
.month-center{
	position:absolute;	
	left:90px;
	width:80px;
	height:80px;
	background: url(../images/hos_released.png) center center no-repeat;
	bottom:0px;
	/* border:1px solid blue; */
}
.month-text{
	background: url(../images/hos_released.png) center center no-repeat;
    position: relative !important;
    bottom: 110px !important;
    left: 22%;
    font-weight: bold;
    font-size: 16px;
    width: 20%;
    height: 20%;
    background-size: cover;
}
.month-lasttext{

    position: absolute !important;
    bottom: 110px!important;
    font-weight: bold;
    font-size: 16px;
    width: 20%;
    height: 20%;
    background-size: cover;
    left: 74%;  
    right: 0px;
    background: url(../images/hos_release.png) center center no-repeat;
}
.month-right{
	width:20%;
	height:80%;
	background: url(../images/hos_falling.png) center center no-repeat;
	background-size:45%;
    position: absolute !important;
    /* bottom: 230px; */
    /* left: 50%; */
    /* border: 1px solid; */
    top: 0;
    left: 50%;
}

.month-last{
 	position: absolute;
    left: 250px;
    bottom: 40px;
}

.view-left{
	border:1px solid #CCC;	
}

.list-title{
	position:relative;
	/*background:#f9f9fa;*/
	height:35px;
	border-bottom:1px solid #ccc;
	padding-left:30px;
}
.list-title label{
	position:absolute;
	top:10px;
	left:30px;
	font-weight:bold;
}
.list-tools{
	position:absolute;
	top:0px;
	right:10px;
}

.item-release{
	
}

.pf-four {
	height:280px;
	border:1px solid #CCC;	
}
.list-release-item{
	height:250px;
	border:1px solid #CCC;
}

.pf-third {
	height:180px;
	border:1px solid #CCC;	
}
.pf-second{
	height:250px;
	border:1px solid #CCC;	
}

.view-area-first{
	height:100px;
}


.bottomDiv{
	width:100%;
	height:345px;	
	/*border:1px solid #ccc;
	box-sizing:border-box;*/
}
	
.bottomDivLefBorder{
	float:left;
	/*width:34%;*/
	/*min-width:461px;*/
	width:calc( calc(100% / 3) - 7px);
	height:100%;
	box-sizing:border-box;
	border-right:10px solid #FFF;
	border-bottom: 10px solid #FFF;
	border:0;
	padding-bottom:10px;
}
	
.bottomDivRigBorder{
	float:right;
	width:calc(100% - calc( calc(100% / 3) - 7px));
	height:100%;
	border-left:0px solid #FFF;
	border-bottom: 10px solid #FFF;
	box-sizing:border-box;
	border:0;
	padding-left:10px;
	padding-bottom:10px;
}
	
.bottomDivLef,.bottomDivRig{
	/*border:1px solid #CCCCCC;*/
	box-sizing:border-box;	
	width:100%;
	height:100%;
	border-radius: 4px;
}

.heading{
	height:30px;
	width:100%;	
	/*background:#F7F7F7;*/
	border-bottom:1px solid #ccc;
	border-top-left-radius:4px;
    border-top-right-radius:4px;
}	
.heading span{
	line-height:30px;	
}
.typeTable td{
	
}
.heading >span{padding-left:10px}


.bottomDivTopBorder{
	float:left;
	width:100%;
	height:100px;
	border-right:4px solid #FFF;
	border-bottom: 4px solid #FFF;
	box-sizing:border-box;
	border:0;
}

.bottomDivBottomBorder{
	float:right;
	width:100%;
	height:235px;
	/*
	border-left:4px solid #FFF;
	border-bottom: 4px solid #FFF;
	box-sizing:border-box;	
	border:1px solid #CCCCCC;
	border-radius: 4px;
	*/
}
	
.list-order-item{
	position:relative;
}
