.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
img,
a {
  /* 禁止图片被拖动 */
  user-select: none;
  -webkit-user-drag: none;
}
.nowrap {
  white-space: nowrap;
  /* 2.溢出的部分隐藏起来 */
  overflow: hidden;
  /* 3. 文字溢出的时候用省略号来显示 */
  text-overflow: ellipsis;
}
.ckb_view_container {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 925px;
  height: 570px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px 5px 5px 5px;
  z-index: 9999;
}
.ckb_view_head {
  position: relative;
  width: 925px;
  height: 50px;
  line-height: 50px;
  border-radius: 30px 5px 0px 0px;
  /*background: linear-gradient(225deg, #0091FF 0%, #026BFA 35%, #008BFF 100%, #0264F8 100%);*/
  background: linear-gradient(225deg, #40A2DE 0%, #008BFF 100%, #64B8FA 100%);
}
.ckb_view_head_logo {
  position: absolute;
  top: -34px;
  width: 64px;
  height: 64px;
  z-index: 1;
}
.ckb_view_head_title {
  position: absolute;
  width: 306px;
  left: 52px;
  top: 10px;
  height: 30px;
  line-height: 30px;
  background: url(../pdss/images/plu-headbg.png) right no-repeat;
}
.ckb_view_head_title label {
  height: 28px;
  font-size: 20px;
  font-weight: bold;
  color: #017BCE;
  line-height: 28px;
  margin-left: 40px;
  letter-spacing: 2px;
}
.ckb_view_head_tools {
  position: absolute;
  top: 10px;
  right: 23px;
  width: 300px;
  height: 30px;
  line-height: 42px;
  text-align: right;
}
.ckb_view_head_tools a {
  display: inline-block;
  width: 23px;
  height: 24px;
  margin-left: 11px;
  border-radius: 4px;
  opacity: 0.8;
  background-color:#f9f9f9;
}
.ckb_view_tool_refresh {
  /*background: url(../pdss/images/tool-refresh.png) no-repeat;*/
  background: url(../pdss/images/tool-refresh.hisui.png) no-repeat;
}
.ckb_view_tool_small {
  /*background: url(../pdss/images/tool_small.png) no-repeat;*/
  background: url(../pdss/images/tool_small.hisui.png) no-repeat;
}
.ckb_view_tool_big {
  /*background: url(../pdss/images/tool-big.png) no-repeat;*/
  background: url(../pdss/images/tool-big.hisui.png) no-repeat;
  margin-right: 54px; 
}
.ckb_view_tool_down {
  /*background: url(../pdss/images/tool_up.png) no-repeat;*/
  background: url(../pdss/images/tool_up.hisui.png) no-repeat;
}
.ckb_view_body {
  height: 469px;
}
.ckb_view_parent {
  width: 894px;
  height: 84px;
  background: #FFFFFF;
  padding: 17px 30px 14px 0;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
.ckb_view_parent_left {
  margin-left:10px;
  float: left;
  width: 110px;
  height:84px;
  text-align: center;
}
.ckb_view_parent_left img {
  width: 50px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 50px;
}
.ckb_view_parent_left .ckb_patname {
  margin-top: 9px;
  margin-bottom: 10px;  
  height: 24px;
  font-size: 17px;
  font-weight: 600;
  color: #333333;
  line-height: 24px;
  
}
.ckb_view_parent_right {
  float: left;
  margin-left: 2px;
  width: 770px;
  height: 84px;
}
.ckb_view_parent_right div {
  height: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 24px;
  margin-bottom: 7px;
}
.ckb_view_parent_right .pat_spec span {
  display: inline-block;
  height: 20px;
  padding: 0 7px;
  line-height: 20px;
  margin-right: 11px;
  background: rgba(255, 137, 0, 0.28);
  border-radius: 2px;
  border: 1px solid rgba(239, 152, 49, 0.8);
  font-size: 12px;
  font-weight: 400;
  color: #EF9831;
}
.ckb_view_main {
  /*width: 891px;*/
  width:925px;
  height: 338px;
  /*padding: 0px 14px 16px 20px;*/
  padding: 0px 0px 16px 0px;
  overflow-y: auto;
  /*里面的代码可以根据自己需求去进行更改*/
  /* 设置滚动条的样式 */
  /* 滚动槽 */
  /* 滚动条滑块 */
}
.ckb_view_main::-webkit-scrollbar {
  width: 6px;
}
.ckb_view_main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.ckb_view_main::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #DEDEDE;
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
.ckb_view_main::-webkit-scrollbar-thumb:window-inactive {
  background: #DEDEDE;
}
.ckb_view_item{
	margin-left:20px;
	margin-right:14px;
	}
.ckb_view_item_head .ckb_row {
  float: left;
  width: 90%;
  height: 25px;
  line-height: 25px;
  margin: 20px 0;
}
.ckb_view_item_head .ckb_view_item_more {
  float: right;
  width: 10%;
  margin: 20px;
  text-align: right;
  /*width: 15px;
  height: 18px;*/
  width: 20px;
  height: 20px;
  line-height: 20px;
  /*background: url(../pdss/images/item_more.png) no-repeat;*/
  background: url(../pdss/images/item_more.hisui.png) no-repeat;
  cursor: pointer;
  background-size:20px 20px;
}
.ckb_view_item_head .ckb_view_item_up {
  float: right;
  width: 10%;
  height: 25px;
  line-height: 25px;
  margin: 20px;
  text-align: right;
}
.ckb_view_item_head .ckb_view_item_up::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 18px;
  background: url(../pdss/images/item_up.png) no-repeat;
  cursor: pointer;
}
.ckb_view_item_head .ckb_itemlevel {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 13px;
  border-radius: 25px;
}
.ckb_view_item_head .ckb_itemforbid {
  background: url(../pdss/images/level_forbid.png) center center no-repeat;
}
.ckb_view_item_head .ckb_itemwarn {
  background: url(../pdss/images/level_warn.png) center center no-repeat;
}
.ckb_view_item_head .ckb_itemtips {
  background: url(../pdss/images/level_tips.png) center center no-repeat;
}
.ckb_view_item_head .ckb_itemvalue {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  margin-right: 4px;
}
.ckb_view_item_head .ckb_iteminstru {
  display: inline-block;
  vertical-align: middle;
  margin-left:4px;
  margin-right: 30px;
  width: 18px;
  height: 16px;
  background: url(../pdss/images/instru.png) center center no-repeat;
  opacity: 0.9;
  cursor: pointer;
}
.ckb_view_item_head .ckb_recmedical {
  display: inline-block;
  vertical-align: middle;
  margin-right: 38px;
  width: 15px;
  height: 16px;
  background: url(../pdss/images/drug.png) center center no-repeat;
  opacity: 0.9;
  cursor: pointer;
}
.ckb_view_item_body .item_levelstyle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  vertical-align: top;
  margin-top:5px;
  /*margin-top: -4px;*/
  /*vertical-align: middle;*/
}
.ckb_view_item_body .item_lineleft {
  margin-left: 8px;
}
.ckb_view_item_body .item_leveltext {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #333333;
  vertical-align: top;
  width: 30px;
  min-height: 21px;
  line-height: 21px;  
}
.ckb_view_item_body .item_libary {
  display: inline-block;
  width: 52px;
  min-height: 21px;
  font-size: 13px;
  font-weight: 400;
  color: #333333;
  line-height: 21px;
  vertical-align: top;
}
.ckb_view_item_body .item_msg {
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
  width: 678px;
  min-height: 20px;
  font-size: 13px;
  font-weight: 400;
  color: #666666;
  line-height: 20px;
}
.item_group {
  margin-bottom: 20px;
}
.ckb_text_row {
  margin-bottom: 20px;
}
.ckb_rulesource {
  display: none;
}
.forbid_color {
  background: #000000;
}
.warn_color {
  background: #E24F2C;
}
.tips_color {
  background: #EF9831;
}
.forbid_txtcolor {
  color: #000000 !important;
}
.warn_txtcolor {
  color: #E24F2C !important;
}
.tips_txtcolor {
  color: #EF9831 !important;
}

.text_18left {
  margin-left: 18px;
}
.view_notelists span,
.view_notelists label {
  font-size: 14px;
  font-weight: 400;
}
.view_notelists span {
  display: inline-block;
  color: #666666;
  vertical-align: top;
  height: 20px;
  line-height: 20px;
  margin-top: 0px;
  /*margin-top: 2px;*/
}
.view_notelists .view_notesitem {
  display: inline-block;
  width: 790px;
}
.view_notelists .view_notesitem label {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 24px;
  color: #333333;
}
.view_notelists .view_notesitem label input {
  margin-right: 6px;
  vertical-align: top;
  /*vertical-align: bottom;*/
}
.view_noteinput {
  position: relative;
  margin-top: 13px;
}
.view_noteinput::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 22px;
  width: 15px;
  height: 15px;
  background: url(../pdss/images/edit.hisui.png) no-repeat;
  cursor: pointer;
  background-size:16px 16px;
}
.view_noteinput textarea {
  width: 859px;
  height: 55px;
  background: rgba(51, 51, 51, 0.03);
  border-radius: 4px;
  border: 1px solid #DCDCDC;
  resize: none;
  outline-color: #5CA3FF;
}
.view_noteinput textarea:focus {
  background: #fff;
}
.ckb_view_control {
  width: 924px;
  height: 50px;
  line-height: 50px;
  text-align: right;
  background: #FFFFFF;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 5px 5px;
}
.btn_style {
  display: inline-block;
  background: #017BCE;
  /*border-radius: 4px;*/
  opacity: 0.9;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 24px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: default;
}
.btn_return {
  cursor: pointer;
}
.btn_return:hover {
  background: #2D64FF;
}
/*
.btn_return::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 13px;
  background: url(../pdss/images/btn_close.png) center center no-repeat;
  margin-right: 7px;
  vertical-align: middle;
}
*/
.btn_audit {
  cursor: pointer;
}
.btn_audit:hover {
  background: #2D64FF;
}
/*
.btn_audit::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 13px;
  background: url(../pdss/images/btn_send.png) center center no-repeat;
  margin-right: 7px;
  vertical-align: middle;
}*/
.ckb_warn_win {
  position: absolute;
  top: 35px;
  width: 122px;
  height: 50px;
  
}
.ckb_warn_win .ckb_warn_bg {
  position: absolute;
  width: 122px;
  height: 50px;
  z-index: 1;
  /*background: linear-gradient(225deg, #0091FF 0%, #026BFA 35%, #008BFF 100%, #0264F8 100%);*/
  background: linear-gradient(225deg, #40A2DE 0%, #008BFF 100%, #64B8FA 100%);
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.26);
  border-radius: 30px 5px 0px 30px;
}
.ckb_warn_win .ckb_warn_logo {
  position: absolute;
  top: -36px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.ckb_warn_win .ckb_warn_logo img {
  width: 100%;
  height: 100%;
}
.ckb_warn_win .ckb_warn_pull {
  position: absolute;
  z-index: 2;
  top: 13px;
  right: 14px;
  width: 23px;
  height: 24px;
  border-radius: 4px;
  opacity: 0.8;
  /*background: url(../pdss/images/tool_down.png) center no-repeat;*/
  background: url(../pdss/images/tool_down.hisui.png) center no-repeat;
  cursor: pointer;
  background-color:#f9f9f9;
}
.ckb_view_item_detail {
  display: none;
  width: 891px;
  margin-bottom: 20px;
}
.ckb_view_item_detail span:nth-child(2) {
  display: inline-block;
  width: 788px ;
  margin-left: 2px;
  vertical-align: top;
}
.ckb_view_item_education {
  width: 891px;
}
.ckb_view_item_recmedical {
	margin-top: 10px;
}
.ckb_view_item_recmedical p {
	margin-left: 80px;
    margin-top: 10px;
}

.audit_view_control {
  width: 924px;
  height: 50px;
  line-height: 50px;
  text-align: right;
  background: #FFFFFF;
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 5px 5px;
}

.itemlabel-xh{
	width:16px;
	height:16px;
	line-height:16px;
	margin:6px 0 0 2px;
	text-align:align;
	border:1px solid #ccc;
	display:inline-block;
	border-radius:50%;
}
.itemlabel-xh div {
	margin: 0 4px;	
}
.warn-bg{
	color:#fff;
	background:#FF6347;
	border:1px solid #FF6347;
}

.remind-bg{
	color:#fff;
	background:#FFA500;
	border:1px solid #FFA500;
}
.tips-bg{
	color:#fff;
	background:#FFA500;
	border:1px solid #FFA500;
}
.normal-bg{
	color:#fff;
	background:#3AB873;
	border:1px solid #3AB873;
}
.forbid-bg{
	color:#fff;
	background:#333333;
	border:1px solid #333333;
}
.forcls{
	color:#333333;
}
.warcls{
	color:#FF6347;
}
.norcls{
	color:#3AB873;
}
.tipcls{
	color:#FFA500;
}
.hisui-panel{
	
}
.datagrid-wrap
{
	border:0px;
}
.pha-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pha-col:first-child {
    margin-left: -1px;
}

/* inline-block 有间隙,大概4px */
.pha-col {
    display: inline-block;

    margin-left: -4px;
    padding-left: 10px;

    vertical-align: middle;
}
.audit_view_container {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 925px;
  height: 570px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px 5px 5px 5px;
  z-index: 9999;
}
.audit_view_head {
  position: relative;
  width: 925px;
  height: 50px;
  line-height: 50px;
  border-radius: 30px 5px 0px 0px;
  background: linear-gradient(225deg, #0091FF 0%, #026BFA 35%, #008BFF 100%, #0264F8 100%);
}
.audit_view_head_title {
  position: absolute;
  width: 306px;
  left: 52px;
  top: 10px;
  height: 30px;
  line-height: 30px;
  background: url(../pdss/images/plu-headbg.png) right no-repeat;
}

.audit_view_head_title label {
  height: 28px;
  font-size: 20px;
  font-weight: bold;
  color: #0075FD;
  line-height: 28px;
  margin-left: 40px;
  letter-spacing: 2px;
}
.audit_view_body {
  height: 469px;
}