.ckb-view-container{
	position:absolute;
	top:10px;
	left:20px;
	width:800px;
	height:400px;
	background:	#FFF;
	/* display:none; */
	border-radius:4px;
	box-shadow: 0px 3px 16px #999;
	/*  border:1px solid #556983; #48D1CC;  */
}
.ckb-view-head{
	height:36px;
	line-height:36px;
	padding-left:10px;
	color:#FFF;
	background:#556983; /*  #48D1CC;  */
	border-radius:4px 4px 0px 0px;
	/* border:1px solid red; */
}
.ckb-view-head label{
	margin-left:22px !important;
}
.ckb-view-head-logo{
	position:absolute;
	top:10px;
    left:10px;
    width:20px;
    height:20px;
    line-height:20px;	
}
.ckb-view-head-tools{
	position:absolute;
	top:10px;
    right:10px;
    width:20px;
    height:20px;
    line-height:20px;
}
.ckb-view-body{
	position:absolute;
	top:36px;
	left:0px;
    right:0px;
    bottom:0px;
	/* border:1px solid red; */
}
.ckb-view-body-lists{
	position:absolute;
	top:0px;
	left:0px;
    right:0px;
    bottom:0px;
    margin:10px;
    padding-top:5px;
    border-radius:4px;
    background:	#F5F5F5;
    overflow-y:auto;
    border:1px solid #ccc;
}
.ckb-view-body-item{
	position:relative;
	min-height:60px;
	border-bottom:1px solid #ccc;
}
.ckb-view-item-head{
	position:relative;
	height:30px;
}
.ckb-view-item-xh{
	position:absolute;
	top:0px;
	left:14px;
	width:50px;
	height:30px;
	color:#FFF;
	z-index:10;
	line-height:30px;
}
.ckb-view-item-tip{
	position:absolute;
	top:0px;
	left:38px;
	right:0px;
	height:30px;
	line-height:30px;
}
.ckb-view-item-warn-light{
	position:absolute;
    top:7px;
    left:10px;
    width:18px;
    height:18px;
    z-index:10;
    /* border:1px solid red;  */
}
.ckb-view-item-body{
	position:relative;
	color:#666;
	/* border-left:1px solid #ccc;  */
}
.ckb-view-item{
	position:relative;
	min-height:30px;
	/* border:1px dashed red;  */
}
.item-border-left{
	border-left:1px solid #ccc;
}
.warn-color{
	color:#FF6347;
	font-weight:bold;
}
.warn-color-normal{
	color:#000;
}
.remind-color{
	color:#FFA500;
}
.tips-color{
	color:#FFA500;
}
.normal-color{
	color:#3AB873;
}
.forbid-color{
	color:#333333;
}
.ckb-view-item-icon{
	position:absolute;
	top:8px;
    left:13px;
    width:12px;
    height:12px;
    z-index:10;
}
.ckb-view-item-warn{
	position:absolute;
	top:0px;
    left:50px;
    bottom:0px;
    width:40px;
    line-height:30px;	
}
.ckb-view-item-tips{
	position:absolute;
	top:0px;
    left:100px;
    bottom:0px;
    width:100px;
    line-height:30px;
    /* border:1px solid red; */	
}
.ckb-view-item-rest{
	position:relative;
	top:0px;
	padding-top:6px;
	line-height:18px;
	letter-spacing:1px;
	margin-left:180px;
	/* border:1px solid blue;	*/
}
.ckb-view-item-foot{
	position:absolute;
    top:0px;
    left:660px;
    width:100px;
    height:30px;
    line-height:30px;
}
.ckb-view-tools-close{
	font-size:18px;
}
.ckb-view-tools-close:hover{
	color:red;
	cursor:default;
}
.ckb-view-item-more{
	color:#6495ED;
	font-weight:200;
}
.ckb-view-item-more:hover{
	color:red;
}
.ckb-view-detail{
	min-height:300px;
	display:none;
	background:	#FFF;
}
#ckb_view_win label{
	margin:0;
}
/*=======图标========*/
.ckb-view-tool-close {
	background: url(../images/panel_tools_2.png) -16px 0 no-repeat;
}
.ckb-view-head-tools a {
    width: 16px;
    height: 16px;
    margin: 0 0 0 2px;
    vertical-align: top;
}
.ckb-view-head-tools a {
    display: inline-block;
}
.ckb-view-head-tools a.ckb-view-tool-close:hover {
    background-color: red;
    border-radius: 2px;
}

/*===================明细样式======================*/
.ckb-view-detail-patbase{
	position:relative;
	min-height:122px;
}
.ckb-view-detail-res{
	position:relative;
	min-height:60px;
}
.ckb-view-detail-use{
	position:relative;
	min-height:120px;	
}
.ckb-view-detail-line{
	position:absolute;
	left:35px;
	right:20px;
	bottom:0px;
	border-bottom:1px dashed #ccc;
}
.ckb-view-detail-title{
	position:relative;
	top:0px;
	left:0px;
	height:30px;
	font-weight:bold;
	padding-left:25px;
	/* border:1px solid green; */
}
.ckb-view-detail-title-img{
	position:absolute;
	top:7px;
	left:13px;
	width:12px;
	height:12px;
	/* border:1px solid red; */
}
.ckb-view-detail-title label{
	margin-left:12px !important;
	line-height:30px;
}
.ckb-view-detail-info{
	position:absolute;
	top:30px;
	left:20px;
	min-height:30px;
	color:#A9A9A9;
	padding-left:15px;
	/* border:1px solid green;	 */
}
.ckb-view-detail-resinfo{
	position:absolute;
	top:30px;
	left:20px;
	padding:6px 25px 0px 30px;
	line-height:18px;
	min-height:30px;
	letter-spacing:1px;
	/* border:1px solid red;	 */	
}
.ckb-view-item-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.ckb-view-item-table td{
	margin:0;padding:0;
	/* border:1px dotted #ccc; */	
	padding:5px 3px;
	font-size: 14px;
}
.ckb-view-item-table td.key-label{
	text-align:right !important;
	width:80px;
	color:#666;
}
.ckb-view-detail-use{
	position:relative;
	min-height:130px;
	/* border:1px solid red; */	
}
.ckb-view-detail-ds{
	position:absolute;
	top:0px;
	left:200px;
	color:#808080;
	font-weight:normal;
}
/*===================明细样式======================*/
.ckb-view-item-bottom-line{
	position:absolute;
	top:18px;
	left:17px;
	bottom:0px;
	border:0;
	/*border-left:1px solid #ccc;*/
}
.ckb-view-item-top-line{
	position:absolute;
	top:0px;
	left:17px;
	height:10px;
	border:0;
	/*border-left:1px solid #ccc;*/
}

/*===================多页签样式==================*/

.ckb-view-nav {
  height: 46px;
  box-sizing: border-box;
  margin-bottom: 6px;
  border-bottom: 1px solid #e5e9f2;
  white-space: nowrap;
  font-size: 0;
}

.ckb-view-nav-item {
  position: relative;
  display: inline-block;
  width: 50%;
  line-height: 43px;
  line-height: 44px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  font-weight: 600;
  color: #475669;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.ckb-view-nav-active {
  color: #00a0e9;
  background: #fff;
  border-bottom: 2px solid #00a0e9;
}

.ckb-view-main { 	
	position:absolute;
	top:50px;
	left:0px;
	right:0px;
	bottom:50px;
	margin:10px;	
	border-radius:4px;
	background:	#FFF; 
	overflow-y:auto;
	border:1px solid #ccc;
	
}

.ckb-view-item-edu{
	position:relative;
	top:0px;
	padding-top:6px;
	line-height:18px;
	letter-spacing:1px;
	margin-left:50px;
}
.ckb-view-control {
	position:absolute;	
	left:0px;
	right:0px;
	bottom:0px;
	margin:10px;	
	height:30px;
	border-radius:4px;
	/*background:	#F5F5F5;*/
	overflow-y:auto;
	/*border:1px solid #ccc;*/
}
.ckb-view-control-checkbox {
	margin-left: 24px;
    cursor: pointer;
    display: inline-block;
    line-height: 22px;
    height: 21px;
    vertical-align: middle;
}