/*Ò½ÖöÃû³Æ*/
.queryCode-input{
	width: 244px;
	height: 26px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 2px;
	margin:0 10px 0 10px;
	}
	
/*²éÑ¯*/
.queryCode-a{
	width: 68px;
	height: 26px;
	background: #339eff;
	border-radius: 2px;
	padding-bottom:5px;
	}
.queryCode-a .l-btn-text{
	padding:0px;
	}
.queryType-input{
	width: 414px;
	height: 26px;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 2px;
	margin:0 10px 0 10px;

	}
.datagrid-body td, .datagrid-footer td, .datagrid-header td{
	border:0px;
	}
	
.panel-body, .panel-header{
	border-color:#fff;
	}
.tabs .tabs-selected .tabs-inner{

	border-bottom:2px solid #339eff!important;
	border-top:3px solid #fff!important;
	}
.tabs li a.tabs-inner{
	height:31px!important;
	}
.tabs-container.tabs-gray .tabs li{
	border-right:0px;
	}

.tabs-title{
	font-size: 12px;
	font-family: Microsoft YaHei, Microsoft YaHei-Regular;
	font-weight: 400;
	text-align: left;
	color: #000000;
	}
.tabs-brand .tabs-inner .tabs-title{
	font-weight:bold;
	}
.tabs-header{
	background-color: #fff!important;
	}
.tabs-container.tabs-gray .tabs li a.tabs-inner{
	background-color: #fff!important;
	}
.tabs li a.tabs-inner:hover{
	color:#FFF!important;
	}
.tabs-container.tabs-gray .tabs li a.tabs-inner{
	border-top-color: #fff!important;
	}
.datagrid-cell, .datagrid-cell-group, .datagrid-cell-rownumber, .datagrid-header .datagrid-cell span, .datagrid-header-rownumber, .l-btn-text, .tabs-title{
	font-size:12px;
	}
	
.icon-abnormal
  {    background: url('../images/abnormal.png') no-repeat scroll center center transparent;
}
.icon-normal
  {    background: url('../images/normal.png') no-repeat scroll center center transparent;
}
.queryCode-input-min{
	width: 144px;
	background: #ffffff;
	border: 1px solid #cccccc;
	margin:0 10px 0 10px;
	}
	