html,body{
	margin:0;
	padding:0;	
	height:100%;
	background-color:#FFF;
	overflow-x: hidden;
}
.main-content{
	height:100%;
	width:100%;	
	display:flex;
	flex-direction:row;
}

.left-cage{
	flex:1;
	margin:10px;
	border:1px solid #CCC;
	display:flex;
	flex-direction:column;	
}

.audit-item{;	
	margin:0 0 10px 10px;
	line-height:30px;
}

.center-cage{
	flex:4;
	display:flex;
	flex-direction:column;	
}

.main-cage{
	flex:1;	
	display:flex;
}

.tab-cage{
	flex:2;
	border:1px solid #CCC;
	margin:10px 0 10px 0;	
}

.info-cage{
	flex:1;
	margin:10px;
	border:1px solid #CCC;	
}


.cage-title{
	height:30px;
	line-height:30px;
	border-bottom:3px solid #31B1FF;
	padding-left:10px;
		
}

.tabs-header, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner, .tabs-panels, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool{
	border-color: #FFF;
}
.tabs-header, .tabs-tool{
	background-color: #FFF;
}
.tabs li a.tabs-inner {
    color: #31B1FF;
    filter: none;
    border-radius: 0px;
    background: #FFF;
    border-width: 3px 0px 0px;
    border-top: #FFF;
}

.tabs-header {
	padding-top: 0;
    border-top-width: 0;
}
.tabs li.tabs-selected a.tabs-inner{
	border:0 solid;
	border-bottom: 3px solid #31B1FF;
}
.tabs li a.tabs-inner{
	border-radius:0px;
}
.tabs li.tabs-selected a.tabs-inner, .tabs li.tabs-selected a.tabs-inner:hover,.tabs li a.tabs-inner:hover {
	background: #FFF;
    color: #31B1FF;
    font-weight: 400;
}
.tabs-inner{
	height:33px !important;
	line-height:33px !important;
}
.tabs li:not(:last-child)::after{
	content: '';
    display: inline-block;
    height: 20px;
    width: 0;
    vertical-align: middle;
    border-left: 0px;
    border-right: 0px;
    margin-left: 1px;
}
.panel-body, .panel-header{
	border-color:#ccc;
}
.celllabel{ font-family: "Î¢ÈíÑÅºÚ";height:25px; padding: 0; margin: 0; line-height: 25px;} 
.celllabel h3{font-size: 14px; font-weight: bold;  padding: 0; margin: 0; color:#000}
.celllabel h3 span{font-size:14px; padding-right:5px;}
.celllabel h4{font-size:14px;color:#000}

.presc-col{
	margin-left:15px;
	color:#40A2DE;
}

.presc-text{
	margin-left:5px;
}

.presc-no{
	margin-left:5px;
	color:#40A2DE;
}

.presc-pre{
	margin:5px 0px 0px 11px;
	font-size:12px;
}

.presc-drug{
	padding:10px;
	font-size:12px;
}

.presc-use{
	margin-left:35px;
}

.presc-drug:first-child {
	margin-left: -1px;
}

.history-item{
	
	border:1px solid #CCC;
	border-radius:2px;
	padding:5px;
	margin: 10px 10px 0 10px;	
}

.presc-cage{
	display:flex;
	flex-direction:column	
}

#prescInfo{
	flex:1;
	border-bottom:2px solid #CCC;	
}

#proInfo{
	flex:1;	
}