.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:absolute;
	left:1px;
	right:1px;
	bottom:1px;
	top:1px;
	/* border:1px solid #ccc; */
}
.page-title{
	height:100px;
	border:1px solid #ccc;
}
.page-body{
	position:absolute;
	top:103px;
	left:0;
	right:0;
	bottom:0;
}
.page-bottom{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	height:30px;
	border:1px solid #ccc;
}
.page-left{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width:200px;
	border:1px solid #ccc;
}
.page-center{
	position:absolute;
	top:0px;
	left:203px;
	right:283px;
	bottom:0px;
	background:#F5F5F5;
	border:1px solid #ccc;
	overflow:auto;
}
.page-right{
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	width:280px;
	border:1px solid #ccc;
}
.form{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	border:0px solid #ccc;
}
.list-panel{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#FFF;
	border:1px solid #ccc;	
}
.list-title{
	position:relative;
	background:#f9f9fa;
	height:34px;
	border-bottom:1px solid #ccc;
	padding-left:30px;
}
.list-title label{
	position:absolute;
	top:10px;
	left:35px;
	font-weight:bold;
}
.list-tools{
	position:absolute;
	top:0px;
	right:30px;
}
.list-icon{
	position:absolute;
	top:10px;
	left:10px;
	height:16px;
}
.list-item{
	position:absolute;
	top:36px;
	left:0px;
	right:0px;
	bottom:0px;
	padding:10px;
	overflow:auto;
}
.list-item-padd-0{
	position:absolute;
	top:36px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
}
/*页面表格样式*/
.form-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.form-table td{margin:0;padding:0;}
.form-table td{
	border:0px solid #95B8E7;
	padding:2px 3px;
	font-size: 14px;
}
.row{
	position:relative;
	min-height:40px;
	line-height:30px;
	margin-bottom: 10px;
	border:1px dashed #FFF;
}
.row:hover{
	/* 
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6); 
	border:1px dashed green;
	*/
	border:1px dashed #CCC;
}
.row-select{
	/* 
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
	border:1px dashed green;
	*/
	border:1px dashed #CCC;
}
.draggable{
	margin-top:4px;
	margin-bottom:4px;
	margin-left:10px;
}
/*
.draggable{
	position:relative;
	top:0px;
	left:0px;
	width:100px;
	min-height:50px;
}
*/
.itemprop{
	position:relative;
	top:0;
	left:0;
	right:0;
	height:190px;
	border-bottom:1px solid #ccc;	
}
.itemarea{
	position:relative;
	top:0;
	left:0;
	right:0;
	height:190px;
	border-bottom:1px solid #ccc;	
}
.customset{
	position:absolute;
	top:390px;
	left:0;
	right:0;
	bottom:0;
	border-top:1px solid #ccc;	
}
.customset table tr, .itemprop table tr{
	height:45px;
}
.customset table tr td:first-child, .itemprop table tr td:first-child{
	text-align:right;
}
.btntexts {
	width: 72px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: #ecf1f4;
	margin: 5px;
}
.btntexts:hover {
	background-color: #4cd3ff;
	color: #fff;
}
.itemlabel{
	min-height:30px;
	text-align:align;
	width:70px;
	border:1px solid #ccc;
	vertical-align:top;
	padding:3px;
	display:inline-block;
}
.itemlabel:hover{
	background: #e3f7ff;
	border: 1px solid #c0e2f7;
}
.itemlabel-select{
	background: #e3f7ff;
	border: 1px solid #c0e2f7;
}
.area{
	min-height:100px;
	margin-bottom:10px;
	padding:10px;
	border:1px solid #ccc;
}
.area:hover{
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);	
	border:1px solid green;
}
.area-select{
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6);
	border:1px solid green;
}