
.btn-default:active:hover{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.rule-join-container {
    border: solid #999 1px;
    padding: 1px;
    background: #fff;
}
.line-darkcyan{height: 20px; cursor: pointer; margin: 0 0 0 10px; color: #13AE37;font-size:14px;padding-right:8px}
.line-darkcyan-zero{height: 20px; cursor: pointer; margin: 0px; color: #13AE37; border: 1px dashed transparent;padding-right:8px}
.line-red{height: 20px; cursor: pointer; padding: 0px; margin-left:10px; color: #EE0F0F; font-size: 14px;}
.line-brown{height: 20px; cursor: pointer; margin: 0px; color: #DF7000; padding: 0px 2px; border: 1px dashed transparent;font-size: 14px;}/*棕色*/
.line-blue{height: 20px; cursor: pointer; margin: 0px; color: #339EFF; padding: 0px 2px;font-size:14px;padding-right:20px}
.line-green{height: 20px; cursor: pointer; margin: 0px; color: #666666; padding: 0px 2px; border: 1px dashed transparent;}
/*.line-darkcyan{height: 20px; cursor: pointer; margin: 0 0 0 10px; color: darkcyan;font-size:12px;}
.line-darkcyan-zero{height: 20px; cursor: pointer; margin: 0px; color: darkcyan; border: 1px dashed transparent}
.line-red{height: 20px; cursor: pointer; padding: 0px; margin-left:10px; color: red; font-size: 12px; font-weight: bold;}
.line-blue{height: 20px; cursor: pointer; margin: 0px; color: rgb(1, 116, 223); padding: 0px 2px;font-size:12px;}
.line-green{height: 20px; cursor: pointer; margin: 0px; color: green; padding: 0px 2px; border: 1px dashed transparent;}*/
/*.line-brown{height: 20px; cursor: pointer; margin: 0px; color: rgb(180, 95, 4); padding: 0px 2px; border: 1px dashed transparent;font-size: 12px;}/*棕色*/
.line-purple{height: 20px; cursor: pointer; margin: 0px; color: rgb(107, 61, 176); padding: 0px 2px; border: 1px dashed transparent;}
.line-i{color: #019dff;cursor: pointer;font-size: 9pt;padding-left:5px;}
.blank{height: 20px; cursor: pointer; margin: 0px; color: white; padding: 0px 2px; border: 1px dashed transparent;font-size: 10px;box-sizing: border-box;}
.rule-delete-action {
    font-size: 10pt;
    cursor: pointer;
    color: #FF9800;
}
/*.rule-action span{font-size:12px}*/
.rule-action span{font-size:14px}
.rule-action {
    padding: 1px;
    line-height: 28px;/*27px*/
    margin-top:18px;
}
.rule-add-action {
    /*color: #017bce;blue*/
    color:#000;
    font-weight: normal;
    cursor: pointer;
    padding-left: 5px;
    padding-bottom: 5px;
    /*text-decoration:underline;*/
}
.font-12{font-size: 12px}
.rule {
    margin: 5px;
    padding: 8px;
    border: none;
    background: #ffffff;
    border-bottom: solid 1px #d2d2d2;
    box-shadow: none;
    border-radius: inherit;
}
.line-darkcyan:hover,.line-darkcyan-zero:hover,.line-red:hover,.line-blue:hover,.line-green:hover,.line-brown:hover,.blank:hover{
	border: 1px dashed gray;
}
.icon {
	width:31px;
    padding-left: 6px;
    background-position: left 0px center;
    display: inline-block;
    font-size: 12px;
}
.icon-cancel{
	cursor:pointer;
}
/*menu开始啦*/
.dropdown-menu{
	position: absolute;
	float: left;
	min-width: 160px;
	padding: 10px 0;/*5px 0*/
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #339eff; /*1px solid rgba(0, 0, 0, 0.2)*/
	border-radius: 6px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);/*0 5px 10px rgba(0, 0, 0, 0.2)*/
	background-clip: padding-box;
	text-align: left;
	font-size: 14px;/*12px*/
}
.dropdown-menu>li{
	cursor: default;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-context:before, .dropdown-context-up:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: #339eff; /*rgba(0, 0, 0, 0.2)*/
    content: '';
}
.dropdown-context:after, .dropdown-context-up:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-submenu{
	position:relative;
}
.dropdown-submenu > .dropdown-menu{
	top:0;
	left:100%;
	margin-top:-6px;
	margin-left:-1px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu ul {
	visibility:hidden; 
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    /*color: #ffffff;*/
    text-decoration: none;
    background-color: #e5e5e5;/*#0081c2*/
    /*background-image: linear-gradient(to bottom, #0088cc, #0077b3);*/
    background-repeat: repeat-x;
}
#drugattr li:hover > ul{
	visibility:visible; 
	top:0;
	left:100%;
	margin-top:0px;/*-6px*/
	margin-left:-1px;
	border-radius: 0 6px 6px 6px;
}
#drugattr a,#unit a,#dataset a,#operation a,#inputType a,#manlevelattr a{
			display:block; 
			/*font:normal 11px verdana,arial,sans-serif; */
			color:#000; line-height:34px; /*line-height:25px;*/
			text-decoration:none;
			padding:0 10px; /*hxy 2022-06-02 20px->10px*/
}
#drugattr a:hover,#unit a:hover,#dataset a:hover,#operation a:hover,#inputType a:hover{
	/*color:#fff;*/
}
/*menu结束*/

/* 分支扩展级别样式 */
.manlevopeator {
	display:inline-block;
	width:16px;
	height:16px;
	/*background:#fff;	(/
	/*background:url(../images/ruleindex_editman.png) center center no-repeat;*/
    cursor: pointer;
    margin: 0px;
   /*color: white;*/
    padding: 0px 0px;
    margin-bottom:-5px;
    /*border: 1px dotted gray;*/
    /*border: 1px dotted #fff;*/
}

.manlevopeator img {
	width: 100%;
    height: 100%;
}
/*
.manlevopeator:after {
	display:inline-block;
	content:"";
	width:100%;
	height:100%;
	background:url(../images/ruleindex_editman.png) center center no-repeat;
	<img src="../scripts/dhcnewpro/dhcckb/images/ruleindex_editman.png" alt="" style="
    width: 100%;
    height: 100%;
">
	}*/
.lineext-darkcyan{height: 20px; cursor: pointer; margin: 0 0 0 0px; color: #17C7AC;font-size:14px;padding:4px}
.lineext-blue{height: 20px; cursor: pointer; margin: 0px; color: #339EFF; padding: 0px 2px;font-size:14px;padding:4px}
/*.lineext-darkcyan{height: 20px; cursor: pointer; margin: 0 0 0 0px; color: darkcyan;font-size:12px;}
.lineext-blue{height: 20px; cursor: pointer; margin: 0px; color: rgb(1, 116, 223); padding: 0px 2px;font-size:12px;}*/

.rule-cancel {
    background: url(../images/ruleindex_cancel.png) center center no-repeat;
    cursor: pointer;
}
.result-input {/*2022-06-02 结果的input加宽*/
	width:56%;
	min-width:56%;
}
.li-a {/*2022-06-02 结果的input加宽*/
	width:160px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.leftspace {
	margin-left:10px;
}
/*2023-03-10 st*/
#PathCon >div >span:nth-child(1){
	background: #F5F5F5;
	padding-top: 7px;
    padding-bottom: 7px;
    border-radius:4px;
} 
#else >div >span:nth-child(2),#then >div >span:nth-child(2){
	background: #F5F5F5;
	padding-top: 7px;
    padding-bottom: 7px;
    border-radius:4px;
}
.kw-chapter{
	border-bottom: 1px dashed #E2E2E2;
}
#else,#then{
	/*padding-bottom: 20px;*/
	padding-bottom: 15px;
}
body{
	padding:0px;
}/*ed*/

/*滚动条样式*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #D4D4D4;
    border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
    background-color: #F1F1F1;
    border-radius: 4px;
}
/*选择变量第二个ul样式*/
.dropdown-context .dropdown-context-sub:before{
	position: absolute;
    top: 7px;
    left: -14px;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid rgb(51, 158, 255);
    border-bottom: 7px solid transparent;
    content: "";
}
.dropdown-context .dropdown-context-sub:after{
	position: absolute;
    top: 8px;
    left: -12px;
    display: inline-block;
    border-top: 6px solid transparent;
    border-right: 6px solid rgb(255, 255, 255);
    border-bottom: 6px solid transparent;
    content: "";
}
#drugattr li:hover > ul{
	left:168px;
}
/*#drugattr >li >a:hover+ul:after{/*和二级变量朝左的冲突/
	position: absolute;
    top: 8px;
    display: inline-block;
    border-top: 6px solid transparent;
    border-left: 6px solid rgb(0, 0, 0);
    border-bottom: 6px solid transparent;
    content: "";
}*/
/*#drugattr >li >a:hover:after{/*没有的也显示，不太合适/
	position:relative;
	float:right;
    top: 8px;
    left:4px;
    content: url(../images/three-right.png);
}*/


