.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
}
.page-north{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:125px;
	border:1px solid #ccc;
}
.page-center{
	position:absolute;
	top:126px;
	left:0;
	right:0;
	bottom:0;
}
.p-n-condition{
	position:relative;
	padding-left:10px;
	height:40px;
	line-height:40px;
}
.p-n-item{
	position:relative;
	padding-left:10px;
	height:45px;
}
.p-n-rule{
	position:absolute;
	top:87px;
	left:0;
	right:0;
	bottom:0;
}
.dashline-div {
    height: 1px;
    border-top: 1px dashed #ccc;
    clear:both;
	overflow: hidden;
}
.list-title{
	position:relative;
	background:#f9f9fa;
	height:34px;
	border-bottom:1px solid #ccc;
	padding-left:30px;
}
.list-title label{
	position:absolute;
	top:10px;
	left:35px;
}
.list-tools{
	position:absolute;
	top:0px;
	right:30px;
}
.list-icon{
	position:absolute;
	top:10px;
	left:10px;
	height:16px;
}
.list-order-item{
	position:absolute;
	top:36px;
	left:0;
	right:0;
	bottom:0;
}
.p-n-item .bt-messager-popover{
	float:left;
	text-align:center;
	margin-top:5px;
	margin-right:10px;
}
.bt-messager-popover {
    display: block;
    padding: 9px 15px;
    font-weight: 700;
}
.bt-messager-popover.success {
    color: #3c763d;
    background: #e2ffde;
    border: 1px solid #aae3a2;
}
.bt-messager-popover.error {
    color: #ff3d2c;
    background: #ffe3e3;
    border: 1px solid #fec0c0;
}
.bt-messager-popover.info {
    color: #1278b8;
    background: #e3f7ff;
    border: 1px solid #c0e2f7;
}
.pf-patimg{
	float:left;
	width:30px;
	line-height:35px;
}
.pf-patimg img{
	vertical-align:middle;
	margin-left:3px;
}
.label-desc{
	margin-left:10px;
}
.label-manf, .label-form{
	margin-left:50px;
}
.rule-local{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:500px;
	border:0;
    overflow:hidden;
	border: 1px solid #ccc;
}
.rule-import{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:500px;
	border:0;
	overflow:auto;
	border: 1px solid #ccc;
}
.rule-header{
	position:relative;
	height:35px;
	border: 0px solid red;
}
.rule-body{
	position:absolute;
	top:35px;
	left:0;
	right:0;
	bottom:0;
	border: 0px solid green;
}
.rule-body-west{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:106px;
	overflow:hidden;
	border: 0px solid #ccc;
}
.rule-local .rule-body-center{
	position:absolute;
	top:0;
	left:106px;
	right:0;
	bottom:0;
	overflow:auto;
	border-left: 1px solid #ccc;
}
.rule-import .rule-body-center{
	position:absolute;
	top:0;
	left:106px;
	right:106px;
	bottom:0;
	overflow-y:hidden;
	overflow-x:auto;
	border-left: 1px solid #ccc;
}
.rule-body-east{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:106px;
	overflow:auto;
	border-left: 1px solid #ccc;	
}
.item-rank-header{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:0px solid #95B8E7;
	border:none;
	width:100%;
}
.item-rank-header{
	position:absolute;
	top:0;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
}
.item-rank-header tr{
	background:#f9f9fa
}
.item-rank-header tr{
	height:30px;
}
.item-rank-header td{
	margin:0;padding:0;
	padding:5px 3px;
	font-size: 14px;
	border:1px solid #ccc;
}
.item-rank-header td.key-label{
	text-align:center !important;
}
.item-rank-header td.item-rank-width-20{
	width:100px;
}
.item-rank-header td.item-rank-width-80{
	width:auto;
}
.item-rank-header tr td:first-of-type{
	border:0;
}
.item-rank-header tr td:not(:first-of-type){
	border-top:0;
	border-right:0;
	border-bottom:0;
}


.item-rank{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:0px solid #95B8E7;
	border:none;
}
.item-rank{
	position:absolute;
	top:0;
	left:0px;
	right:0px;
	bottom:0px;
	overflow:auto;
}
.item-rank tr:hover{
	/* background:#d9e7f1; */
}
.item-rank tr{
	height:30px;
}
.item-rank td{
	margin:0;padding:0;
	padding:5px 3px;
	font-size: 14px;
	border:1px solid #ccc;
	white-space: nowrap;  
}
.item-rank td.key-label{
	text-align:left !important;
}
.rule-body-east .item-rank td.key-label{
	text-align:center !important;
}
.item-rank td.item-rank-width-20{
	width:100px;
}
.item-rank td.item-rank-width-80{
	
}
.item-rank tr td:first-of-type{
	border-left:0;
}
.item-rank tr td:last-of-type{
	border-right:0;
}