.search_tab {
    padding: 24px 0 10px;
    font-size: 14px;
    color: #8aa4c9;
    margin-left:300px
}
.search_tab a.cur {
    color: #3385ff;
    font-weight: bold;
}
.search_tab a {
    margin: 0 3px;
    color: #8aa4c9;
}
.search_bd {
    width: 650px;
    height: 38px;
    margin: 0 0 0 155px;
    overflow: hidden;
}

.search_btn {
    width: 98px;
    height: 36px;
    font-size: 16px;
    border: 2px solid #317ef3;
    border-left: none;
    text-align: center;
    background-color: #317ef3;
    margin-top: 2px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
}
.search_bd .search_btn {
    position: absolute;
    top: -2px;
    left: 500px;
}
.fl {
    float: left;
}
.search_bd .kewword {
    width: 500px;
    height: 36px;
    /* line-height: 32px; */
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 10px;
    outline: none;
    border: 2px solid #38f;
    border-right: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
.search_bd {
    overflow: hidden;
    position: relative;
    height: 38px;
}
* {
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}