.form-table{
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.form-table td{
	border:1px solid #95B8E7;
	padding:5px 5px;
	font-size: 13px;
}
.tb_td_bk{
	width:100px;
	background:rgb(238, 247, 254);
}
.ui-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 25px;
    width:200px;
    border:1px solid #95B8E7;
}