    .vis-navigation{
		display:none    
	}
	a:hover
	{ 
	 background-color:#CCCCCC;
	}
	/*圆形*/
	.circle{
		width: 7px;
	    height: 7px;
	    background: #CCCCCC;
	    border-radius: 50px;
	    float:left;
	    margin-left:-19px;
	    margin-top:14px;
	}
	/*圆形*/
	.circle-check{
		width: 19px;
	    height: 11px;
	    background: transparent url(../images/checkthis.gif) -271px -38px no-repeat;
	    float:left;
	    margin-left:-23px;
	    margin-top:12px;
            }
      
	/*锚点ul*/
	#anchor ul {
		position:absolute;
	    list-style: none;
	    margin: 0px;
	    padding: 0px 23px;
	    width: auto;
	}
	/*锚点li*/
	#anchor li {
	    position: relative;
	    padding: 0 0 0 15px;
	    line-height: 35px;
	    border-left: 1px dashed #cccccc;
	}
	/*锚点img*/
	.anchor-circle{		
		width:10px;
		height:10px;
		float:left;
		margin-left:-19px;
		margin-top:2px;
	}
	#anchor li:hover{
		color:#017BCE;
		cursor:pointer;
	}
	.anchor-cur
	{
	    content:url(../../../scripts/dhcnewpro/images/anchor-checked.png);
		position:absolute;
		background: black;
		left: -6px;
		top:14px;
	}
	
	/*
	*/
	.content-wrapper .content {
		position:relative;
		font:12px/1.5 arial,'\5b8b\4f53',sans-serif
	}
	.content-wrapper .content:after {
	    content: '\0020';
	    display: block;
	    height: 0;
	    font-size: 0;
	    clear: both;
	    overflow: hidden;
	    visibility: hidden;
	}
	
	.content-wrapper .content .main-content>:first-child {
		margin-top:0!important
	}
	.content-wrapper .content .main-content .main_tab>:first-child {
		margin-top:0!important
	}

	.content-wrapper {
		/**
    	margin: 20px 0 0;
		*/
	}
	.content {
		/**
    	margin: 0 auto;
    	width: 1137px;
    	*/
    	background: #fff;
    	
    	/**
    	border: 1px solid #e5e5e5;
    	**/
    	position: relative;
    	font: 12px/1.5 arial,'\5b8b\4f53',sans-serif;
	}

	.main-content {
    	width: 950px;
    	padding: 29px 29px 0;
   	 	float: left;
    	position: relative;
	}
	.side-content {
	    position: relative;
	    float: left;
	    width: 270px;
	}
	.title-prefix{
		display:none	
	}
	.title-text {
	    float: left;
	    display: block;
	    padding: 0 8px 0 18px;
	    line-height: 24px;
	    font-size: 22px;
	    font-weight: 400;
	    color: #000;
	    background: #fff;
	}
	.para-title.level-2 {
	    display: block;
	    clear: both;
	    zoom: 1;
	    overflow: hidden;
	    border-left: 12px solid #4F9CEE;
	    line-height: 24px;
	    font-size: 22px;
	    font-weight: 400;
	    font-family: Microsoft YaHei,SimHei,Verdana;
	    margin: 35px 0 15px -30px;
	    background: url(https://bkssl.bdimg.com/static/wiki-lemma/normal/resource/img/paraTitle-line_c5e6d61.png);
	    position: relative;
	}
	.para-title.level-2 .edit-icon {
	    display: block;
	    display: none;
	    float: right;
	    height: 22px;
	    line-height: 22px;
	    padding-left: 24px;
	    font-size: 12px;
	    color: #888;
	    font-family: SimSun;
	    text-decoration: none;
	    background: #fff;
	}
	.para-title.level-2 .edit-icon em {
	    margin: 0 3px 0 0;
	    vertical-align: text-bottom;
	    text-decoration: none;
	    color: #aaa;
	}

	.cmn-icon {
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    speak: none;
	    font-style: normal;
	    font-weight: 400;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
	    outline: 0;
	}
	.para {
	    font-size: 14px;
	    word-wrap: break-word;
	    color: #333;
	    margin-bottom: 15px;
	    text-indent: 2em;
	    line-height: 24px;
	    zoom: 1;
	}
	.clear{
		clear: both;
	}

	body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,figure,form,fieldset,legend,button,input,textarea,select th,td {
		margin: 0;
		padding: 0
	}
	.lemmaWgt-promotion-vbaike {
	    display: none;
	    margin-bottom: 10px;
	    border: 1px solid #509DE1;
	    padding: 10px 14px 0;
	    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
	    background: #509DE1;
	}
	.lemmaWgt-promotion-vbaike .promotion_title {
	    margin: 0 0 8px;
	    color: #fff;
	    font-weight: 700;
	    text-align:center;
	}
	.lemmaWgt-promotion-vbaike .promotion_title a {
	    color: #fff;
	}
	.lemmaWgt-promotion-vbaike .promotion_viewport {
	    position: relative;
	    margin: 0 0 0 -14px;
	    overflow: hidden;
	    width: 268px;
	    height: 152px;
	}
	.body-wrapper a {
	    color: #136ec2;
	    text-decoration: none;
	}
	.wikis {
		margin-left:27px;
	}

	.list-back-color{
		background-color:#f2f2f2
		}


.dot {
  top: 50%;
  margin-left: -5px;
  margin-top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #A9A9A9;
 
}




