html{
	min-height: 100%;
	/*position: relative;*/
}
body{
	background-color: #eee;
	/*margin-bottom: 60px;*/
	font-family:"Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	zoom:1;
}
.navbar-fixed-top{
	margin-bottom: 0;
	border-color: #e7e7e7;
	background-color: #16c79e;
	z-index: 9999;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.navbar-fixed-top+.main-container{
	padding-top:50px;
	position:fixed;
	width: 100%;
}
.page-content {
    padding: 0 0 0 0px;
}
.navbar .navbar-nav>li>a{
		padding-top: 15px;
    padding-bottom: 15px;
    height: auto;
}
.nav-tabs>li>a:hover {
	text-decoration: none;
	color:#16c79e;
	cursor:pointer;
}
.navbar-right a{
	color: #545454;
}
.navbar .navbar-brand{
	height: auto;
	color: #fff;
	font-size: 18px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.sidebar {
    width: 200px;
		height: 100%;
		color: #a6a8b1;
		background-color: #3a3f51;
		transition: width 0.1s;
}
.no-skin .sidebar {
		color: #a6a8b1;
		background-color: #3a3f51;
}
.bg-dark .nav > li > a {
    color: #b4b6bd;
}
.no-skin .nav-list>li>a{
	background-color: #3a3f51;
	transition: all .2s;
}
.bg-dark .nav > li > a:hover,.no-skin .nav-list>li.active>a,.no-skin .nav-list>li:hover>a, .no-skin .nav-list .open>a:hover,.no-skin .nav-list>li.active>a:focus, .no-skin .nav-list>li.active>a:hover, .bg-dark .nav > li > a:focus ,.no-skin .nav-list>li .submenu>li>a:hover{
	  color: #ffffff;
    background-color: #32374a;
}
.nav-list>li.active>a>.menu-icon{
	color:#4dd6ff;
}
.nav-list>li {
  border: none;
}
.sidebar .sidebar-toggle:before {
    display: none;
}
.sidebar .sidebar-toggle {
    border: none;
    text-align: center;
    padding: 8px;
    position: relative;
		z-index: 999;
}
.sidebar .sidebar-toggle>.ace-icon{
	width: 100%;
	height: 20px;
	border-radius: 10px;
}
.sidebar .sidebar-toggle>.ace-icon:hover{
	color: #16c79e;
	border-color: #16c79e;
}
.sidebar.menu-min .sidebar-toggle>.ace-icon{
	line-height: inherit;
}
.sidebar+.main-content {
    margin-left: 200px;
}
.no-skin .nav-list li.active>a:after {
    border-right-color: #16c79e;
}
.nav-list>li:before {
    background-color: #16c79e;
}
.no-skin .nav-list>li.active:after {
    border: 2px solid #16c79e;
}
.no-skin .nav-list>li .submenu>li.active>a>.menu-icon {
    color: #16c79e;
}
.no-skin .nav-list>li .submenu{
	background-color: #2e3344;
	border-color: #3a3f51;;
}

.no-skin .nav-list>li .submenu li{
	margin-left: -20px;
	opacity: 0;
	transition: margin-left 0.2s ease-in-out 0s;
}
.no-skin .nav-list>li.open .submenu li{
	margin-left: 0px;
	opacity: 1;
}

.no-skin .nav-list>li.open>a,.no-skin .sidebar.menu-min .nav-list>li>a>.menu-text,.no-skin .sidebar.menu-min .nav-list>li>.submenu,.no-skin .nav-list .open>a,.no-skin .nav-list>li .submenu>li.active:not(.open)>a,.no-skin .nav-list>li .submenu>li.active:not(.open)>a:hover , .no-skin .nav-list .open>a:focus {
		color: #ffffff;
    background-color: #2e3344;
}
.navbar .navbar-nav>li{
	border: none;
}
.no-skin .nav-list>li .submenu>li>a {
    border-top-color: #E4E4E4;
    background-color: #2e3344;
    color: #a6a8b1;
		border: none;
		transition: all .2s;
}
.no-skin .sidebar-toggle>.ace-icon {
    border-color: none;
    color: #a6a8b1;
    background-color: #32374a;
}
.nav-list>li>a{
		padding: 10px 20px;
		line-height: 20px;
}
.nav-list>li .submenu>li>a {
	padding:7px 0px 9px 50px;
}
.nav-list>li>.submenu:before{
	left:32px;
}
.nav-list>li>.submenu>li:before{
	left:35px;
}
.nav-list>li .submenu>li a>.menu-icon{
	left:25px;
}
.bigger-110{
	margin-left: 5px;
	color:#888;
	top:2px;
}
.bigger-110:hover{
	color:#E08374;
	
}
.no-skin .sidebar-toggle {
    background-color: #3a3f51;
    border-color: #E0E0E0;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #3a3f51;
}
.breadcrumbs {
    min-height: 35px;
}
.dropdown-menu.dropdown-close.dropdown-menu-right{
	right: 0;
	width: auto;
	top: 100%;

}
.nav-tabs > li > a, .nav-tabs > li > a:focus{
	margin-right:0;
}