html{
	min-height: 100%;
	/*position: relative;*/
}
body{
	background-color: #eee;
	/*margin-bottom: 60px;*/
	font-family:"Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	zoom:1;
}
.table{
	font-size:14px;
}
.table th,.table td{
	text-align:center;
}
.table th .fa{
	margin: 0 6px 0 0;
    color: #16c79e;
    font-weight: normal;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    vertical-align: middle;
}
table.dataTable thead .sorting:after ,thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after {
    top: 50%;
    margin-top: -10px;
}
#loading{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99999;
	background:rgba(255,255,255,.6);
}
#loading img{
	position:absolute;
	top:50%;
	left:50%;
	margin:-120px 0 0 -120px;
	height:240px;
}
#loading .info{
	position:absolute;
	top:50%;
	width:100%;
	margin:-20px 0 0 0;
	text-align:center;
	color:#596c76;
	font-size:30px;
}
.popover{
	padding:0;
	border:1px solid #16c79e;
}
.popover.top>.arrow{
	border-top-color:#16c79e;
}
.popover.bottom>.arrow{
	border-bottom-color:#16c79e;
}
.popover.left>.arrow{
	border-left-color:#16c79e;
}
.popover.right>.arrow{
	border-right-color:#16c79e;
}
.popover-title{
	background-color:#16c79e;
	color:#fff;
}
.text-success{
	color: #16c79e;
}
.text-danger{
	color: #ee66aa;
}
.navbar-static-top{
	margin-bottom: 0;
	border-color: #e7e7e7;
}
.navbar-right a{
	color: #545454;
}
.navbar-brand{
	height: auto;
	color: #16c79e;
}
.navbar-toggle .icon-bar{
	background-color: #888;
}
#searchLi:hover{
	background-color: #eee;
}

#searchLi:hover .dropdown-menu{
	display: block;
}

#searchBox {
	width: 360px;
	padding:5px 10px;
	-webkit-transition: all .4s;
	transition: all .4s;
}
#searchBox table{
	width: 100%;
}
#searchBox table td{
	padding: 5px;
}
#searchBox input{
	display: inline-block;
	width:92px;
}
.row{
	margin:5px 0;
}
.top-card{
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	border: 1px solid #ddd;
	background-color: #fff;
	font-size: 16px;
	padding: 10px 0;
	position:relative;
}
.top-card .col-sm-4{
	border-left: 1px solid #ddd;
	min-height: 100px;
	min-height: 120px\0;/*IE8*/
}
.top-card .col-sm-4:hover i{
	color: #109173;
}
.top-card .col-sm-4:first-child{
	border-left:none;
}
.top-card .col-sm-4 .pull-left{
	height: 100px;
	color: #16c79e;
  font-size: 60px;
  line-height: 100px;
  text-align: center;
  width: 100px;
  padding-top:10px;
}
.top-card .col-sm-4 .pull-right{
	width: 100%;
	height: 100px;
	display: block;
	position: absolute;
	padding-left: 100px;
	text-decoration: none;
}
.top-card .value{
	font-size: 50px;
	color: #ee66aa;
}
.top-card .col-sm-4:hover .value{
	color: #e8308c;
}
.top-card .title{
	color: #545454;
	margin-top: 5px;
}

.tip-right{
	position:absolute;
	top:50%;
	right:20px;
	width:20px;
	display:inline-block;
	font-size:10px;
	text-align:center;
	text-decoration:none;
	color:#16c79e;
	padding:3px;
	border:1px solid #16c79e;
	transition:all 0.2s;
	
}
.tip-right:hover{
	background:#16c79e;
	text-decoration:none;
	color:#fff;
}

/* 复写bootstrap表格，无表格外侧边框 */
.table-noborder-outside tr td:first-child{
	border-left: none;
}
.table-noborder-outside tr td:last-child{
	border-right: none;
}
.table-noborder-outside tr:first-child td{
	border-top: none;
}
.table-noborder-outside tr:last-child td{
	border-bottom: none;
}

/* 右侧tab页签 */
.right-tabs{
	position: absolute;
	top:-1px;
	right: -30px;
	border-left: 1px solid #16c79e;
	border-bottom: none;
}
.right-tabs li{
	float: none;
	margin-left: -1px;
	margin-bottom: 0;
}
.right-tabs>li>a {
	color: #555;
	padding: 5px;
	line-height: 18px;
	width: 30px;
	text-align: center;
	word-wrap: break-word;
    margin-right: 0px;
    border: 1px solid transparent;
    border-radius: 0 4px 4px 0;
}
.right-tabs>li.active>a, .right-tabs>li.active>a:focus, .right-tabs>li.active>a:hover {
    color: #16c79e;
    cursor: default;
    background-color: #fff;
    border: 1px solid #16c79e;
    border-left-color: #ddd;
	box-shadow: 4px 0 10px rgba(0,50,0,0.1);
}
.right-tabs>li>a:focus, .right-tabs>li>a:hover {
    text-decoration: none;
    background-color: #eee;
	border-left-color: #16c79e;
}
/*  wt  */

.boxcq {
	border: 1px solid #ddd;
	background-color: #fff;
}
.boxcq .ti {
	float: left;
	font-weight: bold;
	font-size:1.1em;
	line-height: 37px;
	padding: 0 10px;
	border-right: 1px solid #ddd;
}
.boxcq .ti i,.boxcq .nav-tabs i {
	margin: 0 6px 0 0 ;
	color: #16c79e;
	font-weight: normal;
}
.boxcq .boxr {
	float: right;
	margin: -28px 10px 0 0;
}
.boxcq .boxr .morecq , .boxcq .boxr .op {
	float: left;
	cursor: pointer;
}
.boxcq .boxr .morecq:hover , .boxcq .boxr .op:hover {
	color: #ffa200;
}
.boxcq .boxr .morecq {
	margin: 0 10px 0 0;
	color: #15bb6b;
}

.boxcq .boxr .morecq i {
	margin: 0 3px 0 0;
}
.boxcq > .tab-content {
	padding: 10px;
}
.boxnavcq , .tabconulcq {
	background: #fbfaf8;
	height: 36px;
}

.boxnavcq > li > a , .tabconulcq > li > a {
	height: 36px;
	color: #666;
	border-radius: 0px;
	border: none;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}

.tabtrend > li > a  {
	height: 36px;
	color: #666;
	background-color:#C1C1C1;
	border-radius: 5px;
	border: none;
	-webkit-transition: 0.2s ease;
	transition: 0.2s ease;
}

.tabtrend > li.active > a , .tabtrend > li.active > a:hover , .tabtrend > li.active > a:focus{
	background-color: #57B382;
	border: none;
	color: #fff;
}
.tabtrend.nav-tabs
{
	border: none;
}

.boxnavcq > li.active > a , .boxnavcq > li.active > a:hover , .boxnavcq > li.active > a:focus ,
.tabconulcq > li.active > a , .tabconulcq > li.active > a:hover , .tabconulcq > li.active > a:focus{
	background: transparent;
	border: none;
	border-bottom: 4px solid #57b382;
	color: #57b382;
}
.boxnavcq > li:first-child , .tabconulcq > li:first-child {
	/*margin: 0 0 0 10px;*/
}

#footer{
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	background-color: #b4b4b4;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) inset;
}
#footer p{
	height: 60px;
	line-height: 60px;
	margin: 0;
	text-align: center;
}

.note-wt{
		position:fixed;
		z-index:99999;
		width:400px;
		margin:0 0 5px -200px;
		top:0;
		left:50%;
		color: #ffffff;
		transition:all 0.2s;
		animation:slideDown 0.2s ease-out;
	}
.note-wt-body{
	margin-left:40px;
	position: relative;
}
.note-wt-body>.fa{
	font-size:28px;
	position:absolute;
	left:-34px;
	top: -5px;
}
.note-wt-danger {
    background-color: #e85656;
    border-color: #e85656;
	}
.note-wt-info {
    background-color: #30C9E8;
    border-color: #30C9E8;
	}
.note-wt-success {
    background-color: #16C72E;
    border-color: #16C72E;
	}
.note-wt-warning {
    background-color: #E8B730;
    border-color: #E8B730;
	}
@keyframes slideDown {
	0%{opacity:0.5;top:-20px;}
	100%{opacity:1;top:0px;}
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #16c79e;
	border-color: #16c79e;
	z-index: auto;
}
.pagination>li>a, .pagination>li>span,.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	color: #16c79e;
}
a:focus, a:hover {
  color: #109173;
}
th{
	font-weight: normal;
}
.text-right{
	text-align: right!important;
}
.modal{
	z-index:99999;
}
.modal-dialog{
	min-width: 600px;
}
.modal-header {
	padding: 7px 10px;
	background:#415064;
	border-bottom:none;
}
.modal-header .close {
	color:#fff;
	opacity: 1;
}
.modal-header h4 {
	background:transparent;
	color: #fff;
	font-size: 1.2em;
}

.cn{
	position: relative;
	top:10px;
	display: inline-block;
	width: 30px;
	height: 50px;
	-webkit-perspective: 250px;
	        perspective: 250px;
}
.n{
	position: absolute;
	background: white;
	-webkit-animation: count .5s ease-out;
	        animation: count .5s ease-out;
	width: 30px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	font-size: 50px;
	text-align: center;
	-webkit-transform-origin: top;
	        transform-origin: top;
}
.symbol{
	width: 15px;
}
@-webkit-keyframes count {
	0%{
		border: 1px solid #bbb;
		-webkit-transform: rotateX(90deg);
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		-moz-transform: rotateX(90deg);
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		-ms-transform: rotateX(90deg);
		-ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		-o-transform: rotateX(90deg);
		-o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		transform: rotateX(90deg);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	}
	100%{
		border: 1px solid transparent;
		-webkit-transform: rotateX(0deg);
		-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		-moz-transform: rotateX(0deg);
		-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		-ms-transform: rotateX(0deg);
		-ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		-o-transform: rotateX(0deg);
		-o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		transform: rotateX(0deg);
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
}
@keyframes count {
	0%{
		border: 1px solid #bbb;
		-webkit-transform: rotateX(90deg);
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		-moz-transform: rotateX(90deg);
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		-ms-transform: rotateX(90deg);
		-ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		-o-transform: rotateX(90deg);
		-o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		transform: rotateX(90deg);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	}
	100%{
		border: 1px solid transparent;
		-webkit-transform: rotateX(0deg);
		-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		-moz-transform: rotateX(0deg);
		-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		-ms-transform: rotateX(0deg);
		-ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		-o-transform: rotateX(0deg);
		-o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		transform: rotateX(0deg);
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	}
}
