<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<Dbconnectstring>Server=172.19.19.82; Port=1972; Namespace=DHC-PACS; Password=5D0013195C; User ID =0809021914;Key=IMedical;</Dbconnectstring>
<Tableprefix>dnt_</Tableprefix>
<Forumpath></Forumpath>
<Dbtype>Cache2016</Dbtype>
<Founderuid>1</Founderuid>
<CaptureType>DSh</CaptureType>
<CaptureTypeSec></CaptureTypeSec>
<CaptureInputVideo></CaptureInputVideo>
<LocalIP>172.19.19.82</LocalIP>
<ExternalDataSource>Trak</ExternalDataSource>
<ExternalDataSourceUrl>http://172.19.19.82/imedical/web/RISService.TrakRISService.cls</ExternalDataSourceUrl>
<ReadCardType>MDJ</ReadCardType>
<CallPatientType>WSXML</CallPatientType>
<CallPatientUrl>http://172.19.19.82/imedical/web/web.DHCVISService.cls</CallPatientUrl>
<RoxSqlDataBase>Data Source=172.19.19.82;Initial Catalog=ROX6PACSDB;Persist Security Info=True;User ID=DHCSA;Password=123456</RoxSqlDataBase>
<ShareServerIP>172.19.19.82</ShareServerIP>
<ShareFolder>Images</ShareFolder>
<iMAGEUsername>172.19.19.82</iMAGEUsername>
<iMAGEPassWord>1</iMAGEPassWord>
<HospitalAB>WL</HospitalAB>
<HospIdentifier>D614EB97BAF352BC6E9730E3FDA04AE074C9388C47E4ACE77AF7C9A725A920AC</HospIdentifier>
<CAType>BJCA</CAType>
<LogLevel>INFO</LogLevel>
<WebServiceSecurityInfo>http://172.19.19.82/imedical/web/csp/xml/iMedical.xml</WebServiceSecurityInfo>
</BaseConfigInfo>
