/* CSS Document */
body{ margin:0 auto; 
}
#top { background-image:url(../imgs/bg.gif);
      background-repeat:repeat-x;
	  margin:0;
	  background-position:top;
	  height:45px;
}

#topfont { font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; font-style:normal; color:#ffffff }