
.ipwest
{
    width: 47%;
}
.opwest
{
    width: 52%;
}
.ipeast,.opeast
{
    width: 27%;
}
/*.[id^='SyndromeSearch']{
    width: 170px;
}*/
.panel-body,.tree-title,.combobox-item, .combobox-group{
    font-size: 14px;
}
#FormWindow{
    padding: 0px 10px 10px 10px;
}
#FormWindow>div{
    margin-bottom: 5px;
}
input[type="radio"]{
    vertical-align:middle;
}
#FormWindow a{
    color: black;
}
#DiagForm
{
    /*width: 460px;*/
    /*  border-collapse 设置表格的边框是否被合并为一个单一的边框，还是象在标准的HTML中分开显示。 */
    border-collapse: collapse;
    border: 1px solid #bbbbbb;
}
#DiagForm1{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #bbbbbb;
}
#DiagForm tr,#DiagForm1 tr{
    height: 30px;
}
/* 单元格边框 */
#DiagForm td, th
{
    border:1px solid #bbbbbb;
}
#DiagForm1 td, th
{
    border:1px solid #bbbbbb;
}
.td_label{
    text-align: right;
    background-color: #CCE6FF;
    font-weight: bold;
}
#DiagForm td{
    /*padding-left: 5px;*/

}
#formbtn{
    text-align: center;
}