

.icon-error
{
    background-image:url(../icons/error.png) !important;
}
.icon-import
{
    background-image:url(../icons/Im.png) !important;
}
.icon-export
{
    background-image:url(../icons/Ex.png) !important;
}
.icon-help 
{
    background-image:url(../icons/help.png) !important;
}
.icon-config
{
    background-image:url(../icons/cog.png) !important;
}

.icon-add
{
    background-image:url(../icons/add.gif) !important;
}

.icon-search
{
    background-image:url(../icons/search.png) !important;
}

/** 授权 **/
.icon-accredit
{
    background-image:url(../icons/accredit.gif) !important;
}

.icon-accept
{
    background-image:url(../icons/accept.png) !important;
}
/** 删除 **/
.icon-delete
{
    background-image:url(../icons/delete.gif) !important;
}
.icon-plugin
{
    background-image:url(../icons/plugin.gif) !important;
}
.icon-refresh
{
    background-image:url(../icons/refresh.gif) !important;
}
.icon-arrowrefresh
{
    background-image:url(../icons/arrow_refresh.png) !important;
}
.icon-tabs {
    background-image:url(../icons/tabs.gif ) !important;
}
.icon-application {
    background-image:url( ../icons/application.png ) !important;
}
.icon-applicationdouble {
    background-image:url( ../icons/application_double.png ) !important;
}
.icon-applicationcascade {
    background-image:url( ../icons/application_cascade.png ) !important;
}
.icon-find {
    background-image:url( ../icons/find.png ) !important;
}
.custom-trigger
{
    background-image:url(../icons/custom-trigger.gif) !important;
}
.elp-trigger
{
    background-image:url(../icons/elp-trigger.gif) !important;
}
/** 停用 **/
.icon-stop
{
    background-image:url(../icons/stop.png) !important;
}
/** 修改 **/
.icon-update
{
    background-image:url(../icons/update.gif) !important;
}

/** 报表图 **/
.icon-chart
{
    background-image:url(../icons/chart.png) !important;
}

.icon-DP
{
    background-image:url(../icons/image_add.png) !important;
}

/** 注册新用户 **/
.icon-useradd
{
    background-image:url(../icons/user_add.png) !important;
}
/** 医护人员维护 **/
.icon-useredit
{
    background-image:url(../icons/user_edit.png) !important;
}
/** 登录科室维护 **/
.icon-LoginLoc
{
    background-image:url(../icons/application_double.png) !important;
}
/** 用户 **/
.icon-user
{
    background-image:url(../icons/user.png) !important;
}
/** 图书 **/
.icon-book
{
    background-image:url(../icons/book.png) !important;
}
/** 病区床位 **/
.icon-bed
{
    background-image:url(../icons/bed.gif) !important;
}
/** 关联科室 **/
.icon-LinkLoc
{
    background-image:url(../icons/application_double.png) !important;
}
/** 复制 **/
.icon-copy
{
    background-image:url(../icons/copy.png) !important;
}
/** 房间分配 **/
.icon-wardroom
{
    background-image:url(../icons/wardroom.gif) !important;
}
/** 相似部门 **/
.icon-similar
{
    background-image:url(../icons/similar.png) !important;
}
/** 关联医护人员 **/
.icon-careprov
{
    background-image:url(../icons/careprov.png) !important;
}
/** 科室分类 **/
.icon-AdmType
{
    background-image:url(../icons/application_view_list.png) !important;
}

/** 编辑按钮 **/
.icon-edit
{
    background-image:url(../icons/edit.png) !important;
}

/** 消息权限按钮 **/
.icon-NewsA
{
    background-image:url(../icons/new.png) !important;
}

/** 树形结构展开关闭图标 **/
.x-tree-node-collapsed .icon-treeProvince
{
    background-image:url(../icons/tree_Province.png) !important;
}
.x-tree-node-expanded .icon-treeProvince
{
    background-image:url(../icons/tree_Province.png) !important;
}
.x-tree-node-collapsed .icon-treeCity
{
    background-image:url(../icons/tree_City.png) !important;
}
.x-tree-node-expanded .icon-treeCity
{
    background-image:url(../icons/tree_City.png) !important;
}
.x-tree-node-collapsed .icon-treeSection
{
    background-image:url(../icons/tree_Section.png) !important;
}
.x-tree-node-expanded .icon-treeSection
{
    background-image:url(../icons/tree_Section.png) !important;
}
.x-tree-node-collapsed .icon-treeStreet
{
    background-image:url(../icons/tree_Street.png) !important;
}
.x-tree-node-expanded .icon-treeStreet
{
    background-image:url(../icons/tree_Street.png) !important;
}
.x-tree-node-collapsed .icon-treeCenter
{
    background-image:url(../icons/tree_Center.png) !important;
}
.x-tree-node-expanded .icon-treeCenter
{
    background-image:url(../icons/tree_Center.png) !important;
}
.x-tree-node-collapsed .icon-treeStation
{
    background-image:url(../icons/tree_Station.png) !important;
}
.x-tree-node-expanded .icon-treeStation
{
    background-image:url(../icons/tree_Station.png) !important;
}
.x-tree-node-collapsed .icon-treeVillage
{
    background-image:url(../icons/tree_Village.png) !important;
}
.x-tree-node-expanded .icon-treeVillage
{
    background-image:url(../icons/tree_Village.png) !important;
}


/** 目录树图标 **/
.icon-Loc
{
    background-image:url(../BdpIconsLib/CT_Loc.png) !important;
}
.icon-Group
{
    background-image:url(../BdpIconsLib/SS_Group.png) !important;
}
.icon-CarPrvTp
{
    background-image:url(../BdpIconsLib/CT_CarPrvTp.png) !important;
}
.icon-Spec
{
    background-image:url(../BdpIconsLib/CT_Spec.png) !important;
}
.icon-Hospital
{
    background-image:url(../BdpIconsLib/CT_Hospital.png) !important;
}
.icon-RoomType
{
    background-image:url(../BdpIconsLib/PAC_RoomType.png) !important;
}
.icon-DepartmentGroup
{
    background-image:url(../BdpIconsLib/RBC_DepartmentGroup.png) !important;
}

.icon-CareProv
{
    background-image:url(../BdpIconsLib/CT_CareProv.png) !important;
}


.x-form-invalid-msg{color:#e00;padding:2px;padding-left:18px;font:normal 11px tahoma,arial,helvetica,sans-serif;background:transparent url(../icons/warning.gif) no-repeat 0 2px;line-height:16px;width:200px!important;}  /*提示条会变成element.style宽度为0， 要加!important*/
 /*ie8日历框显示不全 高度不够*/

/*ie11 ----5*/
.ext-ie .x-date-menu
{
    height:210px;
} 

.ext-strict .ext-ie .x-date-menu{
    height:210px;
}
/*win7 ie8*/
.ext-border-box .ext-ie8 .x-date-menu{
    height:240px;
}

.ext-strict .ext-ie7 .x-date-menu{
    height: 210px;
}
/*IE11---8*/
.ext-strict .ext-ie8 .x-date-menu{
    height: 210px;
}
/*因为月份（十一月/十二月）换行导致宽度不够，需要加宽，原来是175px */
.x-date-menu,.x-date-mp,.x-date-picker>table
{
    width:220px;
}
/* {医为浏览器} 点击日期控件，右侧有块空白 */
.ext-webkit table.x-date-inner {
    width: 100%;
}
/* checkbox有滚动条 字体14px   2017-03-20*/
.x-form-check-wrap
{
	height:24px;

}
/* checkbox有滚动条 字体10px*/
.x-form-check-wrap input
{
	height:15px;

}


/** 平台配置textfield名称和值高度不对应 **/
.ext-gecko .x-form-display-field, .ext-strict .ext-ie7 .x-form-display-field 
{
	padding-top:3px !important;
}

/* form加载进度条颜色 */
.x-progress-bar{height:18px;float:left;width:0;border-top:1px solid #fcfcfc;border-bottom:1px solid #e3e3e3;border-right:1px solid #e3e3e3;}


/*标版界面改造后，用户科室检索按钮间有间隙*/
.x-table-layout-cell{
	padding:0px;
}


/*保存按钮图标 20170328*/
.icon-save
{
    background-image:url(../icons/save.gif) !important;
}
/*关闭按钮图标*/
.icon-close
{
    background-image:url(../icons/cross.gif) !important;
}
/*合并按钮图标*/
.icon-merge
{
    background-image:url(../icons/merge.png) !important;
}
/*确定按钮图标*/
.icon-ok
{
    background-image:url(../icons/icon-ok.gif) !important;
}