/*背景色改成白色，否则websys.css里设置了淡蓝色背景*/
BODY
{
	BACKGROUND:#FFFFFF;
}
/*弹出框里grid 四周加10px内边距*/
/*.window>.window-body .panel>.panel-body
{
	padding:10px;	
}*/
/* 页面打开时，页面上方与菜单保持3px间距*/
BODY >div.hisui-layout
{
	/*top:3px;
	margin:3px;*/
}

/*弹出框里标签右对齐 并且有10px内边距*/
.tdlabel
{
  padding-left: 10px;
  padding-right: 10px;
  text-align:right;
}
/*弹出框里标签左对齐 并且有10px内边距*/
.tdleftlabel
{
  padding-left: 10px;
  padding-right: 10px;
  text-align:left;
}
/*检索栏查询和清屏按钮间距10px;如果有两行或三行检索框且上下检索框数量不一致的情况下样式有问题，去掉text-align-20211013GXP*/
.tdlabel-b
{
  padding-left: 10px;
  /*text-align:right;*/
}
/* 陈莹 协和ie8下医用知识库按钮独占一行，设置宽度样式 */
.l-btn-0
{
  width:30px;
}
.l-btn-2
{
  width:75px;
}
.l-btn-3
{	
 width:90px;
}
.l-btn-4
{
 width:105px;
}
.l-btn-5
{
  width:120px;
}
.l-btn-6
{
  width:135px;
}
.l-btn-7
{
  width:150px;
}
.l-btn-8
{
  width:165px;
}

/* dialog中保存和取消按钮改成居中 */
.dialog-button {
   text-align: center; 
} 
/*  弹出框里按钮间距为10px*/
.dialog-button .l-btn {
    margin-left: 10px;
}
/* dcheckbox和输入框左侧没有对齐 */
.hischeckbox_square-blue{
 margin-left: -4px;
}
/* 复制选中属性到本术语 */
.icon-copy-prop
{
    background:url(../icons/mkb/copy-prop.png)  no-repeat center center;
}
/* 复制选中属性到其他术语 */
.icon-copy-proptoother
{
    background:url(../icons/mkb/copy-proptoother.png)  no-repeat center center;
}

/* 把选中属性升级为术语 */
.icon-upgrade-proptoterm
{
    background:url(../icons/mkb/upgrade-proptoterm.png)  no-repeat center center;
}

/* 把选中属性升级为共有属性 */
.icon-upgrade-proptocommon
{
    background:url(../icons/mkb/upgrade-proptocommon.png)  no-repeat center center;
}

/* 生成（标签生成） */
.icon-createlabel
{
	background: url(../icons/mkb/createlabel.png) no-repeat center center;	
}

/* 生成检索码 */
.icon-createscode
{
    background:url(../icons/mkb/createscode.png)  no-repeat center center;
}

/* 扩展 */
.icon-develop
{
    background: url(../icons/mkb/develop.png) no-repeat center center;	
}

/* 查看 */
.icon-detailsview
{
    background:url(../icons/mkb/detailsview.png)  no-repeat center center;
}

/* 标准弹出窗口图标 */
.icon-window
{
    background:url(../icons/mkb/window.png)  no-repeat center center;
}

/* 查询列表 */
.icon-searchgrid
{
    background:url(../icons/mkb/searchgrid.png)  no-repeat center center;
}

/* 存为草稿 */
.icon-saveasdraft
{
    background:url(../icons/mkb/saveasdraft.png)  no-repeat center center;
}

/* 导出 */
.icon-export
{
    background:url(../icons/mkb/export.png)  no-repeat center center;
}

/* 导入 */
.icon-import
{
    background:url(../icons/mkb/import.png)  no-repeat center center;
}

/* 钉住 */
.icon-nail
{
    background:url(../icons/mkb/nail.png)  no-repeat center center;
}

/* 定位 */
.icon-position
{
    background:url(../icons/mkb/position.png)  no-repeat center center;
}

/* 大提示 */
.icon-tip-large
{
    background:url(../icons/mkb/tip-large.png)  no-repeat center center;
}

/* 悬浮按钮 */
.icon-tooltipbtn
{
    background:url(../icons/mkb/tooltipbtn.png)  no-repeat center center;
}

/* 上传 */
.icon-upload
{
    background:url(../icons/mkb/upload.png)  no-repeat center center;
}

/* 位置移动 */
.icon-changeposition
{
    background:url(../icons/mkb/changeposition.png)  no-repeat center center;
}
/* 上移 */
.icon-shiftup
{
    background:url(../icons/mkb/shiftup.png)  no-repeat center center;
}
/* 下移 */
.icon-shiftdown
{
    background:url(../icons/mkb/shiftdown.png)  no-repeat center center;
}

/* 移到最前 */
.icon-shiftfirst
{
    background:url(../icons/mkb/shiftfirst.png)  no-repeat center center;
}

/* 重置 */
.icon-refresh
{
    background:url(../icons/mkb/reload2.png)   no-repeat center center;
}

/* 白色添加小图标 */
.icon-addlittle
{
    background:url(../icons/mkb/add-little.png)  no-repeat center center;
}

/* 白色修改小图标 */
.icon-updatelittle
{
    background:url(../icons/mkb/update-little.png)  no-repeat center center;
}

/* 白色查询图标 */
.icon-searchlittle
{
    background:url(../icons/mkb/search-little.png)  no-repeat center center;
}

/* 查询结果 */
.icon-searchresult
{
    background:url(../icons/mkb/search-result.png)  no-repeat center center;
}

/* 右侧小图标 */
.icon-littleicons
{
    background:url(../icons/mkb/littleicons.png)  no-repeat center center;
}


/* 另存(保存为、另存为) */
.icon-saveas
{
    background:url(../icons/mkb/saveas.png)  no-repeat center center;
}

/* 复合查询 */
.icon-combinationquery
{
    background:url(../icons/mkb/combinationquery.png)  no-repeat center center;
}
/* 基本查询 */
.icon-basequery
{
    background:url(../icons/mkb/basequery.png)  no-repeat center center;
}
/* 关系-或 */
.icon-tip-large
{
    background:url(../icons/mkb/re-or.png)  no-repeat center center;
}
/* 关系-且 */
.icon-tip-large
{
    background:url(../icons/mkb/re-and.png)  no-repeat center center;
}
/* 设置 */
.icon-sysconfig
{
    background:url(../icons/mkb/sysconfig.png)  no-repeat center center;
}
/* 历史记录 */
.icon-history
{
    background:url(../icons/mkb/history.png)  no-repeat center center;
}
/* 其他 */
.icon-others
{
    background:url(../icons/mkb/others.png)  no-repeat center center;
}
/* 书本 */
.icon-book
{
    background:url(../icons/mkb/book.png)  no-repeat center center;
}
/* 下载 */
.icon-load
{
    background:url(../icons/mkb/load.png)  no-repeat center center;
}
/* 橡皮擦 清屏 */
.icon-eraserclear
{
    background:url(../icons/mkb/eraserclear.png)  no-repeat center center;
}
/* 置顶 */
.icon-stick
{
    background:url(../icons/mkb/stick.png)  no-repeat center center;
}
/* 取消置顶 */
.icon-cancelstick
{
    background:url(../icons/mkb/cancelstick.png)  no-repeat center center;
}
/* 消息 */
.icon-message
{
    background:url(../icons/mkb/messagei.png)  no-repeat center center;
}
/* 弹出框-消息提示 */
.icon-messagetip
{
    background:url(../icons/mkb/message-tip.png)  no-repeat center center;
}
/* 弹出框-消息警告 */
.icon-messagewarn
{
    background:url(../icons/mkb/message-warn.png)  no-repeat center center;
}

/* 文本编辑 */
.icon-textedit
{
    background:url(../icons/mkb/textedit.png)   no-repeat center center;
}

/* 医嘱复制 */
.icon-copyorder
{
    background:url(../icons/mkb/copyorder.png)  no-repeat center center ;
}

/* 引用 */
.icon-quot
{
    background:url(../icons/mkb/quot.png)   no-repeat center center;
}


/* 明细（补打医嘱、审批明细、医嘱浏览） */
.icon-details
{
    background:url(../icons/mkb/details.png)   no-repeat center center;
}
/* 最小化 */
.icon-minimize
{
    background:url(../icons/mkb/minimize.png)   no-repeat center center;
}
/* 窗口展开 */
.icon-spread
{
    background:url(../icons/mkb/spread.png)   no-repeat center center;
}

/* 小图标-下拉 */
.icon-mini-dropdown
{
    background:url(../icons/mkb/mini-dropdown.png)   no-repeat center center;
}
/* 向上折叠 */
.icon-mini-foldup
{
    background:url(../icons/mkb/mini-foldup.png)   no-repeat center center;
}
/* 向下折叠 */
.icon-mini-folddown
{
    background:url(../icons/mkb/mini-folddown.png)   no-repeat center center;
}

/* 向右收缩、折叠 */
.icon-mini-foldright
{
    background:url(../icons/mkb/mini-foldright.png)   no-repeat center center;
}

/* 时间 */
.icon-time
{
    background:url(../icons/mkb/time.png)   no-repeat center center;
}

/* 产品图片 */
.icon-productimage
{
    background:url(../icons/mkb/productimage.png)   no-repeat center center;
}


/* 格式1 */
.icon-format1
{
    background:url(../icons/mkb/format1.png)   no-repeat center center;
}

/* 格式2 */
.icon-format2
{
    background:url(../icons/mkb/format2.png)   no-repeat center center;
}

/* 一级菜单收缩 */
.icon-menu-collapse
{
    background:url(../icons/mkb/menu-collapse.png)   no-repeat center center;
}

/* 一级菜单展开 */
.icon-menu-expand
{
    background:url(../icons/mkb/menu-expand.png)   no-repeat center center;
}


/* home  */

/* 药品 */
.icon-large-drug
{
    background:url(../icons/mkb/large-drug.png)   no-repeat center center;
}

/* 症状 */
.icon-large-symptom
{
    background:url(../icons/mkb/large-symptom.png)   no-repeat center center;
}
 
/* 病因 */
.icon-large-pathogeny
{
    background:url(../icons/mkb/large-pathogeny.png)   no-repeat center center;
}

/* 部位 */
.icon-large-position
{
    background:url(../icons/mkb/large-position.png)   no-repeat center center;
}
 

/* 文献 */
.icon-large-literature
{
    background:url(../icons/mkb/large-literature.png)   no-repeat center center;
}
 
/* 医学术语 */
.icon-large-term
{
    background:url(../icons/mkb/large-term.png)   no-repeat center center;
}
 
/* 医学术语库 */
.icon-large-terms
{
    background:url(../icons/mkb/large-terms.png)   no-repeat center center;
}
 
/* 知识量 */
.icon-large-knowledge
{
    background:url(../icons/mkb/large-knowledge.png)   no-repeat center center;
}

/* 历史记录 */
.icon-history
{
    background:url(../icons/mkb/history.png)   no-repeat center center;
}

/* 频率 */
.icon-freq
{
    background:url(../icons/mkb/freq.png)   no-repeat center center;
}

/* 常用菜单 */
.icon-oftenmenu
{
    background:url(../icons/mkb/oftenmenu.png)   no-repeat center center;
}

/* 任务集 */
.icon-tasks
{
    background:url(../icons/mkb/tasks.png)   no-repeat center center;
}

/* 搜索 */
.icon-searchi
{
    background:url(../icons/mkb/searchi.png)   no-repeat center center;
}
/* 人 头像 */
.icon-people
{
    background:url(../icons/mkb/people.png)   no-repeat center center;
}
/* 知识量 */
.icon-messagei
{
    background:url(../icons/mkb/messagei.png)   no-repeat center center;
}
/* 收藏 */
.icon-collect
{
    background:url(../icons/mkb/collect.png)   no-repeat center center;
}
/* 审核不通过 */
.icon-checknotthrough
{
    background:url(../icons/mkb/check-notthrough.png)   no-repeat center center;
}
/* 审核通过 */
.icon-checkthrough
{
    background:url(../icons/mkb/check-through.png)   no-repeat center center;
}
/*添加多项*/
.icon-addlist
{
    background:url(../icons/mkb/add_list.png)   no-repeat center center;
}
/*复制并添加*/
.icon-addpaste
{
    background:url(../icons/mkb/add_paste.png)   no-repeat center center;
}
/*复选框*/
.icon-checkbox
{
    background:url(../icons/mkb/checkbox.png)   no-repeat center center;
}
/*下拉框*/
.icon-combobox
{
    background:url(../icons/mkb/combobox.png)   no-repeat center center;
}
/*单选框*/
.icon-radio
{
    background:url(../icons/mkb/radio.png)   no-repeat center center;
}
/*单行文本*/
.icon-singletext
{
    background:url(../icons/mkb/single_text.png)   no-repeat center center;
}
/*多行文本*/
.icon-textarea
{
    background:url(../icons/mkb/textarea.png)   no-repeat center center;
}
/*锁死*/
.icon-lockdata
{
    background:url(../icons/mkb/lock_data.png)   no-repeat center center;
}
/*解锁*/
.icon-unlock
{
    background:url(../icons/mkb/unlock.png)   no-repeat center center;
}
/*注册知识点映射*/
.icon-mappingknow
{
    background:url(../icons/mkb/mapping_know.png)   no-repeat center center;
}
/*关联ICD*/
.icon-pencil
{
    background:url(../icons/mkb/pencil.png)   no-repeat center center;
}
/*诊断百科*/
.icon-textbook
{
    background:url(../icons/mkb/textbook.png)   no-repeat center center;
}

.translation
{
	background:url(../icons/mkb/translation.png)   no-repeat center center;
}
/*评分系统 计算总分*/
.icon-totalscore{
	background:url(../icons/mkb/totalscore.png)   no-repeat center center;
}
/*医为百科 知识提交*/
.icon-commitkno{
	background:url(../icons/mkb/commitkno.png)   no-repeat center center;
}
/*医为百科 切换图谱*/
.icon-toggle{
	background:url(../icons/mkb/toggle.png)   no-repeat center center;
}
/*知识浏览器 知识提交*/
.icon-commitknobig{
	background:url(../icons/mkb/commitknobig.png)   no-repeat center center;
}

/*诊断列表查询*/
.icon-sds-search
{
    background:url(../icons/mkb/sds-search.png)   no-repeat center center;
}
/*诊断列表分析*/
.icon-sds-analyze
{
    background:url(../icons/mkb/sds-analyze.png)   no-repeat center center;
}
/*诊断列表封闭*/
.icon-sds-close
{
    background:url(../icons/mkb/sds-close.png)   no-repeat center center;
}
/*诊断列表回顾*/
.icon-sds-review
{
    background:url(../icons/mkb/sds-review.png)   no-repeat center center;
}
/*临床知识库编辑器编辑行按钮*/
.icon-editrow{
	background:url(../imgs/KB/editrow.png)   no-repeat center center;
}
/*临床知识库编辑器编辑行按钮 鼠标悬浮上去换图标*/
.icon-editrow:hover{
	background:url(../imgs/KB/edithover.png)   no-repeat center center;
}