.processBar{
    position: relative;
}
.processBar .processLine{
    background: rgba(187, 187, 190, 1);
    height: 60px;
    position: relative;
    width: 3px;
    margin-left: 10px;  
}

.processBar .processLineSelect{
    background: rgb(71, 168, 120);
}

.processBar .processSelect{
    background: rgb(71, 168, 120);
}
.processBar .processLine .processStep{
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background:rgba(187, 187, 190, 1);
    left: -4px;
    top: -1px;
}
.processBar .processStepSingle{
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background:rgba(187, 187, 190, 1);
    left: 5px;
}
.processBar .processLine .processSelect{
    width: 13px;
    height: 13px;
    background:rgb(71, 168, 120);

}
.processBarTextDate{
    margin-left: 70;
}
.main-hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.processBarText{
    position: absolute;
    left: 30px;
    top: 0px;
    font-family: SourceHanSansSC;
    font-weight: 400;
    font-size: 14px;
    color: rgb(61, 61, 73);
    font-style: normal;
    letter-spacing: 0px;
    line-height: 21px;
    text-decoration: none;
}
.poetry{
    color: rgba(187, 187, 190, 1); 
    font-family: SourceHanSansSC;
    font-size: 14px; 
}

.selectStatusInfo{
    position: relative;
    height: 70px;
    background-color: rgb(238, 238, 238);
    border-color: rgb(187, 187, 187);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-size: 14px;
    padding: 0px;
    padding-left: 65px;
    line-height: 70px;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
    overflow: hidden;
}
.selectStatusInfo .selectStatusInfo_icon{
    position: absolute;
    left: 5%;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    
    background: rgba(0,128,0,0.2);
    border-radius: 50%;
    
}
.selectStatusInfo .selectStatusInfo_icon .icon_font{
    width: 14px;
    height: 14px;
    background:rgb(71, 168, 120);
    position: absolute;
    margin: -7px 0 0 -7px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
}
.selectStatusInfo .selectStatusInfo_font{
    font-size: 14px;
    color: rgb(61, 61, 73);
}
.selectStatusInfo .selectStatusInfo_status{
    font-size: 18px;
    color: rgb(36, 175, 150);
    font-style: normal;
    font-weight: bold;
}
.selectStatusInfo .statusLeft{
    padding-left: 25px;
}
.selectEmrInfo{
    padding: 7px 3px;
    font-size: 16px;
}
.selectEmrDesc{
    font-size: 16px;
    color: rgba(50, 151, 219, 1);
}
.icon{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 20px;
    cursor:pointer;
}
#scoredata th{
    font-size: 18px;
    font-weight: 600; 
    border-left: 1px solid rgb(0, 0, 0); 
    border-top: 1px solid rgb(0, 0, 0); 
    border-bottom: 1px solid rgb(0, 0, 0);
}
#scoredata .noteTh{
    border-width: 1px; 
    border-style: solid; 
    border-color: rgb(0, 0, 0); 
}
#scoredata .pl4{
    padding-left: 4px;
   
}
#scoredata td{
    font-size: 18px; 
    font-weight: normal; 
    border-left: 1px solid rgb(0, 0, 0); 
    border-bottom: 1px solid rgb(0, 0, 0);
}
#scoredata .pa2{
    padding: 2px; 
   
}
#scoredata .pa4 {
    padding: 4px; 
}
#scoredata .br {
    border-right: 1px solid rgb(0, 0, 0);
}
#scoredata td input{
    width: 90%; 
    border-top: none; 
    border-right: none; 
    border-bottom: 1px solid rgb(0, 0, 0); 
    border-left: none; 
    border-image: initial; 
    text-align: center;
}

.showEmrList ul{
    list-style-type: none
}
.showEmrList ul li{
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid ;
    border-color: #ddd;
}
.showEmrList ul li:last-child{
    border-bottom: 0px solid;
}

.datagrid-cell-c4-recDesc, .datagrid-cell-c4-evaluation, .datagrid-cell-c4-recGrade {
    margin: 0px;
    padding: 0px;
}
.datagrid-cell-c5-ifAdajust table{
	display: inline;
}
