/* 去除浏览器默认样式 */
* {
	padding:0;
 	margin:0;
 }
 .img{border:none;} /*IE8图片显示边框处理*/

/*待提示信息样式*/
.todo-list .items{
	height: 94px;
	width: 20%;
	float: left;
	text-align: center;
	padding-top: 13px;
	position: relative;
}
.todo-list .items div{
	font-size: 15px;
	line-height: 33px;
}
.todo-list .items .notice{
	position: absolute;
    min-width: 14px; 
    height: 14px; 
    line-height: 13px;
    margin-top: 0px;
    padding: 0 5px; 
    font-weight: normal;
    color: white;
    text-align: center; 
    background: #ff0000; 
    border-radius: 6px;
    font-size: 13px;
    top: 7px;
    right: 82px;
}
.todo-list .items a img{
	height: 40px;
}

/*自定义图标演示*/
.icon-pro-epd {
	background: url(../../../../scripts/DHCMA/img/pro-epidemic.gif) no-repeat center center;
}
.icon-pro-cpw {
	background:url(../../../../scripts/DHCMA/img/pro-clinpath.gif) no-repeat center center;
}
.icon-stat-rate {
	background:url(../../../../scripts/DHCMA/img/stat-rate.png) no-repeat center center;
}


/*自定义图标演示*/
.noresult {
	position: relative;
    height: 100%;
    width: 100%;
    background: url(../../../../scripts/DHCMA/img/noresult.png) center center no-repeat;
}
.nodata {
	width:300px;
	height:200px;
	margin:auto;
	position:absolute; /*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top:-100px;
	/*background-color: red;*/
}
.nodata p {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
	font-size: 24px;
	font-weight: bold;
    color: #2EB6A1;
}
