/*
.my-interface .placeholder-element{
	visibility:hidden;height: 28px;width:1px;display: inline-block;white-space: nowrap;border-width: 1px;border-style: solid;vertical-align: middle;
}

.my-interface .panel-body.panel-body-noheader {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important; 
    border-radius: 0px !important;
}


.my-interface div.datagrid {
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important; 
}


.panel-header-gray {
	border-bottom-width: 0px;
	
}
*/


  /* for debug
  table, th, td
  {
  border: 1px solid blue;
  }
  .debug
  {
	border-style:solid;
	border-color:red;  
	  
  }
  */
/*主页面框架*/
.my-interface .panel-body.panel-body-noheader {
    border-radius: 0px !important;
}


.my-interface .framegrid .datagrid
{
	padding:10px 10px 10px 10px;
	border:none
}  
  
  
/*form布局*/
.my-interface .formtable
{
	width:100%;	/*宽度充填整个父窗口   */
	/*调试用*/
	/*border:1px solid black;*/
	/*设置各个TD宽度固定，否则TD宽度会随着TD的子元素的宽度自动调整*/
	table-layout: fixed;	
}
/*表单label右排列*/
.my-interface .label-r
{
	text-align:right;
	padding:3px 10px 3px 0;
	width:80px;
}

.my-interface .label-r-70
{
	text-align:right;
	padding:3px 10px 3px 0;
	width:70px;
}
.my-interface .label-r-60
{
	text-align:right;
	padding:3px 10px 3px 0;
	width:60px;
}
/*表单元素左排列*/
.my-interface .field-text 
{
	text-align:left;
	/*width:100%;*/
	padding:3px 7px 3px 0;
	 
}

.my-interface .field-combo
{
	text-align:left;
	/*width:100%;*/
	padding:3px 7px 3px 0;
	 
}

/*表单input元素100%充填*/
.my-interface .field-text > input
{
	width:100%;
}

/*
.my-interface .combo
{

	width:100% !important;
}
*/
/*表单按钮*/
.my-interface .field-button
{
	padding:3px 0px ;
}

/*表单按钮*/
.my-interface .field-button a
{
	width:100%;
}

/*表单按钮
.my-interface .combo
{
	width:100% !important;
}
*/
/*表单HISUI的combobox元素不支持百分比宽度,所以使用PX指定宽度 */
.my-interface .combobox-element
{
	width:254px;
}

/*表单HISUI的datebox元素不支持百分比宽度,所以使用PX指定宽度 */
.my-interface .datebox-element
{
	width:247px;
	/*width:100%;*/
}
.my-interface .formPanel{
	/*margin:10px 0 10px 0;*/
	padding:10px;
}
/*工具栏的label */
.my-interface .toollabel-r
{
	text-align:right;
	padding:0 10px 0 0;
}
/*工具栏元素左排列*/
.my-interface .tool-text
{
	text-align:left;
	padding:0 15px 0 0;	
}
.my-interface .tool-text > input
{
	width:90px;	
}

/*
.my-interface .panel-body.panel-body-noheader {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important; 
    border-radius: 0px !important;
}


.my-interface div.datagrid {
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important; 
}
*/

/*工具栏中的form及内部的table.如果不重新设置，那么padding是2px;		*/
.my-interface .toolform table td{
    margin: 0;
    padding: 1px 0;
}
/*工具栏label右排列*/
.my-interface .toollabel
{
	text-align:right;
	padding:1px 10px 1px 0;
	width:70px;
}
/*工具栏元素左排列*/
.my-interface .toolfield 
{
	text-align:left;
	padding:1px 0px 1px 0;
} 

.my-interface .toolfield > input
{
	width:100%;
}  
  
 /*风格不能重写，先记下    */ 
.my-interface .my-dialog
{
	width:800px;
	height:500px;
	padding:5px 10px;
	top:20px;
	left:200px;
}

.my-interface table {
    /*display: table;*/
    border-collapse: collapse;	/*把表格边框合并为单一的边框*/
    border-spacing: 0px;		/*设置分隔单元格边框的距离0*/
    /*border-color: grey;*/
}

.my-interface .tr-height>td{
	height:40px;
}

.my-interface .tabpanel{
	
	padding:2px 0 0 0;
}




/*tab里面的datagrid去掉圆角*/
.my-interface .tabpanel div.datagrid {
    border-radius: 0;
}
/*tab里面的datagrid去掉左，右，下边框*/
.my-interface .tabpanel div.datagrid div.panel-body {
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.my-interface .tabpanel-grid-toolbar .datagrid .panel-body-noheader{
	border-top-width: 0px !important;
}

/*表单combo元素100%充填*/
.my-interface .field-combo > .lookup
{
	/*width:100% !important;*/
	/*width:100%;*/
} 
/*
面板头下边框颜色
*/
.my-interface .panel-header-gray {
	border-bottom-width: 0;
	/*border-bottom-color: transparent;*/
}   