
.my-interface ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width:100%
}
.my-interface ul>li {
    line-height: 30px;
    height: 30px;
    width:14.85%;
    padding: 0 5px 0 15px;
    float: left;
}
.my-interface ul>li>a {
    text-decoration: none;
    color:#000000;
  
}
.my-interface ul>li:hover {
    background-color: #E3E3E3;
}
.my-interface .icon{
    padding-left: 20px;
    background-position: left 0px center;
    display: inline-block;
    font-size: 12px;
}
.my-interface ul>li span{
    height: 30px;
    display: inline-block;
}
.my-interface .list{
    display: inline-block;
}
.my-interface .item{
    height: 30px;
    line-height: 15px;
    padding:10px;
    /*for debug  
    border-style: solid;
  	border-color: blue;
  	border-width: 1px;*/
}
.my-interface .item .icon{
    padding-left: 30px;
}
.my-interface .line{
    margin: 5px;
    border-bottom: 1px dashed #e5e5e5;
}
.my-interface .panel-header, .panel-body {
    border-color: #ffffff;
}
.my-interface .item-tr td{
    line-height: 30px;
}
.my-interface .item-tr .icon{
    padding-left:30px;
}
.my-interface .ulh3 {
	/*background-color: #ffffff;*/
	font-weight: bold;
	color:blue;
}
.my-interface .app-item-title{
	/*color: blue;*/
}


.my-interface div.hisui-panel.panel-body {
	width:auto !important;		
}

.my-interface .line-limit-length {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
}



