
/*--设置表单的宽度,以及上下左右的间距(适用于一列排列表单控件)--*/

.toolbarText{
	padding-right:10px;
	
}
.my-interface {
	padding:4px;
}
/*--为toolbar增加padding--*/
.my-interface .myToolBar{
	padding:2px;
}

/*--去掉标题框上的下面的border--*/
.my-interface>div.panel>div.panel-body>div.panel>div.panel-header{
	border-bottom:none;
}
/*--检索框右对齐,调整检索框上下局中--*/
.my-interface div.datagrid div.searchboxRight span.searchbox{
	position:absolute;
	right:2px;
	top:50%;
	margin-top:-15px;
}

/*--去掉弹出框按钮上面的横线--*/
.my-interface>div.panel.window>div>div.dialog-button{
	border:none;
}
/*--调整弹出框所在的底部框的背景色，以及让两个按钮局中--*/
.my-interface div.dialog-button{
	text-align: center;
	background-color:#fff;
}
/*--调整弹出框按钮间距--*/
.my-interface div.dialog-button a {
	margin-left:40px;
	margin-right:40px
}
/*--修改弹出框的上下间距--*/
.my-interface .dialog-button{
	padding:0px 5px 10px 5px;
}
/*--调整表格的四个角的弧度--*/
.my-interface div.datagrid {
	border-radius:4px;
}
/*--调整表格的边框样式--*/
.my-interface div.datagrid .panel-body {
	border:1px solid #ddd;
}
/*--调整整个表格里面的边线的颜色--*/
.my-interface div.datagrid .datagrid-header td{
	border-color:#ddd;
}
.my-interface div.datagrid .datagrid-body td {
	border-color:#ddd;
}
.my-interface div.datagrid .datagrid-footer td{
	border-color:#ddd;
}
.my-interface div.datagrid div.datagrid-body tbody{
	border-color:#ddd;
}

/*--调整toolbar工具栏的背景色--*/
.my-interface div.datagrid div.datagrid-toolbar{
	background: #FFFFFF;
	/*padding:4px 4px;*/
	position:relative;
}
/*--调整表格底部的非关键信息文字的颜色--*/
.my-interface div.datagrid div.datagrid-pager>div.pagination-info {
	color:#666;
}
.my-interface div.datagrid div.datagrid-pager>table>tbody>tr>td>span{
	color:#666;
}
/*--调整鼠标移到表格的内容上的显示颜色--*/
.my-interface div.datagrid table>tbody>tr.datagrid-row-over {
	background:#d9e7f1;
	color:#000;
}
/*--调整鼠标移到表格的表头上的显示颜色--*/
.my-interface div.datagrid table>tbody>tr>td.datagrid-header-over {
	background:#d9e7f1;
	color:#000;
}
/*--调整表格的表头以及行的高度--*/
.my-interface div.datagrid table>tbody>tr.datagrid-header-row {
	height:34px;
}
.my-interface div.datagrid table>tbody>tr.datagrid-row {
	height:34px;
}

/*--当单元格内的内容过长时，超出单元格部分用...表示--*/
#verylongText{
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.my-interface .hisui-linkbutton.l-btn-disabled {
    background: #ffffff;
    color: #444;
    
}

/*--统一标签格式--*/
.myFormShow div{
	margin:10px 0px;
	height:30px;
}	
.myFormShow label {
	margin:0px 10px;
	width:70px;
	display:inline-block;
	text-align:right;
}


/*--end--*/
