
/*
   for debug
  table, th, td
  {
  border: 1px solid blue;
  }
  */
  /*调试用*/
  .my-interface .debugdiv2
  {
	border-style:solid;
	border-color:red;  
	border-width:5px;
  }
  
.my-interface .debugdiv 
{
border: medium double rgb(250,0,255)
}


/*这个必须要加，否则panel中的表单会出现无法对齐的情况   */
.my-interface div.hisui-panel.panel-body {
	width:auto !important;
}

/*主页面框架*/
.my-interface .framegrid .datagrid
{
	padding:10px 10px 10px 10px;
	border:none
}  
  
  
.my-interface .formPanel{
	padding:10px;
}

/*form布局*/
.my-interface .formtable
{
	width:100%;	/*宽度充填整个父窗口   */
	/*调试用*/
	/*border:1px solid black;*/
	/*设置各个TD宽度固定，否则TD宽度会随着TD的子元素的宽度自动调整*/
	table-layout: fixed;	
}
/*工具栏的label */
.my-interface .toollabel-r
{
	text-align:right;
	padding:0 10px 0 0;
}
/*工具栏元素左排列*/
.my-interface .tool-text
{
	text-align:left;
	padding:0 15px 0 0;	
}

/*表单label右排列*/
.my-interface .label-r
{
	text-align:right;
	padding:3px 10px 3px 0;
	width:50px;
}
.my-interface .label-r-30
{
	text-align:right;
	padding:3px 10px 3px 0;
	width:30px;
}

.my-interface .label-r-60
{
	text-align:right;
	padding:3px 10px 3px 0;
	width:60px;
}

/*表单label右排列*/
.my-interface .label-r-70
{
	text-align:right;
	padding:3px 10px 3px 0;
	width:70px;
}
/*表单元素左排列*/
.my-interface .field-text 
{
	text-align:left;
	/*width:100%;*/
	padding:3px 10px 3px 0;
	 
}

/*表单元素左排列*/
.my-interface .field-combo 
{
	text-align:left;
	padding:3px 5px 3px 0;	 
}


/*表单元素左排列*/
.my-interface .field-date
{
	text-align:left;
	/*width:100%;*/
	padding:3px 10px 3px 0;
	 
}

/*表单input元素100%充填*/
.my-interface .field-text > input
{
	width:100%;
}
/*表单combo元素100%充填*/
.my-interface .field-combo > .lookup
{
	width:100% !important;
	/*width:100%;*/
}
/*表单按钮*/
.my-interface .field-button
{
	padding:3px 0px ;
}

/*表单按钮*/
.my-interface .field-button a
{
	width:100%;
}
  
.my-interface table {
    border-collapse: collapse;	/*把表格边框合并为单一的边框*/
    border-spacing: 0px;		/*设置分隔单元格边框的距离0*/
}

.my-interface .tr-height>td{
	height:40px;
}
.my-interface .tabpanel{
	
	padding:2px 0 0 0;
}
/*
.my-interface .placeholder-element{
	hidden:hidden;
}
.my-interface .placeholder-element + .searchbox {
	hidden:hidden;
}
*/
.my-interface div.datagrid {
    border-radius: 0px !important;
}
/*
.my-interface .panel-body.panel-body-noheader {
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important; 
    border-radius: 0px !important;
}*/

.my-interface .placeholder-element{
	
	visibility:hidden;height: 28px;width:1px;display: inline-block;white-space: nowrap;border-width: 1px;border-style: solid;vertical-align: middle;
	
}


/*工具栏中的form及内部的table.如果不重新设置，那么padding是2px;		*/
.my-interface .toolform table td{
    margin: 0;
    padding: 1px 0;
}
/*工具栏label右排列*/
.my-interface .toollabel
{
	text-align:right;
	padding:1px 10px 1px 0;
	width:70px;
}
/*工具栏元素左排列*/
.my-interface .toolfield 
{
	text-align:left;
	padding:1px 10px 1px 0;
} 