/*计费公用CSS样式*/
body {
	background-color: #FFFFFF;
}

.icon-man {
	background: url("../../themes/default/images/icon-man.png") no-repeat center;
}

.icon-woman {
	background: url("../../themes/default/images/icon-woman.png") no-repeat center;
}

.icon-unman {
	background: url("../../themes/default/images/icon-unman.png") no-repeat center;
}

.menu-down {
	background: url(../../themes/default/images/menu_arrows.png) no-repeat 0 center;
}

.menu-up {
	background: url(../../themes/default/images/menu_arrows.png) no-repeat -30px center;
}

.menu-container {
	width: 50px;
	height: 20px;
	margin: 0 auto;
	display: line-block;
	cursor: pointer;
	clear: both;
}

.arrows-w-text {
	color: #FFFFFF;
	float: right;
}

.arrows-b-text {
	color: #40A3DF;
	float: right;
}

.spread-w-down {
	width: 20px;
	height: 20px;
	float: right;
	background: url(../../themes/default/images/spread-white.png) no-repeat center;
}

.retract-w-up {
	width: 20px;
	height: 20px;
	float: right;
	background: url(../../themes/default/images/retract-white.png) no-repeat center;
}

.spread-b-down {
	width: 20px;
	height: 20px;
	float: right;
	background: url(../../themes/default/images/spread-blue.png) no-repeat center;
}

.retract-b-up {
	width: 20px;
	height: 20px;
	float: right;
	background: url(../../themes/default/images/retract-blue.png) no-repeat center;
}

.search-table {
	border-collapse: separate;
	border-spacing: 0 10px;
}

.r-float {
	float: right;
}

.r-label {
	padding-left: 10px;
}

.newClsInvalid {
	border-color: red !important;
	color: red !important;
	background-position: right top;
    background-image: url(../../../../images/websys/error.gif);
    background-repeat: no-repeat;
}