/* dhcbill.ipbill.usedeprcptlist.css */

.textbox.tb110 {
	width: 110px;
}

td[field="TrcptNo"] div.datagrid-cell,
td[field="Trcptnozf"] div.datagrid-cell,
.datagrid-cell-group {
	text-overflow: ellipsis;   /* 列数据太多显示...*/
	padding: 0 8px;
}