/* dhcbill.opbill.refund.css */

.layout>.panel>.panel-header {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.layout>.panel>.panel-body {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.display-more-tr {
	display: none;
}

.td-first-col {
	width: 62px;
}

.td-second-col {
	width: 70px;
}

.fail-Cls,
.textbox.fontCls {
	color: #FF0000 !important;
	font-weight: bold;
	font-size: 18px;
}

.biggerBtn {
	width: 90px;
}

.tip-area {
	position: relative;
	padding: 3px 5px;
	width: 180px;
	height: 102px;
}

.win-tip-area {
	position: relative;
	padding: 9px 15px;
	width: 180px;
	height: 120px;
}

.messager-popover .paym-content {
	font-weight: normal;
}

.messager-popover .paym-desc {
	float: left;
	width: 100px;
	color: #0079B8;
}

.messager-popover .paym-amt {
	float: right;
	color: #0079B8;
}

td[field="arcimDesc"] div.datagrid-cell, .datagrid-cell-group{
	text-overflow: ellipsis; /*列数据太多显示...*/
	padding: 0 8px;
}

.succ-Cls {
	color: #21ba45;
	font-weight: bold;
	font-size: 18px;
}