/* dhcbill.ipbill.chequeback.css */

.textbox.tb-colspan {
	width: 100%;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.textbox.tb270 {
	width: 270px;
}

.dialog-button {
    padding-bottom: 20px;
}

