/* dhcbill.opbill.charge.excepiton.css */

.td-first-col {
	width: 58px;
}

.panel-body.panel-body-noheader {
	-moz-border-radius: 0px 0px 4px 4px;
  	-webkit-border-radius: 0px 0px 4px 4px;
  	border-radius: 0px 0px 4px 4px;
}