/*dhcbill.ipbill.chargetest.css*/
.textbox.tb130 {
	width: 130px;
}

.textbox.tb132 {
	width: 132px;
}

.display-more-tr {
	display: none;
}

.query-panel-btn {
	width: 88px;
}
.datagrid-cell-group {
	text-overflow: ellipsis; /*列数据太多显示...*/
	padding: 0 8px;
}

.Btnyellow{
	background-color:#ffb746;
	padding: 2px 10px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    line-height: 200%;
}
.has-switch label.switch-mini, .has-switch span.switch-mini {
    padding-bottom: 4px;
    padding-top: 3px;
    font-size: 10px;
    line-height: 12px;
    height: 20px;
}
.panel-tool {  
    position: absolute;
    top: 40%;
    height: 20px;
    margin-top: -7px;
    overflow: hidden;
  }
