/* dhcbill.opbill.checkout.css  */

.container-invamt {
	float: left;
	margin: 5px 4px 5px;
}

.invamt-label {
	padding-right: 7px;
}

.invamt-textbox {
	
}

.container {
    padding: 5px;
    margin: 10px 10px 5px;
    border: 0px solid #ddd;
    text-align: left;
    outline: none;
}

.select-box-container {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select-box-container .container-tool-menu {
    margin-top: -10px;
    margin-left: 35px;
    margin-bottom: 20px;
}

.container-tool-menu .container-tool-item {
	display: inline-block;
	margin-right: 35px;
    margin-left: 35px;
	/*float:left; */
}

.container-tool-balance {
    color: red;
}

.select-item {
    /*display: inline-block;*/
    width: 240px;
    height: 52px;
    text-align: left;
    line-height: 52px;
    font-size: 12px;
    border: 1px solid #bbb;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 2px;
    float: left;
}

.select-item-amt {
	/*display: inline-block;*/
    width: 120px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 12px;
    border: 0px solid #bbb;
    margin-right: 10px;
    margin-left: -30px;
    margin-bottom: 20px;
    border-radius: 2px;
    float: left;
}

.select-item.selected,
.select-item.temp-selected {    
    border-color: #40A2DE !important;
    background-position: right bottom !important;
	background-image: url(../../themes/default/images/selected.png) !important;
	background-repeat: no-repeat !important;
}

.select-box-dashed {
    position: absolute;
    display: none;
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
    border: 1px dashed #0099ff;
    background-color: #c3d5ed;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 0px;
    z-index: 99999;
}

.paym-btn {
	height: 52px;
	width: 228px;
	cursor: pointer;
	outline: none;
	line-height: 52px;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #bbb;
	border-radius: 2px;
}

/*2019-12-02*/
.paym-btn:hover {
  background: #eaf2ff;
  color: #000000;
  border: 1px solid #b7d2ff;
  filter: none;
}

/*2019-12-02 点击选择按钮时轮廓样式 */
.paym-btn-selected {
  border-color: #40A2DE;
  background-position: right bottom;
  background-image: url(../../themes/default/images/selected.png);
  background-repeat: no-repeat;
}

/*2019-12-02*/
.paym-btn .paym-btn-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  top: -3px;
  vertical-align: middle;
  margin-left: 40px;
}

.paym-btn .paym-btn-text {
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: 16px;
  margin-left: 20px;
  vertical-align: middle;
}

.paym-btn .paym-additionaldata-flag {
  display: inline-block;
  position: relative;
  color: blue;
  top: -1px;
  font-size: 12px;
  margin-left: 15px;
  vertical-align: middle;
}

.paym-additionaldata-flag:hover {
  /*background: #eaf2ff;*/
  color: red;
  filter: none;
  font-size: 16px;
  text-decoration: underline;
}

.textbox.tb223 {
	width: 223px;
}

.textbox.fontCls {
	color: #FF0000 !important;
	font-weight: bold;
	font-size: 18px;
}

.paym-table {
	border-collapse: separate;
	border-spacing: 0 15px;
}

.span-tip {
	font-weight: bold;
}

.span-tip .selpaym-tip {
	position: relative;
	bottom: -8px;
}

.td-spacing {
	margin: 0 145px;
}

.pl-center {
	margin-top: 10px;
	text-align: center;
}

.pl-center > .msg-popover {
	height: 40px;
	position: relative;
	margin-top: 20px;
}

.pl-center > .msg-popover > div{
	top: 0;
	right: 0;
	left: 0;
}

.ok-btn {
	width: 115px;
}

.pl-footer {
	text-align: center;
	padding-top: 10px;
}

.pl-footer span {
	font-size: 14px;
	color: #7E7E7E;
}

.hidden {
	display: none;
}

.default-paymode {
	background-color: #8DEEEE;
}

/*2019-12-02*/
.icon-cash {
  background: url('../../themes/default/images/cash.png') no-repeat center center;
}

.icon-zp {
  background: url('../../themes/default/images/zp.png') no-repeat center center;
}

.icon-cpp {
  background: url('../../themes/default/images/cpp.png') no-repeat center center;
}

.icon-yhk {
  background: url('../../themes/default/images/yhk.png') no-repeat center center;
}

.icon-hp {
  background: url('../../themes/default/images/hp.png') no-repeat center center;
}

.icon-jz {
  background: url('../../themes/default/images/jz.png') no-repeat center center;
}

.icon-qf {
  background: url('../../themes/default/images/qf.png') no-repeat center center;
}

.icon-insuacc {
  background: url('../../themes/default/images/insuacc.png') no-repeat center center;
}

.icon-pos {
  background: url('../../themes/default/images/pos.png') no-repeat center center;
}

.icon-wechat {
  background: url('../../themes/default/images/wechat.png') no-repeat center center;
}

.icon-alipay {
  background: url('../../themes/default/images/alipay.png') no-repeat center center;
}

.additional-container .panel > div {
	display: flex;
	align-items: center;
	justify-content: center;
	/*flex-flow: column wrap;*/
	flex-flow: row wrap;
	/*align-content: space-around;*/
}

.paym-additional > span {
	display: inline-block;
	width: 80px;
}

.paym-additional {
	/*background: #eaf2ff;*/
	width: 300px;
	height: 35px;
	margin: 5px;
}
