/* dhcbill.opbill.epdep.css */

.td-first-col-43 {
	width: 43px;
}

.td-first-col-58 {
	width: 58px;
}

.panel-body.panel-body-noheader {
	-moz-border-radius: 0px 0px 4px 4px;
  	-webkit-border-radius: 0px 0px 4px 4px;
  	border-radius: 0px 0px 4px 4px;
}

.textbox.tb250 {
	width: 250px;
}