/* dhcbill.opbill.emergwarrant.css */

.td-first-col {
	width: 58px;
}

.r-label-1 {
	padding-left: 100px;
}

.icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	float: right;
}

.btn-spacing {
	margin-left: 20px;
}

.textbox.tb-colspan {
	width: 100%;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}