/* dhcbill.opbill.emergtrans2ip.css */

.td-first-col {
	width: 42px;
}

.win-td-first-col {
	width: 58px;
}

.r-label-1 {
	padding-left: 40px;
}

.r-label-2 {
	padding-left: 30px;
}

.textbox.tb135 {
	width: 135px;
}

.biggerBtn {
	width: 90px;
}

.east-content {
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

td.tip-height: {
	height: 100px;
}