/* dhcbill.opbill.refrequest.css */

.layout>.panel>.panel-header {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.layout>.panel>.panel-body {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.layout-panel-west {
    padding-right: 10px;
}

.layout-split-north {
    border-bottom-width: 10px;
}

.display-more-tr {
	display: none;
}

.textbox.tb147 {
	width: 147px;
}

.box-td {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
}

.textbox.fontCls {
	color: #FF0000 !important;
	font-weight: bold;
	font-size: 18px;
}

.tip-class li {
	border-bottom: 1px solid #ddd;
	padding: 5px 10px;
	white-space: nowrap;
}
