/* dhcbill.opbill.charge.css */
body {
	background-color: #FFFFFF;
}

.r-label-1 {
	padding-left: 15px;
}

.btn-spacing {
	margin-left: 30px;
}

.biggerBtn {
	width: 100px;
}

.textbox.tb110 {
	width: 110px;
}

.textbox.tb235 {
	width: 235px;
}

.textbox.tb250 {
	width: 250px;
}

.textbox.fontCls {
	color: #FF0000 !important;
	font-weight: bold;
	font-size: 18px;
}

.insType-box {
	float: left;
	padding: 10px;
	height: 150px;
	width: 180px;
}

.lines-no .datagrid-body td {
	border-right: 1px dotted transparent;
	border-bottom: 1px dotted transparent;
}

.admList-box {
	padding: 10px 0;
	height: 150px;
	width: 400px;
}

td[field$="OrdItemDesc"] div.datagrid-cell, .datagrid-cell-group,
td[field$="tarItmDesc"] div.datagrid-cell, .datagrid-cell-group {
	text-overflow: ellipsis; /*列数据太多显示...*/
	padding: 0 8px;
}

.OPOELPrescNo1 {
	background-color: #C0FFC0;
}

.OPOELPrescNo2 {
	background-color: #FFDD66;
}

.OPOELPrescNo3 {
	background-color: #999C66;
}

.OPOELPrescNo4 {
	background-color: #87AFC0;
}

.OPOELPrescNo5 {
	background-color: #33CCFF;
}

.OPOELPrescNo6 {
	background-color: #FAAC66;
}

.OPOELPrescNo7 {
	BACKGROUND-COLOR: #878FC0;
}

.OPOELPrescNo8 {
	background-color: #F96B66;
}

.OPOELPrescNo9 {
	background-color: #C087C0;
}

.OPOELPrescNo10 {
	background-color: #666633;
}

.i-right {
	position: absolute;
	right: 0;
	bottom: 0;
}

.accordion .panel-header.accordion-header {
	-moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.accordion>.panel>.panel-body {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tip-area {
	position: relative;
	margin: auto;
	padding: 3px 5px;
	width: 220px;
	height: 135px;
}

.messager-popover .change-content {
	line-height: 25px;
	font-weight: 700;
}

.messager-popover .change-desc {
	float: left;
	font-size: 18px;
	color: #F30B0B;
}

.messager-popover .change-amt {
	float: right;
	font-size: 18px;
	color: #F30B0B;
}

.change-content > table {
	width: 220px;
}

.pat-info-container {
	padding-left: 5px;
}

.pseudo-hyper {
	color: #017BCE;
	cursor: pointer;
	text-decoration: underline
}