/* dhcbill.opbill.emergtrans2ip.css */

.td-first-col {
	width: 42px;
}

.win-td-first-col {
	width: 58px;
}

.textbox.tb135 {
	width: 135px;
}

.l-btn-bigger {
	width: 90px;
}

.east-content {
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

td[field="arcimDesc"] div.datagrid-cell, .datagrid-cell-group{
	text-overflow: ellipsis; /*列数据太多显示...*/
	padding: 0 8px;
}