/* dhcbill.ipbill.patordfee.css */

.display-more-tr {
	display: none;
}

.textbox.tb130 {
	width: 130px;
}
.textbox.tb132 {
	width: 132px;
}
.query-panel-btn {
	width: 88px;
}

td[field="TArcimDesc"] div.datagrid-cell,
td[field="TTarItmDesc"] div.datagrid-cell,
.datagrid-cell-group {
	text-overflow: ellipsis; /*列数据太多显示...*/
	padding: 0 8px;
}