/* dhcbill.ipbill.dailydtllist.css */

/*修改accordion 内容边框*/
/*
.panel-body.panel-body-noheader {
	border-radius: 0;
}
*/

.search-panel-table {
	border-collapse: separate;
	border-spacing: 0 5px;
}

.display-more-td {
	display: none;
}

.l-label-td {
	padding-left: 5px;
}

.textbox.tb160 {
	width: 160px;
}

.textbox.tb162 {
	width: 162px;
}

.l-btn-bigger {
	width: 103px;
}

.layout>.panel>.panel-header {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.layout>.panel>.panel-body {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.accordion .panel-header.accordion-header {
	-moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.accordion>.panel>.panel-body {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.layout-panel-west {
    padding-right: 10px;
}

td[field="TItemDesc"] div.datagrid-cell, .datagrid-cell-group {
	text-overflow: ellipsis; /*列数据太多显示...*/
	padding: 0 8px;
}