/* dhcbill.opbill.charge.css */

label.checkbox {
    margin-left: -6px;
}

.r-label-1 {
	padding-left: 15px;
}

.btn-spacing {
	margin-left: 30px;
}

.biggerBtn {
	width: 100px;
}

.textbox.tb105 {
	width: 105px;
}

.textbox.tb225 {
	width: 225px;
}

.textbox.tb250 {
	width: 250px;
}

.textbox.fontCls {
	color: #FF0000 !important;
	font-weight: bold;
	font-size: 18px;
}

.insType-box {
	float: left;
	padding: 10px;
	height: 150px;
	width: 180px;
}

.lines-no .datagrid-body td {
	border-right: 1px dotted transparent;
	border-bottom: 1px dotted transparent;
}

.admList-box {
	padding: 10px 0;
	height: 150px;
	width: 400px;
}

.OPOELPrescNo1 {
	background-color: #C0FFC0;
}

.OPOELPrescNo2 {
	background-color: #FFDD66;
}

.OPOELPrescNo3 {
	background-color: #999C66;
}

.OPOELPrescNo4 {
	background-color: #87AFC0;
}

.OPOELPrescNo5 {
	background-color: #33CCFF;
}

.OPOELPrescNo6 {
	background-color: #FAAC66;
}

.OPOELPrescNo7 {
	BACKGROUND-COLOR: #878FC0;
}

.OPOELPrescNo8 {
	background-color: #F96B66;
}

.OPOELPrescNo9 {
	background-color: #C087C0;
}

.OPOELPrescNo10 {
	background-color: #666633;
}