/* dhcbill.opbill.refund.css */

label.checkbox {
    margin-left: -6px;
}

.r-label-1 {
	padding-left: 18px;
}

.display-more-tr {
	display: none;
}

.td-first-col {
	width: 58px;
}

.td-second-col {
	width: 70px;
}

.textbox.fontCls {
	color: #FF0000 !important;
	font-weight: bold;
	font-size: 18px;
}

.biggerBtn {
	width: 90px;
}

.tip-area {
	position: relative;
	padding: 3px 5px;
	width: 180px;
	height: 102px;
}

.win-tip-area {
	position: relative;
	padding: 9px 15px;
	width: 180px;
	height: 120px;
}

.messager-popover .paym-content {
	font-weight: normal;
}

.messager-popover .paym-desc {
	float: left;
	width: 100px;
	color: #0079B8;
}

.messager-popover .paym-amt {
	float: right;
	color: #0079B8;
}