/* dhcbill.opbill.refrequest.css */

.display-more-tr {
	display: none;
}
		
.td-first-col {
	width: 58px;
}

.textbox.tb143 {
	width: 143px;
}

.box-td {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
}