/* dhcbill.capitalflow.css */

.layout>.panel>.panel-header {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.layout>.layout-panel-north>.panel-body {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.layout>.layout-panel-center>.panel-body {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.btn-width {
    width: 90px;
}
