/* dhcbill.opbill.charge.excepiton.css */

.btn-bigger {
	width: 90px;
}

.btn-spacing {
	margin-left: 20px;
}

.fail-Cls {
	color: #FF0000;
	font-weight: bold;
	font-size: 18px;
}

.succ-Cls {
	color: #21ba45;
	font-weight: bold;
	font-size: 18px;
}