/* dhcbill.ipbill.warrant.css */

.r-label-80 {
	padding-left: 80px;
}

.btn-spacing {
	margin-left: 20px;
}

textarea.textbox {
	height: 30px;
	line-height: 28px;
	overflow: hidden;
}

.btn-width {
	width: 90px;
}

