/* dhcbill.ipbill.depositlist.css */

body {
	background-color: #FFFFFF;
}

.panel-body.panel-body-noheader {
	-moz-border-radius: 0px 0px 4px 4px;
  	-webkit-border-radius: 0px 0px 4px 4px;
  	border-radius: 0px 0px 4px 4px;
}