/* dhcbill.pkg.css */

.td-first-col {
	width: 43px;
}

.td-first-col-58 {
	width: 58px;
}

.r-label-20 {
	padding-left: 20px;
}

.text-bold {
	font-weight: bold
}

.text-numberbox {
	text-align: right;
	padding: 0 5px 0 0;
}
		
.tipAmt {
	font-weight: bold;
	color: #FE9832;
}

.icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	float: right;
}

.btn-115 {
	width: 115px;
}

.textbox.tb100 {
	width: 100px;
}