/* dhcbill.ipbill.reg.css */

.textbox.tb125 {
	width: 125px;
}

.textbox.tb127 {
	width: 127px;
}

.menu-area {
	margin: 0 auto;
}

.biggerBtn {
	width: 115px;
}

.display-more-tr {
	display: none;
}

.table-row {
	display: table-row;
}

.td-required-first-col {
	width: 65px;
}

.td-first-col {
	width: 71px;
}

.td-second-col {
	width: 58px;
}

.main-panel {
	padding: 10px 10px 0 10px;
}

.main-panel div.panel {
	padding-bottom: 10px;
}