/* dhcbill.ipbill.dailydtllist.css */

/*修改accordion 内容边框*/
.panel-body.panel-body-noheader {
	border-radius: 0;
}

.search-panel-table {
	border-collapse: separate;
	border-spacing: 0 5px;
}

.display-more-td {
	display: none;
}

.l-label-td {
	padding-left: 5px;
}

.textbox.tb160 {
	width: 160px;
}

.textbox.tb162 {
	width: 162px;
}