/* dhcbill.ipbill.dischQuery.css */

.btn-spacing {
	margin-left: 20px;
}

td[field="TMRDiagnos"] div.datagrid-cell, .datagrid-cell-group{
	text-overflow: ellipsis; /*列数据太多显示...*/
	padding: 0 8px;
}

.btn-bigger {
	width: 90px;
}