/* dhcbill.ipbill.charge.css */

.td-first-col {
	width: 43px;
}

.tipAmt {
	font-weight: bold;
	color: #FE9832;
}

.text-bold {
	font-weight: bold;
}

.biggerBtn {
	width: 115px;
}

.textbox.tb220 {
	width: 220px;
}

.textbox.tb120 {
	width: 120px;
}