/* dhcbill.ipbill.paymentmonad.css */

td[field="TMrDiagnos"] div.datagrid-cell, .datagrid-cell-group{
	text-overflow: ellipsis;  /*showTip 列数据太多显示...*/
	padding: 0 8px;
}

body{
	background-color: #FFFFFF;	
}