/* dhcbill.opbill.accpinv.css */

.td-first-col {
	width: 58px;
}

.textbox.tb220 {
	width: 220px;
}

.textbox.tb120 {
	width: 120px;
}

.text-bold {
	font-weight: bold;
}

.print-btn {
	width: 120px;
}

.display-more-tr {
	display: none;
}

label.checkbox {
    margin-left: -6px;
}

.tb-btn {
	float: right;
}

.spacing-btn {
	padding-right: 10px;
}

.spacing-ck {
	padding-right: 20px;
}