/* dhcbill.ipbill.patordfee.css */

.display-more-tr {
	display: none;
}

.td-first-col {
	width: 43px;
}

.td-first-display-col {
	width: 58px;
}

.textbox.tb130 {
	width: 130px;
}

.query-panel-btn {
	width: 88px;
}