/* dhcbill.dailyhand.css */

.textbox.tb170 {
	width: 170px;
}

.r-label-1 {
	padding-left: 30px;
}

.layout>.panel>.panel-header {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.layout>.panel>.panel-body {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.layout-panel-east {
    padding-left: 10px;
}

#rece-tree .tree-node {
	position: relative;
}