html,body {
	overflow-x: auto; overflow-y: hidden;	
	width : 100%;
	height : 100%;
	font-family: sans-serif;
	
}

img {
	cursor:pointer;
}

#patInfo .chargeTr td {
	height: 26px;
	margin: auto;
}
#chargeSearch {
	width : 100%;
}
/*====头面板左侧查询面板=====*/
/*
#chargeSearch {
	float: left;
	width : 64%;
}
/*====头面板右侧基本信息面板====*/
/*
#patInfo {
	float: left;
	width : 36%;
}
*/

#chargeAmt {
	float:left;
}

#chargeBtn {
	margin-right:50px;
	float:right;	
}

#chargeBtn .easyui-linkbutton {
	width:124px;
}


.labelForCheckBox {
	cursor:pointer;
}

.labelForCheckBox[type="checkbox"] {
	zoom: 1.0;	
}

#patInfo .chargeTable {
	width:240px;
}

#panelPatList {
	border-width:1px;
	border-style: solid;
	border-top:0px;
}
#layoutAmtBtn {
	border-left-width:1px;
	border-left-style:solid;
	border-right-width:1px;
	border-right-style:solid;
}


/*======定义背景色=========*/
html,body,
#chargeTop,
#layoutAmtBtn,
.defaultBgColor,
.panel-header,
.tabs-header,
.tabs,
.tabs li a.tabs-inner {
	
	background-repeat:repeat;
	background-color: #cee4ff;
}

/*=====定义边框颜色=======*/
.combo,
.panel-body,
.panel-header,
.tabs-header,.tabs,
.tabs li a.tabs-inner,
#panelPatList,
#layoutAmtBtn {
	border-color:#C0C0C0;
}

/*======定义tab选择签颜色=======*/
.tabs LI A.tabs-inner,
.panel-header,
.tabs-header,
.tabs,
.tabs li a.tabs-inner {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fafafa,endColorstr=#fafafa,GradientType=0)
}

/*======定义选中后的tab选择签颜色=======*/
.tabs LI.tabs-selected A.tabs-inner {
	background-repeat:repeat;
	/*background-color: #dee8f6;*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dee8f6,endColorstr=#dee8f6,GradientType=0)
}

.datagrid-cell,.datagrid-cell-rownumber {
	line-height:24px;
	height: 24px;
	margin: auto;
	padding:auto;
	vertical-align:middle;
}

/*======定义字体大小========*/
.chargeTr,
.datagrid-editable-input .numberbox-f .validatebox-text .easyui-tooltip,
.datagrid-header .datagrid-cell span,
.tabs-title,
.l-btn-text,
.panel-title,
.datagrid-cell,
.datagrid-cell-rownumber,
.defFontSize {
	font-size: 14px;
}

/*====定义datagrid行 选择后的颜色====*/
.datagrid-row-selected {
	/*background:#cbe5ff;*/ /*rgb(255, 228, 141)：原来自带色*/	
	background:rgb(255, 228, 141); 
}

/*====定义按钮hover======*/
.l-btn:hover,
.l-btn-plain:hover {
	/*background: #665353;*/
	/*color: #fd7201;*/
	font-weight:bold;
}

/*====定义工具栏按钮长度，不设置，设置后如果超长会显示不出来 ====*/
.datagrid-toolbar table tbody tr td a {
	/*width:120px;*/
}

.patInfo {
	width:86px;
}
#clear, #btnReadCard  {
	width:86px;	
}

.tdspace {
	padding-right:8px;	
}

.right {
	text-align: right;
}

/*平衡金额*/
.tipBalance{
	display:none; /*隐藏平衡金额*/
}

/*应填金额*/
.tipAmt{
	font-size:16px;
	font-weight:bold;
}
.icon-billBtn {
	background: url("../../../../images/uiimages/doccardbill.png") no-repeat center;
}
.icon-insuChargeBtn {
	background: url("../../../../images/uiimages/uploadyun.png") no-repeat center;
}
.icon-disChargeBtn {
	background: url("../../../../images/uiimages/paid.png") no-repeat center;
}
.icon-cancelChargeBtn {
	background: url("../../../../images/uiimages/cancel.png") no-repeat center;
}
.icon-cancelInsuBtn {
	background: url("../../../../images/uiimages/unloadyun.png") no-repeat center;
}
.icon-insuPreChargeBtn {
	background: url("../../../../images/uiimages/cleanup.png") no-repeat center;
}	
.icon-insuPreChargeBtn {
	background: url("../../../../images/uiimages/updateyun.png") no-repeat center;
}
.icon-searchBtnFindBtn {
	background: url("../../../../images/uiimages/search.png") no-repeat center;
}
.icon-searchBtnClearBtn {
	background: url("../../../../images/uiimages/clearscreen.png") no-repeat center;
}
.icon-BillTool {
	background: url("../../themes/default/images/bill.png") no-repeat center;
}
.icon-RebillTool {
	background: url("../../themes/default/images/rebill.png") no-repeat center;
}
.icon-HalfBillTool {
	background: url("../../themes/default/images/halfbill.png") no-repeat center;
}
.icon-CancelHalfTool {
	background: url("../../themes/default/images/cancelhalfbill.png") no-repeat center;
}
.icon-CloseAcountTool {
	background: url("../../themes/default/images/bill_lock.png") no-repeat center;
}
.icon-CancelCloseTool {
	background: url("../../themes/default/images/bill_unlock.png") no-repeat center;
}
.icon-AddDepositTool {
	background: url("../../themes/default/images/deposit_add.png") no-repeat center;
}
.icon-RefDepositTool {
	background: url("../../themes/default/images/deposit_ref.png") no-repeat center;
}
.icon-RePtFPTool {
	background: url("../../themes/default/images/receipt_reprint.png") no-repeat center;
}
.icon-PtInvTool {
	background: url("../../themes/default/images/print.png") no-repeat center;
}
.icon-RefInvTool {
	background: url("../../themes/default/images/receipt_refund.png") no-repeat center;
}
.icon-PtBillDetTool {
	background: url("../../themes/default/images/edit_add.png") no-repeat center;
}
.icon-SearchOrdFeeTool {
	background: url("../../themes/default/images/edit_add.png") no-repeat center;
}
.icon-SearchTarFeeTool {
	background: url("../../themes/default/images/edit_add.png") no-repeat center;
}
.icon-SearchDepDetTool {
	background: url("../../themes/default/images/edit_add.png") no-repeat center;
}
.icon-PtLedgerTool {
	background: url("../../themes/default/images/print_ledger.png") no-repeat center;
}
.icon-otherSearch {
	background: url("../../themes/default/images/btn_search.png") no-repeat center;
}
.icon-VoidInvNoTool {
	background: url("../../themes/default/images/skipno.png") no-repeat center;
}
.icon-readcard {
	background: url("../../themes/default/images/cardsearch.png") no-repeat center;
}
.icon-clear {
	background: url("../../themes/default/images/cleanup.png") no-repeat center;
}

