.page_print{background: url(../images/print.png) no-repeat left 0px !important;}
.noborder { 
    border: 0; 
    background-color: #DFE8F6; 
    background-image: url(); 

} 
.nobordernocolor { 
    border: 0; 
    background-color: #FFFFFF; 
    background-image: url(); 

} 

.my_row_Yellow table{ background:Yellow}

.x-grid3-row {
    border-bottom: 0;
}
.x-grid3-col {
    border-bottom: 1px solid #ededed;
}
.row-span {
    border-bottom: 1px solid #fff;
}
.row-span-first {
    position: relative;
    border-top: 1px solid #ededed;
}
.row-span-first .x-grid3-cell-inner {
    position: absolute;
}
.row-span-last {
    border-bottom: 1px solid #ededed;
}
