/*
分割线
*/
.BorderLine{
	border:none;
	border-bottom:1px dashed #CCCCCC;
}
/*
选择行的行染色(比如批次弹窗)
*/
.CellBackGroundColor{
	background-color: #51AD9D;
}
/*
按钮与条件之间加分割线 hr 虚线样式
*/
.PartLine{
	margin-top:0px;
	margin-bottom:10px
	height:1px;
	border:none;
	border-top:1px dashed #CCCCCC;
}
/*
查询条件
*/
.Condition{
	text-align:right;
	border-spacing:0px 10px;
}
.Condition>tbody>tr>td>label{
	margin-right: 10px;
}
.Condition>tbody>tr>td{
	padding: 0px 0px 0px 10px;
}
.CkPadding{
	text-align:left;
	padding: 0px 0px 0px 6px !important;
}	
/*
弹窗
*/
.FindWin{
	width:1000px;
	height:500px;
	top:10px;
	left:50px;
}
/*
弹出窗口的west样式 
宽度 
虚线分割(去掉)，div的options不加border:false
*/
.FindGridWest{
	width:420px;
	/*border:1px solid red;*/
}
/*
必填项*样式
*/
.required{
	color:red;
	text-align:right;
	margin-right: 0px !important;
}

/*
处理不带bar的Grid中header与Grid之间多余线及空白
Grid外层定义class="NonPadGrid"
*/
.NonPadGrid .datagrid-toolbar{
	/*padding:0;
	border-width:0px;*/
}
.GridPadding{
	padding: 10px;
}
/*报表背景图片*/
.ReportImage{
	background:url(../images/ReportNoData.png) no-repeat center;
}
/*Grid表头右键菜单高度调整*/
.GridHeaderContexMenu>.menu-item,.GridHeaderContexMenu>.menu-item>.menu-text{
	height:24px;
	line-height: 24px;
}

/*静态popover*/
.static-popover{
	border-radius:5px;display:block; padding:5px 0px 5px 10px; font-weight:700; vertical-align:middle;
	}
.static-popover.info{
	color:#1278b8;background:#e3f7ff;border:1px solid #c0e2f7
	}

.static-popover.alarm{
	color:#ff7e00;background:#fff3dd;border:1px solid #f7d199
	}
.static-popover.error{
	color:#ff3d2c;background:#ffe3e3;border:1px solid #fec0c0
	}

.static-popover-icon{
	width:16px;height:16px;margin-right:2px;display:inline-block; line-height:10px; vertical-align:middle;
	}
.static-popover-icon.info{
	background:url(../images/messager_popover.png) -48px 0 no-repeat
	}
.static-popover .content{
	height:16px; margin-right:10px;display:inline-block; line-height:15px; vertical-align:middle; margin-top:1px;
	}