/*页面标签--暂时未使用*/
.top-btns {
    display: table;
    margin: auto;
}

.top-btns .top-btn {
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    color: #333;
    cursor: pointer;
}

.top-btns .active-btn {
    background: #339EFF;
    border-color: #339EFF;
    color: #fff;
}

.home-row{
    content: '';
    display: block;
    clear: both;
	padding:10px;
}

/*待办提醒*/
.data-cell {
	float: left;
	width: 118px;
	height: 110px;
	border: none;
	margin: 8px;
	font-family: "microsoft yahei";
	relative: relative;
}
.data-cell:hover {
	background-color: #f1f1f1; /*#e4e6e9*/
	cursor: pointer;
	font-weight: 600
}
.data-cell-center {
	float: left;
	width: 118px;
}
.data-cell-centerImg {
	float: left;
	margin-left: 28px;
	margin-top: 10px;
}
.data-cell-centerNum {
	float: left;
	margin-left: -13px;
	margin-top: 3px;
	position: relative;
	display: inline-block;
	padding: 0 6px;
	font-size: 14px;
	text-align: center;
	background-color: #FF5722;
	color: #fff;
	border-radius: 10px;
	line-height: 18px;
}

.data-cell-hvbottom {
	font-weight: 400;
	margin-left: 5px;
	margin-top: 85px;
	font-size: 14px;	
}
.data-cell-bottom {
	font-weight: 400;
	margin-left: 22px;
	margin-top: 85px;
	font-size: 14px;	
}
.data-cell-hv {
	float: left;
	width: 110px;
	height: 110px;
	border: none;
	margin: 10px;
	font-family: "microsoft yahei";
	relative: relative;
}
.data-cell-hv:hover {
	background-color: #f1f1f1; /*#e4e6e9*/
	cursor: pointer;
	font-weight: 600
}
/*资质提醒*/
.Exp-cell {
	float: left;
	width: 230px;
	height: 90px;
	border: false;
	margin: 5px;
	background-color: #fff;
	border-radius: 6px;
	vertical-align: middle;
}
.Exp-cell:hover {
	background-color: #f7eff8;
	cursor: pointer;
	font-weight: 600
}

.Exp-cell-left {
	float: left;
	margin-left: 10px;
	margin-top: 8px;
}
.Exp-cell-right {
	float: right;
	margin-right: 10px;
	margin-top: 6px;
}
.Exp-cell-righttop {
	line-height: 40px;
    font-size: 18px;
    color:#588dd5; /*#6496FF; #eea45a;*/

}
.todo-cell-rightbottom {
	display: flex;
    flex-direction: column;
    flex: 2;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	vertical-align: top;
}
.Exp-warn-font-about {
    color: #ffa500;
    font-size: 28px;
    margin-right: 6px;
}

.Exps-warn-font-expired {
    color: #e11d1d;
    font-size: 28px;
    margin-right: 6px;
}
.Ven {
	width:80px;
	height: 80px;
	background: url(../images/portal/warn/warn2.png);
    background-repeat: no-repeat;
}
.Manf {
	width:80px;
	height: 80px;
	background: url(../images/portal/warn/warn6.png);
    background-repeat: no-repeat;
}
.Cert {
	width:80px;
	height: 80px;
	background: url(../images/portal/warn/warn3.png);
    background-repeat: no-repeat;
}
.Chain {
	width:80px;
	height: 80px;
	background: url(../images/portal/warn/warn4.png);
    background-repeat: no-repeat;
}
.Contract {
	width:80px;
	height: 80px;
	background: url(../images/portal/warn/warn5.png);
    background-repeat: no-repeat;
}
/*图表*/
