/*页面tab有一个左右边框重合的问题修复*/
.tabs-container.tabs-gray .tabs-header {
    border-width: 1px 1px 0px;
    border-style: solid solid solid;
    border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204);
    border-image: initial;
    border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}

.tabs-gray .tabs-header {
    border-radius: 0 0 0 0;
}