@charset "UTF-8";
/**
 * 
 * @authors liyi (124933390@qq.com)
 * @date    2017-08-14 16:28:26
 * @version v1.0
 */
.report{
 	border:1px solid #EBEBEB;
 	border-radius: 4px;
 	margin:10px 10px 20px 5px;
 	padding: 10px 10px;
 	height:auto;
 	width: 100% !important;
}
.onereport {
	width: 100%;
}
.no_result{
	margin-top: 100px;
	width:400px;
	height:320px;
	background:url("../../../img/no-result.png") no-repeat;
}
.Item {
 	text-align: center;
	font-weight: bold;
    font-size: medium;
}
.sign{
 	text-align: right;
}
.title{
	width:80px !important;
	vertical-align:text-top;
	color: #017BCE;
}
.examdesc{
	text-indent:25px;
}

.course font{
	color: red;
}