/**
   public style */


 html, body                           { height:100%;/*滚动条插件*/ -ms-overflow-style: scrollbar;/*IE滚动条*/}
.mainbody                             { background:#eee;}
.topfixpd                             { padding-top:100px;}
.topfixpd2                            { padding-top:50px;}
.h180                                 { height:180px;}


/*页面导航*/
.breadcrumb                           { position:fixed; top:50px; background-color:#eee; width:100%; height:30px; line-height:30px; margin:0 15px 20px -5px; padding:0 15px; border-bottom:1px solid #14A4EC; color:#333; z-index:1020; font-size:14px;}
.breadcrumb-noline                    { margin-bottom:0; border:none;}
.breadcrumb2                          { top:0;}
.breadcrumb .icon-home                { margin-right:12px; font-size:16px;}
.breadcrumb > li + li::before         { color:#333;}
.breadcrumb > li > a                  { color:#333;}
.breadcrumb > .active                 { color:#333;}


/*固定导航（工具）栏<左右两侧>*/
.fixednav                             { position:fixed; background:#0c568a; height:100%; min-width:90px;}
.fixednav li                          { border-bottom:1px solid #114d7c;}
.fixednav li a                        { display:block; padding:15px 5px; border-left:3px solid #0c568a; border-right:3px solid #0c568a; color:#14a4ec; font-size:14px; text-align:center; text-decoration:none;}
.fixednav li a i                      { display:block; padding-bottom:3px; font-size:26px;}
.fixednav li a:hover                  { background:#043458; border-left:none; border-right:none; text-decoration:none;}
.fixednav li.active                   { background:#043458;}
.fixednav li.active a                 { background:#043458; border-right:3px solid #14a4ec; border-left:3px solid #043458; color:#fff;}


/*[面板]
----------------------------------------------------------------------------------------*/
/*主题通用样式*/
.panel.theme                          { background:#ccc; color:#fff; border:none;}
.panel.theme .panel-body              { border:1px solid transparent;}
.panel.dragging .panel-body           { border:1px dashed #fff; opacity:0.7;}
.panel.theme .list-unstyled li        { padding-left:4px; padding-right:4px;}
.panel.theme .list-unstyled > li:first-child li{ padding-left:5px; padding-right:5px; color:#fff;}
/*<蓝色主题>*/
.panel.theme-blue .panel-body         { background:#428AC8;}
.panel.theme-blue .list-unstyled li   { color:#D4E7EE;}
/*<绿色主题>*/
.panel.theme-green .panel-body        { background:#3FB2A5;}
.panel.theme-green .list-unstyled li  { color:#dcf7f4;}
/*<红色主题>*/
.panel.theme-red .panel-body          { background:#DB6160;}
.panel.theme-red .list-unstyled li    { color:#f8cdcc;}
/*悬停状态<默认主题>*/
.panel-hover.panel-default .panel-body:hover                                { background:#f8f8f8;}
/*选中状态<默认主题>*/
.panel-active.panel-default                                                 { border-color:#bbb;}
.panel-active.panel-default .panel-heading                                  { background-color:#e6e6e6; border-color:#bbb;}
.panel-active.panel-default .panel-body,
.panel-active.panel-default .panel-body:hover                               { background:#efefef;}
.panel-active.panel-default .line-dashed-gray                               { border-bottom:1px dashed #ccc;}
.panel-active.panel-default .panel-heading > .dropdown .dropdown-toggle.bordered-default:hover          
                                                                            { border:1px solid #bbb; border-radius:3px;}

/*[下拉菜单]
----------------------------------------------------------------------------------------*/
/*<与按钮右对齐>*/
.dropdown-menu.right                                                        { left:auto; right:0;}
/*下拉菜单小箭头*/
.panel-heading > .dropdown .dropdown-toggle.bordered                        { background:transparent; width:18px; height:18px; line-height:19px; border:1px solid transparent;}
.panel-heading > .dropdown .dropdown-toggle.bordered .caret                 { margin-left:0;}
.panel-heading > .dropdown .dropdown-toggle.bordered-default:hover          { border:1px solid #ccc; border-radius:3px;}
.panel-heading > .dropdown .dropdown-toggle[disabled] .caret                { color:#bbb;}
.panel-heading > .dropdown .dropdown-toggle.bordered-default[disabled]:hover{ border:1px solid transparent;}


/*标签<圆形>*/
.label-circle .label                  { display:inline-block; padding:0; text-align:center; font-weight:normal;}
.label-circle-xs.display_in-b         { height:24px; overflow:hidden;}
.label-circle-xs .label               { width:24px; height:24px; line-height:24px; border-radius:12px; font-size:14px;}


/*区域*/
.area-gray                            { background-color:#F9F9F9; border:1px #E6E6E6 solid;}
.area-white                           { background-color:#fff; border:1px #e2e2e2 solid; box-shadow:0 0 2px #e2e2e2;}


/*标题*/
.title-vline-left                     { height:18px; line-height:18px; padding-left:10px; border-left:3px solid #14A4EC; font-size:16px;}


/*线条*/
.line-dotted-gray                     { height:1px; border-bottom:1px dotted #ddd;}
.line-dashed-gray                     { height:1px; border-bottom:1px dashed #ddd;}


/*按钮<反显>*/
.btn-inverse-primary                  { background-color:#fff; border-color:#1299ec; color:#28a3ef;}
.btn-inverse-primary:hover,
.btn-inverse-primary:focus,
.btn-inverse-primary.focus            { background-color:#28a3ef; border-color:#0d74b3; color:#fff;}


/*颜色*/
.color-red                            { color:#DB6160;}
.color-blue                           { color:#28a3ef;}
.color-green                          { color:#3FB2A5;}
.color-cyan                           { color:#2EC7C9;}
.color-lilac                          { color:#B6A2DE;}
.color-gray                           { color:#999;}
.color-gray-light                     { color:#bbb;}
.color-gray-dark                      { color:#666;}
.color-black                          { color:#333;}


/*背景色*/
.bg-red                               { background-color:#DB6160;}
.bg-green                             { background-color:#3FB2A5;}
.bg-yellow                            { background-color:#FFF7D7;}
.bg-gray                              { background-color:#f8f8f8;}


/*控件*/
a.noline:hover,a.noline:focus         { text-decoration:none;}
.input-underline                      { background:transparent; padding:2px 3px; height:26px; line-height:26px; color:#666; border:none; border-bottom:1px solid #333; font-size:14px;}


/*[页签]
----------------------------------------------------------------------------------------*/
/*页签<可关闭>*/
.nav-tabs-closed                      { background-color:#eee;}
.nav-tabs-closed > li > a             { background-color:#ddd; margin-right:0; border-radius:0; border:none; border-bottom:1px solid #ccc;}
.nav-tabs-closed > li > a:hover       { background-color:#f8f8f8;}
.nav-tabs-closed > li:first-child > a { padding-left:15px; padding-right:15px;}
.nav-tabs-closed > li.active > a,
.nav-tabs-closed > li.active > a:hover,
.nav-tabs-closed > li.active > a:focus{ background-color:#fff; border:none; border-bottom:2px solid #14A4EC; border-radius:0; font-weight:normal;}

/*页签<上边框、两端对齐、顶部固定，（示例：门诊医生站）>*/
.nav-tabs.nav-border-top.nav-tab-top > li.active > a,
.nav-tabs.nav-border-top.nav-tab-top > li.active > a:hover,
.nav-tabs.nav-border-top.nav-tab-top > li.active > a:focus { border-top:2px solid #14a4ec;}
.nav-tabs.nav-justified.nav-tab-top > .active > a,
.nav-tabs.nav-justified.nav-tab-top > .active > a:hover,
.nav-tabs.nav-justified.nav-tab-top > .active > a:focus    { border:1px solid #ccc; border-bottom:2px solid #fff;}
@media screen and (-webkit-min-device-pixel-ratio:0)       { /*webkit内核浏览器*/
    .nav-tabs.nav-justified.nav-tab-top > .active > a,
	.nav-tabs.nav-justified.nav-tab-top > .active > a:hover,
	.nav-tabs.nav-justified.nav-tab-top > .active > a:focus{ border-bottom:3px solid #fff;}
}
.nav-tabs.nav-justified.nav-tab-top > li > a               { border-bottom:1px solid #ccc;}
.nav-tabs.nav-justified.nav-tab-top                        { margin-bottom:0;}
.nav-tabs.nav-tab-top > li > a                             { font-size:16px; letter-spacing:2px;}
.nav-tabs.nav-tab-top > li > a > small                     { margin-left:5px; color:#666; letter-spacing:normal;}
.nav-tabs.nav-tab-top > li.active > a                      { font-weight:normal;}
.nav.nav-tab-top > li > a:hover,
.nav.nav-tab-top > li > a:focus                            { background:#e5e5e5;}
.nav.nav-tab-top > li.active > a:hover,
.nav.nav-tab-top > li.active > a:focus                     { background:#fff;}
.tab-content.tab-content-top                               { background:#fff; margin-top:24px;}
.nav-tab-top                                               { background:#eee; margin-top:80px; z-index:1020;}


/*下拉列表*/
.select2-container--bootstrap .select2-selection--single   { height:30px; padding:4px 24px 4px 12px;}
.select2-container--bootstrap .select2-selection           { font-family:"Microsoft YaHei";}


/*滚动条插件*/
.mCSB_scrollTools                                          { z-index:99999;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar          { width:6px;}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,
.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{ margin:3px 0;}


/*表单*/
.form-group                                                { margin-bottom:10px;}
@media screen and (max-width: 992px)                       {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{ 
	    margin-bottom:5px;
    }	
}




   

