
/*[页签]
----------------------------------------------------------------------------------------*/
.nav-tabs.nav-border-top > li.active > a,
.nav-tabs.nav-border-top > li.active > a:hover,
.nav-tabs.nav-border-top > li.active > a:focus      { border-top:2px solid #14a4ec;}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus         { border:1px solid #ccc; border-bottom:2px solid #fff;}
@media screen and (-webkit-min-device-pixel-ratio:0){/*webkit内核浏览器*/
    .nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus     {
		border-bottom:3px solid #fff;
	}
}
.nav-tabs.nav-justified > li > a     { border-bottom:1px solid #ccc;}
.nav-tabs.nav-justified              { margin-bottom:0;}
.nav-tabs > li > a                   { font-size:16px; letter-spacing:2px;}
.nav-tabs > li > a > small           { margin-left:5px; color:#666; letter-spacing:normal;}
.nav-tabs > li.active > a            { font-weight:normal;}
.nav > li > a:hover,
.nav > li > a:focus                  { background:#e5e5e5;}
.tab-content.tab-content-top         { background:#fff; margin-top:0;}
#patientList                         { padding:20px 0;}
/*固定在页面最顶部的页签*/
.nav-tab-top                         { background:#eee; margin-top:80px; z-index:1020;}
.topfixpd                            { padding-top:124px;}/*加入滚动条插件后左侧导航定位*/


/*[表单]
----------------------------------------------------------------------------------------*/
.form-horizontal .form-group         { margin-right:0;}
.form-horizontal .control-label      { padding-top:6px; padding-right:0;}
.btn-group i                         { vertical-align:-1px;}
/*两端对齐的按钮组*/
.btn-group-justified > .btn,
.btn-group-justified > .btn-group    { border-left:none;}
.btn-group-justified > .btn:first-child:not(:last-child):not(.dropdown-toggle){ border-left:1px solid #e0d7d7;}
/*垂直排列的按钮组*/
.btn-group-vertical .btn[disabled]   { opacity:1;}
/*反显按钮*/
.btn-inverse-primary                 { background-color:#fff; border-color:#1299ec; color:#28a3ef;}
.btn-inverse-primary:hover           { background-color:#28a3ef; border-color:#0d74b3; color:#fff;}


/*[患者列表.名片模式]
----------------------------------------------------------------------------------------*/
.circle                              { background:#fff; width:64px; height:64px; line-height:64px; border-radius:32px; font-size:30px; text-align:center;}
.panel.theme-green,.panel.theme-red  { background:#ccc; color:#fff; border:none;}
.panel.theme-green .media-left,
.panel.theme-red .media-left         { padding-right:30px;}
.panel.theme-green .panel-body,
.panel.theme-red .panel-body         { padding:20px;}
.panel.theme-green .state,
.panel.theme-red .state              { padding-top:10px; font-size:16px; text-align:center;}
.panel.theme-green .btn-group-lg > .btn,
.panel.theme-red .btn-group-lg > .btn{ color:#555; border-color:#ccc; border-top:none; font-size:16px;}
.btn-group .btn.noradius             { border-radius:0;}
.btn-group.btn-group-justified > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle
                                     { border-right:none;}
/*已就诊<绿色>*/
.panel.theme-green .panel-body       { background:#3FB2A5;}
.panel.theme-green .circle           { color:#3FB2A5;}
.panel.theme-green .list-unstyled li { color:#dcf7f4;}
/*未就诊<红色>*/
.panel.theme-red .panel-body         { background:#DB6160;}
.panel.theme-red .circle             { color:#DB6160;}
.panel.theme-red .list-unstyled li   { color:#F8CDCC;}


/*[患者列表.列表模式]
----------------------------------------------------------------------------------------*/
/*表头*/
.table-head                          { color:#fff;}
.table-head .th-icon                 { float:left; padding:0 5px 0 8px;}
.table-head .th-text                 { float:left; padding:0 10px;}   
.table-head-lg                       { height:36px; line-height:36px; font-size:16px;}
.table-head-lg i                     { font-size:22px;}
.table-head-lg .th-text              { border-radius:0 18px 18px 0;}
.table-head-red .th-icon             { background-color:#DB6160; border-right:1px solid #e49d9c;}
.table-head-red .th-text             { background-color:#DB6160;}
.table-head-green .th-icon           { background-color:#3FB2A5; border-right:1px solid #4BC7B9;}
.table-head-green .th-text           { background-color:#3FB2A5;}
/*datatables*/
div.dataTables_wrapper div.dataTables_paginate { text-align:left;}
.table-border-red                    { border:1px solid #DB6160;}
.table-border-green                  { border:1px solid #3FB2A5;}


/*[本次就诊]
----------------------------------------------------------------------------------------*/
/*左侧导航*/
.leftnav                             { position:fixed; top:124px; background:#0c568a; height:100%; min-width:90px;}
.leftnav li                          { border-bottom:1px solid #114d7c;}
.leftnav li a                        { display:block; margin-right:1px; padding:15px 5px; border-left:3px solid #0c568a; border-right:3px solid #0c568a; color:#14a4ec; font-size:14px; text-align:center; text-decoration:none;}
.leftnav li a i                      { display:block; padding-bottom:3px; font-size:26px;}
.leftnav li a:hover                  { background:#043458; border-left:none; border-right:none; text-decoration:none;}
.leftnav li.active                   { background:#043458;}
.leftnav li.active a                 { background:#043458; border-right:3px solid #14a4ec; border-left:3px solid #043458; color:#fff;}
/*患者信息*/
.patient-info                        { padding:10px 0; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.patient-info dl                     { float:left; margin-bottom:0; font-size:15px;}
.patient-info dl dt                  { float:left; line-height:150%; color:#000; font-weight:normal;}
.patient-info dl dd                  { float:left; line-height:150%; color:#888;}
/*描述*/
.the-doc-section                     { padding-bottom:10px; border-bottom:1px dotted #ccc;}
.the-doc-section:hover               { background:#eee;}
.dl-description                      { margin-bottom:10px;}
.dl-description dt                   { background:#14a4ec; width:80px; height:24px; line-height:24px; padding-right:10px; color:#fff; font-weight:normal;}
.dl-description dd                   { margin-left:90px; line-height:24px;}
/*处方*/
.table-wrap                          { padding:5px 0; border-bottom:1px dashed #ccc;}
.table-nostyle                       { width:100%;}
/*右侧按钮组*/
.rt-btn-group                        { top:180px;}


/*[个人健康]
----------------------------------------------------------------------------------------*/
.infobox                             { border-left:1px solid #ccc;}
.infobox.noborder                    { border:none;}
.infobox-menu,.infobox-submenu,.infobox-ssubmenu       { display:inline-block; margin-top:0; margin-bottom:20px; padding:5px 15px; color:#fff;}
.infobox-menu                        { background-color:#008ed6;}
.infobox-submenu                     { background-color:#14a4ec; font-size:15px;}
.infobox-ssubmenu                    { background-color:#14a4ec; font-size:15px;margin-bottom:0px;}
.infobox ul                          { padding-left:15px;}
.infobox ul li                       { line-height:24px; color:#008ed6; list-style-type:disc; list-style-position:inside;}
/*用药史*/
ul.color-gray li                     { color:#999;}
.infobox .list-inline                { margin-left:-7px;}
/*就诊记录*/
.infobox .collapsebox                { margin-bottom:10px; padding-left:15px;}
.collapsebox .collapse,
.collapsebox .collapsing             { margin-left:20px;}
.collapsebox .list-inline            { padding-left:2px;}
ul.color-black li                    { color:#333;}
/*交流记录*/
.collapsebox .tooltip                { display:inline-block; position:relative; z-index:auto; opacity:1; font-family:"Microsoft YaHei"; font-size:14px;}
.collapsebox .tooltip.left           { margin-right:3px;}
.collapsebox .tooltip-inner          { max-width:none; padding:5px 10px; text-align:left; word-break:break-all;}
.collapsebox .tooltip.left .tooltip-arrow,
.collapsebox .tooltip.right .tooltip-arrow
                                     { top:15px;}
.userphoto                           { display:inline-block; width:30px; height:30px; border-radius:15px; font-size:20px; text-align:center;}
.userphoto-primary                   { background:#5bc0de; color:#fff;}
.userphoto-danger                    { background:#ea4a36; color:#fff;}

/*解决IE头部下拉菜单点开状态且当鼠标指针位于mainMid的滚动条上时，滚动条在下拉菜单的上方的bug*/
#mainMid .mCSB_scrollTools    { z-index:auto;}