body {
    font-family: '"Helvetica Neue",Helvetica,Arial,sans-serif';
}
/* 更改首页tab的高度宽*/
.nav-tabs > li > a {
    padding: 3px 9px 5px;
}

.page-content {
    padding: 1px 0px 0px;
}

.submenus_active {
    background-color: rgb(171, 196, 235);
}

/* 更改dataTable上面字的颜色*/
.dataTable > thead > tr > th[class*=sorting_] {
    color: #808080 !important;
}


/* 更改portlets上面面的高度和颜色*/
.dataTables_wrapper .row:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;
}
/* 更改portlets下面的高度和颜色*/
.dataTables_wrapper .row:last-child {
    padding-bottom: 0px;
    padding-top: 5px;
    background-color: #ffffff;
}
/* 更改搜索框距离下面的高度*/
label {
    margin-bottom: 0px;
}
/* 更改搜索框大小*/
.dataTables_filter input[type=search], .dataTables_filter input[type=text] {
    height: 14px;
}
/* 更改单元格宽度*/
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 6px;
}

/*datatables里面行不能换行*/
.widget-body .table tr  td {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.widget-body .table tr  th {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* 更改分页大小*/
.pagination > li > a, .pagination > li > span {
    padding: 3px 6px;
}
/* 更改portlets距离顶上的距离*/
.widget-box {
    /*margin: 0 0;*/
    margin-left: 5px;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}

    .dataTables_wrapper .dataTables_length {
        float: right;
        text-align: right;
        margin-top: 5px;
        vertical-align: middle;
    }

    .dataTables_wrapper .dataTables_filter {
        float: left;
        text-align: right;
        margin-top: 5px;
        vertical-align: middle;
    }

        .dataTables_wrapper .dataTables_filter input {
            width: 170px;
        }


    .dataTables_wrapper .dataTables_info {
        float: right;
        text-align: right;
        margin-top: 5px;
        vertical-align: middle;
        font-size: small;
    }

    .dataTables_wrapper .dataTables_paginate {
        float: right;
        text-align: right;
        padding-top: 0.25em;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0;
            margin-left: 2px;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
            *cursor: hand;
            color: #333333 !important;
            border: 1px solid transparent;
        }

ol, ul {
    margin: 0
}

.popover{
    max-width: 400px;
    width:400px;
}
/* 计费维护下 <收费项目分类>菜单与其子菜单差别不明显，需调整*/
.nav-list>li>.submenu li>.submenu li>.submenu li>.submenu li>a {
   padding-left: 46px;
}
/* tab标签背景色改为蓝色 */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #D9E6F5;
}
/* 基础数据平台菜单收缩后数据显示不全 */
.no-skin .menu-min.sidebar .nav-list > li > .submenu{
    height:550px;
    overflow-y:auto;
    overflow-x:hidden;
}
/* 打开用hisui写的界面页签下面多出来一块 */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
   z-index: 0;
}
/* 基础数据平台->产品配置下的个别菜单遮盖了下拉箭头图标 */
.no-skin .nav-list>li .submenu>li>a {
    border-top-color: #e4e4e4;
    background-color: #fff;
    color: #616161;
    padding-right: 20px;
}