.add{
	width:365px;
	min-height:40px;
	border:1px solid #CDCDCD;
	
}
.add .con{
    /* width: 100px; */
    /* height: 100px; */
    /* border: 1px solid; */
    margin: 4px;
    text-align: center;
    float: left;
    padding: 4px;
    cursor: pointer;
}
.but {
    border: 1px solid;
    width: 4%;
    text-align: center;
    border-radius: 5px;
    background: blue;
    color: #fff;
    margin: 10px 25%;
}

.con .name{
 	width: 60px;
    height: 20px;
    line-height: 20px;
	}
.addHongcha {
	background:url(../icon/hongCha1.png) no-repeat;
	width: 20px;
    height: 20px;
    float: left;
}

.body{
	font-family:Arial,"Microsoft Yahei";
	font-size:14px;
	color:#000;
}


.datagrid-header .datagrid-cell span,.datagrid-cell,.panel-title{font-size:14px!important}
.tree-title,.l-btn-text,.panel-title,.panel-body,.tabs-title,.textLabel,td{
	font-size:14px!important;
}