body
{
	margin:0px;
	padding:0px;
	font-family:"宋体";
	font-size:10pt;
	overflow: hidden;
}

.toolbar{
	/*position: absolute;
	top: 28px;
	width:90px;
    height:600px;*/
	left: 1px;
	background-color:#E0ECFF;
	line-height:25px;
    font-family:"宋体";
    padding-left:5px;
    font-size:10pt;
	
}
.centerbar{
	/*overflow:auto; 2017-9-28*/ 
	font-family:"宋体";
	font-size:12pt;
	 
	/*margin:2px 232px 10px 100px;*/
	/*border:1px #99BBE8 dotted;
	position: absolute;
	width:800px;
	height:550px;*/
}

.attrbar{
	/*position: absolute;
	right : 1px;
	top: 28px;
	width:220px;
	height:600px;
	background-color:#dfe8f6;*/
}
textarea:focus{
	outline:0px;
}
/* MenuBar */
.menuItem:hover,.menuItem:focus{
	vertical-align:middle;
	text-align:center;
	background-color: #BAD0EE;
	border: 1px solid #99BBE8;
}
.menuItem
{
	vertical-align:middle;
	text-align:center;
    border: 1px solid #dfe8f6;
    background-color  :Transparent;
	cursor:pointer;
}

/* line div */
.linediv{
	border-top: 1px solid #A7A6B1;
	height :1px;
}
.toolbarheader
{
	background-color:#DFE8F6;
	height:23px;
	font-weight:600;
}
.CtrlImg
{
	 margin-left:10px;
	 width:20px; /* 16*16-->20*20 */
     height:20px;
     padding-right:5px;
     background-repeat:no-repeat;
}
.CtrlItem:hover,.CtrlItem:focus{
	vertical-align:middle;
	background-color: #BAD0EE;
	border: 1px solid #99BBE8;
}
.CtrlItem
{
    padding-top:5px;
    padding-bottom:5px;
    height:22px;
    line-height:22px;
    vertical-align:middle;
    cursor:pointer;
    border: 1px solid #E0ECFF;
}
.toolitemlabel{
	background-image: url("img/label.gif");
}

.toolitemline{
	background-image: url("img/canvas.png");
}
.toolitemlist{
	background-image: url("img/grid.png");
}
.toolitemlistitem{
	background-image: url("img/column.png");
}
.toolitemimg{
	background-image: url("img/project.png");
}
.toolitemqrcode{
	background-image: url("img/qr.png");
	background-size:contain;
}

/* ceter layout */
.centerlayout {
	font-family:"宋体";
	font-size:12pt;
	background-image:url('img/grid.gif');
	border:1px #99BBE8 dotted;
	height:1400px;
	width:400px;
	position:relative;
}
.centerlayout-drag {
	border:1px #99BBE8 ridge;
}
.centerlinelayout {
	font-family:"宋体";
	font-size:12pt;
	border:1px #99BBE8 dotted;
	height: 1400px;
	width: 400px;
}
#tbCtrlAttr
{
  width:190px;
  font-family:"";
  padding-left:5px;
  font-size:10pt;
  text-align:left;
}

.tdCtrlAttrLeft
{
	/*padding-left:5px;
	border:1px #99BBE8 solid;*/
	height:25px;
}
.tdCtrlAttrRight
{
	/*padding-left:5px;
	border-top:1px #99BBE8 solid;
	border-bottom:1px #99BBE8 solid;
	border-right:1px #99BBE8 solid;*/
	height:25px;
}
.numberStyle
{
	width:100px;
}
.selStyle
{
	width:108px;
}
.txtStyle
{
	width:100px;
}
.trCtrlAttr
{
	display:none;
}
.buttonStyle
{
	width:35px;
	height:25px;
	background-color:#99BBE8;
}
/*.pagebg{ background:#F2F2F2; border:1px solid #DBDBDB; }*/
.pager{padding-left:0;margin:0px 0;list-style:none}
.pager li{display:inline;vertical-align:middle; margin-left:8px; color:#666;  line-height:25px; padding-top:5px; } 
.pager li span{ font-weight:bold; vertical-align:middle; font-size:14px;}
/**label*/
.x-label{
	position: absolute; 
	/*padding:5px 5px 5px 5px;*/
	padding:0px 0px 0px 0px;		
	cursor: move;
	/*white-space:pre;*/ /*2019-06-29 x-label add width and height property*/
}
.x-labed-selected{
	background-color: rgb(186, 235, 196);
	opacity:1;
	z-index:100;
}

/**line**/
.x-line{
	width:6px;
	height:6px;
	position: absolute; 
	border: 1px #000000 solid; 
	padding:0px 0px 0px 0px;
	opacity:1;
}
.st-point,.end-point{
	cursor: nw-resize;
}
.mid-point{
	cursor: move;
}
/*rgb(186, 235, 196)*/
.x-selected,.x-line-selected {
	/*border: 2px rgb(186, 235, 196) solid;*/
	background-color: rgb(186, 235, 196);
	opacity:1;
	z-index:100;
}
img.x-selected{
	border: 1px rgb(186, 235, 196) solid;	
}
canvas.x-selected {
	opacity:0.5;
}
.x-list{
	position: absolute; 
	padding:0px 0px 0px 0px;	
	cursor: move;
	white-space:pre;
	border: 2px #99bbe8 dotted;
}
.x-listItem{
	position: absolute;
	padding:0px 0px 0px 0px;		
	cursor: move;
	white-space:pre;
}
.x-img{	
	position: absolute;
	padding:0px 0px 0px 0px;		
	cursor: move;
	white-space:pre;
}
.x-qrcode{	
	position: absolute;
	padding:0px 0px 0px 0px;		
	cursor: move;
	white-space:pre;
}
.x-barcode{	
	position: absolute;
	padding:0px 0px 0px 0px;		
	cursor: move;
	white-space:pre;
}
.imggray {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%); 
	filter: gray; 
}
.pic    {background-image: url("img/ToolBarIcon.png"); display: block;}
.graypic{ background-image: url("img/ToolBarIcon2.png"); display: block;}
/*save gray*/
.gray_save{ background-position: -130px -2px; width: 16px; height: 16px;}
.pic_save { background-position: -262px -0px; width: 16px; height: 16px; }

/*del gray*/
.gray_del{background-position: -192px -2px; width: 16px; height: 16px;}
.pic_del {background-position: -56px -0px; width: 16px; height: 16px; }

/*preview*/
.gray_printview {background-position: -71px -2px; width: 16px; height: 16px;}
.pic_printview {background-position: -210px -0px; width: 16px; height: 16px; }

/*printout*/
.gray_printout {background-position: -101px -2px; width: 16px; height: 16px;}
.pic_printout {background-image:url("img/printer.png");display: block;width: 16px; height: 16px;}

/*save as*/
.gray_saveas {background-position: -161px -2px; width: 16px; height: 16px;}
.pic_saveas {background-position: -278px -0px; width: 16px; height: 16px; }


.pic_1 {background-position: -0px -0px; width: 16px; height: 16px; }
.pic_2 {background-position: -16px -0px; width: 20px; height: 20px; }
.pic_3 {background-position: -36px -0px; width: 20px; height: 20px; }
.pic_5 {background-position: -72px -0px; width: 20px; height: 20px; }
.pic_6 {background-position: -92px -0px; width: 16px; height: 16px; }
.pic_7 {background-position: -108px -0px; width: 16px; height: 16px; }
.pic_8 {background-position: -124px -0px; width: 16px; height: 16px; }
.pic_9 {background-position: -140px -0px; width: 16px; height: 16px; }
.pic_10 {background-position: -156px -0px; width: 2px; height: 15px; }
.pic_11 {background-position: -158px -0px; width: 20px; height: 20px; }
.pic_12 {background-position: -178px -0px; width: 32px; height: 32px; }

.pic_14 {background-position: -226px -0px; width: 20px; height: 20px; }
.pic_15 {background-position: -246px -0px; width: 16px; height: 16px; }


.pic_18 {background-position: -294px -0px; width: 16px; height: 16px; }
.pic_19 {background-position: -310px -0px; width: 20px; height: 20px; }
.pic_20 {background-position: -330px -0px; width: 20px; height: 20px; }
.pic_21 {background-position: -350px -0px; width: 16px; height: 16px; }
.pic_22 {background-position: -366px -0px; width: 20px; height: 20px; }
.pic_23 {background-position: -386px -0px; width: 16px; height: 16px; }
.pic_24 {background-position: -0px -16px; width: 16px; height: 16px; }
.pic_25 {background-position: -16px -16px; width: 16px; height: 16px; }
/*.pic2 {background-image: url("../../images/DesinerImg/ToolBarIcon2.png"); display: block;}*/
/*Open*/

/*.pic_26 {background-position: -32px -16px; width: 16px; height: 16px; }*/
.pic_26 {background-image:url("img/node.gif");display: block;width: 16px; height: 16px;}
/*New*/
/*.pic_27 {background-position: -48px -16px; width: 16px; height: 16px; }*/
.pic_27 {background-image:url("img/open.png");display: block;width: 16px; height: 16px;}
.pic_28 {background-image:url("img/field-down.gif");display:block;width:16px;height:16px;}

@font-face {
	font-family: IDAutomationHC39M;  
	src: url('font/IDAutomationHC39M.woff');
}

@font-face {
	font-family: C39P36DmTt;  
	src: url('font/IDAutomationHC39M.woff');
}
@font-face {
	font-family: IDAutomationHC39M;  
	src: url('font/IDAutomationHC39M.woff');
}

@font-face {
	font-family: "Code128";  
	src: url('font/code128.ttf');
}


