.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	padding-right:20px;
	overflow-y:auto; 
	overflow-x:hidden;
}
.view-first{
	position:relative;
	width:100px;
	height:600px;
	background:	#FFF;
}
.view-second{
	position:relative;
	margin-top:10px;
	width:100px;
	background:	#FFF;
}
.view-first-left{
	position:relative;
	width:100px;
	height:600px;
	background:	#FFF;
}
.view-first-right{
	position:absolute;
	top:0px;
	left:110px;
	
	height:600px;
	background:	#FFF;
}
.view-second-left{
	position:relative;
	width:100px;
	height:300px;
	background:	#FFF;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.view-second-right{
	position:absolute;
	top:0px;
	left:110px;
	
	height:300px;
	background:	#FFF;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.view-first-left-top{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:230px;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.view-first-left-bottom{
	position:absolute;
	top:240px;
	left:0px;
	width:100%;
	height:360px;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.view-first-right-top{
	position:absolute;
	top:0px;
	left:0px;
	
	height:106px;	
}
.view-first-right-bottom{
	position:absolute;
	top:116px;
	left:0px;
	
	height:484px;
	border:1px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.list-order-item-req{
	position:absolute;
	top:38px;
	left:0;
	right:0;
	height:445px;
	border-top:1px solid #ccc;
}
.list-title{
	position:relative;
	background:#f9f9fa;
	height:34px;
	border-bottom:1px solid #ccc;
	padding-left:30px;
	border-radius: 4px 4px 0px 0px;
}
.list-title label{
	position:absolute;
	top:9px;
	left:35px;
}
.list-tools{
	position:absolute;
	top:0px;
	right:10px;
    line-height: 36px;
}
.list-tools a{
	text-decoration:underline;
	color:#017bce;
	} 
.list-icon{
	position:absolute;
	top:8px;
	left:10px;
	height:16px;
}
.list-order-item{
	position:absolute;
	top:36px;
	left:0px;
	width:100%;
	height:264px;
}
.list-tak-item{
	position:absolute;
	top:38px;
	left:0px;
	width:100%;
	height:260px;
	border-top:1px solid #ccc;
}
.list-order-item-day{
	position:absolute;
	top:36px;
	left:0px;
	width:100%;
	height:194px;
	overflow:auto;
}
.list-order-item-week{
	position:absolute;
	top:36px;
	left:0px;
	width:100%;
	height:324px;
}
.pf-nav {
	float: left;
	margin-top:10px;
}
.pf-nav .pf-nav-item{
	position:relative;
	float:left;
	width:195px;
	height:80px;
	padding:0 5px;
	border-radius:4px;
	border:1px solid #ccc;
}
.pf-nav-item{
	margin-left:10px;
	margin-bottom:10px;
}
.item-top{
	position:absolute;
	top:5px;
	left:0px;
	right:0px;
	height:23px;
	line-height:23px;
	padding-left:10px;
	color:#40a2de;
	/* border:1px solid blue; */
}
.item-center{
	position:absolute;
	top:28px;
	left:0px;
	right:0px;
	height:23px;
	line-height:23px;
	padding-left:10px;
	/* border:1px solid blue; */
}
.item-bottom{
	position:absolute;
	top:51px;
	left:0px;
	right:0px;
	height:23px;
	line-height:23px;
	padding-left:10px;
	/* border:1px solid blue; */
}
.item-tip{
	position:absolute;
	top:5px;
	right:5px;
	width:40px;
	height:40px;
	line-height:40px;
	/* border:1px solid blue; */
}
.item-complete{
	background: url(../images/complete.png) center center no-repeat;
}
.item-plan{
	background: url(../images/plan.png) center center no-repeat;
}
.item-tip label{
	color:#aae3a2;
	font-weight:bold;
}
.icon-right {
	margin-top:3px;
	padding-right:32px;
	padding-left:18px;
    background-position: right 12px center !important;
    display: inline-block;
    font-size: 12px;
}
.icon-more{
	background: url(../images/combobox_arrow.png) center center no-repeat;
}
span.icon-more {
	height:26px;
	line-height:26px;
    border:1px solid #f9f9fa;
    cursor:default;
}
span.icon-more:hover {
	border:1px solid #00BFFF;
	background-color:#87CEFA;
}
.bt-nav {
	float: left;
}
.bt-nav .bt-nav-item{
	position:relative;
	float:left;
	width:214px;
	height:106px;
	cursor:default;
}
.bt-nav-item:not(:nth-child(1)){
	margin-left:10px;
}
.bt-nav-item-left{
	margin-left:10px;
}
.bt-item-left{
	position:absolute;
	top:0px;
	left:0px;
	width:94px;
	height:106px;
}
.bt-item-center{
	position:absolute;
	top:0px;
	left:94px;
	right:70px;
	width:51px;
	height:106px;
}
.bt-item-right{
	position:absolute;
	top:0px;
	right:0px;
	width:70px;
	height:106px;
}

.app-left{
	background: url(../images/app-left.png) center center no-repeat;
}
.app-center{
	background: url(../images/app-center.png) center center repeat-x;
}
.app-right{
	background: url(../images/app-right.png) center center no-repeat;
}
.schedul-left{
	background: url(../images/schedul-left.png) center center no-repeat;
}
.schedul-center{
	background: url(../images/schedul-center.png) center center repeat-x;
}
.schedul-right{
	background: url(../images/schedul-right.png) center center no-repeat;
}

.item-text{
	position:absolute;
	top:45px;
	left:125px;
	width:80px;
	bottom:18px;	
}
.item-warn{
	position:absolute;
	top:0px;
	left:-10px;
	color:#FFF;
	font-weight:100;
	font-size:25px;
}
.item-chart{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:264px;
}
.item-chart-res{
	position:relative;
	top:0px;
	left:0px;
	
	height:264px;
}
.week-plan{
	position:relative;
	top:2px;
	left:0px;
	height:320px;
	border-top:1px solid #ccc;
}
.week-plan-title{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:38px;
}
.week-plan-mon{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:140px;
	border-top:1px solid #ccc;
}
.week-plan-aft{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:140px;
	border-top:1px solid #ccc;
}
.week-nav {
	float:left;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
.week-nav .week-nav-item{
	position:relative;
	float:left;
	width:120px; /* 138px*/
	overflow: hidden;
}
.week-nav-item:nth-child(1){
	width:100px;
	background:#F5F5F5;
}
.week-nav-item:not(:nth-child(1)){
	border-left:1px solid #ccc;
	box-sizing: border-box;
}
.week-nav-item{
	width:16.56% !important;
	border-left:1px solid #ccc;
	overflow-y: auto;
}
.week-plan-title .week-nav-item{
	overflow:hidden;
	height:38px;
	line-height:38px;
	text-align:center;
	background:#F5F5F5;
}
.week-nav-item:nth-child(1){
	height:38px;
	line-height:38px;
	text-align:center;
	background:#F5F5F5;
}
.week-nav-item-bk{
	line-height:125px;
	text-align:center;
	background:#F5F5F5;
}
.border-none{
	border:0;
}
.week-plan-mon .week-nav-item, .week-plan-aft .week-nav-item{
	height:140px;
}
.week-plan-mon .week-nav-item:nth-child(1), .week-plan-aft .week-nav-item:nth-child(1){
	height:140px;
	line-height:140px;
}
.week-item-grp{
	position:relative;
	height:40px;
	border-radius:4px;
	margin:6px 6px 5px 6px;
	color:#FFF;
	background:#008FF0;
	border:1px solid #008FF0;
}
.item-grp-dis{
	position:absolute;
	top:3px;
	left:5px;	
}
.item-grp-time{
	position:absolute;
	top:21px;
	left:5px;
}
.item-grp-value{
	position:absolute;
	top:21px;
	right:10px;
}

.consPlanData{
	position: relative;
    left: 100px;
    top: 2px;	
}
.grp-dis-text{
	font-size:10px;
	white-space: nowrap;
	overflow: hidden;
}

.myWeekbtn{
	width:75px;
	font-size: 10px;
	background: #fff;
	white-space: nowrap;
	color: #508bff;
	border: 1px solid #508bff;
	box-sizing: border-box;
	border-radius: 5px;
}