.imgDivItm{
	width:150px;height:170px;margin:2px;float:left;
}

.imgItm,.imgView{
	width:150px;height:150px;
}

.imgDocName{
	width:150px;height:20px;
}

p.clock{border-width: 1px; position: fixed; bottom: 15px; right: 15px;}

.addUserSpan{
	width: 100px;
    text-align: right;
    display: inline-block;
    margin-right: 10px;	
}

.addUserLine{
	line-height:40px;	
}