html{background:#fff;min-width:1000px;overflow:hidden}
#pf-hd{margin:10px;}
#pf-hc{margin:10px;}
.pf-toolhc{margin-top:10px;}
.pf-tools{margin-left:10px;}
.btn-danger {background-color: #F16E57 !important;}
.btn-warning {background-color: #FFB746 !important;}
.btn-olive {background-color: #2AB66A !important;}
.btn-success {background-color: #5cb85c!important;}
.btn-gray{background-color: #EAEAEA!important;} /*hxy 2018-10-18 ui组要求�?�择为灰�?/
.l-btn{border:0}
.panel-header, .panel-body {
    border-color: #E3E3E3;
}
.combo {
	margin-bottom: 3px;
}
.hisui-linkbutton{margin-left:0px;}
label{margin:0px 3px 0px 3px;}
.l-btn:hover{
	border:0
}
#emtype{
	margin-left:1px;
}
/*
.more-panel{display:none;position:absolute;left:0;right:0;top:85px;height:30px;padding:5px;background:#fff;z-index:111;}
*/
.more-panel{display:none;height:26px;padding:2px 5px 5px 5px;background:#fff;z-index:111;}
.more{margin-left:10px;padding:6px 5px 7px 20px;cursor:pointer;}
.datagrid-cell-c1-ItmUnObr a{margin-right:5px;}
.datagrid-cell-c1-LabPng a{margin-right:10px;}
.icon-search-white {
  background: url('../../images/adv_search.png');
}
.icon-read-white {
  background: url('../../images/read-white.png');
}
.pf-toolbar a:hover{
	padding: 3px 0px;
	border-radius: 5px;
}
.panel-title{padding-left:10px;}
.more i{
	display: inline-block;
	width: 26px;
	height: 16px;
	position: relative;
	top: 4px;
}
.more-bk-up{
	background: url('../../images/layout_arrows.png') no-repeat -16px -16px;
}

.more-bk-down{
	background: url('../../images/layout_arrows.png') no-repeat -16px 0px;
}
.more:hover{
	background:#dddddd;
}

.btn-select{
	background:#378ec4;	
}
.dashline-div {
    height: 1px;
    border-top: 1px dashed #ccc;
    clear:both;
	overflow: hidden;
}
.panel-body, .panel-header {
    border-color: #ccc;
}
.panel-header{
	border-radius: 4px 4px 0px 0px !important;
}