.pf-patimg{float:left;padding:0px 15px 0px 15px;width:30px;line-height:35px}
.pf-patimg img{vertical-align:middle;margin-left:3px}
.pf-patbase {position: relative;float: left;}
.pf-patname {font-size:16px;font-weight:bold;}
.pf-nav {float: left;}
.pf-nav .pf-nav-item{float:left;height:35px;padding:0 5px;}
.pf-nav-title{display:block;margin-top:10px;font-size:14px;text-align:center}
.i-sep {
    height: 15px;
    width: 0px;
    border-right: 1px solid #c3c3c3;
    transform: rotate(30deg);
    margin-top:0px;
    padding: 0;
}
.container{
	margin:10px 10px 5px 10px;
	height:600px;
}
.p-toolbar{
	border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0px;
    left: 1px;
    right:2px;
    z-index: 999;
    background-color: #fff;
    border-bottom: 0px solid #ccc;
    padding: 5px 5px 0 5px;
    text-align:center;
}
.p-toolbar a{
	margin-left:30px;
}
.ph-title{
	text-align:center;
	margin-bottom:15px;
}
.ph-title span {
    font-size: 30px;
    letter-spacing: 5px;
}
.ph-title .tip {
    font-size: 14px;
    letter-spacing: 2px;
    margin-left:10px;
    color:green;
    font-weight:bold;
}
.p-content{
    border: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    /* width:850px; */
    padding: 10px 10px 10px 0px;
    /*margin:auto;*/
    position: absolute;
    top: 10px;
    right: 0px;
    left: 10px;
    bottom: 30px;
    /*width:1055px;
	height:570px;*/
    overflow-y:scroll;
}
.m-l-40{
	margin-left:60px;
}
.datagrid-cell a{
	margin-left:20px;
}
 .datagrid-editable-input{
	height: 26px !important;
}
.combo-clear {
  background-color: #E0ECFF;
  width: 18px;
  height: 30px !important;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background: url('../images/combo_clear.png') no-repeat center center;
}
.combo-clear-hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  background-color: #eaf2ff;
}
label{
	margin-right:10px;
}
/*页面表格样式*/
.form-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.form-table td{margin:0;padding:0;}
.form-table td{
	border:1px dotted #ccc;
	padding:5px 3px;
	font-size: 14px;
}
.datagrid {
    border-radius: 4px 4px 4px 4px;
}
/*@media screen*/
body input, textarea {
    background-image:none!important;
}
.datagrid-btable .datagrid-row:last-child td{
	border-bottom:0; 
}
