.background-warp{
	background:	#FFF;  /* #F5F5F5 */
}
.container{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
	
.list-order-item{
	position:absolute;
	top:10px;
	left:0px;
	right:0px;
	bottom:0px;
}

ul li{
	list-style: none;
}
.timeaxis li{
	position: relative;
	padding: 0 0 0 15px;
    line-height:45px;
	border-left: 1px solid #DCDCDC;
	font-size:14px;
}
.timeaxis li:first-child{
	padding-top: 0px;
}
.timeaxis li:last-child{
	border-left: 0px;
}

.timeaxis li .txt{
	position: absolute;
	top:-18px;
	float:left;
	display: inline-block;
	vertical-align: middle;
}

.timeaxis li .trepro{
	position: absolute;
	margin-top:20px;
	margin-bottom:20px;
	line-height:30px;
	display: inline-block;
	vertical-align: middle;
}

.timeaxis li .content{
	margin-top:20px;
	margin-bottom:20px;
	line-height:30px;
	display: inline-block;
	vertical-align: middle;
	word-break: break-all;
}
/*
.timeaxis li .txt{
	position: absolute;
	top: -6px;
	float:left;
	display: inline-block;
	vertical-align: middle;
}

.timeaxis li .trepro{
	position: absolute; 
	top: 35px;
	float:left;
	line-height:20px;
	display: inline-block;
	vertical-align: middle;
}

.timeaxis li .content{
	position: absolute; 
	top: 15px;
	float:left;
	line-height:20px;
	display: inline-block;
	vertical-align: middle;
}*/

/*т╡пн*/
.circle{
	position:absolute;
	width: 10px;
    height: 10px;
    background:#DCDCDC;
    border-radius: 50px;
    float:left;
    margin-left:-20px;
    margin-top:0px;
    display: inline-block;
	vertical-align: middle;
}
/*
.li_active .txt,.li_comp .txt{
	color:#48C086;
}

.li_active .content,.li_comp .content{
	color:#48C086;
}
*/


.li_active .circle{
	background:#48C086;
	box-shadow: 0px 0px 15px 1px #48C086;
}
.li_comp .circle{
	background:#48C086;
}


.timeaxis li:hover .txt{
	color:#48C086;
	cursor:pointer;
}
.timeaxis li:hover .content{
	color:#48C086;
	cursor:pointer;
}
.timeaxis li:hover .circle{
	background:#48C086;
	box-shadow: 0px 0px 15px 1px #48C086;
}



body input:focus{
	box-shadow:0;
	background-color:#fff;	
}
