.pf-patimg{float:left;padding:3px 15px 0px 15px;width:30px;line-height:38px;}
.pf-patimg img{vertical-align:middle;margin-left:3px}
.pf-patbase {position: relative;float: left;line-height:28px;}
.pf-patname {font-size:16px;font-weight:bold;}
.pf-nav {float: left;}
.pf-nav .pf-nav-item{float:left;height:45px;padding:0 5px;}
.pf-nav-title{display:block;margin-top:10px;font-size:14px;text-align:center}
.i-sep {
    height: 15px;
    width: 0px;
    border-right: 1px solid #c3c3c3;
    transform: rotate(30deg);
    margin-top:0px;
    padding: 0;
}
.container{
	margin:0px 10px 5px 10px;
}
.p-toolbar{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 5px;
}
.ph-title{
	text-align:center;
	margin-bottom:15px;
}
.ph-title span {
    font-size: 30px;
    font-family: "ו";
    letter-spacing: 5px;
}

.p-content1{
	border: 1px solid #95B8E7;
	width:900px;
	padding:10px;
	margin:auto; 
	position: absolute;
    top: 55px;
    bottom: 2px;
    right: 0px;
    left: 0px;
    overflow-y: auto;
}
.p-content{
    border: 1px solid #95B8E7;
    width:850px;
    padding: 10px;
    margin:auto;
    position: absolute;
    top: 90px;
    right: 10px;
    left: 10px;
    bottom: 2px;
    overflow-y: auto;
}
.m-l-40{
	margin-left:20px;
}
.datagrid-cell a{
	margin-left:20px;
}
 .datagrid-editable-input{
	height: 26px !important;
}
.panel-header, .panel-body {
	border-color: #ccc;
}
.combo-clear {
  background-color: #E0ECFF;
  width: 18px;
  height: 30px !important;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background: url('../images/combo_clear.png') no-repeat center center;
}
.combo-clear-hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  background-color: #eaf2ff;
}
label{
	margin-right:10px;
}
.panel-title label{
	margin-left:10px;
	color:red;
	font-size:16px;
	font-weight:bold;
}
.pf-tools{
    position: absolute;
    top: 8px;
    right: 0px;
    height: 30px;
	width: 800px;
	text-align:right;
    border: 0px solid #ccc;
}