.background-warp{
	background:	#FFF;  /* #F5F5F5 */
	overflow: hidden; 
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	height:368px!important;
	background-color:#fff;
}
.view-center{
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
}
.list-title{
	position:relative;
	background:#f9f9fa;
	height:48px;
	padding-left:30px;
	border-bottom: 1px solid #ccc;
}
.list-title label{
	position:absolute;
	top:9px;
	left:30px;
	font-weight:bold;
}
.list-tools{
	position:relative;
	height:32px;
}
.list-icon-pre{
	position:absolute;
	top:10px;
	left:10px;
	height:16px;
}
.list-icon-next{
	position:absolute;
	top:10px;
	right:10px;
	height:16px;
}
.list-icon{
	position:absolute;
	top:8px;
	left:5px;
	height:16px;
}
.list-order-item{
	position:relative;
	top:0px;
	left:0px;
	height:330px;
	overflow: hidden;
}
.week-plan{
	position:relative;
	top:0px;
	left:0px;
	height:320px;
	margin-bottom: 10px;
}
.week-plan-title{
	position:relative;
	top:0px;
	left:0px;
	right:0px;
	height:35px;
}
.week-plan-mon{
	position:relative;
	top:0px;
	left:0px;
	right:0px;
	height:142px;
	border-top:1px solid #ccc;
}
.week-plan-aft{
	position:relative;
	top:0px;
	left:0px;
	right:0px;
	height:152px;
	border-top:1px solid #ccc;
}
.week-nav {
	float:left;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
.week-nav .week-nav-item{
	position:relative;
	float:left;
	width:120px; /* 138px*/
}

.week-nav-title{
	background:#F5F5F5;	
}

.week-nav-item:nth-child(1){
	width:70px;
	background:#F5F5F5;
}
.week-nav-item:not(:nth-child(1)){
	border-left:1px solid #ccc;
}
.week-nav-item{
	width:16.50% !important;
	border-left:1px solid #ccc;
}
.week-plan-title .week-nav-item{
	height:35px;
	line-height:35px;
	text-align:center;
	background:#F5F5F5;
}
.week-nav-item:nth-child(1){
	height:35px;
	line-height:35px;
	text-align:center;
	background:#F5F5F5;
}
.week-plan-mon .week-nav-item{
	height:150px;
}
.week-plan-aft .week-nav-item{
	height:143px;
}
.week-plan-mon .week-nav-item:nth-child(1){
	height:150px;
	line-height:150px;
}
.week-plan-aft .week-nav-item:nth-child(1){
	height:142px;
	line-height:142px;
}
.week-nav-item-bk{
	line-height:141px;
	text-align:center;
	background:#F5F5F5;
}
.week-item-grp{
	position:relative;
	/* height:23px; */
	/* height:42px; */
	border-radius:4px;
	margin:10px 10px 0px 10px;
	color:#FFF;
	background:#008FF0;
	/* border:1px solid #008FF0; */
}
.item-grp-dis{
	padding:5px 0px 5px 5px;
	/*
	position:absolute;
	top:4px;
	right:2px;
	*/	
}
.item-grp-time{
	padding:5px 0px 0px 5px;
	/*
	position:absolute;
	top:4px;
	left:2px;
	*/
}
.item-grp-select{
	background:#FF69B4;
}
.border-none{
	border:0;
}
.week-item-disable{
	background:#bbb;
}