.background-warp{
	background:	#FFF;  /* #F5F5F5 */
	overflow:hidden;
}
.container{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	overflow:hidden;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.page-content{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:45px;
	overflow-y:auto;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
.page-tools{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	height:45px;
	border:0px solid #ccc;
	border-radius: 4px 4px 4px 4px;
}
/*页面表格样式*/
.form-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.form-table td{margin:0;padding:0;}
.form-table td{

	padding:5px 3px;
	font-size: 14px;
}
.form-table tr:first-child td{
	border-top:0;
	padding:0;margin:0;
}
.center{
	text-align:center!important;
}
.tb_td_required{
	font-weight:bold;
}