/*页面表格样式*/
.form-table{
	table-layout:fixed ; 
	border-collapse:collapse;
	border:1px solid #95B8E7;
	width:100%;
	border:none;
}
.form-table td{margin:0;padding:0;}
/*
.form-table tr:not(:nth-child(1)) td{
	border:1px dotted #ccc;
	padding:5px 3px;
	font-size: 14px;
}*/
.form-table td{
	border:1px dotted #ccc;
	padding:5px 3px;
	font-size: 14px;
}
.center{
	text-align:center!important;
}
.tb_td_required{
	font-weight:bold;
}