.container{
	padding:10px 3px;
	margin-left:35px;
	
}
.textarea{
	min-height:80px;
	margin-top:10px;
	border:1px solid #ccc;padding:5px;
	line-height:23px;
	word-break: break-all;
}

.fuvis{
	margin:5px;
	width:45px;
	font-weight:bold;
	background:#509de1;
	padding:3px 12px 3px 12px;
	color:#fff;
	border-radius: 4px 4px 4px 4px;
}

.reply{
	margin:5px;
	width:45px;
	font-weight:bold;
	background:rgb(102, 255, 102);
	padding:3px 12px 3px 12px;
	color:#fff;
	border-radius: 4px 4px 4px 4px;
}


.fu-tools{
	position:fixed;
	left:30px;
	right:38px;
	bottom:0px;
	height:60px;
	margin-top:2px;
}
.fu-tools-left{
	position:absolute;
	top:17px;
	left:0px;
	right:100px;
	bottom:5px;
}
.fu-tools-right{
	position:absolute;
	top:17px;
	right:10px;
	bottom:5px;
	width:90px;
}
