/* 灵活配置IP */
.configBtn{
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	color: #017BCE;
	width: 1.875rem;
	height: 1.875rem;
	line-height: 1.875rem;
	text-align: center;
	font-size: 1.5rem;
	display: none;
}

.configPopo{
	position: fixed;
	z-index: 998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.3);
	display: none;
}
.configPopo.mui-active{
	display: block;
}
.popoContent{
	position: absolute;
	width: 27rem;
	left: calc(50% - 13.5rem);
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	background-color: white;
	padding-bottom: 0.9375rem;
	font-size: 1rem;
	border-radius: 4px;
}
.headTip{
	background: #017BCE;
	color: white;
	height: 2.5rem;
	line-height: 2.5rem;
	padding-left: 0.9375rem;
	margin-top: -1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.headTip .iconerror1{
	text-align: center;
	height: 2.5rem;
	line-height: 2.5rem;
	width: 2.5rem;
	float: right;
}
.mui-table-view{
	margin: 0.9375rem;
	background-color: #F7F7F7;
	border-radius: 6px;
}
.mui-table-view:after,.mui-table-view:before{
	height: 0;
}
.mui-table-view-cell:after{
	left: 0.9375rem;
	right: 0.9375rem;
}
.mui-table-view-cell{
	padding: 0.625rem 0.9375rem;
	min-height: 3.125rem;
}
.mui-table-view-cell.mui-active{
	background-color: transparent;
}
.cellFlex{
	display: flex;
}
.tip{
	color: #555555;
	font-size: 1rem;
	width: 3.5rem;
	font-weight: 600;
	height: 1.875rem;
	line-height: 1.875rem;
}
.conRight{
	width: calc(100% - 3.5rem);
}
.option{
	width: 49%;
	display: inline-block;
	color: #323232;
	height: 1.875rem;
	line-height: 1.875rem;
}
.option.icondone:before{
	margin-right: 0.3125rem;
	color: darkgray;
}
.option.mui-active,.option.mui-active.icondone:before{
	color: #017BCE;
}
#webOptions .option:last-child{
	margin-top: 0.625rem;
}

.ipPart{
	width: 3rem;
	height: 80%;
	border-bottom: solid 1px #555555;
	text-align: center;
	margin-right: 5px;
	color: #323232;
}
.ipPart[data-index="4"]{
	width: 4rem;
}
.ipPart.mui-active{
	border-color: #017BCE;
	color: #017BCE;
}
.drop{
	font-size: 2rem;
	margin-right: 5px;
	text-align: center;
	color: #555555;
}
.resetBtn,.confirmBtn{
	margin-left: 0.9375rem;
	padding: 0;
	height: 2rem;
	line-height: 2rem;
	width: calc(50% - 1.4375rem);
	text-align: center;
	color: white;
	border: none;
	background: #017BCE;
	font-size: 1rem;
}
.resetBtn{
	background-color: red;
}
.numberBox{
	position: absolute;
	left: calc(50% + 14rem);;
	top: 50%;
	width: 10rem;
	transform: translateY(-50%);
	height: auto;
	background-color: white;
	font-size: 1rem;
	padding-bottom: 0.625rem;
	background-color: #F7F7F7;
	border-radius: 6px;
	display: none;
}
.numberBox.mui-active{
	display: block;
}
.numberBox .cellFlex{
	width: 100%;
	padding-right: 0.625rem;
}
.oneNum{
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	font-size: 1rem;
	margin-top: 0.625rem;
	margin-left: 0.625rem;
	display: inline-block;
	background-color: white;
	border-radius: 6px;
}
.oneNum.iconright{
	font-weight: 600;
}
.oneNum.iconright:before{
	font-weight: normal;
}
.oneNum.notValid{
	color: lightgray;
}
#clearPart,#backNum{
	width: calc(50% - 0.625rem);
	height: 2rem;
	line-height: 2rem;
	font-size: 1.5rem;
	color: gold;
}
#clearPart{
	color: red;
	font-size: 1.3rem;
}