body{
	margin:0;
	padding:0;
	background-color:transparent;
	}

/*悬浮球样式调整
.mixball_style{
    filter: drop-shadow(0 0 5px #ffb64d);
    border-radius: 20px 0px 0px 20px;
}*/
/*小气泡显示红色预警条数*/
.warn_col {
    min-width: 16px;
    line-height: 17px;
    padding: 0px;
    background-color: #ff5252;
    border-radius: 4px;
    margin: 0 5px 0 0;
    float: right;
    font-size:1px;
    text-align: center;
}
/*推荐诊断等背景样式*/
.key_for_back {
	/*background-color: #33FFCC;*/
	padding: 10px 10px 10px 10px
}
/*grid行高*/
 .datagrid-row {
	height: 26px;   
 }
 /*红色预警*/
.red_col_row {
    min-width: 20px;
    line-height: 20px;
    padding: 0px;
    background-color: #ff5252;
    border-radius: 4px;
    margin: 0 5px 0 0;
    float: right;
    text-align: center;
}
/*橙色预警*/
.ori_col_row {
    min-width: 20px;
    line-height: 20px;
    padding: 0px;
    background-color: #ff8519;
    border-radius: 4px;
    margin: 0 5px 0 0;
    float: right;
    text-align: center;
}
/*黄色预警*/
.yel_col_row {
    min-width: 20px;
    line-height: 20px;
    padding: 0px;
    background-color: #ffb746;
    border-radius: 4px;
    margin: 0 5px 0 0;
    float: right;
    text-align: center;
}
/*蓝色预警*/
.blu_col_row {
    min-width: 20px;
    line-height: 20px;
    padding: 0px;
    background-color: #40a2de;
    border-radius: 4px;
    margin: 0 5px 0 0;
    float: right;
    text-align: center;
}



/*小气泡显示红色预警条数*/
.red_col {
    min-width: 20px;
    line-height: 20px;
    padding: 0px;
    background-color: #ff5252;
    border-radius: 4px;
    margin: 0 15px 0 0;
    float: right;
    text-align: center;
}
/*小气泡显示橙色预警条数*/
.ori_col {
    min-width: 20px;
    line-height: 20px;
    padding: 0px;
    background-color: #ff8519;
    border-radius: 4px;
    margin: 0 15px 0 0;
    float: right;
    text-align: center;
}
/*小气泡显示黄色预警条数*/
.yel_col {
    min-width: 20px;
    line-height: 20px;
    padding: 0px;
    background-color: #ffb746;
    border-radius: 4px;
    margin: 0 15px 0 0;
    float: right;
    text-align: center;
}
/*小气泡显示蓝色预警条数*/
.blu_col {
    min-width: 20px;
    line-height: 20px;
    padding: 0px;
    background-color: #40a2de;
    border-radius: 4px;
    margin: 0 15px 0 0;
    float: right;
    text-align: center;
}

/*---滚动条默认显示样式--*/  
::-webkit-scrollbar-thumb{  
   background-color:#018EE8;  
   height:50px;  
   outline-offset:-2px;  
   outline:2px solid #fff;  
   -webkit-border-radius:4px;  
   border: 2px solid #fff;  
}
/*---鼠标点击滚动条显示样式--*/  
::-webkit-scrollbar-thumb:hover{  
   background-color:#FB4446;  
   height:50px;  
   -webkit-border-radius:4px;  
}
/*---滚动条大小--*/  
::-webkit-scrollbar{  
   width:8px;  
   height:8px;  
}
/*---滚动框背景样式--*/  
::-webkit-scrollbar-track-piece{  
   background-color:#fff;  
   -webkit-border-radius:0;  
}


/*keywords间距*/
.kw-section-list > li {
    float: left;
    margin: 3px;
}  
.kw-section-list > li a {
    padding: 0px 7px;
}

/*---popover close button size -- 范文凯添加*/ 
.webui-popover-inner .close{
    font-size:36px;
}



/*百科检索样式*/
#ency_lay_center .tipcontent{
    max-height:13em;
    /*height:auto;*/
    display:block;
    overflow:hidden
}
#ency_lay_center .contextsearch-word{
    
    font-size:18px;
    text-align:center;
    width: 100px;
    height: 47px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    background: #41A3DF;
    cursor: pointer;
    line-height:50px;
    color:white;	
    opacity: 1.0;	
}
#ency_lay_center .term a{
    color: #366ABF;
    font-size:16px;
    text-decoration: none;
    cursor: pointer;
}
#ency_lay_center .term a:hover,.term a:active {
    text-decoration: underline;
    cursor: pointer;
}
#ency_lay_center .childdiv{
    border-bottom:1px solid #CCCCCC;
    margin-bottom:20px;
}
#ency_lay_center .childdiv span{
    display:inline-block;
    margin-top:8px;	
}
#ency_lay_center .blue{
    color:blue	
}
#ency_lay_center .red{
    color:red	
}
#ency_lay_center .gray{
    color:gray	
}
#ency_lay_center .pinkblue a{
    color: #3CBBA3;
    font-size:13px;
    text-decoration: none;
}
#ency_lay_center .pinkblue a:hover,#ency_lay_center .pinkblue a:active{
    cursor: pointer;
    text-decoration: underline;
    font-size:13px;
    color:#3CBBA3	
}

#footer li a{
    border: solid 1px #d6d6d6;
    border-radius: 2px;
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 1px 1px;	
}
#footer li:hover a {
    cursor:pointer;
    color: #fdfdfd;
    background-color: #6699CC;
    text-decoration: none;
    border: solid 1px #1d1f20;
}
#footer ul{
    list-style: none;
    display: inline;
    
}
#footer li{
    list-style: none;
    display: inline;
    padding-left: 5px;  
}

/*疑似疾病he疑似罕见病树节点宽度*/
.tree-title {
    min-width:200px;
}
/*全局字体*/
 #diag_window *,#patient_window *,#warning_window *,#cure_window *{
    font-family: "Microsoft Yahei", verdana, helvetica, arial, sans-serif;
    font-size: 12px;border:hidden;
}
/*诊断决策调整面板的字体颜色*/
#diag_window .panel .panel-title{
    color: white;
}
#diag_window .panel .panel-title{
    color: white;
}
/*预警锚点样式*/
.warn_choose{
    margin: 5px 7px 5px 7px;
    padding:4px 11px;
    /*border: 1px solid #017bce;*/
    border-radius: 5px;
    text-align: center;
    cursor:pointer;
    color:#feffff;
    background-color: #40a2de;

}
.warn_no_data{
    margin: 5px 7px 5px 7px;
    padding:4px 11px;
    /*border: 1px solid #017bce;*/
    border-radius: 5px;
    text-align: center;
    cursor:pointer;
    color:#feffff;
    background-color: #bdc3c7;
}

.warn_blue_div{
    min-width:240px;
    min-height: 20px;
    margin:0px;
    padding:10px;
    display:none;
}
#patient_window .warn_blue_title, #warning_window .warn_blue_title{
    width:130px;
    height:20px;
    border-radius: 0 2000px 2000px 0;
    background-color: #74b9ff;
    color:white;
    padding-left:10px;
    padding-top: 4px;
}
#warning_window .warn_blue_title{
    float: left;
}
.warn_back, .warn_ignore{
    float: right;
    margin-left: 5px;
}
.warn_back{
    background-color: #55efc4;
    border-radius: 4px;
    padding:2px;
    color:white;
}
.warn_ignore{
    margin-left: 5px;
    background-color: #ffa502;
    border-radius: 4px;
    padding:2px;
    color:white;
}
.write_back_all_warn{
    background-color: #55efc4;
    border-radius: 4px;
    padding:2px;
    color:white;
}
.ignore_all_warn{
    margin-left: 5px;
    background-color: #ffa502;
    border-radius: 4px;
    padding:2px;
    color:white;
}
.sysm{
	float: right;
    margin-left: 5px;
    background-color: #55efc4;
    border-radius: 4px;
    padding:1px;
    color:white;
}
.xql{
	float: right;
    margin-left: 5px;
    background-color: #ffa400;
    border-radius: 4px;
    padding:1px;
    color:white;
}
.rs_back{
	float: right;
    margin-left: 5px;
    background-color: #00d5ff;
    border-radius: 4px;
    padding:1px;
    color:white;
}
#rsdiag .combo{
	border:hidden;
	padding-bottom:4px;
}
#rsdiag .combo .combo-text.validatebox-text{
	background-color: #E0ECFF;
	border-radius:8px;
	margin-left:5px;
}
.delete_btn{
    background-color: #55efc4;
    border-radius: 4px;
    padding:1px;
    color:white;
    float:right;
    line-height:16px;
    margin-top:5px;
    margin-left:5px;
}
.tree-node-selected{
    background:#FFF
}
.tree-node-selected .tree-title{
        background:#FFF
}
.right_window .panel-title{
    width:130px;
    border-radius:0 20px 20px 0;
    background-color:#74b9ff;
    color:white;
}
.right_window .panel-header.accordion-header.accordion-header-selected{
    border:hidden;
    background-color:#fff;
    color:white;
}
.right_window .accordion-gray.accordion .accordion-header {
    background: #fff;
}

/*开立和写回按钮样式*/
.draw_diag{
    background-color:#ffa801;
    color:white;
    border-radius: 2px ;
    padding:1px 3px;
    line-height: 16px;
    float: right;
    margin:5px 0 0 0;
}
.write_diag{
    background-color:#00d8d6;
    color:white;
    border-radius: 2px ;
    padding:1px 3px;
    line-height: 16px;
    float: right;
    margin:5px 0 0 5px;
}
/*syms*/
/*症状组件样式*/
.syms-ul{
    list-style-type: none;
    margin: 4px;
    padding: 0;
}
.syms-ul li{
    list-style: none;
    float: left;
    border-radius: 4px;
    padding:4px;
    margin:4px;
    font-size:12px;
    cursor: pointer;
}
.tree-title .syms-ul li{
    padding:0 4px;
    margin:2px;
}
.key-show, .key-select{
    background-color: #45aaf2;
    color:white;
}
/*.key-select{
    background-color: #ff4d4d;
    color:white;
}*/
.key-unselect{
    background-color: #efefef;
    color: #666666;
}
.key-hidden{
    display:none;
}
/*面板高度*/
.layui-colla-title {
    height: 30px;
    line-height: 30px;
    font-size: 12px;

}