body,
.mui-content {
    /* background: white; */
    font-family: "microsoft yahei";
	background: white;
}

/***手术信息区域和检查区域***/
.op-area,.inspect-area{
	position: absolute;
	width: 50%;
	left: 0;
	top: 0;
	bottom: 0;
	background: white;
	overflow: hidden;
	transition: width .4s ease, left .4s ease, z-index .4s ease, opacity .4s ease;
	/*padding: 0px 10px;*/
	padding: 0 0.625rem;
}
.inspect-area{
	left: 50%;
}
.op .op-area{
	width: 100%;
	z-index: 9;
}
.op .inspect-area{
	opacity: 0;
}
.inspect .inspect-area{
	left: 0;
	width: 100%;
}
.inspect .op-area{
	opacity: 0;
	width: 100%;
}
/***手术信息和检查信息 text***/
.area-title{
	width: 100%;
	text-align: center;
	font-weight: 600;	
	color: #323232;
	/*font-size: 18px;
	height: 40px;
	line-height: 40px;*/
	font-size: 1.125rem;
	height: 2.5rem;
	line-height: 2.5rem;
}
/***手术环节部分***/
.state-area{
	float: left;
	display: flex;
	justify-content: center;
	background: #F3F8FF;
	border-radius: 3px;
	/*width: calc(100% - 80px);
	padding: 5px 10px;
	margin-left: 40px;
	margin-bottom: 5px;
	height: 40px;*/
	width: calc(100% - 5rem);
	padding: 0.3125rem 0.625rem;
	margin-left: 2.5rem;
	margin-top: 0.625rem;
	height: 2.5rem;
}
.state-text{
	word-break: keep-all;
	font-weight: 600;
	/*height: 30px;
	font-size: 16px;
	line-height: 30px;*/
	height: 1.875rem;
	font-size: 1rem;
	line-height: 1.875rem;
}
.state-text.dhc-active{
	background-color: lightgray;
	border-radius: 3px;
	/*padding: 0px 8px;*/
	padding: 0 0.5rem;
}
.state-line{
	height: 0;
	border-bottom: 1px lightgray dashed;
	/*margin-top: 15px;
	width: 82px;*/
	margin-top: 0.9375rem;
	width: 5.125rem;
}

/*****单个content*****/
.half-content{
	float: left;
	/*width: calc(50% - 0.3125rem);
	height: calc(100% - 6.25rem);*/
	width: calc(50% - 0.3125rem);
	height: calc(100% - 6.25rem);
}
.op-content,.inspect-content{
	width:100%;
	height: 100%;
	border: solid 1px #EEEEEE;
	border-radius: 4px;
	display: flex;
	background: #F9F9F9;
	/*margin-bottom: 5px;*/
	margin-bottom: 0.3125rem;
	overflow: hidden;
}

/*****单个content 的text*****/
.content-title{
	font-weight: 600;
	height: calc(100% + 2px);
	display: table;
	color: white;
	/*width: 40px;
	font-size: 16px*/
	width: 2.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

.content-title div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	word-wrap: break-word;
	word-break: break-all;
	height: 100%;
	/*padding: 10px;*/
	padding: 0.625rem;
}

#inspect-bill-title{
	background-color: #7C7C81;
}
#op-order-title,#inspect-order-title{
	background-color: #227FDE;
}
#op-today-title,#inspect-today-title{
	background-color: #27AB57;
}

/*****单个content的 左右滚动部分*****/
.mui-scroll-wrapper{
	position: relative;
	/*width: calc(100% - 40px);*/
	width: calc(100% - 2.5rem);
}
.bed-box-p{
	position: relative;
	border-collapse: separate;
  	border-spacing: 0;
 	border-radius: 3px;
  	border: solid 1px lightgray;
  	overflow: hidden;
	float: left;
	/*height: 120px;
	width: 200px;
	margin: 5px 0px 5px 10px;*/
	height: 7.8125rem;
	width: calc(100% / 3 - 2.5rem / 3);
	margin: 0.3125rem 0 0.625rem 0.625rem;
}
.op-content .bed-box-p{
	/*height: 185px;*/
	height: 11.5625rem;
}
/***小卡片***/
.bed-box{
	width: 100%;
	height: 100%;
	text-align: left;
	background: white;
}
.bed-box .line{
	display: flex;
	width: 100%;
}

/* 小卡片悬浮样式 */
.bed-box-p:before,
.bed-box-p:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #FF8A65;
	border-radius: 1px;
	transition: 200ms ease all;
}
.bed-box-p:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}
.bed-box-p:hover:before,
.bed-box-p:hover:after {
	width: 100%;
	transition: 400ms ease all;
}
/* 小卡片悬浮样式 END */

.bed-box:last-child{
	margin-bottom: 0px;
}

.bed-box .bed-no,.bed-box .pat-name{
	font-weight: 700;
	/*padding-left: 10px;
	width: 95px;*/
	padding-left: 0.625rem;
	width: 5.9375rem;
}
.bed-box .pat-name{
	text-overflow: ellipsis; /* for IE */  
	-moz-text-overflow: ellipsis; /* for Firefox,mozilla */  
   	overflow: hidden;  
	white-space: nowrap; 
	/*font-size: 16px;
	width: calc(100% - 80px);
	height: 30px;
	line-height: 30px;*/
	font-size: 1rem;
	width: calc(100% - 5rem);
	height: 1.875rem;
	line-height: 1.875rem;
}
.bed-box .bed-no{
	padding-left: 0;	
	text-align: center;
	font-style: oblique;
	/*width: 40px;*/
	width: 2.5rem;
}
.bed-box .iconfont{
	text-align: center;
	/* width: 30px;
	height: 30px;
	line-height: 30px; */
	width: 1.875rem;
	height: 1.875rem;
	line-height: 1.875rem;
}
.bed-box .iconfont.iconneedle{
	color: plum;
}
.bed-box .iconfont.icontizi{
	color: #2E8B57;
}
.bed-box .state-icon{
	/*width: 16px;
	font-size: 14px;*/
	width: 1rem;
	font-size: 0.875rem;
}
.bed-box .state{
	font-weight: 400;
	white-space: nowrap;
	color: gray;
	/*width: 63px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;*/
	width: 3.9375rem;
	height: 1.875rem;
	line-height: 1.875rem;
	font-size: 0.875rem;
}
.bed-box .op-name,.bed-box .op-doc,.bed-box .op-anaMethod{
	color: gray;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	/*width: calc(100% - 38px);
	height: 30px;
	line-height: 30px;
	font-size: 13.5px;*/
	width: calc(100% - 2.375rem);
	height: 1.875rem;
	line-height: 1.875rem;
	font-size: 0.84375rem;
}
.bed-box .op-name{
	font-size: 14.5px;
	font-size: 0.90625rem;
}


#inspect-bill,#inspect-order,#inspect-today,#op-order,#op-today{
	/* padding: 5px; */
	/* padding: 0.3125rem; */
}
/**********夜间模式*********/
body.nightMode,.nightMode .mui-content{
	background: #313838;
}
.nightMode .op-area,.nightMode .inspect-area,.nightMode .bed-box{
	background: #404848;
}
.nightMode .bed-box-p{
	border-color: gray;
}
.nightMode .mui-segmented-control.mui-scroll-wrapper{
	width: calc(100% - 50px);
	margin-left: 0px;
}
.nightMode .op-content,.nightMode .inspect-content{
	background: #313838;
	border-color: transparent;
}
.nightMode .content-title{
	background: transparent;
}
.nightMode .bed-no,.nightMode .pat-name{
	color: #DCDCDC;
}

.nightMode .state-area{
	background: transparent;
}
.nightMode .state-line{
	border-bottom: 1px lightgray dashed;
}
.nightMode .area-title{
	color: whitesmoke;
}
.nightMode .bed-box .state,.nightMode .op-name,.nightMode .op-doc{
	color: #AAAAAA;
}
.nightMode .state-text.dhc-active{
	background: Silver;
}
.nightMode .content-title{
	color: #DCDCDC;
}

.iconfont.iconshoushudao:before,
.iconfont.icondoc:before,
.iconfont.iconward:before,
.iconfont.iconopCheck:before{
	color: #0062CC;
	/*font-size: 15px;*/
	font-size: 0.9375rem;
}
.nightMode .iconfont.iconshoushudao:before,
.nightMode .iconfont.icondoc:before,
.nightMode .iconfont.iconward:before,
.nightMode .iconfont.iconopCheck:before{
	color: #4682B4;
	
}
.iconfont.iconbill:before,
.iconfont.icontime:before,
.iconfont.iconlocate:before{
	color: rosybrown;
	/*font-size: 15px;*/
	font-size: 0.9375rem;
}

.iconfont.iconlocate:before{
	color: rosybrown;
}
.iconfont.icontizi:before,.iconfont.iconneedle:before{
	/*font-size: 15px;*/
	font-size: 0.9375rem;
}

.nullData{
	/*left: calc(50% - 120px);
	top: calc(50% - 49px);
	width: 140px;
	height: 98px;*/
	left: calc(50% - 7.5rem);
	top: calc(50% - 3.0625rem);
	width: 8.75rem;
	height: 6.125rem;
}
.nullTip{
	/*width: 140px;*/
	width: 8.75rem;
}
/* 改造 */
.scaleBtn {
	position: absolute;
	float: right;
    color: seagreen;
    text-align: center;
	border-radius: 5px;
	z-index: 9;
	/*right: 6px;
	top: 10px;
   	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 26px;*/
	right: 0.375rem;
	bottom: 0.625rem;
    float: right;
    width: 2.5rem;
   	height: 2.5rem;
	line-height: 2.5rem;
    font-size: 1.625rem;
}

.scaleBtn:active {
	background: #EAEAEA;
}

/***********打包版本的鼠标扫过before和after效果清除***********/
.osPlus .bed-box-p:before,
.osPlus .bed-box-p:after,
.osPlus .bed-box-p:hover:before,
.osPlus .bed-box-p:hover:after{
	height: 0;
	width: 0;
	transition: none;
}



.filterPopover{
	position: absolute;
	left: 0.625rem;
	right: 0.625rem;
	top: 2.5rem;
	bottom: 3.75rem;
	width: calc(100% - 1.25rem);
	background-color: white;
	display: none;
	z-index: 5;
	border-radius: 0.25rem;
	border: solid 1px lightgrey;
	overflow: hidden;
}
.filterPopover.dhc-active{
	display: block;
}
.filterPopover .mui-scroll-wrapper{
	width: 100%;
	height: calc(100% - 2.5rem);
	top: -1px;
}
.filterPopover table{
	width: 100%;
}
.filterPopover th{
	font-weight: 400;
	color: #323232;
	background: #EBF9FF;
	line-height: 2.5rem;
	padding: 0.0625rem 0.3125rem;
	font-size: 1rem;
	height: 2.5rem;
	border-bottom: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
}
.filterPopover th:last-child{
	border-right-width: 0;
}
.filterPopover td{
	font-weight: 400;
	color: gray;
	padding: 0.0625rem 0.3125rem;
	font-size: 1rem;
	height: 2.5rem;
	border-top: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
}
.filterPopover td:last-child{
	border-right-width: 0;
}
.filterPopover tr:last-child td{
	border-bottom: solid 1px lightgrey;;
}

.nightMode .filterPopover{
	border-color: gray;
	background-color: #313838;
}
.nightMode .filterPopover th{
	background-color: #404848;
	border-color: gray;
	color: lightgray;
}
.nightMode .filterPopover td{
	border-color: gray;
	color: lightgray;
}

.nightMode .filterPopover tr:last-child td{
	border-color: gray;
}