



.t-bg {
	/*position:absolute;*/
	/*width:1000px;*/
	/*height:600px;*/
	/*left: 0;*/
	/*top: 0;*/
	background-color:#eff6fa;
}
.t-header {
	/*position:absolute;*/
	/*width:1000px;*/
	height:35px;
	left: 0;
	top: 0;
	margin-left:5px;
	background-image:url(../img/cc/06.png);
	background-repeat:repeat-x;
}
.t-header-left {
	/*position:absolute;*/
	/*width:80px;*/
	height:35px;
	left: 0;
	top: 0;
	margin-left:5px;
	background-image:url(../img/cc/05.png);
	background-repeat:no-repeat;
}
.t-header-text {
	/*position:absolute;*/
	/*width:650px;*/
	margin-left:5px;
	height:42px;
	left: 30px;
	top: 0;
	font-size:14px;
	color:#3b6f86;
	line-height:42px;
	word-spacing:10px;
}

.ButtonGroup {

	text-align: right;
	margin-top : -35px;
	/*height : 10px;*/
}

.table1{
	margin-left:1px;
    color:#6293a9;
	background-image:url(../img/cc/07.png);
	background-repeat:repeat-x;
	/*height:26px;*/
	padding-left:5px;
	text-align:center;

}
.table2{
	margin-left:1px;
    color:#000000;
    background-color:#FFFFFF;
	text-align:left;
	/*height:60px;*/
	line-height:20px;
}
.table3{
	margin-left:1px;
    color:#000000;
    background-color:#FFFFFF;
	text-align:left;
	/*height:60px;*/
	line-height:20px;
	border-collapse:collapse;
	border-spacing:0;
}
.table4{
	margin-left:20px;
    color:#000000;
    background-color:#FFFFFF;
	text-align:left;
	line-height:20px;
	/*border: solid thin red;*/
	border: 1px solid;
}

.vertmenu {
	padding: 0px;
    margin: 0px;
	/*width:250px;*/
	font-size:12px;
}
.vertmenu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.vertmenu ul li { 
	margin: 0px;
    padding: 0px;
	/*height : 32px;*/
    line-height: 27px;
}
.vertmenu_a {
    display: block;
    padding-left:  25px;
    text-decoration: none;
    color: #626262;
	background-image:url(../img/cc/02.png);
	background-repeat:no-repeat;
}
.vertmenu_a:hover{
    color: #6293a9;
	background-image:url(../img/cc/03.png);
}

.SubTotal {
	/*position:absolute;*/
	/*width:1000px;*/
	height:31px;
	background-color:#eff6fa;
	border-collapse:collapse;
	left: 0;
	top: 0;
}
.SubTotal_td {
    height:31px;
    font-size:14px;
	color:#6293a9;
	padding:0;
	margin:0;
	font-weight:bold;
	line-height:31px;
	text-align:left;
}
.SubTotal_Number {
    color: #da251f;
}







.bingqu_a{
	/*position:absolute;*/
	min-width:140px;
	min-height:200px;
	border:solid 8px #dce5e9;
	left:10px;
	top: 10px;
	background-color:#FFFFFF;
	text-decoration:none;
	float:left;
	
}
/*
.bingqu_a a:hover{
    border:solid 8px #d2e5ee;
}
*/
.bingqu-tb{
    min-width:140px;
	border-collapse:collapse;
    float:left;
}
.bingqu-tb td{
    font-size:12px;
	color:#666666;
	padding:5px 25px 0 0;
}

/*add for ninf control by wuqk 2013-04-09*/

.wardctrl01 {
	min-width:160px;
	height:200px;
	border:solid 8px #dce5e9;
	left:10px;
	top: 10px;
	background-color:#FFFFFF;
	text-decoration:none;
	float:left;	
}

.wardctrl-tb{
    min-width:140px;
	border-collapse:collapse;
    float:left;
}
.wardctrl-tb td{
    font-size:12px;
	color:#666666;
	padding:5px 25px 0 0;
}

/*add for 院医院感染监控床位图 by zf 2013-05-06*/

.locbedctrl01 {
	min-width:120px;
	height:120px;
	border:solid 8px #dce5e9;
	left:10px;
	top: 10px;
	background-color:#FFFFFF;
	text-decoration:none;
	float:left;	
}

.locbedctrl-tb{
    min-width:100px;
	border-collapse:collapse;
    float:left;
}
.locbedctrl-tb td{
    font-size:12px;
	color:#666666;
	padding:5px 25px 0 0;
}
