.title_button {
	cursor:pointer;
	padding:3px 10px;
	border-radius:5px;
	border:1px solid #4499EE;
}
.subtotal_button {
	cursor:pointer;
	border:1px solid #C9C9C9;
	background-color:#F6F6F6;
	text-align:center;
	border-radius:5px;
	font-weight:bold;
	background-image:url(../img/ninf/menuopera.gif);
	background-repeat:no-repeat;
	background-position:10px;
	padding:2px 10px 2px 30px;
	float:right;
	margin-left:5px;
}
.List_td {
	background-color:#EFF0F2;
	border:1px solid #D4D4D4;
	color:#000000;
}
.subtotal_button_Oper {
	cursor:pointer;
	border:1px solid #C9C9C9;
	background-color:#F6F6F6;
	text-align:center;
	border-radius:5px;
	font-weight:bold;
	padding:2px 10px 2px 30px;
	float:right;
	margin-left:5px;
	background-repeat:no-repeat;
	background-position:10px;
}
.NINFOper1 {
	background-image:url(../img/ninf/ok.png);
}
.NINFOper2 {
	background-image:url(../img/ninf/cancel.png);
}
.NINFOper3 {
	background-image:url(../img/ninf/edit_remove.png);
}
.NINFOper4 {
	background-image:url(../img/ninf/summary2.png);
}
.subtotal_button:hover,.subtotal_button_Oper:hover {
	border-color:#3399ff;
	background-color:#dfefff;
}