.x-form-item{
	font-size:14px;
}
.ReportTitle {
	font-size:30px;
	color:0e2d5f;
	padding:16px 0px;
}
.x-panel-mc{
	background-color:#CFE5FF;
}
.x-panel-bc{
	background-image:none;
	background-color:#CFE5FF;
}
.ReportPannel {
	border:1px solid #65B2FF;
	border-radius:5px;
	padding:10px;
	background-color:#f9fbff;
	/* margin-bottom:5px; */
}
.defaulttitle div {
	margin-left: 28px;
}
.defaulttitle>td {
	padding-bottom:0px;
}
.defaulttitle+tr>td{
	padding-top:10px;
}