.x-form-item{
	font-size:14px;
}
.x-panel-body {
	border:none;
	background-color:#ebf3ff;
}
.x-panel-header {
	background-image: url();
	background-color:#CDE0FD;
	border:2px solid #86b9e7;
	margin-bottom:10px;
}
.x-toolbar-left {
	/* background-color:#ebf3ff; */
	border:none;
}
.x-panel-btns {
	padding:0;
}
#PanelRow0 table,#PanelRow0 td {
	border:none;
}
#lblCardNotice{
	margin-bottom:5px;
}
#lblRelationNotice,#lblCompanyNotice ,#lblCardNotice{
	border:2px solid #FF7D7D;
    position:relative;
    background-color:#FEE0E0;
	float: right;
	text-align: left;
	padding-left:5px;
	border-radius:5px;
}
#lblRelationNotice:before,#lblRelationNotice:after,#lblCompanyNotice:before,#lblCompanyNotice:after{
    content:"";display:block;
    border-width:10px;
    position:absolute; 
	top: 0px;
	left: -20px;
    border-style:solid;
    border-color:transparent #FF7D7D transparent transparent;
    font-size:0;
    line-height:0;
}
#lblRelationNotice:after,#lblCompanyNotice:after{
    left: -17px;
    border-color:transparent #FEE0E0 transparent transparent;
}
#lblCompanyNotice:before,#lblCompanyNotice:after{
	top: 1px;
}
#lblCardNotice:before,#lblCardNotice:after{
	border-color:transparent transparent #FF7D7D transparent;
	top: -20px;
	left: 40px;
	content:"";display:block;
    border-width:10px;
    position:absolute; 
    border-style:solid;
    font-size:0;
    line-height:0;
}
#lblCardNotice:after{
	left: 40px;
    border-color:transparent transparent #FEE0E0 transparent;
	top: -18px;
}
