.x-form-item{
	font-size:14px;
}
.x-grid-recordBak table{
		background:#02F78E;
}

.x-grid-record-redBak table{
	background:#FF0000;
}

.x-grid-record-greenBak table{
	background:#00FF00;
}

.x-grid-record-font-red table{
	color:#FF0000;
}

.x-grid-record-font-green table{
	color:#008B45;
}
/*---------×Ô¶¨Òåicon end ------*/

.bodyCk{  
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin:0;
  color: #CCCCCC; 
  background-color: #CCCCCC
  bgcolor:#DEDFFF
  overflow:hidden;
  }
.labStyle{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.checked{background-image:url(../img/checked.gif)}   
.unchecked{background-image:url(../img/unchecked.gif)}  

div {
	background-image:none;
}
.x-toolbar {
	background-image:none;
	background-color:#CDE0FD;
}
.x-panel-mc {
	background-color:#CFE5FF;
}

#Title {
	color:#0e2d5f;
	font-size:30px;
	padding:10px 0px;
}
#NOTEViewPort,#INFPOSViewPort,#OPRViewPort,#LABViewPort,#ANTIViewPort,#NBINFViewPort,
#NPICCViewPort,#NUCViewPort,#NVNTViewPort,#IDIAGViewPort,#IPICCViewPort,#IVAPViewPort,
#IUCViewPort,#ADIAGViewPort,#ALABViewPort,#AANTIViewPort,#OOPRViewPort {
	padding-top:0px;
	background-color:#a9cefd; 
}
.x-panel-body {
	border:none;
	background-color:#ebf3ff;
}
#NBASE_cboTransLoc,#NBASE_txtBornWeight{
	color:red;
}
#OOPR_btnGetRec {
	margin-left:5px;
}