.arrow
{
	position:relative;
	width:20px;
	height:20px;
	margin: 0 0 0 15px;
}
.arrow .arrow_border,.arrow .arrow_content
{
	width:0;
	height:0;
	overflow:hidden;
	border-width:10px;
	border-style:dashed dashed solid dashed;
}
.arrow .arrow_border
{
	border-color:transparent transparent #CCCCCC transparent;
}
.arrow .arrow_content
{
	border-color:transparent transparent #EEEEEE transparent;
	position:absolute;
	top:1px;
}
.main
{
	margin-top: 32px;
	width:400px;
}
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8
{
	height:1px;
	overflow:hidden;
	display:block;
}
.b1,.b8
{
	height:0px;
	margin:0 5px;
}
.b1
{
	border-bottom:#CCC solid 1px;
}
.b8
{
	border-top:#CCC solid 1px;
}
.b2,.b3,.b4,.b5,.b6,.b7
{
	border-left:#CCC solid 1px;
	border-right:#CCC solid 1px;
}
.b2,.b7
{
	margin:0 3px;
	border-width:2px;
}
.b3,.b6
{
	margin:0 2px;
}
.b4,.b5
{
	margin:0 1px;
	height:2px;
}
.b2,.b3,.b4,.b5,.b6,.b7,.content
{
	background-color:#EEE;
}
.content
{
	border-left:solid #CCC 1px;
	border-right:solid #CCC 1px;
	padding:5px;
	position:relative;
}
.content span
{
	font-family:"宋体";
	font-size:72px;
	color:#CCCCCC;
	position:absolute;
}
.content span.font-left
{
	top:-10px;
	left:-30px;
	_left:-55px;/* 为了兼容IE6.0 */
}
.content span.font-right
{
	bottom:-15px;
	right:-30px;
}
/* End */

.content p
{
	text-indent:2em;
}
.content p.translation
{
	text-align:right;
	font-style:italic;
}










.arrow_1
{
	position:relative;
	width:20px;
	height:20px;
	margin: 0 0 0 15px;
}
.arrow_1 .arrow_border_1,.arrow_1 .arrow_content_1
{
	width:0;
	height:0;
	overflow:hidden;
	border-width:10px;
	border-style:dashed dashed solid dashed;
}
.arrow_1 .arrow_border_1
{
	border-color:transparent transparent #CCCCCC transparent;
}
.arrow_1 .arrow_content_1
{
	border-color:transparent transparent #EEEEEE transparent;
	position:absolute;
	top:1px;
}
.main_1
{
	margin-top: 32px;
	width:400px;
	margin-left : 200px;
}
.b1_1,.b2_1,.b3_1,.b4_1,.b5_1,.b6_1,.b7_1,.b8_1
{
	height:1px;
	overflow:hidden;
	display:block;
	margin-left: 100px;
}
.b1_1,.b8_1
{
	height:0px;
	margin:0 5px;
}
.b1_1
{
	border-bottom:#CCC solid 1px;
}
.b8_1
{
	border-top:#CCC solid 1px;
}
.b2_1,.b3_1,.b4_1,.b5_1,.b6_1,.b7_1
{
	border-left:#CCC solid 1px;
	border-right:#CCC solid 1px;
}
.b2_1,.b7_1
{
	margin:0 3px;
	border-width:2px;
}
.b3_1,.b6_1
{
	margin:0 2px;
}
.b4_1,.b5_1
{
	margin:0 1px;
	height:2px;
}
.b2_1,.b3_1,.b4_1,.b5_1,.b6_1,.b7_1,.content_1
{
	background-color:#FFFACD;
}
.content_1
{
	border-left:solid #CCC 1px;
	border-right:solid #CCC 1px;
	padding:5px;
	position:relative;
}
.content_1 span
{
	font-family:"宋体";
	font-size:72px;
	color:#CCCCCC;
	position:absolute;
}
.content_1 span.font-left
{
	top:-10px;
	left:-30px;
	_left:-55px;/* 为了兼容IE6.0 */
}
.content_1 span.font-right
{
	bottom:-15px;
	right:-30px;
}
/* End */

.content_1 p
{
	text-indent:2em;
}
.content_1 p.translation
{
	text-align:right;
	font-style:italic;
}

