#ext-gen8 {
	background-color:#FFFFFF;
}
.TD-title {
	width:80px;
	text-align:left;
	margin-bottom: 20px;
}
.TD-content{
	width:120px;
	margin-right:20px;
	margin-bottom: 20px;
}
#TD-txtPatAge {
	margin-right:0px;
}
#TD-Age {
	margin-right:20px;
	margin-bottom: 20px;
}
#TD-txtPatAddress,#TD-txtReferralHosp {
	width:342px;
}
#TD-txtWorkAddress,#TD-cboReferralReason,#TD-txtReferralDoc,#TD-txtReferralAdd {
	width:392px;
}
#txtPatAddress,#txtReferralHosp {
	width:342px;
}
#txtWorkAddress,#cboReferralReason,#txtReferralDoc,#txtReferralAdd {
	width:392px;
}