.x-form-item{
	font-size:14px;
}
.x-form-check-wrap {
    height:auto !important;
}
.x-panel-mc{
	background-color:#CFE5FF;
}
.x-panel-bc{
	background-image:none;
	background-color:#CFE5FF;
}
.ReportTitle {
	font-size:30px;
	color:0e2d5f;
	padding:16px 0px;
}
.table_report td {
	padding-bottom:5px;
}
.defaulttitle div {
	margin-left: 28px;
}
.defaulttitle>td {
	padding-bottom:0px;
}
.defaulttitle+tr>td{
	padding-top:10px;
}