body{
	padding:0px;
	margin:0px;
	background: #fff;
}

.qlab{
	padding: 0px 10px 0px 20px; 		
}
.first-qlab{
	padding: 0px 10px 0px 0px; 			
}
.wlab{
	padding: 0px 10px 0px 70px; 		
}
.execlab{
	padding: 0px 10px 0px 70px;	
}
.dialogtab td.lp{
	text-align: right;	
	padding: 0px 10px 0px 0px; 	
}

.panel-header-cure-high{
	height:35px!important;
}
.menu-container{
	height:35px!important;	
}
#gridpanel,.cure-gridpanel{
	border-top-color:#DCDCDC;
	border-top-style:dashed;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:none;
}
.cure-top-gridpanel{
	border-top:1px solid #DCDCDC;
}

#workpanel,.triagepanel{
	border-top-color:#DCDCDC;
	border-top-style:solid;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:none;
	padding:0px 0px 0px 0px;
}
.cure-p-bd-l{
	border-top-style:none;
	border-left-style:solid;
	border-right-style:none;
	border-bottom-style:none;
	border-radius:0px !important;
	padding:0px;
}
/*只有上边框*/
.cure-p-bd-t,.cure-p-bd-t-tdash{
	border-top-style:solid;
	border-left-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-radius:0px !important;
	padding:0px;
}
/*只有上边框，上边框为虚线*/
.cure-p-bd-t-tdash{
	border-top-style:dashed;
}
/*只有下边框*/
.cure-p-bd-b,.cure-p-bd-b-bdash{
	border-top-style:none;
	border-left-style:none;
	border-right-style:none;
	border-bottom-style:solid;
	border-radius:0px !important;
	padding:0px;
}
/*只有下边框，下边框为虚线*/
.cure-p-bd-b-bdash{
	border-bottom-style:dashed;
}
/*只有上下边框*/
.cure-p-bd-tb,.cure-p-bd-tb-tdash{
	border-left-style:none;
	border-right-style:none;
	border-radius:0px !important;
	padding:0px;
}
/*只有上下边框，上边框为虚线*/
.cure-p-bd-tb-tdash{
	border-top-style:dashed;
}
.cure-w-box{
	width:125px !important;
}

#laypanel,#dpan{
	border-top-color:#DCDCDC;
	border-right-color:#DCDCDC;
	border-left-color:#DCDCDC;
	border-bottom-color:#DCDCDC;
}

#tabpanel{
	border-top:none;
	border-right-color:#DCDCDC;
	border-left-color:#DCDCDC;
	border-bottom-color:#DCDCDC;		
}

#laypanel ul{
	height: 100%;
	width: 100%;
	list-style-type: none;
	display: flex; /*开启CSS3弹性盒子模型*/
	flex-wrap: wrap;/*规定灵活的项目在必要的时候拆行或拆列。*/
	justify-content: space-around;/*内部元素主轴方向(x方向)默认排列方式:环绕*/
	align-items: center;/*内部元素辅轴(y方向)方向默认排列方式:环绕*/
}
#laypanel ul li{
	width: 300px;
	height: 100%;
	border: 0px solid #fff;
}

.search-table{
	border-collapse:separate;
	border-spacing:0px 10px;
	/*padding: 0 10px;*/
}
.first-r-label,.r-label{
	padding: 0px 10px;
}
.fillspan,.fillspan-no,.fillspan-nosave,.fillspan-exec,.fillspan-app{background:#40A2DE;background:#29B66A;color:#fff;padding:2px 4px;border-radius:4px;display:inline-block;}
.fillspan-nobilled,.fillspan-fullnum,.fillspan-nofullnum,.fillspan-nonenum,.fillspan-xapp{background:#29B66A;color:#fff;font-size:20px;font-weight:bold;padding:4px 8px;border-radius:4px;display:inline-block;}
.fillspan-no,.fillspan-nonenum {background:#F16F57;}/*胭脂粉*/
.fillspan-nosave {background:#40A2DE;}/*偏蓝色*/
.fillspan-xapp {background:#808080;}/*灰色*/
.fillspan-exec {background:#FF6347;}/*番茄色*/
.fillspan-app,.fillspan-fullnum {background:#9ACD32;}/*黄绿*/
.fillspan-nobilled,.fillspan-nofullnum {background:#FFA500;}/*橙色*/

[class*="fillspan-bg"] {
	color:#fff;
	font-weight:bold;font-size:15px;
	padding:2px 4px;border-radius:4px;display:inline-block;
}
.fillspan-bg-lightgreen {background:#21BA45;}/*亮绿-呼叫*/
.fillspan-bg-skyblue {background:#87CEEB;}/*天空蓝-过号*/
.fillspan-bg-rouge {background:#F16F57;}/*胭脂粉*/
.fillspan-bg-blue {background:#40A2DE;}/*偏蓝色*/
.fillspan-bg-gray{background:#808080;}/*灰色*/
.fillspan-bg-tomato{background:#FF6347;}/*番茄色*/
.fillspan-bg-yellowgreen {background:#9ACD32;}/*黄绿*/
.fillspan-bg-orange {background:#FFA500;} /*橙色*/
.tabItem_badge{
	position:absolute;
	right:2px;
	top:4px;
	width:8px;
	height:8px;
	border-radius:4px;
	background:red;
}
.overflow-container{
	overflow: hidden;
}
.overflow-div{
	overflow-x: auto;
    overflow-y: hidden;
	margin-left:10px;
	padding:10px 0px 0px 10px;
	height:auto
}
.ach-div{
	margin:0px auto;
	padding-top:10px;
	margin: 0px auto;
	width: 500px;
	height: 25px;
	display: flex; 
	align-items: center;
	justify-content: center;
}
.ach-out-div{
	margin:0px auto;
	padding-bottom:10px;
	margin: 0px auto;
	width: 500px;
	height: 25px;
	display: flex; 
	text-align: center;
	align-items: center;
	justify-content: center;
}
.ach-div a{
	margin-left:30px;
}

/*分时段预约样式*/
.tr-info-table {
    border-collapse: collapse;
    border: 0px;
}

.tr-info-table td {
    text-align: center;
    word-break: keep-all;
    white-space: nowrap;
    padding: 5px;
    border: 1px solid #ccc;
}

.tr-td:hover {
    cursor: pointer;
    background: #FFCFCF;
}

.tr-td-time {
    font-size: 13px;
    color: #9A8989;
}

.tr-td-seqno {
    color: #40A2DE;
}

.tr-td-qty {
    font-weight: bold;
    color: #f08282;
}

.tr-td-invalid {
    background: #5d4e4e;
}
.menu-container {
	width: 50px;
	height: 20px;
	margin: 0 auto;
	display: line-block;
	cursor: pointer;
	clear: both;
}
.toggle-btn{
	color:#40a2de;
	text-decoration:underline;	
	padding-right:13px;
	background:url(../../../images/fa-angle-double-down_40a2de_12.png) no-repeat center right;
    line-height: 13px;
    display: inline-block;
    border-bottom:1px solid #40a2de;
    cursor:pointer;
}
.toggle-btn.expanded{
	background-image:url(../../../images/fa-angle-double-up_40a2de_12.png);
}