body{
	padding:0px;
	margin:0px;
}

.qlab{
	padding: 0px 10px 0px 20px; 		
}

.first-qlab{
	padding: 0px 10px 0px 0px; 			
}

.wlab{
	padding: 0px 10px 0px 70px; 		
}
.execlab{
	padding: 0px 10px 0px 70px;	
}

#dpan a{
	/*margin: 0px 10px;	*/
}
.dialogtab td.lp{
	text-align: right;	
	padding: 0px 10px 0px 0px; 	
}

/*.panel-header, .panel-body {
    border-color: #808080;
}*/

#gridpanel{
	border-top-color:#DCDCDC;
	border-top-style:dashed;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:none;
}


#workpanel,.triagepanel{
	border-top-color:#DCDCDC;
	border-top-style:solid;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:none;
	padding:0px 0px 0px 0px;
}

#laypanel,#dpan{
	border-top-color:#DCDCDC;
	border-right-color:#DCDCDC;
	border-left-color:#DCDCDC;
	border-bottom-color:#DCDCDC;
}

#tabpanel{
	border-top:none;
	border-right-color:#DCDCDC;
	border-left-color:#DCDCDC;
	border-bottom-color:#DCDCDC;		
}

#laypanel ul{
	height: 100%;
	width: 100%;
	list-style-type: none;
	display: flex; /*开启CSS3弹性盒子模型*/
	flex-wrap: wrap;/*规定灵活的项目在必要的时候拆行或拆列。*/
	justify-content: space-around;/*内部元素主轴方向(x方向)默认排列方式:环绕*/
	align-items: center;/*内部元素辅轴(y方向)方向默认排列方式:环绕*/
}
#laypanel ul li{
	width: 300px;
	height: 100%;
	border: 0px solid #fff;
}

#laypanel div{
	/*float:left*/	
}

.datagrid-row-alt {
    background: #FFFFFF;
}
.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
  background: #d9e7f1;
  color: #000000;
  cursor: default;
}

.datagrid-header td.datagrid-header-over {
  background: #d9e7f1;
  color: #000000;
  cursor: default;
}
.datagrid-row-selected {
  background: #a5bee0;
  color: #000000;
}


.search-table{
	border-collapse:separate;
	border-spacing:0px 10px;
	/*padding: 0 10px;*/
}
.r-label{
	padding: 0px 10px 0px 50px;
}
.first-r-label{
	padding: 0px 10px;
}