BODY INPUT
	{
	}
	#ScreenBillSum,#SavedScreenBillSum{
		width:60px;
		color: red;
		margin-bottom:3px;
	}
	#Prompt{
		float: left;
		font-size: 14px;
		width:65%;
		height:28px;
		line-height: 28px;
		background:#FFE3E3;
		color:#FF3D2C;
		border: 1px solid #FF3D2C;
		border-radius: 4px;
		padding-left: 5px;
		margin: 3px 0 2px 2px;
	}
	/*munubtn按钮样式*/
	.m-btn .l-btn-left .l-btn-text{
		margin-left:0;
	}
	.menu-text, .menu-text span{
		font-size: 14px !important;
	}
	/*控制表格字体*/
	table{ 
		font-size: 95%; 
	}
	/*表格内容自动换行*/
	.ui-jqgrid tr.jqgrow td {
		white-space: normal !important;
	}
	.ui-jqgrid .ui-jqgrid-sortable,.ui-widget{
		font-size: 14px !important;
		font-family: "Microsoft Yahei" !important;
	}
	/* 关联主医嘱背景 */
	.OrderMasterM{
		background:#94e494; /*#00FF00*/
	}
	/* 关联子医嘱背景 */
	.OrderMasterS{
		background:#cdf1cd; /*#66FF99*/
	}
	.SkinTest{
		background:#ff2e47; /*#FF0000*/
	}
	.OrderSaved{
		background:#ffbfbf; /*pink*/
	}
	.OrderCritical{
		background:#FFA54F; /*pink*/
	}
	.OrderUnSaved{
		background:#fff;
	}
	#Insert_Order_btn .l-btn-text{
		color :red;
	}
	/* 模版通用样式 */
	.template_div{
		display:inline-block;
		margin-right:5px;
		/*float:left;*/
		width:210px;
		height:278px;
	}
	.panel-header-gray{
		height:10px;
		padding:0;
		border:0;
	}
	#PriorType_Btn{
		line-height: 33px;
	}
	iframe{
		border:0;
	}
	#LongOrderPrior .l-btn-text,
	#ShortOrderPrior .l-btn-text,
	#OutOrderPrior .l-btn-text{
		padding: 0 10px;
	}
	/*个人 科室模板选中样式*/
	.seltemplate_btn{
		color: #006699;
		font-Weight: bold;
	}
	/*医嘱类型选中样式*/
	.btnselected{
		font-Weight: bold;
		background:#FFE9DC;
		border-radius:4px;
	}
	#ShortOrderPrior,#LongOrderPrior,#OutOrderPrior{
		color: #FF4E0F;
	}
	.hisui-menubutton .l-btn-text{
		padding: 0 0 0 5px;
	}
	#PriorType .l-btn-text{
		padding-left: 25px;
	}
#gbox_Order_DataGrid{
	border:0;
	border-top:1px solid #ccc;
	border-radius:0;
}
#OrdNotesDetail_Btn:hover{
	background:none;
}
.norm-table{
	border:1px solid white; 
	border-collapse: collapse;
	color:white;
}
.norm-table th,.norm-table td{
	padding-left:5px;
	width:230px;
	height:34px;
	border:1px solid white;
}
.webui-popover-inverse-opacity{
	top: 10px !important;
	background-color: #333;
	color:#eee;
	opacity:0.8 !important;
	animation: fade-in;/*动画名称*/  
    animation-duration: 1.5s;/*动画持续时间*/  
    -webkit-animation:fade-in 1.5s;/*针对webkit内核*/ 
}
.webui-popover-inverse-opacity .webui-popover-title{
	background:#333;
	border-bottom:1px solid #333;
	color:white;
}
.webui-popover-inverse-opacity .close{
	opacity:1 !important;
	color:white;
}
.Input-display{
	background-color: #F7F7F7;
	border:1px solid #BBBBBB !important;
	
}
@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}