
.x-grid3-row-selected {
	background-color: rgb(56, 212, 212) !important;
	background-image: none;
	border-color:#a3bae9;
	color: #000000 ;
}
.x-window-footer { 
    position: relative; 
    top: 0; 
    right: 0; 
} 
.x-tab-strip SPAN.x-tab-strip-text { 
    font-size: 14px; 
} 
 .x-panel-header { 
     font-size: 14px; 
 } 
 .x-tree-node { 
     font-size: 11px; 
     font: 11px "Microsoft Yahei", tahoma, helvetica, sans-serif;
     color: #000;
 }
 .x-tree-node-over{
	  font-size: 11px;
 } 
 .x-grid3-hd-row TD { 
     font-size: 14px; 
 } 
 .x-grid3-row TD { 
     font-size: 14px; 
     LINE-HEIGHT: 23px; 
 } 
 .x-tip .x-tip-bd { 
     font-size: 14px; 
 } 
 .x-tip h3{ 
     font-size: 14px; 
 } 
 .x-tip .x-tip-bd-inner{ 
     font-size:14px; 
 } 
 .x-panel-tl .x-panel-header { 
     FONT: normal 14px "Microsoft Yahei",arial,verdana,sans-serif; 
 } 
 .x-form-field { 
     FONT: 18px "Microsoft Yahei",arial,helvetica,sans-serif      
 } 
 .x-small-editor .x-form-field { 
     FONT: 14px "Microsoft Yahei",arial,helvetica,sans-serif      
 } 
 .x-combo-list-item { 
     FONT: 14px "Microsoft Yahei",arial,helvetica,sans-serif;     
 }     
 .x-menu-list-item { 
     FONT: 14px "Microsoft Yahei",arial,sans-serif; 
 } 
 .x-window-tl .x-window-header { 
     FONT: bold 14px "Microsoft Yahei",arial,verdana,sans-serif;      
 } 
 /*.x-layout-split-west .x-layout-mini {     
     BACKGROUND-IMAGE: url(../images/mini-left.jpg);   
 } */
 .ext-ie .x-form-text { 
     margin-top:1px; 
 } /* the textField missing bottom line */ 
 .x-form-item {    
     FONT: 14px "Microsoft Yahei",arial,helvetica,sans-serif 
 } 
 .x-grid-group-hd DIV {    
     FONT: bold 14px "Microsoft Yahei",arial,helvetica,sans-serif; 
 } 
 .x-btn button{
	font: 14px "Microsoft Yahei",tahoma,verdana,helvetica;
	color: #333;	
 }
 .x-btn-text{ 
     font: 14px "Microsoft Yahei",arial,sans-serif; 
 }
  /*wanghc add 2012 01 10*/
a{
	FONT-SIZE: 10pt; 
	color:#0081db/*#0000CC*/;
	text-decoration: none;
}
a:hover {
	FONT-SIZE: 10.5pt;
	color: /*#0066ff8*/#fd7201;
	/*text-decoration: underline;*/
}
.iconM {
	background-image:url(../image/man.gif) !important;
}
.iconF {
	background-image:url(../image/woman.gif) !important;
}
.iconStop{
	background-image:url(../image/stop.gif) !important;
}
td.ux-grid-hd-group-cell {
	background: url(/dthealth/web/scripts_lib/ext3.2.1/resources/images/default/grid/grid3-hrow.gif) repeat-x bottom ;
}
td.ux-grid-hd-nogroup-cell .x-grid3-hd-inner {
	background: none;
}
#fPAPerson_Banner TABLE{
	background-image:url();
}
.yellow-row {background-color: #00ff00;}
.green-row { background-color: #99CC99;}
.red-row { background-color: #99CC99;}
.x-toolbar div.xtb-text{
	padding: 2px 2px 0;
    line-height: 16px;
    display: block;
    font: normal 14px "Microsoft Yahei",tahoma, helvetica, sans-serif;
}
.ext-webkit .x-small-editor .x-form-field{
    font: normal 14px "Microsoft Yahei",tahoma, helvetica, sans-serif;
}

/*Ò³Ç©ÑÕÉ«±ä»¯*/
.x-tab-strip-red .x-tab-right,
.x-tab-strip-red .x-tab-left,
.x-tab-strip-red .x-tab-strip-inner{
	background-image:url(../image/tabs-sprite-red.png) !important;
	
}
.x-tab-strip-red span.x-tab-strip-text {
    color:#000000;
}
.x-tab-strip-blue .x-tab-right,
.x-tab-strip-blue .x-tab-left,
.x-tab-strip-blue .x-tab-strip-inner{
	background-image:url(../image/tabs-sprite-blue.png) !important;
}
.x-tab-strip-blue span.x-tab-strip-text{
	color:#000000;
}
.x-tab-strip-green .x-tab-right,
.x-tab-strip-green .x-tab-left,
.x-tab-strip-green .x-tab-strip-inner{
	background-image:url(../image/tabs-sprite-green.png) !important;
}
.x-tab-strip-green span.x-tab-strip-text{
	color:#000000;
}
.x-tab-strip-gray .x-tab-right,
.x-tab-strip-gray .x-tab-left,
.x-tab-strip-gray .x-tab-strip-inner{
	background-image:url(../image/tabs-sprite-gray.png) !important;
}
.x-tab-strip-gray span.x-tab-strip-text{
	color:#000000;
}