
body {
	background:#fff;
}
object{
	display:none;
}
#webuiPopover0{
	left:0 !important;
}
#webuiPopover0 .webui-arrow{
	left:25px !important;
}
#ScreenBillSum,#SavedScreenBillSum{
	width:60px;
	color: red;
	height:22px;
	line-height:22px;
	position:relative;
	top:1px;
}
#Prompt{
	float: left;
	font-size: 14px;
	width:calc(100% - 12px);
	height:28px;
	line-height: 28px;
	background:#FFE3E3;
	color:#FF3D2C;
	border: 1px solid #FF3D2C;
	border-radius: 4px;
	padding-left: 5px;
	margin: 3px 0 2px 2px;
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}
/*munubtn按钮样式*/
.m-btn .l-btn-left .l-btn-text{
	margin-left:0;
}
.menu-text, .menu-text span{
	font-size: 14px !important;
}
/*控制表格字体*/
table{ 
	font-size: 95%; 
}
/* 关联主医嘱背景 */
.OrderMasterM{
	background:#94e494; /*#00FF00*/
}
/* 关联子医嘱背景 */
.OrderMasterS{
	background:#cdf1cd; /*#66FF99*/
}
.SkinTest{
	background:#ff2e47; /*#FF0000*/
}
/*
.OrderSaved{
	background:#ffbfbf; 
}
*/
.OrderSaved,.OrderSigned{
	position: relative;
}
.OrderSaved:after{
	content: '\00A0';
	background: url(../image/Reviewed.png) right bottom no-repeat;
	position: absolute;
	height: 30px;
	width: 30px;
	bottom: -3px;
	right: 0px;
	z-index: 30;
	overflow: hidden;
	background-size:70% 70%;
}
.OrderSigned:after{
	content: '\00A0';
	background: url(../../../skin/default/images/ca_icon_green.png) right bottom no-repeat;
	position: absolute;
	height: 30px;
	width: 30px;
	bottom: 8px;
	right: 0px;
	z-index: 30;
	overflow: hidden;
	background-size:70% 70%;
}
.OrderCritical{
	background:#FFA54F; /*pink*/
}
.OrderUnSaved{
	background:#fff;
}
.OrderUnSaved:after {
	content:'';
	background:none;
}
#Insert_Order_btn .l-btn-text,#OrderTemplate_Btn .l-btn-text{
	color :red;
}
.webui-popover-inverse-opacity{
	top: 10px !important;
	background-color: #333;
	color:#eee;
	opacity:0.8 !important;
	animation: fade-in;/*动画名称*/  
    animation-duration: 1.5s;/*动画持续时间*/  
    -webkit-animation:fade-in 1.5s;/*针对webkit内核*/ 
}
.webui-popover-inverse-opacity .webui-popover-title{
	background:#333;
	border-bottom:1px solid #333;
	color:white;
}
.webui-popover-inverse-opacity .close{
	opacity:1 !important;
	color:white;
}
@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}
/*新医嘱布局*/
#tabOrdList .tabs-header{background:white;}
#tabOrdList .tabs-wrap{
	border: 1px solid #ccc;
    box-sizing: border-box;
    border-right: none;
    border-radius: 3px;
}
#tabOrdList .tabs li{margin:0px;}
#tabOrdList .tabs li a.tabs-inner{
    border-radius: 3px;
    text-align: center;
    background: #fff;
    color: #999;
    font-size:16px;
    padding: 0 10px;
    border: none;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}
#tabOrdList .tabs li a.tabs-inner:hover{
	background: #efefef;
	color: #888;
    font-weight:500;
	border: none;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}
#tabOrdList .tabs li.tabs-selected a.tabs-inner,.tabs li.tabs-selected a.tabs-inner:hover {
	color: #017bce;
    font-weight:500;
	outline-style:none;
	border: none;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}
#tabOrdList .tabs li:not(:last-child)::after {display: none;}
#kwOrderPrior .kw-section-list{width:500px;}
input#kwOrderPrior+.combo,.prior-combo-panel{
	border-radius:5px!important;
	border:1px solid #ccc;
	border-color:#ccc!important;
	box-sizing: border-box;
}
input#kwOrderPrior+.combo input{
	color:#ff4401;
	text-align:center;
}
.prior-combo-panel .combobox-item{
	padding-left:12px;
	color:#ff4401;
}
.prior-combo-panel .combobox-item-selected,.prior-combo-panel .combobox-item-hover{
    background: #ffe9db;
}
input#kwOrderPrior+.combo .combo-arrow{
	background-image:url(../scripts_lib/hisui-0.1.0/dist/css/images/combo_arrow_disable.png);
}
.append-item-tip{
	color:green!important;
	font-weight:bolder;
	display:inline-block;
	height:100%;
	width:100%;
	line-height:40px;
	cursor:pointer;
}
.layout-split-north,.layout-split-south,.layout-split-east,.layout-split-west{
	border-color: #fff;
}
.panel-body-gray{
	border-radius: 4px!important;
}
.norm-table{
	border-collapse: collapse;
	width: 100%;
}
.norm-table .td-norm{
	color: #fff;
	border: 1px solid #ddd;
	padding: 5px;
}
.shortcutbar-list-x.datagrid-toolbar .l-btn-plain{
	margin-top:0px;
	margin-bottom:0px;
}

/*药品图标*/
.pha-drugicon {
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.pha-drugicon-tips-body {
    /*background:red;*/
    color: #ffffff;
    overflow: hidden;
    position: fixed;
    padding: 10px;
    z-index: 999999;
    border-radius: 4px;
}
.pha-drugicon-tips {
    /*box-shadow:0px 0px 5px #888585;*/
    width: 280px;
    height: auto;
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px 0 10px 10px;
    position: relative;
    border-radius: 4px;
}
.pha-drugicon-tips:before,
.pha-drugicon-tips:after {
    position: absolute;
    content: ' ';
    top: 56px;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    border: 8px solid #cccccc;
    border-color: transparent #ffffff transparent transparent;
    z-index: 111;
}
.pha-drugicon-tips:after {
    left: -17px;
    border-color: transparent #cccccc transparent transparent;
    z-index: 11;
}