/*表头斜线*/
.Bias{
    position: absolute;
    width: 1px;
    
    top: 1px;
    left: 1px;
    background-color: #ddd;
    display: block;
    transform: rotate(-79deg);
    transform-origin: top;
		
}
/*表头斜线 时间*/
.TableTips span:first-child{
	display: block;
    text-align: left;
    position: absolute;
    top: 15px;
    left:20px;
}
/*表头斜线 日期*/
.TableTips span:last-child{
	display: block;
    text-align: left;
    position: absolute;
    top: 2px;
}
/*向左移动日期*/
.QueryLeft{
	width: 20px;
    height: 35px;
    line-height: 30px;
    position: absolute;
    top: 0;
    margin-top: -1px;
    margin-left: -21px;
}
/*向右移动日期*/
.QueryRight{
	width: 20px;
    height: 35px;
    line-height: 30px;
    position: absolute;
    top: 0;
    margin-top: -1px;
    margin-left: -1px;
}
.QueryLeft:hover,.QueryRight:hover{
	background-color:#DCF0FF;
}
/*表头加大 加粗*/
.datagrid-header{
	font-weight: 900;
}
/*消息卡片样式*/
[id^='TODO_Msg_']{
	margin-bottom: 3px;
    display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius:4px;
    text-align: left;
}
[id^='TODO_Msg_']:first-child{
	margin-top: 3px;
}
/*消息卡片的父级DIV，消息卡片垂直置顶*/
.datagrid-body TD[field^='Date_']:not([field="Date_0"]){
	vertical-align: top;
}
.icon-black-left {
    background: url(../image/move_left.png) left center no-repeat;
}
.icon-black-right{
    background: url(../image/move_right.png) right center no-repeat;
}
td[field="TOrderDesc"] div.datagrid-cell, .datagrid-cell-group{
	text-overflow: ellipsis; /*2018-12-4 showTip 列数据太多显示...*/
	padding: 0 8px;
}