body input{
	font-size:14px;
	height:24px;
}
.combo{
	height: 24px !important;
}
.datagrid-cell, 
.datagrid-cell-group, 
.datagrid-header-rownumber, 
.datagrid-cell-rownumber,
.datagrid-header .datagrid-cell span,
a.l-btn span span.l-btn-text,
.combo .combo-text{
	font-size:14px;
}
