body{
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
.form-control{
	padding: 0px;
}
.col-xs-2,.col-sm-2,.col-md-2{
	width: 19.5%;
}
.input-group,.form-inline .form-group{
	margin-bottom: 10px;
}
.sel-div-custom{
	/*padding-left: 0px;*/
	
}
.fa {
	margin-right: 5px;
}
.btn-table-custom{
	margin-right: 5px;
}
.panel-heading{
	padding: 5px 10px;
}
.form-group-select-focus{
	width: 115% !important;
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	background-color: rgb(255, 228, 141);
}
.alertfont{
	color: red;
	font-size: 16px;
	font-weight: bold;
}