/* CSS Document */
.simplydatagrid {
	 border-collapse: collapse;
	 border-spacing: 0;
}
.simplydatagrid tr {
	 white-space:nowrap;
}
.simplydatagrid thead tr {
 	height:35px;
}
.simplydatagrid thead tr th {
	 padding: 5px 8px;
	 border: 1px solid #ccc;
	 vertical-align: bottom;
	 line-height: 20px;
	 font-weight:normal;
}
.simplydatagrid tbody tr td {
	 padding: 8px;
	 border-top: 0px;
	 border: 1px solid #ccc;
	 vertical-align: middle;
	 line-height: 20px;
}