/*
create:songchunli
desc:公共图标引用样式表  适用ext  easyui 未定义图标
version:1.0.0
*/
/*呼叫*/
.icon-call-custom{
	background: url(../../../images/uiimages/call.png) left center no-repeat !important   
}
/*查找*/
.icon-find-custom{
	background: url(../../../images/uiimages/search.png) left center no-repeat !important   
}
/*过号*/
.icon-skip-custom{
	background: url(../../../images/uiimages/cancel.png) left center no-repeat !important   
}
/*重复呼叫*/
.icon-recall-custom{
	background: url(../../../images/uiimages/recall.png) left center no-repeat !important   
}
/*展开*/
.icon-expand-custom{
	background: url(../../../images/uiimages/expand.png) left center no-repeat !important   
}
/*上移*/
.icon-up-custom{
	background: url(../../../images/uiimages/moveup.png) left center no-repeat !important   
}
/*下移*/
.icon-down-custom{
	background: url(../../../images/uiimages/movedown.png) left center no-repeat !important   
}
/*左移*/
.icon-moveleft-custom{
	background: url(../../../images/uiimages/moveleft.png) left center no-repeat !important   
}
/*右移*/
.icon-moveright-custom{
	background: url(../../../images/uiimages/moveright.png) left center no-repeat !important   
}
/*表格列表*/
.icon-tablelist-custom{
	background: url(../../../images/uiimages/tablelist.png) left center no-repeat !important
}
/*读卡*/
.icon-readcard-custom{
	background: url(../../../images/uiimages/readcard.png) left center no-repeat !important
}
/*返回*/
.icon-undo-custom{
	background: url(../../../images/uiimages/undo.png) left center no-repeat !important
}

/*前进*/
.icon-redo-custom{
	background: url(../../../images/uiimages/redo.png) left center no-repeat !important
}
/*新增排班*/
.icon-createschedule-custom{
	background: url(../../../images/uiimages/createschedule.png) left center no-repeat !important
}
/*预约*/
.icon-app-custom{
	background: url(../../../images/uiimages/app.png) left center no-repeat !important
}
/*复诊*/
.icon-readm-custom{
	background: url(../../../images/uiimages/readm.png) left center no-repeat !important
}
/*取号*/
.icon-apparrive-custom{
	background: url(../../../images/uiimages/apparrive.png) left center no-repeat !important
}
/*退号*/
.icon-canceladm-custom{
	background: url(../../../images/uiimages/canceladm.png) left center no-repeat !important
}
/*重打*/
.icon-reprint-custom{
	background: url(../../../images/uiimages/reprint.png) left center no-repeat !important
}
/*打印*/
.icon-print-custom{
	background: url(../../../images/uiimages/print.png) left center no-repeat !important
}
/*增加*/
.icon-add-custom{
	background: url(../../../images/uiimages/edit_add.png) left center no-repeat !important
}
/*复制*/
.icon-copy-custom{
	background: url(../../../images/uiimages/ordcopy.png) left center no-repeat !important
}
/*录入*/
.icon-pencil-custom{
	background: url(../../../images/uiimages/pencil.png) left center no-repeat !important
}
/*医嘱模板维护*/
.icon-ordtemplatesets-custom{
	background: url(../../../images/uiimages/ordtemplatesets.png) left center no-repeat !important
}
/*检查申请单*/
.icon-examapply-custom{
	background: url(../../../images/uiimages/examapply.png) left center no-repeat !important
}
/*全院组套勾选*/
.icon-hosarcos-custom{
	background: url(../../../images/uiimages/hosarcos.png) left center no-repeat !important
}
/*诊间扣费*/
.icon-doccardbill-custom{
	background: url(../../../images/uiimages/doccardbill.png) left center no-repeat !important
}
/*开住院证*/
.icon-newipbook-custom{
	background: url(../../../images/uiimages/newipbook.png) left center no-repeat !important
}
/*保存*/
.icon-filesave-custom{
	background: url(../../../images/uiimages/filesave.png) left center no-repeat !important
}
/*组合*/
.icon-merge-custom{
	background: url(../../../images/uiimages/merge.png) left center no-repeat !important
}
/*删除*/
.icon-delete-custom{
	background: url(../../../images/uiimages/edit_remove.png) left center no-repeat !important
}
/*过号*/
.icon-skip-custom{
	background: url(../../../images/uiimages/skip.png) left center no-repeat !important
}
/*清屏*/
.icon-clear-custom{
	background: url(../../../images/uiimages/clear.png) left center no-repeat !important
}
/*leibiao*/
.icon-tablist-custom{
	background: url(../../../images/uiimages/tablelist.png) left center no-repeat !important
}
.icon-ok-custom{
	background: url(../../../images/uiimages/ok.png) left center no-repeat !important
}
.icon-orderno-custom{
	background: url(../../../images/uiimages/order_no.png) left center no-repeat !important
}
.icon-stoppresc-custom{
	background: url(../../../images/uiimages/stoppresc.png) left center no-repeat !important
}
.icon-reciprocity-custom{
	background: url(../../../images/uiimages/reciprocity.png) left center no-repeat !important
}
.icon-pager-custom{
  background: url(../../../images/uiimages/yellow_paper.png) left center no-repeat !important
}
.icon-doctor-custom{
   background: url(../../../images/uiimages/doctor.png) left center no-repeat !important
}
/*更新*/
.icon-update-custom{
	background: url(../../../images/uiimages/update.png) left center no-repeat !important   
}
/*清屏*/
.icon-clearscreen-custom{
	background: url(../../../images/uiimages/clearscreen.png) left center no-repeat !important  
	
}
