/** 
   DHCC基础样式 */
   
*               { margin:0; padding:0;}
body            { background:#fff; margin:0px; padding:0px; color:#333; font:14px/1.5 "Microsoft YaHei",Arial, Helvetica, sans-serif;}
body,button,select,input,textarea{ font:14px/1.5 "Microsoft YaHei",Arial, Helvetica, sans-serif;}
table           { border-collapse:collapse; border-spacing:0;}
img,button      { border:0;}
a,img,input     { hide-focus:expression(this.hideFocus=true); /* for ie 5+ */outline:none; /* for firefox 1.5 + */ }
a               { text-decoration:none;}
a:hover         { text-decoration:underline;}
ol,ul,li        { list-style:none outside none;}


/*[公共样式]
----------------------------------------------------------------------------------------*/
.display_in-b   { display:inline-block; *display:inline; zoom:1;}
.display_in     { display:inline;}
.display_b      { display:block;}
.display_n      { display:none;}
.visibility_h   { visibility:hidden;}
.bgwhite        { background:#fff;}
.cursor_p       { cursor:pointer;}
.cursor_d       { cursor:default;}
.cursor_m       { cursor:move;}
.noradius       { border-radius:0;}
.noborder       { border:none;}
.border_r2      { border-radius:2px;}
.border_r3      { border-radius:3px;}
.border_r4      { border-radius:4px;}
.border_r5      { border-radius:5px;}

/*<定位>*/
.posr           { position:relative;}
.posa           { position:absolute;}
.lf             { float:left;}
.rt             { float:right;}
.lf0            { left:0;}
.rt0            { right:0;}
.tp0            { top:0;}
.bm0            { bottom:0;}
.textc          { text-align:center;}
.textr          { text-align:right;}
.textj          { text-align:justify;}
.vlignm         { vertical-align:middle;}
.cover          { text-indent:-9999em;}
.overhide       { overflow:hidden;}
.clearbox       { clear:both;}
.clearfix:after { clear:both; content:" "; display:block; font-size:0; height:0; visibility:hidden;}
*html .clearfix { zoom:1;}
*:first-child+html .clearfix{ zoom:1;}

/*<边距>*/
.mg0            { margin:0;}
.mg5            { margin:5px;}
.mg10           { margin:10px;}
.mg15           { margin:15px;}
.mg20           { margin:20px;}
.mg25           { margin:25px;}
.mg30           { margin:30px;}
.mgt0           { margin-top:0;}
.mgt-5          { margin-top:-5px;}
.mgt-10         { margin-top:-10px;}
.mgt-15         { margin-top:-15px;}
.mgt-20         { margin-top:-20px;}
.mgt-25         { margin-top:-25px;}
.mgt-30         { margin-top:-30px;}
.mgt-35         { margin-top:-35px;}
.mgt-40         { margin-top:-40px;}
.mgt-45         { margin-top:-45px;}
.mgt-50         { margin-top:-50px;}
.mgt5           { margin-top:5px;}
.mgt10          { margin-top:10px;}
.mgt15          { margin-top:15px;}
.mgt20          { margin-top:20px;}
.mgt25          { margin-top:25px;}
.mgt30          { margin-top:30px;}
.mgt35          { margin-top:35px;}
.mgt40          { margin-top:40px;}
.mgt45          { margin-top:45px;}
.mgt50          { margin-top:50px;}
.mgt55          { margin-top:55px;}
.mgt60          { margin-top:60px;}
.mgt65          { margin-top:65px;}
.mgt70          { margin-top:70px;}
.mgt75          { margin-top:75px;}
.mgt80          { margin-top:80px;}
.mgt85          { margin-top:85px;}
.mgt90          { margin-top:90px;}
.mgt95          { margin-top:95px;}
.mgt100         { margin-top:100px;}
.mgb0           { margin-bottom:0;}
.mgb-5          { margin-bottom:-5px;}
.mgb-10         { margin-bottom:-10px;}
.mgb-15         { margin-bottom:-15px;}
.mgb-20         { margin-bottom:-20px;}
.mgb-25         { margin-bottom:-25px;}
.mgb-30         { margin-bottom:-30px;}
.mgb-35         { margin-bottom:-35px;}
.mgb-40         { margin-bottom:-40px;}
.mgb-45         { margin-bottom:-45px;}
.mgb-50         { margin-bottom:-50px;}
.mgb5           { margin-bottom:5px;}
.mgb10          { margin-bottom:10px;}
.mgb15          { margin-bottom:15px;}
.mgb20          { margin-bottom:20px;}
.mgb25          { margin-bottom:25px;}
.mgb30          { margin-bottom:30px;}
.mgb35          { margin-bottom:35px;}
.mgb40          { margin-bottom:40px;}
.mgb45          { margin-bottom:45px;}
.mgb50          { margin-bottom:50px;}
.mgb55          { margin-bottom:55px;}
.mgb60          { margin-bottom:60px;}
.mgb65          { margin-bottom:65px;}
.mgb70          { margin-bottom:70px;}
.mgb75          { margin-bottom:75px;}
.mgb80          { margin-bottom:80px;}
.mgb85          { margin-bottom:85px;}
.mgb90          { margin-bottom:90px;}
.mgb95          { margin-bottom:95px;}
.mgb100         { margin-bottom:100px;}
.mgl0           { margin-left:0;}
.mgl-5          { margin-left:-5px;}
.mgl-10         { margin-left:-10px;}
.mgl-15         { margin-left:-15px;}
.mgl-20         { margin-left:-20px;}
.mgl-25         { margin-left:-25px;}
.mgl-30         { margin-left:-30px;}
.mgl-35         { margin-left:-35px;}
.mgl-40         { margin-left:-40px;}
.mgl-45         { margin-left:-45px;}
.mgl-50         { margin-left:-50px;}
.mgl5           { margin-left:5px;}
.mgl10          { margin-left:10px;}
.mgl15          { margin-left:15px;}
.mgl20          { margin-left:20px;}
.mgl25          { margin-left:25px;}
.mgl30          { margin-left:30px;}
.mgl35          { margin-left:35px;}
.mgl40          { margin-left:40px;}
.mgl45          { margin-left:45px;}
.mgl50          { margin-left:50px;}
.mgl55          { margin-left:55px;}
.mgl60          { margin-left:60px;}
.mgl65          { margin-left:65px;}
.mgl70          { margin-left:70px;}
.mgl75          { margin-left:75px;}
.mgl80          { margin-left:80px;}
.mgl85          { margin-left:85px;}
.mgl90          { margin-left:90px;}
.mgl95          { margin-left:95px;}
.mgl100         { margin-left:100px;}
.mgr0           { margin-right:0;}
.mgr-5          { margin-right:-5px;}
.mgr-10         { margin-right:-10px;}
.mgr-15         { margin-right:-15px;}
.mgr-20         { margin-right:-20px;}
.mgr-25         { margin-right:-25px;}
.mgr-30         { margin-right:-30px;}
.mgr-35         { margin-right:-35px;}
.mgr-40         { margin-right:-40px;}
.mgr-45         { margin-right:-45px;}
.mgr-50         { margin-right:-50px;}
.mgr5           { margin-right:5px;}
.mgr10          { margin-right:10px;}
.mgr15          { margin-right:15px;}
.mgr20          { margin-right:20px;}
.mgr25          { margin-right:25px;}
.mgr30          { margin-right:30px;}
.mgr35          { margin-right:35px;}
.mgr40          { margin-right:40px;}
.mgr45          { margin-right:45px;}
.mgr50          { margin-right:50px;}
.mgr55          { margin-right:55px;}
.mgr60          { margin-right:60px;}
.mgr65          { margin-right:65px;}
.mgr70          { margin-right:70px;}
.mgr75          { margin-right:75px;}
.mgr80          { margin-right:80px;}
.mgr85          { margin-right:85px;}
.mgr90          { margin-right:90px;}
.mgr95          { margin-right:95px;}
.mgr100         { margin-right:100px;}
.pd0            { padding:0;}
.pd5            { padding:5px;}
.pd10           { padding:10px;}
.pd15           { padding:15px;}
.pd20           { padding:20px;}
.pd25           { padding:25px;}
.pd30           { padding:30px;}
.pdt0           { padding-top:0;}
.pdt5           { padding-top:5px;}
.pdt10          { padding-top:10px;}
.pdt15          { padding-top:15px;}
.pdt20          { padding-top:20px;}
.pdt25          { padding-top:25px;}
.pdt30          { padding-top:30px;}
.pdt35          { padding-top:35px;}
.pdt40          { padding-top:40px;}
.pdt45          { padding-top:45px;}
.pdt50          { padding-top:50px;}
.pdt55          { padding-top:55px;}
.pdt60          { padding-top:60px;}
.pdt65          { padding-top:65px;}
.pdt70          { padding-top:70px;}
.pdt75          { padding-top:75px;}
.pdt80          { padding-top:80px;}
.pdt85          { padding-top:85px;}
.pdt90          { padding-top:90px;}
.pdt95          { padding-top:95px;}
.pdt100         { padding-top:100px;}
.pdb0           { padding-bottom:0;}
.pdb5           { padding-bottom:5px;}
.pdb10          { padding-bottom:10px;}
.pdb15          { padding-bottom:15px;}
.pdb20          { padding-bottom:20px;}
.pdb25          { padding-bottom:25px;}
.pdb30          { padding-bottom:30px;}
.pdb35          { padding-bottom:35px;}
.pdb40          { padding-bottom:40px;}
.pdb45          { padding-bottom:45px;}
.pdb50          { padding-bottom:50px;}
.pdb55          { padding-bottom:55px;}
.pdb60          { padding-bottom:60px;}
.pdb65          { padding-bottom:65px;}
.pdb70          { padding-bottom:70px;}
.pdb75          { padding-bottom:75px;}
.pdb80          { padding-bottom:80px;}
.pdb85          { padding-bottom:85px;}
.pdb90          { padding-bottom:90px;}
.pdb95          { padding-bottom:95px;}
.pdb100         { padding-bottom:100px;}
.pdl0           { padding-left:0;}
.pdl5           { padding-left:5px;}
.pdl10          { padding-left:10px;}
.pdl15          { padding-left:15px;}
.pdl20          { padding-left:20px;}
.pdl25          { padding-left:25px;}
.pdl30          { padding-left:30px;}
.pdl35          { padding-left:35px;}
.pdl40          { padding-left:40px;}
.pdl45          { padding-left:45px;}
.pdl50          { padding-left:50px;}
.pdl55          { padding-left:55px;}
.pdl60          { padding-left:60px;}
.pdl65          { padding-left:65px;}
.pdl70          { padding-left:70px;}
.pdl75          { padding-left:75px;}
.pdl80          { padding-left:80px;}
.pdl85          { padding-left:85px;}
.pdl90          { padding-left:90px;}
.pdl95          { padding-left:95px;}
.pdl100         { padding-left:100px;}
.pdr0           { padding-right:0;}
.pdr5           { padding-right:5px;}
.pdr10          { padding-right:10px;}
.pdr15          { padding-right:15px;}
.pdr20          { padding-right:20px;}
.pdr25          { padding-right:25px;}
.pdr30          { padding-right:30px;}
.pdr35          { padding-right:35px;}
.pdr40          { padding-right:40px;}
.pdr45          { padding-right:45px;}
.pdr50          { padding-right:50px;}
.pdr55          { padding-right:55px;}
.pdr60          { padding-right:60px;}
.pdr65          { padding-right:65px;}
.pdr70          { padding-right:70px;}
.pdr75          { padding-right:75px;}
.pdr80          { padding-right:80px;}
.pdr85          { padding-right:85px;}
.pdr90          { padding-right:90px;}
.pdr95          { padding-right:95px;}
.pdr100         { padding-right:100px;}

/*<宽度高度>*/
.w10            { width:10px;}
.w20            { width:20px;}
.w30            { width:30px;}
.w40            { width:40px;}
.w50            { width:50px;}
.w60            { width:60px;}
.w70            { width:70px;}
.w80            { width:80px;}
.w90            { width:90px;}
.w100           { width:100px;}
.w150           { width:150px;}
.w200           { width:200px;}
.w250           { width:250px;}
.w300           { width:300px;}
.w350           { width:350px;}
.w400           { width:400px;}
.w450           { width:450px;}
.w500           { width:500px;}
.w550           { width:550px;}
.w600           { width:600px;}
.w650           { width:650px;}
.w700           { width:700px;}
.w750           { width:750px;}
.w800           { width:800px;}
.w850           { width:850px;}
.w900           { width:900px;}
.w950           { width:950px;}
.w1000          { width:1000px;}
.w1100          { width:1100px;}
.w1200          { width:1200px;}
.w1300          { width:1300px;}
.w1400          { width:1400px;}
.w1500          { width:1500px;}
.h10            { height:10px;}
.h20            { height:20px;}
.h30            { height:30px;}
.h40            { height:40px;}
.h50            { height:50px;}
.h60            { height:70px;}
.h70            { height:70px;}
.h80            { height:80px;}
.h90            { height:90px;}
.h100           { height:100px;}
.h150           { height:150px;}
.h200           { height:200px;}
.h250           { height:250px;}
.h300           { height:300px;}
.h350           { height:350px;}
.h400           { height:400px;}
.h450           { height:450px;}
.h500           { height:500px;}
.h550           { height:550px;}
.h600           { height:600px;}
.h650           { height:650px;}
.h700           { height:700px;}
.h750           { height:750px;}
.h800           { height:800px;}
.h850           { height:850px;}
.h900           { height:900px;}
.h950           { height:950px;}
.h1000          { height:1000px;}
.w              { width:100%;}
.h              { height:100%;}

/*<文字排版>*/
.font12         { font-size:12px;}
.font13         { font-size:13px;}
.font14         { font-size:14px;}
.font15         { font-size:15px;}
.font16         { font-size:16px;}
.font18         { font-size:18px;}
.font20         { font-size:20px;}
.font22         { font-size:22px;}
.font24         { font-size:24px;}
.font26         { font-size:26px;}
.font28         { font-size:28px;}
.font30         { font-size:30px;}
.lh20           { line-height:20px;}
.lh30           { line-height:30px;}
.lh40           { line-height:40px;}
.lh60           { line-height:60px;}
.lh150          { line-height:150%;}
.lh180          { line-height:180%;}
.lh200          { line-height:200%;}
.lh250          { line-height:250%;}
.lh300          { line-height:300%;}
.fontbold       { font-weight:bold;}
.fontnormal     { font-weight:normal;}
.fontitalic     { font-style:italic;}
.textin2em      { text-indent:2em;}
.letter_s1      { letter-spacing:1px;}
.letter_s2      { letter-spacing:2px;}
.letter_s3      { letter-spacing:3px;}
.letter_s4      { letter-spacing:4px;}
.letter_s5      { letter-spacing:5px;}