/*body*/
body {
	margin: 0;
	padding: 0;
	font-family: microsoft yahei,Arial, sans-serif;
	font-size: 14px;
}
a ,a:hover {
	font-size: 14px !important;
}
/* Page Header */
.page-header {
    width: 100%;
	height: 35px;
    margin: 10px 10px 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd #ddd #40a2de #ddd;
    border-radius: 4px 4px 0px 0px;
	behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);		

}
.page-header h1 {
	padding-left: 10px;
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
	line-height: 35px;
	padding-bottom: 5px;
	border-bottom: 3px solid #40a2de;
}

/*
*按钮组
*
*/
.tab-button {
	 position: relative;
	 float: left; 
}
.tab-button .tabbtn {
	position: relative;
	float: left;
	min-width: 70px;
	height: 30px;
	margin: 5px;
	padding-left: 10px;
    outline:none;  /*没有边框*/
    cursor:pointer;
    display:inline-block;
    white-space:nowrap;
}
.btn-dictionary .tabbtn {
	width: 30px;
	height: 30px;
	padding:3px;
}
.tab-button a > span {
    color: black; 
    line-height: 30px;
    margin-left: 3px;
    margin-right: 10px;
    font-size: 14px;
    vertical-align: middle; 
}
.tab-button .tabbtn:hover, .tab-button .tabbtn:focus,
.btn-dictionary .tabbtn:hover, .btn-dictionary .tabbtn:focus {
    color: #40a2de;
    outline:none;  /*没有边框*/
    text-decoration: none;  /*没有下划线*/
    background-color: #B0E0E6 ;
}
.tab-button a.disabled > span{ 
     color: #ddd;
}
.tab-button .tabbtn.disabled:hover,.tab-button .tabbtn.disabled:focus,
.btn-dictionary .tabbtn.disabled:hover,.btn-dictionary .tabbtn.disabled:focus{
    background-color: #fff ;
}
.tabbtn.disabled > img {  /*无效的按钮加透明度*/
	 opacity: 0.5;
	 filter: Alpha(opacity=50); /*支持IE8以下*/	
}
/*
*检索样式
*
*/
.tab-search {
	 position: relative;
	 float: right;
	 padding-right:10px;
}
.input-group-sm>.form-control{ 
    width:130px;
    height: 30px;
    padding: 5px 5px;  
    margin-top : 5px;
    margin-bottom : 5px;
    background-color: #fff;
    border: 1px solid #40a2de;
    border-radius: 0px;
}
.input-group-sm>.input-group-btn>.btn {
    height: 30px;
    width: 30px;
    color: #fff;
    padding: 5px 5px; 
    margin-top : 5px;
    margin-bottom : 5px;
    background-color: #3AA1E1;
    border-color: #3AA1E1;
    border-radius: 0px;
}

/*
*检索条件
*
*/
.search-info {
	position: relative;
	float: left;
	width: auto !important;
	height: 30px;
	margin: 5px 10px 5px 10px;

}
.search-group>.control-label{
	position: relative;
	float: left;
	height: 30px; 
	font-weight: normal;
	vertical-align: middle;
    margin-right:5px;
    padding: 4px 0px 4px 0px;
}
.search-group>.form-control{
	width: 200px;
	height: 30px;
	padding: 2px 30px 2px 2px;  /*右内边距30px，避免下拉箭头被文字覆盖*/
	border: 1px solid #40a2de;
	border-radius: 0px;
}
.search-group .select2-container  {  /*科室维护医院选择框*/
	width: 200px!important;
}
/***********语义分析下拉框****************************/
.search-group_One>.control-label{
	position: relative;
	float: left;
	height: 30px; 
	font-weight: normal;
	vertical-align: middle;
    margin-right:5px;
    padding: 4px 0px 4px 0px;
}
.search-group_One>.form-control{
	width: 200px;
	height: 30px;
	padding: 2px 30px 2px 2px;  /*右内边距30px，避免下拉箭头被文字覆盖*/
	border: 1px solid #40a2de;
	border-radius: 0px;
}
.search-group_One .select2-container  {  /*语义词选择框*/
	width: 160px!important;
}
/***********语义分析下拉框****************************/

/*下拉框的select 样式*/
/************IE8修改  此种方式不好但没找到其他方式*************/
/*外层div设定宽度，select的宽大于外层div宽度时隐藏*/
.spc-select {
	width:195px;
	background: url("../img/mselect.png") no-repeat scroll right center transparent; 
	overflow: hidden;             
	padding-right:30px;
	padding-left :0px;
	margin-left:10px;
}
.spc-select select {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  -ms-appearance:none;
  background:transparent;
  width:250px;
  border: 1px solid #40a2de;
  padding-right:30px;
}
/***************************************************************/
/*下拉框的select 样式*/
select {
  /*很关键：将默认的select选择框样式清除，但只支持IE10以上*/
  appearance:none;                 
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../img/mselect.png") no-repeat scroll right center transparent;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
select.form-control{
	padding: 2px 30px 2px 2px;
   
}

/*
 * 翻页样式
 *
 */
.pagination {  
    margin: 0;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 0;
    line-height:10px;
    color: #337ab7;
    background-color: #ffffff;
    border: none;
    margin:0;
}
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .ellipsis {
    float: left;
    width: auto !important;
    text-align: center;
    white-space:nowrap;
    height: 21px;
    padding-top: 0 !important;
    margin: 7px 2px 7px 10px; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	position: relative;
	float: left;
	line-height: 13px;
    text-decoration: none;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #40a2de;
    border-radius: 0px;
    padding: 3px;
    margin-right:3px;
   
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
	line-height: 14px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #40a2de;
    padding: 5px;
    margin-top: 0px;
    margin-left:3px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: white !important;
	border: 1px solid #40a2de;
    background:#40a2de;
    
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: 1px solid #40a2de;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #40a2de;
    background-color: #40a2de;  
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40a2de), color-stop(100%, #40a2de));
    background: -webkit-linear-gradient(top, #40a2de 0%, #40a2de 100%);
    background: -moz-linear-gradient(top, #40a2de 0%, #40a2de 100%);
    background: -ms-linear-gradient(top, #40a2de 0%, #40a2de 100%);
    background: -o-linear-gradient(top, #40a2de 0%, #40a2de 100%);
    background: linear-gradient(to bottom, #40a2de 0%, #40a2de 100%);
}

/*
 *页面显示条数样式
 *
 */
 /************IE8修改  此种方式不好但没找到其他方式*************/
 /*外层div设定宽度，select的宽大于外层div宽度时隐藏*/
 /*
 .dataTables_length {
	 margin-top:7px;
	 height: 21px;
     width: 50px;
     background: url("../img/down.png") no-repeat right center;
	 overflow: hidden;
	 border: 1px solid #40a2de;
}
.dataTables_length  label> select {
   appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
   font-size: small;
   border:none;
   background: transparent;
   width:65px;
   height: 21px;
   margin-left: -10px;
   font-size: small;
   
}
*/
 /***************************************************************/
.dataTables_wrapper .dataTables_length {
	float: left;
    width: auto !important;
}
.dataTables_wrapper .dataTables_length  label> select {
    width: 50px;
    height: 21px;
    margin-top:7px;
    font-size: small;
    border-color: #40a2de;
    border-radius: 0px;
}
/*翻页的select 样式*/
.dataTables_wrapper .dataTables_length  label>select {
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("../img/down.png") no-repeat scroll right center transparent;
   /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right:21px;
  cursor:pointer;
}

/*
 *页面记录样式
 *
 */
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: right;
  font-size: 12px;
  line-height: 15px;
  padding: 10px;
  width: auto !important;
 
}

/*
 * Component: Table
 * ----------------
 */
 th {  /*解决协和、福田医院其他样式影响导致的疑似病例筛查表头问题*/
	 background-image: none;
 }
.tab-header {     /*表格标题*/
    width: 100%;
    height: 40px;
    border-left :1px solid #ddd;
    border-right :1px solid #ddd;
}
.table.dataTable{
	clear:both;
	margin-top:0px !important;
	margin-bottom:0px !important;
	max-width:none !important;
	border-collapse:separate !important;
}
.table.dataTable thead th,  /*表格头行高、背景色*/
.table.dataTable th{  
	font-size:14px;  
	padding:5px;
	height: 24px;
	background-color: #f4f6f5;  /*用background会覆盖表头排序图标*/
	font-weight: normal;
	vertical-align: middle; 
}
.table.dataTable thead td, /*表格行高*/
.table.dataTable td {   
	font-size:14px;    
	padding:5px;
	height: 24px;
}

/*固定table列宽，多余内容显示为省略号*/
.Fixed_table {
	table-layout:fixed;
	word-wrap:break-word;
}
.Fixed_table td { 
	text-overflow: ellipsis; /* for IE */ 
	-moz-text-overflow: ellipsis; /* for Firefox,mozilla */
	-o-text-overflow: ellipsis; /* for Opera */   
    overflow: hidden;   
    white-space: nowrap; 
    
}

/*条纹表格样式重写*/
.table-striped > tbody > tr:nth-child(even) {
  	background-color: #f9f9f9;
}
.table-striped > tbody > tr:nth-child(odd) {
	background-color: #fff;
}

/*
 *去掉表格重复边框
 *
 */
.tab-content { 
    width : 100%;
    margin : 0px 0px 5px 0px;
    border :1px solid #ddd;
    border-radius : 0px 0px 4px 4px;
	behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);		
}
.table-bordered {
    border: none;
}
.table.table-bordered.dataTable {
    border: none;
}
.table.table-bordered th{
    border-top:none;
    border-bottom:1px solid #ddd;
}
.table.table-bordered.dataTable th,.table.table-bordered.dataTable td {
	padding-right: 15px;
	border-left-width:0;
}
.table.table-bordered.dataTable th:last-child,.table.table-bordered.dataTable th:last-child,.table.table-bordered.dataTable td:last-child,.table.table-bordered.dataTable td:last-child {
	border-right-width:0;
}
.table.table-bordered.dataTable tbody th{
   border-bottom-width:0;
}
.table.table-bordered.dataTable tbody td{
   border-top-width:0;
}
.table.dataTable thead th, .table.dataTable tfoot th {
     font-weight: normal;
}

/*
*
*@blue CheckBox
*/
.icheckbox_square-blue, .iradio_square-blue,
.icheckbox_flat-blue, .iradio_flat-blue {
    width: 16px;
    height: 16px;    
}
.icheckbox_square-blue {
    background-position: 0 0;
}
.icheckbox_square-blue.hover {
    background-position: 0 0;
}
.icheckbox_square-blue.checked {
    background-position: -16px 0;
}
.icheckbox_square-blue.disabled {
    background-position: -32px 0;
    cursor: default;
}
.icheckbox_square-blue.checked.disabled {
    background-position: -48px 0;
}
.iradio_square-blue {
    background-position: -64px 0;
}
.iradio_square-blue.hover {
    background-position: -64px 0;
}
.iradio_square-blue.checked {
    background-position: -80px 0;
}
.iradio_square-blue.disabled {
    background-position: -96px 0;
    cursor: default;
}
.iradio_square-blue.checked.disabled {
    background-position: -112px 0;
}
.check-All {
	height: 40px;
	padding: 5px;
	border-bottom :1px solid #ddd;	
}
/*ICU患者日志layer里的复选框位置调整*/
#gridLocPatients .icheckbox_square-blue,#gridLocPatients .iradio_square-blue,
#gridLocPatients .icheckbox_flat-blue,#gridLocPatients .iradio_flat-blue,
#gridLocNPatients .icheckbox_square-blue,#gridLocNPatients .iradio_square-blue,
#gridLocNPatients .icheckbox_flat-blue,#gridLocNPatients .iradio_flat-blue {
	top:4px;  
}
/*
*左右两个表格
*
*/
.lefttable {
	padding-left:1px;   /*0px 左右比例1:1有滚动条时IE下不水平显示*/
	padding-right:5px;
}
.righttable {
	padding-left:5px;
	padding-right:1px; /*0px 左右比例1:1有滚动条时IE下不水平显示*/
}
 
/*
*
*左侧列表
*/
.listgroup {
    width: 200px;  
    float: left; 
	background: #F9F9F9; 
	margin-top: 10px; 
	padding: 0px;
	border-right:1px solid #CCCCCC;
	border-radius: 3px;
	behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);	
}
.row-fluid {
	width: 100%;
    height: 40px;
}
.row-fluid ul {
	margin: 5px;
}
.list-group-item {
	padding: 10px;
	background-color: #F9F9F9;
	border: none;
	cursor: pointer;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color: #000;
    font-weight: bold;
    background-color: #EAEAEA;
    border-color: #EAEAEA;
}
/*
*
*右侧table
*/
.rightMain {
	float: left;
	margin-left:10px;  
    width: calc(100% - 210px); 	 
}

/*
*
*滚动条
*/
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #ddd;
}
.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
	border-bottom: 1px solid #ddd;
}
::-webkit-scrollbar {
	background-color:#eef5f8;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color:#afcede;   
    border-radius: 4px; 
    behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);	
}
.mCSB_container_wrapper > .mCSB_container {
	padding-right: 0px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 10px;
}
.mCSB_container_wrapper {
	margin-right:10px;
	margin-bottom:10px;
}
#gridBfyj_wrapper .mCSB_inside > .mCSB_container,#gridCtlResult_wrapper .mCSB_inside .mCSB_container_wrapper,#gridAdm_wrapper .mCSB_inside .mCSB_container_wrapper{    /*表格对齐，爆发预警>检测结果滚动条，细菌耐药性-多重耐药菌监控-列表滚动条，表格对齐,住院病人查找表格滚动条*/
    margin-right: 0px;
}
/* modal */
.modal-body {
	min-height: 100px;  /*没有最小高度layer弹框IE浏览器下异常*/
	position:relative;
    padding:10px; 
}
.form-group:first-child {
    margin-top: 5px;
}
.form-group:last-child {
    margin-bottom: 5px;
}
.form-group label {
    vertical-align: middle;
    font-weight: normal;
}
.control-label{
	text-align: right;
	font-weight: normal; 
    padding: 5px;
}
.form-control{
	height: 30px;
	padding: 2px;
    border: 1px solid #40a2de;
    border-radius: 0px;
}
/*蓝色普通按钮*/
.open .dropdown-toggle.btn-primary ,
.btn-primary,.btn-primary.active, .btn-primary:active,.btn-primary:hover,.btn-primary:focus{
	width: 70px;
	height: 30px;
	padding: 3px 5px 5px 5px;  
    background-color: #3AA1E1;
    border-color: #3AA1E1;
    outline: none;  
    box-shadow: none; 
    border-radius: 0px;  /*2018.09.28UI评审要求所有按钮为直角*/
}

/*
 * Plugin: Select2
 * ---------------
 */
.check-KeyWord {
	margin: 5px;
}

.form-group .select2-container--default {
	width: 100% !important;
}
.select2-selection--single .select2-selection__clear {
    padding-right: 30px;  /*清除“×”向左移动，避免被下拉图片覆盖*/
} 
.select2-container--default .select2-selection--single {
	width: 100% !important;
    height: 30px;  
    border: 1px solid #40a2de;
    border-radius: 0px;
}
.select2-container .select2-selection--single {
    width: auto;
    height: 30px;
    outline: none;  /*选中没有边框*/
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 2px;
    padding-right: 2px;  
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 29px;
    background: url("../img/mselect.png") no-repeat scroll right center transparent;
   	/*为下拉小箭头留出一点位置，避免被文字覆盖*/
  	padding-right: 30px; 
}
.select2-selection--single .select2-selection__arrow b {
    display: none;
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #40a2de;
}
.select2-dropdown {
    border: 1px solid #40a2de;
}

/*
*
*左侧table
*/
.left-table {
	margin-top: 10px;
	padding: 0px;
	background-color: transparent;
}
.panel-header {
    width: 100%;
	height: 35px;
	background-color: #4C9CE4; 
}
.panel-header h1 {
	padding-left: 10px;
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
	line-height: 35px;
	color: #ffffff;
}
.panel-body {
	padding:5px;
	border :1px solid #4C9CE4;		
}
.left-table .panel-body{
	background-color: #F9F9F9;
}

/*
*
*日历
*/ 
.icon-calendar {
	font-weight: 500;
	color: #fff; 
}
.input-group-addon {
	padding-left:7px;
	padding-right:8px;
	background-color: #40a2de; 
	border: none;
	border-radius:0px;
}
.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
    background: #b3d4fc !important;
}
div.input-group{
	width: 100%;
	background-color: white;
}
div.input-group > input,div.input-group  input.form-control.input-sm{
	background-color: transparent;
	padding-right: 30px;
	box-shadow:none;
	background-image: none; /*协和日期框字体无法加载问题*/
}
div.input-group > span,div.input-group span.input-group-addon{
	display:block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 30px;
	width: 30px;
} 
div.input-group > span > span,div.input-group span.input-group-addon>span{
	display:block;
	position: absolute;
	top: 8px;
	right: 8px;
} 
.fa:hover {
	color:#fff;
}

/*a 标签去掉IE下的边框*/
a:hover, a:focus {
	outline: none;
	text-decoration:none;  /*疑似病例筛查关注、消息图标下划线*/
}

/*查询按钮*/
.page-footer{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}

/*
*
*右侧table
*/
.right-table {
	padding-right:0px; 	 
}
.tab-table{
	border-radius: 4px;
	border :1px solid #ddd;	
	behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);	
}

/*
* 报告report
*/
/*头部信息页签*/
.report-header{
	margin-top: 10px; 
	height: 40px;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
    border-bottom-width: 0px;
    border-radius: 4px 4px 0px 0px;
	behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);		
}
.report-header:first-child {
    margin-top: 0px;
}
.report-header a {
	padding-left: 10px;
	font-size: 16px;
	text-decoration: none;
	font-weight: normal;
	cursor: pointer;
}
.report-header a > span{ 
    color: black; 
    line-height: 40px;
    margin-left: 5px;
    vertical-align: middle; 
}
div.report-header a.button span{
	line-height: 25px;
}

/*报告内容*/
.report-content{
	border: 1px solid #CCCCCC;
	border-radius: 0px 0px 4px 4px;
	behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);		
}
.report-content .form-group {
	height:40px;
    margin: 2px;
    padding: 5px; 
	border-bottom: 1px dashed #D2D2D2;
}
.report-content .form-group:last-child {
	border-bottom: none;
}
.report-content .form-group.last{ /*ie8不识别last-child*/
	border-bottom: none;
}
.report-content .form-control {
	font-size: 14px;
    line-height: 30px;
    padding: 0px 2px;
}
.report-content .form-control[disabled],
.report-content .form-control[readonly],
.tab-content .form-control[disabled],
.tab-content .form-control[readonly]{
	font-size: 14px;
	height: 30px;
	/*
	padding-top: 4px;
	padding-bottom: 5px;
	设置造成上下对不整齐 chenjb
	*/ 
    border: none;
    background: none; 
    box-shadow: none; 
}
.report-content .form-group > label {
    line-height: 30px;
    padding: 0px;
}
.report-content .form-group .checkbox {
	 height: 30px;
	 padding-top: 4px;
	 padding-bottom: 5px;	
}
/*content*/
.content{
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 0px 0px 4px 4px;
	behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);		
}
.content .form-group:first-child {
    margin-top: 0px;
}
.content .form-group:last-child {
	border-bottom: none;
	padding: 3px 0px; 
}
.content .form-group.last {  /*ie8不识别last-child*/
	border-bottom: none;
	padding: 3px 0px; 
}
.content .form-group {
	margin-bottom: 0px;
    border-bottom: 1px dashed #D2D2D2;
}
.content .form-group .form-label{
	font-weight: bold;
	height: 25px;
	padding-left: 10px;    
}
.content .form-group:nth-child(even) {  /*ie8不识别nth-child，未处理*/
	background-color: #F7F7F7;
}
.content .form-group .row {
	min-height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.content .form-group .Ext{
	height: 24px;
    margin-top: -26px;
	margin-left: 55px;
}

.content .form-group.ExpExt textarea.form-control {
	width:98%;
	margin-left: 10px;
}

.content .form-group.ExpExt .form-group-sm  {
   height: 30px;
   margin-top: 3px;
   margin-bottom: 3px;  
}


/*
*page-header
*/
.page-header a {
	padding-left: 10px;
	font-size: 16px;
	text-decoration: none;
	font-weight: normal;
}
.page-header a.button{
	cursor: pointer;
	white-space:nowrap;
}
.page-header a.Info > span{ 
    color: black; 
    line-height: 35px;
    margin-left: 5px;
    vertical-align: middle; 
}

/*
*ul序列
*/
.left-list {
	width: 100%;
}
.left-list ul {
	padding-left:0px;
}
.left-list li {
	list-style: none;
	line-height: 35px;
	text-align: left;
	border-bottom: 1px solid #E4E4E4;
	padding-left: 20px;
	cursor:pointer;
}
.left-list .active, left-list .active:hover, left-list .active:focus, .left-list li:hover{
    color: #000;
    font-weight: bold;
    background-color: #EAEAEA;
}

/*ICU三管医嘱样式*/
#ulOeItem,#ulOeItem,#ulNOeItem{
	padding-left: 3px;
	padding-right: 3px;
}
#ulOeItem > li > a,#ulOeItemN > li > a,#ulNOeItem > li > a{
	font-size: 14px;
	text-align: center;
	padding: 0px;
	margin: 10px -6px;
	color: #017bce;
	border-color: #D8EFFF;
    border-radius: 4px;
    background-color: #D8EFFF; 
    behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);	   
}
#ulOeItem > li.active > a, #ulOeItem > li.active > a:hover, #ulOeItem > li.active > a:focus,#ulOeItem > li:hover >a,#ulOeItemN > li.active > a, #ulOeItemN > li.active > a:hover, #ulOeItemN > li.active > a:focus,#ulOeItemN > li:hover >a,#ulNOeItem > li.active > a, #ulNOeItem > li.active > a:hover, #ulNOeItem > li.active > a:focus,#ulNOeItem > li:hover >a{
	background-color: #017bce;
	border-color: #017bce;
	color: white;
}
/*NICU标签*/
.left-list .bg-yellow {
	line-height:25px;
	margin:5px;
	padding: 0px 3px; /*左右留白*/
	background-color: #FFAC38;
	text-align: center;
	text-size: 16px;
	font-weight: bold;
	color: #fff;
	margin-right: 20px;
}
/*按钮*/
.button {
	min-width: 70px;
	height: 25px;
	margin: 5px;
	padding-left: 10px;
    outline:none; 
    background-color: #fff;
}
.button >span{ 
    color: black; 
    line-height: 25px;
    margin-left: 3px;
    margin-right: 10px;
    font-size: 14px;
    vertical-align: middle; 
    text-decoration: none;  
}
.button:hover, .button:focus{
    color: #40a2de;
    outline:none;  /*没有边框*/
    text-decoration: none;  /*没有下划线*/
    background-color: #B0E0E6 ;
}

/*页签*/
.nav > li > a {
	display:block;
    padding: 4px 6px;
}
.nav-justified >li {
   float: left;
   width: auto;
   min-width: 25%;
}
.nav-asp >li {
   float: left;
   width: auto;
   min-width: 33%;
}
.nav-justified > li > a {
    border: 1px solid #ddd;
    border-right: none;
}
.nav-justified > li.last-li > a{
    border-right: 1px solid #ddd;
}
.nav-justified > li.active > a, .nav-justified > li.active > a:hover, .nav-justified > li.active > a:focus {
    color: #3B9DF2;
    border-bottom-color: #ddd;
    background-color: #D8EFFF;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #000;
  	border-radius: 0px;
}
.nav-tabs > li >a{
	padding: 3px 10px;
	color: #fff;
	border-radius: 0px;
}
.nav-tabs {
	border: 1px solid #4C9CE4;
	height: 100%;
}
.page-header > .nav-justified {
    line-height: 15px;
    padding: 5px;
}
.page-header > .nav-justified > li > a {
	font-size: 14px;
	margin-left: 5px;
	border-color: #D8EFFF;
    border-radius: 4px;
    background-color: #D8EFFF; 
    behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);	   
}
	
/*暴发预警*/
.listterm {
	position: relative;
	float: left; 
	width: 280px; 
}
.listtable {
	position: relative;
	float: left;
	margin-left: 10px;
    width: calc(100% - 290px);     
}
/*兼容IE8的左右布局*/
.divleft {
    position: absolute;
	float: left; 
	width: 280px;
	margin-top:0px;
}
.divright {
    margin-left: 290px;
}

#MainTable .mCSB_scrollTools,.divForScroll .mCSB_scrollTools{ /*疑似病例监测右侧滚动条,常用短语对照右侧滚动条*/
	position: fixed; 
}

.tab-echart {
	margin-top:5px;
	border: 1px solid #CCCCCC;
}
.customForm fieldset {
	flex: 1;
	margin: 0.4em;
	padding: 4px;	
}
.customForm fieldset legend {
	width:auto;
	font-weight: bold;
	margin-bottom: 4px;
	font-size: 14px;
}
.customForm fieldset.name {
	flex: 2 100%;
}
.customForm fieldset.office legend {
	background: #ffffbf;
}
.customForm fieldset.hr legend {
	background: #ffbfbf;
}
/********列表样式*******/
.sidebar ul {
	padding-left: 1px;
}
.sidebar-menu > li {
	display: inline;
    line-height: 35px;
}
.sidebar-menu > li .pull-right-container {
	position: relative;
    float: right;
    line-height: 30px;
}
.sidebar-menu > li > a {
	display: block;
	text-decoration: none;	
    border-bottom: 1px solid #E4E4E4;
    color: #000;
}
.sidebar-menu .treeview-menu >li a {
	color: #000;
	text-decoration: none;  /*没有下划线*/
 }
 .sidebar-menu .treeview-menu >li.active a {
	color: #3B9DF2;
	text-decoration: none;  /*没有下划线*/
 }
.sidebar-menu .treeview-menu >li.active{
	 background-color: #B0E0E6;	  
 }
 
.sidebar-menu .treeview-menu li {
	list-style: none;
	padding-left:10px;
	border-bottom: 1px solid #E4E4E4;	
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
    width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
    background-color: transparent;
}
.sidebar-menu > li .bg-red{
	line-height: 30px;
	width: 24px;
	padding: 2px;
	margin-right: 2px;
    text-align: center;
    color: rgb(221, 75, 57);
}
.sidebar-menu > li .bg-green{
	line-height: 30px;
	width: 24px;
	padding: 2px;
	margin-right: 2px;
    text-align: center;
    color: rgb(0, 166, 90);
}
.sidebar-menu > li .bg-yellow{
	line-height: 30px;
	width: 24px;
	padding: 2px;
	margin-right: 2px;
    text-align: center;
    color: rgb(243, 156, 18);
}
/*全院的数字*/
#LocQY .bg-red,#LocQY .bg-green,#LocQY .bg-yellow{
	width: 36px;
}
/*科室分组的数字*/
.loc-group .bg-red,.loc-group .bg-green,.loc-group .bg-yellow{
	width: 36px !important;;
}
/*list-inline*/
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
}
/*暴发预警按钮*/
.btn-me {
	display: inline-block;
	cursor: pointer;
	border: 1px solid transparent;
	border-color: #ffffff;
	padding-left:10px;
	margin-left: 5px;
}
.text-yellow {
    color: #f39c12 !important;
}
.text-write {
    color: #ffffff !important;
}
.text-me {
    color: #69FF73 !important;
}
.text-red{
    color: red !important;
}
.text-gray{
    color: gray !important;
}
.text-black{
	color:black !important;
}
.right-button {
    position: relative;
    float: right;
}
.right-button  a > span {
    color: #ffffff;
    line-height: 24px;
    margin-right: 10px;
    font-size: 14px;
    vertical-align: middle;
}
.right-button .tabbtn:hover, .tab-button .tabbtn:focus {
    color: #40a2de;
    outline: none;
    text-decoration: none;
}
.dropup {
	margin-right:10px;
}

/*panel-primary*/
.panel-primary {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0px;
}
.panel-primary > .panel-heading {
    min-height: 35px;
    color: #fff;
    background-color: #4C9CE4;
    border-color: #4C9CE4;
	border-radius: 0px;
	padding: 5px 10px;
}
.panel-primary ul {  
	margin-bottom: 0px;
}
.noresult {
	position: relative;
	text-align: center;
	margin-top: 100px;
	height: 320px;
}
.noresult p {
	position: relative;
	font-size: 16px;
	font-weight: bold;
    margin-top: -250px;
    margin-left: -150px;
    color: #2EB6A1;
}
.panel-primary  >.panel-body {
	border:none;
}
.table {
    width: 100%;
    margin-bottom: 0px;
}
.pd5 {
    padding: 5px;
}
.pdr0 {
    padding-right: 0;
}
.pdl0 {
    padding-left: 0;
}
/*消息框*/
.tooltip { 
	position: relative; 
	display: inline-block; 
	z-index: auto; 
	opacity: 1; 
	filter: Alpha(opacity=100); /*支持IE8以下*/	
}
.tooltip.left {
	postition: relative;
    float: right; 
	margin-right: 3px;
}
.tooltip-inner { 
	max-width: none; 
	padding: 5px 10px; 
	text-align: left; 
	word-break: break-all;
}
.tooltip-info.tooltip.right .tooltip-arrow {
	top: 13px;
    border-right-color: #509DE1;
}
.tooltip-danger.tooltip.left .tooltip-arrow {
	top: 13px;
    border-left-color: #16BBA2;
}
.tooltip-info .tooltip-inner {
	 border-radius: 4px;
	 background-color: #509DE1;
	 behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);	
}
.tooltip-danger .tooltip-inner {
	border-radius: 4px;
    background-color: #16BBA2;
    behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);	
}
span.icontip_span > div.tooltip.top{
	position: absolute;
	top: -30px!important;
}
span.icontip_span > div.tooltip > div.tooltip-arrow{	
	border-top-color: rgba(0,0,0,0.7);
}
span.icontip_span > div.tooltip > div.tooltip-inner{
	background-color: rgba(0,0,0,0.7);
	border-bottom: 1px solid rgba(0,0,0,0.7);
}	
.userphoto { 
	display: inline-block; 
	width: 30px; 
	height: 30px; 
	border-radius: 15px; 
	font-size: 20px; 
	text-align: center;
	behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);		
}
.userphoto-primary { 
	background: #509DE1;
 	color: #fff;
}
.userphoto-danger { 
	background: #16BBA2; 
	color: #fff;
}
.userphoto > i { 
	padding-top: 4px;
}
.new-comment-text{
    background-color: #fff;
}
#areaTxtMdg:focus{
	background-color: #fff;
}
#lstMsg .text-right,
#lstMsg .text-left {
    font-size: 10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #509DE1;	
}

/* 床位图相关样式 Start */
/* 床位图相关样式 Start */
.pac-ward {
	border:1px solid #4AA5E7;
	margin:0 10px 0 10px;
	position: relative;
}
/* 未安排床位区域样式 */
.pac-nobed {
	position: relative;
	margin:0 10px 10px 10px;
	border:1px solid #4AA5E7;
}
/* 未安排床位房间样式 */
.pac-bed-noward {
	text-align:center;
	font-size:12px;
	margin:5px;
	height:40px;
	width:40px;
	color: #FFF;
	display: inline-block;
	background-color:#40CCB0;
}
/* 护士站 */
.nurse-station {
	display:table;
	text-align:center;
	background: url("../img/护士站-2.png") no-repeat scroll center center transparent ;
	background-color:#FFE9E7;
	font-size:16px;
	border:1px solid #FC7F74;
	position:absolute;
	color: #FF4F3D;
}
/* 居中显示 */
.div-center {
	display:table-cell; 
	vertical-align:middle;
}
/* 病房 */
.pac-room {
	text-align:center;
	border:1px solid #4AA5E7;
	position:absolute;
	background-color:#D1ECFF;
	color:#2A80BA;
	font-size:14px;
}
/* 床位有人 */
.pac-bed-full {
	text-align:center;
	font-size:12px;
	color: #FFF;
	background-color:#40CCB0;
	position:absolute;
	text-overflow: ellipsis; /* for IE */ 
	-moz-text-overflow: ellipsis; /* for Firefox,mozilla */  
    overflow: hidden;   
    white-space: inherit;
}
/* 床位无人 */
.pac-bed-empty {
	text-align:center;
	font-size:12px;
	color: #237CB7;
	background-color:#FFFFFF;
	position:absolute;
	text-overflow: ellipsis; /* for IE */ 
	-moz-text-overflow: ellipsis; /* for Firefox,mozilla */  
    overflow: hidden;   
    white-space: inherit;
}
/* 床位损坏、异常等*/
.pac-bed-abnormal {
	text-align:center;
	font-size:12px;
	color: #FFF;
	background-color:#F67163;
	position:absolute;
	text-overflow: ellipsis; /* for IE */ 
	-moz-text-overflow: ellipsis; /* for Firefox,mozilla */  
    overflow: hidden;   
    white-space: inherit;
}
/* 其他房间不同样式 */
.pac-other-room {
	display:table;
	text-align:center;
	border:1px solid #aaa;
	position:absolute;
	background-color:#fff;
	color:#aaa;
	font-size:14px;
}
/* 楼梯 */
.pac-stairs {
	display:table;
	text-align:center;
	border:1px solid #42AF99;
	position:absolute;
	background: url("../img/stair.png") no-repeat scroll center center transparent ;
	background-color:#E6FFFA;
	color:#1E9E84;
	font-size:14px;
}
/* 电梯 */
.pac-elevator {
	display:table;
	text-align:center;
	border:1px solid #aaa;
	position:absolute;
	background: url("../img/电梯间-3.png") no-repeat scroll center center transparent ;
	background-color:#fff;
	color:#aaa;
	font-size:14px;
}
/* 灰色房间样式 */
.gray-room {
	display:table;
	text-align:center;
	border:1px solid #aaa;
	position:absolute;
	background-color:#fff;
	color:#aaa;
	font-size:14px;
}
/* 配电室 */
.elect-room {
	background: url("../img/配电室-3.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 开水房 */
.hot-water {
	background: url("../img/开水房-2.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 阳台 */
.balcony-room {
	background: url("../img/阳台.png") repeat scroll center center transparent ;
	background-color: #fff;
}
/* 墙 */
.wall-room {
	background: url("../img/墙图案-2.png") repeat scroll center center transparent ;
	background-color: #fff;
}
/* 女更衣室 */
.clothes-woman {
	background: url("../img/女更衣室-3.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 男更衣室 */
.clothes-man {
	background: url("../img/男更衣室-3.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 男厕 */
.wc-man {
	background: url("../img/男厕-3.png") no-repeat scroll center center transparent ;
	background-color:#fff;
}
/* 女厕 */
.wc-woman {
	background: url("../img/女厕-3.png") no-repeat scroll center center transparent ;
	background-color:#fff;
}
/* 卫生间 */
.wc-room {
	background: url("../img/卫生间-2.png") no-repeat scroll center center transparent ;
	background-color:#fff;
}
/* 保洁室 */
.cleanin-room {
	background: url("../img/保洁室-3.png") no-repeat scroll center center transparent ;
	background-color:#fff;
}
/* 杂物间 */
.debris-room {
	background: url("../img/杂物间-3.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 管井 */
.tube-room {
	background: url("../img/管井-3.png") no-repeat scroll center center transparent ;
	background-color: #fff;
}
/* 淡蓝色背景房间样式 */
.blue-room {
	display:table;
	text-align:center;
	border:1px solid #91A2E7;
	position:absolute;
	background-color:#A7B6EA;
	color:#2848C9;
	font-size:14px;
}
/* 教室 */
.class-room {
	background: url("../img/教室-2.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 仪器室 */
.instrument-room {
	background: url("../img/仪器室-3.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 科研室 */
.staff-room {
	background: url("../img/科研室-3.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 休息室 */
.rest-room {
	background: url("../img/休息室-2.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 手术室 */
.oper-room {
	background: url("../img/手术室-2.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 更衣室 */
.clothes-room {
	background: url("../img/更衣室-2.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 库房 */
.treasury-room {
	background: url("../img/库房-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 临床数据库 */
.data-room {
	background: url("../img/临床数据库-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 被服室 */
.quilt-room {
	background: url("../img/被服库-3.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 工作人员洗澡间 */
.bath-room {
	background: url("../img/工作人员洗澡间-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 配膳室 */
.panther-room {
	background: url("../img/配膳室-3.png") no-repeat scroll center center transparent ;
	background-color: #A7B6EA;
}
/* 会议室 */
.meet-room {
	background: url("../img/会议室-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 医生值班室 */
.doctor-duty-room {
	background: url("../img/医生值班室-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 护士值班室 */
.nurse-duty-room {
	background: url("../img/护士值班室-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 值班室 */
.duty-room {
	background: url("../img/值班室-2.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 医生办公室 */
.doctor-office-room {
	background: url("../img/医生办公室-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 护士办公室 */
.nurse-office-room {
	background: url("../img/护士办公室-3.png") no-repeat scroll center center transparent ;
	background-color:#A7B6EA;
}
/* 病区入口 */
.ward-entrance {
	background: url("../img/病区入口-2.png") no-repeat scroll center center transparent ;
	background-color:#F9F6FF;
}
/* 橙色背景房间样式 */
.orange-room {
	display:table;
	text-align:center;
	border:1px solid #FCD098;
	position:absolute;
	background-color:#FFEBD2;
	color:#FF8E00;
	font-size:14px;
}
/* 血气室 */
.blood-room {
	background: url("../img/血气室-2.png") no-repeat scroll center center transparent ;
	background-color: #FFEBD2;
}
/* 检查室 */
.inspect-room {
	background: url("../img/检查室-2.png") no-repeat scroll center center transparent ;
	background-color: #FFEBD2;
}
/* 处置室 */
.disposal-room {
	background: url("../img/处置室-2-2.png") no-repeat scroll center center transparent ;
	background-color: #FFEBD2;
}
/* 治疗室 */
.treatment-room {
	background: url("../img/治疗室-2.png") no-repeat scroll center center transparent ;
	background-color: #FFEBD2;
}
/* 换药室 */
.dressing-room {
	background: url("../img/换药室-2.png") no-repeat scroll center center transparent ;
	background-color: #FFEBD2;
}

/* 标题头 */
.ward-bed-header {
	height: 35px;
    margin: 10px 10px 0 10px;
    border-radius:4px 4px 0px 0px;
	behavior: url(../scripts_lib/Bootstrap-3.3.6/plugins/PIE-2.0beta1/pie.htc);		

}
/* 标题头 */
.ward-bed-header h1 {
	font-size: 14px;
	text-decoration: none;
	font-weight: normal;
	line-height: 35px;
	padding-bottom: 7px;
	border-bottom: 3px solid #40a2de;
}
/* 床位图相关样式 End */
/* Loading Start */

.Loading_animate_content {
    display:none;
}
.Loading_animate_bg { 
    position: absolute;
 	background-color: #000; 
 	width: 100%; 
 	opacity: 0.5;
 	top: 0;
 	left: 0;
 	filter: Alpha(opacity=50); /*支持IE8以下*/	
 }
.loading {
    position: relative;
	top: 240px;
 	left: 660px;
}
.Loading_animate_font { 
	font-size:14px; 
	color: #fff; 
	position: absolute;
	top:50%; 
	left:46%;
}
/* Loading End */

/* bootstrap-treeview树 Start */
.treeview-plus{
	background: url("../img/展开.png")  no-repeat scroll center center transparent ;
	background-size: 100%;
	height:12px;
	display: inline-block;
}
.treeview-minus{
	background: url("../img/收起.png")  no-repeat scroll center center transparent ;
	background-size: 100%;
	height:12px;
	display: inline-block;
}
.treeview-check{
	background: url("../img/已选择.png")  no-repeat scroll center center transparent ;
	background-size: 100%;
	height:12px;
	display: inline-block;
}
.treeview-unchecked{
	background: url("../img/未选择.png")  no-repeat scroll center center transparent ;
	background-size: 100%;
	height:12px;
	display: inline-block;
}
/* bootstrap-treeview树 End */

/*输入文本框内容超长截断*/
.txt-overflow {
	width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#HelpTip {
	background: url("../img/help.png")  no-repeat scroll center center transparent ;
	width: 35px;
	height: 35px;
	position: fixed;
	cursor: move;
	right: 0;
	box-sizing: border-box;
	border-radius: 50%;
	background-size: 100% 100%;
	overflow: hidden;
	z-index: 999999;
}

/* bootstrap-progress进度条 Start */
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}

.progress-bar.active, .progress.active .progress-bar{
	-webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
/* bootstrap-progress进度条 End */

