/*  */
/*.l-btn.l-btn-plain.big .l-btn-icon-left .l-btn-text {
    padding: 44px 0 0;
}*/
.l-btn-icon-left .l-btn-icon {
    width: 28px;
    height: 28px;
    line-height: 28px;
    left: 0;
}

.l-btn-text {
    line-height: 28px;
}
.icon:before {
    display: inline-block;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-ring-blue:before, .icon-skip-no:before {
    content: "    ";
    white-space:pre;
}

.icon-transfer {
    background-color: white;
}

input.lookup{
    width:160px
}
/*业务界面--大按钮行右侧的信息表格*/
.pha-con-table-right{
    border-collapse: separate;
    border-spacing: 0 6px;
}
.pha-con-table-right > tbody > tr > td {
    text-align: left;
    padding-left: 10px;
}
.pha-con-table-right .r-label {
    text-align: right;
    padding-right: 0;
    padding-left: 10px;
}

.pha-panel-padding-top{
    padding-top: 10px;
}